Repository mui/mui-x, pull requests merged in 2020-12, with the labels that each got.

#668 [DataGrid] Rows refactoring
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.js
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.tsx
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.js
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.tsx
  docs/src/pages/components/data-grid/rows/RowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  packages/grid/_modules_/grid/components/checkbox-renderer.tsx
  packages/grid/_modules_/grid/components/row-cells.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
  packages/grid/_modules_/grid/models/api/rowApi.ts
  packages/grid/_modules_/grid/models/colDef/checkboxSelection.tsx
  packages/grid/_modules_/grid/models/params/cellParams.ts
  packages/grid/_modules_/grid/models/params/componentParams.ts
  packages/grid/_modules_/grid/models/params/rowParams.ts
  packages/grid/_modules_/grid/models/params/rowSelectedParams.ts
  packages/grid/_modules_/grid/models/rows.ts
  packages/grid/_modules_/grid/utils/paramsUtils.ts
  packages/storybook/src/components/feed-grid.tsx
  packages/storybook/src/components/pricing-grid.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
  packages/storybook/src/stories/grid-streaming.stories.tsx
  packages/storybook/src/stories/grid-style.stories.tsx
  packages/storybook/src/stories/playground/customize-components.stories.tsx
  packages/x-grid-data-generator/src/employees.columns.tsx
  packages/x-grid-data-generator/src/renderer/renderRating.tsx
Labels: breaking change, component: DataGrid

#669 [core] Remove gitHead
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
  packages/x-grid-data-generator/package.json
  packages/x-license/package.json
Labels: core

#666 [DataGrid] Grid depends on side effects
  docs/babel.config.js
  packages/grid/_modules_/grid/components/column-headers.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/tools/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/tools/FilterForm.tsx
  packages/grid/_modules_/grid/components/tools/FilterInputValue.tsx
  packages/grid/_modules_/grid/components/tools/FilterPanel.tsx
  packages/grid/_modules_/grid/components/tools/Panel.tsx
  packages/grid/_modules_/grid/components/tools/PreferencesPanel.tsx
  packages/grid/_modules_/grid/components/tools/index.ts
Labels: bug 🐛, component: DataGrid, docs

#674 [DataGrid] Fix keyboard navigation in column picker
  packages/grid/_modules_/grid/components/panel/ColumnsPanel.tsx
Labels: accessibility, bug 🐛, component: DataGrid

#679 [DataGrid] Fix infinite loop with multiple grid, and fix performance
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/filter/filterSelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/hooks/features/filter/visibleRowsState.ts
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/models/api/filterApi.ts
  packages/grid/_modules_/grid/models/api/sortApi.ts
Labels: bug 🐛, component: DataGrid, performance

#678 [DataGrid] Fix collision with react-virtualized
  packages/grid/_modules_/grid/lib/createDetectElementResize/index.js
Labels: bug 🐛, component: DataGrid

#673 [DataGrid] Do not swallow keyboard events
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-rendering.stories.tsx
Labels: bug 🐛, component: DataGrid

#613 [docs] Enable codesandbox preview in PRs
  docs/next.config.js
  docs/pages/_app.js
  yarn.lock
Labels: docs

#683 [core] Batch small changes
  docs/package.json
  docs/scripts/buildApi.js
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.js
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaders.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeadersItemCollection.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/ColumnsMenuItem.tsx
  packages/grid/_modules_/grid/constants/envConstants.ts
  packages/grid/_modules_/grid/hooks/features/useColumnResize.tsx
  packages/grid/_modules_/grid/hooks/utils/useLogger.ts
  packages/storybook/src/stories/grid-filter.stories.tsx
  yarn.lock
Labels: umbrella

#686 [DataGrid] Improve DX popups
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/ColumnsMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/SortMenuItems.tsx
  packages/grid/_modules_/grid/components/panel/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/Panel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterForm.tsx
Labels: component: DataGrid

#606 [DataGrid] Add Density selector
  docs/src/pages/components/data-grid/rendering/DensitySelectorHiddenGrid.js
  docs/src/pages/components/data-grid/rendering/DensitySelectorHiddenGrid.tsx
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.js
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/cell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaders.tsx
  packages/grid/_modules_/grid/components/icons/index.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/row-cells.tsx
  packages/grid/_modules_/grid/components/row.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridOverlay.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/styled-wrappers/GridWindow.tsx
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
  packages/grid/_modules_/grid/components/viewport.tsx
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/density/densitySelector.ts
  packages/grid/_modules_/grid/hooks/features/density/densityState.ts
  packages/grid/_modules_/grid/hooks/features/density/index.ts
  packages/grid/_modules_/grid/hooks/features/density/useDensity.tsx
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useContainerProps.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/densityApi.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/integration/staticStories.test.ts
  packages/storybook/src/stories/grid-toolbar.stories.tsx
Labels: component: DataGrid, enhancement

#676 [DataGrid] Simplify footer logic
  packages/grid/_modules_/grid/components/default-footer.tsx
  packages/grid/_modules_/grid/components/selected-row-count.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
Labels: component: DataGrid, enhancement

#684 [test] Allow running all the tests in strict mode
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  test/utils/index.ts
  test/utils/index.tsx
Labels: test

#705 [test] Add regression test
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
Labels: test

#704 [DataGrid] sortingMode=server not being honored in a few cases
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#706 [DataGrid] Rename hideToolbar prop to showToolbar
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.js
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.tsx
  docs/src/pages/components/data-grid/rendering/VisibleToolbarGrid.js
  docs/src/pages/components/data-grid/rendering/VisibleToolbarGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/constants/envConstants.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-filter.stories.tsx
  packages/storybook/src/stories/grid-rendering.stories.tsx
  packages/storybook/src/stories/playground/options.stories.tsx
Labels: important

#709 [CHANGELOG] Prepare v4.0.0-alpha.12
  CHANGELOG.md
Labels: docs

#722 [test] Split data grid tests in multiple files
  packages/grid/data-grid/src/tests/DataGrid.spec.tsx
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/state.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/grid/x-grid/src/keyboard.XGrid.test.tsx
  packages/grid/x-grid/src/layout.XGrid.test.tsx
  packages/grid/x-grid/src/pagination.XGrid.test.tsx
  packages/grid/x-grid/src/selection.XGrid.test.tsx
  packages/grid/x-grid/src/state.XGrid.test.tsx
Labels: component: DataGrid, test

#721 [DataGrid] Update API pages with showToolbar and density props
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
Labels: docs

#723 [test] Polish refactor
  .eslintrc.js
  packages/grid/_modules_/grid/utils/__tests__/classnames.tests.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/state.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/grid/x-grid/src/keyboard.XGrid.test.tsx
  packages/grid/x-grid/src/tests/layout.XGrid.test.tsx
  packages/grid/x-grid/src/tests/pagination.XGrid.test.tsx
  packages/grid/x-grid/src/tests/state.XGrid.test.tsx
  packages/x-license/src/__tests__/verifyLicense.tests.ts
Labels: test

#717 [DataGrid] Fix density prop when toolbar is hidden
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
  packages/grid/_modules_/grid/hooks/features/density/useDensity.tsx
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/storybook/integration/staticStories.test.ts
  packages/storybook/src/stories/grid-toolbar.stories.tsx
Labels: bug 🐛, component: DataGrid

#725 [core] Update monorepository
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/pagination/SizePaginationGrid.js
  docs/src/pages/components/data-grid/pagination/SizePaginationGrid.tsx
  docs/src/pages/components/data-grid/rendering/AntDesignGrid.js
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.js
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.tsx
  docs/src/pages/components/data-grid/rows/OrderSortingGrid.js
  docs/src/pages/components/data-grid/rows/OrderSortingGrid.tsx
  docs/src/pages/components/data-grid/rows/ServerSortingGrid.js
  docs/src/pages/components/data-grid/rows/ServerSortingGrid.tsx
  yarn.lock
Labels: core

#724 [DataGrid] Add 'nonce' prop to allow inline style if user has CSP
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
Labels: component: DataGrid

#728 [DataGrid] Fix row cells leaking CSS 'text-align' from parent
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/components/Cell.tsx
  packages/grid/_modules_/grid/components/RowCells.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/models/colDef/colDef.ts
Labels: bug 🐛, component: DataGrid

#715 [test] Add tests for DataGrid filtering feature
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualColumns.ts
  packages/grid/_modules_/grid/models/api/filterApi.ts
  packages/grid/_modules_/grid/models/api/sortApi.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/apiRef.XGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
  packages/storybook/src/stories/grid-filter.stories.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  test/karma.conf.js
Labels: component: DataGrid, test

#718 [DataGrid] Implement internationalization
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages.js
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.js
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.tsx
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
  packages/grid/_modules_/grid/constants/index.ts
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/localeText/index.ts
  packages/grid/_modules_/grid/hooks/features/localeText/useLocaleText.tsx
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/api/localeTextApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#757 [DataGrid] Remove useless clone
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
Labels: component: DataGrid

#773 [test] We don't need to wait 100ms
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: DataGrid, test

#755 [DataGrid] getValueError in valueGetter if incorrect field is supplied
  packages/grid/_modules_/grid/utils/paramsUtils.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#756 [DataGrid] Fix column width calculation after data changes
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/reorder.XGrid.test.tsx
  test/utils/helperFn.ts
Labels: bug 🐛, component: DataGrid

#776 [docs] Sync with docs to fix images
  yarn.lock
Labels: docs

#778 [docs] Polish docs
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.js
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.tsx
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#791 [DataGrid] Convert remaining text to use locale text API
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/Pagination.tsx
  packages/grid/_modules_/grid/components/RowCount.tsx
  packages/grid/_modules_/grid/components/SelectedRowCount.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/ColumnsMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/FilterMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/HideColMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/SortMenuItems.tsx
  packages/grid/_modules_/grid/components/panel/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterPanel.tsx
  packages/grid/_modules_/grid/components/toolbar/ColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/FilterToolbarButton.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/models/api/localeTextApi.ts
Labels: component: DataGrid, enhancement

#793 [XGrid] Fix support for custom class name generators
  packages/grid/x-grid/src/XGrid.tsx
Labels: bug 🐛, components: XGrid

#796 [test] Make the test actually test what we need
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: DataGrid, test
