Repository mui/mui-x, pull requests merged in 2020-09, with the labels that each got.

#243 [docs] Migrate more pages
  docs/src/pages.js
  docs/src/pages/components/data-grid/columns/BasicColumnsGrid.js
  docs/src/pages/components/data-grid/columns/BasicColumnsGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnWidthGrid.js
  docs/src/pages/components/data-grid/columns/ColumnWidthGrid.tsx
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/columns/HeaderColumnsGrid.js
  docs/src/pages/components/data-grid/columns/HeaderColumnsGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/overview/XGridDemo.js
  docs/src/pages/components/data-grid/overview/XGridDemo.tsx
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/RowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid-data-generator/src/commodities.columns.tsx
  packages/grid/x-grid-data-generator/src/employees.columns.tsx
  packages/grid/x-grid-data-generator/src/services/random-generator.ts
  packages/grid/x-grid-data-generator/src/services/real-data-service.ts
  packages/grid/x-grid-data-generator/src/useDemoData.ts
  packages/grid/x-grid-modules/src/GridComponentProps.ts
  packages/grid/x-grid-modules/src/components/column-header-title.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/grid-root.tsx
  packages/grid/x-grid-modules/src/models/api/columnApi.ts
  packages/grid/x-grid-modules/src/models/api/coreApi.ts
  packages/grid/x-grid-modules/src/models/api/eventsApi.ts
  packages/grid/x-grid-modules/src/models/api/paginationApi.ts
  packages/grid/x-grid-modules/src/models/api/rowApi.ts
  packages/grid/x-grid-modules/src/models/api/selectionApi.ts
  packages/grid/x-grid-modules/src/models/api/sortApi.ts
  packages/grid/x-grid-modules/src/models/api/virtualizationApi.ts
  packages/grid/x-grid-modules/src/models/colDef/colDef.ts
  packages/grid/x-grid-modules/src/models/colDef/dateColDef.ts
  packages/grid/x-grid-modules/src/models/gridOptions.tsx
  packages/grid/x-grid-modules/src/models/params/cellParams.ts
  packages/grid/x-grid-modules/src/models/params/rowParams.ts
  packages/storybook/src/documentation/pages/columns.stories.mdx
  packages/storybook/src/documentation/pages/demos/rows/basicRows.demo.tsx
  packages/storybook/src/documentation/pages/demos/rows/updateRows.demo.tsx
  packages/storybook/src/documentation/pages/rows.stories.mdx
Labels: docs

#248 [docs] Migrate Selection pages
  docs/src/pages.js
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/CheckboxSelectionGrid.js
  docs/src/pages/components/data-grid/selection/CheckboxSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/ControlledSelectionGrid.js
  docs/src/pages/components/data-grid/selection/ControlledSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/DisableClickSelectionGrid.js
  docs/src/pages/components/data-grid/selection/DisableClickSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/MultipleRowSelectionGrid.js
  docs/src/pages/components/data-grid/selection/MultipleRowSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/SingleRowSelectionGrid.js
  docs/src/pages/components/data-grid/selection/SingleRowSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/selection.md
  packages/grid/x-grid-modules/src/hooks/features/useSelection.ts
  packages/grid/x-grid-modules/src/models/api/paginationApi.ts
  packages/grid/x-grid-modules/src/models/api/selectionApi.ts
  packages/grid/x-grid-modules/src/models/api/sortApi.ts
  packages/grid/x-grid-modules/src/models/gridOptions.tsx
  packages/storybook/src/documentation/pages/demos/selection/checkboxSelection.demo.tsx
  packages/storybook/src/documentation/pages/demos/selection/disabledCellSelection.demo.tsx
  packages/storybook/src/documentation/pages/selection.stories.mdx
  yarn.lock
Labels: docs

#255 [docs] Migrate Getting Started section
  docs/public/static/x/header-icon.png
  docs/public/static/x/watermark.png
  docs/src/pages.js
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/getting-started/Codesandbox.js
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/overview/XGridDemo.js
  docs/src/pages/components/data-grid/overview/XGridDemo.tsx
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/rows/rows.md
  packages/storybook/src/documentation/pages/demos/quick-start.demo.tsx
  packages/storybook/src/documentation/pages/overview.stories.mdx
  packages/storybook/src/documentation/pages/quick-start.stories.mdx
Labels: docs

#256 [DataGrid] Fix focus cell visibility
  packages/grid/x-grid-modules/src/hooks/virtualization/useVirtualColumns.ts
  packages/grid/x-grid-modules/src/hooks/virtualization/useVirtualRows.ts
Labels: bug 🐛, component: DataGrid

#261 [docs] Polish the first experience
  docs/public/_redirects
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/data-grid/README.md
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid-data-generator/src/commodities.columns.tsx
  packages/grid/x-grid-data-generator/src/employees.columns.tsx
  packages/grid/x-grid-data-generator/src/renderer/country-renderer.tsx
  packages/grid/x-grid-data-generator/src/renderer/done-renderer.tsx
  packages/grid/x-grid-data-generator/src/renderer/email-renderer.tsx
  packages/grid/x-grid-data-generator/src/renderer/index.ts
  packages/grid/x-grid-data-generator/src/renderer/link-renderer.tsx
  packages/grid/x-grid-data-generator/src/renderer/progress-renderer.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderAvatar.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderDone.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEmail.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderIncoterm.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderLink.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderPnl.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderProgress.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderRating.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderStatus.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderTotalPrice.tsx
  packages/grid/x-grid-data-generator/src/renderer/status-renderer.tsx
  packages/grid/x-grid-data-generator/src/services/index.ts
  packages/grid/x-grid-modules/src/components/checkbox-renderer.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridRootStyles.ts
  packages/grid/x-grid/README.md
Labels: docs

#257 [DataGrid] Move column resizing to XGrid only
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/data-grid/package.json
  packages/grid/data-grid/rollup.config.js
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/x-grid-modules/src/components/column-header-item.tsx
  packages/grid/x-grid-modules/src/hooks/utils/useOptionsProp.ts
  packages/grid/x-grid-modules/src/models/gridOptions.tsx
  packages/storybook/.storybook/main.js
  packages/storybook/src/stories/grid-columns.stories.tsx
  packages/storybook/src/stories/playground/data-grid.options.stories.tsx
Labels: component: DataGrid

#265 [docs] Add more context on the ⚡️ icons
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#266 [docs] Add pricing links
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/x-license/src/licenseErrorMessageUtils.ts
Labels: docs

#263 [docs] Disable ads on Enterprise features
  docs/pages/components/data-grid/group-pivot.js
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
  yarn.lock
Labels: docs

#268 [DataGrid] Fix CSS footer spacing
  packages/grid/x-grid-modules/src/GridComponent.tsx
  packages/grid/x-grid-modules/src/components/default-footer.tsx
  packages/grid/x-grid-modules/src/components/error-message.tsx
  packages/grid/x-grid-modules/src/components/index.ts
  packages/grid/x-grid-modules/src/components/loading-overlay.tsx
  packages/grid/x-grid-modules/src/components/no-row-message.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridColumnsContainer.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridDataContainer.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridFooter.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridOverlay.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridRoot.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridRootStyles.ts
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridWindow.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/data-container.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/index.ts
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: bug 🐛, component: DataGrid

#282 [DataGrid] Add dark mode scrollbar
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridRootStyles.ts
Labels: component: DataGrid

#264 [docs] Add Resources section
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#286 [DataGrid] Fix disableMultipleSelection
  packages/grid/x-grid-modules/src/hooks/features/useSelection.ts
Labels: bug 🐛, component: DataGrid

#284 [DataGrid] Fix setPage not working
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid-modules/src/hooks/features/usePagination.ts
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: bug 🐛, component: DataGrid

#285 [DataGrid] Fix checkbox selection issue
  packages/grid/x-grid-modules/src/components/checkbox-renderer.tsx
Labels: bug 🐛, component: DataGrid

#287 [docs] Improve documentation
  babel.config.js
  docs/babel.config.js
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/landing/Pro.js
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Sponsors.js
  docs/src/pages/landing/Steps.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/Users.js
  docs/src/pages/landing/backers-de.md
  docs/src/pages/landing/backers-es.md
  docs/src/pages/landing/backers-fr.md
  docs/src/pages/landing/backers-ja.md
  docs/src/pages/landing/backers-pt.md
  docs/src/pages/landing/backers-ru.md
  docs/src/pages/landing/backers-zh.md
  docs/src/pages/landing/backers.md
  package.json
  yarn.lock
Labels: docs

#289 [DataGrid] Add api pages for data-grid and x-grid
  docs/pages/api-docs/data-grid.js
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.js
  docs/pages/api-docs/x-grid.md
  docs/src/pages.js
  packages/grid/x-grid-modules/src/GridComponentProps.ts
Labels: docs

#290 [DataGrid] Remove apiRef in DataGrid, a XGrid only feature
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.js
  docs/src/pages/components/data-grid/rows/ApiRefRowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
  packages/grid/data-grid/src/DataGrid.spec.tsx
  packages/grid/data-grid/src/DataGrid.tsx
Labels: breaking change, docs

#298 [DataGrid] Fix d.ts file for data-grid
  packages/grid/data-grid/package.json
  packages/grid/data-grid/rollup.config.js
Labels: bug 🐛, component: DataGrid, typescript

#300 [docs] Improve the first-contact experience
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/storybook/src/documentation/pages/api.stories.mdx
Labels: docs

#302 [docs] Fix short description warning
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
Labels: docs

#304 [DataGrid] Add npm keywords
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
Labels: component: DataGrid

#310 [test] Fix flaky test
  packages/grid/x-grid-modules/src/components/cell.tsx
  packages/grid/x-grid-modules/src/hooks/root/useEvents.ts
  packages/grid/x-grid-modules/src/hooks/root/useKeyboard.ts
  packages/grid/x-grid-modules/src/utils/domUtils.ts
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/integration/helper-fn.ts
  packages/storybook/src/data/data-service.ts
  packages/storybook/src/hooks/useData.ts
  packages/storybook/src/stories/grid-pagination.stories.tsx
  packages/storybook/src/stories/grid-selection.stories.tsx
Labels: test

#303 [DataGrid] Remove .MuiDataGrid-overlayContent node
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/rendering/CustomEmptyOverlayGrid.js
  docs/src/pages/components/data-grid/rendering/CustomEmptyOverlayGrid.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridOverlay.tsx
  packages/grid/x-grid-modules/src/components/styled-wrappers/GridRootStyles.ts
Labels: breaking change, component: DataGrid

#338 [docs] Fix layout jump issue
  README.md
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/rows/ServerSortingGrid.js
  docs/src/pages/components/data-grid/rows/ServerSortingGrid.tsx
Labels: docs

#340 [docs] Avoid double borders
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#348 [DataGrid] Fix valueGetter sorting
  docs/src/pages/components/data-grid/rendering/ValueGetterGrid.js
  docs/src/pages/components/data-grid/rendering/ValueGetterGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/hooks/features/useSorting.ts
  packages/grid/_modules_/grid/models/params/cellParams.ts
  packages/grid/_modules_/grid/models/sortModel.ts
  packages/grid/_modules_/grid/utils/paramsUtils.ts
  packages/storybook/src/stories/grid-sorting.stories.tsx
Labels: docs

#354 [docs] Swap words to better match users' query
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#355 [docs] Remove id columns
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/CustomColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/rendering/RenderCellGrid.js
  docs/src/pages/components/data-grid/rendering/RenderCellGrid.tsx
  docs/src/pages/components/data-grid/rendering/RenderHeaderGrid.js
  docs/src/pages/components/data-grid/rendering/RenderHeaderGrid.tsx
  docs/src/pages/components/data-grid/rendering/StylingCellsGrid.js
  docs/src/pages/components/data-grid/rendering/StylingCellsGrid.tsx
  docs/src/pages/components/data-grid/rendering/StylingHeaderGrid.js
  docs/src/pages/components/data-grid/rendering/StylingHeaderGrid.tsx
  docs/src/pages/components/data-grid/rendering/ValueFormatterGrid.js
  docs/src/pages/components/data-grid/rendering/ValueFormatterGrid.tsx
  docs/src/pages/components/data-grid/rendering/ValueGetterGrid.js
  docs/src/pages/components/data-grid/rendering/ValueGetterGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.js
  docs/src/pages/components/data-grid/rows/ComparatorSortingGrid.tsx
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/src/documentation/pages/demos/error/customError.demo.tsx
  packages/storybook/src/documentation/pages/demos/error/exception.demo.tsx
  packages/storybook/src/documentation/pages/demos/error/serverError.demo.tsx
  packages/storybook/src/documentation/pages/demos/error/serverErrorState.demo.tsx
Labels: docs

#316 [test] Run the karma tests in browserstack
  .browserslistrc
  ignore_netlify.toml
  netlify.toml
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
  packages/x-grid-data-generator/package.json
  packages/x-license/package.json
  test/karma.conf.js
Labels: test

#356 [test] Add end-to-end test missing id
  packages/grid/_modules_/grid/hooks/root/useRows.ts
  packages/grid/_modules_/grid/models/__tests__/rows.tests.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
Labels: component: DataGrid, test

#353 [core] Remove dead-code
  packages/demo-app/src/app/app.tsx
  packages/demo-app/src/app/demos/grid/components/settings-panel.tsx
  packages/grid/_modules_/grid/components/checkbox-renderer.tsx
  packages/grid/_modules_/grid/components/default-footer.tsx
  packages/grid/_modules_/grid/hooks/features/usePagination.ts
  packages/grid/_modules_/grid/hooks/features/useSelection.ts
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
  packages/grid/_modules_/grid/hooks/root/useKeyboard.ts
  packages/grid/_modules_/grid/hooks/root/useRows.ts
  packages/storybook/src/stories/grid-error.stories.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
  packages/x-license/src/useLicenseVerifier.ts
Labels: core, performance

#341 [core] Hoist duplicated dependencies
  package.json
  packages/grid/data-grid/package.json
  packages/grid/rollup.data-grid.config.js
  packages/grid/rollup.x-grid.config.js
  packages/grid/x-grid/package.json
  packages/x-grid-data-generator/package.json
  packages/x-grid-data-generator/rollup.config.js
  packages/x-license/package.json
  packages/x-license/rollup.config.js
  yarn.lock
Labels: core
