Repository mui/mui-x, pull requests merged in 2020-11, with the labels that each got.

#534 [DataGrid] Add missing reselect dependency
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
Labels: bug 🐛, component: DataGrid

#532 [DataGrid] Refactor rendering, remove rafUpdate
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/_modules_/grid/hooks/features/core/useGridApi.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridState.ts
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useContainerProps.ts
  packages/grid/_modules_/grid/hooks/utils/index.ts
  packages/grid/_modules_/grid/hooks/utils/useRafUpdate.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
  packages/grid/_modules_/grid/hooks/utils/useStateRef.ts
  packages/grid/_modules_/grid/models/api/stateApi.ts
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: component: DataGrid, core

#531 [DataGrid] Avoid paint step
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
Labels: performance

#515 [DataGrid] Apply review from #412
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridReducer.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/paginationReducer.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/utils/useLogger.ts
  packages/grid/_modules_/grid/models/api/virtualizationApi.ts
  packages/grid/_modules_/grid/utils/material-ui-utils.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
Labels: component: DataGrid

#536 [docs] Fix the Netlify proxy for localization of X
  docs/public/_redirects
  yarn.lock
Labels: docs

#508 [DataGrid] Fix display of row count and selected rows on mobile
  packages/grid/_modules_/grid/components/default-footer.tsx
  packages/grid/_modules_/grid/components/pagination.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
Labels: bug 🐛, component: DataGrid

#480 [DataGrid] Add fluid columns width support
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.js
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/models/colDef/colDef.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: component: DataGrid, enhancement

#539 [docs] Add more information to readme
  README.md
Labels: docs

#538 [docs] Fix links to GitHub
  docs/next.config.js
  yarn.lock
Labels: bug 🐛, docs

#543 [test] Karma should fail if errors are thrown
  test/karma.conf.js
  test/karma.tests.js
  test/utils/consoleError.js
  yarn.lock
Labels: bug 🐛, test

#546 [core] Batch small changes
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/lib/createDetectElementResize/index.js
Labels: umbrella

#544 [DataGrid] Refactor containerSizes in smaller state
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/viewport.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualColumns.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useContainerProps.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/models/api/virtualizationApi.ts
  packages/grid/_modules_/grid/models/containerProps.ts
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/.storybook/main.js
  packages/storybook/src/stories/grid-pagination.stories.tsx
  packages/storybook/tsconfig.json
  test/karma.conf.js
Labels: component: DataGrid, core

#537 [DataGrid] Add touch support on column resize
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/constants/cssClassesConstants.ts
  packages/grid/_modules_/grid/hooks/features/useColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
  packages/grid/_modules_/grid/utils/domUtils.ts
  packages/storybook/src/stories/grid-resize.stories.tsx
Labels: component: DataGrid, enhancement

#562 [DataGrid] Fix keyboard with multiple grids
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
Labels: bug 🐛, component: DataGrid

#563 [docs] Update changelog for v4.0.0-alpha.9
  CHANGELOG.md
Labels: docs

#570 [docs] Update feature comparison table for Column reorder
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs

#566 [DataGrid] Add fluid columns width support
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.js
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/models/colDef/colDef.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: component: DataGrid, enhancement

#533 [DataGrid] Prepare work for a future public state api
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/column-header-item.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridApi.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridState.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/hooks/features/useApiRef.ts
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
  packages/grid/_modules_/grid/models/api/stateApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/params/stateChangeParams.ts
  packages/grid/_modules_/grid/utils/EventEmitter.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/src/stories/grid-events.stories.tsx
  packages/storybook/src/stories/grid-state.stories.tsx
  packages/storybook/src/stories/playground/options.stories.tsx
  packages/storybook/tsconfig.json
  test/utils/helperFn.ts
Labels: component: DataGrid

#574 [DataGrid] Default toolbar setup
  docs/src/pages/components/data-grid/rendering/CustomToolbarGrid.js
  docs/src/pages/components/data-grid/rendering/CustomToolbarGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/styled-wrappers/GridToolbar.tsx
  packages/grid/_modules_/grid/hooks/features/useComponents.tsx
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: enhancement, important

#576 [test] Share karma setup
  netlify.toml
  packages/grid/x-grid/src/XGrid.test.tsx
  test/karma.tests.js
  yarn.lock
Labels: test

#594 [docs] Improve documentation of next
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#596 [DataGrid] Fix type definitions
  packages/grid/_modules_/grid/hooks/features/selection/selectionSelector.ts
  packages/grid/tsconfig.build.json
Labels: bug 🐛, component: DataGrid, typescript

#597 [DataGrid] Fix autoHeight computation for custom headers and footers
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/utils/getTotalHeight.ts
Labels: bug 🐛, component: DataGrid

#599 [DataGrid] Reset sortedRows state on prop change
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
Labels: bug 🐛, component: DataGrid

#609 [CHANGELOG] Prepare v4.0.0-alpha.10 release
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/demo-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
  packages/storybook/package.json
  packages/x-grid-data-generator/package.json
  packages/x-license/package.json
Labels: docs

#612 [docs] DataGrid is in the lab
  docs/src/pages.js
Labels: docs

#636 [core] Update to Material-UI v4.11.1
  yarn.lock
Labels: core

#635 [DataGrid] Improve filters
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/icons/index.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/FilterMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/HideColMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/SortMenuItems.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/toolbar/ColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/FilterToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/filterToolbarButton.tsx
  packages/grid/_modules_/grid/components/tools/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/tools/FilterForm.tsx
  packages/grid/_modules_/grid/components/tools/FilterPanel.tsx
  packages/grid/_modules_/grid/components/tools/Panel.tsx
  packages/grid/_modules_/grid/components/tools/Preferences.tsx
  packages/grid/_modules_/grid/components/tools/index.ts
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columns/columnsSelector.ts
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/filterSelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/hooks/features/preferencesPanel/usePreferencesPanel.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/columnApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
  packages/storybook/src/stories/grid-state.stories.tsx
Labels: component: DataGrid

#634 [docs] Clarify the purpose of x-grid-data-generator
  packages/x-grid-data-generator/package.json
Labels: docs

#637 [core] Introduce a feature toggle
  docs/next.config.js
  docs/src/pages.js
  packages/grid/_modules_/grid/constants/envConstants.ts
  packages/grid/_modules_/grid/constants/index.ts
  packages/grid/_modules_/grid/hooks/utils/useLogger.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/utils/utils.ts
  packages/storybook/.storybook/main.js
  packages/storybook/tsconfig.json
Labels: core

#643 [docs] Fix typo in columns.md
  docs/src/pages/components/data-grid/columns/columns.md
Labels: docs

#639 [DataGrid] Fix server-side pagination
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/pagination.tsx
  packages/grid/_modules_/grid/components/tools/FilterInputValue.tsx
  packages/grid/_modules_/grid/hooks/features/filter/filterSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/paginationReducer.ts
  packages/grid/_modules_/grid/hooks/features/pagination/usePagination.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: bug 🐛, component: DataGrid

#642 [DataGrid] Fix filters on rendering new rows
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/models/api/filterApi.ts
Labels: bug 🐛, component: DataGrid

#646 [docs] Reduce confusion on /export page
  docs/src/pages/components/data-grid/export/export.md
Labels: docs

#648 [DataGrid] Flex columns do not take into account "checkboxSelection" prop
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: bug 🐛, component: DataGrid

#664 [DataGrid] Fix filter flex-shrink
  packages/grid/_modules_/grid/components/tools/FilterForm.tsx
Labels: bug 🐛, component: DataGrid
