Repository mui/mui-x, pull requests merged in 2020-10, with the labels that each got.

#357 [test] Add missing types linting for x-grid
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/package.json
  packages/grid/x-grid/src/XGrid.test.tsx
Labels: test

#350 [DataGrid] Improve sizing logic
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/_modules_/grid/components/autosizer.tsx
  packages/grid/_modules_/grid/components/default-footer.tsx
  packages/grid/_modules_/grid/components/index.ts
  packages/grid/_modules_/grid/hooks/root/useApi.ts
  packages/grid/_modules_/grid/hooks/utils/useLogger.ts
  packages/grid/_modules_/grid/hooks/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/lib/autosizer/types.d.ts
  packages/grid/_modules_/grid/lib/createDetectElementResize/index.js
  packages/grid/_modules_/grid/lib/createDetectElementResize/types.d.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.test.tsx
  tsconfig.json
Labels: bug 🐛, component: DataGrid

#405 [DataGrid] Improve warning and docs for layouting
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/data-grid/src/DataGrid.test.tsx
Labels: component: DataGrid, docs

#421 [core] Fix yarn warning
  package.json
  packages/grid/data-grid/package.json
  packages/grid/jest.config.js
  packages/grid/package.json
  packages/grid/x-grid/package.json
Labels: core

#419 [docs] Fix duplicated Algolia records
  docs/package.json
  docs/src/pages/components/data-grid/rendering/AntDesignGrid.js
  docs/src/pages/components/data-grid/rendering/AntDesignGrid.tsx
  docs/src/pages/components/data-grid/rendering/CustomEmptyOverlayGrid.js
  docs/src/pages/components/data-grid/rendering/CustomEmptyOverlayGrid.tsx
  yarn.lock
Labels: bug 🐛, docs

#439 [DataGrid] Fix iOS issue when scrolling left
  packages/grid/_modules_/grid/hooks/virtualization/useVirtualRows.ts
Labels: bug 🐛, component: DataGrid

#165 [DataGrid] Add column reorder support
  docs/src/pages/components/data-grid/columns/ColumnOrderingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnOrderingGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/_modules_/grid/components/ScrollArea.tsx
  packages/grid/_modules_/grid/components/column-header-item.tsx
  packages/grid/_modules_/grid/components/column-headers.tsx
  packages/grid/_modules_/grid/components/index.ts
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/constants/cssClassesConstants.ts
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/hooks/features/useColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/root/useColumns.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/columnApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.tsx
  packages/storybook/integration/helper-fn.ts
  packages/storybook/integration/mouse.test.ts
  packages/storybook/integration/staticStories.test.ts
  packages/storybook/src/stories/grid-reorder.stories.tsx
Labels: component: DataGrid, enhancement

#454 [core] Remove dead code
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
Labels: core

#453 [core] Sync supported browser with v5
  .browserslistrc
  test/karma.conf.js
Labels: core

#456 [core] Update to the latest version of the main repo
  .stylelintrc.js
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.test.tsx
  yarn.lock
Labels: core

#436 [XGrid] Second iteration on resizing logic
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/AutoSizer.tsx
  packages/grid/_modules_/grid/components/column-header-item.tsx
  packages/grid/_modules_/grid/components/column-header-separator.tsx
  packages/grid/_modules_/grid/components/column-headers.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/hooks/features/useColumnResize.tsx
  packages/grid/_modules_/grid/utils/material-ui-utils.ts
Labels: bug 🐛, components: XGrid

#450 [DataGrid] Reduce dependency on lodash
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/hooks/utils/useScrollFn.ts
  packages/grid/_modules_/grid/lib/lodash/debounce.js
  packages/grid/_modules_/grid/utils/utils.ts
Labels: component: DataGrid, performance

#478 [DataGrid] Change ColumnsHeader component tabIndex to -1
  packages/grid/_modules_/grid/components/column-headers.tsx
Labels: bug 🐛, component: DataGrid

#482 [core] Run prettier
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/preview.js
Labels: core

#503 [DataGrid] Restore regression test
  packages/grid/data-grid/src/DataGrid.test.tsx
Labels: component: DataGrid, test

#455 [DataGrid] Replace require with import
  packages/grid/data-grid/package.json
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/x-grid/package.json
  packages/grid/x-grid/src/XGrid.tsx
  yarn.lock
Labels: bug 🐛, component: DataGrid

#448 [core] Improve types
  docs/src/pages/components/data-grid/pagination/ServerPaginationGrid.tsx
  docs/src/pages/components/data-grid/rendering/AntDesignGrid.tsx
  docs/src/pages/components/data-grid/rendering/ColumnVirtualizationGrid.tsx
  docs/src/pages/components/data-grid/rows/ServerSortingGrid.tsx
  docs/tsconfig.json
  package.json
  packages/grid/_modules_/grid/components/ScrollArea.tsx
  packages/grid/_modules_/grid/hooks/features/useColumnReorder.tsx
  packages/grid/_modules_/grid/lib/createDetectElementResize/index.js
  packages/grid/_modules_/grid/lib/createDetectElementResize/types.d.ts
  packages/grid/data-grid/src/DataGrid.test.tsx
  packages/grid/data-grid/tsconfig.json
  packages/grid/tsconfig.build.json
  packages/grid/x-grid/src/XGrid.test.tsx
  packages/grid/x-grid/tsconfig.json
  packages/storybook/package.json
  packages/storybook/src/data/random-generator.ts
  packages/storybook/src/stories/grid-columns.stories.tsx
  packages/storybook/src/stories/grid-resize.stories.tsx
  packages/storybook/tsconfig.json
  packages/x-grid-data-generator/rollup.config.js
  packages/x-grid-data-generator/src/renderer/renderPnl.tsx
  packages/x-grid-data-generator/tsconfig.build.json
  packages/x-grid-data-generator/tsconfig.json
  packages/x-license/package.json
  packages/x-license/rollup.config.js
  packages/x-license/tsconfig.build.json
  packages/x-license/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: component: DataGrid, typescript

#505 [DataGrid] Rework columnReorder to work with the new state management
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/column-header-item.tsx
  packages/grid/_modules_/grid/components/column-headers.tsx
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderSelector.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderState.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/index.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/models/api/columnReorderApi.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
Labels: component: DataGrid, core

#449 [DataGrid] Fix webpack v5
  packages/grid/_modules_/grid/hooks/features/useApiRef.ts
  packages/grid/_modules_/grid/models/api/coreApi.ts
  packages/grid/_modules_/grid/utils/EventEmitter.ts
Labels: bug 🐛, component: DataGrid
