Repository mui/mui-x, pull requests merged in 2021-10, with the labels that each got.

#2724 [DataGrid] onSortModelChange should not been called on initialization and on prop model change
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-grid/src/tests/sorting.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#2747 [core] Do not regenerate columns of useDemoData on each render
  packages/grid/x-grid-data-generator/src/useDemoData.ts
Labels: performance, core

#2755 [docs] Fix index, improve playground
  docs/pages/index.js
  docs/pages/playground.tsx
Labels: bug 🐛, docs

#2723 [core] Use selectors instead of direct state access in feature hooks and components
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/density/densitySelector.ts
  packages/grid/_modules_/grid/hooks/features/density/densityState.ts
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/renderingState.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualization.ts
Labels: breaking change, component: DataGrid

#2780 [DataGrid] Don't filter numeric column when value is empty
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/models/colDef/gridNumericOperators.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#2456 [DataGrid] Allow to select range of rows with shift key
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-selection-api.json
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/events/events.json
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/selection/MultipleRowSelectionGrid.js
  docs/src/pages/components/data-grid/selection/MultipleRowSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/selection.md
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/models/api/gridSelectionApi.ts
  packages/grid/_modules_/grid/models/params/gridRowSelectionCheckboxParams.ts
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.DataGridPro.test.tsx
  test/utils/helperFn.ts
Labels: component: DataGrid

#2634 [docs] Add page for scrolling API
  docs/pages/components/data-grid/scrolling.js
  docs/src/pages.js
  docs/src/pages/components/data-grid/scrolling/ScrollApiNoSnap.js
  docs/src/pages/components/data-grid/scrolling/ScrollPlayground.js
  docs/src/pages/components/data-grid/scrolling/ScrollPlayground.tsx
  docs/src/pages/components/data-grid/scrolling/scrolling.md
Labels: docs

#2786 [core] Don't run benchmark on cached files
  babel.config.js
  benchmark/browser/index.html
  benchmark/browser/scripts/benchmark.js
  benchmark/package.json
  yarn.lock
Labels: core
