Repository mui/mui-x, pull requests merged in 2021-12, with the labels that each got.

#3220 [DataGrid] Fix focus when selecting option with Enter in the `singleSelect`
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/x-data-grid-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditTaxCode.tsx
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#3264 [core] Rework columns state management
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsState.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/_modules_/grid/hooks/features/columns/index.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.ts
  packages/grid/_modules_/grid/models/api/gridColumnApi.ts
  packages/grid/_modules_/grid/models/colDef/getGridColDef.ts
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/colDef/index.ts
  packages/grid/_modules_/grid/models/gridState.ts
  packages/grid/_modules_/grid/utils/mergeUtils.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
Labels: core

#3317 [DataGridPro] Temporarily remove the callback version of the `groupingColDef` prop
  docs/pages/api-docs/data-grid/data-grid-pro.json
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.ts
  packages/grid/x-data-grid-pro/src/DataGridPro.tsx
Labels: component: DataGridPro

#3312 v5.1.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#3315 [core] Type the api param in callback interfaces
  docs/pages/api-docs/data-grid/grid-cell-params.md
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.js
  docs/src/pages/components/data-grid/group-pivot/CustomGroupingColumnTreeData.js
  packages/grid/_modules_/grid/components/cell/GridActionsCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditDateCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/cell/GridTreeDataGroupingCell.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/models/gridSortModel.ts
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/_modules_/grid/models/params/gridSortModelParams.ts
  packages/grid/x-data-grid-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditTaxCode.tsx
Labels: core, typescript

#3224 [DataGrid] Should not crash when a sort item uses a non-existing column
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/gridSortModel.ts
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
  scripts/exportsSnapshot.json
Labels: bug 🐛, component: DataGrid

#3321 [docs] Update branch to deploy docs
  scripts/README.md
Labels: docs

#3326 [docs] Fix dead link on the overview page
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#3308 [core] Transition to a new StackOverflow tag
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: core

#3330 [core] Fix missing LICENSE file
  packages/grid/rollup.x-data-grid-pro.config.js
  packages/x-license-pro/rollup.config.js
Labels: bug 🐛, core, component: DataGrid, pro plan, regression

#3329 [docs] Avoid 301 links
  docs/src/pages/components/data-grid/localization/localization.md
Labels: docs

#3292 [core] Fix yarn prettier script
  package.json
Labels: bug 🐛, core

#3365 [docs] Fix duplicate "the"
  CHANGELOG.md
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/models/gridExport.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/gridRows.ts
Labels: bug 🐛, docs

#3270 [DataGrid] Export option can be disable
  docs/pages/api-docs/data-grid/grid-csv-export-options.md
  docs/pages/api-docs/data-grid/grid-print-export-options.md
  docs/src/pages/components/data-grid/export/export.md
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/models/gridExport.ts
  scripts/exportsSnapshot.json
Labels: component: DataGrid, enhancement

#3266 [docs] Always use auto-generated apiRef documentation
  docs/pages/api-docs/data-grid/grid-pagination-api.json
  docs/pages/api-docs/data-grid/grid-sort-api.json
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/PaginationApiNoSnap.js
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/scrolling/scrolling.md
  docs/src/pages/components/data-grid/selection/selection.md
  docs/src/pages/components/data-grid/sorting/SortingApiNoSnap.js
  docs/src/pages/components/data-grid/sorting/sorting.md
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationState.ts
  packages/grid/_modules_/grid/hooks/features/pagination/index.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridPageApi.ts
  packages/grid/_modules_/grid/models/api/gridPageSizeApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridState.ts
  scripts/exportsSnapshot.json
Labels: docs

#3314 [DataGrid] Deprecate the `getValue` param for the `valueGetter` callback
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/src/pages/components/data-grid/columns/ValueGetterGrid.js
  docs/src/pages/components/data-grid/columns/ValueGetterGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/ValueGetterSetterGrid.js
  docs/src/pages/components/data-grid/editing/ValueGetterSetterGrid.tsx
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/sorting/ComparatorSortingGrid.js
  docs/src/pages/components/data-grid/sorting/ComparatorSortingGrid.tsx
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/hooks/features/treeData/gridTreeDataGroupColDef.tsx
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelectionColDef.tsx
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
  packages/storybook/src/stories/grid-error.stories.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
  packages/storybook/src/stories/grid-style.stories.tsx
  scripts/exportsSnapshot.json
Labels: component: DataGrid

#3332 [docs] Fix double MUI in the title
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, docs

#3289 [DataGrid] Fix column menu position when closing
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#3334 [docs] Disable the ad when not MIT
  docs/pages/components/data-grid/events.js
  docs/pages/components/data-grid/group-pivot.js
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
Labels: docs, pro plan

#3316 [DataGridPro] Pass a list of `fields` to the callback version of `groupingColDef`
  docs/pages/api-docs/data-grid/data-grid-pro.json
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.ts
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/x-data-grid-pro/src/DataGridPro.tsx
  scripts/exportsSnapshot.json
Labels: component: DataGridPro, pro plan

#3323 [test] Replace `useFakeTimers`
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/performance.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/sorting.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test

#3368 [DataGridPro] Add new option hideDescendantCount to Tree Data
  docs/next-env.d.ts
  packages/grid/_modules_/grid/components/cell/GridTreeDataGroupingCell.tsx
  packages/grid/_modules_/grid/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: component: DataGridPro

#3318 [core] Use pre-processors for sorting and filtering
  packages/grid/_modules_/grid/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/core/rowGroupsPerProcessing/gridRowGroupsPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/core/rowGroupsPerProcessing/useGridRowGroupsPreProcessing.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterState.ts
  packages/grid/_modules_/grid/hooks/features/filter/index.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridRegisterFilteringMethod.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsSelector.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingState.ts
  packages/grid/_modules_/grid/hooks/features/sorting/index.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridRegisterSortingMethod.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/_modules_/grid/utils/tree/buildRowTree.test.ts
  packages/grid/_modules_/grid/utils/tree/buildRowTree.ts
  packages/grid/_modules_/grid/utils/tree/sortRowTree.ts
  scripts/exportsSnapshot.json
Labels: core

#3380 [DataGridPro] Do not expand row children when pressing `Shift` + `Space`
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
Labels: component: DataGridPro

#3366 [core] Improve tests for Tree Data
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: test, core

#3302 [DataGrid] Avoid page break inside a row in the Print Export
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: DataGrid

#3392 [core] Add link to OpenCollective
  .github/FUNDING.yml
Labels: core

#3394 [core] Remove `x-data-grid` folder from DataGridPro bundle
  packages/grid/rollup.x-data-grid-pro.config.js
  packages/grid/rollup.x-data-grid.config.js
Labels: core

#3396 [docs] Include @mui/x-data-grid as dependency in the CodeSandbox
  docs/pages/_app.js
Labels: docs

#3320 [core] Remove Typedoc
  docs/package.json
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-cell-params.md
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/pages/api-docs/data-grid/grid-column-pinning-api.json
  docs/pages/api-docs/data-grid/grid-csv-export-options.md
  docs/pages/api-docs/data-grid/grid-edit-row-api.json
  docs/pages/api-docs/data-grid/grid-filter-api.json
  docs/pages/api-docs/data-grid/grid-print-export-options.md
  docs/pages/api-docs/data-grid/grid-selection-api.json
  docs/pages/api-docs/data-grid/grid-sort-api.json
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/scripts/api/buildEventsDocumentation.ts
  docs/scripts/api/buildExportsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/api/utils.ts
  docs/src/pages/components/data-grid/events/events.json
  package.json
  scripts/exportsSnapshot.json
  yarn.lock
Labels: core

#3275 [DataGrid] Refactor keyboard/click event management
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: component: DataGrid

#3425 [DataGridPro] Add `pinnable` option
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/colDef/gridStringColDef.ts
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: enhancement, component: DataGridPro

#3427 [core] Generate exports snapshot for both `x-data-grid` and `x-data-grid-pro` packages
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildExportsDocumentation.ts
  docs/scripts/api/utils.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core

#3391 [core] Add sections to some of the feature hooks
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterUtils.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
Labels: core

#3388 [DataGrid] Fire change event when the state changes, not when firing the prop change callback in control mode
  packages/grid/_modules_/grid/hooks/core/useGridControlState.ts
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: important, component: DataGrid

#3430 [l10n] Improve German (de-DE) locale
  packages/grid/_modules_/grid/locales/deDE.ts
Labels: l10n

#3429 [l10n] Improve Dutch (nl-NL) locale
  packages/grid/_modules_/grid/locales/nlNL.ts
Labels: l10n

#3325 [core] Rework state update methods and deprecate `useGridApi` + `useGridState`
  docs/pages/api-docs/data-grid/grid-api.md
  packages/grid/_modules_/grid/hooks/core/useGridControlState.ts
  packages/grid/_modules_/grid/hooks/core/useGridInitialization.ts
  packages/grid/_modules_/grid/hooks/core/useGridStateInitialization.ts
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/utils/useGridApi.ts
  packages/grid/_modules_/grid/hooks/utils/useGridApiRef.ts
  packages/grid/_modules_/grid/hooks/utils/useGridState.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridControlStateApi.ts
  packages/grid/_modules_/grid/models/api/gridStateApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core

#3438 [DataGridPro] Avoid filtering columns if no column is pinned
  packages/grid/x-data-grid-pro/src/DataGridProVirtualScroller.tsx
Labels: enhancement, component: DataGridPro

#3310 [DataGrid] Unsubscribe event listeners registered in uncommitted renders
  package.json
  packages/grid/_modules_/grid/hooks/core/useGridApiInitialization.ts
  packages/grid/_modules_/grid/hooks/utils/useGridApiEventHandler.test.tsx
  packages/grid/_modules_/grid/hooks/utils/useGridApiEventHandler.ts
  packages/grid/_modules_/grid/utils/cleanupTracking/CleanupTracking.ts
  packages/grid/_modules_/grid/utils/cleanupTracking/FinalizationRegistryBasedCleanupTracking.ts
  packages/grid/_modules_/grid/utils/cleanupTracking/TimerBasedCleanupTracking.ts
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGrid

#3441 [core] Increase CI efficiency
  .circleci/config.yml
Labels: test, performance, core

#3390 [core] Refacto sorting comparator
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingState.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingUtils.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/_modules_/grid/utils/tree/sortRowTree.ts
Labels: core

#3452 [l10n] Improve Italian (it-IT) locale
  packages/grid/_modules_/grid/locales/itIT.ts
Labels: l10n

#3481 [docs] Update tweet example in release README
  scripts/README.md
Labels: docs

#3369 [DataGrid] Deprecate getValue param from the cell and row params
  docs/src/pages/components/data-grid/style/StylingRowsGrid.js
  docs/src/pages/components/data-grid/style/StylingRowsGrid.tsx
  docs/src/pages/components/data-grid/style/StylingRowsGrid.tsx.preview
  packages/grid/_modules_/grid/components/cell/GridTreeDataGroupingCell.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/_modules_/grid/models/params/gridRowParams.ts
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: DataGrid

#3444 [DataGridPro] Add new prop isGroupExpandedByDefault
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/_modules_/grid/utils/tree/buildRowTree.test.ts
  packages/grid/_modules_/grid/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid-pro/src/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGridProps.ts
  packages/grid/x-data-grid/src/useDataGridProps.ts
Labels: component: DataGridPro

#3433 [DataGrid] Add `hideable` field to `GridColDef`
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/src/pages/components/data-grid/columns/ColumnHiding.js
  docs/src/pages/components/data-grid/columns/ColumnHiding.tsx
  docs/src/pages/components/data-grid/columns/ColumnHiding.tsx.preview
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/_modules_/grid/components/panel/GridColumnsPanel.tsx
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/colDef/gridStringColDef.ts
Labels: component: DataGrid, enhancement

#3453 [docs] Make demos compatible with `preProcessEditCellProps`
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.js
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.js
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.tsx
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.js
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.tsx
Labels: docs

#3485 [l10n] Add Finnish (fiFI) locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/fiFI.ts
  packages/grid/_modules_/grid/locales/index.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: l10n

#3446 [DataGrid] Remove `line-height` from `GridCell`
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: DataGrid

#3493 [l10n] Improve Vietnamese (viVN) locale
  packages/grid/_modules_/grid/locales/viVN.ts
Labels: l10n

#3488 [docs] Generate imports dynamically from the packages export list
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/scripts/api/buildEventsDocumentation.ts
  docs/scripts/api/buildExportsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/api/utils.ts
Labels: docs

#3491 [DataGrid] Fix can't enter 0 on numeric column
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#3492 [DataGrid] Close other actions menus when opening a new one
  packages/grid/_modules_/grid/components/cell/GridActionsCell.tsx
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#3484 [DataGrid] Avoid rerender when pressing key inside already focused cell
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#3526 [core] Update dependency on the core
  yarn.lock
Labels: bug 🐛, docs, core
