Repository mui/mui-x, pull requests merged in 2021-02, with the labels that each got.

#953 [DataGrid] Remove duplicate aria-label
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderTitle.tsx
Labels: accessibility, component: DataGrid

#955 [core] Fix usage of the prop-types API
  packages/grid/data-grid/src/DataGrid.tsx
Labels: component: DataGrid, core

#954 [core] Investigate bundle size
  .gitignore
  package.json
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/webpack.config.js
  yarn.lock
Labels: performance

#950 [DataGrid] Fix column reorder instability
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/utils/index.ts
  packages/grid/_modules_/grid/utils/mergeUtils.ts
  packages/grid/x-grid/src/tests/reorder.XGrid.test.tsx
  packages/storybook/src/stories/grid-selection.stories.tsx
Labels: bug 🐛, component: DataGrid

#940 [DataGrid] Fix autoHeight, v2
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/utils/getTotalHeight.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/layout.XGrid.test.tsx
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
  packages/storybook/src/stories/grid-options.stories.tsx
  packages/storybook/src/style/grid-stories.css
Labels: bug 🐛, component: DataGrid

#973 [docs] Improve docs of DataGrid about filter operators
  docs/src/pages/components/data-grid/filtering/FilterOperators.js
  docs/src/pages/components/data-grid/filtering/FilterOperators.tsx
  docs/src/pages/components/data-grid/filtering/filtering.md
Labels: component: DataGrid, docs

#969 [docs] Api page update with component slots
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/index.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: docs

#972 [DataGrid] Add getRowId prop
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/models/rows.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
  packages/storybook/src/components/feed-grid.tsx
  packages/storybook/src/components/pricing-grid.tsx
  packages/storybook/src/data/streaming/pricing-service.ts
  packages/storybook/src/data/streaming/single-subscription-service.ts
  packages/storybook/src/stories/grid-rows.stories.tsx
  packages/storybook/src/stories/playground/real-data-demo.stories.tsx
  test/utils/helperFn.ts
Labels: component: DataGrid, enhancement

#981 [DataGrid] Fix timing guarentee
  docs/src/pages/components/data-grid/rendering/AutoHeightGrid.js
  docs/src/pages/components/data-grid/rendering/AutoHeightGrid.tsx
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/utils/getTotalHeight.ts
Labels: bug 🐛, component: DataGrid

#978 [core] Improve prop-types handling
  packages/grid/data-grid/src/DataGrid.tsx
Labels: core

#979 [docs] Catch leaks ahread of time
  docs/src/pages/components/data-grid/sorting/ServerSortingGrid.js
  docs/src/pages/components/data-grid/sorting/ServerSortingGrid.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/x-grid-data-generator/src/useDemoData.ts
Labels: docs

#980 [DataGrid] Add streaming delete row api
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/_modules_/grid/models/api/rowApi.ts
  packages/grid/_modules_/grid/models/rows.ts
  packages/grid/x-grid/src/tests/apiRef.XGrid.test.tsx
  packages/storybook/src/stories/playground/real-data-demo.stories.tsx
Labels: component: DataGrid, enhancement

#971 [DataGrid] Add component slots for toolbar and preference panel
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/columns/ColumnSelectorGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSelectorGrid.tsx
  docs/src/pages/components/data-grid/filtering/BasicToolbarFilteringGrid.js
  docs/src/pages/components/data-grid/filtering/BasicToolbarFilteringGrid.tsx
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.js
  docs/src/pages/components/data-grid/localization/CustomLocaleTextGrid.tsx
  docs/src/pages/components/data-grid/rendering/CustomToolbarGrid.js
  docs/src/pages/components/data-grid/rendering/CustomToolbarGrid.tsx
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.js
  docs/src/pages/components/data-grid/rendering/DensitySelectorSmallGrid.tsx
  docs/src/pages/components/data-grid/rendering/VisibleToolbarGrid.js
  docs/src/pages/components/data-grid/rendering/VisibleToolbarGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/grid/_modules_/grid/components/GridHeader.tsx
  packages/grid/_modules_/grid/components/toolbar/ColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/FilterToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbar.tsx
  packages/grid/_modules_/grid/hooks/features/useComponents.tsx
  packages/grid/_modules_/grid/models/api/componentsApi.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/storybook/src/stories/grid-toolbar.stories.tsx
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: component: DataGrid, enhancement

#991 [core] Batch small changes
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/rows/rows.md
  packages/storybook/src/stories/grid-sorting.stories.tsx
Labels: core, umbrella

#983 [DataGrid] Add bgBG locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterForm.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/index.ts
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/_modules_/grid/models/api/localeTextApi.ts
  packages/grid/_modules_/grid/models/colDef/dateOperators.ts
  packages/grid/_modules_/grid/models/colDef/stringOperators.ts
  packages/grid/_modules_/grid/models/filterOperator.ts
  packages/grid/_modules_/grid/utils/getLocalization.ts
  packages/grid/_modules_/grid/utils/index.ts
Labels: component: DataGrid, enhancement

#986 [DataGrid] Add new selectionModel prop
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/selection/ControlledSelectionGrid.js
  docs/src/pages/components/data-grid/selection/ControlledSelectionGrid.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useColumns.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/selection/useSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/selectionApi.ts
  packages/grid/_modules_/grid/models/api/stateApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/_modules_/grid/models/params/pageChangeParams.ts
  packages/grid/_modules_/grid/models/params/rowSelectedParams.ts
  packages/grid/_modules_/grid/models/params/selectionModelChangeParams.ts
  packages/grid/_modules_/grid/models/selectionModel.ts
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/storybook/src/stories/grid-events.stories.tsx
  packages/storybook/src/stories/grid-selection.stories.tsx
  packages/storybook/src/stories/grid-streaming.stories.tsx
Labels: breaking change, component: DataGrid, enhancement

#990 [DataGrid] Resolve the api ref at the same time as any other ref
  packages/grid/_modules_/grid/hooks/features/useApiRef.ts
Labels: component: DataGrid, enhancement

#1015 [DataGrid] Remove sortDirection from column definitions
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderItem.tsx
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/models/colDef/colDef.ts
  packages/grid/_modules_/grid/models/colDef/stringColDef.ts
  packages/storybook/src/stories/grid-filter.stories.tsx
  packages/storybook/src/stories/grid-options.stories.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: breaking change, component: DataGrid

#1013 [docs] Update streaming docs
  docs/src/pages/components/data-grid/rows/rows.md
Labels: docs

#1019 [DataGrid] Add support for default props from theme
  packages/grid/_modules_/grid/utils/index.ts
  packages/grid/_modules_/grid/utils/material-ui-utils.ts
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/x-grid/src/XGrid.tsx
Labels: component: DataGrid, enhancement

#1021 [DataGrid] Change page index base, from 1 to 0
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/ControlledPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ControlledPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/ServerPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ServerPaginationGrid.tsx
  packages/grid/_modules_/grid/components/Pagination.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/pagination/paginationReducer.ts
  packages/grid/_modules_/grid/hooks/features/pagination/usePagination.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/pagination.XGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: breaking change, component: DataGrid

#1020 [DataGrid] Fix controllable filters and select all rows with filters
  packages/grid/_modules_/grid/components/CheckboxRenderer.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/reorder.XGrid.test.tsx
  packages/storybook/src/stories/grid-filter.stories.tsx
  test/utils/helperFn.ts
Labels: bug 🐛, component: DataGrid

#1023 [test] Increase yarn timeout
  .yarnrc
Labels: test

#1027 [DataGrid] Fix process is not defined (EXPERIMENTAL_ENABLED)
  packages/grid/_modules_/grid/constants/envConstants.ts
Labels: bug 🐛, core

#1024 [docs] Add code snippet for localization docs in the data grid
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterForm.tsx
  packages/grid/_modules_/grid/models/filterOperator.ts
Labels: component: DataGrid, docs

#1031 [DataGrid] Use the disableDensitySelector to disable the DensitySelector
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
Labels: bug 🐛, component: DataGrid

#1029 [XGrid] Fix server-side multi filters
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/storybook/src/stories/grid-filter.stories.tsx
Labels: bug 🐛, components: XGrid

#1033 [DataGrid] Add last of the missing translations
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterInputValue.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterInputValueProps.ts
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/models/api/localeTextApi.ts
  packages/grid/_modules_/grid/utils/getLocalization.ts
Labels: bug 🐛, component: DataGrid

#1034 [DataGrid] Fix onPageChange and onPageSizeChange event trigger
  packages/grid/_modules_/grid/hooks/features/pagination/usePagination.ts
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: bug 🐛, component: DataGrid

#1035 [DataGrid] Fix reset of sortModel in controllable mode
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#1060 [test] Link CircleCI URL in BS
  test/karma.conf.js
Labels: test

#1039 [core] Save/restore actual yarn cache folder
  .circleci/config.yml
Labels: core

#1038 [DataGrid] Fix warning with v5
  packages/grid/_modules_/grid/components/Pagination.tsx
Labels: bug 🐛, component: DataGrid

#1062 [docs] Fix usage of the wrong type
  docs/src/pages/components/data-grid/rendering/RenderCellGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
Labels: component: DataGrid, docs

#1059 [test] Avoid Rate Limit Exceeded
  test/karma.conf.js
Labels: test

#1064 [test] Speed-up rebuild in karma
  test/karma.conf.js
Labels: test

#1030 [DataGrid] Implement CSV export
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages.js
  docs/src/pages/components/data-grid/export/ExportSelectorGrid.js
  docs/src/pages/components/data-grid/export/ExportSelectorGrid.tsx
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/icons/index.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/toolbar/GridDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbar.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/components/toolbar/index.ts
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/export/index.ts
  packages/grid/_modules_/grid/hooks/features/export/seralizers/csvSeraliser.ts
  packages/grid/_modules_/grid/hooks/features/export/useGridCsvExport.tsx
  packages/grid/_modules_/grid/hooks/features/useGridComponents.tsx
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridCsvExportApi.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridExport.ts
  packages/grid/_modules_/grid/models/gridIconSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/index.ts
  packages/grid/_modules_/grid/utils/exportAs.ts
  packages/grid/_modules_/grid/utils/index.ts
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/apiRef.XGrid.test.tsx
  packages/storybook/src/stories/grid-toolbar.stories.tsx
Labels: component: DataGrid, enhancement

#1068 [DataGrid] Fix checked checkbox when empty rows
  packages/grid/_modules_/grid/components/GridCheckboxRenderer.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#1074 [docs] Clarify align is separate from headerAlign
  docs/src/pages/components/data-grid/rendering/rendering.md
Labels: docs

#1080 [docs] Clarify product split
  README.md
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
  docs/src/pages/components/data-grid/sorting/sorting.md
  packages/grid/x-grid/LICENSE.md
  packages/x-license/LICENSE.md
Labels: docs

#1096 [DataGrid] Fix missing translation filterOperatorAfter key
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
Labels: bug 🐛, component: DataGrid

#1077 [DataGrid] Add ptBR locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
Labels: component: DataGrid, enhancement

#1100 [test] Improve BrowserStack configuration
  test/karma.conf.js
Labels: test

#1099 [core] Fix storybook pagination stories
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: core

#1079 [DataGrid] Add frFR locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/locales/enUS.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#1071 [DataGrid] Fix last row
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: bug 🐛

#1102 [DataGrid] GridPreferencesPanel accessibility fixes
  packages/grid/_modules_/grid/components/panel/GridPanel.tsx
  packages/grid/_modules_/grid/components/panel/GridPanelWrapper.tsx
Labels: accessibility, bug 🐛, component: DataGrid

#1111 [test] Fix containers size for screenshots
  test/regressions/TestViewer.js
  test/regressions/index.js
Labels: test

#1070 [docs] Add expand cell renderer
  docs/src/pages/components/data-grid/rendering/RenderExpandCellGrid.js
  docs/src/pages/components/data-grid/rendering/RenderExpandCellGrid.tsx
  docs/src/pages/components/data-grid/rendering/rendering.md
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: component: DataGrid, docs

#1105 [DataGrid] Make GridMenu accessible
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenu.tsx
  packages/grid/_modules_/grid/components/toolbar/GridDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/hooks/features/columnMenu/columnMenuState.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/models/api/columnMenuApi.ts
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: accessibility, bug 🐛, component: DataGrid

#1109 [DataGrid] Add missing TablePagination localizations
  packages/grid/_modules_/grid/components/GridPagination.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/locales/enUS.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/utils/getGridLocalization.ts
Labels: bug 🐛, component: DataGrid

#1115 [test] Fix visual regression flakiness
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
  test/regressions/TestViewer.js
  test/regressions/index.js
  test/regressions/index.test.js
Labels: test
