Repository mui/mui-x, pull requests merged in 2021-01, with the labels that each got.

#800 [core] Batch small changes
  .github/ISSUE_TEMPLATE/1.bug.md
  docs/src/pages.js
Labels: umbrella

#794 [DataGrid] Fix keyboard event collisions
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/_modules_/grid/utils/domUtils.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  test/utils/helperFn.ts
Labels: accessibility, bug 🐛, component: DataGrid

#815 [docs] Add documentation for the column menu
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/columns/ColumnMenuGrid.js
  docs/src/pages/components/data-grid/columns/ColumnMenuGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/models/colDef/colDef.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
Labels: component: DataGrid, docs

#841 [DataGrid] Fix wrong initial sort order
  packages/grid/_modules_/grid/hooks/features/rows/useRows.ts
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/storybook/src/stories/grid-sorting.stories.tsx
Labels: bug 🐛, component: DataGrid

#837 [DataGrid] Add docs for Column selector
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/columns/ColumnSelectorGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSelectorGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/components/panel/Panel.tsx
  packages/grid/_modules_/grid/hooks/features/preferencesPanel/usePreferencesPanel.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
Labels: component: DataGrid, docs

#843 [DataGrid] Fix error handling
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#779 [docs] Clarify feature split between pro and premium
  docs/pages/_app.js
  docs/public/static/x/header-icon.png
  docs/public/static/x/premium.svg
  docs/public/static/x/pro.svg
  docs/src/modules/XWrapper.js
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#845 [DataGrid] Add tests for column selector
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#838 [DataGrid] Fix onPageChange firing too often
  packages/grid/_modules_/grid/hooks/features/pagination/usePagination.ts
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#855 [DataGrid] Add support for MUI v5
  packages/grid/_modules_/grid/components/Pagination.tsx
  packages/grid/_modules_/grid/components/panel/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/Panel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterInputValue.tsx
  packages/grid/_modules_/grid/components/styled-wrappers/GridRootStyles.ts
  packages/grid/_modules_/grid/utils/utils.ts
  packages/grid/data-grid/package.json
  packages/grid/x-grid/package.json
  packages/x-grid-data-generator/package.json
  packages/x-grid-data-generator/src/renderer/renderPnl.tsx
  packages/x-grid-data-generator/src/renderer/renderTotalPrice.tsx
Labels: component: DataGrid, enhancement

#877 [DataGrid] Update docs to reflect v5 support
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#879 [DataGrid] Components: merge icons in component slots
  packages/grid/_modules_/grid/components/Viewport.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/index.ts
  packages/grid/_modules_/grid/components/toolbar/ColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/DensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/FilterToolbarButton.tsx
  packages/grid/_modules_/grid/hooks/features/localeText/useLocaleText.tsx
  packages/grid/_modules_/grid/hooks/features/useComponents.tsx
  packages/grid/_modules_/grid/hooks/utils/useIcons.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/models/api/componentsApi.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridIconSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/index.ts
  packages/grid/_modules_/grid/models/params/baseComponentProps.ts
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/_modules_/grid/utils/mergeOptions.ts
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: breaking change

#875 [DataGrid] Fix column selector crash when hiding columns
  packages/grid/_modules_/grid/hooks/features/filter/useFilter.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualColumns.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useContainerProps.ts
  packages/grid/_modules_/grid/lib/lodash/isDeepEqual.js
  packages/grid/_modules_/grid/lib/lodash/lang.default.js
  packages/grid/_modules_/grid/lib/lodash/lang.js
  packages/grid/_modules_/grid/utils/utils.ts
Labels: bug 🐛, component: DataGrid

#897 [DataGrid] Fix shift+space keyboard regression to select row
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/_modules_/grid/utils/domUtils.ts
  packages/grid/_modules_/grid/utils/keyboardUtils.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  test/utils/helperFn.ts
Labels: bug 🐛, component: DataGrid

#899 [DataGrid] Fix footer count not showing on small screens
  packages/grid/_modules_/grid/components/Pagination.tsx
Labels: bug 🐛, component: DataGrid

#890 [DataGrid] Add customisation on panels
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/GridFooter.tsx
  packages/grid/_modules_/grid/components/GridHeader.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/containers/index.ts
  packages/grid/_modules_/grid/components/index.ts
  packages/grid/_modules_/grid/components/panel/ColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/Panel.tsx
  packages/grid/_modules_/grid/components/panel/PanelContent.tsx
  packages/grid/_modules_/grid/components/panel/PanelFooter.tsx
  packages/grid/_modules_/grid/components/panel/PanelHeader.tsx
  packages/grid/_modules_/grid/components/panel/PanelWrapper.tsx
  packages/grid/_modules_/grid/components/panel/PreferencesPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterPanel.tsx
  packages/grid/_modules_/grid/components/panel/index.ts
  packages/grid/_modules_/grid/components/toolbar/index.ts
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/useBaseComponentProps.tsx
  packages/grid/_modules_/grid/hooks/features/useComponents.tsx
  packages/grid/_modules_/grid/index.ts
  packages/grid/_modules_/grid/models/api/componentsApi.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
  packages/grid/_modules_/grid/models/index.ts
  packages/storybook/src/stories/playground/customize-components.stories.tsx
Labels: component: DataGrid, enhancement

#931 [docs] Add sorting page in datagrid docs
  docs/pages/components/data-grid/sorting.js
  docs/src/pages.js
  docs/src/pages/components/data-grid/rows/rows.md
  docs/src/pages/components/data-grid/sorting/BasicSortingGrid.js
  docs/src/pages/components/data-grid/sorting/BasicSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/ComparatorSortingGrid.js
  docs/src/pages/components/data-grid/sorting/ComparatorSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/DisableSortingGrid.js
  docs/src/pages/components/data-grid/sorting/DisableSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/MultiSortingGrid.js
  docs/src/pages/components/data-grid/sorting/MultiSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/OrderSortingGrid.js
  docs/src/pages/components/data-grid/sorting/OrderSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/ServerSortingGrid.js
  docs/src/pages/components/data-grid/sorting/ServerSortingGrid.tsx
  docs/src/pages/components/data-grid/sorting/sorting.md
Labels: docs

#932 [DataGrid] Fix footer visual regression
  packages/grid/_modules_/grid/components/Pagination.tsx
Labels: bug 🐛, component: DataGrid

#937 [DataGrid] Fix unstable footer height
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: DataGrid

#933 [DataGrid] Fix strict mode issue with apiRef
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/panel/Panel.tsx
  packages/grid/_modules_/grid/hooks/features/useApiRef.ts
  packages/grid/_modules_/grid/hooks/root/useApiMethod.ts
  packages/grid/x-grid/src/tests/apiRef.XGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/pagination.XGrid.test.tsx
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
  packages/storybook/.storybook/preview.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
  packages/storybook/src/stories/grid-state.stories.tsx
Labels: bug 🐛, component: DataGrid

#900 [DataGrid] Fix the accessibility of the column menu
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenuItems.tsx
Labels: accessibility, component: DataGrid

#945 [docs] Improve the docs for the filtering feature
  docs/src/pages/components/data-grid/filtering/ColumnTypeFilteringGrid.js
  docs/src/pages/components/data-grid/filtering/ColumnTypeFilteringGrid.tsx
  docs/src/pages/components/data-grid/filtering/CustomRatingOperator.js
  docs/src/pages/components/data-grid/filtering/CustomRatingOperator.tsx
  docs/src/pages/components/data-grid/filtering/ExtendNumericOperator.js
  docs/src/pages/components/data-grid/filtering/ExtendNumericOperator.tsx
  docs/src/pages/components/data-grid/filtering/ServerFilterGrid.js
  docs/src/pages/components/data-grid/filtering/ServerFilterGrid.tsx
  docs/src/pages/components/data-grid/filtering/filtering.md
  packages/grid/_modules_/grid/components/panel/filterPanel/FilterInputValue.tsx
  packages/storybook/src/stories/grid-filter.stories.tsx
Labels: component: DataGrid, docs
