Repository mui/mui-x, pull requests merged in 2021-09, with the labels that each got.

#2457 [test] Clean selection tests
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.DataGridPro.test.tsx
  test/utils/helperFn.ts
Labels: test

#2503 [core] Polish issue template
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
Labels: core

#2442 [core] Allow to create one logger per Grid instance
  packages/grid/_modules_/grid/components/base/GridErrorHandler.tsx
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridApi.ts
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/export/useGridCsvExport.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useApi.ts
  packages/grid/_modules_/grid/hooks/root/useGridApiEventHandler.ts
  packages/grid/_modules_/grid/hooks/root/useGridApiMethod.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/hooks/root/useNativeEventListener.ts
  packages/grid/_modules_/grid/hooks/utils/index.ts
  packages/grid/_modules_/grid/hooks/utils/useGridLogger.ts
  packages/grid/_modules_/grid/hooks/utils/useGridScrollFn.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/hooks/utils/useRenderInfoLog.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/hooks/utils/useStateProp.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridLoggerApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useDataGridProComponent.tsx
  packages/storybook/src/stories/grid-options.stories.tsx
Labels: core, component: DataGrid

#2504 [core] Only create one GridEventEmitter per Grid
  packages/grid/_modules_/grid/hooks/features/useGridApiRef.ts
Labels: performance, core

#2443 [DataGridPro] Only apply checkboxSelectionVisibleOnly when pagination is enabled
  docs/pages/api-docs/data-grid/data-grid-pro.md
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/x-grid/src/DataGridPro.tsx
  packages/grid/x-grid/src/tests/selection.DataGridPro.test.tsx
Labels: docs, components: DataGridPro

#2528 [DataGrid] The numeric filter operators are not handling '0' correctly
  packages/grid/_modules_/grid/models/colDef/gridNumericOperators.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#2531 [test] Disable browserstack for PRs
  .circleci/config.yml
  test/karma.conf.js
Labels: test

#2525 [docs] Clarify confusion
  packages/x-license/LICENSE.md
Labels: docs

#2463 [DataGrid] Pressing `Escape` should close `GridColumnHeaderMenu` without errors
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenuProps.tsx
  packages/grid/x-grid/src/tests/columnHeaders.DataGridPro.test.tsx
Labels: bug 🐛, accessibility, component: DataGrid, regression :rabbit2:

#2512 [core] Add typing to the details argument
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/root/index.ts
  packages/grid/_modules_/grid/hooks/root/useGridApiEventHandler.ts
  packages/grid/_modules_/grid/models/api/gridCallbackDetails.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/controlStateItem.ts
Labels: core, typescript

#2444 [DataGrid] Do not show right border of last column header when the its cells don't have it
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeadersItemCollection.tsx
Labels: component: DataGrid

#2530 [core] Publish GridEvents.rowsSet when the rows state is modified after props.rows is updated
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-grid/src/tests/state.DataGridPro.test.tsx
Labels: core, component: DataGrid

#2385 [DataGrid] Add row menu
  docs/pages/api-docs/data-grid/grid-api.md
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.js
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.tsx
  packages/grid/_modules_/grid/components/ErrorOverlay.tsx
  packages/grid/_modules_/grid/components/cell/GridActionsCell.tsx
  packages/grid/_modules_/grid/components/cell/GridActionsCellItem.tsx
  packages/grid/_modules_/grid/components/cell/index.ts
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/gridClasses.ts
  packages/grid/_modules_/grid/locales/arSD.ts
  packages/grid/_modules_/grid/locales/csCZ.ts
  packages/grid/_modules_/grid/locales/deDE.ts
  packages/grid/_modules_/grid/locales/elGR.ts
  packages/grid/_modules_/grid/locales/esES.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/itIT.ts
  packages/grid/_modules_/grid/locales/nlNL.ts
  packages/grid/_modules_/grid/locales/plPL.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/locales/ruRU.ts
  packages/grid/_modules_/grid/locales/skSK.ts
  packages/grid/_modules_/grid/locales/trTR.ts
  packages/grid/_modules_/grid/locales/ukUA.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/models/colDef/gridActionsColDef.tsx
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/colDef/gridColType.ts
  packages/grid/_modules_/grid/models/colDef/gridDefaultColumnTypes.ts
  packages/grid/_modules_/grid/models/colDef/index.ts
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#2458 [DataGrid] Add missing keys to the `classes` prop
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/GridRenderingZone.tsx
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/GridRowCount.tsx
  packages/grid/_modules_/grid/components/GridScrollArea.tsx
  packages/grid/_modules_/grid/components/GridSelectedRowCount.tsx
  packages/grid/_modules_/grid/components/GridStickyContainer.tsx
  packages/grid/_modules_/grid/components/GridViewport.tsx
  packages/grid/_modules_/grid/components/cell/GridBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditDateCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEmptyCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/components/containers/GridColumnsContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridDataContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridFooterContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridMainContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridOverlay.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/containers/GridToolbarContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/gridClasses.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/utils/useProcessedProps.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/grid/_modules_/grid/models/gridClasses.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/index.ts
  packages/grid/_modules_/grid/utils/utils.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/themeAugmentation/overrides.ts
  packages/grid/x-grid/src/themeAugmentation/overrides.ts
Labels: component: DataGrid, enhancement

#2566 [core] Only run Prettier on files different from 'next' instead of 'master'
  package.json
Labels: core

#2555 [DataGrid] Vertically align column header icons
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
Labels: component: DataGrid, enhancement

#2558 [DataGrid] Prevent scroll when selecting rows
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  test/e2e/fixtures/DataGrid/RowSelection.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: DataGrid, regression :rabbit2:

#2395 [core] Generate propTypes
  .circleci/config.yml
  babel.config.js
  docs/scripts/generateProptypes.ts
  package.json
  packages/grid/_modules_/grid/components/GridAutoSizer.tsx
  packages/grid/_modules_/grid/components/GridPagination.tsx
  packages/grid/_modules_/grid/components/GridRenderingZone.tsx
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/GridRowCount.tsx
  packages/grid/_modules_/grid/components/GridScrollArea.tsx
  packages/grid/_modules_/grid/components/GridSelectedRowCount.tsx
  packages/grid/_modules_/grid/components/GridStickyContainer.tsx
  packages/grid/_modules_/grid/components/base/GridBody.tsx
  packages/grid/_modules_/grid/components/cell/GridActionsCell.tsx
  packages/grid/_modules_/grid/components/cell/GridActionsCellItem.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEmptyCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeadersItemCollection.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnsMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridFilterMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/SortGridMenuItems.tsx
  packages/grid/_modules_/grid/components/panel/GridPanel.tsx
  packages/grid/_modules_/grid/components/panel/GridPreferencesPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/_modules_/grid/models/gridIconSlotsComponent.ts
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/data-grid/src/DataGridProps.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/useDataGridProps.ts
  packages/grid/x-grid/src/DataGridPro.tsx
Labels: docs, core

#2515 [DataGrid] Drop v4 support
  docs/pages/api-docs/data-grid/grid-api.md
  package.json
  packages/grid/_modules_/grid/components/cell/GridActionsCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/_modules_/grid/components/panel/GridPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/data-grid/package.json
  packages/grid/data-grid/src/index.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/themeAugmentation.spec.ts
  packages/grid/data-grid/src/themeAugmentation/overrides.ts
  packages/grid/data-grid/src/themeAugmentation/props.ts
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid-data-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-grid/package.json
  packages/grid/x-grid/src/index.ts
  packages/grid/x-grid/src/tests/sorting.DataGridPro.test.tsx
  packages/grid/x-grid/src/tests/themeAugmentation.spec.ts
  packages/grid/x-grid/src/themeAugmentation/overrides.ts
  packages/grid/x-grid/src/themeAugmentation/props.ts
  packages/storybook/package.json
  packages/storybook/src/stories/grid-filter.stories.tsx
  test/regressions/index.js
  yarn.lock
Labels: component: DataGrid, enhancement

#2564 [DataGrid] Make `hideFooterRowCount` prop available only for DataGridPro
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/data-grid/src/DataGridProps.ts
  packages/grid/data-grid/src/useDataGridProps.ts
  packages/grid/x-grid/src/DataGridPro.tsx
  packages/grid/x-grid/src/tests/components.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#2523 [DataGrid] Clean the selection public api
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-selection-api.json
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/models/api/gridSelectionApi.ts
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-grid/src/tests/selection.DataGridPro.test.tsx
  packages/storybook/src/stories/grid-selection.stories.tsx
Labels: breaking change, components: DataGridPro

#2578 [core] Clean GridSimpleOptions interface
  packages/grid/_modules_/grid/models/gridOptions.tsx
Labels: core, component: DataGrid, typescript

#2577 [core] Replace remaining @material-ui usages
  packages/grid/_modules_/grid/components/containers/GridToolbarContainer.tsx
  test/e2e/fixtures/DataGrid/SelectEditCell.tsx
  test/utils/index.tsx
  test/utils/licenseRelease.ts
Labels: core

#2557 [core] Synchronously subscribe to events in useGridApiEventHandler
  docs/pages/api-docs/data-grid/grid-api.md
  docs/src/pages/components/data-grid/events/SubscribeToEvents.js
  docs/src/pages/components/data-grid/events/SubscribeToEvents.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/root/useApi.ts
  packages/grid/_modules_/grid/hooks/root/useGridApiEventHandler.ts
  packages/grid/_modules_/grid/models/api/gridCoreApi.ts
  packages/grid/_modules_/grid/models/muiEvent.ts
  packages/grid/_modules_/grid/utils/eventEmitter/GridEventEmitter.ts
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/x-grid/src/DataGridPro.tsx
  packages/grid/x-grid/src/tests/events.DataGridPro.test.tsx
Labels: core, typescript

#2520 [core] Provide theme augmentation as separate module
  .codesandbox/ci.json
  .gitignore
  package.json
  packages/grid/data-grid/package.json
  packages/grid/rollup.data-grid.config.js
  packages/grid/rollup.x-grid-data-generator.config.js
  packages/grid/rollup.x-grid.config.js
  packages/grid/tsconfig.build.json
  packages/grid/x-grid-data-generator/bin/data-gen-script.js
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid/package.json
  packages/storybook/package.json
  packages/storybook/tsconfig.json
  packages/x-license/bin/license-gen-script.js
  packages/x-license/package.json
  packages/x-license/rollup.config.js
  packages/x-license/tsconfig.build.json
  scripts/sizeSnapshot/webpack.config.js
  yarn.lock
Labels: core

#2618 [docs] Cherry-pick 4.0.0 release notes
  CHANGELOG.md
  packages/storybook/package.json
Labels: docs

#2582 [docs] Explain how to use theme augmentation
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs, typescript, v5.x

#2586 [core] Remove prop-types during build
  package.json
  packages/grid/rollup.data-grid.config.js
  packages/grid/rollup.x-grid.config.js
  yarn.lock
Labels: core

#2632 [DataGrid] Improve Polish (plPL) locale
  packages/grid/_modules_/grid/locales/plPL.ts
Labels: component: DataGrid, enhancement

#2655 [docs] Fix Algolia search
  docs/pages/index.js
  docs/src/pages.js
  package.json
  yarn.lock
Labels: docs

#2657 [docs] Fix Algolia index
  docs/package.json
  yarn.lock
Labels: docs

#2606 [DataGrid] Free up column header space when icons are not visible
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/layout.DataGridPro.test.tsx
Labels: component: DataGrid, enhancement

#2667 [core] Upgrade JSS plugins to 10.8.0
  yarn.lock
Labels: core

#2656 [docs] Make sure the seach results are helpful
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/src/pages/components/data-grid/export/export.md
Labels: docs

#2581 [DataGrid] Apply `valueFormatter` to `singleSelect` select options
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/x-grid/src/tests/editRows.DataGridPro.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: bug 🐛, breaking change, component: DataGrid

#2602 [docs] Add section for controlled selection and server-side pagination
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/selection/ControlledSelectionServerPaginationGrid.js
  docs/src/pages/components/data-grid/selection/ControlledSelectionServerPaginationGrid.tsx
  docs/src/pages/components/data-grid/selection/selection.md
Labels: docs

#2663 [docs] Update installation instructions
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs

#2668 [DataGrid] Add Vietnamese (viVN) locale
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/_modules_/grid/locales/viVN.ts
Labels: component: DataGrid, enhancement

#2677 [DataGrid] Export single select operators (#2666)
  packages/grid/_modules_/grid/models/colDef/index.ts
Labels: component: DataGrid, enhancement

#2561 [core] Rework useGridRows high frequency update
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.js
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/src/pages/components/data-grid/rows/ThrottledRowsGrid.js
  docs/src/pages/components/data-grid/rows/ThrottledRowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsSelector.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsState.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/DataGridProps.ts
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/data-grid/src/useDataGridProps.ts
  packages/grid/x-grid/src/DataGridPro.tsx
  packages/grid/x-grid/src/tests/editRows.DataGridPro.test.tsx
  packages/grid/x-grid/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-grid/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-grid/src/tests/sorting.DataGridPro.test.tsx
  packages/storybook/src/components/feed-grid.tsx
  packages/storybook/src/components/pricing-grid.tsx
  packages/storybook/src/stories/grid-streaming.stories.tsx
Labels: performance, component: DataGrid

#2717 [DataGrid] Fix Italian localization
  packages/grid/_modules_/grid/locales/itIT.ts
Labels: component: DataGrid, enhancement

#2719 [docs] Fix demo throwing error
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
Labels: docs

#2669 [docs] Add type to `onChange` event argument
  docs/src/pages/components/data-grid/filtering/QuickFilteringGrid.tsx
Labels: docs

#2715 [DataGrid] Fix `undefined` in filter panel
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid, regression :rabbit2:

#2683 [core] Add benchmark script
  babel.config.js
  benchmark/browser/index.html
  benchmark/browser/index.js
  benchmark/browser/scenarios/ag-grid/index.js
  benchmark/browser/scenarios/data-grid-pro/index.js
  benchmark/browser/scenarios/mui-plus/index.js
  benchmark/browser/scenarios/react-virtualized/index.js
  benchmark/browser/scripts/benchmark.js
  benchmark/browser/webpack.config.js
  benchmark/package.json
  package.json
  yarn.lock
Labels: core

#2712 [DataGrid] Add Persian (faIR) locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/faIR.ts
  packages/grid/_modules_/grid/locales/index.ts
Labels: component: DataGrid

#2575 [core] Remove v4 conditional code
  docs/src/pages/components/data-grid/components/CustomColumnMenu.tsx
  docs/src/pages/components/data-grid/components/CustomEmptyOverlayGrid.tsx
  docs/src/pages/components/data-grid/demo/FullFeaturedDemo.tsx
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.js
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.tsx
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.js
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.tsx
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  docs/src/pages/components/data-grid/filtering/QuickFilteringGrid.tsx
  docs/src/pages/components/data-grid/style/AntDesignGrid.tsx
  docs/src/pages/components/data-grid/style/StylingRowsGrid.js
  docs/src/pages/components/data-grid/style/StylingRowsGrid.tsx
  packages/grid/_modules_/grid/components/GridPagination.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/containers/GridToolbarContainer.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/panel/GridPanel.tsx
  packages/grid/_modules_/grid/components/panel/GridPanelHeader.tsx
  packages/grid/_modules_/grid/components/panel/GridPanelWrapper.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/locales/arSD.ts
  packages/grid/_modules_/grid/utils/getGridLocalization.ts
  packages/grid/_modules_/grid/utils/utils.ts
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRating.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditTaxCode.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderPnl.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderProgress.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderRating.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderStatus.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderTotalPrice.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  packages/storybook/src/stories/playground/RecipeReviewCard.tsx
  test/regressions/TestViewer.js
Labels: core, component: DataGrid, v5.x
