Repository mui/mui-x, pull requests merged in 2021-04, with the labels that each got.

#1331 [core] Update to React 17
  .circleci/config.yml
  docs/package.json
  package.json
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/storybook/package.json
  yarn.lock
Labels: core

#1250 [XGrid] Support column reordering inside the whole grid
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/components/GridScrollArea.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-grid/src/tests/reorder.XGrid.test.tsx
Labels: bug 🐛, components: XGrid

#1374 [docs] Move density to accessibility page
  docs/src/pages/components/data-grid/accessibility/DensitySelectorGrid.js
  docs/src/pages/components/data-grid/accessibility/DensitySelectorGrid.tsx
  docs/src/pages/components/data-grid/accessibility/DensitySelectorSmallGrid.js
  docs/src/pages/components/data-grid/accessibility/DensitySelectorSmallGrid.tsx
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/rendering/rendering.md
Labels: docs

#1397 [core] Variable convention
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
Labels: core

#1327 [DataGrid][1] Make GridMainContainer tabbable
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/utils/keyboardUtils.ts
Labels: accessibility, bug 🐛, component: DataGrid

#1384 [license] Use a global storage rather than a module singleton
  packages/x-license/package.json
  packages/x-license/src/licenseInfo.ts
  packages/x-license/src/useLicenseVerifier.ts
Labels: enhancement

#1379 [DataGrid] Make "Checkbox selection" translatable
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
Labels: bug 🐛, component: DataGrid

#1368 [DataGrid] Fix performance issue when sorting columns
  docs/src/pages/components/data-grid/rendering/ValueGetterGrid.tsx
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/gridSortModel.ts
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
Labels: bug 🐛, component: DataGrid, performance

#1398 [docs] Fix anchor links on the /data-grid/filtering/ page
  docs/src/pages/components/data-grid/filtering/ColumnTypeFilteringGrid.js
  docs/src/pages/components/data-grid/filtering/ColumnTypeFilteringGrid.tsx
  docs/src/pages/components/data-grid/filtering/CustomRatingOperator.js
  docs/src/pages/components/data-grid/filtering/CustomRatingOperator.tsx
  docs/src/pages/components/data-grid/filtering/ExtendNumericOperator.js
  docs/src/pages/components/data-grid/filtering/ExtendNumericOperator.tsx
  test/regressions/index.js
Labels: docs

#1367 [DataGrid] Add missing filter tooltip translations
  packages/grid/_modules_/grid/components/toolbar/GridFilterToolbarButton.tsx
Labels: bug 🐛, component: DataGrid

#1371 [DataGrid] Remove use of row.id when id prop is available
  packages/grid/_modules_/grid/components/GridCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/GridViewport.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/grid/_modules_/grid/models/gridRows.ts
Labels: component: DataGrid, core

#1289 [DataGrid] Make column header cells focusable
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  packages/grid/_modules_/grid/components/GridCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeadersItemCollection.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/gridKeyboardSelector.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/gridKeyboardState.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/models/api/columnMenuApi.ts
  packages/grid/_modules_/grid/models/api/gridNavigationApi.ts
  packages/grid/_modules_/grid/models/api/gridVirtualizationApi.ts
  packages/grid/_modules_/grid/models/gridCell.ts
  packages/grid/_modules_/grid/utils/domUtils.ts
  packages/grid/_modules_/grid/utils/utils.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  test/utils/helperFn.ts
Labels: accessibility, bug 🐛, component: DataGrid

#1366 [DataGrid] Fix autoPageSize
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/models/gridContainerProps.ts
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/storybook/src/stories/grid-pagination.stories.tsx
Labels: bug 🐛, important

#1321 [DataGrid] Add boolean column type
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.js
  docs/src/pages/components/data-grid/columns/ColumnTypesGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/components/cell/GridBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/icons/index.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/useGridComponents.tsx
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/models/colDef/gridBooleanColDef.tsx
  packages/grid/_modules_/grid/models/colDef/gridBooleanOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/grid/_modules_/grid/models/colDef/gridColType.ts
  packages/grid/_modules_/grid/models/colDef/gridDefaultColumnTypes.ts
  packages/grid/_modules_/grid/models/gridIconSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/x-grid-data-generator/src/commodities.columns.tsx
  packages/grid/x-grid-data-generator/src/renderer/index.ts
  packages/grid/x-grid-data-generator/src/renderer/renderDone.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: component: DataGrid, enhancement

#1377 [DataGrid] Add support for custom row ids without cloning
  packages/grid/_modules_/grid/components/GridCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/GridViewport.tsx
  packages/grid/_modules_/grid/hooks/features/export/seralizers/csvSeraliser.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/gridSelectionSelector.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingSelector.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/api/filterApi.ts
  packages/grid/_modules_/grid/models/api/gridRowApi.ts
  packages/grid/_modules_/grid/models/api/gridSelectionApi.ts
  packages/grid/_modules_/grid/models/gridRows.ts
  packages/grid/_modules_/grid/models/params/gridFilterModelParams.ts
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.XGrid.test.tsx
Labels: breaking change, component: DataGrid, enhancement

#1324 [DataGrid] Ignore event from portal in cells
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#1373 [docs] Move Column definition to Columns page
  docs/src/pages/components/data-grid/columns/BasicColumnsGrid.js
  docs/src/pages/components/data-grid/columns/BasicColumnsGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.js
  docs/src/pages/components/data-grid/columns/ColumnFluidWidthGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnWidthGrid.js
  docs/src/pages/components/data-grid/columns/ColumnWidthGrid.tsx
  docs/src/pages/components/data-grid/columns/HeaderColumnsGrid.js
  docs/src/pages/components/data-grid/columns/HeaderColumnsGrid.tsx
  docs/src/pages/components/data-grid/columns/RenderCellGrid.js
  docs/src/pages/components/data-grid/columns/RenderCellGrid.tsx
  docs/src/pages/components/data-grid/columns/RenderExpandCellGrid.js
  docs/src/pages/components/data-grid/columns/RenderExpandCellGrid.tsx
  docs/src/pages/components/data-grid/columns/RenderHeaderGrid.js
  docs/src/pages/components/data-grid/columns/RenderHeaderGrid.tsx
  docs/src/pages/components/data-grid/columns/StylingCellsGrid.js
  docs/src/pages/components/data-grid/columns/StylingCellsGrid.tsx
  docs/src/pages/components/data-grid/columns/StylingHeaderGrid.js
  docs/src/pages/components/data-grid/columns/StylingHeaderGrid.tsx
  docs/src/pages/components/data-grid/columns/ValueFormatterGrid.js
  docs/src/pages/components/data-grid/columns/ValueFormatterGrid.tsx
  docs/src/pages/components/data-grid/columns/ValueGetterGrid.js
  docs/src/pages/components/data-grid/columns/ValueGetterGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/rendering/rendering.md
Labels: component: DataGrid, docs

#1409 [DataGrid] Fix printable keys to match ag
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/utils/keyboardUtils.ts
Labels: bug 🐛

#1287 [docs] Editing page with demos
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages.js
  docs/src/pages/components/data-grid/editing/BasicEditingGrid.js
  docs/src/pages/components/data-grid/editing/BasicEditingGrid.tsx
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.js
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.tsx
  docs/src/pages/components/data-grid/editing/EditRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/EditRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.js
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.tsx
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.js
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.tsx
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.js
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateCellApiRefGrid.js
  docs/src/pages/components/data-grid/editing/ValidateCellApiRefGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  docs/src/pages/components/data-grid/editing/ValueGetterGrid.js
  docs/src/pages/components/data-grid/editing/ValueGetterGrid.tsx
  docs/src/pages/components/data-grid/editing/editing.md
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: docs

#1375 [docs] Remove rendering page
  docs/pages/components/data-grid/components.js
  docs/pages/components/data-grid/layout.js
  docs/pages/components/data-grid/style.js
  docs/pages/components/data-grid/virtualization.js
  docs/src/pages.js
  docs/src/pages/components/data-grid/components/CustomEmptyOverlayGrid.js
  docs/src/pages/components/data-grid/components/CustomEmptyOverlayGrid.tsx
  docs/src/pages/components/data-grid/components/CustomLoadingOverlayGrid.js
  docs/src/pages/components/data-grid/components/CustomLoadingOverlayGrid.tsx
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.js
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.tsx
  docs/src/pages/components/data-grid/components/CustomToolbarGrid.js
  docs/src/pages/components/data-grid/components/CustomToolbarGrid.tsx
  docs/src/pages/components/data-grid/components/ToolbarGrid.js
  docs/src/pages/components/data-grid/components/ToolbarGrid.tsx
  docs/src/pages/components/data-grid/components/components.md
  docs/src/pages/components/data-grid/layout/AutoHeightGrid.js
  docs/src/pages/components/data-grid/layout/AutoHeightGrid.tsx
  docs/src/pages/components/data-grid/layout/FixedSizeGrid.js
  docs/src/pages/components/data-grid/layout/FixedSizeGrid.tsx
  docs/src/pages/components/data-grid/layout/FlexLayoutGrid.js
  docs/src/pages/components/data-grid/layout/FlexLayoutGrid.tsx
  docs/src/pages/components/data-grid/layout/layout.md
  docs/src/pages/components/data-grid/overview/overview.md
  docs/src/pages/components/data-grid/rendering/rendering.md
  docs/src/pages/components/data-grid/style/AntDesignGrid.js
  docs/src/pages/components/data-grid/style/AntDesignGrid.tsx
  docs/src/pages/components/data-grid/style/style.md
  docs/src/pages/components/data-grid/virtualization/ColumnVirtualizationGrid.js
  docs/src/pages/components/data-grid/virtualization/ColumnVirtualizationGrid.tsx
  docs/src/pages/components/data-grid/virtualization/virtualization.md
Labels: component: DataGrid, docs

#1425 [DataGrid] Fix support for falsy value from valueFormatter
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
Labels: bug 🐛, component: DataGrid

#1423 [docs] Add Shift key as option to enable multi-sorting
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  docs/src/pages/components/data-grid/selection/selection.md
  docs/src/pages/components/data-grid/sorting/sorting.md
Labels: docs

#1433 [docs] Fix x-grid-data-generator dependencies
  packages/grid/x-grid-data-generator/package.json
Labels: bug 🐛, docs

#1429 [DataGrid] Remove 'Hide' menu item with `disableColumnSelector`
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
Labels: bug 🐛, component: DataGrid

#1419 [docs] Update PropType to cover required props
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.tsx
Labels: component: DataGrid, docs

#1422 [XGrid] Fix multi-sorting when focus is not in the grid root
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/api/gridSortApi.ts
  packages/grid/_modules_/grid/utils/keyboardUtils.ts
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
Labels: bug 🐛, components: XGrid

#1443 [core] Setup e2e tests
  .circleci/config.yml
  package.json
  test/e2e/.mocharc.js
  test/e2e/TestViewer.js
  test/e2e/fixtures/DataGrid/KeyboardNavigationFocus.tsx
  test/e2e/index.js
  test/e2e/index.test.ts
  test/e2e/serve.json
  test/e2e/template.html
  test/e2e/webpack.config.js
  test/utils/setupBabel.js
Labels: component: DataGrid, core

#1459 [test] Improve test coverage of roving tabindex
  package.json
  test/e2e/index.test.ts
  test/regressions/index.test.js
Labels: component: DataGrid, test

#1458 [DataGrid] Improve support of core v5
  docs/src/pages/components/data-grid/demo/FullFeaturedDemo.js
  docs/src/pages/components/data-grid/demo/FullFeaturedDemo.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
Labels: bug 🐛, component: DataGrid

#1380 [DataGrid] Refactor useGridColumnResize
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeadersItemCollection.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/columnResizeSelector.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/columnResizeState.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/index.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
  packages/grid/_modules_/grid/models/api/columnResizeApi.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridColumnApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/params/gridColumnResizeParams.ts
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
Labels: breaking change, component: DataGrid, enhancement

#1489 [docs] No ads for commercial license
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/rows/rows.md
Labels: docs

#1488 [license] No need to test the location
  packages/x-license/src/verifyLicense.ts
Labels: core

#1447 [docs] Fix typos
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/models/api/gridComponentsApi.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
Labels: docs

#1436 [core] Remove React.FC
  packages/grid/_modules_/grid/components/GridCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/GridRowCount.tsx
  packages/grid/_modules_/grid/components/GridStickyContainer.tsx
  packages/grid/_modules_/grid/components/Watermark.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnsMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridFilterMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/SortGridMenuItems.tsx
  packages/grid/_modules_/grid/components/toolbar/GridColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/storybook/src/components/feed-grid.tsx
  packages/storybook/src/components/pricing-grid.tsx
  packages/storybook/src/stories/grid-style.stories.tsx
Labels: core, typescript

#1446 [DataGrid] Add Italian (itIT) locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/_modules_/grid/locales/itIT.ts
Labels: component: DataGrid

#1487 [l10n] Correct quantities in plPL locale
  packages/grid/_modules_/grid/locales/plPL.ts
Labels: bug 🐛

#1456 [DataGrid] Forward props for all Toolbar and Footer components
  packages/grid/_modules_/grid/components/GridRowCount.tsx
  packages/grid/_modules_/grid/components/GridSelectedRowCount.tsx
  packages/grid/_modules_/grid/components/toolbar/GridColumnsToolbarButton.tsx
  packages/grid/_modules_/grid/components/toolbar/GridDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
Labels: component: DataGrid, enhancement

#1450 [DataGrid] Add support for `classes` prop
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-grid/src/XGrid.tsx
Labels: component: DataGrid, enhancement

#1361 [test] Run more tests in jsdom
  .mocharc.js
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/data-grid/src/tests/components.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/state.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/editRows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/events.XGrid.test.tsx
  packages/grid/x-grid/src/tests/export.XGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/pagination.XGrid.test.tsx
  packages/grid/x-grid/src/tests/reorder.XGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.XGrid.test.tsx
  packages/grid/x-grid/src/tests/sorting.XGrid.test.tsx
  packages/grid/x-grid/src/tests/state.XGrid.test.tsx
  test/utils/index.tsx
Labels: test

#1466 [core] Label our packages as side effect free
  packages/grid/data-grid/package.json
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid/package.json
  packages/x-license/package.json
Labels: core, performance

#1445 [DataGrid] Allow to customize the overlay when there're no filtered rows
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/components/GridNoResultsOverlay.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/useGridComponents.tsx
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/locales/deDE.ts
  packages/grid/_modules_/grid/locales/elGR.ts
  packages/grid/_modules_/grid/locales/esES.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/jaJP.ts
  packages/grid/_modules_/grid/locales/nlNL.ts
  packages/grid/_modules_/grid/locales/plPL.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/locales/ukUA.ts
  packages/grid/_modules_/grid/models/api/gridComponentsApi.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
  packages/storybook/src/stories/grid-filter.stories.tsx
Labels: component: DataGrid, enhancement

#1505 [DataGrid] Fix autoPageSize with small dataset
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#1510 [docs] Better document how to disable row selection
  docs/src/pages/components/data-grid/selection/DisableClickSelectionGrid.js
  docs/src/pages/components/data-grid/selection/DisableClickSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/selection.md
Labels: component: DataGrid, docs

#1504 [DataGrid] Fix invalid translation key
  packages/grid/_modules_/grid/components/toolbar/GridFilterToolbarButton.tsx
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#1516 [docs] Fix Data grid feature comparison
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs

#1448 [DataGrid] Add getRowClassName prop
  docs/pages/api-docs/data-grid.md
  docs/pages/api-docs/x-grid.md
  docs/src/pages/components/data-grid/rows/StylingRowsGrid.js
  docs/src/pages/components/data-grid/rows/StylingRowsGrid.tsx
  docs/src/pages/components/data-grid/rows/rows.md
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#1499 [core] Drop support for Node 10
  .browserslistrc
  .codesandbox/ci.json
  netlify.toml
  packages/grid/data-grid/package.json
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid/package.json
  packages/x-license/package.json
Labels: breaking change, core

#1520 [core] Reduce work in data grid
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
Labels: core, performance

#1526 [DataGrid] Add Turkish (trTR) locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/index.ts
  packages/grid/_modules_/grid/locales/trTR.ts
Labels: component: DataGrid

#1525 [docs] Fix Feature comparison 404 links
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs
