Repository mui/mui-x, pull requests merged in 2021-08, with the labels that each got.

#2243 [core] Move GridFilterModel in the models directory
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-filter-api.json
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterModelState.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/models/api/gridFilterApi.ts
  packages/grid/_modules_/grid/models/gridFilterModel.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/index.ts
Labels: core

#2246 [DataGrid] Fix filter with extended columns
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid, regression :rabbit2:

#2208 [DataGrid] Canonical controlled state behavior
  packages/grid/_modules_/grid/hooks/features/core/useGridControlState.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridState.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/models/api/gridControlStateApi.ts
  packages/grid/_modules_/grid/models/controlStateItem.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.XGrid.test.tsx
Labels: core, enhancement

#2220 [DataGrid] Polish cell editing
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/x-grid.md
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.js
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/events/events.json
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/models/api/gridEditRowApi.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/params/gridEditCellParams.ts
  packages/grid/x-grid-data-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRating.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditTaxCode.tsx
  packages/grid/x-grid/src/tests/editRows.XGrid.test.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  test/e2e/fixtures/DataGrid/SelectEditCell.tsx
Labels: breaking change, component: DataGrid

#2219 [docs] Improve slot API docs
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/x-grid.md
  packages/grid/_modules_/grid/hooks/features/useGridComponents.tsx
  packages/grid/_modules_/grid/models/api/gridComponentsApi.ts
  packages/grid/_modules_/grid/models/gridIconSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
Labels: component: DataGrid, docs

#2213 [core] Use rootProps instead of options in Grid components except for classes
  packages/grid/_modules_/grid/GridBody.tsx
  packages/grid/_modules_/grid/GridErrorHandler.tsx
  packages/grid/_modules_/grid/GridFooterPlaceholder.tsx
  packages/grid/_modules_/grid/GridHeaderPlaceholder.tsx
  packages/grid/_modules_/grid/GridOverlays.tsx
  packages/grid/_modules_/grid/components/GridFooter.tsx
  packages/grid/_modules_/grid/components/GridPagination.tsx
  packages/grid/_modules_/grid/components/GridViewport.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnUnsortedIcon.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnsMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/GridFilterMenuItem.tsx
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/_modules_/grid/components/panel/GridPreferencesPanel.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbar.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarColumnsButton.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/_modules_/grid/hooks/utils/useGridRootProps.ts
Labels: core

#2176 [core] Isolate DataGrid and XGrid
  docs/src/pages/components/data-grid/selection/ControlledSelectionGrid.tsx
  packages/grid/_modules_/grid/GridComponent.tsx
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/Watermark.tsx
  packages/grid/_modules_/grid/components/base/GridBody.tsx
  packages/grid/_modules_/grid/components/base/GridErrorHandler.tsx
  packages/grid/_modules_/grid/components/base/GridFooterPlaceholder.tsx
  packages/grid/_modules_/grid/components/base/GridHeaderPlaceholder.tsx
  packages/grid/_modules_/grid/components/base/GridOverlays.tsx
  packages/grid/_modules_/grid/components/base/index.ts
  packages/grid/_modules_/grid/components/index.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/density/densityState.ts
  packages/grid/_modules_/grid/hooks/features/selection/gridSelectionSelector.ts
  packages/grid/_modules_/grid/hooks/features/selection/gridSelectionState.ts
  packages/grid/_modules_/grid/hooks/features/selection/index.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/useLicenseState.ts
  packages/grid/_modules_/grid/index.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/gridSelectionModel.ts
  packages/grid/_modules_/grid/models/params/gridSelectionModelChangeParams.ts
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/_modules_/grid/useGridComponent.tsx
  packages/grid/_modules_/grid/utils/material-ui-utils.ts
  packages/grid/data-grid/src/DataGrid.tsx
  packages/grid/data-grid/src/DataGridPropTypes.ts
  packages/grid/data-grid/src/DataGridProps.ts
  packages/grid/data-grid/src/index.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/data-grid/src/useDataGridProps.ts
  packages/grid/x-grid/src/XGrid.tsx
  packages/grid/x-grid/src/XGridProps.ts
  packages/grid/x-grid/src/index.ts
  packages/grid/x-grid/src/tests/selection.XGrid.test.tsx
  packages/grid/x-grid/src/useXGridComponent.tsx
  packages/grid/x-grid/src/useXGridProps.ts
  packages/storybook/src/stories/grid-pagination.stories.tsx
  packages/storybook/src/stories/grid-selection.stories.tsx
Labels: component: DataGrid, core

#2282 [DataGrid] Allow non-integer column width for flex columns
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/data-grid/src/tests/layout.DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: component: DataGrid

#2249 [core] Batch small changes
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/x-grid.md
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.js
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/style/StylingRowsGrid.js
  docs/src/pages/components/data-grid/style/StylingRowsGrid.tsx
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridReducer.ts
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/utils/material-ui-utils.ts
  packages/grid/_modules_/grid/utils/utils.ts
Labels: umbrella

#2247 [XGrid] Document virtualization APIs in virtualization section
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-virtualization-api.json
  docs/scripts/buildApi.ts
  docs/src/pages/components/data-grid/export/CsvExportApiNoSnap.js
  docs/src/pages/components/data-grid/filtering/FilterApiNoSnap.js
  docs/src/pages/components/data-grid/selection/SelectionApiNoSnap.js
  docs/src/pages/components/data-grid/virtualization/VirtualizationApiNoSnap.js
  docs/src/pages/components/data-grid/virtualization/virtualization.md
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/models/api/gridVirtualizationApi.ts
  packages/grid/_modules_/grid/utils/utils.ts
Labels: docs, components: XGrid

#2287 v4.0.0-alpha.36
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/data-grid/package.json
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid/package.json
  packages/storybook/package.json
  packages/x-license/package.json
Labels: core

#2278 [docs] Sort events alphabetically
  docs/scripts/buildApi.ts
  docs/src/pages/components/data-grid/events/events.json
Labels: docs

#2242 [DataGrid] Fix renderCell returning false-ish values
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/data-grid/src/tests/cells.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#2188 [typescript] Improve type coverage of colDef
  docs/pages/api-docs/data-grid/grid-cell-params.md
  docs/pages/api-docs/data-grid/grid-row-params.md
  docs/scripts/formattedTSDemos.js
  docs/src/pages/components/data-grid/columns/RenderExpandCellGrid.js
  docs/src/pages/components/data-grid/sorting/ComparatorSortingGrid.tsx
  docs/src/pages/components/data-grid/style/style.md
  packages/grid/_modules_/grid/components/cell/GridBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/models/api/gridEditRowApi.ts
  packages/grid/_modules_/grid/models/gridFilterOperator.ts
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnHeaderParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnOrderChangeParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnResizeParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnVisibilityChangeParams.ts
  packages/grid/_modules_/grid/models/params/gridRowParams.ts
  packages/grid/_modules_/grid/models/params/gridRowScrollEndParams.ts
  packages/grid/_modules_/grid/models/params/gridSortModelParams.ts
  packages/grid/_modules_/grid/models/params/gridStateChangeParams.ts
  packages/storybook/src/stories/grid-sorting.stories.tsx
Labels: breaking change, typescript

#2302 [test] Assert that event.defaultMuiPrevented is called
  packages/grid/x-grid/src/tests/events.XGrid.test.tsx
Labels: test, component: DataGrid

#2298 [CHANGELOG] Make it easier to follow
  CHANGELOG.md
Labels: docs

#2301 [docs] Fix page size warnings
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.js
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.tsx
  docs/src/pages/components/data-grid/overview/DataGridDemo.js
  docs/src/pages/components/data-grid/overview/DataGridDemo.tsx
  docs/src/pages/components/data-grid/pagination/200PaginationGrid.js
  docs/src/pages/components/data-grid/pagination/200PaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ApiRefPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/ControlledPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ControlledPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/CursorPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/CursorPaginationGrid.tsx
  docs/src/pages/components/data-grid/pagination/ServerPaginationGrid.js
  docs/src/pages/components/data-grid/pagination/ServerPaginationGrid.tsx
  docs/src/pages/components/data-grid/style/AntDesignGrid.js
  docs/src/pages/components/data-grid/style/AntDesignGrid.tsx
Labels: docs, component: DataGrid

#2295 [DataGrid] Remove dependency on x-license
  packages/grid/_modules_/grid/components/Watermark.tsx
  packages/grid/_modules_/grid/components/index.ts
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/features/useLicenseState.ts
  packages/grid/data-grid/src/DataGridProps.ts
  packages/grid/x-grid/src/useXGridComponent.tsx
  packages/x-license/src/index.ts
  packages/x-license/src/useLicenseVerifier.ts
Labels: bug 🐛, component: DataGrid, regression :rabbit2:

#2269 [DataGrid] Add Sudanese Arabic (arSD) locale
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/arSD.ts
  packages/grid/_modules_/grid/locales/index.ts
Labels: PR: on hold, component: DataGrid

#2274 [DataGrid] Add isEmpty and isNotEmpty filter operators for date and number columns
  packages/grid/_modules_/grid/models/colDef/gridBooleanOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridDateOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridNumericOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridStringOperators.ts
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: component: DataGrid, enhancement

#2284 [core] Reduce options usage in feature hook (2)
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useXGridComponent.tsx
Labels: core

#2275 [core] Reduce options usage in feature hooks
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/useGridComponents.tsx
  packages/grid/_modules_/grid/hooks/utils/useErrorHandler.ts
  packages/grid/_modules_/grid/hooks/utils/useLogger.ts
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useXGridComponent.tsx
Labels: core

#2311 [DataGrid] Improve error message if using multiple versions of data grid
  packages/grid/_modules_/grid/hooks/root/useGridApiContext.ts
Labels: component: DataGrid, enhancement

#2296 [DataGrid] Translate booleans when exporting to CSV
  packages/grid/_modules_/grid/models/colDef/gridBooleanColDef.tsx
  packages/grid/x-grid/src/tests/export.XGrid.test.tsx
Labels: component: DataGrid, enhancement

#2279 [DataGrid] Group events into a single enum
  docs/scripts/buildApi.ts
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.js
  docs/src/pages/components/data-grid/editing/CatchEditingEventsGrid.tsx
  docs/src/pages/components/data-grid/events/events.json
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/GridScrollArea.tsx
  packages/grid/_modules_/grid/components/base/GridBody.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridApi.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridState.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualColumns.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useApi.ts
  packages/grid/_modules_/grid/hooks/root/useEvents.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/hooks/root/useNativeEventListener.ts
  packages/grid/_modules_/grid/hooks/utils/useErrorHandler.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/x-grid/src/tests/editRows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/events.XGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/selection.XGrid.test.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: core

#2244 [core] Use type inference in selectors
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderSelector.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/columnResizeSelector.ts
  packages/grid/_modules_/grid/hooks/features/density/densitySelector.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/focus/gridFocusStateSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsSelector.ts
  packages/grid/_modules_/grid/hooks/features/selection/gridSelectionSelector.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingSelector.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/renderingStateSelector.ts
  packages/grid/_modules_/grid/hooks/root/gridContainerSizesSelector.ts
Labels: core, typescript

#2276 [DataGrid] Don't break the page if `valueOptions` is missing from the `ColDef`
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#2314 [DataGrid] Merge useGridVirtualColumns into useGridVirtualRows
  packages/grid/_modules_/grid/hooks/features/virtualization/index.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/renderingState.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualColumns.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
Labels: component: DataGrid, enhancement

#2300 [core] Remove use of getState
  CHANGELOG.md
  docs/pages/api-docs/data-grid/grid-api.md
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/models/api/gridStateApi.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
Labels: core

#2281 [DataGrid] Drop support of v4 below `4.12.0`
  docs/src/pages/components/data-grid/components/CustomColumnMenu.js
  docs/src/pages/components/data-grid/components/CustomColumnMenu.tsx
  docs/src/pages/components/data-grid/components/CustomEmptyOverlayGrid.js
  docs/src/pages/components/data-grid/components/CustomEmptyOverlayGrid.tsx
  docs/src/pages/components/data-grid/demo/FullFeaturedDemo.js
  docs/src/pages/components/data-grid/demo/FullFeaturedDemo.tsx
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.js
  docs/src/pages/components/data-grid/editing/IsCellEditableGrid.tsx
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.js
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  docs/src/pages/components/data-grid/filtering/QuickFilteringGrid.js
  docs/src/pages/components/data-grid/filtering/QuickFilteringGrid.tsx
  docs/src/pages/components/data-grid/localization/localization.md
  docs/src/pages/components/data-grid/style/AntDesignGrid.js
  docs/src/pages/components/data-grid/style/AntDesignGrid.tsx
  docs/src/pages/components/data-grid/style/StylingRowsGrid.js
  docs/src/pages/components/data-grid/style/StylingRowsGrid.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/data-grid/README.md
  packages/grid/data-grid/package.json
  packages/grid/x-grid-data-generator/package.json
  packages/grid/x-grid/README.md
  packages/grid/x-grid/package.json
Labels: bug 🐛, docs, breaking change

#2299 [DataGrid] Remove private API from the export
  docs/src/pages/components/data-grid/events/events.md
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridControlState.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/root/index.ts
  packages/grid/_modules_/grid/hooks/root/useApi.ts
  packages/grid/_modules_/grid/hooks/root/useGridApiEventHandler.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/useDataGridProps.ts
  packages/grid/x-grid/src/useXGridProps.ts
Labels: breaking change, component: DataGrid

#2327 [DataGrid] Remove unused row CSS classes
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/GridViewport.tsx
Labels: breaking change, component: DataGrid

#2317 [core] Stop using options.scrollbarSize
  packages/grid/_modules_/grid/hooks/features/core/gridState.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/hooks/utils/useGridScrollbarSizeDetector.ts
  packages/grid/_modules_/grid/models/gridContainerProps.ts
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useXGridComponent.tsx
Labels: core, component: DataGrid

#2340 [test] Use .not.to.equal on assertions
  packages/grid/data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-grid/src/tests/columns.XGrid.test.tsx
  packages/grid/x-grid/src/tests/filtering.XGrid.test.tsx
  packages/grid/x-grid/src/tests/state.XGrid.test.tsx
Labels: test

#2342 [DataGrid] Fix keyboard navigation header regression
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid, regression :rabbit2:

#2339 [docs] Update the icons for the new branding
  CHANGELOG.md
  docs/public/static/x/header-icon.png
  docs/public/static/x/premium.svg
  docs/public/static/x/pro.svg
  docs/src/modules/XWrapper.js
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#2307 [DataGrid] TypeScript module augmentation for theme
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/x-grid.md
  packages/grid/_modules_/grid/models/gridClasses.ts
  packages/grid/data-grid/src/index.ts
  packages/grid/data-grid/src/tests/themeAugmentation.spec.ts
  packages/grid/data-grid/src/themeAugmentation/index.js
  packages/grid/data-grid/src/themeAugmentation/index.ts
  packages/grid/data-grid/src/themeAugmentation/overrides.ts
  packages/grid/data-grid/src/themeAugmentation/props.ts
  packages/grid/x-grid/src/index.ts
  packages/grid/x-grid/src/tests/themeAugmentation.spec.ts
  packages/grid/x-grid/src/themeAugmentation/index.js
  packages/grid/x-grid/src/themeAugmentation/index.ts
  packages/grid/x-grid/src/themeAugmentation/overrides.ts
  packages/grid/x-grid/src/themeAugmentation/props.ts
Labels: bug 🐛, component: DataGrid, typescript

#2318 [core] Reduce options usage (3)
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/components/panel/GridColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useXGridComponent.tsx
Labels: core, component: DataGrid

#2312 [DataGrid] Remove `apiRef` from `options` params
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/grid-cell-params.md
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/pages/api-docs/data-grid/grid-row-params.md
  docs/pages/api-docs/data-grid/x-grid.md
  docs/src/pages/components/data-grid/columns/RenderCellGrid.tsx
  docs/src/pages/components/data-grid/columns/RenderExpandCellGrid.tsx
  docs/src/pages/components/data-grid/columns/columns.md
  docs/src/pages/components/data-grid/editing/RenderRatingEditCellGrid.tsx
  docs/src/pages/components/data-grid/editing/StartEditButtonGrid.tsx
  docs/src/pages/components/data-grid/events/events.json
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/cell/GridBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditDateCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridApi.ts
  packages/grid/_modules_/grid/hooks/features/core/useGridState.ts
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/hooks/utils/useResizeContainer.ts
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnHeaderParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnOrderChangeParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnResizeParams.ts
  packages/grid/_modules_/grid/models/params/gridColumnVisibilityChangeParams.ts
  packages/grid/_modules_/grid/models/params/gridResizeParams.ts
  packages/grid/_modules_/grid/models/params/gridRowParams.ts
  packages/grid/_modules_/grid/models/params/gridRowScrollEndParams.ts
  packages/grid/_modules_/grid/models/params/index.ts
  packages/grid/data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderAvatar.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditRating.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-grid-data-generator/src/renderer/renderEditTaxCode.tsx
  packages/grid/x-grid/src/tests/events.XGrid.test.tsx
  packages/grid/x-grid/src/tests/state.XGrid.test.tsx
  packages/storybook/src/stories/grid-state.stories.tsx
  packages/storybook/src/stories/playground/customize-components.stories.tsx
  test/e2e/fixtures/DataGrid/SelectEditCell.tsx
Labels: breaking change, component: DataGrid

#2345 [core] Keep prop-types in the same file
  packages/grid/data-grid/src/DataGrid.tsx
Labels: core, component: DataGrid

#2330 [DataGrid] Don't apply `box-sizing: border-box` on everything
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: DataGrid

#2377 [core] Upgrade dependency with the monorepo
  yarn.lock
Labels: core

#2098 [DataGrid] Row editing
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-edit-row-api.json
  docs/pages/api-docs/data-grid/x-grid.md
  docs/scripts/buildApi.ts
  docs/src/pages/components/data-grid/editing/BasicRowEditingGrid.js
  docs/src/pages/components/data-grid/editing/BasicRowEditingGrid.tsx
  docs/src/pages/components/data-grid/editing/CellEditControlGrid.js
  docs/src/pages/components/data-grid/editing/CellEditControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.js
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.tsx
  docs/src/pages/components/data-grid/editing/EditApiNoSnap.js
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.js
  docs/src/pages/components/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/src/pages/components/data-grid/editing/RowEditControlGrid.js
  docs/src/pages/components/data-grid/editing/RowEditControlGrid.tsx
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/events/events.json
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/_modules_/grid/components/GridRow.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/constants/eventsConstants.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/models/api/gridEditRowApi.ts
  packages/grid/_modules_/grid/models/gridCell.ts
  packages/grid/_modules_/grid/models/gridEditRowModel.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/x-grid/src/tests/editRows.XGrid.test.tsx
  packages/grid/x-grid/src/tests/rows.XGrid.test.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: component: DataGrid, enhancement

#2320 [DataGrid] Replace hard coded classes with gridClasses
  packages/grid/_modules_/grid/components/GridRenderingZone.tsx
  packages/grid/_modules_/grid/components/GridRowCount.tsx
  packages/grid/_modules_/grid/components/GridScrollArea.tsx
  packages/grid/_modules_/grid/components/GridSelectedRowCount.tsx
  packages/grid/_modules_/grid/components/GridStickyContainer.tsx
  packages/grid/_modules_/grid/components/cell/GridBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditDateCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEmptyCell.tsx
  packages/grid/_modules_/grid/components/cell/GridRowCells.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/components/containers/GridColumnsContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridDataContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridFooterContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridMainContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridOverlay.tsx
  packages/grid/_modules_/grid/components/containers/GridRoot.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/components/containers/GridToolbarContainer.tsx
  packages/grid/_modules_/grid/components/containers/GridWindow.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/gridClasses.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/utils/useOptionsProp.ts
  packages/grid/_modules_/grid/index.ts
  packages/grid/_modules_/grid/models/colDef/gridCheckboxSelection.tsx
  packages/grid/_modules_/grid/utils/domUtils.ts
  packages/grid/_modules_/grid/utils/utils.ts
Labels: component: DataGrid, enhancement

#2336 [DataGrid] Use rowIndex relative to visible rows on keyboard navigation
  packages/grid/_modules_/grid/components/GridViewport.tsx
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#2378 [core] Update `doesSupportTouchActionNone` implementation using `CSS.supports`
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
Labels: core, components: XGrid

#2381 [docs] Fix docs links and pagination sentence
  docs/src/pages/components/data-grid/components/components.md
  docs/src/pages/components/data-grid/editing/editing.md
  docs/src/pages/components/data-grid/pagination/pagination.md
Labels: docs, component: DataGrid

#2390 [docs] Fix onCellEditCommit param type
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
Labels: docs, component: DataGrid

#2394 [docs] Fix docs for `onEditRowsModelChange` prop
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  packages/grid/_modules_/grid/models/gridOptions.tsx
Labels: docs

#2396 [docs] Add `Row & Cell editing` in features list
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#2389 [docs] Add redirect from XGrid to DataGridPro
  docs/public/_redirects
Labels: docs

#2343 [core] Clean up grid column
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
Labels: core, component: DataGrid

#2459 [docs] Replace 'paging' with 'pagination'
  docs/src/pages/components/data-grid/pagination/pagination.md
Labels: docs

#2468 [core] Improve the feedback loop from developers
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.md
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: core

#2319 [core] List the requirement of each hooks
  packages/grid/_modules_/grid/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/export/useGridCsvExport.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/_modules_/grid/hooks/features/localeText/useLocaleText.tsx
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridFreezeRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridParamsApi.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualRows.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/hooks/root/useGridEvents.ts
  packages/grid/_modules_/grid/hooks/utils/useGridResizeContainer.ts
  packages/grid/_modules_/grid/hooks/utils/useRenderInfoLog.ts
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/useDataGridProComponent.tsx
Labels: docs, core, component: DataGrid

#2391 [docs] Fix arguments in onXXX props
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
Labels: docs

#2393 [DataGrid] Fix TypeScript type error for toolbar components
  packages/grid/_modules_/grid/components/toolbar/GridToolbar.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarColumnsButton.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
Labels: component: DataGrid, typescript

#2452 [docs] Fix JSDoc comments
  .eslintrc.js
  docs/pages/api-docs/data-grid/grid-api.md
  package.json
  packages/grid/_modules_/grid/GridComponentProps.ts
  packages/grid/_modules_/grid/components/GridAutoSizer.tsx
  packages/grid/_modules_/grid/models/api/gridCoreApi.ts
  packages/grid/_modules_/grid/models/api/gridCsvExportApi.ts
  packages/grid/_modules_/grid/models/api/gridDensityApi.ts
  packages/grid/_modules_/grid/models/api/gridEditRowApi.ts
  packages/grid/_modules_/grid/models/api/gridRowApi.ts
  packages/grid/_modules_/grid/models/api/gridVirtualizationApi.ts
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/_modules_/grid/models/gridRows.ts
  packages/grid/_modules_/grid/models/params/gridCellParams.ts
  packages/grid/_modules_/grid/models/params/gridRowParams.ts
  yarn.lock
Labels: docs

#2467 [docs] Improve SEO ranking
  docs/public/_redirects
  docs/src/pages/components/data-grid/export/export.md
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs

#2326 [DataGrid] Add `disableVirtualization` to disable virtualization completely
  docs/pages/api-docs/data-grid/data-grid-pro.md
  docs/pages/api-docs/data-grid/data-grid.md
  docs/pages/api-docs/data-grid/grid-scroll-api.json
  docs/scripts/buildApi.ts
  docs/src/pages/components/data-grid/virtualization/VirtualizationApiNoSnap.js
  docs/src/pages/components/data-grid/virtualization/virtualization.md
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/hooks/features/scroll/index.ts
  packages/grid/_modules_/grid/hooks/features/scroll/useGridScroll.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/index.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridNoVirtualization.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualization.ts
  packages/grid/_modules_/grid/hooks/root/useGridContainerProps.ts
  packages/grid/_modules_/grid/hooks/utils/useGridScrollFn.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridScrollApi.ts
  packages/grid/_modules_/grid/models/api/gridVirtualizationApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridOptions.tsx
  packages/grid/data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/data-grid/src/useDataGridComponent.tsx
  packages/grid/x-grid/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-grid/src/useDataGridProComponent.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: component: DataGrid, enhancement
