Repository mui/mui-x, pull requests merged in 2022-01, with the labels that each got.

#3496 [core] Stop using deprecated `useGridState` and `useGridApi`
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.js
  docs/src/pages/components/data-grid/components/CustomPaginationGrid.tsx
  docs/src/pages/components/data-grid/style/AntDesignGrid.js
  docs/src/pages/components/data-grid/style/AntDesignGrid.tsx
  packages/grid/_modules_/grid/components/base/GridErrorHandler.tsx
  packages/grid/_modules_/grid/hooks/core/useGridErrorHandler.ts
  packages/grid/_modules_/grid/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/_modules_/grid/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/export/useGridPrintExport.tsx
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/focus/useGridFocus.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/utils/useCurrentPageRows.ts
  packages/grid/_modules_/grid/hooks/utils/useGridSelector.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core

#3495 [DataGrid] Add the `page` and `pageSize` to the initialState prop
  docs/src/pages/components/data-grid/pagination/PageInitialState.js
  docs/src/pages/components/data-grid/pagination/PageInitialState.tsx
  docs/src/pages/components/data-grid/pagination/PageInitialState.tsx.preview
  docs/src/pages/components/data-grid/pagination/PageSizeInitialState.js
  docs/src/pages/components/data-grid/pagination/PageSizeInitialState.tsx
  docs/src/pages/components/data-grid/pagination/PageSizeInitialState.tsx.preview
  docs/src/pages/components/data-grid/pagination/pagination.md
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/grid/_modules_/grid/hooks/features/pagination/index.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/models/gridState.ts
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGrid

#3502 [DataGridPro] Fix resizing of right pinned columns
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/_modules_/grid/components/containers/GridRootStyles.ts
  packages/grid/_modules_/grid/gridClasses.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: enhancement, component: DataGridPro

#3547 [DataGridPro] Block edition for auto-generated rows
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
Labels: bug 🐛, component: DataGridPro

#3549 [DataGridPro] Expose the field of the tree data grouping column as a constant
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
  packages/grid/_modules_/grid/hooks/features/index.ts
  packages/grid/_modules_/grid/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/grid/_modules_/grid/hooks/features/treeData/index.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGridPro

#3552 v5.2.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#3561 [docs] Fix typo exchanging `false` and `true` on columns hiding section
  docs/src/pages/components/data-grid/columns/columns.md
Labels: docs

#3504 [docs] Lint markdown in the CI
  .circleci/config.yml
  .markdownlint.jsonc
  .markdownlintignore
  CHANGELOG.md
  README.md
  docs/pages/api-docs/data-grid/grid-csv-export-options.md
  docs/src/pages/components/data-grid/editing/editing.md
  package.json
  packages/grid/_modules_/grid/lib/lodash/readme.md
  packages/grid/_modules_/grid/models/gridExport.ts
  yarn.lock
Labels: docs, test

#3521 [core] Add ESLint rule to prevent direct state access
  .eslintrc.js
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/eslint-plugin-material-ui/src/fixtures/estree.ts
  packages/eslint-plugin-material-ui/src/fixtures/tsconfig.json
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/no-direct-state-access.js
  packages/eslint-plugin-material-ui/src/rules/no-direct-state-access.test.js
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboard.ts
  yarn.lock
Labels: core

#3562 [DataGrid] Make row editing work with preProcessEditCellProps
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditRows.ts
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#3490 [DataGrid] Add a subset of used `@mui/material` components to `GridSlotsComponent`
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/_modules_/grid/components/cell/GridEditBooleanCell.tsx
  packages/grid/_modules_/grid/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/_modules_/grid/components/columnHeaders/ColumnHeaderFilterIcon.tsx
  packages/grid/_modules_/grid/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/_modules_/grid/components/menu/GridMenu.tsx
  packages/grid/_modules_/grid/components/panel/GridColumnsPanel.tsx
  packages/grid/_modules_/grid/components/panel/GridPanel.tsx
  packages/grid/_modules_/grid/components/panel/GridPreferencesPanel.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarColumnsButton.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/_modules_/grid/constants/defaultGridSlotsComponents.ts
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
  packages/grid/_modules_/grid/models/gridSlotsComponentsProps.ts
Labels: component: DataGrid, enhancement

#3431 [docs] New documentation page `State`
  docs/pages/api-docs/data-grid/selectors.json
  docs/pages/components/data-grid/state.js
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildSelectorsDocumentation.ts
  docs/scripts/api/utils.ts
  docs/src/modules/components/SelectorsDocs.js
  docs/src/pages.js
  docs/src/pages/components/data-grid/components/components.md
  docs/src/pages/components/data-grid/events/CatalogOfEventsNoSnap.js
  docs/src/pages/components/data-grid/filtering/FilterSelectorsNoSnap.js
  docs/src/pages/components/data-grid/filtering/filtering.md
  docs/src/pages/components/data-grid/pagination/PaginationSelectorsNoSnap.js
  docs/src/pages/components/data-grid/pagination/pagination.md
  docs/src/pages/components/data-grid/sorting/SortingSelectorsNoSnap.js
  docs/src/pages/components/data-grid/sorting/sorting.md
  docs/src/pages/components/data-grid/state/DirectSelector.js
  docs/src/pages/components/data-grid/state/DirectSelector.tsx
  docs/src/pages/components/data-grid/state/DirectSelector.tsx.preview
  docs/src/pages/components/data-grid/state/InitialState.js
  docs/src/pages/components/data-grid/state/InitialState.tsx
  docs/src/pages/components/data-grid/state/InitialState.tsx.preview
  docs/src/pages/components/data-grid/state/SelectorsNoSnap.js
  docs/src/pages/components/data-grid/state/UseGridSelector.js
  docs/src/pages/components/data-grid/state/UseGridSelector.tsx
  docs/src/pages/components/data-grid/state/UseGridSelector.tsx.preview
  docs/src/pages/components/data-grid/state/state.md
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingSelector.ts
  packages/grid/_modules_/grid/hooks/utils/useGridSelector.ts
Labels: docs, component: DataGrid

#3594 [DataGridPro] Export the column pinning selector
  docs/pages/api-docs/data-grid/grid-filter-item.js
  docs/pages/api-docs/data-grid/grid-filter-model.js
  docs/pages/api-docs/data-grid/grid-filter-operator.js
  docs/pages/api-docs/data-grid/selectors.json
  docs/src/pages/components/data-grid/filtering/filtering.md
  packages/grid/_modules_/grid/hooks/features/columnPinning/index.ts
  packages/grid/_modules_/grid/hooks/features/index.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGridPro

#3597 [test] Properly wait for promise to resolve before expect
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
  test/cli.js
Labels: test

#3586 [l10n] Improve Ukrainian (ukUA) locale
  packages/grid/_modules_/grid/locales/ukUA.ts
Labels: l10n

#3590 [DataGrid] Fix line break characters breaking CSV rows
  packages/grid/_modules_/grid/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
Labels: component: DataGrid

#3551 [core] Report performance test results on each PR
  .circleci/config.yml
  .gitignore
  dangerfile.js
  package.json
  packages/grid/x-data-grid-pro/src/tests/performance.DataGridPro.test.tsx
  scripts/performance.js
  test/performance/TestViewer.js
  test/performance/fixtures/DataGrid/FilterRows100000.tsx
  test/performance/fixtures/DataGrid/SelectRows100000.tsx
  test/performance/fixtures/DataGrid/SortRows100000.tsx
  test/performance/index.js
  test/performance/serve.json
  test/performance/template.html
  test/performance/webpack.config.js
  yarn.lock
Labels: performance, core

#3604 [DataGridPro] Keep row children expansion when updating the rows
  packages/grid/_modules_/grid/hooks/core/rowGroupsPerProcessing/gridRowGroupsPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/utils/tree/buildRowTree.test.ts
  packages/grid/_modules_/grid/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: component: DataGridPro

#3603 [DataGridPro] Keep tree data grouping column width when regenerating the columns
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGridPro

#3606 [docs] Include header badges as in the other components
  docs/src/pages/components/data-grid/overview/overview.md
Labels: docs, component: DataGrid

#3595 [core] Add typing to the pre-processors methods
  packages/grid/_modules_/grid/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/core/preProcessing/useGridPreProcessing.ts
  packages/grid/_modules_/grid/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderInterfaces.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/index.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/_modules_/grid/hooks/features/columns/index.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridRegisterFilteringMethod.ts
  packages/grid/_modules_/grid/hooks/features/scroll/useGridScroll.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridRegisterSortingMethod.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/_modules_/grid/models/gridState.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core

#3588 [core] update l10n issue with a single command line
  .github/workflows/l10n.yml
  package.json
  scripts/l10n.ts
  yarn.lock
Labels: core

#2874 [DataGrid] Add `is any of` filter operator
  docs/pages/api-docs/data-grid/grid-filter-operator.md
  docs/src/pages/components/data-grid/filtering/CustomInputComponent.js
  docs/src/pages/components/data-grid/filtering/CustomInputComponent.tsx
  docs/src/pages/components/data-grid/filtering/CustomMultiValueOperator.js
  docs/src/pages/components/data-grid/filtering/CustomMultiValueOperator.tsx
  docs/src/pages/components/data-grid/filtering/CustomMultiValueOperator.tsx.preview
  docs/src/pages/components/data-grid/filtering/filtering.md
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/index.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterUtils.ts
  packages/grid/_modules_/grid/models/colDef/gridNumericOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridSingleSelectOperators.ts
  packages/grid/_modules_/grid/models/colDef/gridStringOperators.ts
  packages/grid/_modules_/grid/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGrid, enhancement

#3645 [core] Renovate should not try to update node
  renovate.json
Labels: core

#3558 [DataGrid] Fix potential memory leak warning
  packages/grid/_modules_/grid/components/ErrorOverlay.tsx
  packages/grid/_modules_/grid/components/base/GridBody.tsx
  packages/grid/_modules_/grid/components/base/GridErrorHandler.tsx
  packages/grid/_modules_/grid/components/base/GridOverlays.tsx
  packages/grid/_modules_/grid/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#3567 [docs] Make inputs to extend full height of the cell
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.js
  docs/src/pages/components/data-grid/editing/ConditionalValidationGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.js
  docs/src/pages/components/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.js
  docs/src/pages/components/data-grid/editing/ValidateServerNameGrid.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: docs

#3617 [DataGrid] Add debounce to text input
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid-pro/src/tests/editRows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
Labels: component: DataGrid

#3527 [benchmark] Log the output of the script
  benchmark/browser/README.md
  benchmark/browser/scripts/benchmark.js
  docs/src/pages/components/data-grid/rows/InfiniteLoadingGrid.js
  docs/src/pages/components/data-grid/rows/InfiniteLoadingGrid.tsx
  test/utils/helperFn.ts
Labels: performance, core

#3607 [DataGrid] Disable Hide button if there's only one visible column
  packages/grid/_modules_/grid/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
Labels: component: DataGrid

#3651 [core] Add language to markdown code block
  benchmark/browser/README.md
Labels: core

#3653 [core] Update monorepo
  docs/package.json
  yarn.lock
Labels: core

#3657 [DataGridPro] Add doc example for tree data children lazy loading
  docs/src/pages/components/data-grid/group-pivot/TreeDataLazyLoading.js
  docs/src/pages/components/data-grid/group-pivot/TreeDataLazyLoading.tsx
  docs/src/pages/components/data-grid/group-pivot/TreeDataLazyLoading.tsx.preview
  docs/src/pages/components/data-grid/group-pivot/group-pivot.md
Labels: docs, component: DataGridPro

#3646 [core] Don't bump peer dependency ranges on dependency updates
  renovate.json
Labels: core

#3649 [docs] Fix prop vs. property naming
  docs/src/pages/components/data-grid/sorting/sorting.md
Labels: docs

#3560 [docs] Replace @mui/styles in x-data-grid-generator
  docs/pages/_app.js
  packages/grid/x-data-grid-generator/src/renderer/renderCountry.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditContractType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditRateType.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditRating.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditTaxCode.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderLink.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderPnl.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderProgress.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderRating.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderTotalPrice.tsx
  packages/storybook/package.json
  packages/storybook/src/stories/grid-filter.stories.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  test/regressions/index.test.js
Labels: docs

#3550 [DataGrid] Introduce a `maxWidth` property in `GridColDef`
  docs/pages/api-docs/data-grid/grid-col-def.md
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.js
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx
  docs/src/pages/components/data-grid/columns/ColumnSizingGrid.tsx.preview
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/_modules_/grid/models/colDef/gridColDef.ts
  packages/grid/_modules_/grid/models/colDef/gridStringColDef.ts
  packages/grid/_modules_/grid/utils/utils.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: DataGrid

#3623 [DataGrid] Allow to pass `csvOptions` and `printOptions` to `GridToolbar`
  docs/src/pages/components/data-grid/export/ExportCustomToolbar.js
  docs/src/pages/components/data-grid/export/ExportCustomToolbar.tsx
  docs/src/pages/components/data-grid/export/ExportCustomToolbar.tsx.preview
  docs/src/pages/components/data-grid/export/ExportDefaultToolbar.js
  docs/src/pages/components/data-grid/export/ExportDefaultToolbar.tsx
  docs/src/pages/components/data-grid/export/ExportDefaultToolbar.tsx.preview
  docs/src/pages/components/data-grid/export/export.md
  packages/grid/_modules_/grid/components/toolbar/GridToolbar.tsx
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterState.ts
  packages/grid/x-data-grid-pro/src/tests/export.DataGrid.test.tsx
  packages/storybook/src/stories/grid-toolbar.stories.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGrid

#3679 [test] Skip tests on Safari
  packages/grid/x-data-grid-pro/src/tests/export.DataGrid.test.tsx
Labels: test

#3682 v5.3.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#3667 [DataGridPro] Fix grid cell losing focus when scrolling with keyboard
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  test/e2e/fixtures/DataGridPro/KeyboardNavigationFocus.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: DataGridPro

#3676 [core] Call `useGridColumnPinning` before `useGridColumns`
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
Labels: core, component: DataGridPro

#3313 [core] Generate CHANGELOG from GitHub API
  package.json
  scripts/README.md
  scripts/releaseChangelog.js
Labels: core

#3501 [DataGrid] Fix focus on checkbox cells
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: bug 🐛, component: DataGrid

#3726 [test] Wait for flags to load
  test/regressions/index.test.js
Labels: test

#3486 [test] Warn when focusing cells without syncing the state
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/components.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: test

#3728 [test] Improve test detection
  test/regressions/index.test.js
Labels: test

#3218 [DataGrid] Variable row height
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/api-docs/data-grid/selectors.json
  docs/src/pages/components/data-grid/rows/VariableRowHeightGrid.js
  docs/src/pages/components/data-grid/rows/VariableRowHeightGrid.tsx
  docs/src/pages/components/data-grid/rows/VariableRowHeightGrid.tsx.preview
  docs/src/pages/components/data-grid/rows/rows.md
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/_modules_/grid/hooks/features/density/densitySelector.ts
  packages/grid/_modules_/grid/hooks/features/density/densityState.ts
  packages/grid/_modules_/grid/hooks/features/density/useGridDensity.tsx
  packages/grid/_modules_/grid/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/_modules_/grid/hooks/features/export/useGridPrintExport.tsx
  packages/grid/_modules_/grid/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsMetaSelector.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsMetaState.ts
  packages/grid/_modules_/grid/hooks/features/rows/index.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRows.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/_modules_/grid/hooks/features/scroll/useGridScroll.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingSelector.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/_modules_/grid/models/api/gridRowsMetaApi.ts
  packages/grid/_modules_/grid/models/api/gridVirtualScrollerApi.ts
  packages/grid/_modules_/grid/models/api/index.ts
  packages/grid/_modules_/grid/models/gridState.ts
  packages/grid/_modules_/grid/models/params/gridRowParams.ts
  packages/grid/_modules_/grid/models/props/DataGridProps.ts
  packages/grid/x-data-grid-pro/src/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/DataGrid.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-data-grid/src/useDataGridComponent.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: DataGrid, enhancement

#3734 [docs] Fix typo in column visibility example
  docs/src/pages/components/data-grid/columns/columns.md
Labels: docs

#3666 [DataGridPro] Remove function overloading for `useGridApiRef`
  packages/grid/_modules_/grid/hooks/core/useGridApiInitialization.ts
  packages/grid/_modules_/grid/hooks/core/useGridInitialization.ts
  packages/grid/_modules_/grid/hooks/utils/useGridApiMethod.ts
  packages/grid/_modules_/grid/hooks/utils/useGridApiRef.ts
  packages/grid/x-data-grid-pro/src/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/DataGrid.tsx
  packages/grid/x-data-grid/src/useDataGridComponent.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: typescript, component: DataGridPro

#3735 [DataGrid] Only update the visibility status of the updates columns when calling `apiRef.current.updateRows`
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
Labels: bug 🐛, component: DataGrid

#3739 [l10n] Improve French (frFR) locale
  packages/grid/_modules_/grid/locales/frFR.ts
Labels: component: data grid

#3742 [docs] Fix broken code example on the localization page
  docs/src/pages/components/data-grid/localization/localization.md
Labels: docs

#3675 [test] Remove a useless async
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: test

#3687 [DataGrid] Add new CSV export option: `getRowsToExport`
  docs/pages/api-docs/data-grid/grid-csv-export-options.md
  docs/src/pages/components/data-grid/export/CsvGetRowsToExport.js
  docs/src/pages/components/data-grid/export/CsvGetRowsToExport.tsx
  docs/src/pages/components/data-grid/export/CsvGetRowsToExport.tsx.preview
  docs/src/pages/components/data-grid/export/CsvGetRowsToExportRowGrouping.js
  docs/src/pages/components/data-grid/export/CsvGetRowsToExportRowGrouping.tsx
  docs/src/pages/components/data-grid/export/CsvGetRowsToExportRowGrouping.tsx.preview
  docs/src/pages/components/data-grid/export/export.md
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/hooks/features/export/useGridCsvExport.tsx
  packages/grid/_modules_/grid/models/gridExport.ts
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#3733 [DataGridPro] Fix missing `styleOverrides` on pinned columns
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/_modules_/grid/gridClasses.ts
  packages/grid/x-data-grid-pro/src/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/DataGridProVirtualScroller.tsx
Labels: component: data grid

#3748 [core] Fix `l10n` script not updating csCZ locale
  packages/grid/_modules_/grid/locales/csCZ.ts
Labels: bug 🐛, core, l10n

#3660 [DataGrid] Fix Alt+c being ignored on some systems
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  packages/grid/_modules_/grid/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid

#3692 [DataGrid] Fix browser keyboard shortcuts not working when header cell is focused
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
Labels: bug 🐛, component: data grid

#3752 [test] Skip test on Firefox
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: test

#3684 [DataGrid] Update selected rows when turning off `checkboxSelection`
  docs/src/pages/components/data-grid/selection/CheckboxSelectionGrid.js
  docs/src/pages/components/data-grid/selection/CheckboxSelectionGrid.tsx
  docs/src/pages/components/data-grid/selection/CheckboxSelectionGrid.tsx.preview
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#3663 [core] Isolate selectors from different instances
  docs/scripts/api/buildSelectorsDocumentation.ts
  docs/src/modules/components/SelectorsDocs.js
  docs/src/pages/components/data-grid/state/state.md
  packages/grid/_modules_/grid/hooks/core/useGridApiInitialization.ts
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderSelector.ts
  packages/grid/_modules_/grid/hooks/features/columnResize/columnResizeSelector.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsSelector.ts
  packages/grid/_modules_/grid/hooks/features/density/densitySelector.ts
  packages/grid/_modules_/grid/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterSelector.ts
  packages/grid/_modules_/grid/hooks/features/focus/gridFocusStateSelector.ts
  packages/grid/_modules_/grid/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/_modules_/grid/hooks/features/rowGrouping/gridRowGroupingSelector.ts
  packages/grid/_modules_/grid/hooks/features/rows/gridRowsSelector.ts
  packages/grid/_modules_/grid/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/_modules_/grid/hooks/features/selection/gridSelectionSelector.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingSelector.ts
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/_modules_/grid/hooks/utils/useCurrentPageRows.ts
  packages/grid/_modules_/grid/hooks/utils/useGridSelector.ts
  packages/grid/_modules_/grid/models/api/gridCoreApi.ts
  packages/grid/_modules_/grid/utils/createSelector.spec.ts
  packages/grid/_modules_/grid/utils/createSelector.test.ts
  packages/grid/_modules_/grid/utils/createSelector.ts
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
Labels: core

#3762 [test] Remove last @ts-expect-error
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
Labels: test

#3530 [docs] Update to the kind of support provided
  docs/src/pages/components/data-grid/getting-started/getting-started.md
Labels: docs

#3744 [l10n] Improve Italian (itIT) locale
  packages/grid/_modules_/grid/locales/itIT.ts
Labels: l10n

#3529 [docs] Refresh the license key documentation
  docs/public/static/x/commercial-header-icon-dark.png
  docs/public/static/x/commercial-header-icon-light.png
  docs/public/static/x/header-icon.png
  docs/public/static/x/watermark-dark.png
  docs/public/static/x/watermark-light.png
  docs/public/static/x/watermark.png
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  docs/src/pages/components/data-grid/overview/overview.md
  packages/grid/_modules_/grid/components/Watermark.tsx
Labels: docs

#3724 [l10n] Improve Dutch (nl-NL) locale
  packages/grid/_modules_/grid/locales/nlNL.ts
Labels: component: data grid, l10n

#3775 [I10n] Improve Hebrew (he-IL) locale
  packages/grid/_modules_/grid/locales/heIL.ts
Labels: component: data grid, l10n

#3740 [docs] Fix country column sorting not working
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/x-data-grid-generator/src/commodities.columns.tsx
  packages/grid/x-data-grid-generator/src/employees.columns.tsx
  packages/grid/x-data-grid-generator/src/services/static-data.ts
Labels: component: data grid

#3680 [core] Improve GitHub label workflows
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/workflows/support-stackoverflow.yml
Labels: core

#3773 [docs] Fix flag layout shift
  packages/grid/x-data-grid-generator/src/renderer/renderCountry.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditCurrency.tsx
Labels: docs, component: data grid

#3761 [DataGrid] Fix `PageUp` jumping directly to the column header skipping the first row
  docs/src/pages/components/data-grid/accessibility/accessibility.md
  packages/grid/_modules_/grid/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, accessibility, component: data grid

#3769 [core] Remove remaining usages of @mui/styles
  benchmark/package.json
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/src/modules/XWrapper.js
  docs/src/modules/components/ApiDocs.js
  package.json
  test/regressions/TestViewer.js
  test/regressions/index.js
  yarn.lock
Labels: core
