Repository mui/mui-x, pull requests merged in 2022-10, with the labels that each got.

#6317 [pickers] Improve field selection behaviors
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: component: pickers

#6362 [CalendarPicker] Prevent getting focus when `autoFocus=false` (#6304)
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
Labels: accessibility

#5781 [docs] Apply style guide to Data Grid Aggregation page
  docs/data/data-grid/aggregation/aggregation.md
Labels: docs

#6331 [docs] Implement Style Guide on "Advanced" Data Grid doc pages
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/events/events.md
  docs/data/data-grid/state/state.md
Labels: docs

#6365 [I10n] Add Japanese (ja-JP) locale to pickers
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#6382 [l10n] Add Japanese (ja-JP) locale to pickers (#6365)
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#6377 [test] Remove redundant test clean-ups
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
Labels: test

#6324 [DateRangePicker] Force focus to stay on inputs
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerInput.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
Labels: bug 🐛

#6342 [docs] Fix customized day rendering demo style
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.tsx
Labels: docs

#6399 [docs] Fix customized day rendering demo style (#6342)
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.tsx
Labels: docs

#6406 [DataGrid] Pass generics to the components in the theme augmentation
  packages/grid/x-data-grid-pro/src/themeAugmentation/props.ts
  packages/grid/x-data-grid/src/themeAugmentation/props.ts
Labels: bug 🐛, component: data grid, typescript

#6405 [DataGrid] Fix error when using columnGrouping with all columns hidden
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/tests/columnsGrouping.DataGrid.test.tsx
Labels: bug 🐛

#6403 [DateRangePicker] Fix the shape of the first selected day when the start date has an hour set
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
Labels: regression, component: pickers

#6412 v6.0.0 alpha.2
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#6409 [DataGrid] Use generics instead of verbose state overrides
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/models/gridApiPremium.ts
  packages/grid/x-data-grid-pro/src/models/gridApiPro.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommon.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommunity.ts
Labels: core, component: data grid, typescript

#6425 [DataGrid] Fix error when using columnGrouping with all columns hidden
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/tests/columnsGrouping.DataGrid.test.tsx
Labels: bug 🐛

#6333 [data grid] Allow to limit to one filter per column
  docs/data/data-grid/filtering/DisableMultiFiltersDataGridPro.js
  docs/data/data-grid/filtering/DisableMultiFiltersDataGridPro.tsx
  docs/data/data-grid/filtering/DisableMultiFiltersDataGridPro.tsx.preview
  docs/data/data-grid/filtering/filtering.md
  docs/pages/x/api/data-grid/grid-filter-form.json
  docs/pages/x/api/data-grid/grid-filter-panel.json
  docs/translations/api-docs/data-grid/grid-filter-form-pt.json
  docs/translations/api-docs/data-grid/grid-filter-form-zh.json
  docs/translations/api-docs/data-grid/grid-filter-form.json
  docs/translations/api-docs/data-grid/grid-filter-panel-pt.json
  docs/translations/api-docs/data-grid/grid-filter-panel-zh.json
  docs/translations/api-docs/data-grid/grid-filter-panel.json
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, new feature, plan: Pro, feature: Filtering

#6408 [core] Remove unused `react-text-mask` package
  docs/package.json
  yarn.lock
Labels: core

#6337 [pickers] Add field placeholders to the locale
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/isIS.ts
  packages/x-date-pickers/src/locales/itIT.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/koKR.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/locales/zhCN.ts
Labels: component: pickers

#6420 [core] Remove absolute link
  docs/pages/x/api/data-grid/grid-aggregation-function.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  docs/scripts/api/buildInterfacesDocumentation.ts
Labels: core

#6424 [core] Send explicit warning when dayjs locale is not found
  packages/x-date-pickers/src/AdapterDayjs/index.ts
Labels: feature: Keyboard editing

#6416 [pickers] New component: `DateRangeCalendar`
  .eslintrc.js
  docs/pages/x/api/date-pickers/date-range-calendar.js
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-range-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/dateRangeCalendarClasses.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/index.ts
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/internals/index.ts
  scripts/x-date-pickers-pro.exports.json
Labels: component: pickers

#6265 [core] Test validation on textfield and date views
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/DateField.validation.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/tests/DateTimeField.validation.test.tsx
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/TimeField.validation.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.test.tsx
  packages/x-date-pickers/src/tests/describeValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testYearViewValidation.tsx
  packages/x-date-pickers/tsconfig.build.json
Labels: test

#6422 [fields] Support paste in single section
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  scripts/releaseChangelog.js
Labels: feature: Keyboard editing

#6465 [core] Fix tests for pasting on fields
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
Labels: test, core, component: pickers

#6466 [core] Fix playground structure
  .gitignore
  docs/pages/playground.example.tsx
  docs/pages/playground/example.tsx
Labels: docs, core, dx

#6423 [DataGrid] Simplify `useGridApiContext` and `useGridApiRef` type overrides
  packages/grid/x-data-grid-premium/src/hooks/utils/useGridApiContext.ts
  packages/grid/x-data-grid-premium/src/hooks/utils/useGridApiRef.ts
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/hooks/utils/useGridApiContext.ts
  packages/grid/x-data-grid-pro/src/hooks/utils/useGridApiRef.ts
Labels: core, component: data grid, typescript

#6448 [DateRangePicker] Fix calendar day outside of month layout shifting on hover
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: bug 🐛

#6471 [core] Add missing breaking change to the changelog
  CHANGELOG.md
Labels: core, component: pickers

#6467 [fields] Prepare the field exports for the public release
  docs/data/date-pickers/date-field/ControlledSelectedSections.tsx
  docs/scripts/getTypeScriptProjects.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/index.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/index.ts
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/index.ts
  packages/x-date-pickers/src/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6463 [pickers] Do not use `Partial` for `components` and `componentsProps` props
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopWrapper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/MobileWrapper.tsx
Labels: typescript, component: pickers

#6480 [docs] Organize migration pages
  CHANGELOG.md
  docs/data/migration/migration-data-grid-v4/CoreV5WithCoreV4.js
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/pages.ts
  docs/pages/x/migration/migration-data-grid-v4.js
  docs/pages/x/migration/migration-data-grid-v5.js
  docs/pages/x/migration/migration-pickers-lab.js
  docs/pages/x/react-data-grid/migration-v5.js
  docs/public/_redirects
Labels: docs

#6495 v6.0.0 alpha.3
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#6501 [docs] Fix broken links on field pages
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/time-field/time-field.md
Labels: docs

#6477 [docs] Enable inlined preview for disbled date picker
  docs/data/date-pickers/date-picker/FormPropsDatePickers.js
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx.preview
Labels: docs, component: pickers

#6503 [fields] Distinguish start and end input error on multi input fields
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
Labels: bug 🐛, component: pickers

#6322 [pickers] Fix TS type issues
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
Labels: typescript, component: pickers

#6510 [pickers] Fix TS type issues
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
Labels: typescript, component: pickers

#6242 [core] Remove outdated docsearch.js dependency
  benchmark/browser/webpack.config.js
  docs/babel.config.js
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/package.json
  package.json
  test/e2e/webpack.config.js
  test/performance/webpack.config.js
  test/regressions/index.js
  test/regressions/webpack.config.js
  yarn.lock
Labels: core

#6518 [docs] Improve markdownlint
  .markdownlint-cli2.cjs
  .markdownlint.jsonc
  .markdownlintignore
  CHANGELOG.md
  package.json
  yarn.lock
Labels: docs

#6537 [CalendarPicker] Don't move to closest enabled date when `props.date` contains a disabled date
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
Labels: component: pickers

#6538 [DateRangePicker] Fix calendar day outside of month layout shifting on hover (pick #6448)
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: bug 🐛

#6541 [docs] Fix 404 errors
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs

#6546 [core] Organize tests for pickers slots
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.test.tsx
Labels: core, component: pickers

#6504 [test] Add validation test on range pickers
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/SingleInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/tests/describeValidation.tsx
  packages/x-date-pickers-pro/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers-pro/tsconfig.build.json
Labels: test

#6539 [fields] Add a `validationError` property to the `onChange` callback
  docs/data/date-pickers/fields/LifeCycleIgnoreInvalidValue.js
  docs/data/date-pickers/fields/LifeCycleIgnoreInvalidValue.tsx
  docs/data/date-pickers/fields/LifeCycleIgnoreInvalidValue.tsx.preview
  docs/data/date-pickers/fields/fields.md
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/internals-fields/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: component: pickers

#6547 [adapters] Fix localisation of the placeholder
  packages/x-date-pickers/src/AdapterDateFns/localization.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/localization.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterLuxon/localization.test.tsx
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMoment/localization.test.tsx
  test/utils/pickers-utils.tsx
Labels: bug 🐛

#6513 [core] Link Netlify in the danger comment
  dangerfile.js
Labels: core

#6514 [core] Improve the playground DX
  .eslintignore
  .gitignore
  docs/package.json
  docs/pages/playground/.gitkeep
  docs/pages/playground/example.tsx
  docs/scripts/playground.template.tsx
  package.json
Labels: core

#6523 [core] Fix trailing spaces and git diff format
  CHANGELOG.md
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/editing/editing.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
Labels: core

#6263 [test] Remove BrowserStack
  package.json
  packages/grid/x-data-grid-pro/src/tests/printExport.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/export.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  test/karma.conf.js
  test/regressions/index.test.js
  yarn.lock
Labels: test, core

#6549 [core] Upgrade monorepo
  .eslintrc.js
  docs/data/data-grid/layout/FixedSizeGrid.js
  docs/data/data-grid/layout/FixedSizeGrid.tsx
  docs/next.config.js
  docs/package.json
  yarn.lock
Labels: core

#5982 [DataGrid] Fix grid not updating state on `rowCount` prop change
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: Row loading

#6557 [DataGrid] Add `searchPredicate` prop to `GridColumnsPanel` component
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: component: data grid, customization: extend, enhancement

#6544 [DataGridPro] Fix row order being reset after updating the row
  packages/grid/x-data-grid-pro/src/tests/rowReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: Reordering

#6542 [l10n] Improve Turkish (tr-TR) locale on the data grid and pickers
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/trTR.ts
Labels: component: data grid, l10n

#6561 [pickers] Improve consistency between single and multiple range pickers
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateTimeRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useTimeRangeValidation.ts
  packages/x-date-pickers-pro/src/tests/describeValidation.tsx
  packages/x-date-pickers-pro/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
Labels: component: DateRangePicker

#6573 [l10n] Improve Turkish (tr-TR) locale on the data grid and pickers (#6542)
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/trTR.ts
Labels: l10n

#6474 [DataGrid] Fix grid not updating state on `rowCount` prop change
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: Row loading

#6577 v5.17.8
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6576 v6.0.0-alpha.4
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6575 [core] Small typescript improvements
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/tests/testValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testTextFieldValidation.tsx
Labels: core, component: pickers

#6578 [l10n] Improve Bulgarian (bg-BG) locale
  packages/grid/x-data-grid/src/locales/bgBG.ts
Labels: component: data grid

#6459 [license] Improve the license content
  packages/grid/x-data-grid-premium/LICENSE
  packages/grid/x-data-grid-pro/LICENSE
  packages/x-date-pickers-pro/LICENSE
  packages/x-license-pro/LICENSE
Labels: docs, plan: Pro, plan: Premium

#6594 [core] Upgrade monorepo
  CHANGELOG.md
  yarn.lock
Labels: core

#6497 [docs] Check link validity in PR
  .circleci/config.yml
  babel.config.js
  docs/.link-check-errors.txt
  docs/data/data-grid/components/components.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/scripts/reportBrokenLinks.js
  package.json
Labels: docs

#6563 [test] Test Arrow up/down on every token
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
  test/utils/pickers-utils.tsx
Labels: test

#6599 [docs] Fix codesandboxes with v4
  docs/pages/_app.js
Labels: bug 🐛, docs, v4.x

#6600 [docs] Fix code edit for when v6 will be stable
  docs/pages/_app.js
Labels: docs, v5.x

#6620 [DataGrid] Fix memory leak on grid unmount
  packages/grid/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/grid/x-data-grid/src/utils/createSelector.ts
Labels: performance, component: data grid, regression

#6592 [docs] Add token to redirect feedbacks on slack
  docs/next.config.js
Labels: docs

#6591 [docs] Add feedback in next doc
  docs/next.config.js
Labels: docs

#6618 [pickers] Ignore milliseconds in mask logic
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: bug 🐛

#6617 [pickers] Update input when `inputFormat` is modified
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: bug 🐛

#6623 [pickers] Import fixes for mask editing
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: bug 🐛, feature: Mask editing

#6472 [docs] New page to migrate pickers from v5 to v6
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/pages.ts
  docs/pages/x/migration/migration-pickers-v5.js
Labels: docs, component: pickers

#6550 [pickers] Rename remaining `private` components
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/DateCalendar/pickersSlideTransitionClasses.ts
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/MonthCalendar/index.ts
  packages/x-date-pickers/src/MonthCalendar/pickersMonthClasses.ts
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/index.ts
  packages/x-date-pickers/src/YearCalendar/pickersYearClasses.ts
  packages/x-date-pickers/src/internals/components/PickersToolbarText.tsx
  packages/x-date-pickers/src/internals/components/pickersToolbarTextClasses.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, v6.x, component: pickers

#6444 [DataGrid] Allow to disable autofocusing the search field in the columns panel
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid, feature: Other, enhancement

#6630 [DataGrid] Allow to disable autofocusing the search field in the columns panel
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid, feature: Other, customization: extend, enhancement

#6632 [docs] Fix typo in DataGrid demo page
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs

#6634 [docs] Fix typo in DataGrid demo page (#6632)
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs

#6635 [l10n] Improve Bulgarian (bg-BG) locale (#6578)
  packages/grid/x-data-grid/src/locales/bgBG.ts
Labels: component: data grid, l10n

#6562 [DataGrid] Rename `GridColumnsState['all']` to `GridColumnsState['orderedFields']`
  docsTech/processing.md
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorderPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/tests/columnReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelectionPreProcessors.ts
  packages/grid/x-data-grid/src/utils/createSelector.spec.ts
Labels: breaking change, component: data grid

#6493 [DataGrid] Fix `setRows` method not persisting new rows data after `loading` prop change
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: component: data grid, regression, feature: State management

#6585 [docs] Remove broken welcome page
  docs/public/_redirects
Labels: docs

#6636 [DateTimePicker] Fix toolbar time order when `theme.rtl=true`
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/dateTimePickerToolbarClasses.ts
Labels: l10n

#6637 [DataGrid] Fix `setRows` method not persisting new rows data after `loading` prop change
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: component: data grid, regression, feature: State management

#6639 [docs] Disable translations
  docs/package.json
  docs/pages/_app.js
  yarn.lock
Labels: docs, i18n

#6660 [docs] Mark data grid column group as available
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs

#6659 [docs] Mark data grid column group available
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs

#6621 [core] Change reproduction position
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: core

#6669 [core] Remove legacy migration function
  docs/src/modules/components/ApiPage.js
Labels: core

#6658 [core] Fix permissions in `no-response` workflow
  .github/workflows/no-response.yml
Labels: core, regression

#6655 [data grid] Remove `React.memo` from `GridCellCheckboxRenderer`
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
Labels: bug 🐛, component: data grid, feature: Selection

#6548 [pickers] New `DesktopDatePicker` based on `DateField`
  .eslintrc.js
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.types.ts
  packages/x-date-pickers/src/DesktopNextDatePicker/index.ts
  packages/x-date-pickers/src/NextDatePicker/shared.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/useFocusManagement.tsx
  packages/x-date-pickers/src/internals/components/PickerViewLayout/PickerViewLayout.tsx
  packages/x-date-pickers/src/internals/components/PickerViewLayout/PickerViewLayout.types.ts
  packages/x-date-pickers/src/internals/components/PickerViewLayout/index.ts
  packages/x-date-pickers/src/internals/components/PickerViewLayout/pickerViewLayoutClasses.ts
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/index.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayout.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
  packages/x-date-pickers/src/internals/hooks/validation/useValidation.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
  packages/x-date-pickers/src/internals/models/props/tabs.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/internals/utils/validation.ts
  packages/x-date-pickers/src/internals/utils/viewRenderers.tsx
  packages/x-date-pickers/src/internals/utils/views.tsx
  packages/x-date-pickers/src/tests/testValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6688 [DataGrid] Remove `React.memo` from `GridCellCheckboxRenderer`
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
Labels: bug 🐛, component: data grid, feature: Selection

#6684 [docs] Unify a few of the capitalizations
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-header/column-header.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/column-visibility/column-visibility.md
  docs/data/data-grid/components/components.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/layout/layout.md
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  docs/data/data-grid/row-definition/row-definition.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-height/row-height.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/data-grid/row-spanning/row-spanning.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/style/style.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/introduction/installation/installation.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/index.md
Labels: docs

#6569 [DataGrid] Refactor `@mui/material` imports to `@mui/utils`
  .eslintrc.js
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/grid/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorderPreProcessors.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/GridRowCount.tsx
  packages/grid/x-data-grid/src/components/GridScrollArea.tsx
  packages/grid/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeadersInner.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridIconButtonContainer.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridMainContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelectionPreProcessors.ts
Labels: core, component: data grid, dx
