Repository mui/mui-x, pull requests merged in 2022-06, with the labels that each got.

#4986 [l10n] Use `localText` for remaining texts
  docs/pages/x/api/date-pickers/calendar-picker.json
  docs/pages/x/api/date-pickers/clock-picker.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/internals/components/KeyboardDateInput.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
  packages/x-date-pickers/src/internals/utils/text-field-helper.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/utils/getPickersLocalization.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
Labels: l10n, component: pickers

#5027 [DataGrid] Restore focus after dismissing column menu
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenu.ts
Labels: accessibility, component: data grid, enhancement

#5081 [DateRangePicker] Fix usage of `maxDate` / `minDate` / `disableFuture` and `disablePast`
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
Labels: regression, component: date range picker

#5093 [data grid] Support `getRowId` in row reordering
  packages/grid/x-data-grid-pro/src/components/GridRowReorderCell.tsx
Labels: bug 🐛, component: data grid

#5070 [docs] Data grid demo implement the focus management on links
  packages/grid/x-data-grid-generator/src/renderer/renderEmail.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderLink.tsx
Labels: docs

#5100 [l10n] Add Brazilian Portuguese (pt-BR) locale for date pickers
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#5106 [docs] Fix 301 link to render cell
  docs/data/data-grid/accessibility/accessibility.md
Labels: docs

#5122 [l10n] Improve Japanese (ja-JP) locale
  packages/grid/x-data-grid/src/locales/jaJP.ts
Labels: component: data grid, l10n

#5101 [core] Upgrade monorepo
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/rows/rows.md
  test/e2e-website/data-grid.spec.ts
  yarn.lock
Labels: docs, core, dependencies

#5098 [docs] Small grammar and format fixes for Dynamic row height section
  docs/data/data-grid/rows/rows.md
Labels: docs

#5125 [core] Set correct `apiRef` type in row reorder pre processors
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorderPreProcessors.ts
Labels: core

#5121 [data grid] Fix implicit dependency on react-dom
  benchmark/browser/index.js
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  test/e2e/index.js
  test/performance/index.js
  test/regressions/index.js
Labels: bug 🐛, core, dependencies, component: data grid

#4998 [docs] Section for overwriting core components i18n keys
  docs/data/data-grid/localization/localization.md
Labels: docs

#4938 [DataGrid] Add `reason` to `onFilterModelChange`
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-filter-api.json
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.old.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPageSize.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/models/api/gridCallbackDetails.ts
  packages/grid/x-data-grid/src/models/api/gridFilterApi.ts
  packages/grid/x-data-grid/src/models/api/gridStateApi.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement, feature: Filtering

#5123 [date picker] Fix `shouldDisableDate` in range pickers
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
Labels: bug 🐛, component: pickers, component: date range picker

#5131 [tests] Remove delay on server demo for regression tests
  packages/grid/x-data-grid-generator/src/hooks/useQuery.ts
Labels: test

#5072 [docs] Move all localization documentation in a unique page
  docs/data/date-pickers/date-picker/LocalizedDatePicker.js
  docs/data/date-pickers/date-picker/LocalizedDatePicker.tsx
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/localization/LocalizedDatePicker.js
  docs/data/date-pickers/localization/LocalizedDatePicker.tsx
  docs/data/date-pickers/localization/LocalizedTimePicker.js
  docs/data/date-pickers/localization/LocalizedTimePicker.tsx
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/time-picker/LocalizedTimePicker.js
  docs/data/date-pickers/time-picker/LocalizedTimePicker.tsx
  docs/data/date-pickers/time-picker/time-picker.md
  test/regressions/index.js
Labels: docs, l10n

#5147 [test] Fix dynamic row height test failing on Chrome
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test

#5097 [pickers] Use new localization for doc examples
  docs/data/date-pickers/date-range-picker/BasicDateRangePicker.js
  docs/data/date-pickers/date-range-picker/BasicDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/FormPropsDateRangePickers.js
  docs/data/date-pickers/date-range-picker/FormPropsDateRangePickers.tsx
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePicker.js
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePicker.tsx
  docs/data/date-pickers/date-time-picker/CustomDateTimePicker.js
  docs/data/date-pickers/date-time-picker/CustomDateTimePicker.tsx
Labels: docs, component: pickers

#5157 [core] Stop using `GridEvents` in technical doc
  docsTech/README.md
Labels: core, component: data grid

#5056 [DataGridPro] Fix column resizing on touchscreen
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, plan: Pro, feature: Other

#5162 v5.12.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5161 [docs] Add example with custom checkbox column
  docs/data/data-grid/demo/FullFeaturedDemo.js
  docs/data/data-grid/demo/FullFeaturedDemo.tsx
  docs/data/data-grid/selection/CheckboxSelectionCustom.js
  docs/data/data-grid/selection/CheckboxSelectionCustom.tsx
  docs/data/data-grid/selection/CheckboxSelectionCustom.tsx.preview
  docs/data/data-grid/selection/selection.md
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/grid/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelectionPreProcessors.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: docs, component: data grid

#5164 [DataGrid] Hide vertical scrollbar if `autoHeight` is enabled
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#5110 [DataGridPro] Refresh detail panel caches when props change
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelCache.ts
  packages/grid/x-data-grid-pro/src/internals/index.ts
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
Labels: bug 🐛, component: data grid, plan: Pro

#5034 [docs] Fix demo currency format
  docs/data/data-grid/column-definition/CustomColumnTypesGrid.js
  docs/data/data-grid/column-definition/CustomColumnTypesGrid.tsx
  packages/grid/x-data-grid-generator/src/hooks/useMovieData.ts
Labels: docs

#5105 [docs] Fix some capitalization to match the guidelines
  CHANGELOG.md
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-header/column-header.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/column-visibility/column-visibility.md
  docs/data/data-grid/components/components.md
  docs/data/data-grid/demo/demo.md
  docs/data/data-grid/editing-legacy/editing.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/events/events.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/layout/layout.md
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/rows/rows.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/state/state.md
  docs/data/data-grid/style/style.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/index.md
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  test/e2e-website/data-grid.spec.ts
Labels: docs

#5104 [docs] Fix redundant headers
  docs/data/data-grid/getting-started/migration-v4.md
  docs/data/date-pickers/migration-lab/migration-lab.md
Labels: docs

#5114 [docs] Use redirection in the code
  docs/data/data-grid/layout/AutoHeightGrid.js
  docs/data/data-grid/layout/AutoHeightGrid.tsx
  docs/data/data-grid/layout/AutoHeightGrid.tsx.preview
  docs/data/data-grid/layout/layout.md
  docs/public/_redirects
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: docs, component: data grid

#5185 [core] Remove unused props from plugin typing
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
Labels: core, component: data grid

#5053 [docs] Using data grid with date pickers
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/editing/EditingWithDatePickers.tsx
  docs/data/data-grid/editing/EditingWithDatePickers.tsx.preview
  docs/data/data-grid/editing/editing.md
Labels: docs, component: data grid, customization

#5167 [DataGrid] Fix `GridColTypeDef` value type
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/colDef/gridNumericColDef.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
Labels: component: data grid, typescript

#5166 [core] Improve inline code rendering within the details tag
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: core

#5135 [DataGrid] Use exponential search to render non-measured rows
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: data grid, enhancement, feature: Rendering layout

#5197 [docs] Fix `GridColTypeDef` usage in grid + pickers demo
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/editing/EditingWithDatePickers.tsx
Labels: docs, typescript

#5203 [test] Add `waitFor` before asserting height
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test

#5201 [core] Use the scrollbar size from `useGridDimensions` on `DataGridProColumnHeaders`
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: core, component: data grid

#5170 [DataGrid] Fix for cosmetic bug on column filter badge
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid

#5074 [docs] Instruction to deal with v2 invalid license message
  docs/data/advanced-components/overview.md
Labels: docs, package: x-license-pro

#5219 [docs] Fix outdated license description to match the EULA
  docs/data/advanced-components/overview.md
Labels: docs, package: x-license-pro, dx

#5223 v5.12.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
  yarn.lock
Labels: release

#5207 [DataGridPremium] Fix Excel import with Remix/Vite
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: bug 🐛, plan: Premium

#5213 [data grid] Do not regenerate the row tree when props.loading changes
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: performance, component: data grid, regression

#5204 [pickers] Export adapters from both `@mui/x-date-pickers` and `@mui/x-date-pickers-pro`
  docs/data/date-pickers/date-range-picker/BasicDateRangePicker.js
  docs/data/date-pickers/date-range-picker/BasicDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/CalendarsDateRangePicker.js
  docs/data/date-pickers/date-range-picker/CalendarsDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.tsx
  docs/data/date-pickers/date-range-picker/FormPropsDateRangePickers.js
  docs/data/date-pickers/date-range-picker/FormPropsDateRangePickers.tsx
  docs/data/date-pickers/date-range-picker/MinMaxDateRangePicker.js
  docs/data/date-pickers/date-range-picker/MinMaxDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePicker.js
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/StaticDateRangePickerDemo.js
  docs/data/date-pickers/date-range-picker/StaticDateRangePickerDemo.tsx
  packages/x-date-pickers-pro/src/AdapterDateFns/index.ts
  packages/x-date-pickers-pro/src/AdapterDayjs/index.ts
  packages/x-date-pickers-pro/src/AdapterLuxon/index.ts
  packages/x-date-pickers-pro/src/AdapterMoment/index.ts
Labels: component: pickers

#5200 [docs] Add plan badge next to event name in the Events page
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/data/data-grid/events/events.json
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
Labels: docs

#5266 [data grid] Fix the default filter operator fallback on state initialization
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#5264 [data grid] Fix detail panel on DataGridPremium
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
Labels: component: data grid, regression

#5196 [docs] Add `DataGridPremium` to all API sections
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-header/column-header.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/column-visibility/column-visibility.md
  docs/data/data-grid/components/components.md
  docs/data/data-grid/demo/demo.md
  docs/data/data-grid/editing-legacy/editing.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/events/events.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/layout/layout.md
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/rows/rows.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/state/state.md
  docs/data/data-grid/style/style.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/pages/x/api/data-grid/index.md
Labels: docs

#5238 [DataGridPremium] Fix error with quick filter and grouping rows
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: bug 🐛

#5276 [docs] Add section for theme augmentation in the picker doc
  docs/data/date-pickers/getting-started/getting-started.md
Labels: docs, component: pickers

#5215 [test] Use mock for ResizeObserver
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test

#5288 [DX] Allows having multiple playgrounds
  .gitignore
Labels: dx

#5282 [core] Remove dead logic
  docs/next.config.js
Labels: core

#5291 [test] Fix `inputFormat` when testing with different date adapters
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
Labels: test

#5289 [test] Throw if date adapter is not found
  test/utils/pickers-utils.tsx
Labels: test

#5271 [docs] Add waiting for upvote section for row group panel
  docs/data/data-grid/row-grouping/row-grouping.md
Labels: docs, component: data grid

#5298 [data grid] Don't hide non-hideable column when pressing Hide All button
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#5301 [docs] Disable ad on main demo page
  docs/pages/x/react-data-grid/demo.js
Labels: docs, component: data grid

#5299 v5.12.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5313 [docs] Fix typo in quick filter doc
  docs/data/data-grid/filtering/filtering.md
Labels: docs

#4826 [DataGrid] Allows to customize variant of value input in filter panel
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/filtering/CustomFilterPanelContent.js
  docs/data/data-grid/filtering/CustomFilterPanelContent.tsx
  docs/data/data-grid/filtering/filtering.md
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValueProps.ts
  packages/grid/x-data-grid/src/components/panel/filterPanel/filterPanelUtils.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, customization

#5293 [docs] Improve getting-started page
  docs/data/date-pickers/getting-started/InstructionsNoSnap.js
  docs/data/date-pickers/getting-started/getting-started.md
Labels: docs

#5332 [DataGrid][l10n] Improve Slovak (sk-SK) locale
  packages/grid/x-data-grid/src/locales/skSK.ts
Labels: l10n

#5163 [DataGridPro] Add option to infer detail panel height from content
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.js
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx.preview
  docs/data/data-grid/master-detail/master-detail.md
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelInterface.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelSelector.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/index.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelCache.ts
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
Labels: component: data grid, new feature, plan: Pro

#5265 [DateRangePicker] Fix keyboard selection
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: bug 🐛

#5073 [DayPicker] Remove empty space at the bottom of the day view
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
Labels: component: pickers

#5328 [DataGrid] Mention Premium plan in error messages and docs warnings
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/sorting/sorting.md
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridApiContext.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridRootProps.ts
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
Labels: docs, component: data grid

#5345 [l10n] Add Romanian (ro-RO) locale
  docs/data/data-grid/localization/localization.md
  packages/grid/x-data-grid/src/locales/index.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: l10n
