Repository mui/mui-x, pull requests merged in 2022-11, with the labels that each got.

#6704 [l10n] Add Ukrainian (uk-UA) locale on the date picker (#6661) @Dufran
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#6638 [DataGrid] Avoid future regression with React 19
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: core, component: data grid, external dependency

#6690 [pickers] New `MobileDatePicker` and `DatePicker` based on `DateField`
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.types.ts
  packages/x-date-pickers/src/MobileNextDatePicker/index.ts
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.test.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.types.ts
  packages/x-date-pickers/src/NextDatePicker/index.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6643 [pickers] Allow non-controlled usage of the calendar components
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/translations/api-docs/date-pickers/date-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-range-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-range-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/month-calendar-pt.json
  docs/translations/api-docs/date-pickers/month-calendar-zh.json
  docs/translations/api-docs/date-pickers/month-calendar.json
  docs/translations/api-docs/date-pickers/year-calendar-pt.json
  docs/translations/api-docs/date-pickers/year-calendar-zh.json
  docs/translations/api-docs/date-pickers/year-calendar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.spec.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/keyboard.DateCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.spec.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.spec.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
Labels: component: pickers

#6649 [fields] Update sections when the locale changes
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers

#6683 [core] Pin GitHub Action to digests
  renovate.json
Labels: core, security

#6645 [DateRangePicker] Fix input focused style and mobile behaviour
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerInput.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers/src/internals/utils/utils.ts
Labels: component: DateRangePicker

#6722 [pickers] Rename `inputFormat` prop `format` on the new pickers
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.tsx
  packages/x-date-pickers/src/NextDatePicker/shared.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
Labels: component: pickers

#6718 [docs] Fix Google Analytics going to the wrong property
  docs/next.config.js
Labels: docs, v5.x

#6725 v5.17.10
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6727 v6.0.0-alpha.6
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6760 [core] Add OSSF Scorecard action
  .github/workflows/scorecards.yml
Labels: core, security

#6766 [docs] Fix link to localization page
  docs/data/date-pickers/date-picker/date-picker.md
Labels: docs

#6774 [license] Add new license status 'Out of scope'
  docs/data/introduction/licensing/licensing.md
  packages/grid/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
  packages/x-license-pro/src/utils/licenseStatus.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-license-pro.exports.json
Labels: package: x-license-pro

#6775 [docs] Add missing Pro header suffix
  docs/data/date-pickers/fields/fields.md
Labels: docs

#6622 [DataGrid] Fix for cell focus preventing scroll when virtualization enabled
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, v5.x, feature: Rendering layout

#6785 [DataGrid] Fix cell focus causing scroll jump when virtualization enabled
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#6779 [fields] Rename section names to match the picker view nomenclature
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.tsx
  packages/x-date-pickers/src/NextTimePicker/NextTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/internals/models/views.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
Labels: component: pickers

#6767 [pickers] New `MobileDateTimePicker`, `DesktopDateTimePicker`, `DateTimePicker` and `StaticDateTimePicker` based on `DateTimeField`
  .eslintrc.js
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopNextDateTimePicker/index.ts
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileNextDateTimePicker/index.ts
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.test.tsx
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.tsx
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.types.ts
  packages/x-date-pickers/src/NextDateTimePicker/index.ts
  packages/x-date-pickers/src/NextDateTimePicker/shared.tsx
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.tsx
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.types.ts
  packages/x-date-pickers/src/StaticNextDateTimePicker/index.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6793 [pickers] Fix pickers toolbar styling
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
Labels: component: pickers

#6799 [pickers] Fix pickers toolbar styling (#6793)
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
Labels: component: pickers

#6505 [DataGrid] Remove items marked as `@deprecated`
  docs/data/data-grid/editing/ValueParserSetterGrid.tsx
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/style/style.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-cell-params.md
  docs/pages/x/api/data-grid/grid-row-class-name-params.md
  docs/pages/x/api/data-grid/grid-row-params.md
  docs/pages/x/api/data-grid/grid-sort-api.json
  packages/grid/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/grid/x-data-grid-premium/src/index.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/reexports.ts
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.spec.ts
  packages/grid/x-data-grid-pro/src/typeOverloads/reexports.ts
  packages/grid/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/index.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/hooks/utils/index.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridApi.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridState.ts
  packages/grid/x-data-grid/src/index.ts
  packages/grid/x-data-grid/src/models/api/gridCallbackDetails.ts
  packages/grid/x-data-grid/src/models/api/gridColumnApi.ts
  packages/grid/x-data-grid/src/models/api/gridSortApi.ts
  packages/grid/x-data-grid/src/models/gridCell.ts
  packages/grid/x-data-grid/src/models/gridRows.ts
  packages/grid/x-data-grid/src/models/gridSortModel.ts
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  packages/grid/x-data-grid/src/models/params/gridSortModelParams.ts
  packages/grid/x-data-grid/src/models/params/index.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid

#6804 [core] Remove scorecard default permissions
  .github/workflows/scorecards.yml
Labels: core, security

#6802 v6.0.0-alpha.7
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6685 [DataGrid] Provide a clear error message when upgrading
  docs/scripts/api/buildComponentsDocumentation.ts
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGrid.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/index.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGrid.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid, plan: Pro, plan: Premium, dx

#6816 [core] Import from `@mui/utils` instead of `@mui/material/utils`
  docs/data/data-grid/row-updates/LazyLoadingGrid.js
  docs/data/data-grid/row-updates/LazyLoadingGrid.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-data-grid-premium/src/components/GridAggregationColumnMenuItem.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid/src/components/GridAutoSizer.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopTooltipWrapper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopWrapper.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
  test/utils/pickers-utils.tsx
Labels: core

#6781 [docs] Remove default prop and improve format
  docs/data/data-grid/row-grouping/RowGroupingBasicExample.js
  docs/data/data-grid/row-grouping/RowGroupingBasicExample.tsx
  docs/data/data-grid/row-grouping/RowGroupingBasicExample.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingSingleGroupingCol.js
  docs/data/data-grid/row-grouping/RowGroupingSingleGroupingCol.tsx
  docs/data/data-grid/row-grouping/RowGroupingSingleGroupingCol.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingSortingSingleGroupingColDef.js
  docs/data/data-grid/row-grouping/RowGroupingSortingSingleGroupingColDef.tsx
  docs/data/data-grid/row-grouping/RowGroupingUseKeepGroupedColumnsHidden.js
  docs/data/data-grid/row-grouping/RowGroupingUseKeepGroupedColumnsHidden.tsx
  docs/data/data-grid/row-grouping/RowGroupingUseKeepGroupedColumnsHidden.tsx.preview
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid, feature: Row grouping

#6820 [docs] Sync prism-okaidia.css with source
  docs/public/static/styles/prism-okaidia.css
Labels: bug 🐛, docs

#6656 [DataGridPremium] Support aggregating data from multiple row fields
  docs/data/data-grid/aggregation/AggregationMultipleRowFields.js
  docs/data/data-grid/aggregation/AggregationMultipleRowFields.tsx
  docs/data/data-grid/aggregation/AggregationMultipleRowFields.tsx.preview
  docs/data/data-grid/aggregation/aggregation.md
  docs/pages/x/api/data-grid/grid-aggregation-function.md
  packages/grid/x-data-grid-generator/src/hooks/useMovieData.ts
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/createAggregationLookup.ts
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  scripts/x-data-grid-premium.exports.json
Labels: component: data grid, plan: Premium, feature: Aggregation, enhancement

#6815 Remove prettier scripts
  .eslintignore
  package.json
  yarn.lock
Labels: core

#6837 [DataGridPremium] Allow to customise the indent of group expansion toggle
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
Labels: component: data grid, plan: Premium, support: commercial, enhancement

#6850 [core] Fix `test-types` out of memory error
  package.json
Labels: core

#6851 [pickers] Rename `ClockPicker` into `TimeClock`
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.js
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.tsx
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.tsx.preview
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/index.md
  docs/pages/x/api/date-pickers/time-clock.js
  docs/pages/x/api/date-pickers/time-clock.json
  docs/translations/api-docs/date-pickers/time-clock-pt.json
  docs/translations/api-docs/date-pickers/time-clock-zh.json
  docs/translations/api-docs/date-pickers/time-clock.json
  packages/x-date-pickers/src/ClockPicker/ClockPicker.spec.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/NextDateTimePicker/shared.tsx
  packages/x-date-pickers/src/NextTimePicker/shared.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumbers.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.spec.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/clockClasses.ts
  packages/x-date-pickers/src/TimeClock/clockNumberClasses.ts
  packages/x-date-pickers/src/TimeClock/clockPointerClasses.ts
  packages/x-date-pickers/src/TimeClock/index.ts
  packages/x-date-pickers/src/TimeClock/shared.ts
  packages/x-date-pickers/src/TimeClock/timeClockClasses.ts
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/utils/viewRenderers.tsx
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6852 [pickers] Fix typing and prop drilling on `DateRangeCalendar` and multi input range fields
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-range-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
Labels: component: pickers

#6707 [DataGridPro] Fix detail panel not working with `getRowSpacing` prop
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row height, feature: Master-detail

#6858 [DataGridPro] Fix detail panel not working with `getRowSpacing` prop
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row height, feature: Master-detail

#6771 [test] Verrify `onError` call
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateTimeRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useTimeRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers-pro/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateTimeValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useTimeValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useValidation.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/tests/testValidation/testTextFieldValidation.tsx
Labels: test

#6859 [I10n] Improve Finnish (fi-FI) locale on the data grid
  packages/grid/x-data-grid/src/locales/fiFI.ts
Labels: component: data grid, l10n

#6868 [pickers] Pass the ampm prop from the new pickers to their field
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/tests/field.DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/tests/field.DesktopNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/tests/field.MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/tests/field.MobileNextTimePicker.test.tsx
Labels: bug 🐛

#6872 [I10n] Improve Finnish (fi-FI) locale on the data grid (#6859)
  packages/grid/x-data-grid/src/locales/fiFI.ts
Labels: component: data grid, l10n

#6853 [docs] Clarify DataGrid Row Pinning docs
  docs/data/data-grid/row-pinning/row-pinning.md
Labels: docs, component: data grid, feature: Row pinning

#6891 [docs] Clarify DataGrid Row Pinning docs
  docs/data/data-grid/row-pinning/row-pinning.md
Labels: docs, component: data grid, feature: Row pinning

#6881 [license] Polish error messages
  docs/data/introduction/licensing/licensing.md
  packages/grid/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
Labels: docs, package: x-license-pro

#6369 [docs] Group picker pages
  docs/data/pages.ts
Labels: docs, component: pickers

#6890 v5.17.12
  .circleci/config.yml
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-license-pro/package.json
Labels: release

#6894 v6.0.0-alpha.8
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#6896 [docs] Enforce values for installation options in Date / Time pickers Getting Started page
  docs/data/date-pickers/getting-started/InstructionsNoSnap.js
Labels: docs, component: pickers

#6893 [docs] Remove partial Portuguese and Chinese translations of the pickers pages
  docs/data/date-pickers/date-picker/date-picker-pt.md
  docs/data/date-pickers/date-picker/date-picker-zh.md
  docs/data/date-pickers/date-range-picker/date-range-picker-pt.md
  docs/data/date-pickers/date-range-picker/date-range-picker-zh.md
  docs/data/date-pickers/date-time-picker/date-time-picker-pt.md
  docs/data/date-pickers/date-time-picker/date-time-picker-zh.md
  docs/data/date-pickers/getting-started/getting-started-pt.md
  docs/data/date-pickers/getting-started/getting-started-zh.md
  docs/data/date-pickers/time-picker/time-picker-pt.md
  docs/data/date-pickers/time-picker/time-picker-zh.md
Labels: docs, component: pickers

#6905 [core] Upgrade monorepo
  package.json
  yarn.lock
Labels: core

#6906 [core] Upgrade monorepo
  package.json
  yarn.lock
Labels: core

#6895 [pickers] Do not loose the translations when using nested `LocalizationProvider` with each a `localeText` prop
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: bug 🐛, component: pickers

#6911 [docs] Upgrade to Next 13
  docs/package.json
  yarn.lock
Labels: bug 🐛, docs

#6888 [pickers] New `MobileDateRangePicker`, `DesktopDateRangePicker`, `DateRangePicker` and `StaticDateRangePicker` based on `MultiInputDateRangeField`
  .eslintrc.js
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/index.ts
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/index.ts
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/NextDateRangePicker/index.ts
  packages/x-date-pickers-pro/src/NextDateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/index.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/index.ts
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/index.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useRangePickerInputProps.ts
  packages/x-date-pickers-pro/src/internal/models/fields.ts
  packages/x-date-pickers-pro/src/internal/models/index.ts
  packages/x-date-pickers-pro/src/internal/utils/views.tsx
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
  packages/x-date-pickers/src/internals/models/index.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
Labels: component: pickers

#6938 [pickers] Fix calendar header switch view button hover circle
  packages/x-date-pickers/src/DateCalendar/PickersCalendarHeader.tsx
Labels: component: pickers, component: DatePicker

#6916 [core] Upgrade node to v14.21
  .circleci/config.yml
Labels: test, core

#6913 [docs] Fix toggle button bug in demos in Custom Components page
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.tsx
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.tsx
Labels: docs, component: pickers

#6939 [core] Upgrade node to v14.21 (#6916)
  .circleci/config.yml
Labels: test, core

#6942 [core] Cleanup `describeValidation`
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/SingleInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.tsx
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.types.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/index.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/testTextFieldRangeValidation.tsx
  packages/x-date-pickers-pro/src/tests/describeValidation.tsx
  packages/x-date-pickers-pro/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/DateField.validation.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/DateTimeField.validation.test.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.test.tsx
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticNextDatePicker/StaticNextDatePicker.test.tsx
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticNextTimePicker/StaticNextTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/TimeField.validation.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/tests/describeValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.types.ts
  packages/x-date-pickers/src/tests/describeValidation/index.ts
  packages/x-date-pickers/src/tests/describeValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testYearViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testTextFieldValidation.tsx
  packages/x-date-pickers/src/tests/testValidation/testYearViewValidation.tsx
Labels: test, core, component: pickers

#6943 [pickers] Clean `PickersCalendarHeader` slots
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersCalendarHeader.tsx
Labels: component: pickers

#6738 Upgrade eslint
  docs/src/modules/components/ApiDocs.js
  package.json
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/internals/hooks/validation/useTimeValidation.ts
  packages/x-date-pickers/src/internals/utils/time-utils.ts
  test/utils/mochaHooks.js
  yarn.lock
Labels: core

#6945 [DataGrid] Prevents master detail panel toggle with Ctrl+Enter
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
Labels: breaking change, component: data grid, v6.x, design: ux

#6946 [DataGrid] Rename `ErrorOverlay` to `GridErrorOverlay`
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/GridErrorOverlay.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
Labels: breaking change, component: data grid, v6.x

#6952 [pickers] Fix usage with Shadow DOM
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopTooltipWrapper.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/utils.ts
Labels: bug 🐛, component: pickers, needs cherry-pick

#6971 [pickers] Fix usage with Shadow DOM #6952
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopTooltipWrapper.tsx
  packages/x-date-pickers/src/internals/utils/utils.ts
Labels: bug 🐛, component: pickers, cherry-pick

#6778 [pickers] Support `theme.vars`
  docs/tsconfig.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/tsconfig.build.json
  packages/x-date-pickers-pro/tsconfig.json
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarText.tsx
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/tsconfig.build.json
  packages/x-date-pickers/tsconfig.json
Labels: customization: css

#6941 [test] Test validation on date range view
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.tsx
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.types.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/testDayViewRangeValidation.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: test

#6914 [pickers] Fix focus management
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/StaticNextDatePicker/StaticNextDatePicker.test.tsx
  packages/x-date-pickers/src/internals/utils/viewRenderers.tsx
Labels: component: pickers

#6966 [core] Update minimum supported version of Node.js to 14.0.0
  .browserslistrc
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: core, breaking change, v6.x

#6875 [DataGridPro] Fix lazy-loaded rows not working with `updateRows` API method
  packages/grid/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, feature: State management

#6976 [DataGridPro] Fix lazy-loaded rows not working with `updateRows` API method
  packages/grid/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, feature: State management

#6975 [docs] Fix live edit
  docs/package.json
  yarn.lock
Labels: bug 🐛, docs, regression

#6937 [docs] Add new "Expired package version" error type
  docs/data/introduction/licensing/licensing.md
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGrid.tsx
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
  packages/x-license-pro/src/utils/licenseStatus.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-license-pro.exports.json
Labels: docs, package: x-license-pro

#6784 [DataGrid] Support `theme.vars`
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/src/renderer/renderProgress.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderTotalPrice.tsx
  packages/grid/x-data-grid-generator/tsconfig.build.json
  packages/grid/x-data-grid-generator/tsconfig.json
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/grid/x-data-grid-premium/tsconfig.build.json
  packages/grid/x-data-grid-premium/tsconfig.json
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/grid/x-data-grid-pro/tsconfig.build.json
  packages/grid/x-data-grid-pro/tsconfig.json
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/tsconfig.build.json
  packages/grid/x-data-grid/tsconfig.json
  packages/x-license-pro/tsconfig.build.json
  packages/x-license-pro/tsconfig.json
  yarn.lock
Labels: component: data grid

#6692 [DataGridPremium] Use custom cell component for grouping cell by default
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomCell.js
  docs/data/data-grid/row-grouping/RowGroupingCustomCell.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomCell.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingCustomCellDefault.js
  docs/data/data-grid/row-grouping/RowGroupingCustomCellDefault.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomCellDefault.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingGroupingValueGetter.js
  docs/data/data-grid/row-grouping/RowGroupingGroupingValueGetter.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/grid/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
Labels: component: data grid, feature: Row grouping, customization: css, dx, enhancement

#6993 [docs] Update API links from clock-picker to time-clock
  docs/data/date-pickers/time-picker/time-picker.md
  docs/public/_redirects
Labels: docs

#7009 [l10n] Improve Ukrainian (uk-UA) locale
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/ukUA.ts
Labels: component: data grid, l10n, component: pickers

#7007 [pickers] Add Urdu (ur-PK) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/urPK.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7035 [l10n] Improve Ukrainian (uk-UA) locale
  packages/grid/x-data-grid/src/locales/ukUA.ts
Labels: component: data grid, v5.x, l10n, cherry-pick

#7029 [DataGridPremium] Fix empty column group in Excel export
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: bug 🐛

#7000 [docs] Add missing pickers migration docs
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#7024 [DateTimePicker] Rename `dateRangeIcon` to `dateIcon`
  docs/data/date-pickers/custom-components/Tabs.js
  docs/data/date-pickers/custom-components/Tabs.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs.json
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
Labels: breaking change, v6.x, component: pickers, component: DateTimePicker

#7004 [docs] test links with API page ignoring url hash
  docs/pages/x/api/date-pickers/index.md
  docs/scripts/reportBrokenLinks.js
Labels: docs, test

#6962 [pickers] Allow non-controlled usage of `TimeClock`
  docs/pages/x/api/date-pickers/time-clock.json
  docs/translations/api-docs/date-pickers/time-clock-pt.json
  docs/translations/api-docs/date-pickers/time-clock-zh.json
  docs/translations/api-docs/date-pickers/time-clock.json
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.tsx
  packages/x-date-pickers/src/StaticNextTimePicker/StaticNextTimePicker.tsx
  packages/x-date-pickers/src/StaticNextTimePicker/StaticNextTimePicker.types.ts
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
Labels: component: pickers

#6972 [pickers] Throw error when using adapter from `@date-io`
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
  test/utils/pickers-utils.tsx
Labels: breaking change, v6.x, component: pickers

#7045 [core] Remove useless type casting in field hooks
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: core, component: pickers

#7048 [docs] Fix broken link
  docs/data/pages.ts
Labels: docs, component: pickers

#7026 [docs] Setup GitHub issue template for feedbacks about docs
  .github/ISSUE_TEMPLATE/6.docs-feedback.yml
  docs/next.config.js
Labels: docs

#6907 [test] Sync test:unit with monorepo
  package.json
Labels: test
