Repository mui/mui-x, pull requests merged in 2022-09, with the labels that each got.

#5971 [pickers] Do not forward validation props to the dom on field components
  docs/data/date-pickers/date-field/CustomUIDateField.js
  docs/data/date-pickers/date-field/CustomUIDateField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals-fields/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#5984 [pickers] Support `isSameError` on field components
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateRangeValidation.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
Labels: component: pickers

#5214 [DataGridPro] Implement Lazy loading
  docs/data/data-grid/events/events.json
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.js
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx
  docs/data/data-grid/row-updates/LazyLoadingGrid.js
  docs/data/data-grid/row-updates/LazyLoadingGrid.tsx
  docs/data/data-grid/row-updates/LazyLoadingGrid.tsx.preview
  docs/data/data-grid/row-updates/row-updates.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-generator/src/hooks/useQuery.ts
  packages/grid/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoaderPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/models/gridFetchRowsParams.ts
  packages/grid/x-data-grid-pro/src/models/index.ts
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/typeOverloads/modules.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/grid/x-data-grid/src/components/cell/index.ts
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/api/gridRowApi.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/params/gridRenderedRowsIntervalChangeParams.ts
  packages/grid/x-data-grid/src/models/params/index.ts
  packages/grid/x-data-grid/src/utils/utils.ts
  scripts/x-data-grid-generator.exports.json
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, new feature, plan: Pro, v5.x, feature: Rendering layout

#5986 Fix statics
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
Labels: bug 🐛

#5782 [DataGridPro] Support pinned columns and dynamic row height
  docs/data/data-grid/column-pinning/ColumnPinningDynamicRowHeight.js
  docs/data/data-grid/column-pinning/ColumnPinningDynamicRowHeight.tsx
  docs/data/data-grid/column-pinning/ColumnPinningDynamicRowHeight.tsx.preview
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/api/gridRowsMetaApi.ts
Labels: component: data grid, plan: Pro

#5975 [pickers] Do not hardcode date-fns elements in field components
  docs/data/date-pickers/date-field/BasicDateField.js
  docs/data/date-pickers/date-field/BasicDateField.tsx
  docs/data/date-pickers/date-field/BasicDateField.tsx.preview
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/date-field/CustomInputProps.js
  docs/data/date-pickers/date-field/CustomInputProps.tsx
  docs/data/date-pickers/date-field/CustomUIDateField.js
  docs/data/date-pickers/date-field/CustomUIDateField.tsx
  docs/data/date-pickers/date-field/DateFieldValidation.js
  docs/data/date-pickers/date-field/DateFieldValidation.tsx
  docs/data/date-pickers/date-field/DateFieldValue.js
  docs/data/date-pickers/date-field/DateFieldValue.tsx
  docs/data/date-pickers/date-field/DateFieldValue.tsx.preview
  docs/data/date-pickers/date-field/DebouncedDateField.js
  docs/data/date-pickers/date-field/DebouncedDateField.tsx
  docs/data/date-pickers/date-field/DebouncedDateField.tsx.preview
  docs/data/date-pickers/date-field/LocalizedDateField.js
  docs/data/date-pickers/date-field/LocalizedDateField.tsx
  docs/data/date-pickers/date-field/LocalizedDateField.tsx.preview
  docs/data/date-pickers/date-range-field/BasicDateRangeField.js
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx.preview
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.js
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx.preview
  docs/data/date-pickers/localization/LocalizedDatePicker.js
  docs/data/date-pickers/localization/LocalizedDatePicker.tsx
  docs/data/date-pickers/localization/LocalizedTimePicker.js
  docs/data/date-pickers/localization/LocalizedTimePicker.tsx
  packages/x-date-pickers-pro/src/AdapterDateFns/index.ts
  packages/x-date-pickers-pro/src/AdapterDayjs/index.ts
  packages/x-date-pickers-pro/src/AdapterLuxon/index.ts
  packages/x-date-pickers-pro/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.ts
Labels: component: pickers

#5988 [DataGrid] Support `getRowId` in the `replaceRows` method
  packages/grid/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid

#5972 [DateTimePicker] Extract `tabs` component from `toolbar`
  docs/data/date-pickers/custom-components/Tabs.js
  docs/data/date-pickers/custom-components/Tabs.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  docs/pages/x/api/date-pickers/date-time-picker-tabs.js
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/index.ts
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/models/props/baseToolbarProps.ts
  scripts/releaseChangelog.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
  test/karma.conf.js
Labels: component: date time picker, dx

#5990 [core] Fix typo
  docs/data/data-grid/row-updates/row-updates.md
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
Labels: core

#5754 [docs] Update README.md to match Introduction section of the docs
  README.md
Labels: docs

#5993 [DataGridPro] Fix filtering with inactive items
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: regression

#5937 [core] Remove unused dependencies
  packages/grid/x-data-grid-generator/package.json
  packages/x-license-pro/package.json
Labels: core

#5991 v5.17.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  yarn.lock
Labels: release

#5980 [DataGrid] Fix cells being focused on mouseUp
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.old.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: component: data grid, design: ux

#5962 [DataGrid] Fix focused cell if column is spanned and new editing API is used
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
Labels: component: data grid

#6031 [DataGridPro] Fix import in lazy-loading causing a bundling error
  .eslintrc.js
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoaderPreProcessors.tsx
  packages/grid/x-data-grid/src/internals/index.ts
Labels: component: data grid, regression

#6033 v5.17.1
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
Labels: release

#5169 [core] Add `yarn release:tag` script
  package.json
  scripts/README.md
  scripts/releaseTag.js
Labels: core

#6082 [DatePicker] Allow keyboard navigation to ignore disabled date for left/right arrow
  packages/x-date-pickers/src/CalendarPicker/CalendarPickerKeyboard.test.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
Labels: accessibility

#6074 [pickers] Re-fix mobile picker not opening on label click
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePickerLocalization.test.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
Labels: regression, component: pickers, mobile

#5895 [DataGridPremium] Export column grouping in Excel
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  packages/grid/x-data-grid-premium/src/hooks/features/export/gridExcelExportInterface.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
Labels: feature: Export

#6087 [DateTimePicker] Remove circular import
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: regression, component: pickers

#6072 [core] Upgrade monorepo
  .codesandbox/ci.json
  .eslintrc.js
  docs/scripts/api/buildComponentsDocumentation.ts
  package.json
  yarn.lock
Labels: core

#5897 [DataGrid] Revert mode if cell/row couldn't be saved due to validation error
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/utils/utils.ts
Labels: bug 🐛, component: data grid, feature: Editing

#5744 [docs] Add Recipes section
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/recipes-editing/ConditionalValidationGrid.js
  docs/data/data-grid/recipes-editing/ConditionalValidationGrid.tsx
  docs/data/data-grid/recipes-editing/ConditionalValidationGrid.tsx.preview
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.js
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx.preview
  docs/data/data-grid/recipes-editing/LinkedFieldsCellEditing.js
  docs/data/data-grid/recipes-editing/LinkedFieldsCellEditing.tsx
  docs/data/data-grid/recipes-editing/LinkedFieldsCellEditing.tsx.preview
  docs/data/data-grid/recipes-editing/LinkedFieldsRowEditing.js
  docs/data/data-grid/recipes-editing/LinkedFieldsRowEditing.tsx
  docs/data/data-grid/recipes-editing/LinkedFieldsRowEditing.tsx.preview
  docs/data/data-grid/recipes-editing/MultilineEditing.js
  docs/data/data-grid/recipes-editing/MultilineEditing.tsx
  docs/data/data-grid/recipes-editing/MultilineEditing.tsx.preview
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/data-grid/recipes-row-grouping/RowGroupingExpandOnRowClick.js
  docs/data/data-grid/recipes-row-grouping/RowGroupingExpandOnRowClick.tsx
  docs/data/data-grid/recipes-row-grouping/RowGroupingExpandOnRowClick.tsx.preview
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/recipes-editing.js
  docs/pages/x/react-data-grid/recipes-row-grouping.js
Labels: docs, component: data grid

#6086 v5.17.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6011 [pickers] Allow nested `LocalizationProvider`
  docs/pages/x/api/date-pickers/localization-provider.json
  docs/translations/api-docs/date-pickers/localization-provider-pt.json
  docs/translations/api-docs/date-pickers/localization-provider-zh.json
  docs/translations/api-docs/date-pickers/localization-provider.json
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, v6.x, component: pickers

#6066 [pickers] `shouldDisableMonth` and `shouldDisableYear` should be used for date validation
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/tests/validation.CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
Labels: bug 🐛, component: pickers

#6034 [pickers] Unify `PickersMonth` and `PickersYear` behaviors
  docs/pages/x/api/date-pickers/month-picker.json
  docs/pages/x/api/date-pickers/year-picker.json
  docs/translations/api-docs/date-pickers/year-picker-pt.json
  docs/translations/api-docs/date-pickers/year-picker-zh.json
  docs/translations/api-docs/date-pickers/year-picker.json
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/MonthPicker/PickersMonth.tsx
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.test.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/YearPicker/yearPickerClasses.ts
Labels: bug 🐛, component: pickers

#6097 [core] Use the `next` branch for prettier
  package.json
Labels: core

#6100 Update rfc template
  .github/ISSUE_TEMPLATE/5.rfc.yml
Labels: core

#6073 [README] Add link to the security page
  README.md
Labels: docs, security

#6018 [docs] Improve Upgrade plan docs
  docs/data/introduction/licensing/licensing.md
Labels: docs

#6101 [docs] Fix broken links
  CHANGELOG.md
  docs/data/data-grid/editing-legacy/editing.md
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs

#6120 [core] Hide the date on the print regression test
  test/regressions/TestViewer.js
  test/regressions/index.js
Labels: core

#6003 [DataGrid] Remove `GridEvents` enum
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/hooks/utils/useKeepGroupedColumnsHidden.ts
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
  packages/grid/x-data-grid/src/models/events/gridEventListener.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEventPublisher.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/models/events/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v6.x

#5997 [test] Skip tests for column pinning and dynamic row height
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: test

#6105 [docs] Fix link issues 404 & 301
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/getting-started/migration-v4.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/introduction/overview/overview.md
  docs/pages/x/api/data-grid/grid-aggregation-function.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  docs/scripts/api/buildInterfacesDocumentation.ts
Labels: bug 🐛, docs, PR: out-of-date

#6133 [test] Fix logic to skip column pinning tests
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: test

#6054 [data grid] Fix scroll anchoring with master details
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, design: ux, feature: Master-detail

#6124 [pickers] Add Icelandic (is-IS) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/isIS.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#6136 [core] Update to typescript 4.8.3 (target master)
  benchmark/package.json
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-premium/src/models/gridGroupingValueGetterParams.ts
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/gridRowPinningInterface.ts
  packages/grid/x-data-grid/package.json
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridInitializeState.ts
  packages/grid/x-data-grid/src/models/gridRows.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.ts
  packages/x-license-pro/package.json
  yarn.lock
Labels: core, typescript

#6125 [pickers] Improve German (de-DE) locale
  packages/x-date-pickers/src/locales/deDE.ts
Labels: l10n

#6137 [pickers] Add Icelandic (is-IS) locale (target master)
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/isIS.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#6071 [pickers] Fix invalid date error when decreasing `DateField` day
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#6096 [pickers] Fix `x-date-pickers-pro` theme augmentation
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerInput.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerInputClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerToolbarClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerViewDesktopClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/index.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
Labels: typescript, plan: Pro, component: pickers, custom: css

#6138 [pickers] Improve German (de-DE) locale
  packages/x-date-pickers/src/locales/deDE.ts
Labels: l10n

#6128 [pickers] Rename the `date` prop `value` on `MonthPicker` / `YearPicker`, `ClockPicker` and `CalendarPicker`
  docs/data/date-pickers/date-picker/SubComponentsPickers.js
  docs/data/date-pickers/date-picker/SubComponentsPickers.tsx
  docs/data/date-pickers/time-picker/SubComponentsTimePickers.js
  docs/data/date-pickers/time-picker/SubComponentsTimePickers.tsx
  docs/data/date-pickers/time-picker/SubComponentsTimePickers.tsx.preview
  docs/pages/x/api/date-pickers/clock-picker.json
  docs/pages/x/api/date-pickers/month-picker.json
  docs/translations/api-docs/date-pickers/clock-picker-pt.json
  docs/translations/api-docs/date-pickers/clock-picker-zh.json
  docs/translations/api-docs/date-pickers/clock-picker.json
  docs/translations/api-docs/date-pickers/month-picker-pt.json
  docs/translations/api-docs/date-pickers/month-picker-zh.json
  docs/translations/api-docs/date-pickers/month-picker.json
  docs/translations/api-docs/date-pickers/year-picker-pt.json
  docs/translations/api-docs/date-pickers/year-picker-zh.json
  docs/translations/api-docs/date-pickers/year-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.spec.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPickerKeyboard.test.tsx
  packages/x-date-pickers/src/CalendarPicker/tests/validation.CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  packages/x-date-pickers/src/ClockPicker/Clock.tsx
  packages/x-date-pickers/src/ClockPicker/ClockNumbers.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.spec.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPointer.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.spec.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.test.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  test/regressions/pickers/CalendarPickerYearOnly.tsx
Labels: breaking change, component: pickers

#6032 [docs] Fix demonstration date to avoid hydratation errors
  docs/data/date-pickers/custom-components/Tabs.js
  docs/data/date-pickers/custom-components/Tabs.tsx
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/date-field/CustomInputProps.js
  docs/data/date-pickers/date-field/CustomInputProps.tsx
  docs/data/date-pickers/date-field/CustomUIDateField.js
  docs/data/date-pickers/date-field/CustomUIDateField.tsx
  docs/data/date-pickers/date-field/DateFieldValue.js
  docs/data/date-pickers/date-field/DateFieldValue.tsx
  docs/data/date-pickers/date-field/DateFieldValue.tsx.preview
  docs/data/date-pickers/date-field/DebouncedDateField.js
  docs/data/date-pickers/date-field/DebouncedDateField.tsx
  docs/data/date-pickers/date-field/LocalizedDateField.js
  docs/data/date-pickers/date-field/LocalizedDateField.tsx
  docs/data/date-pickers/date-picker/CustomDay.js
  docs/data/date-pickers/date-picker/CustomDay.tsx
  docs/data/date-pickers/date-picker/CustomInput.js
  docs/data/date-pickers/date-picker/CustomInput.tsx
  docs/data/date-pickers/date-picker/JalaliDatePicker.js
  docs/data/date-pickers/date-picker/JalaliDatePicker.tsx
  docs/data/date-pickers/date-picker/ResponsiveDatePickers.js
  docs/data/date-pickers/date-picker/ResponsiveDatePickers.tsx
  docs/data/date-pickers/date-picker/ServerRequestDatePicker.js
  docs/data/date-pickers/date-picker/ServerRequestDatePicker.tsx
  docs/data/date-pickers/date-picker/StaticDatePickerDemo.js
  docs/data/date-pickers/date-picker/StaticDatePickerDemo.tsx
  docs/data/date-pickers/date-picker/StaticDatePickerLandscape.js
  docs/data/date-pickers/date-picker/StaticDatePickerLandscape.tsx
  docs/data/date-pickers/date-picker/SubComponentsPickers.js
  docs/data/date-pickers/date-picker/SubComponentsPickers.tsx
  docs/data/date-pickers/date-picker/ViewsDatePicker.js
  docs/data/date-pickers/date-picker/ViewsDatePicker.tsx
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.js
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx.preview
  docs/data/date-pickers/date-time-picker/BasicDateTimePicker.js
  docs/data/date-pickers/date-time-picker/BasicDateTimePicker.tsx
  docs/data/date-pickers/date-time-picker/DateTimeValidation.js
  docs/data/date-pickers/date-time-picker/DateTimeValidation.tsx
  docs/data/date-pickers/date-time-picker/StaticDateTimePickerDemo.js
  docs/data/date-pickers/date-time-picker/StaticDateTimePickerDemo.tsx
  docs/data/date-pickers/localization/CustomizeDayPicker.js
  docs/data/date-pickers/localization/CustomizeDayPicker.tsx
  docs/data/date-pickers/localization/LocalizedDatePicker.js
  docs/data/date-pickers/localization/LocalizedDatePicker.tsx
  docs/data/date-pickers/localization/LocalizedTimePicker.js
  docs/data/date-pickers/localization/LocalizedTimePicker.tsx
  docs/data/date-pickers/time-picker/SecondsTimePicker.js
  docs/data/date-pickers/time-picker/SecondsTimePicker.tsx
  docs/data/date-pickers/time-picker/StaticTimePickerDemo.js
  docs/data/date-pickers/time-picker/StaticTimePickerDemo.tsx
  docs/data/date-pickers/time-picker/StaticTimePickerLandscape.js
  docs/data/date-pickers/time-picker/StaticTimePickerLandscape.tsx
  docs/data/date-pickers/time-picker/SubComponentsTimePickers.js
  docs/data/date-pickers/time-picker/SubComponentsTimePickers.tsx
Labels: docs

#6089 [YearPicker] Scroll to the current year even with `autoFocus=false`
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
Labels: design: ux

#5646 [DataGrid] Only update input with value prop if debounce is off
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/gridEditRowModel.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#6146 [CalendarPicker] Don't move to closest enabled date when `props.date` contains a disabled date
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
Labels: bug 🐛, component: pickers

#6158 [pickers] Fix `x-date-pickers-pro` theme augmentation
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerInput.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerInputClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerToolbarClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/dateRangePickerViewDesktopClasses.ts
  packages/x-date-pickers-pro/src/DateRangePicker/index.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
Labels: typescript, plan: Pro, component: pickers, custom: css

#6162 [docs] Fix typo in linked issue
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
Labels: docs, component: pickers

#6163 [docs] Fix broken link
  docs/data/data-grid/style/style.md
Labels: docs

#6127 [docs] Add pro logo in "column ordering" link
  docs/data/pages.ts
Labels: docs

#5292 [docs] Improve main demo to show new functionalities
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/demo/demo.md
Labels: docs, component: data grid

#6172 [docs] Fix npm repository link to date picker
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: bug 🐛, docs, component: pickers

#6179 [docs] Fix link issues 404 & 301
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/getting-started/migration-v4.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/introduction/overview/overview.md
  docs/pages/x/api/data-grid/grid-aggregation-function.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  docs/scripts/api/buildInterfacesDocumentation.ts
Labels: docs

#6166 [DateRangePicker] Switch to new month when changing the value from the outside
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  test/utils/pickers-utils.tsx
Labels: bug 🐛, component: pickers

#6155 [pickers] Rename the `onClose` prop of `PickersPopper` `onDismiss` to simplify typing
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopTooltipWrapper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopWrapper.tsx
Labels: component: pickers

#6168 v5.17.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6167 [l10n] Add Persian (fa-IR) locale
  docs/data/date-pickers/localization/localization.md
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/isIS.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#6181 [l10n] Add Persian (fa-IR) locale
  docs/data/date-pickers/localization/localization.md
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/isIS.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#6171 [docs] Link the OpenSSF Best Practices card
  README.md
Labels: docs

#6142 [pickers] Remove `valueStr` from the field state
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers

#6211 [pickers] Improve error message when no adapter context is found
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
Labels: component: pickers

#6189 [core] Restore monorepo to the main release line
  package.json
  yarn.lock
Labels: core

#5938 [core] Fix scroll restoration in the docs
  docs/next.config.js
  yarn.lock
Labels: docs, core

#6207 [pickers] Fix mobile section selection
  package.json
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPickerKeyboard.test.tsx
  packages/x-date-pickers/src/CalendarPickerSkeleton/CalendarPickerSkeleton.test.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/DateField/DateField.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePickerLocalization.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePickerLocalization.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.test.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers, design: ux

#6224 [YearPicker] Scroll to the current year even with `autoFocus=false`
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
Labels: component: pickers

#6216 [docs] Import generateUtilityClass from @mui/utils
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: docs, core

#6230 [I10n] Add Finnish (fi-FI) locale to Datepicker (#6219)
  docs/data/date-pickers/localization/localization.md
  packages/grid/x-data-grid/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#6229 [pickers] Fix usage with Typescript 4.8
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
Labels: bug 🐛, typescript, component: pickers

#6248 [pickers] Fix usage with Typescript 4.8 (#6229)
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
Labels: bug 🐛, typescript, component: pickers

#6245 [l10n] Improve Polish (pl-PL) locale on the data grid
  packages/grid/x-data-grid/src/locales/plPL.ts
Labels: component: data grid, l10n

#6249 [l10n] Improve Polish (pl-PL) locale on the data grid (#6245)
  packages/grid/x-data-grid/src/locales/plPL.ts
Labels: component: data grid, l10n

#6009 [DataGrid] Do not publish `cellFocusOut` event if the row was removed
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid, feature: State management

#6250 [core] Add v5.17.3 changelog to next branch
  CHANGELOG.md
Labels: core

#6239 [docs] Fix 301 link
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-filter-form.json
  docs/pages/x/api/data-grid/grid-filter-panel.json
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: bug 🐛, docs

#6251 [DataGrid] Do not publish `cellFocusOut` event if the row was removed
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid, v5.x, feature: State management

#6256 [core] Tag release as next in npm
  package.json
  scripts/README.md
Labels: core

#6252 v5.17.4
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#6254 v6.0.0-alpha.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#6259 [DataGrid] Fix `undefined` value being showed in filter button tooltip text
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#6266 [DateTimePicker] Fix validation with `shouldDisableMonth` and `shouldDisableYear`
  packages/x-date-pickers/src/internals/hooks/validation/useDateTimeValidation.ts
Labels: bug 🐛, component: pickers

#6291 [core] Fix typing error
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: core

#6292 [docs] Improve pickers getting started examples
  docs/data/date-pickers/getting-started/getting-started.md
Labels: docs, component: pickers

#6275 [docs] Update the codesandbox to use next
  docs/next.config.js
  docs/pages/_app.js
  scripts/releaseChangelog.js
Labels: docs

#6215 [DateField] Extend moment adapter to support `expandFormat` and `formatTokenMap`
  packages/x-date-pickers/src/AdapterMoment/index.ts
Labels: feature: Keyboard editing

#6295 [DataGrid] Fix `GridPagination` props typing
  packages/grid/x-data-grid/src/components/GridPagination.tsx
Labels: bug 🐛, component: data grid, typescript, customization: extend

#6271 [DataGrid] Fix `undefined` value being showed in filter button tooltip text
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#6069 [pickers] try adapter to luxon v3
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/utils/warning.ts
  yarn.lock
Labels: feature: Keyboard editing

#6209 [pickers] Allow to control the selected sections
  docs/data/date-pickers/date-field/ControlledSelectedSectionIndexes.js
  docs/data/date-pickers/date-field/ControlledSelectedSectionIndexes.tsx
  docs/data/date-pickers/date-field/date-field.md
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#6274 [DataGrid] Fix `GridRow` not forwarding `ref` to the root element
  packages/grid/x-data-grid/src/components/GridRow.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, customization: css

#6296 [docs] Pass model change callbacks in controlled grid editing demos
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
Labels: docs, component: data grid, feature: Editing

#6273 [data grid] Improve print support
  docs/data/data-grid/export/export.md
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  test/regressions/TestViewer.js
  test/regressions/index.test.js
  test/utils/createDOM.js
Labels: bug 🐛, test, performance, component: data grid, feature: Export

#6307 [pickers] Allow to control the selected sections - follow up
  docs/data/date-pickers/date-field/ControlledSelectedSections.js
  docs/data/date-pickers/date-field/ControlledSelectedSections.tsx
  docs/data/date-pickers/date-field/date-field.md
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers

#6077 [core] Remove `GridFeatureModeConstant`
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoaderPreProcessors.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/models/gridFeatureMode.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core, breaking change, component: data grid

#6311 [core] Fix typo in the state updater of useField
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: core, component: pickers

#6141 [pickers] Do not loose the value of date sections not present in the format in the new field components
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.utils.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/DateField/DateField.test.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
Labels: bug 🐛, component: pickers

#6306 [docs] Pass model change callbacks in controlled grid editing demos
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
Labels: docs, component: data grid, feature: Editing

#6303 [DataGrid] Fix `GridRow` not forwarding `ref` to the root element
  packages/grid/x-data-grid/src/components/GridRow.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, customization: css

#5808 [DataGrid] Rework overlays layout
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/DataGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  test/e2e/fixtures/DataGrid/NoRowsOverlayWithButton.tsx
  test/e2e/index.test.ts
Labels: component: data grid, feature: Rendering layout

#6304 [CalendarPicker] Prevent getting focus when `autoFocus=false`
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
Labels: bug 🐛

#6309 [DatePicker] Open in a valid month
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.ts
Labels: design: ux

#6270 [DataGridPremium] Add missing `themeAugmentation` module
  packages/grid/x-data-grid-premium/src/themeAugmentation/index.js
  packages/grid/x-data-grid-premium/src/themeAugmentation/index.ts
  packages/grid/x-data-grid-premium/src/themeAugmentation/overrides.ts
  packages/grid/x-data-grid-premium/src/themeAugmentation/props.ts
Labels: bug 🐛, component: data grid, typescript

#6316 [DataGridPremium] Add missing `themeAugmentation` module
  packages/grid/x-data-grid-premium/src/themeAugmentation/index.js
  packages/grid/x-data-grid-premium/src/themeAugmentation/index.ts
  packages/grid/x-data-grid-premium/src/themeAugmentation/overrides.ts
  packages/grid/x-data-grid-premium/src/themeAugmentation/props.ts
Labels: bug 🐛, component: data grid, typescript

#6264 [docs] Fixes DataGrid/DataGridPro row styling issue
  docs/data/data-grid/style/StylingRowsGrid.js
  docs/data/data-grid/style/StylingRowsGrid.tsx
  docs/data/data-grid/style/StylingRowsGrid.tsx.preview
  docs/data/data-grid/style/style.md
Labels: docs, component: data grid

#6043 [core] Simplify testing architecture
  .mocharc.js
  package.json
  test/karma.tests.js
  test/utils/createDOM.js
  test/utils/init.js
  test/utils/licenseKey.ts
  test/utils/licenseRelease.js
  test/utils/mochaHooks.js
  test/utils/setup.js
  test/utils/setupBabel.js
  test/utils/setupJSDOM.js
  yarn.lock
Labels: test, core

#6312 [pickers] New components `TimeField` and `DateTimeField`
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/fields/FieldExamples.js
  docs/data/date-pickers/fields/FieldExamples.tsx
  docs/data/date-pickers/fields/fields.md
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/index.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/TimeField/index.ts
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateTimeValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useTimeValidation.ts
  packages/x-date-pickers/src/internals/index.ts
Labels: component: pickers

#5780 [docs] Apply style guide to Data Grid Accessibility page
  docs/data/data-grid/accessibility/accessibility.md
Labels: docs, accessibility
