Repository mui/mui-x, pull requests merged in 2022-04, with the labels that each got.

#4327 [docs] New page for the pickers migration from the lab
  docs/data/date-pickers/migration-lab/migration-lab.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/migration-lab.js
Labels: docs, component: pickers

#4328 v5.8.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  scripts/README.md
Labels: release

#4365 [docs] Avoid redirections
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: docs, component: pickers

#4362 [docs] Fix some links to date picker docs
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
Labels: docs

#4405 [DataGrid] Fix scrollbar grabbing issue in Safari
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#4364 [core] Fix npm page description mistake
  packages/grid/x-data-grid-pro/package.json
  packages/x-license-pro/LICENSE
  packages/x-license-pro/package.json
Labels: core

#4415 [docs] Fix wrong url
  docs/data/data-grid/editing/editing.md
Labels: docs

#4359 [data grid] Apply filtering before sorting
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelCache.ts
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
Labels: component: data grid, feature: Filtering, feature: Sorting

#4367 [pickers] Export MuiPickersAdapterContext
  packages/x-date-pickers/src/LocalizationProvider/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: bug 🐛, component: pickers

#4311 [data grid] Fix column dimensions import/export with flex and resizing
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#3882 [DataGrid] Add indexes relative to the filtered rows and the current page to the `getRowClassName` and `getRowSpacing` props
  docs/data/data-grid/style/StripedGrid.js
  docs/data/data-grid/style/StripedGrid.tsx
  docs/data/data-grid/style/StripedGrid.tsx.preview
  docs/data/data-grid/style/style.md
  docs/pages/x/api/data-grid/grid-row-class-name-params.md
  docs/pages/x/api/data-grid/grid-row-spacing-params.md
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: data grid

#4436 [docs] Fix small external links issue
  docs/data/data-grid/editing/editing.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: docs

#4398 [time picker] Only update time when updating input in TimePicker
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
Labels: bug 🐛, component: time picker

#4368 [core] Unify tests
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowGrouping.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/sorting.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/state.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/grid/x-data-grid/src/utils/domUtils.ts
  test/utils/helperFn.ts
Labels: test, core

#4411 [pickers] Add react-dom to pickers peer deps to satisfy react-transition-group
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: component: pickers

#4280 [DataGrid] Prevent column header scroll
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid

#4332 [core] Add React 18 to peer dependencies
  docs/data/data-grid/events/events.json
  docs/src/pages/components/data-grid/events/events.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/package.json
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: core

#4361 [DataGrid] Enable using non-native Select in filter panel
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
Labels: component: data grid, enhancement

#4461 [core] Small fixes TS on pickers
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/internals/hooks/date-helpers-hooks.tsx
Labels: core, typescript, component: pickers

#4020 [DataGrid] Column spanning
  docs/data/data-grid/columns/ColumnSpanningDerived.js
  docs/data/data-grid/columns/ColumnSpanningDerived.tsx
  docs/data/data-grid/columns/ColumnSpanningDerived.tsx.preview
  docs/data/data-grid/columns/ColumnSpanningFunction.js
  docs/data/data-grid/columns/ColumnSpanningFunction.tsx
  docs/data/data-grid/columns/ColumnSpanningFunction.tsx.preview
  docs/data/data-grid/columns/ColumnSpanningNumber.js
  docs/data/data-grid/columns/ColumnSpanningNumber.tsx
  docs/data/data-grid/columns/columns.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/pages/x/api/data-grid/grid-col-def.md
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/tests/columnSpanning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumnSpanning.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommon.ts
  packages/grid/x-data-grid/src/models/api/gridColumnSpanning.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/gridColumnSpanning.ts
  packages/grid/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: component: data grid, enhancement, feature: Rendering layout

#4402 [month picker] Clicking on a PickersMonth button should not trigger the form submit
  packages/x-date-pickers/src/MonthPicker/MonthPicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/PickersMonth.tsx
Labels: bug 🐛, component: pickers

#4464 [CHANGELOG] Fix links on v5.8.0
  CHANGELOG.md
Labels: docs

#4465 [pickers] Add TDate generic to CalendarOrClockPicker component
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/hooks/date-helpers-hooks.tsx
  packages/x-date-pickers/src/internals/models/props/baseToolbarProps.ts
Labels: typescript, component: pickers

#4451 [core] Fix default props behavior on all pickers
  .eslintrc.js
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.ts
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/internals/components/wrappers/ResponsiveWrapper.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/text-field-helper.test.ts
  packages/x-date-pickers/src/internals/utils/text-field-helper.ts
Labels: bug 🐛, component: pickers, component: date range picker

#4404 [clock picker] Should call shouldDisableTime with the hours with meridiem
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
Labels: bug 🐛, component: pickers

#4462 [core] Fix license file copying during build
  packages/x-date-pickers/LICENSE
  scripts/copyFiles.js
Labels: core

#4409 [DataGridPro] Fix toggling detail panel using keyboard
  docs/data/data-grid/group-pivot/group-pivot.md
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/constants/gridDetailPanelToggleField.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
Labels: accessibility, component: data grid, feature: Other

#4412 [core] Enforce `noImplicitAny` for `docs` folder
  docs/data/data-grid/columns/ColumnTypesGrid.tsx
  docs/data/data-grid/components/CustomColumnMenu.js
  docs/data/data-grid/components/CustomColumnMenu.tsx
  docs/data/data-grid/demo/FullFeaturedDemo.tsx
  docs/data/data-grid/editing-legacy/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing-legacy/RenderRatingEditCellGrid.js
  docs/data/data-grid/editing-legacy/RenderRatingEditCellGrid.tsx
  docs/data/data-grid/editing-legacy/StartEditButtonGrid.tsx
  docs/data/data-grid/editing-legacy/ValidateRowModelControlGrid.tsx
  docs/data/data-grid/editing/AutoStopEditComponent.js
  docs/data/data-grid/editing/AutoStopEditComponent.tsx
  docs/data/data-grid/editing/CustomEditComponent.js
  docs/data/data-grid/editing/CustomEditComponent.tsx
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/export/CustomExport.tsx
  docs/data/data-grid/filtering/CustomFilterPanelContent.tsx
  docs/data/data-grid/filtering/CustomInputComponent.js
  docs/data/data-grid/filtering/CustomInputComponent.tsx
  docs/data/data-grid/filtering/CustomMultiValueOperator.js
  docs/data/data-grid/filtering/CustomMultiValueOperator.tsx
  docs/data/data-grid/filtering/CustomRatingOperator.js
  docs/data/data-grid/filtering/CustomRatingOperator.tsx
  docs/data/data-grid/group-pivot/BasicDetailPanels.js
  docs/data/data-grid/group-pivot/BasicDetailPanels.tsx
  docs/data/data-grid/group-pivot/FormDetailPanel.js
  docs/data/data-grid/group-pivot/FormDetailPanel.tsx
  docs/data/data-grid/group-pivot/FullWidthDetailPanel.js
  docs/data/data-grid/group-pivot/FullWidthDetailPanel.tsx
  docs/data/data-grid/group-pivot/TreeDataCustomGroupingColumn.tsx
  docs/data/data-grid/group-pivot/TreeDataDisableChildrenFiltering.tsx
  docs/data/data-grid/group-pivot/TreeDataDisableChildrenSorting.tsx
  docs/data/data-grid/group-pivot/TreeDataLazyLoading.tsx
  docs/data/data-grid/group-pivot/TreeDataSimple.tsx
  docs/data/data-grid/group-pivot/TreeDataWithGap.tsx
  docs/data/data-grid/rows/InfiniteLoadingGrid.tsx
  docs/data/data-grid/virtualization/ColumnVirtualizationGrid.tsx
  docs/scripts/formattedTSDemos.js
  docs/tsconfig.json
Labels: docs, core, typescript

#4392 [DataGrid] Pass updated row to edit components
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
Labels: feature: Editing

#4326 [DataGrid] Fix focus after stopping row edit mode with pagination enabled
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, feature: Editing

#4491 v5.9.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#4582 [TimePicker] Fix bug when time picker clear value
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
Labels: bug 🐛, component: time picker

#4498 [DataGrid] Don't close column menu when updating rows
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#4591 [docs] Add plan in the nav bar for pro-only and premium-only pages
  docs/data/pages.ts
  docs/pages/_app.js
  docs/src/modules/XWrapper.js
  yarn.lock
Labels: docs

#4590 Fix the README of the X packages
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
Labels: component: data grid, component: pickers

#4626 [docs] Quick sidenav fix
  docs/data/pages.ts
Labels: docs

#4315 [core] Update `x-license-pro` license to handle premium package
  packages/x-license-pro/src/cli/license-cli.ts
  packages/x-license-pro/src/generateLicense/generateLicense.test.ts
  packages/x-license-pro/src/generateLicense/generateLicense.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  scripts/x-license-pro.exports.json
Labels: core, component: data grid, plan: Premium

#4619 [docs] Update the feature table in the Getting Started page of the data grid
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs, component: data grid

#4589 [pickers] Add explicit interfaces for components slots and components slots props
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.ts
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: typescript, component: pickers

#4668 [l10n] Translate missing German keys
  packages/grid/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#4667 [docs] Add label to each demo
  docs/data/date-pickers/date-time-picker/ResponsiveDateTimePickers.js
  docs/data/date-pickers/date-time-picker/ResponsiveDateTimePickers.tsx
Labels: docs

#4670 [docs] Small typo
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/row-grouping/row-grouping.md
Labels: docs

#4679 [test] Reset cleanup tracking on Karma tests
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/utils/createSelector.ts
  test/karma.tests.js
Labels: test

#4689 [test] Restore sinon sandbox after each karma test
  test/karma.tests.js
Labels: test

#4685 [data grid] Stop using GridEvents enum in `@mui/x-data-grid-premium`
  packages/grid/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
Labels: core, component: data grid

#4304 [data grid] New api method: `getRowGroupChildren`
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.js
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/index.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid-pro/src/utils/index.ts
  packages/grid/x-data-grid-pro/src/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/index.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/models/api/gridRowApi.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, plan: Premium, feature: Row Grouping

#4691 [docs] Update mono repo to get copy code block
  docs/pages/_app.js
  yarn.lock
Labels: docs

#4697 [core] Prevent out-of-memory when type-checking in CI
  .circleci/config.yml
  package.json
Labels: core

#4696 [data grid] Stop using `GridEvents` enum in `@mui/x-data-grid-pro`
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelCache.ts
  packages/grid/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.spec.ts
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
Labels: component: data grid

#4699 [docs] Stop using `GridEvents` enum in documentation
  docs/data/data-grid/editing-legacy/CatchEditingEventsGrid.js
  docs/data/data-grid/editing-legacy/CatchEditingEventsGrid.tsx
  docs/data/data-grid/editing-legacy/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.js
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.tsx
  docs/data/data-grid/tree-data/TreeDataCustomGroupingColumn.js
  docs/data/data-grid/tree-data/TreeDataCustomGroupingColumn.tsx
  docs/data/data-grid/tree-data/TreeDataLazyLoading.js
  docs/data/data-grid/tree-data/TreeDataLazyLoading.tsx
  docs/data/data-grid/tree-data/tree-data.md
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: docs, component: data grid

#4575 [docs] Remove legacy pages for old URLs
  docs/data/data-grid/columns/columns.md
  docs/data/date-pickers/getting-started/getting-started-pt.md
  docs/data/date-pickers/getting-started/getting-started-zh.md
  docs/pages/_app.js
  docs/pages/api-docs/data-grid/selectors.json
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
  docs/scripts/api/utils.ts
  docs/scripts/postMigration.ts
  docs/scripts/restructure.ts
  docs/src/featureToggle.js
  docs/src/pages.js
  docs/src/pages/components/.eslintrc.js
  docs/src/pages/components/data-grid/events/events.json
  package.json
  test/e2e-website/data-grid.spec.ts
  test/regressions/index.js
  test/regressions/index.test.js
Labels: docs

#4672 [pickers] Add overrides to `PickersArrowSwitcher`
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher.tsx
Labels: enhancement, component: pickers
