Repository mui/mui-x, pull requests merged in 2022-12, with the labels that each got.

#7023 [DataGrid] Removes <GridCell /> fallback to `valueToRender` on `null` children
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: breaking change, component: data grid, v6.x, dx

#7047 [docs] Use new pickers on the validation page
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.js
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.tsx
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.tsx.preview
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx.preview
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx.preview
  docs/data/date-pickers/validation/DateValidationDisableFuture.js
  docs/data/date-pickers/validation/DateValidationDisableFuture.tsx
  docs/data/date-pickers/validation/DateValidationDisablePast.js
  docs/data/date-pickers/validation/DateValidationDisablePast.tsx
  docs/data/date-pickers/validation/DateValidationMaxDate.js
  docs/data/date-pickers/validation/DateValidationMaxDate.tsx
  docs/data/date-pickers/validation/DateValidationMinDate.js
  docs/data/date-pickers/validation/DateValidationMinDate.tsx
  docs/data/date-pickers/validation/DateValidationShouldDisableDate.js
  docs/data/date-pickers/validation/DateValidationShouldDisableDate.tsx
  docs/data/date-pickers/validation/DateValidationShouldDisableMonth.js
  docs/data/date-pickers/validation/DateValidationShouldDisableMonth.tsx
  docs/data/date-pickers/validation/DateValidationShouldDisableMonth.tsx.preview
  docs/data/date-pickers/validation/DateValidationShouldDisableYear.js
  docs/data/date-pickers/validation/DateValidationShouldDisableYear.tsx
  docs/data/date-pickers/validation/DateValidationShouldDisableYear.tsx.preview
  docs/data/date-pickers/validation/RenderErrorUnderField.js
  docs/data/date-pickers/validation/RenderErrorUnderField.tsx
  docs/data/date-pickers/validation/RenderErrorUnderField.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMaxTime.js
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMinTime.js
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.js
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx.preview
  docs/data/date-pickers/validation/ValidationBehaviorInput.js
  docs/data/date-pickers/validation/ValidationBehaviorInput.tsx
  docs/data/date-pickers/validation/ValidationBehaviorInput.tsx.preview
  docs/data/date-pickers/validation/ValidationBehaviorView.js
  docs/data/date-pickers/validation/ValidationBehaviorView.tsx
  docs/data/date-pickers/validation/ValidationBehaviorView.tsx.preview
  docs/data/date-pickers/validation/validation.md
Labels: docs, component: pickers

#7002 [docs] Keep track of localization completion
  docs/data/data-grid/localization/DataGridLocalisationTableNoSnap.js
  docs/data/data-grid/localization/data.json
  docs/data/data-grid/localization/localization.md
  docs/data/date-pickers/localization/PickersLocalisationTableNoSnap.js
  docs/data/date-pickers/localization/data.json
  docs/data/date-pickers/localization/localization.md
  docs/src/modules/components/LocalizationTable.js
  scripts/l10n.ts
  scripts/localeNames.js
Labels: docs, l10n, i18n

#6521 [Data Grid] Remove the statement of support to RTL
  docs/data/data-grid/localization/localization.md
Labels: docs, component: data grid, l10n, feature: Other

#6964 [core] Unify testing of the value related props
  docs/pages/x/api/date-pickers/desktop-next-time-picker.json
  docs/pages/x/api/date-pickers/mobile-next-time-picker.json
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describes.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/DateField.conformance.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/DateTimeField.validation.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/tests/describes.DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/tests/describes.DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/tests/describes.DesktopNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/tests/describes.MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/tests/describes.MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/tests/describes.MobileNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.test.tsx
  packages/x-date-pickers/src/NextDatePicker/tests/describes.NextDatePicker.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/TimeField/tests/TimeField.validation.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/tests/describe.types.ts
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.types.ts
  packages/x-date-pickers/src/tests/describeValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testYearViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.types.tsx
  packages/x-date-pickers/src/tests/describeValue/index.ts
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers-utils.tsx
Labels: core, component: pickers

#7058 v5.17.14
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
Labels: release

#7060 v6.0.0-alpha.10
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7051 [docs] Fix API page ad space regression
  docs/src/modules/components/ApiPage.js
  yarn.lock
Labels: bug 🐛, docs, regression

#6763 [DateRangePicker] Add dragging support to edit range
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/desktop-next-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-range-picker.json
  docs/pages/x/api/date-pickers/next-date-range-picker.json
  docs/pages/x/api/date-pickers/static-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-range-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-pt.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-zh.json
  docs/translations/api-docs/date-pickers/date-range-picker-day.json
  docs/translations/api-docs/date-pickers/desktop-next-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-next-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-next-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/next-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/next-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/next-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
  packages/x-date-pickers-pro/src/DateRangePicker/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/DateRangePicker/date-range-manager.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/dateRangePickerDayClasses.ts
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  test/utils/pickers-utils.tsx
Labels: component: pickers, component: DateRangePicker, design: ux

#7054 [test] Fix karma-mocha assertion error messages
  package.json
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
  packages/x-date-pickers/src/StaticNextTimePicker/StaticNextTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/tests/describeValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testYearViewValidation.tsx
  patches/karma-mocha+2.0.1.patch
  yarn.lock
Labels: test, core

#6999 [DataGrid] Remove `Header` slot
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/base/GridHeaderPlaceholder.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: breaking change, component: data grid, v6.x

#7062 [DataGrid] Rename `filterPanelOperators` -> `filterPanelOperator`
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/constants/localeTextConstants.ts
  packages/grid/x-data-grid/src/locales/arSD.ts
  packages/grid/x-data-grid/src/locales/bgBG.ts
  packages/grid/x-data-grid/src/locales/csCZ.ts
  packages/grid/x-data-grid/src/locales/daDK.ts
  packages/grid/x-data-grid/src/locales/deDE.ts
  packages/grid/x-data-grid/src/locales/elGR.ts
  packages/grid/x-data-grid/src/locales/esES.ts
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/grid/x-data-grid/src/locales/fiFI.ts
  packages/grid/x-data-grid/src/locales/frFR.ts
  packages/grid/x-data-grid/src/locales/heIL.ts
  packages/grid/x-data-grid/src/locales/huHU.ts
  packages/grid/x-data-grid/src/locales/itIT.ts
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/grid/x-data-grid/src/locales/koKR.ts
  packages/grid/x-data-grid/src/locales/nbNO.ts
  packages/grid/x-data-grid/src/locales/nlNL.ts
  packages/grid/x-data-grid/src/locales/plPL.ts
  packages/grid/x-data-grid/src/locales/ptBR.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  packages/grid/x-data-grid/src/locales/ruRU.ts
  packages/grid/x-data-grid/src/locales/skSK.ts
  packages/grid/x-data-grid/src/locales/svSE.ts
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/grid/x-data-grid/src/locales/viVN.ts
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
  packages/grid/x-data-grid/src/models/api/gridLocaleTextApi.ts
Labels: breaking change, l10n, v6.x, codemod candidate

#7073 [core] Sync ApiPage.js with monorepo
  docs/src/modules/components/ApiPage.js
Labels: core

#6892 [DataGrid] Fixes rows not rendering properly after height change
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#7066 [pickers] Improve performances of `DayCalendar`
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.tsx
  docs/data/date-pickers/date-picker/CustomDay.js
  docs/data/date-pickers/date-picker/CustomDay.tsx
  docs/data/date-pickers/date-picker/CustomDay.tsx.preview
  docs/data/date-pickers/legacy-date-picker/CustomDay.js
  docs/data/date-pickers/legacy-date-picker/CustomDay.tsx
  docs/data/date-pickers/legacy-date-picker/CustomDay.tsx.preview
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/scripts/formattedTSDemos.js
  docs/translations/api-docs/date-pickers/date-range-calendar-pt.json
  docs/translations/api-docs/date-pickers/date-range-calendar-zh.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-pt.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-zh.json
  docs/translations/api-docs/date-pickers/date-range-picker-day.json
  docs/translations/api-docs/date-pickers/pickers-day-pt.json
  docs/translations/api-docs/date-pickers/pickers-day-zh.json
  docs/translations/api-docs/date-pickers/pickers-day.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/dateRangeCalendarClasses.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/dateRangePickerDayClasses.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.spec.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: performance, breaking change, v6.x, component: pickers

#7099 [docs] Keep track of localization completion (cherry-pick #7002)
  docs/data/data-grid/localization/DataGridLocalisationTableNoSnap.js
  docs/data/data-grid/localization/data.json
  docs/data/data-grid/localization/localization.md
  docs/data/date-pickers/localization/PickersLocalisationTableNoSnap.js
  docs/data/date-pickers/localization/data.json
  docs/data/date-pickers/localization/localization.md
  docs/src/modules/components/LocalizationTable.js
  scripts/l10n.ts
  scripts/localeNames.js
Labels: docs, cherry-pick

#7038 [pickers] Remove the callback version of the `action` prop in the `actionBar` component slot
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/StaticNextDateRangePicker/StaticNextDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.types.ts
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.types.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.types.ts
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.types.ts
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.types.ts
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersActionBar/index.ts
  packages/x-date-pickers/src/StaticNextDatePicker/StaticNextDatePicker.types.ts
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.types.ts
  packages/x-date-pickers/src/StaticNextTimePicker/StaticNextTimePicker.types.ts
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/PickersViewLayout/PickersViewLayout.tsx
  packages/x-date-pickers/src/internals/components/PickersViewLayout/PickersViewLayout.types.ts
  packages/x-date-pickers/src/internals/components/wrappers/WrapperProps.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.types.ts
Labels: breaking change, component: pickers

#7102 [docs] Update localization doc to use existing locale
  docs/data/date-pickers/localization/localization.md
Labels: bug 🐛, docs, l10n, component: pickers

#7104 [docs] Update localization doc to use existing locale
  docs/data/date-pickers/localization/localization.md
Labels: bug 🐛, docs, l10n, component: pickers

#7027 [core] Add codemod to move l10n translation
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/actual-expression-values.spec.js
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/actual-string-values.spec.js
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/expected-expression-values.spec.js
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/expected-string-values.spec.js
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/index.ts
  packages/x-codemod/src/v6.0.0/text-props-to-localeText/text-props-to-localeText.test.js
  packages/x-codemod/tsconfig.json
Labels: dx

#7134 [docs] Fix the nested import on the api pages
  docs/src/modules/components/ApiPage.js
Labels: docs

#7133 [core] Add notes to remove the legacy pickers internals
  docs/pages/x/api/date-pickers/static-next-date-picker.json
  docs/pages/x/api/date-pickers/static-next-date-range-picker.json
  docs/pages/x/api/date-pickers/static-next-date-time-picker.json
  docs/pages/x/api/date-pickers/static-next-time-picker.json
  docs/src/modules/components/ApiPage.js
  docs/translations/api-docs/date-pickers/static-next-date-picker-pt.json
  docs/translations/api-docs/date-pickers/static-next-date-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-date-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-next-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-next-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-next-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-time-picker.json
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/KeyboardDateInput.tsx
  packages/x-date-pickers/src/internals/components/PickerStaticWrapper/PickerStaticWrapper.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
  packages/x-date-pickers/src/internals/components/wrappers/DesktopWrapper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/MobileWrapper.tsx
  packages/x-date-pickers/src/internals/components/wrappers/WrapperProps.ts
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateTimeValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useTimeValidation.ts
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
  packages/x-date-pickers/src/internals/models/props/staticPickerProps.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/tests/describeValue/describeValue.types.ts
Labels: core, component: pickers

#7120 [pickers] Initialize date without time when selecting year or month
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
Labels: bug 🐛, component: pickers, needs cherry-pick

#7136 [pickers] Initialize date without time when selecting year or month
  packages/x-date-pickers/src/MonthPicker/MonthPicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.test.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
Labels: bug 🐛, component: pickers, cherry-pick

#7145 v5.17.15
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7144 v6.0.0-alpha.11
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#7057 [docs] Create a `DemoGrid` component to unify demos with several components
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/date-field/CustomDateFormat.tsx.preview
  docs/data/date-pickers/date-picker/DatePickerValue.js
  docs/data/date-pickers/date-picker/DatePickerValue.tsx
  docs/data/date-pickers/date-picker/DatePickerValue.tsx.preview
  docs/data/date-pickers/date-range-field/BasicDateRangeField.js
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx.preview
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.js
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx
  docs/data/date-pickers/date-range-field/DateRangeFieldValue.tsx.preview
  docs/data/date-pickers/date-time-picker/DateTimePickerValue.js
  docs/data/date-pickers/date-time-picker/DateTimePickerValue.tsx
  docs/data/date-pickers/date-time-picker/DateTimePickerValue.tsx.preview
  docs/data/date-pickers/validation/DateValidationMaxDate.js
  docs/data/date-pickers/validation/DateValidationMaxDate.tsx
  docs/src/modules/components/DemoContainer.tsx
  docs/src/modules/utils/babel-plugin-jsx-preview.js
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  tsconfig.json
Labels: docs, component: pickers

#7151 [docs] Document aggregation selectors
  docs/data/data-grid/aggregation/AggregationSelectorsNoSnap.js
  docs/data/data-grid/aggregation/aggregation.md
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationSelectors.ts
Labels: docs, component: data grid, feature: Aggregation, cherry-pick

#6715 [fields] Support RTL out of the box
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  docs/data/date-pickers/getting-started/getting-started.md
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/tests/describes.DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/tests/describes.DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  test/utils/pickers-utils.tsx
Labels: component: pickers

#4197 [DataGridPro] Fix missing border in right-pinned columns
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.js
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.js
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningNumber.js
  docs/data/data-grid/column-spanning/ColumnSpanningNumber.tsx
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: bug 🐛, breaking change, component: data grid, feature: Rendering layout

#7179 [core] Fix broken test
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: core, component: pickers

#7187 [pickers] Fix wrong component name on `StaticNextDateTime`
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.tsx
Labels: component: pickers

#7172 [DateTimePicker] Update export pattern
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
Labels: component: pickers

#7197 [docs] Fix 301 links to demo pages in API pages
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/day-calendar-skeleton.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-next-date-picker.json
  docs/pages/x/api/date-pickers/desktop-next-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-next-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-next-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/localization-provider.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-next-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/next-date-picker.json
  docs/pages/x/api/date-pickers/next-date-range-picker.json
  docs/pages/x/api/date-pickers/next-date-time-picker.json
  docs/pages/x/api/date-pickers/next-time-picker.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-next-date-picker.json
  docs/pages/x/api/date-pickers/static-next-date-range-picker.json
  docs/pages/x/api/date-pickers/static-next-date-time-picker.json
  docs/pages/x/api/date-pickers/static-next-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: bug 🐛, docs

#7189 [field] Fix bug introduced by RTL in single input range fields
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/SingleInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describe.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/selection.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internal/models/fields.ts
  packages/x-date-pickers-pro/src/internal/models/range.ts
  packages/x-date-pickers-pro/src/internal/utils/date-fields-utils.ts
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  scripts/x-date-pickers-pro.exports.json
Labels: plan: Pro, l10n, component: pickers, component: DateRangePicker

#7202 [DataGridPro] Fix wrong border color on skeleton cells
  packages/grid/x-data-grid/src/components/cell/GridSkeletonCell.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#7155 [DataGrid] Fix flickering on mount
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: data grid, feature: Rendering layout, design: ux

#7139 [docs] Add doc section about field placeholders localization
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.js
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.tsx
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.tsx.preview
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/deDE.ts
Labels: docs, component: pickers

#7209 [docs] Fix errors and warning in demos
  docs/data/date-pickers/date-picker/CustomDay.js
  docs/data/date-pickers/date-picker/CustomDay.tsx
  docs/data/date-pickers/date-picker/CustomInput.js
  docs/data/date-pickers/date-picker/CustomInput.tsx
  docs/data/date-pickers/date-picker/ViewsDatePicker.js
  docs/data/date-pickers/date-picker/ViewsDatePicker.tsx
  docs/data/date-pickers/date-range-picker/CustomInputs.js
  docs/data/date-pickers/date-range-picker/CustomInputs.tsx
  docs/data/date-pickers/legacy-date-picker/CustomDay.js
  docs/data/date-pickers/legacy-date-picker/CustomDay.tsx
  docs/data/date-pickers/legacy-time-picker/SecondsTimePicker.js
  docs/data/date-pickers/legacy-time-picker/SecondsTimePicker.tsx
  docs/data/date-pickers/time-picker/SecondsTimePicker.js
  docs/data/date-pickers/time-picker/SecondsTimePicker.tsx
  docs/data/date-pickers/time-picker/SecondsTimePicker.tsx.preview
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/PickersRenderingInstructions.js
Labels: docs

#7210 [pickers] Fix label on the new range pickers
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useRangePickerInputProps.ts
Labels: bug 🐛, component: pickers

#7180 [DataGrid] Display sort column menu items as per `sortingOrder` prop (#7125)
  packages/grid/x-data-grid/src/components/menu/columnMenu/SortGridMenuItems.tsx
  packages/grid/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
Labels: cherry-pick

#7222 v5.17.16
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7223 v6.0.0-alpha.12
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7067 [DataGrid] Remove column separator to match table styles
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, v6.x, design: ux, design: ui

#7225 [fields] Fix multi input fields root element props order and types
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/date-pickers/date-field-pt.json
  docs/translations/api-docs/date-pickers/date-field-zh.json
  docs/translations/api-docs/date-pickers/date-field.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-pt.json
  docs/translations/api-docs/date-pickers/date-range-picker-day-zh.json
  docs/translations/api-docs/date-pickers/date-range-picker-day.json
  docs/translations/api-docs/date-pickers/date-time-field-pt.json
  docs/translations/api-docs/date-pickers/date-time-field-zh.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/pickers-day-pt.json
  docs/translations/api-docs/date-pickers/pickers-day-zh.json
  docs/translations/api-docs/date-pickers/pickers-day.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field-pt.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field-zh.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/time-field-pt.json
  docs/translations/api-docs/date-pickers/time-field-zh.json
  docs/translations/api-docs/date-pickers/time-field.json
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.types.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
Labels: component: pickers, feature: Keyboard editing

#7264 [codemod] New codemod for view component renaming
  packages/x-codemod/src/v6.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/view-components-rename/actual-community-nested-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/actual-community-root-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/actual-pro-root-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/expected-community-nested-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/expected-community-root-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/expected-pro-root-imports.spec.tsx
  packages/x-codemod/src/v6.0.0/view-components-rename/index.ts
  packages/x-codemod/src/v6.0.0/view-components-rename/view-components-rename.test.ts
  packages/x-codemod/tsconfig.json
Labels: docs, component: pickers, package: codemod

#7184 [fields] Support escaped characters
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/desktop-next-date-picker.json
  docs/pages/x/api/date-pickers/desktop-next-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-next-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-next-time-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-next-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-next-time-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/next-date-picker.json
  docs/pages/x/api/date-pickers/next-date-range-picker.json
  docs/pages/x/api/date-pickers/next-date-time-picker.json
  docs/pages/x/api/date-pickers/next-time-picker.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/format.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.tsx
  packages/x-date-pickers/src/NextDatePicker/NextDatePicker.tsx
  packages/x-date-pickers/src/NextDateTimePicker/NextDateTimePicker.tsx
  packages/x-date-pickers/src/NextTimePicker/NextTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: component: pickers

#7053 [docs] New page for `DateCalendar`
  docs/data/date-pickers/date-calendar/AddWeekNumber.js
  docs/data/date-pickers/date-calendar/AddWeekNumber.tsx
  docs/data/date-pickers/date-calendar/AddWeekNumber.tsx.preview
  docs/data/date-pickers/date-calendar/BasicDateCalendar.js
  docs/data/date-pickers/date-calendar/BasicDateCalendar.tsx
  docs/data/date-pickers/date-calendar/BasicDateCalendar.tsx.preview
  docs/data/date-pickers/date-calendar/CustomDay.js
  docs/data/date-pickers/date-calendar/CustomDay.tsx
  docs/data/date-pickers/date-calendar/CustomDay.tsx.preview
  docs/data/date-pickers/date-calendar/CustomMonthLayout.js
  docs/data/date-pickers/date-calendar/CustomMonthLayout.tsx
  docs/data/date-pickers/date-calendar/CustomMonthLayout.tsx.preview
  docs/data/date-pickers/date-calendar/DateCalendarFormProps.js
  docs/data/date-pickers/date-calendar/DateCalendarFormProps.tsx
  docs/data/date-pickers/date-calendar/DateCalendarFormProps.tsx.preview
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.js
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.tsx
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.tsx.preview
  docs/data/date-pickers/date-calendar/DateCalendarValue.js
  docs/data/date-pickers/date-calendar/DateCalendarValue.tsx
  docs/data/date-pickers/date-calendar/DateCalendarValue.tsx.preview
  docs/data/date-pickers/date-calendar/DateCalendarViews.js
  docs/data/date-pickers/date-calendar/DateCalendarViews.tsx
  docs/data/date-pickers/date-calendar/DateCalendarViews.tsx.preview
  docs/data/date-pickers/date-calendar/YearMonthCalendar.js
  docs/data/date-pickers/date-calendar/YearMonthCalendar.tsx
  docs/data/date-pickers/date-calendar/YearMonthCalendar.tsx.preview
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-picker/AddWeekNumber.js
  docs/data/date-pickers/date-picker/AddWeekNumber.tsx
  docs/data/date-pickers/date-picker/AddWeekNumber.tsx.preview
  docs/data/date-pickers/date-picker/CustomMonthLayout.js
  docs/data/date-pickers/date-picker/CustomMonthLayout.tsx
  docs/data/date-pickers/date-picker/CustomMonthLayout.tsx.preview
  docs/data/date-pickers/date-picker/JalaliDatePicker.js
  docs/data/date-pickers/date-picker/JalaliDatePicker.tsx
  docs/data/date-pickers/date-picker/JalaliDatePicker.tsx.preview
  docs/data/date-pickers/date-picker/SubComponentsCalendars.js
  docs/data/date-pickers/date-picker/SubComponentsCalendars.tsx
  docs/data/date-pickers/date-picker/SubComponentsCalendars.tsx.preview
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/day-calendar-skeleton.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/pages/x/react-date-pickers/date-calendar.js
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  test/regressions/index.js
Labels: docs, component: pickers

#7266 [pickers] Improve Korean (ko-KR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/koKR.ts
Labels: l10n

#7283 [pickers] Improve Korean (ko-KR) locale @hanbin9775
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/koKR.ts
Labels: l10n, cherry-pick

#7135 [DateRangePicker] Fix to propagate `disabled` and `readOnly` on multi input picker
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/next-date-range-picker.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/describes.DesktopNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/describes.MobileNextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/NextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/NextDateRangePicker/describes.NextDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useRangePickerInputProps.ts
  packages/x-date-pickers-pro/src/internal/models/dateRange.ts
  packages/x-date-pickers-pro/src/internal/models/dateTimeRange.ts
  packages/x-date-pickers-pro/src/internal/models/timeRange.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/testTextFieldRangeValidation.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describes.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/tests/describes.DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/tests/describes.DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/tests/describes.DesktopNextTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/tests/describes.MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/tests/describes.MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/tests/describes.MobileNextTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.types.ts
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers-utils.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker

#7218 [docs] Fix some selectors not being documented
  docs/pages/x/api/data-grid/selectors.json
  docs/scripts/api/buildGridSelectorsDocumentation.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
Labels: docs, component: data grid, regression, v6.x

#6947 [DataGrid] Allow disabling of buttons in column panel
  docs/data/data-grid/column-visibility/column-visibility.md
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid, new feature

#7284 [DataGridPremium] Fix `exceljs` import with parcel
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: bug 🐛, component: data grid, plan: Premium

#7285 [DataGridPremium] Fix `exceljs` import with parcel
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: cherry-pick

#7199 [DataGrid] Remove `rowHeight` and `headerHeight` from state
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid/src/components/GridErrorOverlay.tsx
  packages/grid/x-data-grid/src/components/GridScrollArea.tsx
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/gridColumnGroupsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/density/densitySelector.ts
  packages/grid/x-data-grid/src/hooks/features/density/densityState.ts
  packages/grid/x-data-grid/src/hooks/features/density/useGridDensity.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPageSize.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/api/gridDensityApi.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid

#7304 [DataGrid] Remove `GridDensityType` enum
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/hooks/features/density/useGridDensity.tsx
  packages/grid/x-data-grid/src/models/api/gridDensityApi.ts
  packages/grid/x-data-grid/src/models/gridDensity.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, typescript, v6.x

#7305 6.0.0-alpha.13
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/releaseChangelog.mjs
Labels: release

#7306 5.17.17
  CHANGELOG.md
  docs/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7314 [core] Fix release date
  CHANGELOG.md
Labels: docs, core

#7307 [core] Upgrade monorepo
  babel.config.js
  docs/babel.config.js
  docs/config.js
  docs/next.config.js
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/generateProptypes.ts
  docs/scripts/tsconfig.json
  docs/src/modules/constants.js
  webpackBaseConfig.js
  yarn.lock
Labels: docs, core

#7322 [docs] Drop security fixes support for v4
  SECURITY.md
Labels: docs, security

#7205 [DataGrid] Fix flickering on mount
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: data grid, v6.x, feature: Rendering layout, design: ux

#6593 [DataGrid] Fix selected text in cell input not being copied in Firefox
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
Labels: bug 🐛, component: data grid, feature: Editing, feature: Selection

#7308 [DataGridPremium] Export row grouping column menu components
  packages/grid/x-data-grid-premium/src/components/index.ts
  scripts/x-data-grid-premium.exports.json
Labels: component: data grid, v5.x, plan: Premium, feature: Row grouping, customization: extend

#7330 [DataGrid] Fix selected text in cell input not being copied in Firefox
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
Labels: bug 🐛, component: data grid, v5.x, feature: Editing, feature: Selection, cherry-pick

#7257 [docs] Reorganize v6 pickers migration guide
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#7280 [docs] New page for `TimeClock`
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-picker/DatePickerViews.js
  docs/data/date-pickers/date-picker/DatePickerViews.tsx
  docs/data/date-pickers/date-picker/DatePickerViews.tsx.preview
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/time-clock/BasicTimeClock.js
  docs/data/date-pickers/time-clock/BasicTimeClock.tsx
  docs/data/date-pickers/time-clock/BasicTimeClock.tsx.preview
  docs/data/date-pickers/time-clock/TimeClockAmPm.js
  docs/data/date-pickers/time-clock/TimeClockAmPm.tsx
  docs/data/date-pickers/time-clock/TimeClockAmPm.tsx.preview
  docs/data/date-pickers/time-clock/TimeClockFormProps.js
  docs/data/date-pickers/time-clock/TimeClockFormProps.tsx
  docs/data/date-pickers/time-clock/TimeClockFormProps.tsx.preview
  docs/data/date-pickers/time-clock/TimeClockValue.js
  docs/data/date-pickers/time-clock/TimeClockValue.tsx
  docs/data/date-pickers/time-clock/TimeClockValue.tsx.preview
  docs/data/date-pickers/time-clock/TimeClockViews.js
  docs/data/date-pickers/time-clock/TimeClockViews.tsx
  docs/data/date-pickers/time-clock/TimeClockViews.tsx.preview
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-picker/StaticTimePickerLandscape.js
  docs/data/date-pickers/time-picker/StaticTimePickerLandscape.tsx
  docs/data/date-pickers/time-picker/StaticTimePickerLandscape.tsx.preview
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.js
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.tsx
  docs/data/date-pickers/time-picker/SubComponentsTimeCalendars.tsx.preview
  docs/data/date-pickers/time-picker/TimePickerViews.js
  docs/data/date-pickers/time-picker/TimePickerViews.tsx
  docs/data/date-pickers/time-picker/TimePickerViews.tsx.preview
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/react-date-pickers/time-clock.js
  packages/x-date-pickers/src/TimeClock/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  test/regressions/index.js
Labels: docs, component: pickers

#7337 [docs] Note the pickers breaking changes supported by the codemod
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
Labels: docs, component: pickers

#7344 [core] Upgrade monorepo
  yarn.lock
Labels: docs, core, v5.x

#7341 [docs] Redirect translated pages
  docs/public/_redirects
Labels: docs, i18n

#7321 [docs] Hide ad for paid docs pages
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/cell-selection.js
  docs/pages/x/react-data-grid/column-ordering.js
  docs/pages/x/react-date-pickers/date-range-field.js
  docs/pages/x/react-date-pickers/legacy-date-range-picker.js
Labels: docs, plan: Pro, plan: Premium

#7349 [core] Order the slots alphabetically in the JSON files
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/next-date-picker.json
  docs/translations/api-docs/date-pickers/next-date-range-picker.json
  docs/translations/api-docs/date-pickers/next-date-time-picker.json
  docs/translations/api-docs/date-pickers/next-time-picker.json
  docs/translations/api-docs/date-pickers/pickers-layout.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-next-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-clock.json
  docs/translations/api-docs/date-pickers/time-picker.json
Labels: core

#7342 [pickers] Remove the `PaperContent` slot from the new pickers
  docs/data/date-pickers/custom-components/PaperContent.tsx.preview
  docs/data/date-pickers/custom-components/PaperContentComponent.js
  docs/data/date-pickers/custom-components/PaperContentComponent.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
Labels: component: pickers
