Repository mui/mui-x, pull requests merged in 2022-07, with the labels that each got.

#5361 [docs] Fix server-side pagination demo
  docs/data/data-grid/pagination/ServerPaginationGrid.js
  docs/data/data-grid/pagination/ServerPaginationGrid.tsx
Labels: docs, component: data grid

#5362 [DataGridPro] Fix the depth of nodes when switching from a non-flat tree to a flat tree
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsPreProcessors.tsx
Labels: bug 🐛, component: data grid

#5382 [docs] Use `useKeepGroupedColumnsHiddren` from the grid package on remaining demo
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.js
  docs/data/data-grid/row-grouping/RowGroupingGetRowGroupChildren.tsx
Labels: docs

#5158 [docs] Explain how to use hooks inside a cell renderer
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs, component: data grid

#5257 [DataGrid] Fix "stop editing" integration with IME e.g. Japanese
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.old.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.old.ts
Labels: bug 🐛, component: data grid, feature: Editing

#5414 [DataGrid] Fix broken "start editing" integration with Japanese
  packages/grid/x-data-grid/src/utils/keyboardUtils.ts
Labels: component: data grid, feature: Editing

#4692 [docs] Revise and split up "Overview" page into "Introduction" section
  README.md
  docs/data/advanced-components/overview.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/migration-lab/migration-lab.md
  docs/data/introduction/installation/installation.md
  docs/data/introduction/licensing/licensing.md
  docs/data/introduction/overview/overview.md
  docs/data/introduction/roadmap/roadmap.md
  docs/data/introduction/support/support.md
  docs/data/pages.ts
  docs/next.config.js
  docs/pages/x/introduction/index.js
  docs/pages/x/introduction/installation.js
  docs/pages/x/introduction/licensing.js
  docs/pages/x/introduction/roadmap.js
  docs/pages/x/introduction/support.js
  docs/public/_redirects
  docs/public/static/x/commercial-header-icon-dark.png
  docs/public/static/x/commercial-header-icon-light.png
  packages/x-license-pro/package.json
Labels: docs

#5420 [DataGrid] Improve French (fr-FR) locale (#3211)
  packages/grid/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n

#5405 [DataGrid] Start editing with uppercase letter and Ctrl+V
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
Labels: feature: Editing

#5367 [core] Include playground pages in tsconfig
  docs/tsconfig.json
Labels: core

#5067 [core] Improve GitHub bug reproduction template
  .github/ISSUE_TEMPLATE/1.bug.yml
  docs/public/_redirects
Labels: core, dx

#5316 [docs] Make a clear difference between the license and license key
  docs/data/introduction/licensing/licensing.md
Labels: docs

#5431 [docs] FIx typo in the sorting page
  docs/data/data-grid/sorting/sorting.md
Labels: docs

#5456 [docs] Update pickers readme files
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
Labels: docs, component: pickers

#5394 [l10n] Improve Brazilian Portuguese (pt-BR) locale
  packages/grid/x-data-grid/src/locales/ptBR.ts
Labels: l10n

#5432 [docs] Fix description for "Striped rows" example
  docs/data/data-grid/style/style.md
Labels: docs

#5468 [pickers] Add Spanish (es-ES) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#5370 [DataGridPro] Improve pinned column headers accessibility
  package.json
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/tests/accessibility.DataGridPro.test.tsx
  yarn.lock
Labels: accessibility, component: data grid, plan: Pro

#5428 [core] Add technical support link to _redirects
  docs/public/_redirects
Labels: docs, core

#5467 [pickers] Add Italian (it-IT) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/itIT.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#5423 [docs] Clarify the scope of support for MUI X
  docs/data/introduction/overview/overview.md
  docs/data/introduction/support/support.md
Labels: docs

#5495 v5.13.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5486 [DataGrid] Improve accessibility of Export menu in the toolbar
  packages/grid/x-data-grid-premium/src/components/GridExcelExportMenuItem.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
Labels: accessibility, component: data grid

#5525 [core] Polish on the bug issue template
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/workflows/support-stackoverflow.yml
  CHANGELOG.md
  README.md
  docs/public/_redirects
Labels: core

#5273 [docs] New page presenting the `apiRef`
  docs/data/data-grid/api-object/UseGridApiContext.js
  docs/data/data-grid/api-object/UseGridApiContext.tsx
  docs/data/data-grid/api-object/UseGridApiContext.tsx.preview
  docs/data/data-grid/api-object/UseGridApiRef.js
  docs/data/data-grid/api-object/UseGridApiRef.tsx
  docs/data/data-grid/api-object/UseGridApiRef.tsx.preview
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/components/components.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/api-object.js
Labels: docs, component: data grid

#5304 [DataGrid] Fix `date`/`dateTime` edit input font size to match view mode
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/editing/EditingWithDatePickers.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
Labels: component: data grid, design: ux

#5425 [DataGridPremium] Fix crash when exporting all columns to Excel
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumnSpanning.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/api/gridColumnSpanning.ts
Labels: bug 🐛, component: data grid, feature: Export

#5510 [DataGrid] Add generics to `GridPreProcessEditCellProps`
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
Labels: component: data grid, typescript, feature: Editing

#5390 [DataGrid] Avoid inconsistent state export
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/data/data-grid/state/RestoreStateApiRef.tsx
  docs/data/data-grid/state/RestoreStateApiRef.tsx.preview
  docs/data/data-grid/state/RestoreStateInitialState.js
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/pages.ts
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-export-state-params.js
  docs/pages/x/api/data-grid/grid-export-state-params.md
  docs/scripts/api/buildInterfacesDocumentation.ts
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-premium/src/tests/statePersistence.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/core/pipeProcessing/gridPipeProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPageSize.ts
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/hooks/features/statePersistence/gridStatePersistenceInterface.ts
  packages/grid/x-data-grid/src/hooks/features/statePersistence/index.ts
  packages/grid/x-data-grid/src/hooks/features/statePersistence/useGridStatePersistence.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid

#5475 [pickers] Add Norwegian (nb-NO) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#5498 [l10n] Add Traditional Chinese (zh-TW) locale
  docs/data/data-grid/localization/localization.md
  packages/grid/x-data-grid/src/locales/index.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: l10n

#5559 [core] Add missing comments on zh-TW translation
  packages/grid/x-data-grid/src/locales/zhTW.ts
Labels: core

#5563 v5.14.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5560 [core] Upgrade monorepo
  test/utils/init.js
  yarn.lock
Labels: core

#5566 [DataGrid] Fix container width change on React 18
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#5450 [docs] Fix internal link to `valueParser`
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs

#5587 [data grid] Fix ellipsis style convention
  packages/grid/x-data-grid/src/constants/localeTextConstants.ts
  packages/grid/x-data-grid/src/locales/arSD.ts
  packages/grid/x-data-grid/src/locales/bgBG.ts
  packages/grid/x-data-grid/src/locales/csCZ.ts
  packages/grid/x-data-grid/src/locales/daDK.ts
  packages/grid/x-data-grid/src/locales/deDE.ts
  packages/grid/x-data-grid/src/locales/elGR.ts
  packages/grid/x-data-grid/src/locales/esES.ts
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/grid/x-data-grid/src/locales/fiFI.ts
  packages/grid/x-data-grid/src/locales/frFR.ts
  packages/grid/x-data-grid/src/locales/heIL.ts
  packages/grid/x-data-grid/src/locales/huHU.ts
  packages/grid/x-data-grid/src/locales/itIT.ts
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/grid/x-data-grid/src/locales/koKR.ts
  packages/grid/x-data-grid/src/locales/nbNO.ts
  packages/grid/x-data-grid/src/locales/nlNL.ts
  packages/grid/x-data-grid/src/locales/plPL.ts
  packages/grid/x-data-grid/src/locales/ptBR.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  packages/grid/x-data-grid/src/locales/ruRU.ts
  packages/grid/x-data-grid/src/locales/skSK.ts
  packages/grid/x-data-grid/src/locales/svSE.ts
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/grid/x-data-grid/src/locales/viVN.ts
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
Labels: component: data grid

#5452 [docs] Correct slot CSS classes for Pro/Premium components
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/grid-column-pinning-state.js
  docs/pages/x/api/data-grid/grid-column-pinning-state.md
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/src/modules/components/ApiPage.js
Labels: docs, custom: css

#5584 [l10n] Add simplified Chinese (zh-CN) locale to pickers and complet data grid
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/zhCN.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#5309 [DataGrid] Add prop to keep modifications while processing props
  docs/data/data-grid/editing/editing.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, feature: Editing

#5636 v5.15.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5586 [DataGrid] Improve German (de-DE) locale
  packages/grid/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#5503 [DataGrid] Toggle open state when clicking on buttons in Toolbar
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
Labels: component: data grid, design: ux

#5631 [DataGrid] Forward ref to root element in `GridEditInputCell`
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#5595 [docs] New location for the legal content
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/introduction/licensing/licensing.md
  docs/public/_redirects
Labels: docs

#5594 [core] Isolate asset loading under /x/
  docs/next.config.js
  docs/public/_redirects
Labels: core
