Repository mui/mui-x, pull requests merged in 2022-03, with the labels that each got.

#4022 [DataGridPremium] Support `valueFormatter` on the grouping column
  docs/data/data-grid/group-pivot/RowGroupingCustomGroupingColDefCallback.js
  docs/data/data-grid/group-pivot/RowGroupingCustomGroupingColDefCallback.tsx
  docs/data/data-grid/group-pivot/TreeDataLazyLoading.js
  docs/data/data-grid/group-pivot/TreeDataLazyLoading.tsx
  packages/grid/x-data-grid-pro/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-pro/src/tests/rowGrouping.DataGridPro.test.tsx
Labels: component: data grid, plan: Premium

#3902 [DataGrid] Send warning when the `rowCount` is provided with server
  docs/data/data-grid/pagination/ServerPaginationGrid.js
  docs/data/data-grid/pagination/ServerPaginationGrid.tsx
  docs/data/data-grid/pagination/ServerPaginationGrid.tsx.preview
  docs/data/data-grid/pagination/pagination.md
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: docs, component: data grid, feature: Pagination

#4031 [test] Reduce memory usage to run unit tests
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
  packages/grid/x-data-grid/src/utils/cleanupTracking/CleanupTracking.ts
  packages/grid/x-data-grid/src/utils/cleanupTracking/FinalizationRegistryBasedCleanupTracking.ts
  packages/grid/x-data-grid/src/utils/cleanupTracking/TimerBasedCleanupTracking.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/init.js
  test/utils/setup.js
Labels: test, performance

#4069 [DataGrid] Add Filter Panel delete icon slot
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridIconSlotsComponent.ts
Labels: component: data grid, enhancement, feature: Filtering

#4067 [DataGrid] Prevent focus while Popper is not fully positioned
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#4065 [docs] Avoid crash in demos using row grouping and custom formatted cells
  packages/grid/x-data-grid-generator/src/columns/commodities.columns.tsx
  packages/grid/x-data-grid-generator/src/columns/employees.columns.tsx
Labels: docs

#3624 [DataGrid] Fix input element in custom header
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#3929 [DataGrid] Stop calling `onRowClick` when clicking in cells with interactive elements
  docs/data/data-grid/events/events.json
  docs/src/pages/components/data-grid/events/events.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/colDef/gridActionsColDef.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/models/colDef/gridDefaultColumnTypes.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, feature: Selection

#3519 [DataGrid] Remove `GridCell` `borderBottom` when last row
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid

#4079 [docs] Add missing work in the filtering page
  docs/data/data-grid/filtering/filtering.md
Labels: docs, feature: Filtering

#4087 [core] Merge `page` and `pageSize` state initializer into a single `pagination` state initializer
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPageSize.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/grid/x-data-grid/src/internals/index.ts
Labels: core, feature: Pagination

#4056 [DataGrid] Use `buildWarning` and `wrapWithWarningOnCall` for deprecated methods and wrong usages
  packages/grid/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridApi.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridState.ts
  packages/grid/x-data-grid/src/utils/createSelector.ts
  packages/grid/x-data-grid/src/utils/warning.ts
Labels: component: data grid

#4081 [DataGrid] Do not loop through rows to compute top level rows count wen the tree is flat
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: performance, component: data grid

#4080 [docs] Fix outdated links to localeTextConstants.ts
  docs/data/data-grid/localization/localization.md
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid

#4118 [docs] Neglect e2e tests related to search
  test/e2e-website/data-grid-new.spec.ts
Labels: docs, test

#4121 [docs] Use regex instead of specific url in e2e-website-tests
  test/e2e-website/data-grid-current.spec.ts
Labels: docs, test

#4036 [core] Initialize remaining states before feature hooks
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/grid/x-data-grid/src/hooks/features/density/useGridDensity.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridInitializeState.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridStateInit.ts
  packages/grid/x-data-grid/src/internals/index.ts
Labels: core

#4114 [DataGrid] Fix extending built-in column types
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Other, feature: Rendering layout

#4130 [docs] Fix links to prevent duplicate search result
  docs/data/data-grid/columns/columns.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/sorting/sorting.md
Labels: docs

#4120 [DataGrid] Display column's filter icon if a filter is applied
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
Labels: bug 🐛, component: data grid, feature: Filtering

#4134 [DataGridPro] Re-export the components removed by mistake during bundle split
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid-pro/src/components/index.ts
  packages/grid/x-data-grid-pro/src/index.ts
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid, plan: Pro, regression

#4129 [test] Make focus state out-of-sync warning opt-in
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: test

#3848 [DataGrid] Add support for margin between rows
  docs/data/data-grid/rows/RowMarginGrid.js
  docs/data/data-grid/rows/RowMarginGrid.tsx
  docs/data/data-grid/rows/RowMarginGrid.tsx.preview
  docs/data/data-grid/rows/rows.md
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-row-class-name-params.js
  docs/pages/api-docs/data-grid/grid-row-class-name-params.md
  docs/pages/api-docs/data-grid/grid-row-spacing-params.js
  docs/pages/api-docs/data-grid/grid-row-spacing-params.md
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-row-class-name-params.js
  docs/pages/x/api/data-grid/grid-row-class-name-params.md
  docs/pages/x/api/data-grid/grid-row-spacing-params.js
  docs/pages/x/api/data-grid/grid-row-spacing-params.md
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/api/gridRowApi.ts
  packages/grid/x-data-grid/src/models/api/gridRowsMetaApi.ts
  packages/grid/x-data-grid/src/models/api/gridSortApi.ts
  packages/grid/x-data-grid/src/models/gridRows.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement

#4148 [DataGrid] Rename API method
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridVisibleRows.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridRowApi.ts
  packages/grid/x-data-grid/src/models/api/gridSortApi.ts
Labels: component: data grid, enhancement

#4149 [core] Upgrade `@mui/monorepo`
  test/utils/createDOM.js
  test/utils/setup.js
  yarn.lock
Labels: docs, core

#4141 v5.6.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#4142 [test] Mock `getComputedStyle` to speed up unit tests
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/layout.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/utils/cleanupTracking/TimerBasedCleanupTracking.ts
  test/utils/createDOM.js
Labels: test

#4073 [docs] Clean ValidateRowModelControlGrid demo
  docs/data/data-grid/editing/ValidateRowModelControlGrid.js
  docs/data/data-grid/editing/ValidateRowModelControlGrid.tsx
  docs/data/data-grid/editing/ValidateRowModelControlGrid.tsx.preview
Labels: docs, component: data grid, feature: Editing

#4110 [DataGrid] Fix error overlay not visible when `autoHeight` is enabled
  packages/grid/x-data-grid/src/components/ErrorOverlay.tsx
  packages/grid/x-data-grid/src/components/GridLoadingOverlay.tsx
  packages/grid/x-data-grid/src/components/GridNoRowsOverlay.tsx
  packages/grid/x-data-grid/src/components/base/GridErrorHandler.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/storybook/src/stories/grid-error.stories.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#4162 [docs] Fix broken anchor links
  docs/data/data-grid/columns/columns.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/overview/overview.md
Labels: docs

#4126 [core] Add CLI to decode license key
  packages/x-license-pro/bin/license-decode-script.js
  packages/x-license-pro/package.json
  packages/x-license-pro/src/cli/license-cli.ts
Labels: core

#3816 [DataGrid] Add column order and dimensions to the portable state
  docs/data/data-grid/state/RestoreStateApiRef.js
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/tests/columns.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: component: data grid, feature: Rendering layout

#4140 [DataGrid] Fix `showCellRightBorder` not working in the last row
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#4154 [core] Keep same reference to the column visibility model if no column has changed
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.ts
Labels: core, enhancement

#4165 [docs] Fix 301 links
  docs/data/data-grid/export/export.md
Labels: docs

#4188 [DataGridPro] Fix pinned columns edge overflow with custom borderRadius
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, plan: Pro

#4196 [DataGrid] Do not unselect row when shift + click on the last selected row of a range
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Selection

#3963 [DataGrid] New editing API
  docs/data/data-grid/events/events.json
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/api-docs/data-grid/grid-editing-api.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-editing-api.json
  docs/src/pages/components/data-grid/events/events.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/gridEditRowsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.old.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridEditing.old.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.old.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/api/index.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/gridEditRowModel.ts
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/DataGrid.spec.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
  packages/x-license-pro/src/watermark/Watermark.tsx
  packages/x-license-pro/src/watermark/index.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement, feature: Editing

#4164 [docs] Fix 404 API links
  docs/data/data-grid/demo/demo.md
  docs/data/pages.ts
  docs/pages/api-docs/data-grid/index.md
  docs/pages/x/api/data-grid/index.md
  docs/src/pages.js
Labels: docs

#4212 [l10n] Improve ar-SD translations
  packages/grid/x-data-grid/src/locales/arSD.ts
Labels: l10n

#4030 [core] Implement strategy pattern for pre-processors
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/core/preProcessing/useGridPreProcessing.ts
  packages/grid/x-data-grid/src/hooks/core/preProcessing/useGridRegisterPreProcessor.ts
  packages/grid/x-data-grid/src/hooks/core/rowGroupsPreProcessing/gridRowGroupsPreProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/core/rowGroupsPreProcessing/index.ts
  packages/grid/x-data-grid/src/hooks/core/rowGroupsPreProcessing/useGridRowGroupsPreProcessing.ts
  packages/grid/x-data-grid/src/hooks/core/strategyProcessing/gridStrategyProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/core/strategyProcessing/index.ts
  packages/grid/x-data-grid/src/hooks/core/strategyProcessing/useGridRegisterStrategyProcessor.ts
  packages/grid/x-data-grid/src/hooks/core/strategyProcessing/useGridStrategyProcessing.ts
  packages/grid/x-data-grid/src/hooks/core/useGridInitialization.ts
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridRegisterFilteringMethod.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsPreProcessors.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/gridSortingState.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridRegisterSortingMethod.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommon.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
Labels: core

#4220 [docs] Delete the two restore state demos
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/data/data-grid/state/RestoreStateApiRef.tsx
  docs/data/data-grid/state/RestoreStateApiRef.tsx.preview
  docs/data/data-grid/state/RestoreStateInitialState.js
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx.preview
Labels: docs

#4221 [docs] Remove useless `apiRef` from demos
  docs/data/data-grid/group-pivot/RowGroupingControlled.js
  docs/data/data-grid/group-pivot/RowGroupingControlled.tsx
  docs/data/data-grid/group-pivot/RowGroupingControlled.tsx.preview
  docs/data/data-grid/group-pivot/RowGroupingInitialState.js
  docs/data/data-grid/group-pivot/RowGroupingInitialState.tsx
  docs/data/data-grid/group-pivot/RowGroupingInitialState.tsx.preview
  docs/data/data-grid/state/UseGridSelector.js
  docs/data/data-grid/state/UseGridSelector.tsx
  docs/data/data-grid/state/UseGridSelector.tsx.preview
Labels: docs

#4202 [core] Fix Lerna package change detection
  scripts/README.md
Labels: core

#4245 [l10n] Improve Korean (ko-KR) locale
  packages/grid/x-data-grid/src/locales/koKR.ts
Labels: component: data grid, l10n

#4227 [l10n] Improve Persian (fa-IR) locale
  packages/grid/x-data-grid/src/locales/faIR.ts
Labels: l10n

#4216 [core] Use a pipe processor for `GridPreferencePanel` children
  packages/grid/x-data-grid/src/components/panel/GridPreferencesPanel.tsx
  packages/grid/x-data-grid/src/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/gridPreferencePanelState.ts
Labels: core, component: data grid

#4123 [core] Prepare `@mui/x-license-pro` for date pickers
  docs/next.config.js
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/Watermark.tsx
  packages/grid/x-data-grid-pro/src/utils/releaseInfo.ts
  packages/storybook/.storybook/main.ts
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/Watermark/index.ts
  packages/x-license-pro/src/index.ts
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseInfo.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-license-pro.exports.json
  webpackBaseConfig.js
Labels: package: x-license-pro

#4198 [DataGridPro] Fix tab switching order with pinned columns and `editMode="row"`
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  test/e2e/fixtures/DataGridPro/RowEditingWithPinnedColumns.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid, feature: Editing, feature: Rendering layout

#4222 [docs] Document Print export `X-Frame-Options` limitation
  docs/data/data-grid/export/export.md
Labels: docs, component: data grid

#4247 [DataGrid] Adjust type of GridColumnHeaderTitle description prop
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
Labels: component: data grid

#4252 [DataGrid] Fix focus after stopping row edit mode
  docs/pages/api-docs/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/api/gridFocusApi.ts
Labels: enhancement, feature: Editing

#4264 v5.7.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#4271 [l10n] Improve Danish (da-DK) locale
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n

#4273 [DataGrid] Add missing classes on `gridClasses` and `gridPanelClasses`
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/constants/gridClasses.ts
Labels: docs, typescript

#4283 [core] Remove dead code
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
Labels: core, component: data grid

#4224 [DataGrid] Fix last column border inconsistency
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid

#4276 [DataGrid] Add slot for filter icon button
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/index.ts
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement

#4157 [DataGrid] Improve selection with keyboard
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/hooks/features/keyboard/useGridKeyboard.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: component: data grid, feature: Selection

#4229 [core] Reuse previous state when updating the columns prop
  docs/data/data-grid/filtering/CustomMultiValueOperator.js
  docs/data/data-grid/filtering/CustomMultiValueOperator.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/tests/columns.DataGrid.test.tsx
Labels: core

#4267 [DataGrid] Add `onProcessRowUpdateError` prop
  docs/data/data-grid/editing/ServerSidePersistence.js
  docs/data/data-grid/editing/ServerSidePersistence.tsx
  docs/data/data-grid/editing/ServerSidePersistence.tsx.preview
  docs/data/data-grid/editing/editing.md
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, enhancement, feature: Editing

#4272 [DataGrid] Scroll to the top of the page when changing page
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: component: data grid, feature: Pagination

#4302 [DataGrid] Allows to use keyboard navigation even with no rows
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#4028 [DataGrid] Enable the documentation of the portable state
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/data/data-grid/state/RestoreStateApiRef.tsx
  docs/data/data-grid/state/RestoreStateApiRef.tsx.preview
  docs/data/data-grid/state/RestoreStateInitialState.js
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx.preview
  docs/data/data-grid/state/state.md
Labels: docs

#4281 [DataGrid] Fix overlay blocking scrollbar when `rows` is empty
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, regression
