Repository mui/mui-x, pull requests merged in 2022-08, with the labels that each got.

#5639 [docs] Update signature for maxDateTime
  docs/translations/api-docs/date-pickers/date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: docs

#5645 [DataGrid] Add `initialOpen` prop to `GridEditSingleSelectCell` to allow overriding default behavior on cell edit mode
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
Labels: component: data grid

#4999 [core] Upgrade node to v14
  .circleci/config.yml
  .codesandbox/ci.json
  netlify.toml
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
Labels: core

#5669 [core] Drop usage of `GRID_EXPERIMENTAL_ENABLED` env variable
  docs/next.config.js
  packages/grid/x-data-grid/src/constants/envConstants.ts
  packages/storybook/.storybook/main.ts
Labels: bug 🐛, core

#5511 [data grid] Improve start edit UX
  docs/data/data-grid/accessibility/accessibility.md
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.old.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/utils/keyboardUtils.ts
Labels: bug 🐛, component: data grid, feature: Editing

#5487 [l10n] Complete Italian (it-IT) locale
  packages/grid/x-data-grid/src/locales/itIT.ts
Labels: l10n

#5692 [docs] Add missing `date-fns` dependency when opening Codesandbox demo
  docs/pages/_app.js
Labels: docs

#5699 v5.15.1
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#4155 [core] Update tooling to run with React 18
  benchmark/package.json
  docs/package.json
  package.json
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/statePersistence.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnSpanning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filterPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/layout.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/printExport.DataGrid.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/sorting.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/export.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
  packages/storybook/package.json
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  test/utils/init.js
  test/utils/setup.js
  yarn.lock
Labels: test, core

#5707 [test] Fix failing dynamic row height tests on Edge
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test

#5656 [core] Remove duplicated FUNDING.yml file
  .github/FUNDING.yml
Labels: core

#5596 [pickers] Fix theme augmentation with typescript
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: typescript, component: pickers

#5711 [DataGrid] Catch error if rows freezing is not supported
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#5654 [docs] Add description to the GridExportStateParams page
  docs/pages/x/api/data-grid/grid-export-state-params.md
  packages/grid/x-data-grid/src/hooks/features/statePersistence/gridStatePersistenceInterface.ts
Labels: docs, component: data grid

#5727 [core] Remove outdated Next.js options
  docs/next.config.js
Labels: docs, core

#5684 [pickers] fix to default to desktop mode when matchMedia is unavailable
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/time-picker/time-picker.md
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  test/karma.conf.js
  test/utils/pickers-utils.tsx
Labels: test, component: pickers

#5310 [pickers] Reset input value when locale is modified
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: l10n

#5739 [docs] Add RFC GH issue template
  .github/ISSUE_TEMPLATE/5.rfc.yml
Labels: docs

#5686 [DataGrid] Preserve cell mode when entering edit mode while commiting
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.old.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid

#5728 [docs] Use new edit API in the introduction demos
  docs/data/data-grid/demo/FullFeaturedDemo.js
  docs/data/data-grid/demo/FullFeaturedDemo.tsx
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/overview/DataGridDemo.js
  docs/data/data-grid/overview/DataGridDemo.tsx
  docs/data/data-grid/overview/DataGridDemo.tsx.preview
  docs/data/data-grid/overview/DataGridPremiumDemo.js
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx.preview
  docs/data/data-grid/overview/DataGridProDemo.js
  docs/data/data-grid/overview/DataGridProDemo.tsx
  docs/data/data-grid/overview/DataGridProDemo.tsx.preview
  packages/grid/x-data-grid-generator/src/renderer/renderEditStatus.tsx
Labels: docs, component: data grid, feature: Editing

#5740 [pickers] fix to trigger `onChange` when clearing not empty value
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
Labels: bug 🐛, component: pickers

#5758 [time picker] set clock focus outline to `none`
  packages/x-date-pickers/src/ClockPicker/Clock.tsx
Labels: bug 🐛, component: time picker

#5752 [pickers] Add `react-dom` to peerDependencies
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: bug 🐛, core, component: pickers

#5761 5.15.2
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#5756 [DataGrid] Fix Enter causing Select to re-open when commiting value
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
Labels: bug 🐛, component: data grid, feature: Editing

#5674 [DataGrid] Fix `GridOverlays` bypassing pointer events
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
Labels: component: data grid, regression, feature: Rendering layout

#5771 [core] Upgrade monorepo
  package.json
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  yarn.lock
Labels: core

#5772 [docs] Fix typo on the row height page
  docs/data/data-grid/row-height/row-height.md
Labels: docs

#5556 [core] Various TS improvements
  docs/data/data-grid/demo/FullFeaturedDemo.js
  docs/data/data-grid/demo/FullFeaturedDemo.tsx
  docs/data/data-grid/editing-legacy/StartEditButtonGrid.tsx
  docs/data/data-grid/master-detail/BasicDetailPanels.tsx
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx
  docs/data/data-grid/master-detail/FormDetailPanel.tsx
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  package.json
  packages/grid/x-data-grid-generator/src/renderer/renderEditCountry.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/ErrorBoundary.tsx
  packages/grid/x-data-grid/src/components/GridAutoSizer.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/GridScrollArea.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridNativeEventListener.ts
  packages/grid/x-data-grid/src/models/params/gridMenuParams.ts
  yarn.lock
Labels: core, typescript

#5597 [docs] Use InputBase for pickers inputs
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/editing/EditingWithDatePickers.tsx
Labels: docs, component: data grid

#5731 [license] Give more context in the missing license
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
Labels: package: x-license-pro

#5730 [license] Only log an error type once
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-license-pro/src/useLicenseVerifier/index.ts
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
  packages/x-license-pro/tsconfig.json
Labels: package: x-license-pro

#5726 [docs] Link the license docs before pricing
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/editing-legacy/editing.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/events/events.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/state/state.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/date-range-picker/date-range-picker-pt.md
  docs/data/date-pickers/date-range-picker/date-range-picker-zh.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/introduction/licensing/licensing.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/public/_redirects
  docs/scripts/api/buildInterfacesDocumentation.ts
Labels: docs

#5732 [docs] Fix contradiction in the free trial clause
  docs/data/introduction/licensing/licensing.md
  docs/public/_redirects
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
Labels: bug 🐛, docs

#5795 [docs] Fix API anchor link scroll top
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, docs, regression

#5799 [test] Increase timeout to take print screenshot
  test/regressions/index.test.js
Labels: test

#5797 [core] Upgrade monorepo
  yarn.lock
Labels: core

#5784 [docs] Fix default value of DataGrid's logLevel prop to false
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid

#5798 [Pickers] Add `className` prop to `PickersActionBar`
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
Labels: component: pickers, custom: css

#5768 [DatePicker] Support click on day outside of current month
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: bug 🐛

#5683 [docs] Improve "upgrading plans" documentation.
  docs/data/introduction/licensing/licensing.md
Labels: docs

#5835 [docs] Update packages readme files
  packages/grid/x-data-grid-generator/README.md
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
Labels: docs

#5839 v5.15.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5833 [pickers] Add Polish (pl-PL) locale
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/plPL.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#5840 [core] Small changes to the release script
  scripts/releaseChangelog.js
Labels: core

#5824 [core] Clarify the scope of this license key
  test/regressions/index.js
  test/utils/licenseKey.ts
Labels: core

#5805 [pickers] Add a breaking change section in the migration guide
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/migration-lab/migration-lab.md
Labels: docs

#5809 [DatePicker] Improve `a11y` support
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/CalendarPicker/PickersSlideTransition.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: accessibility, component: pickers

#5874 [core] Remove Firefox from the BrowserStack list
  test/karma.conf.js
Labels: core

#5886 [DataGrid] Update deprecation note for `GridColDef` `hide` property
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
Labels: component: data grid, dx

#5734 [DataGrid] Improve `GridRowModel` typing
  docs/data/data-grid/editing/LinkedFieldsCellEditing.js
  docs/data/data-grid/editing/LinkedFieldsCellEditing.tsx
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/models/gridRows.ts
Labels: component: data grid, typescript

#5504 [pickers] New unstable field components
  docs/data/date-pickers/date-field/BasicDateField.js
  docs/data/date-pickers/date-field/BasicDateField.tsx
  docs/data/date-pickers/date-field/BasicDateField.tsx.preview
  docs/data/date-pickers/date-field/CustomDateField.tsx.preview
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/date-field/CustomInputProps.js
  docs/data/date-pickers/date-field/CustomInputProps.tsx
  docs/data/date-pickers/date-field/CustomUIDateField.js
  docs/data/date-pickers/date-field/CustomUIDateField.tsx
  docs/data/date-pickers/date-field/DateFieldValidation.js
  docs/data/date-pickers/date-field/DateFieldValidation.tsx
  docs/data/date-pickers/date-field/DateFieldValue.js
  docs/data/date-pickers/date-field/DateFieldValue.tsx
  docs/data/date-pickers/date-field/DateFieldValue.tsx.preview
  docs/data/date-pickers/date-field/DebouncedDateField.js
  docs/data/date-pickers/date-field/DebouncedDateField.tsx
  docs/data/date-pickers/date-field/DebouncedDateField.tsx.preview
  docs/data/date-pickers/date-field/LocalizedDateField.js
  docs/data/date-pickers/date-field/LocalizedDateField.tsx
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-range-field/BasicDateRangeField.js
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx.preview
  docs/data/date-pickers/date-range-field/BasicMultiInput.js
  docs/data/date-pickers/date-range-field/BasicMultiInput.tsx
  docs/data/date-pickers/date-range-field/BasicMultiInput.tsx.preview
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/fields/fields.md
  docs/package.json
  docs/pages/x/react-date-pickers/date-field.js
  docs/pages/x/react-date-pickers/date-range-field.js
  docs/pages/x/react-date-pickers/fields.js
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.tsx
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.utils.ts
  packages/x-date-pickers-pro/src/DateRangeField/index.ts
  packages/x-date-pickers-pro/src/DateRangeField/useDateRangeField.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/validation/useValidation.ts
  packages/x-date-pickers/src/internals/index.ts
  yarn.lock
Labels: component: pickers

#5848 [core] Memoize `columns` in `useDemoData` hook
  packages/grid/x-data-grid-generator/src/hooks/useDemoData.ts
Labels: core, component: data grid

#5397 [pickers] Should fallback on default minDate / maxDate when null is passed
  .eslintrc.js
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.ts
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateRangeValidation.ts
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/hooks/validation/models.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateTimeValidation.ts
  packages/x-date-pickers/src/internals/hooks/validation/useDateValidation.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/helpers.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
Labels: component: pickers

#5143 [pickers] Add key in the `localeText`
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/models/props/baseToolbarProps.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/itIT.ts
  packages/x-date-pickers/src/locales/koKR.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/locales/zhCN.ts
Labels: l10n

#5892 [core] Fix Typescript error on field hooks
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/DateRangeField/useDateRangeField.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
Labels: typescript

#5277 [docs] Fix typo in `migration from lab`
  docs/data/date-pickers/migration-lab/migration-lab.md
Labels: docs, component: pickers

#5894 Fix column grouping in DataGridPremium
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
Labels: regression

#5471 [DatePicker] Fix to pass down `className` prop provided on DatePicker to `renderInput`
  packages/x-date-pickers/src/internals/components/KeyboardDateInput.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
Labels: bug 🐛, component: pickers

#5889 [DataGrid] Handle `disableVirtualization` prop change
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
Labels: bug 🐛, component: data grid

#5899 [pickers] Use defaultized hook pattern for field hooks
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/DateRangeField/useDateRangeField.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/validation/useValidation.ts
Labels: component: pickers

#5902 v5.16.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#5851 [DataGridPro] Fix crash when using `pinnedRows` + `getRowClassName` props and `rows=[]`
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row pinning

#5757 [license] Remove CLI
  packages/x-license-pro/bin/license-decode-script.js
  packages/x-license-pro/bin/license-gen-script.js
  packages/x-license-pro/package.json
  packages/x-license-pro/src/cli/license-cli.ts
  scripts/copyFiles.js
Labels: bug 🐛, package: x-license-pro

#5849 [docs] Update `GridCellParams` `value` description
  docs/data/data-grid/column-definition/RenderCellGrid.js
  docs/data/data-grid/column-definition/RenderExpandCellGrid.js
  docs/data/data-grid/editing-legacy/RenderRatingEditCellGrid.js
  docs/data/data-grid/editing/AutoStopEditComponent.js
  docs/data/data-grid/editing/CustomEditComponent.js
  docs/data/data-grid/editing/EditingWithDatePickers.js
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/pages/x/api/data-grid/grid-cell-params.md
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
Labels: docs, component: data grid

#5871 [DataGrid] Do not throw if `fieldToFocus` cannot be found
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/grid/x-data-grid/src/models/api/gridParamsApi.ts
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
Labels: bug 🐛, component: data grid, feature: Editing

#5773 [DateRangePicker] disable day on date range
  docs/translations/api-docs/date-pickers/date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/validation/useDateRangeValidation.ts
  packages/x-date-pickers-pro/src/internal/models/dateRange.ts
Labels: component: date range picker

#5901 [pickers] Improve DOM event management on `useField`
  docs/data/date-pickers/date-field/CustomUIDateField.tsx
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.interfaces.ts
  packages/x-date-pickers/src/DateField/DateField.interfaces.ts
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.interfaces.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#5941 [pickers] Do not require `date-fns` in `@mui/x-date-pickers-pro`
  packages/x-date-pickers-pro/src/DateRangeField/DateRangeField.interfaces.ts
  packages/x-date-pickers-pro/src/DateRangeField/useDateRangeField.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers/src/internals-fields/index.ts
  packages/x-date-pickers/src/internals/index.ts
Labels: regression, component: pickers

#5651 [pickers] Fix mobile picker not opening on label click
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePickerLocalization.test.tsx
  packages/x-date-pickers/src/internals/components/PureDateInput.tsx
Labels: bug 🐛, component: pickers, mobile

#5956 [core] Remove outdated TODO
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
Labels: core, component: pickers

#5960 [core] Upgrade monorepo
  yarn.lock
Labels: core

#5955 [test] Fix time zone sensitive test
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
Labels: test

#5919 [DataGridPremium] Update grouping when `groupingValueGetter` changes
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregation.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  scripts/x-data-grid-premium.exports.json
Labels: bug 🐛, component: data grid

#5924 [DataGridPro] Add class name to row with open detail panel
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelPreProcessors.ts
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/constants/gridClasses.ts
  packages/grid/x-data-grid/src/hooks/core/pipeProcessing/gridPipeProcessingApi.ts
Labels: component: data grid, plan: Pro

#5969 [pickers] Include `community` package `themeAugmentation` in `pro` package types
  packages/x-date-pickers-pro/src/themeAugmentation/index.ts
Labels: bug 🐛, typescript, component: pickers

#5963 [DataGridPremium] Add columnGroups initializer
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
Labels: plan: Premium

#5820 [DatePicker] Improve focus management
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPickerKeyboard.test.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/useCalendarState.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/MonthPicker/MonthPicker.tsx
  packages/x-date-pickers/src/MonthPicker/PickersMonth.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/YearPicker/PickersYear.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.test.tsx
  packages/x-date-pickers/src/YearPicker/YearPicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/useFocusManagement.tsx
Labels: accessibility
