Repository mui/mui-x, pull requests merged in 2022-05, with the labels that each got.

#4695 [DatePicker] Make month year order changeable in header
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.test.tsx
Labels: component: pickers, component: date picker

#4683 [data grid] Check focus validity whenever the rows in state changes
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Row Grouping

#4649 [pickers] Do not apply the current time when no date provided in `DayPicker`
  packages/x-date-pickers/src/CalendarPicker/DayPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
Labels: bug 🐛, component: pickers, component: date time picker, component: date picker

#4701 [pickers] Document and refacto the value manager
  packages/x-date-pickers-pro/src/DateRangePicker/shared.ts
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
Labels: core, component: pickers

#4515 [DataGrid] Fix scroll jump when using keyboard navigation
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: data grid, feature: Rendering layout

#4210 [DataGrid] Add props to control cell mode
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/events/events.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/utils/tree/buildRowTree.test.ts
  packages/grid/x-data-grid-pro/src/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsSelector.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsPreProcessors.tsx
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/api/gridFocusApi.ts
  packages/grid/x-data-grid/src/models/api/index.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: feature: Editing

#4725 [docs] Generate the event documentation from `GridEventLookup`
  docs/data/data-grid/events/events.json
  docs/scripts/api/buildGridEventsDocumentation.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid-pro/src/typeOverloads/modules.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
Labels: docs

#4726 [TimePicker] Disable and invalidate date with minutes not matching `minutesStep`
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/internals/hooks/validation/useTimeValidation.ts
Labels: component: pickers, component: time picker

#4379 [DataGrid] Improve sorting accessibility
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: accessibility, component: data grid, enhancement, feature: Sorting

#4186 [docs] Simplify server examples
  docs/data/data-grid/filtering/ServerFilterGrid.js
  docs/data/data-grid/filtering/ServerFilterGrid.tsx
  docs/data/data-grid/filtering/ServerFilterGrid.tsx.preview
  docs/data/data-grid/pagination/CursorPaginationGrid.js
  docs/data/data-grid/pagination/CursorPaginationGrid.tsx
  docs/data/data-grid/pagination/CursorPaginationGrid.tsx.preview
  docs/data/data-grid/pagination/ServerPaginationGrid.js
  docs/data/data-grid/pagination/ServerPaginationGrid.tsx
  docs/data/data-grid/pagination/ServerPaginationGrid.tsx.preview
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/sorting/ServerSortingGrid.js
  docs/data/data-grid/sorting/ServerSortingGrid.tsx
  docs/data/data-grid/sorting/ServerSortingGrid.tsx.preview
  packages/grid/x-data-grid-generator/src/hooks/index.ts
  packages/grid/x-data-grid-generator/src/hooks/useDemoData.ts
  packages/grid/x-data-grid-generator/src/hooks/useQuery.ts
  scripts/x-data-grid-generator.exports.json
Labels: docs

#4753 [docs] Set type number to movie column year
  packages/grid/x-data-grid-generator/src/hooks/useMovieData.ts
Labels: docs, component: data grid

#4745 [DateRangePicker] Refacto tests
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
Labels: test, core, component: pickers, component: date range picker

#4772 [core] Update monorepo
  yarn.lock
Labels: core

#4774 [DataGridPremium] Fix Excel date serialization when row grouping is enabled
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: bug 🐛, component: data grid, feature: Export

#4694 [DataGrid] Update focused action if the currently focused one is removed
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#4193 [core] Check if `process` is available
  packages/grid/x-data-grid-generator/src/services/random-generator.ts
  test/regressions/webpack.config.js
Labels: bug 🐛, core

#4651 [license] Allow to limit some packages to a specific license plan
  docs/data/advanced-components/overview.md
  docs/data/date-pickers/migration-lab/migration-lab.md
  packages/storybook/.storybook/preview.tsx
  packages/x-license-pro/src/cli/license-cli.ts
  packages/x-license-pro/src/generateLicense/generateLicense.test.ts
  packages/x-license-pro/src/generateLicense/generateLicense.ts
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/index.ts
  packages/x-license-pro/src/utils/licenseScope.ts
  packages/x-license-pro/src/utils/licensingModel.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-license-pro.exports.json
  test/regressions/index.js
  test/utils/licenseKey.ts
Labels: package: x-license-pro, plan: Premium

#4789 [core] Update monorepo & version
  yarn.lock
Labels: core

#4711 [docs] SEO fixes
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/date-pickers/migration-lab/migration-lab.md
  docs/public/_redirects
  packages/grid/x-data-grid-premium/LICENSE
  packages/grid/x-data-grid-pro/LICENSE
  packages/x-date-pickers-pro/LICENSE
  packages/x-license-pro/LICENSE
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
Labels: bug 🐛, docs, regression

#4752 [test] Fix path to detect DataGrid tests
  test/regressions/index.js
Labels: test

#4811 [docs] Add `scopePathNames` property to column page
  docs/data/pages.ts
Labels: docs

#4783 [core] Rework `DayPicker` api
  docs/translations/api-docs/date-pickers/calendar-picker-pt.json
  docs/translations/api-docs/date-pickers/calendar-picker-zh.json
  docs/translations/api-docs/date-pickers/calendar-picker.json
  docs/translations/api-docs/date-pickers/date-picker-pt.json
  docs/translations/api-docs/date-pickers/date-picker-zh.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerView.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: bug 🐛, component: pickers

#4816 [docs] Keep columns section expanded when switching between pages
  docs/data/pages.ts
Labels: docs

#4810 [data grid] Only publish `preferencePanelClose` event once when closing panel by clicking on another panel button
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
Labels: bug 🐛, component: data grid

#4833 [DateTimePicker] Toolbar should be visible by default on mobile
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
Labels: bug 🐛, regression, component: pickers, component: date time picker

#4847 [TimePicker] Don't merge with previous value when new value is not valid
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
Labels: bug 🐛, regression, component: pickers, component: time picker

#4835 [data grid] Temporarily add back the row grouping on the Pro package
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/typeOverloads/index.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/components/GridGroupingColumnLeafCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowGroupableColumnMenuItems.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowGroupingColumnMenuItems.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingSelector.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/index.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/models/gridApiPro.ts
  packages/grid/x-data-grid-pro/src/models/gridGroupingValueGetterParams.ts
  packages/grid/x-data-grid-pro/src/models/gridStatePro.ts
  packages/grid/x-data-grid-pro/src/typeOverloads/modules.ts
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid

#4770 [DatePicker] Ignore escape key when the picker is already closed
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: bug 🐛, component: pickers

#4786 [DataGrid] Add `keepNonExistentRowsSelected` prop
  docs/data/data-grid/selection/ControlledSelectionServerPaginationGrid.js
  docs/data/data-grid/selection/ControlledSelectionServerPaginationGrid.tsx
  docs/data/data-grid/selection/selection.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/selection/useGridSelection.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: component: data grid, enhancement

#4621 [DataGrid] Add `onChange` callback to edit components
  docs/data/data-grid/editing/LinkedFieldsCellEditing.js
  docs/data/data-grid/editing/LinkedFieldsCellEditing.tsx
  docs/data/data-grid/editing/LinkedFieldsCellEditing.tsx.preview
  docs/data/data-grid/editing/LinkedFieldsRowEditing.js
  docs/data/data-grid/editing/LinkedFieldsRowEditing.tsx
  docs/data/data-grid/editing/LinkedFieldsRowEditing.tsx.preview
  docs/data/data-grid/editing/editing.md
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditBooleanCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/cell/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement, feature: Editing

#4831 [DataGrid] Prevent crash if row is removed with click
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid

#4839 [pickers] Invalid character does not delete last digit
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/internals/utils/text-field-helper.test.ts
  packages/x-date-pickers/src/internals/utils/text-field-helper.ts
Labels: bug 🐛, component: pickers

#4827 v5.11.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#4842 [docs] Disable ads on paid-only pages
  docs/pages/x/react-data-grid/column-pinning.js
  docs/pages/x/react-data-grid/events.js
  docs/pages/x/react-data-grid/state.js
  docs/pages/x/react-date-pickers/date-range-picker.js
Labels: docs

#4818 [docs] Don't redirect to localized doc on deploy preview
  docs/pages/_app.js
Labels: docs

#4499 [pickers] Close Popper when pressing <kbd>Esc</kbd> inside a modal
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: On hold

#4855 [pickers] Add class slots for toolbar components
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/timePickerToolbarClasses.ts
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: component: pickers

#4874 [core] Small code style edit
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.js
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.tsx
  docs/data/data-grid/filtering/QuickFilteringCustomizedGrid.js
  docs/data/data-grid/filtering/QuickFilteringCustomizedGrid.tsx
  docs/data/data-grid/filtering/QuickFilteringGrid.js
  docs/data/data-grid/filtering/QuickFilteringGrid.tsx
Labels: core

#4875 [core] Fix link to the LICENSE file
  packages/grid/x-data-grid-premium/package.json
Labels: core

#4891 [docs] Avoid confusion with license key installation
  docs/data/advanced-components/overview.md
  docs/data/date-pickers/migration-lab/migration-lab.md
Labels: docs

#4873 [docs] LICENSE max 80 char per line
  packages/grid/x-data-grid-premium/LICENSE
  packages/grid/x-data-grid-pro/LICENSE
  packages/x-date-pickers-pro/LICENSE
  packages/x-license-pro/LICENSE
Labels: docs

#4876 [CHANGELOG] Small polishes
  CHANGELOG.md
Labels: docs

#4867 [TimePicker] Fix time validation when current date is null
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/ClockPicker/ClockPicker.tsx
Labels: bug 🐛, component: pickers, component: time picker

#4896 [core] New pipe processing: row hydration
  docsTech/processing.md
  packages/grid/x-data-grid/src/hooks/core/pipeProcessing/gridPipeProcessingApi.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: core, component: data grid

#4902 [core] Add new script to generate tree data rows from file tree
  package.json
  scripts/treeDataFromFileTree.ts
Labels: core, component: data grid, feature: Tree data

#4913 [core] Execute the pipe-processors in their initialization order
  packages/grid/x-data-grid/src/hooks/core/pipeProcessing/useGridPipeProcessing.ts
Labels: core, component: data grid

#4830 [DataGridPremium] Support column spanning in Excel export
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
Labels: component: data grid, feature: Export

#4918 [docs] Update feature comparison table
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs

#4793 [core] Fix transitive babel dependency
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-license-pro/package.json
Labels: core

#4910 [DataGrid] Fix rendering of the no rows overlay when the `loading` prop is changed
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, regression

#4933 [core] Simplify rows cache management
  packages/grid/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsState.ts
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
Labels: core, component: data grid

#4936 [docs] Fix TS typo in ColumnSpanningFunction example
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx
Labels: docs

#4935 v5.11.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#4857 [data grid] Disable drag event handlers when row or column reorder are disabled
  packages/grid/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
Labels: bug 🐛, component: data grid, plan: Pro

#4825 [data grid] Add `onMenuOpen` and `onMenuClose` props
  docs/data/data-grid/events/events.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/hooks/features/events/useGridEvents.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/events/gridEvents.ts
  packages/grid/x-data-grid/src/models/params/gridMenuParams.ts
  packages/grid/x-data-grid/src/models/params/index.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, enhancement, plan: Community

#4949 [data grid] Remove row grouping from pro plan
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/index.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/index.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/components/GridGroupingColumnLeafCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowGroupableColumnMenuItems.tsx
  packages/grid/x-data-grid-pro/src/components/GridRowGroupingColumnMenuItems.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingSelector.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/index.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/models/gridApiPro.ts
  packages/grid/x-data-grid-pro/src/models/gridGroupingValueGetterParams.ts
  packages/grid/x-data-grid-pro/src/models/gridStatePro.ts
  packages/grid/x-data-grid-pro/src/typeOverloads/modules.ts
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid, feature: Row Grouping

#4957 [docs] New WAI-ARIA guidelines location
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/getting-started/getting-started-pt.md
  docs/data/date-pickers/getting-started/getting-started-zh.md
  docs/data/date-pickers/getting-started/getting-started.md
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/CalendarPicker/CalendarPicker.test.tsx
Labels: docs, accessibility

#4893 [license] Remove support for UTF-8
  packages/x-license-pro/src/encoding/base64.test.ts
  packages/x-license-pro/src/encoding/base64.ts
Labels: performance, package: x-license-pro

#4974 [l10n] Add deDE translations for x-date-pickers
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#4980 [core] Use new cache api for the row grouping last model tracking
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingInterfaces.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
  packages/grid/x-data-grid/src/models/gridApiCaches.ts
  scripts/x-data-grid-premium.exports.json
Labels: core, component: data grid, feature: Row Grouping

#4956 [docs] Fix navigation links
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/column-definition/ValueParserGrid.js
  docs/data/data-grid/column-definition/ValueParserGrid.tsx
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/editing-legacy/editing.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/events/events.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/rows/rows.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/selection/selection.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/state/state.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/date-range-picker/date-range-picker-pt.md
  docs/data/date-pickers/date-range-picker/date-range-picker-zh.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/public/_redirects
  docs/scripts/api/buildInterfacesDocumentation.ts
Labels: docs

#4952 [docs] Fix typo on rows docs
  docs/data/data-grid/rows/rows.md
Labels: docs, component: data grid

#4987 [data grid] Should not call setRowIndex when dragging a column over a row
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
Labels: component: data grid

#4945 [core] Remove dead code on row grouping tree creation
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
Labels: performance, core, component: data grid, feature: Row Grouping

#4994 [test] Skip Safari and Firefox on broken tests
  packages/x-date-pickers/src/ClockPicker/ClockPicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
Labels: test

#4603 [docs] Add doc sections / pages for upcoming features on pickers
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/date-time-range-picker.js
  docs/pages/x/react-date-pickers/time-range-picker.js
Labels: docs, component: pickers

#5005 [core] Avoid Order ID to refer to GitHub issues/PRs
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
Labels: bug 🐛, core

#5011 [core] Enforce a minimum of 1 label in a PR
  .github/workflows/check-if-pr-has-label.yml
Labels: core

#4795 [data grid] Better reflect the dependency on Material UI
  benchmark/package.json
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/README.md
  packages/grid/x-data-grid/package.json
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/yarn.lock
  packages/storybook/package.json
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-date-pickers/yarn.lock
  packages/x-license-pro/package.json
  yarn.lock
Labels: component: data grid, enhancement

#4982 [DataGrid] Add generics to `GridActionsColDef` to match `GridColDef`
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/tests/columns.spec.tsx
Labels: component: data grid, enhancement, typescript

#4907 [license] Tweak error messages
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
Labels: docs, enhancement, package: x-license-pro

#5016 [DataGrid] Allow other attempts to stop edit mode if the first fails
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridCellEditing.new.ts
  packages/grid/x-data-grid/src/hooks/features/editRows/useGridRowEditing.new.ts
Labels: bug 🐛, component: data grid, feature: Editing

#5003 [docs] Fix broken links to GitHub source
  docs/data/date-pickers/localization/localization.md
Labels: bug 🐛, docs

#5033 [I10n] Improve Hebrew (he-IL) locale
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: l10n

#5014 [data grid] Add an id to the filter item created when opening the filter panel
  packages/grid/x-data-grid-pro/src/tests/filterPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: bug 🐛, component: data grid

#4512 [DataGridPro] Unpin columns back to original position
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/gridColumnPinningInterface.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/typeOverloads/modules.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid, enhancement, plan: Pro

#5050 [data grid] Use column visibility model on Hide All / Show All when enabled
  packages/grid/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/models/gridApiCaches.ts
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#5020 [core] Stop renovate PR updates when PR is on hold
  renovate.json
Labels: core

#5032 v5.12.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  scripts/releaseChangelog.js
Labels: release
