Repository mui/mui-x, pull requests merged in 2022-02, with the labels that each got.

#3768 [core] Clean `filtering.DataGrid.test.tsx`
  packages/grid/_modules_/grid/models/colDef/gridSingleSelectOperators.ts
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: core

#3798 [core] Stop using an enum for `GridPreProcessingGroup`
  packages/grid/_modules_/grid/components/menu/columnMenu/GridColumnMenu.tsx
  packages/grid/_modules_/grid/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/_modules_/grid/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridRegisterFilteringMethod.ts
  packages/grid/_modules_/grid/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/_modules_/grid/hooks/features/scroll/useGridScroll.ts
  packages/grid/_modules_/grid/hooks/features/selection/useGridSelection.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridRegisterSortingMethod.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/treeData/useGridTreeData.tsx
Labels: core

#3813 [test] Increase timeout for Firefox
  test/karma.conf.js
Labels: test

#3800 [l10n] Add Danish (daDK) locale thanks to @kasperfilstrup
  docs/src/pages/components/data-grid/localization/localization.md
  packages/grid/_modules_/grid/locales/daDK.ts
  packages/grid/_modules_/grid/locales/index.ts
Labels: l10n

#3593 [DataGrid] Add methods to import and export the state
  docs/pages/api-docs/data-grid/grid-api.md
  docs/src/pages/components/data-grid/state/RestoreStateApiRef.js
  docs/src/pages/components/data-grid/state/RestoreStateApiRef.tsx
  docs/src/pages/components/data-grid/state/RestoreStateApiRef.tsx.preview
  docs/src/pages/components/data-grid/state/RestoreStateInitialState.js
  docs/src/pages/components/data-grid/state/RestoreStateInitialState.tsx
  docs/src/pages/components/data-grid/state/RestoreStateInitialState.tsx.preview
  docs/src/pages/components/data-grid/state/state.md
  packages/grid/_modules_/grid/hooks/core/preProcessing/gridPreProcessingApi.ts
  packages/grid/_modules_/grid/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/_modules_/grid/hooks/features/columnReorder/columnReorderState.ts
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/_modules_/grid/hooks/features/columns/useGridColumns.ts
  packages/grid/_modules_/grid/hooks/features/filter/gridFilterUtils.ts
  packages/grid/_modules_/grid/hooks/features/filter/useGridFilter.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPage.ts
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPageSize.ts
  packages/grid/_modules_/grid/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/_modules_/grid/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/_modules_/grid/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/_modules_/grid/hooks/features/sorting/gridSortingUtils.ts
  packages/grid/_modules_/grid/hooks/features/sorting/useGridSorting.ts
  packages/grid/_modules_/grid/hooks/features/statePersistence/GridStatePersistenceApi.ts
  packages/grid/_modules_/grid/hooks/features/statePersistence/index.ts
  packages/grid/_modules_/grid/hooks/features/statePersistence/useGridStatePersistence.ts
  packages/grid/_modules_/grid/models/api/gridApi.ts
  packages/grid/x-data-grid-generator/src/useMovieData.ts
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/useDataGridComponent.tsx
Labels: component: data grid

#3765 [docs] Mention row `id` requirement and document `getRowId` prop
  docs/src/pages/components/data-grid/rows/RowsGridWithGetRowId.js
  docs/src/pages/components/data-grid/rows/RowsGridWithGetRowId.tsx
  docs/src/pages/components/data-grid/rows/RowsGridWithGetRowId.tsx.preview
  docs/src/pages/components/data-grid/rows/rows.md
  packages/grid/_modules_/grid/models/gridRows.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: docs, component: data grid

#3807 [docs] Add default value for `Row` slot
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  packages/grid/_modules_/grid/models/gridSlotsComponent.ts
Labels: docs

#3757 [DataGrid] Throw an error if incorrect column type is used
  docs/src/pages/components/data-grid/columns/columns.md
  packages/grid/_modules_/grid/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid

#3794 [core] Remove none code related instructions from git
  scripts/README.md
Labels: core

#3831 v5.5.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#3842 [l10n] Improve tr-TR locale
  packages/grid/_modules_/grid/locales/trTR.ts
Labels: component: data grid, l10n

#3718 [DataGrid] Fix focus when blur event rerender the grid
  packages/grid/_modules_/grid/components/cell/GridCell.tsx
Labels: component: data grid

#3873 [test] Add codecov
  .circleci/config.yml
  codecov.yml
Labels: test

#3846 [DataGrid] Allow to translate `checkboxSelection` labels
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/_modules_/grid/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/locales/arSD.ts
  packages/grid/_modules_/grid/locales/bgBG.ts
  packages/grid/_modules_/grid/locales/csCZ.ts
  packages/grid/_modules_/grid/locales/daDK.ts
  packages/grid/_modules_/grid/locales/deDE.ts
  packages/grid/_modules_/grid/locales/elGR.ts
  packages/grid/_modules_/grid/locales/esES.ts
  packages/grid/_modules_/grid/locales/faIR.ts
  packages/grid/_modules_/grid/locales/fiFI.ts
  packages/grid/_modules_/grid/locales/frFR.ts
  packages/grid/_modules_/grid/locales/heIL.ts
  packages/grid/_modules_/grid/locales/itIT.ts
  packages/grid/_modules_/grid/locales/jaJP.ts
  packages/grid/_modules_/grid/locales/koKR.ts
  packages/grid/_modules_/grid/locales/nlNL.ts
  packages/grid/_modules_/grid/locales/plPL.ts
  packages/grid/_modules_/grid/locales/ptBR.ts
  packages/grid/_modules_/grid/locales/ruRU.ts
  packages/grid/_modules_/grid/locales/skSK.ts
  packages/grid/_modules_/grid/locales/trTR.ts
  packages/grid/_modules_/grid/locales/ukUA.ts
  packages/grid/_modules_/grid/locales/viVN.ts
  packages/grid/_modules_/grid/locales/zhCN.ts
  packages/grid/_modules_/grid/models/api/gridLocaleTextApi.ts
  packages/grid/x-data-grid-pro/src/tests/selection.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
  scripts/performance.js
Labels: component: data grid, enhancement

#3847 [docs] Clarify a bit the migration to v5
  docs/src/pages/components/data-grid/getting-started/CoreV5WithCoreV4.js
  docs/src/pages/components/data-grid/getting-started/migration-v4.md
Labels: docs

#3766 [docs] Unify multi-filtering introduction with the multi-sorting introduction
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/overview/overview.md
Labels: docs, component: data grid, feature: Filtering

#3880 [core] Add hook `useGridPagination` to call `onGridPage` and `onGridPageSize`
  packages/grid/_modules_/grid/hooks/features/pagination/useGridPagination.ts
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
  packages/grid/x-data-grid/src/useDataGridComponent.tsx
Labels: core, component: data grid, feature: Pagination

#3887 [DataGridPro] Register column pinning after selection
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/useDataGridProComponent.tsx
  packages/storybook/src/stories/grid-columns.stories.tsx
Labels: bug 🐛, component: data grid, plan: Pro

#3825 [DataGrid] Add debounce option to `setEditCellValue`
  packages/grid/_modules_/grid/components/cell/GridEditInputCell.tsx
  packages/grid/_modules_/grid/hooks/features/editRows/useGridCellEditing.ts
  packages/grid/_modules_/grid/hooks/features/editRows/useGridEditing.ts
  packages/grid/_modules_/grid/hooks/features/editRows/useGridRowEditing.ts
  packages/grid/_modules_/grid/models/api/gridEditingApi.ts
  packages/grid/_modules_/grid/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid, feature: Editing

#3877 [docs] Fix sorting feature link
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs

#3903 [DataGridPro] Avoid imports from `@mui/base`
  .eslintrc.js
  docs/data/data-grid/group-pivot/TreeDataLazyLoading.js
  docs/data/data-grid/group-pivot/TreeDataLazyLoading.tsx
  packages/grid/_modules_/grid/components/cell/GridGroupingCriteriaCell.tsx
Labels: component: data grid

#3881 [docs] Use Grammarly to fix some typo
  docs/data/data-grid/columns/columns.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/getting-started/migration-v4.md
  docs/data/data-grid/group-pivot/group-pivot.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/selection/selection.md
Labels: docs

#3914 v5.5.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/storybook/package.json
  packages/x-license-pro/package.json
Labels: release

#3921 [core] Use international locale format
  scripts/l10n.ts
Labels: core

#3923 [docs] Fix typo
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/sorting/sorting.md
Labels: docs, component: data grid

#3835 [DataGrid] Stop checkbox ripple on blur
  packages/grid/_modules_/grid/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Selection

#3926 [test] Skip test on Firefox
  packages/grid/x-data-grid/src/tests/selection.DataGrid.test.tsx
Labels: test

#3738 [core] Migrate `@mui/x-license-pro` to the new bundling strategy
  babel.config.js
  package.json
  packages/grid/rollup.x-data-grid-pro.config.js
  packages/x-license-pro/LICENSE.txt
  packages/x-license-pro/package.json
  packages/x-license-pro/rollup.config.js
  packages/x-license-pro/src/licenseStatus.ts
  packages/x-license-pro/tsconfig.build.json
  packages/x-license-pro/tsconfig.json
  tsconfig-core.json
  yarn.lock
Labels: On hold, core

#3751 [DataGridPro] Add `unstable_setRowHeight` method to `apiRef`
  packages/grid/_modules_/grid/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/_modules_/grid/models/api/gridRowsMetaApi.ts
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/storybook/src/stories/grid-rows.stories.tsx
Labels: component: data grid, feature: Rendering layout

#3821 [DataGrid] Fix horizontal scroll not working on empty grid
  packages/grid/_modules_/grid/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  test/e2e/fixtures/DataGrid/EmptyGrid.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid, feature: Rendering layout

#3911 [docs] Add example of custom filtering operator based on built-in ones
  docs/data/data-grid/filtering/CustomSelectionOperator.js
  docs/data/data-grid/filtering/CustomSelectionOperator.tsx
  docs/data/data-grid/filtering/CustomSelectionOperator.tsx.preview
  docs/data/data-grid/filtering/filtering.md
Labels: docs, component: data grid, feature: Filtering

#3949 [l10n] Improve Bulgarian (bg-BG) locale
  packages/grid/_modules_/grid/locales/bgBG.ts
Labels: component: data grid, l10n

#3912 [DataGrid] Fix `Commodity` and `Employee` CSV export of the `country` column
  packages/grid/_modules_/grid/constants/localeTextConstants.ts
  packages/grid/_modules_/grid/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/_modules_/grid/locales/daDK.ts
  packages/grid/_modules_/grid/locales/elGR.ts
  packages/grid/_modules_/grid/locales/esES.ts
  packages/grid/_modules_/grid/locales/plPL.ts
  packages/grid/_modules_/grid/locales/trTR.ts
  packages/grid/x-data-grid-generator/src/commodities.columns.tsx
  packages/grid/x-data-grid-generator/src/employees.columns.tsx
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
Labels: bug 🐛, feature: Export

#3956 [DataGrid] Improve `singleSelect` filter performance
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/_modules_/grid/components/panel/filterPanel/filterPanelUtils.tsx
Labels: performance, component: data grid, feature: Filtering

#3891 [core] Allows to add custom export item
  docs/data/data-grid/export/CustomExport.js
  docs/data/data-grid/export/CustomExport.tsx
  docs/data/data-grid/export/CustomExport.tsx.preview
  docs/data/data-grid/export/export.md
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExport.tsx
  packages/grid/_modules_/grid/components/toolbar/GridToolbarExportContainer.tsx
  packages/grid/_modules_/grid/components/toolbar/index.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core, component: data grid, feature: Export

#3908 [DataGridPro] Always export the pageSize and page when it has been initialized or is being controlled
  packages/grid/x-data-grid/src/internals/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/internals/hooks/features/pagination/useGridPageSize.ts
Labels: bug 🐛, component: data grid, feature: Pagination

#3973 [core] Fix typo in `useGridScroll.ts`
  packages/grid/x-data-grid-pro/src/internals/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/scroll/useGridScroll.ts
Labels: core

#3975 [DataGrid] Memoize Popper modifiers passed to panel
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/internals/components/panel/GridPanel.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#3910 [DataGrid] Remove last filter item when no value to clean and close the filter panel
  packages/grid/x-data-grid/src/internals/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/internals/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
Labels: component: data grid, feature: Filtering

#4005 [docs] Fix 301
  docs/data/data-grid/export/export.md
  docs/data/data-grid/rows/rows.md
  docs/data/data-grid/scrolling/scrolling.md
Labels: docs

#3961 [DataGrid] Re-use previous `rowNode` when building tree and the new `rowNode` is equal to the previous one
  packages/grid/x-data-grid-pro/src/internals/utils/tree/buildRowTree.ts
  packages/grid/x-data-grid/src/internals/hooks/core/rowGroupsPerProcessing/useGridRowGroupsPreProcessing.ts
Labels: performance, component: data grid, feature: Tree data

#3691 [DataGrid] Padding removed from header title
  packages/grid/x-data-grid/src/internals/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid

#3920 [core] Update release instructions
  scripts/README.md
Labels: core

#4027 Revert "Bump next from 12.0.10 to 12.1.0"
  yarn.lock
Labels: docs

#3955 [DataGrid] Allow for truncated and multiline content in grid cells
  docs/pages/api-docs/data-grid/data-grid-pro.json
  docs/pages/api-docs/data-grid/data-grid.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/internals/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/internals/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/internals/gridClasses.ts
  packages/storybook/src/stories/grid-style.stories.tsx
Labels: bug 🐛, component: data grid, regression

#4006 [DataGrid] Improve flex implementation
  packages/grid/x-data-grid/src/internals/hooks/features/columns/gridColumnsUtils.test.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout

#3832 [DataGrid] Improve custom overlay slots positioning
  docs/data/data-grid/components/CustomEmptyOverlayGrid.js
  docs/data/data-grid/components/CustomEmptyOverlayGrid.tsx
  docs/data/data-grid/components/CustomLoadingOverlayGrid.js
  docs/data/data-grid/components/CustomLoadingOverlayGrid.tsx
  docs/data/data-grid/components/CustomLoadingOverlayGrid.tsx.preview
  docs/data/data-grid/rows/InfiniteLoadingGrid.js
  docs/data/data-grid/rows/InfiniteLoadingGrid.tsx
  docs/data/data-grid/rows/InfiniteLoadingGrid.tsx.preview
  packages/grid/x-data-grid/src/internals/components/base/GridErrorHandler.tsx
  packages/grid/x-data-grid/src/internals/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/internals/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
  packages/storybook/src/stories/grid-error.stories.tsx
  packages/storybook/src/stories/grid-rendering.stories.tsx
Labels: component: data grid, enhancement, feature: Rendering layout

#4010 [DataGrid] Clean and document the columns selector
  docs/data/data-grid/columns/ColumnsSelectorsNoSnap.js
  docs/data/data-grid/columns/VisibleColumnsSelectorsNoSnap.js
  docs/data/data-grid/columns/columns.md
  docs/data/data-grid/export/CustomExport.js
  docs/data/data-grid/export/CustomExport.tsx
  docs/data/data-grid/scrolling/ScrollPlayground.js
  docs/data/data-grid/scrolling/ScrollPlayground.tsx
  docs/pages/api-docs/data-grid/selectors.json
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-pro/src/internals/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/internals/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid-pro/src/internals/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/internals/components/GridRow.tsx
  packages/grid/x-data-grid/src/internals/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/internals/components/menu/columnMenu/HideGridColMenuItem.tsx
  packages/grid/x-data-grid/src/internals/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/internals/components/panel/GridPreferencesPanel.tsx
  packages/grid/x-data-grid/src/internals/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/internals/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/columns/gridColumnsInterfaces.ts
  packages/grid/x-data-grid/src/internals/hooks/features/columns/gridColumnsSelector.ts
  packages/grid/x-data-grid/src/internals/hooks/features/columns/useGridColumns.ts
  packages/grid/x-data-grid/src/internals/hooks/features/editRows/useGridRowEditing.ts
  packages/grid/x-data-grid/src/internals/hooks/features/export/useGridCsvExport.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/internals/hooks/features/filter/useGridFilter.ts
  packages/grid/x-data-grid/src/internals/hooks/features/keyboard/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/internals/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/internals/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/internals/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/internals/models/api/gridColumnApi.ts
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#4057 [DataGridPro] Disable export for detail panel column
  packages/grid/x-data-grid-pro/src/internals/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
Labels: component: data grid, enhancement

#4053 [docs] Ensure correct npm install version on v4
  docs/src/pages/components/data-grid/getting-started/getting-started.md
  packages/grid/data-grid/README.md
  packages/grid/x-grid/README.md
Labels: docs
