Repository mui/mui-x, pull requests merged in 2023-09, with the labels that each got.

#10182 [l10n] Improve Slovak (sk-SK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/skSK.ts
Labels: l10n

#10214 [DataGrid] Fix an error when hovering on a row, the background changed to white
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid

#10200 [docs] New page: Custom opening button
  docs/data/date-pickers/custom-opening-button/CustomOpeningIcon.js
  docs/data/date-pickers/custom-opening-button/CustomOpeningIcon.tsx
  docs/data/date-pickers/custom-opening-button/CustomOpeningIcon.tsx.preview
  docs/data/date-pickers/custom-opening-button/CustomOpeningIconConditional.js
  docs/data/date-pickers/custom-opening-button/CustomOpeningIconConditional.tsx
  docs/data/date-pickers/custom-opening-button/CustomOpeningIconConditional.tsx.preview
  docs/data/date-pickers/custom-opening-button/CustomPropsOpeningButton.js
  docs/data/date-pickers/custom-opening-button/CustomPropsOpeningButton.tsx
  docs/data/date-pickers/custom-opening-button/CustomPropsOpeningButton.tsx.preview
  docs/data/date-pickers/custom-opening-button/custom-opening-button.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/custom-opening-button.js
Labels: docs, component: pickers

#10063 [DataGrid] Allow to override the default row count component in footer
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/GridFooter.tsx
  packages/grid/x-data-grid/src/components/GridRowCount.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, customization: extend, enhancement

#10216 [docs] Polish page for SEO
  docs/data/charts/overview/overview.md
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/overview/overview.md
Labels: docs, component: pickers, component: charts

#10215 [core] Move @mui/base from peer dependency to dependency
  packages/x-charts/package.json
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-tree-view/README.md
  packages/x-tree-view/package.json
  yarn.lock
Labels: bug 🐛, core

#10188 [docs] Use `Base UI` `Portal` for the quick filter recipe
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.js
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.tsx
Labels: recipe

#9986 [DataGrid] Make the pinned rows be on top of the no rows overlay
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
Labels: bug 🐛, feature: Rendering layout

#10243 [core] Remove unused `babel-plugin-tester` package
  package.json
  yarn.lock
Labels: core

#10220 [docs] Add pie chart demo with a center label
  docs/data/charts/pie-demo/PieChartWithCenterLabel.js
  docs/data/charts/pie-demo/PieChartWithCenterLabel.tsx
  docs/data/charts/pie-demo/PieChartWithCenterLabel.tsx.preview
  docs/data/charts/pie-demo/pie-demo.md
Labels: docs, component: charts

#10229 [DataGridPro] Fix column resize with pinned rows
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
Labels: component: data grid, regression, feature: Row pinning, feature: Column resize

#10203 [DataGrid] Allow to override the default overlay height in `autoHeight` mode
  docs/data/data-grid/layout/AutoHeightOverlayNoSnap.js
  docs/data/data-grid/layout/AutoHeightOverlayNoSnap.tsx
  docs/data/data-grid/layout/AutoHeightOverlayNoSnap.tsx.preview
  docs/data/data-grid/layout/layout.md
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, customization: css

#10077 [DateRangePicker] Fix `anchorRef` behavior
  docs/data/date-pickers/custom-field/PickerWithBrowserField.js
  docs/data/date-pickers/custom-field/PickerWithBrowserField.tsx
  docs/data/date-pickers/custom-field/PickerWithJoyField.js
  docs/data/date-pickers/custom-field/PickerWithJoyField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/models/fields.ts
Labels: bug 🐛, component: pickers, component: DateRangePicker, design

#10219 [docs] Include code links in the data grid demo
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs, component: data grid

#10245 [TreeView] Add missing export
  docs/translations/api-docs/tree-view/tree-item-content.json
  packages/x-tree-view/src/TreeItem/index.ts
  scripts/x-tree-view.exports.json
Labels: bug 🐛, component: tree view

#10218 [docs] Add a Getting Started page for the Tree View
  README.md
  docs/data/introduction/installation/installation.md
  docs/data/introduction/overview/overview.md
  docs/data/pages.ts
  docs/data/tree-view/getting-started/FirstComponent.js
  docs/data/tree-view/getting-started/FirstComponent.tsx
  docs/data/tree-view/getting-started/FirstComponent.tsx.preview
  docs/data/tree-view/getting-started/getting-started.md
  docs/pages/x/react-tree-view/getting-started.js
Labels: docs

#10263 [docs] Fix charts demo using too deep import
  docs/data/charts/pie-demo/PieChartWithCenterLabel.js
  docs/data/charts/pie-demo/PieChartWithCenterLabel.tsx
Labels: docs, component: charts

#10272 [charts] Remove require condition from package.json exports
  packages/x-charts/package.json
Labels: bug 🐛, core, component: charts

#10204 [docs] Enable `ariaV7` flag for demos using `useDemoData` hook
  packages/grid/x-data-grid-generator/src/services/tree-data-generator.ts
Labels: docs, accessibility, component: data grid

#9930 [DataGridPremium] Fix clipboard import cutting off at 100 rows
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
Labels: component: data grid, plan: Premium, CLA: signed, feature: Clipboard paste

#10268 [docs] Improve Tree View demos
  docs/data/tree-view/overview/BarTreeView.js
  docs/data/tree-view/overview/BarTreeView.tsx
  docs/data/tree-view/overview/BarTreeView.tsx.preview
  docs/data/tree-view/overview/ControlledTreeView.js
  docs/data/tree-view/overview/ControlledTreeView.tsx
  docs/data/tree-view/overview/CustomizedTreeView.js
  docs/data/tree-view/overview/CustomizedTreeView.tsx
  docs/data/tree-view/overview/DisabledTreeItems.js
  docs/data/tree-view/overview/DisabledTreeItems.tsx
  docs/data/tree-view/overview/FileSystemNavigator.js
  docs/data/tree-view/overview/FileSystemNavigator.tsx
  docs/data/tree-view/overview/FileSystemNavigator.tsx.preview
  docs/data/tree-view/overview/IconExpansionTreeView.js
  docs/data/tree-view/overview/IconExpansionTreeView.tsx
  docs/data/tree-view/overview/IconExpansionTreeView.tsx.preview
  docs/data/tree-view/overview/MultiSelectTreeView.js
  docs/data/tree-view/overview/MultiSelectTreeView.tsx
  docs/data/tree-view/overview/RichObjectTreeView.js
  docs/data/tree-view/overview/RichObjectTreeView.tsx
  docs/data/tree-view/overview/RichObjectTreeView.tsx.preview
  docs/data/tree-view/overview/overview.md
Labels: docs, component: tree view

#10269 [docs] Improve npm package README
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid/README.md
Labels: docs

#10277 [l10n] Improve Persian (fa-IR) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/faIR.ts
Labels: l10n

#10280 [l10n] Improve Vietnamese (vi-VN) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/viVN.ts
Labels: l10n

#10282 [docs] Fix Tree View link to API references
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
Labels: bug 🐛, docs, component: tree view

#10299 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/jaJP.ts
Labels: l10n

#10273 [docs] Improve docs for ref type props
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/grid/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid/src/components/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
Labels: docs, enhancement

#10255 [TreeView] Fix box-sizing dependency
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
Labels: bug 🐛, component: tree view

#10317 [charts] Add default `barGapRatio` and increase `categoryGapRatio`
  docs/data/charts/bar-demo/PositiveAndNegativeBarChart.js
  docs/data/charts/bar-demo/PositiveAndNegativeBarChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/models/axis.ts
Labels: enhancement, component: charts, design

#10324 [pickers] Localize `TimeClock` meridiem text
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/clockClasses.ts
Labels: component: pickers, component: TimePicker, enhancement

#10227 [docs] Add conditional range picker props example
  docs/data/date-pickers/custom-field/MultiInputFieldTextFieldProps.js
  docs/data/date-pickers/custom-field/MultiInputFieldTextFieldProps.tsx
  docs/data/date-pickers/custom-field/MultiInputFieldTextFieldProps.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
Labels: docs, component: pickers, component: DateRangePicker

#10313 [docs] Fix image layout shift
  docs/data/introduction/licensing/licensing.md
Labels: bug 🐛, docs

#10330 [charts] Enable `eslint` on the package
  .eslintrc.js
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
Labels: core, component: charts

#10312 [pickers] Fix `YearCalendar` and `MonthCalendar` a11y
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
Labels: bug 🐛, breaking change, accessibility, component: pickers

#10337 v6.14.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#10327 [docs] Improve the column visibility section
  docs/data/data-grid/column-visibility/column-visibility.md
Labels: component: data grid, support: docs-feedback

#10318 [Datagrid] add border:0 to unmounted focused cell to avoid layout shifts in that row
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
Labels: component: data grid

#10329 [datagrid] Hide `eval` from bundlers
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: component: data grid

#10348 [docs] Add missing MIT package on the Licensing page
  docs/data/introduction/licensing/licensing.md
Labels: docs

#10359 [docs] Polish typescript ref use
  docs/data/data-grid/column-definition/RenderCellGrid.js
  docs/data/data-grid/column-definition/RenderCellGrid.tsx
Labels: docs, component: data grid

#10346 [l10n] Improve Finnish (fi-FI) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/fiFI.ts
Labels: l10n, component: pickers

#10338 [DataGridPro] Make default filter items have stable references in header filters
  packages/grid/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#10372 [core] Cleanup issues body
  .github/workflows/issue-cleanup.yaml
Labels: core

#10358 [DataGridPro] Fix keyboard navigation issue in header filters
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, accessibility, component: data grid

#10385 [core] Fix Circle CI OOM
  package.json
Labels: core

#10344 [datagrid] Fix typing of GridActionsCellItem
  packages/grid/x-data-grid/src/components/cell/GridActionsCellItem.tsx
Labels: component: data grid, typescript

#10326 [docs] Improve the documentation section `rowIdentifier`
  docs/data/data-grid/row-definition/row-definition.md
Labels: docs, component: data grid, support: docs-feedback

#10202 [docs] Improve the localization doc
  docs/data/data-grid/localization/localization.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/digital-clock/digital-clock.md
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/overview/overview.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/localization-provider.json
Labels: docs, component: pickers

#10115 [charts] Remove components from `@mui/material`
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsSurface.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
Labels: performance, component: charts

#10402 [charts] Fix sparkline scale and rendering
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: component: charts

#10370 [docs] Easier to understand demo
  docs/data/data-grid/accessibility/GridAriaV7.js
  docs/data/data-grid/accessibility/GridAriaV7.tsx
  docs/data/data-grid/accessibility/GridAriaV7.tsx.preview
Labels: docs, component: data grid

#10084 [DataGrid] Add support for `getRowsToExport` option to print export
  docs/data/data-grid/export/PrintExportSelectedRows.js
  docs/data/data-grid/export/PrintExportSelectedRows.tsx
  docs/data/data-grid/export/PrintExportSelectedRows.tsx.preview
  docs/data/data-grid/export/export.md
  docs/pages/x/api/data-grid/grid-csv-export-options.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  docs/pages/x/api/data-grid/grid-print-export-options.md
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/models/gridExport.ts
  packages/grid/x-data-grid/src/models/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, feature: Export, enhancement

#10413 [DataGrid] Fix dev warning about `InputLabelProps`
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
Labels: component: data grid

#10416 [test] Do not use deprecated adapter methods
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
Labels: test, component: pickers

#10406 [docs] Slack feedback on wording
  docs/data/charts/tooltip/tooltip.md
Labels: docs

#10411 [DataGrid] Refactor `GridMenu` prop `onClickAway` to `onClose`
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
Labels: component: data grid

#10412 [DataGrid] Restore focus after `GridMenu` closes
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
Labels: accessibility, component: data grid

#10252 [DataGridPro] Fix missing row hover styles
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Column pinning

#10425 [core] Upgrade monorepo
  yarn.lock
Labels: core

#10429 [test] Name test suites according to sentence case
  packages/grid/x-data-grid-premium/src/tests/DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/statePersistence.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnSpanning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: test

#10180 [DataGridPro] Autosize columns
  docs/data/data-grid/column-dimensions/ColumnAutosizing.js
  docs/data/data-grid/column-dimensions/ColumnAutosizing.tsx
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-column-resize-api.json
  docs/pages/x/api/data-grid/grid-virtualization-api.json
  docs/pages/x/api/data-grid/selectors.json
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/grid/x-data-grid-premium/src/models/gridApiPremium.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/gridColumnResizeApi.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/index.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/models/gridApiPro.ts
  packages/grid/x-data-grid-pro/src/models/index.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/components/DataGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/index.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/gridVirtualizationSelectors.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/index.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualization.tsx
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommon.ts
  packages/grid/x-data-grid/src/models/api/gridDisableVirtualizationApi.ts
  packages/grid/x-data-grid/src/models/api/gridVirtualScrollerApi.ts
  packages/grid/x-data-grid/src/models/api/gridVirtualizationApi.ts
  packages/grid/x-data-grid/src/models/api/index.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/gridStateCommunity.ts
  packages/grid/x-data-grid/src/utils/createControllablePromise.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/helperFn.ts
Labels: component: data grid, new feature, plan: Pro, feature: Column resize

#10432 [release] v6.15.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#10435 [docs] Fix usage of `GridRenderCellParams` interface
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs, component: data grid

#10438 [docs] Fix demo crashing when all rows are deleted
  docs/data/data-grid/row-updates/UpdateRowsProp.js
  docs/data/data-grid/row-updates/UpdateRowsProp.tsx
Labels: docs, component: data grid

#10428 [docs] Fix Tree View product ID
  docs/data/tree-view/overview/overview.md
Labels: docs, component: tree view

#10455 [docs] Fix mobile scrollbar column resize
  docs/data/data-grid/column-dimensions/ColumnAutosizing.js
  docs/data/data-grid/column-dimensions/ColumnAutosizing.tsx
Labels: docs, component: data grid

#10407 [l10n] Improve Russian (ru-RU) locale on the DataGrid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/ruRU.ts
Labels: component: data grid, l10n

#10437 [DataGrid] Fix column headers scroll when theme scoping is used
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid

#10422 [TreeView] Do not try to focus a collapsed node when re-focusing the TreeView
  packages/x-tree-view/src/TreeView/TreeView.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
Labels: bug 🐛, component: tree view

#10375 [core] Update issue actions & templates
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/ISSUE_TEMPLATE/6.docs-feedback.yml
  .github/workflows/issue-cleanup.yaml
  .github/workflows/issue-cleanup.yml
  templates/x-data-grid/package.json
  templates/x-data-grid/public/index.html
  templates/x-data-grid/src/demo.tsx
  templates/x-data-grid/src/index.tsx
  templates/x-data-grid/template.json
  templates/x-data-grid/tsconfig.json
Labels: core, scope: code-infra

#10470 [DataGrid] Rename `global` to `globalScope` due to Jest issue
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: component: data grid

#10477 [docs] Correct the typo in data grid api docs
  docs/pages/x/api/data-grid/index.md
Labels: docs, component: data grid, support: docs-feedback

#10465 [charts] Share upfront future Pro features
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/sankey/sankey.md
  docs/data/pages.ts
  docs/pages/x/react-charts/funnel.js
  docs/pages/x/react-charts/gantt.js
  docs/pages/x/react-charts/sankey.js
Labels: docs, plan: Pro, component: charts

#10468 [core] Update release guide
  scripts/README.md
Labels: core

#10478 [TreeView] Fix typing of the Multiple generic
  packages/x-tree-view/src/TreeView/TreeView.test.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
Labels: typescript, component: tree view

#10464 [l10n] Improve Russian (ru-RU) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/ruRU.ts
Labels: l10n

#10480 [core] Group D3 renovate PRs
  renovate.json
Labels: core

#9581 [docs] Customization playground
  docs/data/date-pickers/date-picker/CustomizationExamplesNoSnap.js
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-picker/examplesConfig.ts
  docs/scripts/formattedTSDemos.js
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/utils/useCustomizationPlayground.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/dayCalendarClasses.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
Labels: component: pickers, customization: css

#10345 [pickers] Pass the date object to `dayOfWeekFormatter` and deprecate the string parameter
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.js
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.tsx
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.tsx.preview
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/tsconfig.build.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/models/adapters.ts
Labels: component: pickers, enhancement, deprecation, v7.x

#10414 [core] Remove automated DataGrid performance tests
  .circleci/config.yml
  dangerfile.js
  package.json
  scripts/performance.mjs
  test/performance/TestViewer.js
  test/performance/fixtures/DataGrid/FilterRows100000.tsx
  test/performance/fixtures/DataGrid/SelectRows100000.tsx
  test/performance/fixtures/DataGrid/SortRows100000.tsx
  test/performance/index.js
  test/performance/serve.json
  test/performance/template.html
  test/performance/webpack.config.js
Labels: core, component: data grid

#10495 [core] Link the priority support page
  .github/ISSUE_TEMPLATE/5.priority-support.yml
Labels: core

#10502 [pickers] Add warning to `shouldDisableDate` validation
  docs/data/date-pickers/validation/validation.md
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-field.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/models/dateRange.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/internals/models/validation.ts
Labels: docs, component: pickers

#10504 v6.16.0
  CHANGELOG.md
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#10513 6.16.0
  package.json
Labels: release

#10328 [docs] Add section about disabling columns panel
  docs/data/data-grid/column-visibility/ColumnSelectorDisabledGrid.js
  docs/data/data-grid/column-visibility/ColumnSelectorDisabledGrid.tsx
  docs/data/data-grid/column-visibility/column-visibility.md
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
Labels: component: data grid, support: docs-feedback
