Repository mui/mui-x, pull requests merged in 2023-05, with the labels that each got.

#8550 [DataGrid] Fix falsy filter values not showing in filter button tooltip
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#8617 [docs] Update demo to support agregation on popular feature cell
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs, component: data grid

#8822 [core] Do not include playground pages in `yarn typescript` script
  .gitignore
  docs/pages/playground/tsconfig.json
Labels: core, typescript

#6489 [docs] Fix scrolling demo to work with React 18
  packages/grid/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, docs, component: data grid

#8621 [DataGrid] Fix broken filtering in the value formatter demo
  docs/data/data-grid/column-definition/ValueFormatterGrid.js
  docs/data/data-grid/column-definition/ValueFormatterGrid.tsx
  docs/data/data-grid/column-definition/column-definition.md
Labels: bug 🐛, docs, component: data grid

#8797 [DataGrid] Fix missing watermark in pro and premium packages
  packages/grid/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/license.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
Labels: component: data grid, regression

#8848 [pickers] Remove last additional character when using LTR
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  test/utils/pickers-utils.tsx
Labels: bug 🐛, component: pickers

#8796 [core] Limit `typescript:ci` step memory limit
  .circleci/config.yml
  package.json
Labels: core, scope: code-infra

#8830 [pickers] Fix time picker `viewRenderers` overriding
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/models/props/clock.ts
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
Labels: bug 🐛, typescript, component: pickers

#8861 [test] Use `fake` clock on `MobileDateRangePicker`
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
Labels: test

#8823 [DataGridPremium] Fix expanded groups being collapsed after calling `updateRows`
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/utils/tree/utils.ts
Labels: component: data grid, regression, plan: Premium, feature: Row grouping

#8847 [DataGrid] Remove unwarranted warning log
  packages/grid/x-data-grid/src/components/GridPagination.tsx
Labels: component: data grid, feature: Pagination

#8866 v6.3.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/README.md
Labels: release

#8917 [core] Update license key for tests
  test/regressions/index.js
  test/utils/mochaHooks.js
Labels: test, core

#8735 [pickers] Stop using deprecated adapter methods
  codecov.yml
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/models/adapters.ts
Labels: component: pickers

#8898 [l10n][data grid] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#8940 [DataGrid] Add Joy UI icon slots
  packages/grid/x-data-grid/src/joy/icons.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
Labels: component: data grid, Joy UI support

#8939 [docs] Fix date pickers typo in the docs
  docs/data/date-pickers/localization/localization.md
Labels: docs, component: pickers

#8871 [DataGrid] Add Joy UI pagination slot
  docs/data/data-grid/joy-ui/GridJoyUISlots.js
  docs/data/data-grid/joy-ui/GridJoyUISlots.tsx
  packages/grid/x-data-grid/src/joy/icons.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
Labels: component: data grid, Joy UI support

#8954 [test] Fix flaky regression tests
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.tsx
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.tsx.preview
  test/regressions/index.test.js
Labels: test, component: data grid

#8577 [DataGrid] Fix layout when rendered inside a parent with `display: grid`
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, plan: Pro, regression, feature: Rendering layout

#8955 [pickers] Fix trailing zeros inconsistency in `LuxonAdapter`
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
Labels: component: pickers

#8863 [l10n] Improve Ukrainian (uk-UA) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/ukUA.ts
Labels: l10n

#8780 [pickers] Strictly type the `adapterLocale` prop of `LocalizationProvider`
  docs/pages/x/api/date-pickers/localization-provider.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#8748 [DataGrid] Extract `baseChip` slot
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/grid/x-data-grid/src/material/index.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, customization: css

#8870 [test] Cover row grouping regression with a unit test
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: test, component: data grid, feature: Row grouping

#8867 [charts] document Tooltip and Highlighs
  docs/data/charts/tooltip/BandHighlight.js
  docs/data/charts/tooltip/BandHighlight.tsx
  docs/data/charts/tooltip/BandHighlight.tsx.preview
  docs/data/charts/tooltip/Formatting.js
  docs/data/charts/tooltip/Formatting.tsx
  docs/data/charts/tooltip/Formatting.tsx.preview
  docs/data/charts/tooltip/Highlights.js
  docs/data/charts/tooltip/Highlights.tsx
  docs/data/charts/tooltip/Highlights.tsx.preview
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/data/charts/tooltip/Interaction.tsx.preview
  docs/data/charts/tooltip/tooltip.md
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/Highlight/Highlight.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/index.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/Surface.tsx
  packages/x-charts/src/Tooltip/ItemTooltipContent.tsx
  packages/x-charts/src/Tooltip/Tooltip.tsx
  packages/x-charts/src/Tooltip/utils.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
Labels: docs, component: charts

#8789 [core] Improve testing of the adapters
  codecov.yml
  packages/grid/x-data-grid-premium/tsconfig.json
  packages/grid/x-data-grid-pro/tsconfig.json
  packages/grid/x-data-grid/tsconfig.json
  packages/x-charts/tsconfig.json
  packages/x-date-pickers-pro/tsconfig.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.test.tsx
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.test.tsx
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.types.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.utils.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/index.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testLocalization.ts
  packages/x-date-pickers/src/tests/describeHijriAdapter/describeHijriAdapter.ts
  packages/x-date-pickers/src/tests/describeHijriAdapter/describeHijriAdapter.types.ts
  packages/x-date-pickers/src/tests/describeHijriAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeHijriAdapter/testLocalization.ts
  packages/x-date-pickers/src/tests/describeJalaliAdapter/describeJalaliAdapter.ts
  packages/x-date-pickers/src/tests/describeJalaliAdapter/describeJalaliAdapter.types.ts
  packages/x-date-pickers/src/tests/describeJalaliAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeJalaliAdapter/testLocalization.ts
  packages/x-date-pickers/tsconfig.json
  packages/x-license-pro/tsconfig.json
  test/utils/addChaiAssertions.ts
  test/utils/pickers-utils.tsx
  yarn.lock
Labels: component: pickers

#8968 [DataGrid] Fix DataGrid rendering in JSDOM
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: test, component: data grid

#8971 [docs] Typo fix in clipboard docs
  docs/data/data-grid/clipboard/clipboard.md
Labels: docs

#8942 [Datagrid] Memoize root props
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/internals/utils/index.ts
  packages/grid/x-data-grid/src/internals/utils/useProps.ts
Labels: performance, component: data grid

#8956 [l10n][data grid] Improve Czech (cs-CZ) locale
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: component: data grid, l10n

#8943 [l10n] Add missing keys in Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: l10n

#8926 [docs] Clarify what Controlled / Uncontrolled means
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/digital-clock/digital-clock.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-field/time-field.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-field/time-range-field.md
Labels: docs, component: pickers

#8988 [core] Fix `yarn.lock`
  yarn.lock
Labels: core

#8592 [pickers] Allow to render the months before `currentMonth` instead of the one after
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarsProp.js
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarsProp.tsx
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarsProp.tsx.preview
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCurrentMonthCalendarPositionProp.js
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCurrentMonthCalendarPositionProp.tsx
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCurrentMonthCalendarPositionProp.tsx.preview
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/dateRangeViewRenderers/dateRangeViewRenderers.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: component: pickers

#8994 [test] Skip flaky unit tests in JSDOM
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
Labels: test

#8660 [fields] Refacto prop drilling in fields
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/index.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimeField/index.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/fields.ts
  packages/x-date-pickers/src/internals/utils/validation/extractValidationProps.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#8997 [pickers] Fix view management when `openTo` or `views` is modified
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
Labels: regression, component: pickers

#8921 [DataGridPro] Support pinned rows editing
  docs/data/data-grid/row-pinning/RowPinningWithPagination.js
  docs/data/data-grid/row-pinning/RowPinningWithPagination.tsx
  docs/data/data-grid/row-pinning/row-pinning.md
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/editing/useGridEditing.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: component: data grid, plan: Pro, feature: Row pinning, enhancement

#9005 [fields] Select the first section instead of last when clicking right of content
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers, enhancement

#9008 [docs] Remove prop-types from JS demos
  docs/data/data-grid/accessibility/FocusManagement.js
  docs/data/data-grid/column-definition/RenderCellGrid.js
  docs/data/data-grid/column-definition/RenderExpandCellGrid.js
  docs/data/data-grid/column-groups/CustomizationDemo.js
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.js
  docs/data/data-grid/column-menu/CustomColumnMenuGrid.js
  docs/data/data-grid/column-menu/OverrideColumnMenuGrid.js
  docs/data/data-grid/column-pinning/DisableColumnPinningButtons.js
  docs/data/data-grid/components/CustomColumnMenu.js
  docs/data/data-grid/components/CustomPaginationGrid.js
  docs/data/data-grid/demo/FullFeaturedDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/editing/AutoStopEditComponent.js
  docs/data/data-grid/editing/CustomEditComponent.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/export/CustomExport.js
  docs/data/data-grid/filtering/CustomFilterPanelPosition.js
  docs/data/data-grid/filtering/CustomInputComponent.js
  docs/data/data-grid/filtering/CustomMultiValueOperator.js
  docs/data/data-grid/filtering/CustomRatingOperator.js
  docs/data/data-grid/master-detail/BasicDetailPanels.js
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.js
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.js
  docs/data/data-grid/master-detail/FormDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.js
  docs/data/data-grid/recipes-editing/LinkedFieldsCellEditing.js
  docs/data/data-grid/recipes-editing/LinkedFieldsRowEditing.js
  docs/data/data-grid/recipes-editing/MultilineEditing.js
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/data/data-grid/state/RestoreStateApiRef.js
  docs/data/data-grid/state/RestoreStateInitialState.js
  docs/data/data-grid/tree-data/TreeDataLazyLoading.js
  docs/data/date-pickers/base-concepts/ComponentFamilies.js
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ToolbarComponent.js
  docs/data/date-pickers/custom-field/PickerWithAutocompleteField.js
  docs/data/date-pickers/custom-field/PickerWithBrowserField.js
  docs/data/date-pickers/custom-field/PickerWithButtonField.js
  docs/data/date-pickers/custom-field/PickerWithJoyField.js
  docs/data/date-pickers/custom-layout/AddComponent.js
  docs/data/date-pickers/custom-layout/MovingActions.js
  docs/data/date-pickers/date-calendar/CustomDay.js
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.js
  docs/data/date-pickers/overview/CommonlyUsedComponents.js
  docs/data/date-pickers/shortcuts/CustomizedRangeShortcuts.js
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.js
  docs/scripts/formattedTSDemos.js
Labels: docs

#8974 [core] Add assertion about checkbox rerenders
  packages/grid/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: test, performance, core, component: data grid

#8948 [charts] Clean the axis rendering
  packages/x-charts/src/Axis/axisClasses.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/XAxis/XAxis.tsx
  packages/x-charts/src/YAxis/YAxis.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#8990 [DataGridPro] Improve `treeData` and `rowGrouping` performance
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/utils/tree/createRowTree.test.ts
  packages/grid/x-data-grid-pro/src/utils/tree/createRowTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/insertDataRowInTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/removeDataRowFromTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/updateRowTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/utils.ts
Labels: performance, component: data grid, regression, v6.x, feature: Tree data, feature: Row grouping

#9030 [docs] Fix docs using wrong service worker
  docs/pages/_app.js
  docs/scripts/buildServiceWorker.js
Labels: scope: docs-infra

#8882 [DataGrid] Fix grid size calculation when `.MuiDataGrid-main` has border
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Rendering layout

#9009 [core] Allow to select a section by type in field tests
  docs/data/data-grid/filtering/CustomHeaderFilterDataGridPro.js
  docs/data/data-grid/filtering/CustomHeaderFilterOperatorDataGridPro.js
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/selection.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/describes.MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.types.ts
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers-utils.tsx
Labels: core, component: pickers

#9036 v6.5.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9015 [core] Remove createDetectElementResize() replaced with ResizeObserver
  packages/grid/x-data-grid/src/lib/createDetectElementResize/index.js
  packages/grid/x-data-grid/src/lib/createDetectElementResize/types.d.ts
Labels: core, component: data grid

#8986 [docs] Smooth performance animation
  docs/data/data-grid/performance/GridWithReactMemo.js
  docs/data/data-grid/performance/GridWithReactMemo.tsx
Labels: docs, performance, component: data grid, design: ui

#9045 [core] Allow string literals as keys in localesText
  packages/grid/x-data-grid/src/locales/arSD.ts
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/bgBG.ts
  packages/grid/x-data-grid/src/locales/csCZ.ts
  packages/grid/x-data-grid/src/locales/daDK.ts
  packages/grid/x-data-grid/src/locales/deDE.ts
  packages/grid/x-data-grid/src/locales/elGR.ts
  packages/grid/x-data-grid/src/locales/esES.ts
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/grid/x-data-grid/src/locales/fiFI.ts
  packages/grid/x-data-grid/src/locales/frFR.ts
  packages/grid/x-data-grid/src/locales/heIL.ts
  packages/grid/x-data-grid/src/locales/huHU.ts
  packages/grid/x-data-grid/src/locales/itIT.ts
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/grid/x-data-grid/src/locales/koKR.ts
  packages/grid/x-data-grid/src/locales/nbNO.ts
  packages/grid/x-data-grid/src/locales/nlNL.ts
  packages/grid/x-data-grid/src/locales/plPL.ts
  packages/grid/x-data-grid/src/locales/ptBR.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  packages/grid/x-data-grid/src/locales/ruRU.ts
  packages/grid/x-data-grid/src/locales/skSK.ts
  packages/grid/x-data-grid/src/locales/svSE.ts
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/grid/x-data-grid/src/locales/urPK.ts
  packages/grid/x-data-grid/src/locales/viVN.ts
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
  scripts/l10n.ts
Labels: core

#9043 [l10n] Improve Dutch (nl-NL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/nlNL.ts
Labels: l10n

#8669 [DataGridPro] Emit `columnWidthChange` event on `touchEnd` of column resize
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: bug 🐛, component: data grid, mobile

#9072 [pickers] Fix focus jumping on Safari
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#9086 [core] Fix `randomInt` producing values exceeding `max` value
  packages/grid/x-data-grid-generator/src/services/random-generator.ts
Labels: bug 🐛, docs, core

#8976 [DataGridPro] Fix row id type casting in detail panels lookup
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid, feature: Master-detail, CLA: signed

#9067 [docs] Clarify the peer dependency with react
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/README.md
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: docs

#9099 [l10n] Add Vietnamese (vi-VN) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/viVN.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#9108 [core] Remove `cross-fetch` dependency
  docs/package.json
  yarn.lock
Labels: core

#9109 [l10n] Improve French (fr-FR) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n

#9033 [docs] Improve localization table progress bars
  docs/src/modules/components/LocalizationTable.js
Labels: docs

#9106 [core] Upgrade monorepo
  yarn.lock
Labels: core

#8845 [DataGrid] Support data attributes
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/internals/utils/useProps.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/DataGrid.test.tsx
Labels: component: data grid

#9107 [core] Lock `@types/node` on v18
  package.json
  renovate.json
  yarn.lock
Labels: core

#8862 [DataGrid] Fix accessibility issues in panels and toolbar buttons
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-filter-api.json
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/grid/x-data-grid/src/components/panel/GridPreferencesPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/gridPreferencePanelState.ts
  packages/grid/x-data-grid/src/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/grid/x-data-grid/src/models/api/gridFilterApi.ts
  packages/grid/x-data-grid/src/models/api/gridPreferencesPanelApi.ts
Labels: accessibility, component: data grid

#9110 [pickers] Fix bug when fields have a unique section
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#9068 [pickers] Add support for timezones on the adapters
  docs/tsconfig.json
  package.json
  packages/x-codemod/tsconfig.json
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers-pro/tsconfig.build.json
  packages/x-date-pickers-pro/tsconfig.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.test.tsx
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/models/index.ts
  packages/x-date-pickers/src/models/timezone.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.types.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testLocalization.ts
  packages/x-date-pickers/tsconfig.build.json
  packages/x-date-pickers/tsconfig.json
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
  test/utils/pickers-utils.tsx
  test/utils/setupPickers.js
Labels: component: pickers

#8888 [charts] Manage series stacking
  docs/data/charts/lines/lines.md
  docs/data/charts/stacking/BasicStacking.js
  docs/data/charts/stacking/BasicStacking.tsx
  docs/data/charts/stacking/BasicStacking.tsx.preview
  docs/data/charts/stacking/StackOffsetDemo.js
  docs/data/charts/stacking/StackOffsetDemo.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/stacking/stacking.md
  docs/data/charts/tooltip/Highlights.js
  docs/data/charts/tooltip/Highlights.tsx
  docs/data/pages.ts
  docs/pages/x/react-charts/stacking.js
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/internals/stackSeries.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/index.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: docs, component: charts

#8946 [pickers] Add `DigitalClock` to `DesktopDateTimePicker`
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describes.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describes.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.types.ts
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/dateTimeViewRenderers.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/index.ts
  packages/x-date-pickers/src/dateViewRenderers/dateViewRenderers.tsx
  packages/x-date-pickers/src/internals/components/DateTimeViewWrapper/DateTimeViewWrapper.tsx
  packages/x-date-pickers/src/internals/components/DateTimeViewWrapper/index.ts
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
  packages/x-date-pickers/src/internals/constants/dimensions.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/time-utils.ts
  packages/x-date-pickers/src/tests/describeValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testMinutesViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testMonthViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/testYearViewValidation.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
  test/utils/pickers-utils.tsx
Labels: new feature, component: pickers, component: DateTimePicker

#9121 [DataGrid] Avoid allocations in `hydrateRowsMeta`
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
Labels: performance, component: data grid

#9152 [docs] Align `DateCalendar` demo views with labels
  docs/data/date-pickers/date-calendar/DateCalendarViews.js
  docs/data/date-pickers/date-calendar/DateCalendarViews.tsx
  docs/data/date-pickers/date-calendar/DateCalendarViews.tsx.preview
Labels: docs, component: pickers

#9168 [docs] Fix Norwegian locale typo
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  scripts/localeNames.js
Labels: docs, component: pickers

#9129 [core] Fix flacky test on `dateWithTimezone` adapter test
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
Labels: core

#9127 [docs] Use responsive time and date time pickers and the views sections
  docs/data/date-pickers/date-time-picker/DateTimePickerOpenTo.js
  docs/data/date-pickers/date-time-picker/DateTimePickerOpenTo.tsx
  docs/data/date-pickers/date-time-picker/DateTimePickerOpenTo.tsx.preview
  docs/data/date-pickers/time-picker/TimePickerViews.js
  docs/data/date-pickers/time-picker/TimePickerViews.tsx
  docs/data/date-pickers/time-picker/TimePickerViews.tsx.preview
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers

#9128 [DataGrid] refactor(DataGridPremium): improve grid excel export interface
  packages/grid/x-data-grid-premium/src/hooks/features/export/gridExcelExportInterface.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: component: data grid, typescript, CLA: signed

#9176 [pickers] Use the locale start of the week in `getWeekArray`
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
Labels: regression, component: pickers
