Repository mui/mui-x, pull requests merged in 2023-12, with the labels that each got.

#11260 [charts] Fix TS config (#11259)
  docs/pages/x/api/charts/default-charts-axis-tooltip-content.json
  docs/pages/x/api/charts/default-charts-item-tooltip-content.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: cherry-pick

#11248 [DataGridPremium] Make `clipboard paste` feature stable
  docs/data/data-grid/clipboard/ClipboardCopy.js
  docs/data/data-grid/clipboard/ClipboardCopy.tsx
  docs/data/data-grid/clipboard/ClipboardPaste.js
  docs/data/data-grid/clipboard/ClipboardPaste.tsx
  docs/data/data-grid/clipboard/ClipboardPaste.tsx.preview
  docs/data/data-grid/clipboard/ClipboardPasteDelimiter.js
  docs/data/data-grid/clipboard/ClipboardPasteDelimiter.tsx
  docs/data/data-grid/clipboard/ClipboardPasteDelimiter.tsx.preview
  docs/data/data-grid/clipboard/ClipboardPasteDisabled.js
  docs/data/data-grid/clipboard/ClipboardPasteDisabled.tsx
  docs/data/data-grid/clipboard/ClipboardPasteDisabled.tsx.preview
  docs/data/data-grid/clipboard/ClipboardPasteEvents.js
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx.preview
  docs/data/data-grid/clipboard/ClipboardPastePersistence.js
  docs/data/data-grid/clipboard/ClipboardPastePersistence.tsx
  docs/data/data-grid/clipboard/ClipboardPastePersistence.tsx.preview
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/data-grid/recipes-editing/BulkEditingNoSnap.js
  docs/data/data-grid/recipes-editing/BulkEditingNoSnap.tsx
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, v7.x, feature: Clipboard paste

#11245 [DataGrid] Changed `columns[]` param to `field[]`
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-sort-api.json
  packages/grid/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/models/api/gridSortApi.ts
Labels: breaking change, component: data grid, v7.x

#11299 [docs] Add end v6 blogpost to whats new page (@joserodolfofreitas)
  docs/data/whats-new/WhatsNewLayout.js
  docs/data/whats-new/WhatsNewLayout.tsx
Labels: docs, cherry-pick

#11268 v7.0.0-alpha.3
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11276 [core] Update @mui/monorepo
  yarn.lock
Labels: core, dependencies, scope: docs-infra

#11305 [pickers] Fix `MultiSectionDigitalClock` issues
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/multiSectionDigitalClockSectionClasses.ts
Labels: bug 🐛, component: pickers, component: TimePicker

#11304 [l10n] Improve Danish (da-DK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n

#11308 [pickers] Fix `MultiSectionDigitalClock` issues
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/multiSectionDigitalClockSectionClasses.ts
Labels: bug 🐛, component: pickers, component: TimePicker, cherry-pick

#11249 [docs][Charts] Give a general revision to the docs
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/bars.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/gauge/gauge.md
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/legend/legend.md
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/styling/styling.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/introduction/installation/installation.md
  docs/data/pages.ts
  docs/public/static/x/component-illustrations/bar-dark.png
  docs/public/static/x/component-illustrations/bar-light.png
  docs/public/static/x/component-illustrations/lines-dark.png
  docs/public/static/x/component-illustrations/lines-light.png
  docs/public/static/x/component-illustrations/pie-dark.png
  docs/public/static/x/component-illustrations/pie-light.png
  docs/public/static/x/component-illustrations/scatter-dark.png
  docs/public/static/x/component-illustrations/scatter-light.png
  docs/public/static/x/component-illustrations/sparkline-dark.png
  docs/public/static/x/component-illustrations/sparkline-light.png
  docs/src/modules/components/ChartComponentsGrid.js
  docs/src/modules/components/ChartFeaturesGrid.js
  docs/src/modules/components/DemoPropsForm.tsx
Labels: docs, component: charts

#11243 [DataGridPro] Make `header filters` feature stable
  docs/data/data-grid/filtering/CustomHeaderFilterDataGridPro.js
  docs/data/data-grid/filtering/CustomHeaderFilterDataGridPro.tsx
  docs/data/data-grid/filtering/CustomHeaderFilterDataGridPro.tsx.preview
  docs/data/data-grid/filtering/CustomHeaderFilterOperatorDataGridPro.js
  docs/data/data-grid/filtering/CustomHeaderFilterOperatorDataGridPro.tsx
  docs/data/data-grid/filtering/CustomHeaderFilterOperatorDataGridPro.tsx.preview
  docs/data/data-grid/filtering/CustomHeaderFilterSingleDataGridPro.js
  docs/data/data-grid/filtering/CustomHeaderFilterSingleDataGridPro.tsx
  docs/data/data-grid/filtering/CustomHeaderFilterSingleDataGridPro.tsx.preview
  docs/data/data-grid/filtering/HeaderFilteringDataGridPro.js
  docs/data/data-grid/filtering/HeaderFilteringDataGridPro.tsx
  docs/data/data-grid/filtering/HeaderFilteringDataGridPro.tsx.preview
  docs/data/data-grid/filtering/SimpleHeaderFilteringDataGridPro.js
  docs/data/data-grid/filtering/SimpleHeaderFilteringDataGridPro.tsx
  docs/data/data-grid/filtering/header-filters.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/gridFocusStateSelector.ts
  packages/grid/x-data-grid/src/hooks/features/headerFiltering/gridHeaderFilteringSelectors.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/internals/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v7.x, feature: Filtering on header

#11312 [core] Ignore the `WhatsNewLayout` demo screenshot
  docs/data/whats-new/WhatsNewLayoutNoSnap.js
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx.preview
  docs/data/whats-new/whats-new.md
Labels: test, component: data grid, needs cherry-pick

#11258 [fields] Rework `PickersTextField`
  packages/x-date-pickers/src/internals/components/PickersTextField/Outline.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/pickersTextFieldClasses.ts
Labels: component: pickers

#10191 [docs] Added params to onPaginationModelChange docs
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs

#11223 [docs] Add a doc section on how to override the start of the week with each adapter
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs, component: pickers

#11314 [core] Ignore the `WhatsNewLayout` demo screenshot
  docs/data/whats-new/WhatsNewLayoutNoSnap.js
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx.preview
  docs/data/whats-new/whats-new.md
Labels: test, cherry-pick

#11215 [DataGrid] Fix cell slot style override
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/tests/components.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, v6.x, customization: css

#11270 [DataGrid] Narrow down `GridColDef['type']`
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx
  docs/data/data-grid/custom-columns/SparklineColumn.js
  docs/data/data-grid/custom-columns/SparklineColumn.tsx
  docs/data/data-grid/editing/CustomEditComponent.tsx
  docs/data/data-grid/export/ExcelCustomExport.tsx
  docs/data/data-grid/row-height/DynamicRowHeightGrid.tsx
  docs/data/data-grid/row-height/ExpandableCells.tsx
  docs/data/data-grid/row-height/VariableRowHeightGrid.tsx
  docs/data/data-grid/row-pinning/RowPinning.tsx
  docs/data/data-grid/row-updates/ThrottledRowsGrid.tsx
  docs/data/data-grid/row-updates/UpdateRowsApiRef.tsx
  docs/data/data-grid/row-updates/UpdateRowsProp.tsx
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/gridRowReorderColDef.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
  packages/grid/x-data-grid-pro/src/tests/sorting.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridDefaultColumnTypes.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/models/colDef/gridColType.ts
  packages/grid/x-data-grid/src/tests/columns.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
  test/e2e/fixtures/DataGrid/KeyboardEditDate.tsx
  test/e2e/fixtures/DataGrid/KeyboardEditInput.tsx
  test/e2e/fixtures/DataGrid/KeyboardEditNumber.tsx
  test/e2e/fixtures/DataGrid/RowSelection.tsx
  test/e2e/fixtures/DataGrid/SelectEditCell.tsx
Labels: breaking change, component: data grid, v7.x

#11311 [charts] Remove animation on sparkline
  docs/data/charts/bars/bars.md
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: bug 🐛, component: charts, design

#11271 [docs] Add FAQ page
  docs/data/date-pickers/faq/faq.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/faq.js
Labels: docs, component: pickers, needs cherry-pick

#11346 [l10n] Improve Danish (da-DK) locale (@goibon)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n, cherry-pick

#11315 [docs] Improve `DemoContainer` styling coverage
  docs/data/date-pickers/base-concepts/ReferenceDateDefaultBehavior.js
  docs/data/date-pickers/base-concepts/ReferenceDateDefaultBehavior.tsx
  packages/x-date-pickers/src/internals/demo/DemoContainer.tsx
Labels: docs, component: pickers, enhancement

#11337 [pickers] Fix views height consistency
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/internals/constants/dimensions.ts
Labels: design: material, component: pickers, enhancement, design

#10981 [charts] Use voronoi cells to trigger interaction with scatter items
  docs/data/charts-component-api-pages.ts
  docs/data/charts/scatter/VoronoiInteraction.js
  docs/data/charts/scatter/VoronoiInteraction.tsx
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/charts-voronoi-handler.js
  docs/pages/x/api/charts/charts-voronoi-handler.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/charts-voronoi-handler.json
  docs/translations/api-docs/charts/scatter-chart.json
  packages/x-charts/package.json
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/ChartsVoronoiHandler/index.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  scripts/x-charts.exports.json
  yarn.lock
Labels: enhancement, component: charts

#11351 [charts] Added `@mui/utils` as a dependency
  docs/data/charts/getting-started/getting-started.md
  packages/x-charts/package.json
Labels: docs, component: charts

#11350 v7.0.0-alpha.4
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10307 [fields] Support empty sections
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/tests/format.DateField.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/models/fields.ts
Labels: component: pickers, enhancement, feature: Keyboard editing

#11273 [DateRangePicker] Fix `autoFocus` behavior
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker, needs cherry-pick

#11375 [pickers] Remove all relative imports to the internals index file
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.types.ts
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.types.ts
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.types.ts
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/hooks/useClearableField.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/index.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: component: pickers

#11376 [DateRangePicker] Fix `autoFocus` behavior (@kealjones-wk)
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker, cherry-pick

#11373 [l10n] Improve Swedish (sv-SE) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/svSE.ts
Labels: component: data grid, l10n, needs cherry-pick

#11379 [l10n] Improve Swedish (sv-SE) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/svSE.ts
Labels: component: data grid, l10n, cherry-pick

#11369 [github] Update `no-response` workflow
  .github/workflows/no-response.yml
Labels: core

#11294 [docs] Respect GoT books
  docs/data/data-grid/column-groups/BasicGroupingDemo.js
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx
  docs/data/data-grid/column-groups/BreakingGroupDemo.js
  docs/data/data-grid/column-groups/BreakingGroupDemo.tsx
  docs/data/data-grid/column-groups/CustomizationDemo.js
  docs/data/data-grid/column-groups/CustomizationDemo.tsx
  docs/data/data-grid/overview/DataGridDemo.js
  docs/data/data-grid/overview/DataGridDemo.tsx
Labels: component: data grid

#11387 [docs] Respect GoT books (@janoma)
  docs/data/data-grid/column-groups/BasicGroupingDemo.js
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx
  docs/data/data-grid/column-groups/BreakingGroupDemo.js
  docs/data/data-grid/column-groups/BreakingGroupDemo.tsx
  docs/data/data-grid/column-groups/CustomizationDemo.js
  docs/data/data-grid/column-groups/CustomizationDemo.tsx
  docs/data/data-grid/overview/DataGridDemo.js
  docs/data/data-grid/overview/DataGridDemo.tsx
Labels: docs, cherry-pick

#11388 [test] Fix flaky screenshots
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.js
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.tsx
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.js
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx
  packages/grid/x-data-grid-generator/src/hooks/useQuery.ts
Labels: test, component: data grid, needs cherry-pick

#11391 [test] Fix flaky screenshots
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.js
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.tsx
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.js
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx
  packages/grid/x-data-grid-generator/src/hooks/useQuery.ts
Labels: test, component: data grid, cherry-pick

#11397 [pickers] Fix field types to avoid error on latest `@types/react` version
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
Labels: bug 🐛, typescript, component: pickers, needs cherry-pick

#11385 [charts] Fix size overflow
  docs/data/charts/styling/MarginNoSnap.js
Labels: docs, component: charts

#11398 [pickers] Fix field types to avoid error on latest `@types/react` version
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
Labels: bug 🐛, typescript, component: pickers, cherry-pick

#11371 [pickers] Simplify the API of the field hooks
  docs/data/date-pickers/custom-field/PickerWithBrowserField.js
  docs/data/date-pickers/custom-field/PickerWithBrowserField.tsx
  docs/data/date-pickers/custom-field/PickerWithJoyField.js
  docs/data/date-pickers/custom-field/PickerWithJoyField.tsx
  docs/data/date-pickers/custom-field/RangePickerWithBrowserField.js
  docs/data/date-pickers/custom-field/RangePickerWithBrowserField.tsx
  docs/data/date-pickers/custom-field/RangePickerWithJoyField.js
  docs/data/date-pickers/custom-field/RangePickerWithJoyField.tsx
  docs/data/date-pickers/custom-field/RangePickerWithSingleInputBrowserField.js
  docs/data/date-pickers/custom-field/RangePickerWithSingleInputBrowserField.tsx
  docs/data/date-pickers/custom-field/RangePickerWithSingleInputJoyField.js
  docs/data/date-pickers/custom-field/RangePickerWithSingleInputJoyField.tsx
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/useClearableField.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/convertFieldResponseIntoMuiTextFieldProps.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, component: pickers

#11382 [core] Automate cherry-pick of PRs from `next` -> `master`
  .github/workflows/cherry-pick-next-to-master.yml
Labels: core

#11400 [l10n] Improve Urdu (ur-PK) locale for data grid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/urPK.ts
Labels: component: data grid, l10n, needs cherry-pick

#11395 [DataGrid] Make `instanceId` required for state selectors
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid/src/models/controlStateItem.ts
  packages/grid/x-data-grid/src/utils/createSelector.spec.ts
  packages/grid/x-data-grid/src/utils/createSelector.test.ts
  packages/grid/x-data-grid/src/utils/createSelector.ts
Labels: breaking change, component: data grid, typescript, v7.x

#11401 [DataGrid] Recipe for grouped rows autosizing
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.tsx
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.tsx.preview
  docs/data/data-grid/column-dimensions/column-dimensions.md
Labels: component: data grid, feature: Row grouping, recipe, feature: Column resize

#11409 [l10n] Improve Urdu (ur-PK) locale for data grid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/urPK.ts
Labels: component: data grid, l10n, cherry-pick

#11412 v6.18.5
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11414 v7.0.0-alpha.5
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11352 [pickers] Create new component `PickersSectionList`
  docs/data/date-pickers-component-api-pages.ts
  docs/pages/x/api/date-pickers/pickers-section-list.js
  docs/pages/x/api/date-pickers/pickers-section-list.json
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/date-pickers/pickers-section-list.json
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.tsx
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.types.ts
  packages/x-date-pickers/src/PickersSectionList/index.ts
  packages/x-date-pickers/src/PickersSectionList/pickersSectionListClasses.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/pickersTextFieldClasses.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#11420 [pickers] Add missing breaking changes to changelog
  CHANGELOG.md
Labels: component: pickers

#11330 [DataGrid] Use non-native `Select`s by default
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.js
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.tsx
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.tsx.preview
  docs/data/data-grid/filtering-recipes/filtering-recipes.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/colDef/gridSingleSelectColDef.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/filterPanelUtils.ts
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  test/utils/helperFn.ts
Labels: breaking change, component: data grid, v7.x, design

#11429 [l10n] Improve Russian (ru-RU) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ruRU.ts
Labels: l10n, component: pickers

#11372 [charts] Improve dataset typing
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/models/seriesType/config.ts
Labels: component: charts

#11370 [charts] Make the helper `ChartsText` component public
  docs/data/charts-component-api-pages.ts
  docs/pages/x/api/charts/charts-text.js
  docs/pages/x/api/charts/charts-text.json
  docs/translations/api-docs/charts/charts-text.json
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsXReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsYReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsText/ChartsText.tsx
  packages/x-charts/src/ChartsText/index.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/getWordsByLines.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: component: charts

#11441 [l10n] Improve Russian (ru-RU) locale (@wensiet)
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ruRU.ts
Labels: l10n, component: pickers, cherry-pick

#11422 [docs] Improve Pickers `name` prop examples
  docs/data/date-pickers/date-picker/FormPropsDatePickers.js
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx.preview
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.js
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.tsx.preview
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.js
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.tsx
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.tsx.preview
  docs/data/date-pickers/time-picker/FormPropsTimePickers.js
  docs/data/date-pickers/time-picker/FormPropsTimePickers.tsx
  docs/data/date-pickers/time-picker/FormPropsTimePickers.tsx.preview
Labels: docs, component: pickers, needs cherry-pick

#11442 [docs] Improve Pickers `name` prop examples
  docs/data/date-pickers/date-picker/FormPropsDatePickers.js
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx
  docs/data/date-pickers/date-picker/FormPropsDatePickers.tsx.preview
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.js
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.tsx
  docs/data/date-pickers/date-range-picker/SingleInputDateRangePicker.tsx.preview
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.js
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.tsx
  docs/data/date-pickers/date-time-picker/FormPropsDateTimePickers.tsx.preview
  docs/data/date-pickers/time-picker/FormPropsTimePickers.js
  docs/data/date-pickers/time-picker/FormPropsTimePickers.tsx
  docs/data/date-pickers/time-picker/FormPropsTimePickers.tsx.preview
Labels: docs, component: pickers, cherry-pick

#11392 [fields] Adjust `PickersInput` sizing styles
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.tsx
Labels: component: pickers

#11449 [pickers] Cleanup error messages in `PickersSectionList`
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.tsx
Labels: component: pickers

#11447 [fields] Fix section pasting
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing, needs cherry-pick

#11466 [test] Reload the page if its blank and there are no links to the remaining tests
  test/regressions/index.test.js
Labels: test, component: data grid, needs cherry-pick

#11469 [core] Cherry pick follow up
  .github/workflows/cherry-pick-next-to-master.yml
Labels: core

#11451 [DataGrid] Fix typos in the JSDoc
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid, needs cherry-pick

#7069 [DataGrid] Support `Date` objects in filter model
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Filtering, enhancement

#11463 [docs] Limit `date-fns` package to v2 in codesandbox
  .mocharc.js
  docs/pages/_app.js
  docs/src/modules/utils/postProcessImport.test.ts
  docs/src/modules/utils/postProcessImport.ts
  package.json
  yarn.lock
Labels: docs, external dependency, component: pickers, needs cherry-pick

#11250 [pickers] Add `PickersTextField` `standard` and `filled` variants
  packages/x-date-pickers/src/internals/components/PickersInput/Outline.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersInput.types.ts
  packages/x-date-pickers/src/internals/components/PickersInput/PickersOutlinedInput.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersStandardInput.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/index.ts
  packages/x-date-pickers/src/internals/components/PickersInput/pickersInputClasses.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/pickersTextFieldClasses.ts
Labels: component: pickers, v7.x

#11482 [core] Fix security regressions in cherry-pick-next-to-master.yml
  .github/workflows/cherry-pick-next-to-master.yml
Labels: core

#11477 [docs] Document `false` default values for boolean props
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/charts-legend.json
  docs/pages/x/api/charts/charts-text.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-arc-label-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/pie-plot.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-filter-panel.json
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: docs, needs cherry-pick

#11457 [charts] Make error message more explicit
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
Labels: dx, component: charts

#11464 [charts] Allow percentage values for pie chart center and radius
  docs/pages/x/api/charts/pie-arc-label-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/seriesType/pie.ts
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#11448 [DataGrid] Make `checkboxSelection` respect the `disableMultipleRowSelection` prop
  docs/data/data-grid/row-selection/CheckboxSelectionGrid.js
  docs/data/data-grid/row-selection/CheckboxSelectionGrid.tsx
  docs/data/data-grid/row-selection/CheckboxSelectionGrid.tsx.preview
  docs/data/data-grid/row-selection/row-selection.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/grid/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridAriaAttributes.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: component: data grid, feature: Selection, customization: extend, enhancement, v7.x

#11489 [docs] Document false default values for boolean props
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-arc-label-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/pie-plot.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-filter-panel.json
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: docs, cherry-pick

#11490 Cherry pick charts updates
  docs/data/charts-component-api-pages.ts
  docs/data/charts/styling/MarginNoSnap.js
  docs/pages/x/api/charts/charts-text.js
  docs/pages/x/api/charts/charts-text.json
  docs/pages/x/api/charts/pie-arc-label-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  docs/translations/api-docs/charts/charts-text.json
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsXReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsYReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsText/ChartsText.tsx
  packages/x-charts/src/ChartsText/index.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/getWordsByLines.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/pie.ts
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#11493 [release] V6.18.6
  CHANGELOG.md
  docs/pages/x/api/charts/charts-text.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11492 [release] v7.0.0-alpha.6
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11495 [changelog] Fix charts version
  CHANGELOG.md
Labels: core

#11511 [core] Localize the issue template to MUI X
  .github/ISSUE_TEMPLATE/6.docs-feedback.yml
Labels: core

#11496 [core] Fix release changelog
  CHANGELOG.md
Labels: core

#11498 [l10n] Update Czech (cs-CZ) locale
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: component: data grid, l10n

#11515 [core] Fix use of ::before & ::after
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/internals/components/PickersInput/PickersStandardInput.tsx
Labels: core, component: pickers

#11521 [docs] Complete transition to next branch
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/localization/data.json
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/localization/data.json
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/next.config.js
  docs/pages/_app.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  packages/x-codemod/README.md
  scripts/releaseChangelog.mjs
Labels: docs, core

#11514 [docs] Lint next.config.js
  docs/next.config.js
  docs/tsconfig.json
Labels: docs, scope: docs-infra
