Repository mui/mui-x, pull requests merged in 2023-10, with the labels that each got.

#10542 [pickers] Fix clearable behavior when disabled
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#10506 [charts] PieChart onClick prop in the series data and demo
  docs/data/charts/pie-demo/OnSeriesItemClick.js
  docs/data/charts/pie-demo/OnSeriesItemClick.tsx
  docs/data/charts/pie-demo/pie-demo.md
  docs/pages/x/api/charts/pie-plot.json
  docs/translations/api-docs/charts/pie-plot.json
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/models/seriesType/pie.ts
Labels: component: charts

#10548 [DataGrid] Make `disableColumnSelector` demo idempotent
  docs/data/data-grid/column-visibility/ColumnSelectorDisabledGrid.js
  docs/data/data-grid/column-visibility/ColumnSelectorDisabledGrid.tsx
Labels: component: data grid

#10471 [DataGrid] Fix autosize missing a few pixels
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
Labels: component: data grid, feature: Column resize

#10551 [charts] Display cursor pointer for pie chart only if `onClick` is provided
  packages/x-charts/src/PieChart/PiePlot.tsx
Labels: component: charts

#10485 [docs] Add `DateRangePicker` example with a `Button` trigger
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.js
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.tsx
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.tsx.preview
  docs/data/date-pickers/custom-field/PickerWithButtonField.js
  docs/data/date-pickers/custom-field/PickerWithButtonField.tsx
  docs/data/date-pickers/custom-field/PickerWithButtonField.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
Labels: docs, component: pickers, component: DateRangePicker

#9228 [DataGrid] Add a new demo with sparklines
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/custom-columns/CustomColumnTypesGrid.js
  docs/data/data-grid/custom-columns/CustomColumnTypesGrid.tsx
  docs/data/data-grid/custom-columns/CustomColumnTypesGrid.tsx.preview
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx.preview
  docs/data/data-grid/custom-columns/SparklineColumn.js
  docs/data/data-grid/custom-columns/SparklineColumn.tsx
  docs/data/data-grid/custom-columns/SparklineColumn.tsx.preview
  docs/data/data-grid/custom-columns/custom-columns.md
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/custom-columns.js
Labels: component: data grid, component: charts

#10541 [pickers] Avoid calendar layout shifting when changing views
  docs/data/date-pickers/custom-components/PopperComponent.js
  docs/data/date-pickers/custom-components/PopperComponent.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersFadeTransitionGroup.tsx
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/constants/dimensions.ts
Labels: bug 🐛, component: pickers, design

#10561 [docs] Update RTL Support section of the grid localization docs
  docs/data/data-grid/localization/DataGridRTL.js
  docs/data/data-grid/localization/DataGridRTL.tsx
  docs/data/data-grid/localization/DataGridRTL.tsx.preview
  docs/data/data-grid/localization/localization.md
Labels: docs, component: data grid, l10n

#10544 [pickers] Improve customization playground examples
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/utils/useCustomizationPlayground.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
Labels: component: pickers, customization: css

#10421 [docs] Add section about overriding slots to base concepts
  docs/data/date-pickers/base-concepts/CustomSlots.js
  docs/data/date-pickers/base-concepts/CustomSlots.tsx
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/date-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
Labels: docs, component: pickers

#9727 [docs] Add whats new page listing all release announcements
  docs/data/pages.ts
  docs/data/whats-new/WhatsNewLayout.js
  docs/data/whats-new/WhatsNewLayout.tsx
  docs/data/whats-new/WhatsNewLayout.tsx.preview
  docs/data/whats-new/whats-new.md
  docs/pages/x/whats-new.js
  docs/public/_redirects
Labels: docs, core

#10515 [charts] Support `slots`/`slotProps` for the tooltip
  docs/pages/x/api/charts/charts-tooltip.json
  docs/translations/api-docs/charts/charts-tooltip.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  scripts/x-charts.exports.json
Labels: component: charts

#10583 v6.16.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10588 [l10n] Improve Spanish (es-ES) locale
  packages/x-date-pickers/src/locales/esES.ts
Labels: l10n, component: pickers

#10586 [pickers] Fix timezone `UTC` false positive
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: bug 🐛, component: pickers

#10587 [test] Fix `testEval` not invoking test assertions
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: test, component: data grid, feature: Filtering

#10609 [test] Set UUID chance seed in visual tests
  packages/grid/x-data-grid-generator/src/services/random-generator.ts
Labels: test, component: data grid

#10610 [test] Fix dev mode warning
  test/regressions/index.js
  test/regressions/webpack.config.js
Labels: test

#10518 [DataGridPro] Improve column grouping and column pinning friendship
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/gridColumnGroupsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Column groups, feature: Column pinning

#10621 [DataGrid] Fix `LazyLoading` demo crash
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
Labels: bug 🐛, component: data grid, feature: Row loading

#10625 [l10n] Improve Arabic (ar-SD) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/arSD.ts
Labels: component: data grid, l10n

#10613 [DataGrid] Fix: getRowId not defined
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: bug 🐛, component: data grid, feature: Filtering

#10491 [core] Update `no-response` workflow
  .github/workflows/no-response.yml
Labels: core

#10620 [docs] Fix DataGrid[Pro/Premium] reference links
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
Labels: docs, component: data grid

#10333 [docs] Add bulk editing demo
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/recipes-editing/BulkEditingNoSnap.js
  docs/data/data-grid/recipes-editing/BulkEditingNoSnap.tsx
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/package.json
  yarn.lock
Labels: docs, component: data grid, feature: Editing, recipe

#9997 [DataGrid] Make cursor for selectable cells to be `default` unless editable
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/constants/gridClasses.ts
Labels: PR: needs revision, component: data grid

#10638 [fields] Bootstrap the multi-HTML input component
  packages/x-date-pickers/src/internals/components/FakeTextField/FakeTextField.tsx
  packages/x-date-pickers/src/internals/components/FakeTextField/index.ts
Labels: component: pickers

#10640 [charts] Fix typo between internal/external variable
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#10567 [DataGrid] Remove unnecessary syntax in JSDoc
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-generator/src/services/tree-data-generator.ts
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/models/gridGroupingColDefOverride.ts
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid

#10636 [DataGrid] Get quick filter to work OOTB with `date` and `datetime` fields
  packages/grid/x-data-grid/src/colDef/gridDateColDef.ts
Labels: component: data grid, feature: Filtering

#10623 [DataGrid] Update row hover behavior to match native hover
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
Labels: component: data grid, customization: css

#10651 [core] Update the issue templates to reflect the new support workflow
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/ISSUE_TEMPLATE/6.docs-feedback.yml
  .github/ISSUE_TEMPLATE/7.rfc.yml
  .github/workflows/ensure-triage-label.yml
  .github/workflows/mark-duplicate.yml
Labels: core

#10654 [docs] Avoid Pickers playground error due to empty views
  docs/src/modules/components/PickersPlayground.tsx
Labels: docs, component: pickers, enhancement

#10633 [DataGrid] Fix cells overlapping the scrollbar in iOS Safari
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, mobile

#10627 [docs] Added reference links to TimePicker components
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
Labels: docs, component: pickers

#10628 [docs] Add reference links to DateTimePicker components
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: docs, component: pickers

#10629 [docs] Add reference links to DateRangePicker components
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
Labels: docs, component: pickers

#10631 [docs] Add reference links to picker field components
  docs/pages/x/api/date-pickers/index.md
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
Labels: docs, component: pickers

#10659 v6.16.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10646 [pickers] Add reference links to toolbar components
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
Labels: docs, component: pickers

#10687 [pickers] Change the props received by the `FakeTextField` component
  packages/x-date-pickers/src/internals/components/FakeTextField/FakeTextField.tsx
Labels: component: pickers

#10653 [charts] Add reference links to pie + scatter chart components
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
Labels: docs, component: charts

#10650 [charts] Add reference links to line chart + sparkline components
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: docs, component: charts

#10652 [charts] Add reference links to area + bar chart components
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
Labels: docs, component: charts

#10664 [DateRangePicker] Fix touch based range dragging
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
  test/e2e/index.test.ts
Labels: regression, component: pickers, component: DateRangePicker, mobile

#10626 [pickers] Add reference links to DatePicker components
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
Labels: docs, component: pickers

#10645 [pickers] Add reference links to clock components
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/time-clock.json
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
Labels: docs, component: pickers

#10647 [pickers] Add reference links to misc picker components
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersShortcuts/PickersShortcuts.tsx
Labels: docs, component: pickers

#10494 [fields] Use `onChange` instead of `onKeyPress` for Backspace editing
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers

#10709 [docs] Add example about how to add an axis
  docs/data/charts/axis/HidingAxis.js
  docs/data/charts/axis/HidingAxis.tsx
  docs/data/charts/axis/HidingAxis.tsx.preview
  docs/data/charts/axis/axis.md
Labels: docs, component: charts

#10713 [fields] Correctly respect leading zeroes on seconds section
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#10665 [docs] Customization Playground - fix DesktopDatePicker sx props examples
  docs/data/date-pickers/date-picker/examplesConfig.ts
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/utils/useCustomizationPlayground.tsx
Labels: docs, component: pickers

#10714 [charts] Skip rendering if not width or height
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
Labels: component: charts

#9926 [charts] Support animation
  docs/data/charts/bars/BarAnimation.js
  docs/data/charts/bars/BarAnimation.tsx
  docs/data/charts/bars/bars.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/bar-plot.json
  packages/x-charts/package.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/hooks/useReducedMotion.ts
  renovate.json
  test/regressions/index.js
  test/regressions/index.test.js
  yarn.lock
Labels: component: charts

#10648 [charts] Use new text component to avoid tick label overflow on x-axis
  docs/data/charts/axis/AxisCustomizationNoSnap.js
  docs/data/charts/axis/AxisTextCustomizationNoSnap.js
  docs/data/charts/axis/TickLabelPosition.js
  docs/data/charts/axis/TickLabelPosition.tsx
  docs/data/charts/axis/TickNumber.js
  docs/data/charts/axis/TickNumber.tsx
  docs/data/charts/axis/TickPosition.js
  docs/data/charts/axis/TickPosition.tsx
  docs/data/charts/axis/TickPosition.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/StackedAreas.js
  docs/data/charts/lines/StackedAreas.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useMounted.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/internals/components/ChartsText.tsx
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/src/internals/geometry.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: component: charts

#10723 [core] Update React renovate group with `@types`
  renovate.json
Labels: core

#10686 [DataGrid] Allow passing readonly arrays to `columns` and `sortingOrder` props
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/columns.spec.tsx
Labels: component: data grid, typescript, dx

#10722 [docs] Add a recipe for saving and restoring `state` externally
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.js
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.tsx
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.tsx.preview
  docs/data/data-grid/state/state.md
  docs/scripts/pages/playground/index.tsx
Labels: docs, component: data grid, recipe

#10733 [core] Update `styled-components`
  docs/package.json
  yarn.lock
Labels: core

#10740 v6.16.3
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: component: data grid, release

#10728 [docs] Fix RTL data grid demo
  docs/data/data-grid/localization/DataGridRTL.js
  docs/data/data-grid/localization/DataGridRTL.tsx
  docs/data/data-grid/localization/DataGridRTL.tsx.preview
  docs/package.json
  yarn.lock
Labels: bug 🐛, docs, i18n

#10697 [l10n][DataGrid] Improve Portuguese (pt-PT) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/ptBR.ts
Labels: l10n

#10748 [DataGridPro] Fix `undefined` values passed to `valueFormatter` for tree leaf nodes
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Export, feature: Tree data

#10730 [DataGridPremium] Fix `sum` aggregation to ignore non-numeric values
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationFunctions.ts
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/utils/utils.ts
Labels: bug 🐛, component: data grid, feature: Aggregation

#10779 [fields] POC: Use `contentEditable` on `FakeTextField`
  packages/x-date-pickers/src/internals/components/FakeTextField/FakeTextField.tsx
Labels: component: pickers, feature: Keyboard editing

#10745 [DataGridPremium] Fix `size` aggregation to ignore `undefined` values
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationFunctions.ts
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, feature: Aggregation

#10780 [test] Add missing type on `cleanText` utility function
  test/utils/pickers/fields.tsx
Labels: test

#10784 [DataGridPremium] Fix cell selection throwing index error on second page and beyond
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/grid/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, feature: Cell Selection

#10796 [docs] Fix non-closed warning
  docs/data/date-pickers/adapters-locale/adapters-locale.md
Labels: docs, component: pickers

#10798 [docs] Correct editing related props' description
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-editing-api.json
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
Labels: docs, component: data grid, support: docs-feedback

#10787 [DataGridPremium] Fix `avg` aggregation to ignore non-numeric values
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationFunctions.ts
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, feature: Aggregation

#10708 [DataGrid] Allow changing debounce time for row positions calculation
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, feature: Row height, feature: Master-detail, enhancement

#10801 [charts] Support lines with different domain
  docs/data/charts/lines/DifferentLength.js
  docs/data/charts/lines/DifferentLength.tsx
  docs/data/charts/lines/lines.md
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: enhancement, component: charts

#10811 [docs] Improve recipe with `useLayoutEffect` and `beforeunload` event-listener
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.js
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.tsx
  docs/data/data-grid/state/SaveAndRestoreStateInitialState.tsx.preview
  docs/data/data-grid/state/state.md
Labels: docs, component: data grid, recipe

#10809 [pickers] Fix week day label localization
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/localization.DateCalendar.test.tsx
  test/utils/pickers/describeGregorianAdapter/testFormat.ts
Labels: regression, l10n, component: pickers

#10815 [charts] Fix text position in Safari
  packages/x-charts/src/internals/components/ChartsText.tsx
Labels: bug 🐛, component: charts

#10813 v6.17.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#10820 [charts] Fix axis highlight in dark mode
  docs/pages/x/api/charts/charts-axis-highlight.json
  docs/translations/api-docs/charts/charts-axis-highlight.json
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-charts.exports.json
Labels: bug 🐛, component: charts, design

#10660 [charts] Add reference links to shared/misc chart components
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/ChartsClipPath/ChartsClipPath.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
Labels: docs, component: charts

#10822 [docs] Add a recipe for autosizing columns after fetching row-data
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.tsx
  docs/data/data-grid/column-dimensions/column-dimensions.md
Labels: docs, component: data grid, recipe

#10693 [DataGrid] Make column autosizing work with dynamic row height
  docs/data/data-grid/column-dimensions/ColumnAutosizingDynamicRowHeight.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingDynamicRowHeight.tsx
  docs/data/data-grid/column-dimensions/column-dimensions.md
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, feature: Row height, enhancement, feature: Column resize

#10839 [DataGrid][l10n] Allow to customize sorting label per column
  packages/grid/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/grid/x-data-grid/src/models/api/gridLocaleTextApi.ts
Labels: component: data grid, l10n, enhancement
