Repository mui/mui-x, pull requests merged in 2023-07, with the labels that each got.

#9530 [DataGrid] Fix react 17 editing bug
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/hooks/features/editing/useGridEditing.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
Labels: bug 🐛, component: data grid

#8372 [docs] New page: Components lifecycle
  docs/data/date-pickers/fields/fields.md
  docs/data/date-pickers/lifecycle/LifeCycleDateFieldEmpty.js
  docs/data/date-pickers/lifecycle/LifeCycleDateFieldEmpty.tsx
  docs/data/date-pickers/lifecycle/LifeCycleDateFieldEmpty.tsx.preview
  docs/data/date-pickers/lifecycle/LifeCycleDateRangeField.js
  docs/data/date-pickers/lifecycle/LifeCycleDateRangeField.tsx
  docs/data/date-pickers/lifecycle/LifeCycleDateRangeField.tsx.preview
  docs/data/date-pickers/lifecycle/LifeCycleIgnoreInvalidValue.js
  docs/data/date-pickers/lifecycle/LifeCycleIgnoreInvalidValue.tsx
  docs/data/date-pickers/lifecycle/LifeCycleIgnoreInvalidValue.tsx.preview
  docs/data/date-pickers/lifecycle/ServerInteraction.js
  docs/data/date-pickers/lifecycle/ServerInteraction.tsx
  docs/data/date-pickers/lifecycle/lifecycle.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/lifecycle.js
Labels: docs, component: pickers

#9555 [pickers] Forward digital clock classes
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/DigitalClock/tests/DigitalClock.test.tsx
Labels: component: pickers, component: TimePicker

#9554 [DataGrid] Fix `RangeError` when flex columns have duplicated `field` property
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, regression

#9571 [pickers] Rename `internal` folder to `internals` on `@mui/x-date-picker-pro`
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useRangePosition.ts
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/models/dateRange.ts
  packages/x-date-pickers-pro/src/internals/models/dateTimeRange.ts
  packages/x-date-pickers-pro/src/internals/models/fields.ts
  packages/x-date-pickers-pro/src/internals/models/index.ts
  packages/x-date-pickers-pro/src/internals/models/range.ts
  packages/x-date-pickers-pro/src/internals/models/rangePickerProps.ts
  packages/x-date-pickers-pro/src/internals/models/timeRange.ts
  packages/x-date-pickers-pro/src/internals/utils/date-fields-utils.ts
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
  packages/x-date-pickers-pro/src/internals/utils/date-utils.ts
  packages/x-date-pickers-pro/src/internals/utils/releaseInfo.ts
  packages/x-date-pickers-pro/src/internals/utils/validation/validateDateRange.ts
  packages/x-date-pickers-pro/src/internals/utils/validation/validateDateTimeRange.ts
  packages/x-date-pickers-pro/src/internals/utils/validation/validateTimeRange.ts
  packages/x-date-pickers-pro/src/internals/utils/valueManagers.ts
Labels: core, component: pickers

#9564 [DataGrid] fix: use getRowId in filtering
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Filtering

#9548 [docs] Fix demos with `ToggleButtonGroup`
  docs/data/date-pickers/adapters-locale/AmPMCustomization.js
  docs/data/date-pickers/adapters-locale/AmPMCustomization.tsx
  docs/data/date-pickers/adapters-locale/LocalizationDateFns.js
  docs/data/date-pickers/adapters-locale/LocalizationDateFns.tsx
  docs/data/date-pickers/adapters-locale/LocalizationDateFns.tsx.preview
  docs/data/date-pickers/adapters-locale/LocalizationDayjs.js
  docs/data/date-pickers/adapters-locale/LocalizationDayjs.tsx
  docs/data/date-pickers/adapters-locale/LocalizationDayjs.tsx.preview
  docs/data/date-pickers/adapters-locale/LocalizationLuxon.js
  docs/data/date-pickers/adapters-locale/LocalizationLuxon.tsx
  docs/data/date-pickers/adapters-locale/LocalizationMoment.js
  docs/data/date-pickers/adapters-locale/LocalizationMoment.tsx
  docs/data/date-pickers/adapters-locale/LocalizationMoment.tsx.preview
  docs/data/date-pickers/shortcuts/ChangeImportance.js
  docs/data/date-pickers/shortcuts/ChangeImportance.tsx
Labels: docs, component: pickers

#9590 v6.9.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9608 [I10n] Improve Norwegian (nb-NO) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/nbNO.ts
Labels: l10n, component: pickers

#9585 [DataGrid] Include column groups in CSV export
  docs/pages/x/api/data-grid/grid-csv-export-options.md
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/grid/x-data-grid/src/models/gridExport.ts
Labels: component: data grid, feature: Export, feature: Column groups, enhancement

#9446 [CHANGELOG] Clarify each plan
  CHANGELOG.md
  docs/public/_redirects
Labels: docs, discussion

#9334 [DataGrid] Filtering performance: remove indirection
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/grid/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/core/pipeProcessing/useGridPipeProcessing.ts
  packages/grid/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridApiMethod.ts
  packages/grid/x-data-grid/src/internals/index.ts
  test/utils/helperFn.ts
Labels: performance, component: data grid

#9625 [l10n][data grid] Improve Polish (pl-PL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/plPL.ts
Labels: l10n

#9614 [license] Fix error terminology
  packages/grid/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license-pro/src/generateLicense/generateLicense.test.ts
  packages/x-license-pro/src/generateLicense/generateLicense.ts
  packages/x-license-pro/src/utils/licensingModel.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
Labels: core, package: x-license-pro

#9574 [core] Update priority support issue template and prompt
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/workflows/priority-support-validation-prompt.yml
Labels: core

#9561 [charts] Simplify custom components creation
  docs/data/charts/components/BasicScaleDemo.js
  docs/data/charts/components/BasicScaleDemo.tsx
  docs/data/charts/components/BasicScaleDemo.tsx.preview
  docs/data/charts/components/OriginDemo.js
  docs/data/charts/components/OriginDemo.tsx
  docs/data/charts/components/ScaleDemo.js
  docs/data/charts/components/ScaleDemo.tsx
  docs/data/charts/components/components.md
  docs/data/charts/pie-demo/pie-demo.md
  docs/data/charts/pie/pie.md
  docs/data/pages.ts
  docs/pages/x/react-charts/components.js
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useDrawingArea.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/getScale.ts
  packages/x-charts/src/internals/isBandScale.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/pie.ts
  scripts/x-charts.exports.json
Labels: docs, component: charts

#9652 [pickers] Fix date calendar issues
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/pickersToolbarClasses.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: bug 🐛, component: pickers, design: ui

#9610 [DataGrid] Allow to exclude hidden columns from the quick filter
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.js
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.tsx
  docs/data/data-grid/filtering/quick-filter.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-filter-model.md
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/models/gridFilterModel.ts
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
  test/regressions/index.test.js
Labels: component: data grid, feature: Filtering, enhancement

#9630 [DataGrid] Fix quick filter input lag
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#9611 [DataGrid] Make `rowExpansionChange` event public
  docs/data/data-grid/events/events.json
  docs/data/data-grid/row-grouping/RowGroupingSetChildrenExpansion.js
  docs/data/data-grid/row-grouping/RowGroupingSetChildrenExpansion.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
Labels: component: data grid, customization: extend

#9660 [docs] Add slot components usage alert
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs, component: pickers

#9632 [charts] Allow configuring bar size
  docs/data/charts/bars/BarGapNoSnap.js
  docs/data/charts/bars/bars.md
  docs/src/modules/components/DemoPropsForm.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#9594 [DataGrid] Fix column type change not working correctly
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/tests/columns.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#9671 [docs] Normalize the WIP items
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/pages.ts
Labels: docs

#9672 [docs] Localization progress, polish
  docs/src/modules/components/LocalizationTable.js
Labels: docs, design: ui

#9644 [docs] Improve the UI for pickers introduction
  docs/src/modules/components/InstallationInstructions.tsx
  docs/src/modules/components/PickersRenderingInstructions.js
  docs/src/modules/components/ToggleOptions.tsx
  yarn.lock
Labels: docs, component: pickers

#9675 [pickers] Remove `require` usage in comment
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
Labels: bug 🐛, external dependency, component: pickers

#9680 [docs] Fix Date Pickers usage to Title Case
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/overview/overview.md
  docs/data/date-pickers/shortcuts/shortcuts.md
  docs/data/date-pickers/timezone/timezone.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/date-pickers/index.md
Labels: docs, component: pickers

#9635 [DataGrid] Filtering performance: compile filter applier with eval
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: performance, component: data grid

#9667 [DataGrid] Fix CSV export for values containing double quotes
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Export

#9656 [DataGrid] Fix sorting in `CustomSortIcons` demo
  docs/data/data-grid/components/CustomSortIcons.js
  docs/data/data-grid/components/CustomSortIcons.tsx
  docs/data/data-grid/components/CustomSortIcons.tsx.preview
Labels: bug 🐛, component: data grid, support: docs-feedback

#9169 [docs] Add unsorted icon slot to the custom sort icons demo
  docs/data/data-grid/components/CustomSortIcons.js
  docs/data/data-grid/components/CustomSortIcons.tsx
  docs/data/data-grid/components/CustomSortIcons.tsx.preview
Labels: docs, component: data grid

#9682 [DataGridPro] Improve tree data performance
  packages/grid/x-data-grid-pro/src/utils/tree/utils.ts
Labels: performance, component: data grid, regression, plan: Premium, feature: Tree data

#9708 [DataGrid] Fix quickfilter undefined row error
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#9575 [docs] Add additional note for license key installation on Next.js
  docs/data/introduction/licensing/licensing.md
Labels: docs, package: x-license-pro

#9734 [charts] Fix blinking in responsive charts and extremums computation for line charts
  packages/x-charts/src/LineChart/extremums.ts
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
Labels: component: charts

#9665 [DataGrid] Wait for remote stylesheets to load before print
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: bug 🐛, component: data grid, feature: Export

#9707 [docs] Add pnpm installation instructions for MUI X
  docs/data/charts/overview/overview.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/src/modules/components/InstallationInstructions.tsx
Labels: docs

#9728 [test] Fail the CI when new unexpected files are created
  .circleci/config.yml
Labels: test

#9668 [docs] Differentiate between packages in `slotProps` docs
  docs/data/data-grid/components/components.md
Labels: docs, component: data grid

#9673 [docs] Apply style guide to Data Grid Layout page
  docs/data/data-grid/layout/layout.md
Labels: docs, component: data grid

#9741 [DataGrid] Fix row click propagation causing error in nested grid
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#9729 [DataGrid] Fix quickfilter & aggregation error
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/grid/x-data-grid-premium/src/tests/DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
  packages/grid/x-data-grid/src/internals/index.ts
Labels: component: data grid

#7357 [DataGrid] Keep focused cell in the DOM
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/cells.DataGrid.test.tsx
Labels: component: data grid, CLA: signed

#9717 [license] Allow overriding the license on specific parts of the page
  packages/x-license-pro/src/Unstable_LicenseInfoProvider/LicenseInfoContext.ts
  packages/x-license-pro/src/Unstable_LicenseInfoProvider/LicenseInfoProvider.tsx
  packages/x-license-pro/src/Unstable_LicenseInfoProvider/index.ts
  packages/x-license-pro/src/index.ts
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseInfo.ts
  scripts/x-license-pro.exports.json
Labels: new feature, package: x-license-pro

#9701 [license] Throw in dev mode after 30 days
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
  packages/x-license-pro/src/utils/licenseStatus.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-license-pro.exports.json
Labels: package: x-license-pro

#9772 [docs] Align pickers `uncontrolled vs controlled` sections
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/digital-clock/digital-clock.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-field/time-field.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-field/time-range-field.md
Labels: docs, component: pickers

#9417 [DataGridPremium] Allow to customize grouping cell offset
  docs/data/data-grid/row-grouping/RowGroupingCustomCellIndent.js
  docs/data/data-grid/row-grouping/RowGroupingCustomCellIndent.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomCellIndent.tsx.preview
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/grid/x-data-grid-premium/src/components/GridGroupingColumnFooterCell.tsx
  packages/grid/x-data-grid-premium/src/components/GridGroupingColumnLeafCell.tsx
  packages/grid/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, feature: Row grouping, customization: css

#9779 [charts] Improve JSDoc for axis-related props
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
Labels: docs, component: charts

#9787 [core] Use PR charts version in preview
  docs/pages/_app.js
Labels: component: charts

#9746 [DataGrid][l10n] Improve Finnish (fi-FI) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/fiFI.ts
Labels: l10n

#9527 [charts] Improve performances of Scatter component
  packages/x-charts/src/ScatterChart/Scatter.tsx
Labels: component: charts

#9800 [pickers] Remove the `endOfDate` from `DigitalClock` timeOptions
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
Labels: bug 🐛, component: pickers, component: TimePicker

#9801 [docs] Fix charts width in axis pages
  docs/data/charts/axis/AxisCustomizationNoSnap.js
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/MinMaxExample.js
  docs/data/charts/axis/MinMaxExample.tsx
  docs/data/charts/axis/ModifyAxisPosition.js
  docs/data/charts/axis/ModifyAxisPosition.tsx
  docs/data/charts/axis/ScaleExample.js
  docs/data/charts/axis/ScaleExample.tsx
  docs/data/charts/axis/ScaleExample.tsx.preview
  docs/src/modules/components/ChartsUsageDemo.js
Labels: bug 🐛, docs

#9803 [license] Only throw in dev mode
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
Labels: package: x-license-pro, enhancement

#9512 [docs] Update overview page with up to date information about the plans
  docs/data/data-grid/overview/DataGridPremiumDemo.js
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx
  docs/data/data-grid/overview/overview.md
Labels: docs, component: data grid

#9747 [test] Add pickers e2e tests
  test/e2e/fixtures/DataGrid/KeyboardEditDate.tsx
  test/e2e/fixtures/DatePicker/BasicDesktopDatePicker.tsx
  test/e2e/fixtures/DatePicker/BasicDesktopDateRangePicker.tsx
  test/e2e/fixtures/DatePicker/BasicDesktopDateTimePicker.tsx
  test/e2e/fixtures/DatePicker/BasicMobileDatePicker.tsx
  test/e2e/fixtures/DatePicker/DesktopDateTimePickerNoTimeRenderers.tsx
  test/e2e/index.test.ts
Labels: test, component: pickers

#9819 [fields] Fix section clearing with timezone
  packages/x-date-pickers-pro/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#9822 [test] Data grid e2e tests follow-up
  test/e2e/fixtures/DataGrid/KeyboardNavigationFocus.tsx
  test/e2e/index.test.ts
Labels: test, component: data grid

#9820 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n

#9781 [docs] Add example for avoiding picker views layout shift
  docs/data/date-pickers/custom-components/PopperComponent.js
  docs/data/date-pickers/custom-components/PopperComponent.tsx
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs, component: pickers, design: ux

#9823 [pickers] Use device motion reduction preference
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/internals/hooks/useDefaultReduceAnimations.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/defaultReduceAnimations.ts
Labels: accessibility, component: pickers

#9827 [core] Update tree data API docs
  docs/pages/x/api/tree-view/tree-item-content.js
  docs/pages/x/api/tree-view/tree-item.js
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.js
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/tree-item.json
  docs/translations/api-docs/tree-view/tree-view.json
Labels: core

#9821 [docs] Add charts nav item
  docs/next.config.js
  docs/pages/_app.js
Labels: docs

#9496 [DataGrid] Add `ariaV7` experimental flag
  docs/data/data-grid/accessibility/GridAriaV7.js
  docs/data/data-grid/accessibility/GridAriaV7.tsx
  docs/data/data-grid/accessibility/GridAriaV7.tsx.preview
  docs/data/data-grid/accessibility/accessibility.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridBaseColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/containers/GridMainContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridAriaAttributes.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: accessibility, component: data grid

#9704 [docs] Add charts to MUI X introduction pages
  README.md
  docs/data/introduction/installation/installation.md
  docs/data/introduction/overview/overview.md
Labels: docs, component: charts

#9849 [pickers] Allow to override the `InputProps` of the `TextField` using the `slotProps`
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
Labels: bug 🐛, component: pickers

#9774 [charts] Introduce dataset to simplify plot of data from API
  docs/data/charts/bars/BarsDataset.js
  docs/data/charts/bars/BarsDataset.tsx
  docs/data/charts/bars/BarsDataset.tsx.preview
  docs/data/charts/bars/bars.md
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/lines/lines.md
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: component: charts

#9853 [pickers] Fix `sx` and `className` props on `MobileDateRangePicker`
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
Labels: bug 🐛, component: pickers
