Repository mui/mui-x, pull requests merged in 2023-02, with the labels that each got.

#7778 [l10n] Add Urdu (ur-PK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/index.ts
  packages/grid/x-data-grid/src/locales/urPK.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, l10n, cherry-pick

#7405 [DataGrid] Fix print preview regression in Chrome browser
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: component: data grid, v5.x, feature: Export, cherry-pick

#7767 [DataGrid] Fix an error when deleting pinned row using actions column button
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
Labels: bug 🐛, component: data grid, plan: Pro, v5.x, feature: Row pinning

#7781 [docs] Fix require context path to avoid duplicate key creation
  docs/pages/x/api/data-grid/data-grid-premium.js
  docs/pages/x/api/data-grid/data-grid-pro.js
  docs/pages/x/api/data-grid/data-grid.js
  docs/pages/x/api/data-grid/grid-filter-form.js
  docs/pages/x/api/data-grid/grid-filter-panel.js
  docs/pages/x/api/date-pickers/date-calendar.js
  docs/pages/x/api/date-pickers/date-field.js
  docs/pages/x/api/date-pickers/date-picker-toolbar.js
  docs/pages/x/api/date-pickers/date-picker.js
  docs/pages/x/api/date-pickers/date-range-calendar.js
  docs/pages/x/api/date-pickers/date-range-picker-day.js
  docs/pages/x/api/date-pickers/date-range-picker-toolbar.js
  docs/pages/x/api/date-pickers/date-range-picker.js
  docs/pages/x/api/date-pickers/date-time-field.js
  docs/pages/x/api/date-pickers/date-time-picker-tabs.js
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.js
  docs/pages/x/api/date-pickers/date-time-picker.js
  docs/pages/x/api/date-pickers/day-calendar-skeleton.js
  docs/pages/x/api/date-pickers/desktop-date-picker.js
  docs/pages/x/api/date-pickers/desktop-date-range-picker.js
  docs/pages/x/api/date-pickers/desktop-date-time-picker.js
  docs/pages/x/api/date-pickers/desktop-time-picker.js
  docs/pages/x/api/date-pickers/localization-provider.js
  docs/pages/x/api/date-pickers/mobile-date-picker.js
  docs/pages/x/api/date-pickers/mobile-date-range-picker.js
  docs/pages/x/api/date-pickers/mobile-date-time-picker.js
  docs/pages/x/api/date-pickers/mobile-time-picker.js
  docs/pages/x/api/date-pickers/month-calendar.js
  docs/pages/x/api/date-pickers/multi-input-date-range-field.js
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.js
  docs/pages/x/api/date-pickers/multi-input-time-range-field.js
  docs/pages/x/api/date-pickers/pickers-action-bar.js
  docs/pages/x/api/date-pickers/pickers-day.js
  docs/pages/x/api/date-pickers/pickers-layout.js
  docs/pages/x/api/date-pickers/pickers-shortcuts.js
  docs/pages/x/api/date-pickers/single-input-date-range-field.js
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.js
  docs/pages/x/api/date-pickers/single-input-time-range-field.js
  docs/pages/x/api/date-pickers/static-date-picker.js
  docs/pages/x/api/date-pickers/static-date-range-picker.js
  docs/pages/x/api/date-pickers/static-date-time-picker.js
  docs/pages/x/api/date-pickers/static-time-picker.js
  docs/pages/x/api/date-pickers/time-clock.js
  docs/pages/x/api/date-pickers/time-field.js
  docs/pages/x/api/date-pickers/time-picker-toolbar.js
  docs/pages/x/api/date-pickers/time-picker.js
  docs/pages/x/api/date-pickers/year-calendar.js
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: docs, core

#7785 [core] Remove `rifm` dependency
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  yarn.lock
Labels: component: pickers

#7777 [l10n] Improve French (fr-FR) locale
  packages/grid/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n

#7776 [l10n] Add Hungarian (hu-HU) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/huHU.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7764 [pickers] Allow to initialize and control the `rangePosition` on all range components
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/dateRangeViewRenderers/dateRangeViewRenderers.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useRangePosition.ts
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/models/range.ts
Labels: component: pickers

#7766 [pickers] Hide scrollbars in the date calendar container
  packages/x-date-pickers/src/internals/components/PickerViewRoot/PickerViewRoot.tsx
Labels: component: pickers

#7795 [l10n] Improve French (fr-FR) locale #7777 (from @Vivek-Prajapatii)
  packages/grid/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n, cherry-pick

#7804 [core] Fix l10n data file
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/huHU.ts
Labels: core

#7802 v5.17.22
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7800 [pickers] Fix theme augmentation issues
  packages/x-date-pickers-pro/src/DateRangeCalendar/index.ts
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
Labels: bug 🐛, typescript, component: pickers

#7803 v6.0.0-beta.2
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7815 [docs] Fix broken link
  docs/data/date-pickers/date-range-picker/date-range-picker.md
Labels: docs, component: pickers

#7816 [DataGrid] Allow to customize the value displayed in the filter button (by @ithrforu)
  docs/data/data-grid/filtering/CustomRatingOperator.js
  docs/data/data-grid/filtering/CustomRatingOperator.tsx
  docs/data/data-grid/filtering/filtering.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: component: data grid, cherry-pick

#7734 [docs] Fix hydration crash in pickers
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/data/date-pickers/base-concepts/ComponentFamilies.js
  docs/data/date-pickers/base-concepts/ComponentFamilies.tsx
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/overview/overview.md
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
Labels: bug 🐛, docs, component: pickers

#7707 [codemod] Rename linkOperators to logicOperators
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/renameCSSClasses.ts
  packages/x-codemod/src/util/renameClassKey.ts
  packages/x-codemod/src/util/renameIdentifiers.ts
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/rename-linkOperators-logicOperators.test.ts
Labels: component: data grid, v6.x, package: codemod

#7814 [docs] Use `@next` tag in grid and pickers installation instructions
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/InstallationInstructions.tsx
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/tsconfig.json
Labels: docs, dx

#7820 [docs] Add a "Whats new in v6" page linked on the sidebar
  docs/data/pages.ts
  docs/data/whats-new.md
  docs/pages/x/whats-new.js
Labels: docs, core, dx

#7836 [codemod] Codemod to remove unnecessary `experimentalFeatures` flag
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/removeObjectProperty.ts
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/remove-stabilized-experimentalFeatures.test.ts
Labels: component: data grid, v6.x, package: codemod

#7840 [docs] Remove no longer relevant range shortcuts section
  docs/data/date-pickers/date-range-picker/date-range-picker.md
Labels: docs, component: pickers

#7445 [pickers] Clean popper position on new pickers
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.js
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx
  docs/data/date-pickers/date-picker/CustomInput.js
  docs/data/date-pickers/date-picker/CustomInput.tsx
  docs/data/date-pickers/date-range-picker/CustomInputs.js
  docs/data/date-pickers/date-range-picker/CustomInputs.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
Labels: component: pickers

#7841 [core] Remove `tslint` package leftovers
  docs/tslint.json
  renovate.json
Labels: core

#7354 [DataGrid] improve querySelectors for selecting cell element
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/utils/domUtils.ts
Labels: bug 🐛, component: data grid, plan: Premium, needs cherry-pick, CLA: signed

#6580 [DataGrid] Support RTL
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/components/GridColumnMenuPinningItem.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, new feature, v6.x, CLA: signed

#7483 [codemod] Rename `GridFilterItem` props
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-filter-item-props/actual.spec.tsx
  packages/x-codemod/src/v6.0.0/data-grid/rename-filter-item-props/expected.spec.tsx
  packages/x-codemod/src/v6.0.0/data-grid/rename-filter-item-props/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-filter-item-props/rename-filter-item-props.test.ts
Labels: component: data grid, v6.x, package: codemod

#7838 [docs] Add messages in v5 doc to inform people about v6
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers

#7839 [docs] Add product name to "What's New" page title.
  docs/data/whats-new.md
Labels: docs

#7847 [pickers] Improve JSDoc and resulting api docs pages
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-field.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-field.json
  docs/translations/api-docs/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/models/dateRange.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/validation/useValidation.ts
Labels: docs, typescript, component: pickers

#7844 [DataGrid] Fix getCellElement method not working with pinned columns
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/utils/domUtils.ts
Labels: bug 🐛, component: data grid, v5.x, plan: Premium, cherry-pick

#7850 [l10n] Improve Brazilian Portuguese (pt-BR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ptBR.ts
Labels: l10n, needs cherry-pick

#7834 [fields] Fix year editing on valid date
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#7855 [fields] Reset query when pressing `Backspace` or `Delete`
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
Labels: bug 🐛, component: pickers

#7856 [codemod] Add more cases to `rename-selectors-and-events` codemod
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/renameIdentifiers.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/index.ts
Labels: component: data grid, v6.x, package: codemod

#7858 [fields] Allow to select year 2000 on 2-digit year section
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#7329 [DataGrid] Add `BaseIconButton` component slot
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/grid/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid, customization: css, enhancement, CLA: signed

#7694 [DataGrid] Fix stale rows issue in `unstable_replaceRows`
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, v5.x

#7862 [fields] Fix year editing on `day.js`
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
Labels: bug 🐛, component: pickers

#7853 [pickers] Update pickers when new value has a distinct timezone
  packages/x-date-pickers/src/internals/hooks/useMaskedInput.tsx
Labels: bug 🐛

#7808 [pickers] Ditch pickers `skipLibCheck`
  packages/x-date-pickers-pro/tsconfig.json
  packages/x-date-pickers/tsconfig.json
  patches/@date-io+date-fns+2.16.0.patch
  patches/@date-io+date-fns-jalali+2.16.0.patch
  patches/@date-io+dayjs+2.16.0.patch
  patches/@date-io+hijri+2.16.1.patch
  patches/@date-io+luxon+2.16.1.patch
  patches/@date-io+moment+2.16.1.patch
  patches/date-fns-jalali+2.13.0-0.patch
Labels: typescript, external dependency, component: pickers

#7864 [DataGrid] Improve grid resize performance
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: performance, component: data grid, v6.x

#7870 v5.17.23
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7866 [core] Use `createDescribes` for `describeValue` and `describeValidation`
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.tsx
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
Labels: test, core, component: pickers

#7842 [fields] Support Backspace key on Android
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers

#7874 [DateRangePicker] Fix slide transition by avoiding useless component re-rendering
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
Labels: regression, component: pickers, component: DateRangePicker

#7868 [core] Run editing field tests on all major adapters
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/tests/describeAdapters/describeAdapters.ts
  packages/x-date-pickers/src/tests/describeAdapters/index.ts
  test/utils/addChartAssertions.ts
  test/utils/init.ts
  test/utils/pickers-utils.tsx
  test/utils/setupJSDOM.js
Labels: test, core, component: pickers

#7933 [docs] Add an info callout specifying the current state of desktop time view
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
  package.json
Labels: docs, component: pickers

#7888 [fields] Support escaped characters on Luxon
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#7898 [docs] Fix markdown table alignments
  SECURITY.md
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/overview/overview.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: bug 🐛, docs

#7872 [docs] Update `LocalizationProvider` `dateAdapter` with a link to doc
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/date-pickers/localization-provider.json
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: docs, component: pickers

#7939 [docs] Add missing param in `useGridApiEventHandler` examples
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/data/data-grid/events/events.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/index.ts
Labels: docs, component: data grid

#7857 [DataGrid] Avoid unnecessary rerenders after `updateRows`
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: performance, component: data grid, needs cherry-pick

#7945 [DataGrid] Avoid unnecessary rerenders after `updateRows`
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: performance, component: data grid, v5.x, cherry-pick

#7796 [l10n] Add Hungarian (hu-HU) locale from @noherczeg
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/huHU.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, cherry-pick

#7952 [codemod] Fix import path
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/index.ts
Labels: bug 🐛, package: codemod

#7946 [DataGrid] Fix virtual scroller not updating layout after pinning the column
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, regression, feature: Rendering layout, feature: Column pinning, needs cherry-pick

#7953 [DataGrid] Fix virtual scroller not updating layout after pinning the column
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, v5.x, regression, feature: Rendering layout, feature: Column pinning, cherry-pick

#7950 [DataGridPremium] Fix `leafField` to have correct focus value
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Row grouping, needs cherry-pick

#7861 [docs] Improve `DataGrid` migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid, v6.x

#7959 [DataGridPremium] Fix `leafField` to have correct focus value
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: component: data grid, v5.x, cherry-pick

#7957 v5.17.24
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7960 v6.0.0-beta.4
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#7963 [docs] Fix inconsistency in DataGrid migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid

#7942 [DateTimePicker] Ensure toolbar `viewType` is correctly updated
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/models/props/baseToolbarProps.ts
  packages/x-date-pickers/src/internals/models/views.ts
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/isIS.ts
  packages/x-date-pickers/src/locales/itIT.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/ruRU.ts
  packages/x-date-pickers/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/locales/zhCN.ts
Labels: bug 🐛, component: pickers, component: DateTimePicker

#7988 [fields] Fix single input time range fields slot props
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.types.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#7987 [pickers] Fix `textField` slot `error` prop propagation
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
Labels: bug 🐛, component: pickers

#7900 [docs] Fix a few scroll issues on mobile
  docs/data/data-grid/localization/DataGridLocalisationTableNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/data/date-pickers/custom-layout/AddComponent.js
  docs/data/date-pickers/custom-layout/AddComponent.tsx
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.tsx
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/fields/LifeCycleDateRangeField.js
  docs/data/date-pickers/fields/LifeCycleDateRangeField.tsx
  docs/data/date-pickers/fields/LifeCycleDateRangeField.tsx.preview
  docs/data/date-pickers/localization/PickersLocalisationTableNoSnap.js
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-field/time-field.md
  docs/data/date-pickers/time-picker/TimePickerViews.js
  docs/data/date-pickers/time-picker/TimePickerViews.tsx
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-field/time-range-field.md
  docs/src/modules/components/LocalizationTable.js
  packages/x-date-pickers/src/internals/demo/DemoContainer.tsx
Labels: bug 🐛, docs, mobile

#7992 [docs] Fine tune range fields demos
  docs/data/date-pickers/date-range-field/BasicDateRangeField.js
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx
  docs/data/date-pickers/date-range-field/BasicDateRangeField.tsx.preview
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.js
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.tsx
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.tsx.preview
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.js
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.tsx
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.tsx.preview
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.js
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.tsx
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.tsx.preview
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.js
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.tsx
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.tsx.preview
Labels: docs, component: pickers, feature: Keyboard editing

#8002 [fields] Fix multi input range fields validation when uncontrolled
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.tsx
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/describeRangeValidation.types.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/testTextFieldKeyboardRangeValidation.tsx
  scripts/x-date-pickers-pro.exports.json
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#7993 [fields] Make the ArrowUp / ArrowDown edition only impact the active section
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/localization.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/tests/describeAdapters/describeAdapters.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
Labels: component: pickers, feature: Keyboard editing

#7326 [DataGridPro] Add `Remove All` option in filter panel
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.js
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.tsx
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.tsx.preview
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/localization/data.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/icons/index.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/constants/localeTextConstants.ts
  packages/grid/x-data-grid/src/locales/arSD.ts
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/bgBG.ts
  packages/grid/x-data-grid/src/locales/csCZ.ts
  packages/grid/x-data-grid/src/locales/daDK.ts
  packages/grid/x-data-grid/src/locales/deDE.ts
  packages/grid/x-data-grid/src/locales/elGR.ts
  packages/grid/x-data-grid/src/locales/esES.ts
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/grid/x-data-grid/src/locales/fiFI.ts
  packages/grid/x-data-grid/src/locales/frFR.ts
  packages/grid/x-data-grid/src/locales/heIL.ts
  packages/grid/x-data-grid/src/locales/huHU.ts
  packages/grid/x-data-grid/src/locales/itIT.ts
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/grid/x-data-grid/src/locales/koKR.ts
  packages/grid/x-data-grid/src/locales/nbNO.ts
  packages/grid/x-data-grid/src/locales/nlNL.ts
  packages/grid/x-data-grid/src/locales/plPL.ts
  packages/grid/x-data-grid/src/locales/ptBR.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  packages/grid/x-data-grid/src/locales/ruRU.ts
  packages/grid/x-data-grid/src/locales/skSK.ts
  packages/grid/x-data-grid/src/locales/svSE.ts
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/grid/x-data-grid/src/locales/ukUA.ts
  packages/grid/x-data-grid/src/locales/urPK.ts
  packages/grid/x-data-grid/src/locales/viVN.ts
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
  packages/grid/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/grid/x-data-grid/src/models/gridIconSlotsComponent.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, plan: Pro, feature: Filtering, enhancement

#7996 [test] Support all adapters on the field tests about the formats
  packages/x-date-pickers/src/DateField/tests/format.DateField.test.tsx
Labels: test, core, component: pickers, feature: Keyboard editing

#8005 [fields] Small changes
  packages/x-date-pickers-pro/src/internal/models/fields.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: component: pickers

#7995 [fields] Single input range fields can't be cleaned using Backspace
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  test/utils/addChaiAssertions.ts
  test/utils/init.ts
  test/utils/setupJSDOM.js
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#8001 [codemod] Add `apiRef.current.getRowIndex` to `DataGrid` renaming codemod
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-linkOperators-logicOperators/index.ts
Labels: component: data grid, v6.x, package: codemod

#8020 [core] Fix moment locale on adapter tests
  packages/x-date-pickers/src/tests/describeAdapters/describeAdapters.ts
Labels: core

#8023 v5.17.25
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#8022 v6.0.0-beta.5
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#8021 [pickers] Document and deprecate `onClose` callback on static pickers
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker.json
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.types.ts
Labels: docs, typescript, component: pickers

#8030 [l10n] Improve Spanish (es-ES) locale
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: component: data grid, l10n

#7970 [docs] Update Accessibility to be more up to date
  docs/data/data-grid/accessibility/accessibility.md
Labels: docs, accessibility

#8045 [docs] Clarify the MIT license restriction for grid pagination
  docs/data/data-grid/pagination/pagination.md
Labels: docs, component: data grid

#7848 [core] Add modified docs page links in the PR
  dangerfile.js
  docs/data/data-grid/editing/editing.md
  docs/data/date-pickers/custom-components/custom-components.md
Labels: core

#7867 [core] Add test on value timezone
  packages/x-date-pickers/src/DateTimeField/tests/timezone.DateTimeField.test.tsx
Labels: test

#8046 [pickers] Increase min `moment` peer dependency version
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: breaking change, security, component: pickers

#8043 [DataGridPro] Improve typing for `getColumnForNewFilter` method
  docs/data/data-grid/filtering/DisableMultiFiltersDataGridPro.js
  docs/data/data-grid/filtering/DisableMultiFiltersDataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
Labels: component: data grid, plan: Pro, v6.x, feature: Filtering

#8055 [DataGridPro] Remove row pinning from experimental features
  docs/data/data-grid/row-pinning/RowPinning.js
  docs/data/data-grid/row-pinning/RowPinning.tsx
  docs/data/data-grid/row-pinning/RowPinning.tsx.preview
  docs/data/data-grid/row-pinning/RowPinningWithActions.js
  docs/data/data-grid/row-pinning/RowPinningWithActions.tsx
  docs/data/data-grid/row-pinning/RowPinningWithActions.tsx.preview
  docs/data/data-grid/row-pinning/RowPinningWithPagination.js
  docs/data/data-grid/row-pinning/RowPinningWithPagination.tsx
  docs/data/data-grid/row-pinning/RowPinningWithPagination.tsx.preview
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/tests/rowPinning.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinning.ts
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/index.ts
Labels: breaking change, component: data grid, v6.x, feature: Row pinning

#8056 [docs] Add `aggregation` experimental flag removal to the migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/index.ts
Labels: docs, breaking change, v6.x

#8031 [pickers] Add support for UTC on moment adapter
  docs/data/date-pickers/adapters-locale/UTCMoment.js
  docs/data/date-pickers/adapters-locale/UTCMoment.tsx
  docs/data/date-pickers/adapters-locale/UTCMoment.tsx.preview
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  packages/x-date-pickers/src/AdapterMoment/index.ts
Labels: component: pickers

#7968 [DataGrid] Add typing for `componentsProps`
  docs/data/data-grid/components/CustomFooter.js
  docs/data/data-grid/components/CustomFooter.tsx
  docs/data/data-grid/components/components.md
  docs/pages/x/api/data-grid/grid-filter-panel.json
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridIconButtonContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/grid/x-data-grid/src/components/menu/GridMenu.tsx
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, typescript, v6.x, dx

#8004 [data grid] Start extracting material slots to a separate directory
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/components/index.ts
  packages/grid/x-data-grid-premium/src/constants/dataGridPremiumDefaultSlotsComponents.ts
  packages/grid/x-data-grid-premium/src/material/icons.tsx
  packages/grid/x-data-grid-premium/src/material/index.ts
  packages/grid/x-data-grid-pro/src/components/index.ts
  packages/grid/x-data-grid-pro/src/constants/dataGridProDefaultSlotsComponents.ts
  packages/grid/x-data-grid-pro/src/material/icons.tsx
  packages/grid/x-data-grid-pro/src/material/index.ts
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/grid/x-data-grid/src/components/index.ts
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/material/icons/GridColumnUnsortedIcon.tsx
  packages/grid/x-data-grid/src/material/icons/index.tsx
  packages/grid/x-data-grid/src/material/index.ts
  packages/grid/x-data-grid/src/models/gridIconSlotsComponent.ts
Labels: component: data grid
