Repository mui/mui-x, pull requests merged in 2023-01, with the labels that each got.

#7348 [codemod] Add new codemod for adapter import
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/adapter-change-import/actual.spec.js
  packages/x-codemod/src/v6.0.0/adapter-change-import/adapter-change-import.test.ts
  packages/x-codemod/src/v6.0.0/adapter-change-import/expected.spec.js
  packages/x-codemod/src/v6.0.0/adapter-change-import/index.ts
  packages/x-codemod/src/v6.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/preset-safe/index.ts
  packages/x-codemod/tsconfig.json
Labels: component: pickers, package: codemod

#7367 [core] Fix the product license reference name
  scripts/copyFiles.mjs
Labels: core

#7370 [docs] Redirect translated pages
  docs/public/_redirects
Labels: docs, i18n

#7356 [pickers] Remove redundant `variants` in theme augmentation
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
Labels: breaking change, typescript, v6.x, component: pickers

#6959 [DataGrid] Set default `GridCellParams['value']` type to `unknown`
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx
  docs/data/data-grid/events/events.json
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.js
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.tsx
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-col-def.md
  packages/grid/x-data-grid-generator/src/renderer/renderRating.tsx
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/grid/x-data-grid/src/colDef/gridSingleSelectOperators.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/gridCellClass.ts
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
  packages/grid/x-data-grid/src/tests/columns.spec.tsx
  packages/grid/x-data-grid/src/utils/utils.ts
Labels: breaking change, component: data grid, typescript, v6.x

#7376 [DataGrid] Fix rows not rendering properly after height change
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.new.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, v5.x, feature: Rendering layout, cherry-pick

#7272 [fields] Improve editing (automatic section switch, allow letter editing in digit section, allow numeric editing in letter section)
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: component: pickers, feature: Keyboard editing

#6874 [DataGrid] Invert generic parameters order
  docs/data/data-grid/column-definition/RenderCellGrid.tsx
  docs/data/data-grid/column-definition/RenderExpandCellGrid.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridReferences.tsx
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/editing/CustomEditComponent.tsx
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx
  docs/data/data-grid/recipes-editing/MultilineEditing.tsx
  docs/data/data-grid/style/StylingAllCells.tsx
  docs/data/data-grid/style/StylingAllCells.tsx.preview
  docs/data/data-grid/style/StylingCellsGrid.tsx
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  packages/grid/x-data-grid-generator/src/renderer/renderEditCurrency.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditRating.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEditStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderEmail.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderIncoterm.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderLink.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderPnl.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderProgress.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderRating.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderStatus.tsx
  packages/grid/x-data-grid-generator/src/renderer/renderTotalPrice.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/models/gridGroupingValueGetterParams.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/models/api/gridParamsApi.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/gridCellClass.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/models/params/gridCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridColumnHeaderParams.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid/src/tests/columns.spec.tsx
Labels: breaking change, component: data grid

#7186 [fields] Add `SingleInputTimeRangeField` and `SingleInputDateTimeRangeField` components
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.js
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.tsx
  docs/data/date-pickers/date-time-range-field/BasicDateTimeRangeField.tsx.preview
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.js
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.tsx
  docs/data/date-pickers/date-time-range-field/DateTimeRangeFieldValue.tsx.preview
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.js
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.tsx
  docs/data/date-pickers/time-range-field/BasicTimeRangeField.tsx.preview
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.js
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.tsx
  docs/data/date-pickers/time-range-field/TimeRangeFieldValue.tsx.preview
  docs/data/date-pickers/time-range-field/time-range-field.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.js
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.js
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field-pt.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field-zh.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describes.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/tests/describes.SingleInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/tests/describes.SingleInputTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/tests/describeRangeValidation/testTextFieldRangeValidation.tsx
  scripts/x-date-pickers-pro.exports.json
Labels: component: pickers, feature: Keyboard editing

#7394 v5.17.18
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7397 v6.0.0-alpha.14
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: release

#7001 [DataGrid] Rework column headers and virtual scroller positioning
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/layout/FlexLayoutGrid.js
  docs/data/data-grid/layout/FlexLayoutGrid.tsx
  docs/data/data-grid/layout/FlexLayoutGrid.tsx.preview
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/data/data-grid/row-height/ExpandableCells.tsx
  docs/data/data-grid/row-height/row-height.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/DataGridProColumnHeaders.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/GridAutoSizer.tsx
  packages/grid/x-data-grid/src/components/GridScrollArea.tsx
  packages/grid/x-data-grid/src/components/base/GridBody.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/density/useGridDensity.tsx
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: breaking change, component: data grid, v6.x, feature: Rendering layout

#7399 [DataGridPro] Fix missing column headers border with top-pinned rows
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, v5.x, feature: Row pinning, cherry-pick

#7407 [DataGrid] Improve print support
  docs/data/data-grid/export/export.md
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  test/regressions/TestViewer.js
  test/regressions/index.test.js
  test/utils/createDOM.js
Labels: bug 🐛, component: data grid, v5.x, feature: Export, cherry-pick

#7309 [DataGrid] Remove the `columnTypes` prop
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: breaking change, component: data grid, v6.x

#7395 [pickers] Add Belarusian (be-BY) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/beBY.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7438 Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: l10n

#7447 Improve Spanish (es-ES) locale (from @Anderssxn)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: l10n, cherry-pick

#7194 [docs] Use new pickers on "Custom components" demos
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx.preview
  docs/data/date-pickers/custom-components/ActionBarComponentProps.js
  docs/data/date-pickers/custom-components/ActionBarComponentProps.tsx
  docs/data/date-pickers/custom-components/ActionBarComponentProps.tsx.preview
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.tsx
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.tsx
  docs/data/date-pickers/custom-components/Tabs.js
  docs/data/date-pickers/custom-components/Tabs.tsx
  docs/data/date-pickers/custom-components/Tabs.tsx.preview
  packages/x-date-pickers/src/TimeClock/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: docs, component: pickers

#7449 [pickers] Add Urdu (ur-PK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/urPK.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7374 [pickers] Remove `WrapperVariantContext` from `DateTimePickerTabs`
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/components/wrappers/WrapperProps.ts
  packages/x-date-pickers/src/internals/components/wrappers/WrapperVariantContext.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePickerState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/common.ts
Labels: component: pickers

#7450 [pickers] Add Belarusian (be-BY) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/beBY.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7442 [core] Update package used to import LicenseInfo
  docs/data/introduction/licensing/licensing.md
  docs/pages/_app.js
  packages/grid/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  test/regressions/index.js
Labels: core

#7441 [docs] Fix wrong reference to currentView
  docs/data/date-pickers/validation/validation.md
Labels: bug 🐛, docs

#7458 [core] Move interfaces of UI views to dedicated files
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/DatePicker/shared.ts
  packages/x-date-pickers/src/DateTimePicker/shared.ts
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/MonthCalendar/index.ts
  packages/x-date-pickers/src/NextDatePicker/shared.tsx
  packages/x-date-pickers/src/NextDateTimePicker/shared.tsx
  packages/x-date-pickers/src/NextTimePicker/shared.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.types.ts
  packages/x-date-pickers/src/TimeClock/index.ts
  packages/x-date-pickers/src/TimePicker/shared.ts
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/YearCalendar/index.ts
  packages/x-date-pickers/src/internals/components/CalendarOrClockPicker/CalendarOrClockPicker.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: core, component: pickers

#7459 [core] Move default closeOnSelect to prop definition
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
Labels: core, component: pickers

#7444 [fields] Fix Android editing
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#7352 [test] Add a few inheritComponent
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describes.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
Labels: test, component: pickers

#7385 [DataGrid] Update `onColumnOrderChange` behavior to match `onRowsOrderChange`
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/events/useGridEvents.ts
  packages/grid/x-data-grid/src/models/api/gridColumnApi.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/params/gridColumnOrderChangeParams.ts
Labels: breaking change, component: data grid, feature: Reordering

#7345 [docs] Update the migration guide with the breaking changes between the legacy and the new pickers
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#7380 [pickers] Hide am/pm controls when their is no hour view
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
Labels: component: pickers

#7350 [core] Handle selection edge case
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
Labels: core, component: data grid

#7396 [DataGridPremium] Fix Excel export not working with date strings
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridParamsApi.ts
  packages/grid/x-data-grid/src/utils/utils.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Export

#7478 [DataGridPremium] Fix Excel export not working with date strings
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridParamsApi.ts
  packages/grid/x-data-grid/src/utils/utils.ts
Labels: bug 🐛, component: data grid, v5.x, plan: Premium, feature: Export, cherry-pick

#7378 [docs] New page for `DateRangeCalendar`
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-range-calendar/BasicDateRangeCalendar.js
  docs/data/date-pickers/date-range-calendar/BasicDateRangeCalendar.tsx
  docs/data/date-pickers/date-range-calendar/BasicDateRangeCalendar.tsx.preview
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.tsx
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.tsx.preview
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarProp.js
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarProp.tsx
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarCalendarProp.tsx.preview
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarFormProps.js
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarFormProps.tsx
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarFormProps.tsx.preview
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarValue.js
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarValue.tsx
  docs/data/date-pickers/date-range-calendar/DateRangeCalendarValue.tsx.preview
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-picker/CustomDateRangePickerDay.tsx.preview
  docs/data/date-pickers/date-range-picker/DateRangePickerCalendarProp.js
  docs/data/date-pickers/date-range-picker/DateRangePickerCalendarProp.tsx
  docs/data/date-pickers/date-range-picker/DateRangePickerCalendarProp.tsx.preview
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePicker.tsx.preview
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePickers.js
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePickers.tsx
  docs/data/date-pickers/date-range-picker/StaticDateRangePickerDemo.js
  docs/data/date-pickers/date-range-picker/StaticDateRangePickerDemo.tsx
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-range-field/time-range-field.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/react-date-pickers/date-range-calendar.js
  docs/src/modules/components/DemoContainer.tsx
Labels: docs, component: pickers

#6302 [DataGrid] Remove the `onCellFocusOut` prop
  docs/data/data-grid/events/events.json
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/events/useGridEvents.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, v6.x

#7503 [pickers] Hide the tabs by default on `DesktopNextDateTimePicker`
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopNextTimePicker/DesktopNextTimePicker.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.tsx
  packages/x-date-pickers/src/MobileNextTimePicker/MobileNextTimePicker.tsx
Labels: bug 🐛, component: pickers

#7466 [DataGrid] Remove Alt+C keyboard shortcut
  docs/data/data-grid/accessibility/accessibility.md
  packages/grid/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/x-data-grid/src/models/api/gridClipboardApi.ts
Labels: breaking change, component: data grid, v6.x

#7536 v6.0.0-alpha.15
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#7373 [DataGrid] Remove `disableExtendRowFullWidth` prop
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.js
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.js
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx.preview
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, v6.x

#7526 [DateRangeCalendar] Ignore `calendars` prop on mobile
  packages/x-date-pickers-pro/src/MobileNextDateRangePicker/MobileNextDateRangePicker.tsx
Labels: bug 🐛, component: pickers

#7538 v5.17.19
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7473 [DataGrid] Use v6 terminology
  docs/data/data-grid/export/CsvGetRowsToExport.js
  docs/data/data-grid/export/CsvGetRowsToExport.tsx
  docs/data/data-grid/export/export.md
  docs/data/data-grid/scrolling/ScrollPlayground.js
  docs/data/data-grid/scrolling/ScrollPlayground.tsx
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-filter-api.json
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/grid/x-data-grid-pro/src/models/gridRowScrollEndParams.ts
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/GridFooter.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPage.ts
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/grid/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/grid/x-data-grid/src/hooks/utils/useGridVisibleRows.ts
  packages/grid/x-data-grid/src/models/api/gridFilterApi.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, codemod candidate

#7477 [docs] Remove "Flex layout" docs section and demo
  docs/data/data-grid/layout/FlexLayoutGrid.js
  docs/data/data-grid/layout/FlexLayoutGrid.tsx
  docs/data/data-grid/layout/FlexLayoutGrid.tsx.preview
  docs/data/data-grid/layout/layout.md
Labels: docs, component: data grid

#7576 [pickers] Rename remaining `components` and `componentsSlots` references
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx.preview
  docs/data/date-pickers/custom-components/ActionBarComponentProps.js
  docs/data/date-pickers/custom-components/ActionBarComponentProps.tsx
  docs/data/date-pickers/custom-components/ActionBarComponentProps.tsx.preview
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponent.tsx
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.js
  docs/data/date-pickers/custom-components/ArrowSwitcherComponentProps.tsx
  docs/data/date-pickers/custom-components/Tabs.js
  docs/data/date-pickers/custom-components/Tabs.tsx
  docs/data/date-pickers/custom-components/Tabs.tsx.preview
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-layout/AddComponent.js
  docs/data/date-pickers/custom-layout/AddComponent.tsx
  docs/data/date-pickers/custom-layout/AddComponent.tsx.preview
  docs/data/date-pickers/custom-layout/LayoutBlocks.js
  docs/data/date-pickers/custom-layout/MovingActions.js
  docs/data/date-pickers/custom-layout/MovingActions.tsx
  docs/data/date-pickers/custom-layout/MovingActions.tsx.preview
  docs/data/date-pickers/date-calendar/CustomDay.js
  docs/data/date-pickers/date-calendar/CustomDay.tsx
  docs/data/date-pickers/date-calendar/CustomDay.tsx.preview
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.js
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.tsx
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.tsx.preview
  docs/data/date-pickers/date-picker/CustomInput.js
  docs/data/date-pickers/date-picker/CustomInput.tsx
  docs/data/date-pickers/date-picker/CustomInput.tsx.preview
  docs/data/date-pickers/date-picker/HelperText.js
  docs/data/date-pickers/date-picker/HelperText.tsx
  docs/data/date-pickers/date-picker/HelperText.tsx.preview
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.js
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.tsx
  docs/data/date-pickers/date-range-calendar/CustomDateRangePickerDay.tsx.preview
  docs/data/date-pickers/date-range-picker/CustomInputs.js
  docs/data/date-pickers/date-range-picker/CustomInputs.tsx
  docs/data/date-pickers/date-range-picker/CustomInputs.tsx.preview
  docs/data/date-pickers/validation/RenderErrorUnderField.js
  docs/data/date-pickers/validation/RenderErrorUnderField.tsx
  docs/data/date-pickers/validation/RenderErrorUnderField.tsx.preview
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.js
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.tsx
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.tsx.preview
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-date-pickers-pro/src/DesktopNextDateRangePicker/DesktopNextDateRangePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDatePicker/DesktopNextDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopNextDateTimePicker/DesktopNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDatePicker/MobileNextDatePicker.test.tsx
  packages/x-date-pickers/src/MobileNextDateTimePicker/MobileNextDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticNextDateTimePicker/StaticNextDateTimePicker.test.tsx
Labels: docs, component: pickers

#7578 [DataGrid] Remove `GridCellIdentifier` redundant type
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/hooks/features/focus/gridFocusState.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v6.x, codemod candidate

#7488 [pickers] Stop using the `WrapperVariantContext` in `DateRangeCalendar`
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: component: pickers

#7547 [l10n] Imporve Italian (it-IT) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/itIT.ts
Labels: l10n, component: pickers

#7577 [docs] List all pickers toolbar pages in api docs side menu
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/index.md
  docs/translations/api-docs/date-pickers/date-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar.json
  packages/x-date-pickers-pro/src/NextDateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/NextDatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/NextDateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/NextTimePicker/TimePickerToolbar.tsx
Labels: docs, component: pickers

#7582 [l10n] Imporve Italian (it-IT) locale (from @marikadeveloper)
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/itIT.ts
Labels: l10n, component: pickers, cherry-pick

#7586 [pickers] Add missing `slots` and `slotProps` on the date range view renderer
  packages/x-date-pickers-pro/src/dateRangeViewRenderers/dateRangeViewRenderers.tsx
Labels: bug 🐛, component: pickers

#7585 [l10n] Update Swedish (svSE) locale (from @MaanTyringe)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/svSE.ts
Labels: l10n, cherry-pick

#7463 [l10n] Update Swedish (svSE) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/svSE.ts
Labels: component: data grid, l10n

#7587 [pickers] Spread props to the DOM in `DateCalendar` and `TimeClock`
  docs/pages/x/api/date-pickers/time-clock.json
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describes.DateCalendar.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/dateViewRenderers/dateViewRenderers.tsx
  packages/x-date-pickers/src/tests/describeValidation/testDayViewValidation.tsx
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
Labels: component: pickers

#7584 [pickers] Ensure `key` is passed without object spreading
  packages/x-date-pickers/src/CalendarPicker/DayPicker.tsx
Labels: bug 🐛, component: pickers

#7484 [pickers] Go to the default view when opening a picker
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
Labels: component: pickers

#7519 [field] Publish value when cleaning the last section of a date
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers

#7508 [codemod] Remove `disableExtendRowFullWidth` prop
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/removeProps.ts
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/remove-disableExtendRowFullWidth-prop/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-disableExtendRowFullWidth-prop/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-disableExtendRowFullWidth-prop/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/remove-disableExtendRowFullWidth-prop/remove-disableExtendRowFulWidth-prop.test.ts
Labels: component: data grid, v6.x, package: codemod

#7602 [DateRangePicker] Propagate `rangePosition` to view
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.tsx
Labels: regression, component: pickers, component: DateRangePicker

#7549 [DataGrid] Fix flickering on grid scroll
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Rendering layout

#7609 [DataGrid] Fix flickering on grid scroll
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, plan: Pro, v5.x, feature: Rendering layout, cherry-pick

#7611 [core] Fix typo in `CHANGELOG`
  CHANGELOG.md
Labels: core

#7617 [core] Add release documentation step detailing `x-codemod` package tag change
  scripts/README.md
Labels: core

#7140 [docs] Rework the pickers Getting Started page
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/base-concepts/BasicDateCalendar.js
  docs/data/date-pickers/base-concepts/BasicDateCalendar.tsx
  docs/data/date-pickers/base-concepts/BasicDateCalendar.tsx.preview
  docs/data/date-pickers/base-concepts/BasicDateField.js
  docs/data/date-pickers/base-concepts/BasicDateField.tsx
  docs/data/date-pickers/base-concepts/BasicDateField.tsx.preview
  docs/data/date-pickers/base-concepts/BasicDatePicker.js
  docs/data/date-pickers/base-concepts/BasicDatePicker.tsx
  docs/data/date-pickers/base-concepts/BasicDatePicker.tsx.preview
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/data/date-pickers/base-concepts/ComponentFamilies.js
  docs/data/date-pickers/base-concepts/ComponentFamilies.tsx
  docs/data/date-pickers/base-concepts/ControlledComponent.js
  docs/data/date-pickers/base-concepts/ControlledComponent.tsx
  docs/data/date-pickers/base-concepts/ControlledComponent.tsx.preview
  docs/data/date-pickers/base-concepts/ResponsivePickers.js
  docs/data/date-pickers/base-concepts/ResponsivePickers.tsx
  docs/data/date-pickers/base-concepts/ResponsivePickers.tsx.preview
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/getting-started/FirstComponent.js
  docs/data/date-pickers/getting-started/FirstComponent.tsx
  docs/data/date-pickers/getting-started/FirstComponent.tsx.preview
  docs/data/date-pickers/getting-started/MaterialUIPickers.js
  docs/data/date-pickers/getting-started/MaterialUIPickers.tsx
  docs/data/date-pickers/getting-started/NativePickers.js
  docs/data/date-pickers/getting-started/NativePickers.tsx
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/overview/CommonlyUsedComponents.js
  docs/data/date-pickers/overview/CommonlyUsedComponents.tsx
  docs/data/date-pickers/overview/overview.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/pages.ts
  docs/pages/x/react-date-pickers/base-concepts.js
  docs/pages/x/react-date-pickers/index.js
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/PickersRenderingInstructions.js
  packages/x-date-pickers/src/internals/demo/DemoContainer.tsx
Labels: docs, component: pickers

#7618 [fields] Fix upper boundary on 12-hours sections
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#7600 [pickers] Make sure the `className` and `sx` props are applied to the field / static root of the picker and never to the view
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePickers.js
  docs/data/date-pickers/date-range-picker/ResponsiveDateRangePickers.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.types.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.types.ts
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.types.ts
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
Labels: bug 🐛, component: pickers

#7625 v5.17.20
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#7594 [DataGrid] Only support `Date` as value in `date` and `dateTime` column types
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.js
  docs/data/data-grid/recipes-editing/EditingWithDatePickers.tsx
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/colDef/gridDateColDef.ts
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
Labels: breaking change, component: data grid, v6.x

#7626 v6.0.0-beta.0
  CHANGELOG.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#7627 [l10n] Improve Japanese (ja-JP) locale (from @makoto14)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/jaJP.ts
Labels: l10n, cherry-pick

#7624 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/jaJP.ts
Labels: l10n

#7533 [codemod] Add codemod for `components` to `slots` remaining
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/actual-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/expected-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/index.ts
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/rename-components-to-slots.test.ts
Labels: package: codemod

#7610 [pickers] Support `UTC` with `dayjs`
  docs/data/date-pickers/adapters-locale/UTCDayjs.js
  docs/data/date-pickers/adapters-locale/UTCDayjs.tsx
  docs/data/date-pickers/adapters-locale/UTCDayjs.tsx.preview
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/field-customization/HeadlessBrowserDateField.js
  docs/data/date-pickers/field-customization/HeadlessBrowserDateField.tsx.preview
  docs/data/date-pickers/field-customization/JoyHeadlessDateField.js
  docs/data/date-pickers/field-customization/JoyHeadlessDateField.tsx.preview
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterDayjs/localization.test.tsx
  test/utils/pickers-utils.tsx
Labels: component: pickers

#7614 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
  packages/x-date-pickers/src/locales/esES.ts
Labels: l10n

#7601 [l10n] Improve Vietnamese (vi-VN) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/viVN.ts
Labels: component: data grid, l10n, needs cherry-pick

#7485 [codemod] Rename data grid props
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/row-selection-props-rename.test.ts
Labels: component: data grid, v6.x, package: codemod

#7645 [l10n] Add Czech (cs-CZ) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#7620 [pickers] Update focus when opening a UI view
  packages/x-date-pickers/src/DateCalendar/tests/keyboard.DateCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
Labels: regression, component: pickers

#7646 [l10n] Add Belarusian (be-BY) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, l10n

#7642 [DataGrid] Fix grid state not being updated after print preview is closed
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: bug 🐛, component: data grid, feature: Export

#7666 [l10n] Add Czech (cs-CZ) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
  yarn.lock
Labels: l10n, component: pickers, cherry-pick

#7697 [core] Fix `innerslotProps` typo
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: core, component: pickers

#7698 [codemod] Basics migration to components props
  CHANGELOG.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/removeProps.ts
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/index.ts
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/migrate-to-components-componentsProps.test.ts
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/index.ts
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/replace-tabs-props.test.ts
Labels: package: codemod

#7687 [codemod] Update pickers component toolbar props
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/pickers/replace-toolbar-props-by-slot/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-toolbar-props-by-slot/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-toolbar-props-by-slot/index.ts
  packages/x-codemod/src/v6.0.0/pickers/replace-toolbar-props-by-slot/replace-toolbar-props-by-slot.test.ts
Labels: component: pickers, package: codemod

#7680 [DataGrid] Fix grid state not being updated after print preview is closed
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: bug 🐛, component: data grid, v5.x, feature: Export, cherry-pick

#7708 [l10n] Add Russian (ru-RU) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ruRU.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers, cherry-pick

#7699 [codemod] Rename data grid selectors and events
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/index.ts
  packages/x-codemod/src/v6.0.0/data-grid/rename-selectors-and-events/rename-selectors-and-events.test.ts
Labels: component: data grid, v6.x, package: codemod

#7608 [pickers] Fix `aria-labelledby` assignment to dialog
  docs/data/date-pickers/base-concepts/base-concepts.md
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.types.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.types.ts
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.types.ts
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.types.ts
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/index.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/tests/describeValue/testControlledUnControlled.tsx
Labels: accessibility, component: pickers

#7676 [core] Upgrade monorepo
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/date-pickers/date-field.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/pickers-action-bar.json
  docs/translations/api-docs/date-pickers/pickers-shortcuts.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/time-field.json
  yarn.lock
Labels: core

#7637 [DataGrid] Fix non-hideable columns visibility toggling
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#7711 [codemod] Add `headerHeight` prop update to `row-selection-props-rename` codemod
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/expected.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/row-selection-props-rename/index.ts
Labels: component: data grid, v6.x, package: codemod

#7717 [l10n] Add missing core locales for `MuiTablePagination`
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/coreLocales.ts
Labels: component: data grid, l10n

#7712 [docs] Add recipe for pinning grouped column
  docs/data/data-grid/recipes-row-grouping/RowGroupingPinning.js
  docs/data/data-grid/recipes-row-grouping/RowGroupingPinning.tsx
  docs/data/data-grid/recipes-row-grouping/RowGroupingPinning.tsx.preview
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
Labels: docs, component: data grid, feature: Column grouping, feature: Column pinning

#7718 [l10n] Add Belarusian (be-BY) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, v5.x, l10n, cherry-pick

#7701 [DataGrid] Fix `autoHeight` not working properly inside of a flex container
  packages/grid/x-data-grid/src/components/GridAutoSizer.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Rendering layout

#7298 [DataGrid] Fix scrolling on resize for data grids inside shadow root
  packages/grid/x-data-grid/src/lib/createDetectElementResize/index.js
Labels: bug 🐛, component: data grid

#7722 [DataGrid] Fix scrolling on resize for data grids inside shadow root
  packages/grid/x-data-grid/src/lib/createDetectElementResize/index.js
Labels: bug 🐛, component: data grid, v5.x, cherry-pick

#7714 [docs] Add info callout about available component `slots`
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs

#7719 [l10n] Add missing core locales for `MuiTablePagination`
  packages/grid/x-data-grid/src/locales/beBY.ts
  packages/grid/x-data-grid/src/locales/coreLocales.ts
Labels: component: data grid, l10n, cherry-pick

#7723 [docs] Add info callout about available component `slots`
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs, cherry-pick

#7726 v5.17.21
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: v5.x, release

#7727 v6.0.0-beta.1
  CHANGELOG.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/README.md
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release, v6.x

#6866 [DataGrid] Add Urdu (ur-PK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/index.ts
  packages/grid/x-data-grid/src/locales/urPK.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, l10n

#7732 [TimePicker] Add missing `themeAugmentation` entry
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: bug 🐛, typescript, component: pickers, component: TimePicker

#7113 [docs] Fix a typo in data grid layout page
  docs/data/data-grid/layout/layout.md
Labels: docs, component: data grid

#7754 [core] Fix Next.js warning
  docs/next.config.js
Labels: bug 🐛, core

#7735 [core] Bump `loader-utils`
  yarn.lock
Labels: core

#7736 [codemod] Add pickers `rename-inputFormat-prop` codemod
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/pickers/rename-inputFormat-prop/actual-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-inputFormat-prop/expected-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-inputFormat-prop/index.ts
  packages/x-codemod/src/v6.0.0/pickers/rename-inputFormat-prop/rename-inputFormat-prop.test.ts
Labels: v6.x, component: pickers, package: codemod

#7729 [docs] Rename `next` translation docs and remove duplicates with `-next`
  docs/translations/api-docs/date-pickers/date-picker-pt.json
  docs/translations/api-docs/date-pickers/date-picker-zh.json
  docs/translations/api-docs/date-pickers/date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/desktop-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-next-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker-pt.json
  docs/translations/api-docs/date-pickers/desktop-time-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/mobile-next-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-next-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker-pt.json
  docs/translations/api-docs/date-pickers/mobile-time-picker-zh.json
  docs/translations/api-docs/date-pickers/next-date-picker.json
  docs/translations/api-docs/date-pickers/next-date-range-picker.json
  docs/translations/api-docs/date-pickers/next-date-time-picker.json
  docs/translations/api-docs/date-pickers/next-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-range-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-range-picker-zh.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-date-time-picker-zh.json
  docs/translations/api-docs/date-pickers/static-next-date-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-next-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-next-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker-pt.json
  docs/translations/api-docs/date-pickers/static-time-picker-zh.json
  docs/translations/api-docs/date-pickers/time-picker-pt.json
  docs/translations/api-docs/date-pickers/time-picker-zh.json
Labels: docs

#7758 [core] Remove unused demos
  docs/data/date-pickers/field-customization/HeadlessBrowserDateField.js
  docs/data/date-pickers/field-customization/HeadlessBrowserDateField.tsx.preview
  docs/data/date-pickers/field-customization/JoyHeadlessDateField.js
  docs/data/date-pickers/field-customization/JoyHeadlessDateField.tsx.preview
Labels: core

#7737 [docs] Polish pickers migration docs
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/src/codemod.ts
  packages/x-codemod/src/util/addComponentsSlots.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/actual-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/expected-props.spec.js
Labels: docs, component: pickers

#7641 [DataGrid] Merge row styles with `componentsProps.row.style`
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, plan: Pro, customization: css, feature: Master-detail, CLA: signed

#7765 Cherry pick 7761 (from @simonecervini)
  packages/x-date-pickers/src/locales/itIT.ts
Labels: l10n, component: pickers, cherry-pick

#7752 [codemod] Add pickers `rename-default-toolbar-title-localeText` codemod
  CHANGELOG.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/README.md
  packages/x-codemod/src/util/renameNestedProps.ts
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v6.0.0/pickers/rename-default-toolbar-title-localeText/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-default-toolbar-title-localeText/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-default-toolbar-title-localeText/index.ts
  packages/x-codemod/src/v6.0.0/pickers/rename-default-toolbar-title-localeText/rename-default-toolbar-title-localeText.test.ts
Labels: v6.x, component: pickers, package: codemod
