Repository mui/mui-x, pull requests merged in 2023-11, with the labels that each got.

#10670 [DataGrid] Fix undefined row id
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#10644 [pickers] Add reference links to calendar components
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/validation/validation.md
  docs/pages/x/api/date-pickers/date-calendar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
Labels: docs, component: pickers

#10843 [docs] Add recipe showing how to remove cell focus outline
  docs/data/data-grid/style-recipes/CellFocusNoOutline.js
  docs/data/data-grid/style-recipes/CellFocusNoOutline.tsx
  docs/data/data-grid/style-recipes/CellFocusNoOutline.tsx.preview
  docs/data/data-grid/style-recipes/style-recipes.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/style-recipes.js
Labels: docs, component: data grid, recipe

#10803 [charts] Allows to connect nulls
  docs/data/charts/areas-demo/AreaChartConnectNulls.js
  docs/data/charts/areas-demo/AreaChartConnectNulls.tsx
  docs/data/charts/areas-demo/AreaChartConnectNulls.tsx.preview
  docs/data/charts/areas-demo/areas-demo.md
  docs/data/charts/line-demo/LineChartConnectNulls.js
  docs/data/charts/line-demo/LineChartConnectNulls.tsx
  docs/data/charts/line-demo/LineChartConnectNulls.tsx.preview
  docs/data/charts/line-demo/line-demo.md
  docs/data/charts/lines/ConnectNulls.js
  docs/data/charts/lines/ConnectNulls.tsx
  docs/data/charts/lines/DifferentLength.js
  docs/data/charts/lines/DifferentLength.tsx
  docs/data/charts/lines/lines.md
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/models/seriesType/line.ts
Labels: enhancement, component: charts

#10569 [DataGrid] Allow to ignore diacritics when filtering
  docs/data/data-grid/filtering/QuickFilteringDiacritics.js
  docs/data/data-grid/filtering/QuickFilteringDiacritics.preview
  docs/data/data-grid/filtering/QuickFilteringDiacritics.tsx
  docs/data/data-grid/filtering/header-filters.md
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/filtering/quick-filter.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/models/gridApiPremium.ts
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/x-data-grid-pro/src/models/gridApiPro.ts
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/colDef/gridStringOperators.ts
  packages/grid/x-data-grid/src/hooks/core/useGridInitialization.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommon.ts
  packages/grid/x-data-grid/src/models/api/gridApiCommunity.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
  test/regressions/index.test.js
Labels: component: data grid, feature: Filtering, customization: extend

#10879 [core] Generate `slot` API descriptions based on `slots` or `components`
  docs/pages/x/api/charts/area-element.json
  docs/pages/x/api/charts/area-plot.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-element.json
  docs/pages/x/api/charts/line-highlight-plot.json
  docs/pages/x/api/charts/line-plot.json
  docs/pages/x/api/charts/mark-plot.json
  docs/pages/x/api/charts/pie-plot.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-plot.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/charts/area-element.json
  docs/translations/api-docs/charts/area-plot.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/bar-plot.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-tooltip.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/line-element.json
  docs/translations/api-docs/charts/line-highlight-plot.json
  docs/translations/api-docs/charts/line-plot.json
  docs/translations/api-docs/charts/mark-plot.json
  docs/translations/api-docs/charts/pie-plot.json
  docs/translations/api-docs/charts/scatter-chart.json
  docs/translations/api-docs/charts/scatter-plot.json
  docs/translations/api-docs/charts/spark-line-chart.json
  docs/translations/api-docs/date-pickers/pickers-calendar-header.json
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.types.ts
  packages/x-date-pickers/src/PickersCalendarHeader/index.ts
Labels: docs, core, component: pickers, dx, component: charts

#10786 [DataGrid] Fix a typo in `gridFilterApi.ts`
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-filter-api.json
  packages/grid/x-data-grid/src/models/api/gridFilterApi.ts
Labels: docs, component: data grid

#10721 [core] Bump @mui/monorepo
  docs/.link-check-errors.txt
  yarn.lock
Labels: core, scope: docs-infra

#10886 [docs] Add demo about how to use charts margin
  docs/data/charts/styling/MarginNoSnap.js
  docs/data/charts/styling/styling.md
Labels: docs, component: charts

#10883 v6.18.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/releaseChangelog.mjs
Labels: release

#10888 [docs] Fix charts docs as stable
  docs/data/charts/overview/overview.md
  docs/data/pages.ts
Labels: docs, component: charts

#10889 [pickers] Always use up-to-date `defaultView`
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
Labels: bug 🐛, component: pickers

#10915 [fields] fix multi input date time field section selection
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
Labels: bug 🐛, component: pickers

#10884 [DataGrid] Fix cell value type in quick filtering v7
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-filter-api.json
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid/src/colDef/gridStringOperators.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridFilterApi.ts
  packages/grid/x-data-grid/src/utils/getPublicApiRef.ts
Labels: component: data grid, regression, feature: Filtering

#10543 [DataGridPro] Add data source interface and basic documentation
  docs/data/data-grid/server-side-data/aggregation.md
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/infinite-loading.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/server-side-data/aggregation.js
  docs/pages/x/react-data-grid/server-side-data/index.js
  docs/pages/x/react-data-grid/server-side-data/infinite-loading.js
  docs/pages/x/react-data-grid/server-side-data/lazy-loading.js
  docs/pages/x/react-data-grid/server-side-data/row-grouping.js
  docs/pages/x/react-data-grid/server-side-data/tree-data.js
  packages/grid/x-data-grid-pro/src/models/dataSource.ts
Labels: component: data grid, new feature, typescript, feature: Server integration

#10924 [license] Correctly throw errors
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
Labels: bug 🐛, package: x-license-pro

#10846 [DataGrid] Print selected rows by default
  docs/data/data-grid/export/PrintExportSelectedRows.js
  docs/data/data-grid/export/PrintExportSelectedRows.tsx
  docs/data/data-grid/export/PrintExportSelectedRows.tsx.preview
  docs/data/data-grid/export/export.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/pages.ts
  docs/pages/x/migration/migration-data-grid-v6.js
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: breaking change, component: data grid, feature: Export, v7.x

#10929 [core] Merge `master` into `next`
  docs/data/data-grid/server-side-data/aggregation.md
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/infinite-loading.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/server-side-data/aggregation.js
  docs/pages/x/react-data-grid/server-side-data/index.js
  docs/pages/x/react-data-grid/server-side-data/infinite-loading.js
  docs/pages/x/react-data-grid/server-side-data/lazy-loading.js
  docs/pages/x/react-data-grid/server-side-data/row-grouping.js
  docs/pages/x/react-data-grid/server-side-data/tree-data.js
  packages/grid/x-data-grid-pro/src/models/dataSource.ts
Labels: core

#10916 [data grid] Adds a recipe for using non-native select in filter panel
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.js
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.tsx
  docs/data/data-grid/filtering-recipes/UseNonNativeSelect.tsx.preview
  docs/data/data-grid/filtering-recipes/filtering-recipes.md
Labels: component: data grid, recipe

#10666 [DataGridPro] Autosize Columns - Headers being cut off
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
Labels: component: data grid

#10807 [DataGrid] Fix for error thrown when removing skeleton rows, after sorting is applied
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: component: data grid

#10934 [DataGrid] Fix undefined slot values
  packages/grid/x-data-grid/src/internals/utils/computeSlots.ts
Labels: bug 🐛, component: data grid

#10882 [data grid] Fix keyboard navigation for actions cell with disabled buttons
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#10944 [core] Adds new alpha version to version select on the docs
  docs/pages/_app.js
Labels: docs, core

#10597 [charts] Add <ChartsReferenceLine /> component
  docs/data/charts-component-api-pages.ts
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/ReferenceLine.js
  docs/data/charts/axis/ReferenceLine.tsx
  docs/data/charts/axis/ReferenceLine.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/line-demo/LineChartWithReferenceLines.js
  docs/data/charts/line-demo/LineChartWithReferenceLines.tsx
  docs/data/charts/line-demo/line-demo.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-reference-line.js
  docs/pages/x/api/charts/charts-reference-line.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/charts-reference-line.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/chartsLegendClasses.ts
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsXReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsYReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/chartsReferenceLineClasses.ts
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsReferenceLine/index.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/isBandScale.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: component: charts

#10947 [DataGrid] Fix keyboard navigation for actions cell with disabled buttons
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, cherry-pick

#10926 [core] Adds migration docs for charts, pickers and tree view
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/pages.ts
  docs/pages/_app.js
  docs/pages/x/migration/migration-charts-v6.js
  docs/pages/x/migration/migration-pickers-v6.js
  docs/pages/x/migration/migration-tree-view-v6.js
Labels: docs, core, scope: docs-infra

#10949 [l10n] Improve Czech (cs-CZ) locale
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: component: data grid, l10n

#10946 [charts] Add <ChartsReferenceLine /> component (#10597)
  docs/data/charts-component-api-pages.ts
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/ReferenceLine.js
  docs/data/charts/axis/ReferenceLine.tsx
  docs/data/charts/axis/ReferenceLine.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/line-demo/LineChartWithReferenceLines.js
  docs/data/charts/line-demo/LineChartWithReferenceLines.tsx
  docs/data/charts/line-demo/line-demo.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-reference-line.js
  docs/pages/x/api/charts/charts-reference-line.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/charts-reference-line.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/chartsLegendClasses.ts
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsXReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsYReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/chartsReferenceLineClasses.ts
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsReferenceLine/index.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/isBandScale.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#10911 [DataGrid] Remove deprecated `components` and `componentsProps`
  docs/data/data-grid/components/components.md
  docs/data/data-grid/export/ExcelExportWithWebWorker.js
  docs/data/data-grid/export/ExcelExportWithWebWorker.tsx
  docs/data/data-grid/export/ExcelExportWithWebWorker.tsx.preview
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.js
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.tsx
  docs/data/data-grid/filtering/DisableActionButtonsDataGridPro.tsx.preview
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/scripts/api/buildComponentsDocumentation.ts
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/constants/dataGridPremiumDefaultSlotsComponents.ts
  packages/grid/x-data-grid-premium/src/material/index.ts
  packages/grid/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/models/gridPremiumIconSlotsComponent.ts
  packages/grid/x-data-grid-premium/src/models/gridPremiumSlotsComponent.ts
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/grid/x-data-grid-pro/src/constants/dataGridProDefaultSlotsComponents.ts
  packages/grid/x-data-grid-pro/src/material/index.ts
  packages/grid/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/grid/x-data-grid-pro/src/models/gridProIconSlotsComponent.ts
  packages/grid/x-data-grid-pro/src/models/gridProSlotsComponent.ts
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/components.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/internals/utils/computeSlots.ts
  packages/grid/x-data-grid/src/internals/utils/index.ts
  packages/grid/x-data-grid/src/internals/utils/slotsMigration.ts
  packages/grid/x-data-grid/src/internals/utils/useProps.ts
  packages/grid/x-data-grid/src/joy/icons.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
  packages/grid/x-data-grid/src/material/index.ts
  packages/grid/x-data-grid/src/models/gridIconSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/index.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/export.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/slots.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/e2e/fixtures/DataGrid/NoRowsOverlayWithButton.tsx
Labels: breaking change, component: data grid, v7.x

#10951 [docs] Document how to hide the legend
  docs/data/charts/legend/HiddenLegend.js
  docs/data/charts/legend/HiddenLegend.tsx
  docs/data/charts/legend/HiddenLegend.tsx.preview
  docs/data/charts/legend/legend.md
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
Labels: docs, component: charts

#10931 [charts] Improve properties JSDoc
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/cartesian-context-provider.json
  docs/pages/x/api/charts/drawing-provider.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/cartesian-context-provider.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  docs/translations/api-docs/charts/drawing-provider.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsSurface.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/HighlightProvider.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/internals/components/ChartsText.tsx
  packages/x-charts/src/internals/geometry.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/layout.ts
  packages/x-charts/src/models/seriesType/common.ts
  scripts/x-charts.exports.json
Labels: docs, component: charts

#10953 [core] Fixed wrong package names in migration docs
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs, core

#10955 [charts] Improve properties JSDoc (#10931)
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/cartesian-context-provider.json
  docs/pages/x/api/charts/drawing-provider.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/cartesian-context-provider.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  docs/translations/api-docs/charts/drawing-provider.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsSurface.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/HighlightProvider.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/internals/components/ChartsText.tsx
  packages/x-charts/src/internals/geometry.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/layout.ts
  packages/x-charts/src/models/seriesType/common.ts
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#10875 [charts] Rename `slots` and `slotProps` types
  docs/data/charts-component-api-pages.ts
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/pages/x/api/charts/charts-legend.js
  docs/pages/x/api/charts/charts-legend.json
  docs/translations/api-docs/charts/charts-legend.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: breaking change, typescript, v7.x, component: charts

#10959 [core] Bump monorepo
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  yarn.lock
Labels: core

#10954 [docs] Document how to hide the legend (#10951)
  docs/data/charts/legend/HiddenLegend.js
  docs/data/charts/legend/HiddenLegend.tsx
  docs/data/charts/legend/HiddenLegend.tsx.preview
  docs/data/charts/legend/legend.md
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
Labels: cherry-pick, component: charts

#10937 [DataGrid] Fix: undefined slot value
  packages/grid/x-data-grid/src/internals/utils/computeSlots.ts
Labels: component: data grid

#10936 [DataGridPremium] Render aggregation label when `renderHeader` is used
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  test/regressions/index.test.js
Labels: bug 🐛, component: data grid, feature: Aggregation

#10961 [DataGridPremium] Render aggregation label when `renderHeader` is used
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  test/regressions/index.test.js
Labels: bug 🐛, component: data grid, feature: Aggregation, cherry-pick

#10897 [DataGrid] Remove legacy filtering API
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
  docs/data/data-grid/filtering/CustomMultiValueOperator.js
  docs/data/data-grid/filtering/CustomMultiValueOperator.tsx
  docs/data/data-grid/filtering/CustomRatingOperator.js
  docs/data/data-grid/filtering/CustomRatingOperator.tsx
  docs/data/data-grid/filtering/CustomSelectionOperator.js
  docs/data/data-grid/filtering/CustomSelectionOperator.tsx
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.js
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.tsx
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.js
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.tsx
  docs/data/data-grid/filtering/customization.md
  docs/data/data-grid/filtering/quick-filter.md
  docs/data/data-grid/performance/performance.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid/src/colDef/gridActionsColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridBooleanColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridBooleanOperators.ts
  packages/grid/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/colDef/gridNumericColDef.ts
  packages/grid/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/grid/x-data-grid/src/colDef/gridSingleSelectOperators.ts
  packages/grid/x-data-grid/src/colDef/gridStringColDef.ts
  packages/grid/x-data-grid/src/colDef/gridStringOperators.ts
  packages/grid/x-data-grid/src/colDef/utils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/colDef/index.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, feature: Filtering, v7.x

#10962 [core] Update release instructions as per v7 configuration
  scripts/README.md
Labels: core, v7.x

#10960 [release] v6.18.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10963 [docs] Add `@next` tag to the installation instructions
  docs/data/charts/overview/overview.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
Labels: docs, v7.x

#10968 [l10n] Improve Czech (cs-CZ) locale
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: component: data grid, cherry-pick

#10863 [pickers] Refine `referenceDate` behavior in views
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/DigitalClock/tests/DigitalClock.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describes.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.types.ts
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.utils.ts
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
  test/utils/pickers/misc.ts
  test/utils/pickers/viewHandlers.ts
Labels: component: pickers, enhancement

#10973 [codemod] Add `v7.0.0/preset-safe`
  packages/x-codemod/src/v7.0.0/data-grid/preset-safe/actual.spec.js
  packages/x-codemod/src/v7.0.0/data-grid/preset-safe/expected.spec.js
  packages/x-codemod/src/v7.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/data-grid/preset-safe/preset-safe.test.ts
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/preset-safe.test.ts
  packages/x-codemod/src/v7.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v7.0.0/preset-safe/expected.spec.js
  packages/x-codemod/src/v7.0.0/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/preset-safe/preset-safe.test.ts
Labels: package: codemod, v7.x

#10972 [docs] Fix typo in the migration guide
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs

#10819 [l10n] Add Basque (eu) locale and improve Spanish (es-ES) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/eu.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/l10n.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#10988 [pickers] Add short weekdays token
  test/utils/pickers/describeGregorianAdapter/testLocalization.ts
Labels: component: pickers

#10985 [l10n] Add Basque (eu) locale and improve Spanish (es-ES) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/eu.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/l10n.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers, cherry-pick

#10966 [release] v7.0.0-alpha.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release, v7.x

#10996 [core] Fix to release `next`
  package.json
Labels: core

#10994 [pickers] Remove the `hasLeadingZeros` property from `FieldSection`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/internals/hooks/useField/useField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/models/fields.ts
Labels: breaking change, component: pickers, v7.x

#10976 [pickers] Modify `adapter.isEqual` method to accept `TDate | null` instead of any
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/models/adapters.ts
Labels: breaking change, component: pickers

#10971 [pickers] Modify `adapter.isValid` method to accept `TDate | null` instead of `any`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/models/adapters.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: breaking change, component: pickers

#11004 [test] Wait for images to load
  test/regressions/index.test.js
Labels: test

#10978 [pickers] Change the input format of `adapter.getYearRange` to be consistent with `adapter.isWithinRange`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/models/adapters.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
  test/utils/pickers/describeHijriAdapter/testCalculations.ts
  test/utils/pickers/describeJalaliAdapter/testCalculations.ts
Labels: breaking change, component: pickers, v7.x

#10990 [DateCalendar] Allow to override the format of the header with a prop
  docs/data/date-pickers/adapters-locale/CustomCalendarHeaderFormat.js
  docs/data/date-pickers/adapters-locale/CustomCalendarHeaderFormat.tsx
  docs/data/date-pickers/adapters-locale/CustomCalendarHeaderFormat.tsx.preview
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/pickers-calendar-header.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
Labels: component: pickers

#11021 [core] Clean the component slots doc generation
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: core

#11023 [pickers] Remove the legacy UTC implementation for `dayjs`
  docs/data/date-pickers/adapters-locale/UTCDayjs.js
  docs/data/date-pickers/adapters-locale/UTCDayjs.tsx
  docs/data/date-pickers/adapters-locale/UTCDayjs.tsx.preview
  docs/data/date-pickers/adapters-locale/UTCMoment.js
  docs/data/date-pickers/adapters-locale/UTCMoment.tsx
  docs/data/date-pickers/adapters-locale/UTCMoment.tsx.preview
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
Labels: breaking change, component: pickers, v7.x

#11024 [docs] Fix incorrect component name in the "Custom slots and subcomponents" page
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs

#11020 [pickers] v7: Move the exports of the `calendarHeader` slot to `@mui/x-date-pickers/PickersCalendarHeader`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: breaking change, component: pickers, v7.x

#10998 [charts] Remove outdated prop-types
  docs/data/charts-component-api-pages.ts
  docs/pages/x/api/charts/pie-arc-label.js
  docs/pages/x/api/charts/pie-arc-label.json
  docs/pages/x/api/charts/pie-arc.js
  docs/pages/x/api/charts/pie-arc.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/charts/pie-arc-label.json
  docs/translations/api-docs/charts/pie-arc.json
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/index.tsx
  scripts/x-charts.exports.json
Labels: component: charts

#11040 [pickers] Clean remaining `components` / `componentsProps` typings
  docs/scripts/generateProptypes.ts
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/dateTimeViewRenderers.tsx
Labels: typescript, component: pickers

#11048 [pickers] Remove unused code
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/utils/getDefaultReferenceDate.ts
Labels: component: pickers

#10992 [DateCalendar] Remove the string argument of the `dayOfWeekFormatter` prop
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.js
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.tsx
  docs/data/date-pickers/adapters-locale/CustomDayOfWeekFormat.tsx.preview
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: breaking change, component: pickers, v7.x

#11057 [docs] Fix typos in pickers migration guide
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs

#11065 [core] Upgrade babel-plugin-module-resolver to 5.0.0
  docs/package.json
  package.json
  yarn.lock
Labels: core, dependencies

#11051 [docs] Clean the codemod README
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-codemod/README.md
Labels: docs, package: codemod

#11001 [docs] Fix version links
  docs/pages/_app.js
Labels: docs, core

#10336 [renovate] Monthly schedule for lockfile maintenance
  renovate.json
Labels: core

#11101 [pickers] Fix `DateCalendar` crashing when given an invalid value
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
Labels: bug 🐛, component: pickers

#11109 [test] Wait for images to load
  test/regressions/index.test.js
Labels: test, cherry-pick

#11098 [core] Fix comment in doc generation
  docs/scripts/api/buildComponentsDocumentation.ts
Labels: core

#11110 [test] Skip flaky e2e test in webkit
  test/e2e/index.test.ts
Labels: test

#11115 [test] Skip flaky e2e test in webkit
  test/e2e/index.test.ts
Labels: test, cherry-pick

#10927 Add LTS section to support docs
  docs/data/introduction/support/support.md
Labels: docs

#11042 [pickers] Remove the `shouldDisableClock` prop
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/digital-clock.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-section-digital-clock.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-clock.json
  docs/translations/api-docs/date-pickers/time-field.json
  docs/translations/api-docs/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/dateTimeViewRenderers.tsx
  packages/x-date-pickers/src/internals/models/validation.ts
  packages/x-date-pickers/src/internals/utils/validation/extractValidationProps.ts
  packages/x-date-pickers/src/internals/utils/validation/validateTime.ts
  packages/x-date-pickers/src/models/validation.ts
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
  test/utils/pickers/describeValidation/testTextFieldValidation.tsx
Labels: breaking change, component: pickers, v7.x

#11138 [pickers] Deprecate `defaultCalendarMonth` prop
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: component: pickers

#10987 [pickers] Remove the `defaultCalendarMonth` prop
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/dateRangeViewRenderers/dateRangeViewRenderers.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/dateTimeViewRenderers.tsx
  packages/x-date-pickers/src/dateViewRenderers/dateViewRenderers.tsx
  test/utils/pickers/describeRangeValidation/testDayViewRangeValidation.tsx
Labels: breaking change, component: pickers, v7.x

#11139 [codemod] Add codemod to use `referenceDate` instead of `defaultCalendarMonth`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/pickers/rename-default-calendar-month-to-reference-date/actual.spec.js
  packages/x-codemod/src/v7.0.0/pickers/rename-default-calendar-month-to-reference-date/expected.spec.js
  packages/x-codemod/src/v7.0.0/pickers/rename-default-calendar-month-to-reference-date/index.ts
  packages/x-codemod/src/v7.0.0/pickers/rename-default-calendar-month-to-reference-date/rename-default-calendar-month-to-reference-date.test.ts
Labels: component: pickers, package: codemod

#11134 [docs] Point to the source of @mui/x-data-grid-generator
  packages/grid/x-data-grid-generator/README.md
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: docs, component: data grid

#11056 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n

#11114 [l10n] Improve Arabic (ar-SD) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/arSD.ts
Labels: cherry-pick

#11149 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n

#10935 [l10n] Add Macedonian (mk) locale
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid-generator/src/services/static-data.ts
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/mk.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#11155 [l10n] Add Macedonian (mk) locale
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid-generator/src/services/static-data.ts
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/mk.ts
  scripts/localeNames.js
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#11152 [charts] Fix `ChartsTooltip` component setup
  docs/pages/x/api/charts/charts-tooltip.json
  docs/translations/api-docs/charts/charts-tooltip.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.tsx
  packages/x-charts/src/ChartsTooltip/chartsTooltipClasses.ts
  packages/x-charts/src/ChartsTooltip/index.tsx
  packages/x-charts/src/ChartsTooltip/tooltipClasses.ts
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-charts.exports.json
Labels: bug 🐛, component: charts

#11157 [charts] Fix `ChartsTooltip` component setup
  docs/pages/x/api/charts/charts-tooltip.json
  docs/translations/api-docs/charts/charts-tooltip.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.tsx
  packages/x-charts/src/ChartsTooltip/chartsTooltipClasses.ts
  packages/x-charts/src/ChartsTooltip/index.tsx
  packages/x-charts/src/ChartsTooltip/tooltipClasses.ts
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#11160 [core] Bump monorepo
  yarn.lock
Labels: core

#11156 [grid] Remove unused utilities
  packages/grid/x-data-grid/src/utils/domUtils.ts
Labels: component: data grid

#11161 Release 6.18.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11145 [codemod] Clean the components to slots codemod usage
  packages/x-codemod/README.md
  packages/x-codemod/src/v7.0.0/data-grid/rename-components-to-slots/index.ts
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/actual.spec.js
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/expected.spec.js
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/pickers/rename-components-to-slots/index.ts
Labels: package: codemod

#11162 Release v7.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9205 [DataGrid] Cell clipboard paste, leading "v"
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  test/e2e/fixtures/DataGrid/KeyboardEditNumber.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid, feature: Editing

#11167 [docs] Fix version links
  docs/pages/_app.js
Labels: bug 🐛, docs

#10812 [docs] Add `TextField` styling customization playground example
  docs/data/date-pickers/date-picker/CustomizationExamplesNoSnap.js
  docs/data/date-pickers/date-picker/examplesConfig.styling.tsx
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/utils/useCustomizationPlayground.tsx
Labels: docs, customization: css

#11168 [docs] Remove the `newFeature` flag on v6 features
  docs/data/pages.ts
Labels: docs, component: pickers

#10183 [github] Do not add `plan: Pro` and `plan: Premium` labels on pro / premium issue templates
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
Labels: core

#7127 [docs] Standardize the usage of callouts in the MUI X docs
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/data-grid/components/components.md
  docs/data/data-grid/custom-columns/custom-columns.md
  docs/data/data-grid/demo/demo.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/layout/layout.md
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/row-definition/row-definition.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-height/row-height.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/data-grid/row-selection/row-selection.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/data-grid/scrolling/scrolling.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/state/state.md
  docs/data/data-grid/style/style.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/validation/validation.md
  docs/data/introduction/licensing/licensing.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docsTech/processing.md
Labels: docs

#11158 [docs] Improve the prop descriptions of `DayCalendar`
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: docs, component: pickers

#11129 [DataGridPremium] Fix aggregated column ignoring column definition changes
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/grid/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: component: data grid, regression, plan: Premium, feature: Editing, feature: Aggregation, needs cherry-pick

#11166 [DataGrid] Fix cell editing adding a leading "v" on paste
  .circleci/config.yml
  package.json
  packages/grid/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/grid/x-data-grid/src/models/api/gridEditingApi.ts
  packages/grid/x-data-grid/src/models/params/gridEditCellParams.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
  test/e2e/fixtures/DataGrid/KeyboardEditNumber.tsx
  test/e2e/index.test.ts
  yarn.lock
Labels: bug 🐛, component: data grid, feature: Editing, cherry-pick

#11175 [core] yarn proptypes
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: core

#11181 [core] Remove outdated ENABLE_AD env variable
  docs/next.config.js
Labels: core, scope: docs-infra

#11173 [docs] Simplify a bit chart demo
  docs/data/charts/axis/MinMaxExample.js
  docs/data/charts/axis/MinMaxExample.tsx
  docs/data/charts/axis/axis.md
Labels: docs

#11063 [charts] Fix error with empty dataset
  packages/x-charts/src/LineChart/extremums.ts
Labels: component: charts

#10856 [l10n] Improve Bulgarian (bg-BG) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/bgBG.ts
Labels: component: data grid, l10n

#11206 [l10n] Improve Bulgarian (bg-BG) locale (#10856)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/bgBG.ts
Labels: component: data grid, l10n, cherry-pick

#11205 [docs] Move the adapter breaking changes in a collapsable block
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs

#11180 [charts] Apply `labelStyle` and `tickLabelStyle` props on `<ChartsYAxis />`
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: bug 🐛, component: charts

#10778 [pickers] POC: `PickersTextField` styling - outlined variant
  packages/x-date-pickers/src/internals/components/FakeTextField/FakeTextField.tsx
  packages/x-date-pickers/src/internals/components/FakeTextField/index.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/Outline.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersInput.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/components/PickersTextField/PickersTextField.types.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/index.ts
  packages/x-date-pickers/src/internals/components/PickersTextField/pickersTextFieldClasses.ts
Labels: component: pickers

#11182 [docs] Fix <title> generation
  docs/next.config.js
  docs/package.json
  netlify.toml
  package.json
Labels: bug 🐛, docs, regression, scope: docs-infra

#11213 [charts] Adjusted `defaultizeValueFormatter` util to accept an optional `series.valueFormatter` value
  packages/x-charts/src/internals/defaultizeValueFormatter.ts
Labels: cherry-pick, component: charts

#11045 [charts] Remove outdated prop-types
  docs/data/charts-component-api-pages.ts
  docs/pages/x/api/charts/pie-arc-label.js
  docs/pages/x/api/charts/pie-arc-label.json
  docs/pages/x/api/charts/pie-arc.js
  docs/pages/x/api/charts/pie-arc.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/charts/pie-arc-label.json
  docs/translations/api-docs/charts/pie-arc.json
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#11178 [docs] Add small formatting improvements to the licensing page
  docs/.link-check-errors.txt
  docs/data/introduction/licensing/licensing.md
Labels: docs

#11177 [docs] Add a card grid to the installation page
  docs/data/introduction/installation/installation.md
  docs/src/modules/components/InstallationGrid.js
Labels: docs

#11142 [pickers] Use adapter methods instead of date library ones whenever possible
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
Labels: component: pickers

#10964 [pickers] Support localized start of the week on `AdapterLuxon`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: bug 🐛, component: pickers, enhancement

#11201 [DataGridPremium] Fix custom filter operators not working on aggregated column
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
Labels: component: data grid, regression, plan: Premium, feature: Filtering, feature: Aggregation

#10710 [docs] Document charts composition
  docs/data/charts/composition/BasicComposition.js
  docs/data/charts/composition/BasicComposition.tsx
  docs/data/charts/composition/SwitchSeriesType.js
  docs/data/charts/composition/SwitchSeriesType.tsx
  docs/data/charts/composition/composition.md
  docs/data/charts/overview/overview.md
  docs/data/pages.ts
  docs/pages/x/react-charts/composition.js
Labels: docs, component: charts

#11229 [DataGrid] Exclude hidden columns from quick filtering by default
  docs/data/data-grid/filtering/quick-filter.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/grid-filter-model.md
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/models/gridFilterModel.ts
  packages/grid/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Filtering, v7.x

#10910 [docs] Split charts overview and getting started in distinct pages
  docs/data/charts/bars/bars.md
  docs/data/charts/getting-started/Combining.js
  docs/data/charts/getting-started/Combining.tsx
  docs/data/charts/getting-started/SimpleCharts.js
  docs/data/charts/getting-started/SimpleCharts.tsx
  docs/data/charts/getting-started/SimpleCharts.tsx.preview
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/overview/overview.md
  docs/data/introduction/installation/installation.md
  docs/data/pages.ts
  docs/pages/x/react-charts/getting-started.js
Labels: docs

#11228 [DataGrid] Remove the `preferencesPanel` slot
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/GridHeader.tsx
  packages/grid/x-data-grid/src/components/panel/index.ts
  packages/grid/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v7.x

#11242 [chore] Fix linter error
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: core

#11000 [DataGrid] Fix `onFilterModelChange` being fired with stale field value
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
Labels: bug 🐛, component: data grid, feature: Filtering, needs cherry-pick

#11241 [docs] Improve Data Grid togglable columns example
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.tsx
  docs/data/data-grid/column-visibility/column-visibility.md
Labels: docs, component: data grid, v6.x, cherry-pick

#11233 [DataGrid] Remove deprecated constants
  docs/.link-check-errors.txt
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGrid.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v7.x

#11244 [DataGrid] Fix onFilterModelChange being fired with stale field value
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
Labels: bug 🐛, component: data grid, v6.x, feature: Filtering, cherry-pick

#11231 [docs][Data Grid] Adjust the demo page design
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/demo/demo.md
  docs/public/static/x/community.svg
Labels: docs, component: data grid

#11130 [pickers] Expand field placeholder methods flexibility by providing `format` parameter
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
Labels: docs, component: pickers, enhancement

#11254 [pickers] Expand field placeholder methods flexibility by providing `format` parameter
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
Labels: component: pickers, cherry-pick

#11151 [pickers] Moved extend with `customParseFormat` to constructor
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
Labels: bug 🐛, breaking change, component: pickers, v7.x

#11259 [charts] Fix TS config
  docs/pages/x/api/charts/default-charts-axis-tooltip-content.json
  docs/pages/x/api/charts/default-charts-item-tooltip-content.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: bug 🐛, typescript, component: charts
