Repository mui/mui-x, pull requests merged in 2023-06, with the labels that each got.

#9149 [pickers] Fix `MonthCalendar` and `YearCalendar` disabled validation
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
Labels: regression, component: pickers

#9132 [docs] Reduce layout shift in grid demo
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs, component: data grid

#8840 [docs] Fix tree data children lazy-loading demo
  docs/data/data-grid/tree-data/TreeDataLazyLoading.js
  docs/data/data-grid/tree-data/TreeDataLazyLoading.tsx
  docs/data/data-grid/tree-data/TreeDataLazyLoading.tsx.preview
Labels: docs, component: data grid, feature: Tree data

#9074 [docs] Improve discoverability of Filtering section of docs
  CHANGELOG.md
  docs/.link-check-errors.txt
  docs/data/data-grid-component-api-pages.ts
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/filtering/customization.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/filtering/header-filters.md
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/filtering/multi-filters.md
  docs/data/data-grid/filtering/quick-filter.md
  docs/data/data-grid/filtering/server-side.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/grid-filter-item.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.js
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.json
  docs/pages/x/react-data-grid/filtering/customization.js
  docs/pages/x/react-data-grid/filtering/header-filters.js
  docs/pages/x/react-data-grid/filtering/index.js
  docs/pages/x/react-data-grid/filtering/multi-filters.js
  docs/pages/x/react-data-grid/filtering/quick-filter.js
  docs/pages/x/react-data-grid/filtering/server-side.js
  docs/scripts/getTypeScriptProjects.ts
  docs/translations/api-docs/data-grid/grid-toolbar-quick-filter.json
  packages/grid/x-data-grid/src/models/gridFilterItem.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
Labels: docs, feature: Filtering

#9117 [DataGridPro] Prevent click event on sorting after a resize
  packages/grid/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  test/e2e/fixtures/DataGridPro/NotResize.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid

#8857 [DataGrid] Fix `onCellEditStop` not invoked
  packages/grid/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
Labels: component: data grid

#9126 [pickers] Apply dynamic default format depending on views for all desktop and mobile pickers
  docs/pages/x/api/date-pickers/localization-provider.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/field.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/field.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/internals/utils/date-time-utils.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/time-utils.ts
  packages/x-date-pickers/src/internals/utils/views.ts
  packages/x-date-pickers/src/models/adapters.ts
Labels: component: pickers

#8935 [charts] Add style customization on bar
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
Labels: component: charts

#9200 [DataGrid] Improve grouping performance for large datasets
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoaderPreProcessors.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
  packages/grid/x-data-grid-pro/src/utils/tree/insertDataRowInTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/sortRowTree.ts
  packages/grid/x-data-grid-pro/src/utils/tree/utils.ts
Labels: performance, component: data grid

#9230 [docs] Fix overview page typo
  docs/data/introduction/overview/overview.md
Labels: docs, support: docs-feedback

#9179 [DataGrid] Allow overflowing grid root element
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Rendering layout

#9190 [charts] Improve axis label and ticks label alignements
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  packages/x-charts/src/XAxis/XAxis.tsx
  packages/x-charts/src/YAxis/YAxis.tsx
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
Labels: design: ui, component: charts

#9189 [charts] Enforce axis `min`/`max` over the `nice()` method
  docs/data/charts/axis/ScaleExample.js
  docs/data/charts/axis/ScaleExample.tsx
  docs/data/charts/axis/ScaleExample.tsx.preview
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useTicks.ts
Labels: bug 🐛, component: charts

#9257 [l10n] Add Romanian (ro-RO) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/roRO.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#9265 [DataGrid] Fix row with ids matching Object prototype
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/grid/x-data-grid/src/tests/DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#9237 [DataGrid] Improve Turkish (tr-TR) locale for data grid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/trTR.ts
Labels: component: data grid, l10n

#9259 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#9163 [DataGridPremium] Remove last line break on clipboard paste
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
Labels: component: data grid, plan: Premium, enhancement, feature: Clipboard paste

#9235 [DataGrid] Fix module augmentation error when using ﻿`@mui/lab`
  packages/grid/x-data-grid-premium/src/themeAugmentation/overrides.ts
  packages/grid/x-data-grid-pro/src/themeAugmentation/overrides.ts
  packages/grid/x-data-grid/src/themeAugmentation/overrides.ts
Labels: bug 🐛, component: data grid, typescript

#9273 [docs] Fix version redirect
  docs/pages/_app.js
Labels: docs

#9272 [DataGrid] Update data grid migration guide to include updated type
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid

#9239 [DataGrid] Fix `sortModel` and `filterModel` resetting when columns change
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering, feature: Sorting

#9280 v6.7.0
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9242 [charts] Manage elements highlights
  docs/data/charts-component-api-pages.ts
  docs/data/charts/tooltip/BandHighlight.js
  docs/data/charts/tooltip/BandHighlight.tsx
  docs/data/charts/tooltip/BandHighlight.tsx.preview
  docs/data/charts/tooltip/ElementHighlights.js
  docs/data/charts/tooltip/ElementHighlights.tsx
  docs/data/charts/tooltip/Highlights.js
  docs/data/charts/tooltip/Highlights.tsx
  docs/data/charts/tooltip/Highlights.tsx.preview
  docs/data/charts/tooltip/tooltip.md
  docs/pages/x/api/charts/axis-highlight.js
  docs/pages/x/api/charts/axis-highlight.json
  docs/pages/x/api/charts/cartesian-context-provider.js
  docs/pages/x/api/charts/cartesian-context-provider.json
  docs/pages/x/api/charts/drawing-provider.js
  docs/pages/x/api/charts/drawing-provider.json
  docs/translations/api-docs/charts/axis-highlight.json
  docs/translations/api-docs/charts/cartesian-context-provider.json
  docs/translations/api-docs/charts/drawing-provider.json
  packages/x-charts/src/AxisHighlight/AxisHighlight.tsx
  packages/x-charts/src/AxisHighlight/index.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/Highlight/index.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/HighlightProvider.tsx
  packages/x-charts/src/context/index.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/index.ts
  scripts/x-charts.exports.json
Labels: component: charts

#8975 [docs] Improve Next.js license installation guide
  docs/data/introduction/licensing/licensing.md
Labels: docs, package: x-license-pro

#9221 [docs] Fix missing docs version warning
  docs/pages/_app.js
Labels: docs

#9225 [docs] Fix grid header filter link
  CHANGELOG.md
  docs/data/data-grid/filtering/header-filters.md
  docs/data/data-grid/filtering/multi-filters.md
Labels: docs

#9290 [docs] Fix `Date Calendar` dynamic data demo
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.js
  docs/data/date-pickers/date-calendar/DateCalendarServerRequest.tsx
Labels: docs, component: pickers

#9292 [l10n] Improve Greek (el-GR) locale for data grid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/elGR.ts
Labels: l10n

#9293 [l10n] Add Greek (el-GR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/elGR.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#9296 [docs] Link pagination documentation to the migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: component: data grid, support: docs-feedback

#9300 [pickers] Fix disabling for digital clock
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
Labels: bug 🐛, component: pickers

#9076 [DataGrid] Avoid column headers hover on touch devices
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, mobile

#9282 [DataGrid] Correct the type for single digit edited number value
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing

#9220 [DataGrid] Polish shortcut logic
  docs/data/data-grid/events/events.json
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/utils/keyboardUtils.ts
Labels: core, component: data grid

#9260 [pickers] Add a `referenceDate` prop on `DateCalendar`, `MonthCalendar` and `YearCalendar`
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-field.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-time-field.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/month-calendar.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/time-field.json
  docs/translations/api-docs/date-pickers/year-calendar.json
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/getDefaultReferenceDate.ts
Labels: component: pickers

#9321 [DataGrid] Fix tabbing between `actions` cells in edit mode
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid

#9284 [DataGrid] Filtering performance: cache values
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: performance, component: data grid, feature: Filtering

#9153 [charts] Complete the docs to introduce charts
  docs/data/charts/axis/AxisCustomizationNoSnap.js
  docs/data/charts/overview/overview.md
  docs/data/charts/styling/BasicColor.js
  docs/data/charts/styling/BasicColor.tsx
  docs/data/charts/styling/ColorTemplate.js
  docs/data/charts/styling/ColorTemplate.tsx
  docs/data/charts/styling/styling.md
  packages/x-charts/src/index.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  scripts/x-charts.exports.json
Labels: docs, component: charts

#9320 [DataGrid] Make autocomplete work for `GridColDef['type']`
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/colDef/gridColType.ts
Labels: component: data grid, typescript, dx

#9135 [license] Improve annual license expiration message
  docs/data/introduction/licensing/licensing.md
  docs/public/_redirects
  packages/x-license-pro/src/Watermark/Watermark.tsx
  packages/x-license-pro/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license-pro/src/utils/licenseErrorMessageUtils.ts
  packages/x-license-pro/src/utils/licenseStatus.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.test.ts
  packages/x-license-pro/src/verifyLicense/verifyLicense.ts
  scripts/x-license-pro.exports.json
Labels: package: x-license-pro

#9069 [docs] Add header filters to the popular features demo
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs

#9333 [docs] Improve Chart overview
  docs/data/charts/overview/overview.md
Labels: docs, component: charts

#9336 [core] Polish event name
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: core

#9319 [core] Upgrade Node.js to v18 on CircleCI, CodeSandbox and Netlify
  .circleci/config.yml
  .codesandbox/ci.json
  netlify.toml
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
Labels: core, dependencies

#7006 [DataGrid] row reordering fix for different row height
  packages/grid/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
Labels: bug 🐛, component: data grid, feature: Reordering, CLA: signed

#9029 [docs] Add clipboard paste to popular features demo
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/pages.ts
Labels: docs, component: data grid

#9355 [core] Update to Node v18 for `l10n` GitHub CI
  .github/workflows/l10n.yml
Labels: core, dependencies

#8431 [docs] Improve and reorganize sections on editing page
  docs/data/data-grid/editing/BasicEditingGrid.js
  docs/data/data-grid/editing/BasicEditingGrid.tsx
  docs/data/data-grid/editing/BasicRowEditingGrid.js
  docs/data/data-grid/editing/BasicRowEditingGrid.tsx
  docs/data/data-grid/editing/DisableStopEditModeOnFocusOut.js
  docs/data/data-grid/editing/DisableStopEditModeOnFocusOut.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/IsCellEditableGrid.js
  docs/data/data-grid/editing/IsCellEditableGrid.tsx
  docs/data/data-grid/editing/ServerSidePersistence.js
  docs/data/data-grid/editing/ServerSidePersistence.tsx
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/editing/editing.md
Labels: docs, component: data grid, feature: Editing

#9348 [DataGrid] Correct the type for single digit edited number for row edit
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid

#9340 v6.8.0
  CHANGELOG.md
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/grid/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/grid/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9269 [core] Move old release notes in `CHANGELOG.old.md`
  CHANGELOG.md
  changelogOld/CHANGELOG.v4.md
  changelogOld/CHANGELOG.v5.md
Labels: core

#9349 [docs] Fix Base UI references
  CHANGELOG.md
  docs/data/introduction/overview/overview.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs

#9364 [docs] Fix random screenshot generation
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
Labels: docs, component: data grid

#9385 [pickers] Reset fields internal state when pasting value
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers

#9352 [docs] Use the mui-x Stack Overflow tag
  README.md
  docs/data/introduction/support/support.md
Labels: docs

#9368 [pickers] Reduce date range calendar vertical border width
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
Labels: component: pickers, component: DateRangePicker, design: ui

#9252 [docs] Sync h1 with sidenav link
  docs/data/data-grid/components/components.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/fields/fields.md
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/validation/validation.md
  docs/data/pages.ts
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/localization-provider.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/time-field.json
Labels: docs

#9329 [core] Add PR template and update the contributions guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: core

#9360 [docs] Add examples of using different time view renderers
  docs/data/date-pickers/date-time-picker/DateTimePickerViewRenderers.js
  docs/data/date-pickers/date-time-picker/DateTimePickerViewRenderers.tsx
  docs/data/date-pickers/date-time-picker/DateTimePickerViewRenderers.tsx.preview
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/TimePickerViewRenderers.js
  docs/data/date-pickers/time-picker/TimePickerViewRenderers.tsx
  docs/data/date-pickers/time-picker/TimePickerViewRenderers.tsx.preview
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers

#9396 [core] Fix proptypes
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridEditInputCell.tsx
Labels: core

#9342 [pickers] Fix field section selection on `DateTimePicker`
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
Labels: regression, component: pickers

#9397 [l10n] Improve Czech (cs-CZ) locale
  packages/x-date-pickers/src/locales/csCZ.ts
Labels: l10n, component: pickers

#9361 [charts] Prepare the charts release
  docs/data/pages.ts
  packages/x-charts/package.json
  scripts/releaseChangelog.mjs
Labels: component: charts

#9421 [core] Fix file typo
  .github/workflows/priority-support-validation-prompt.yml
Labels: core

#9390 [fields] Reset internal state when referenceValue changes
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers, feature: Keyboard editing

#9420 [core] Bump monorepo
  docs/.link-check-errors.txt
  docs/data/data-grid/demo/demo.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/pages/_app.js
  yarn.lock
Labels: core

#9422 v6.9.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#8759 [DataGrid] Add section about enabling pagination on Pro and Premium
  docs/data/data-grid/pagination/PageSizeAutoPremium.js
  docs/data/data-grid/pagination/PageSizeAutoPremium.tsx
  docs/data/data-grid/pagination/PageSizeAutoPremium.tsx.preview
  docs/data/data-grid/pagination/pagination.md
Labels: docs, component: data grid, feature: Pagination

#9429 [docs] Update charts overview.md
  docs/data/charts/overview/overview.md
Labels: component: charts

#9426 [charts] Update README.md
  README.md
  packages/x-charts/README.md
  packages/x-charts/package.json
  yarn.lock
Labels: component: charts

#9435 [docs] Fix 404 link
  docs/data/date-pickers/custom-layout/custom-layout.md
Labels: docs, component: pickers

#9472 [core] Fix priority support prompt action
  .github/workflows/priority-support-validation-prompt.yml
Labels: core

#9468 [l10n] Add Chinese (Hong Kong) (zh-HK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/zhHK.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers

#9476 Bumb update monorepo
  docs/next.config.js
  scripts/l10n.ts
  yarn.lock
Labels: scope: docs-infra

#9480 [core] Update `uses` for priority support action
  .github/workflows/priority-support-validation-prompt.yml
Labels: core

#9028 [DataGrid] Add Joy UI tooltip and loadingOverlay slots
  docs/data/data-grid/joy-ui/GridJoyUISlots.js
  docs/data/data-grid/joy-ui/GridJoyUISlots.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
Labels: component: data grid, design: joy

#9483 [core] Add `edit-mode` to priority support action
  .github/workflows/priority-support-validation-prompt.yml
Labels: core

#9418 [DataGridPro] checkboxSelection & treeData/grouping bug
  packages/grid/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
Labels: bug 🐛, component: data grid

#9451 [docs] Fix productId logic
  docs/pages/_app.js
Labels: bug 🐛, docs

#9436 [l10n] Improve Romanian (ro-RO) and Hungarian (hu-HU) translations
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/huHU.ts
  packages/grid/x-data-grid/src/locales/roRO.ts
  packages/x-date-pickers/src/locales/roRO.ts
Labels: component: data grid, l10n, component: pickers

#9481 [pickers] Handle `keyDown` only when input is focused
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#9439 [CHANGELOG] Fix media quality
  CHANGELOG.md
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
Labels: bug 🐛, docs

#9434 [DateTimePicker] Scroll to Digital Clock section only when selection changes
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
Labels: bug 🐛, component: pickers, component: DateTimePicker

#9497 [charts] Take responsive container from data grid
  packages/x-charts/package.json
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  yarn.lock
Labels: component: charts

#9507 [DataGridPro] Don't throw error in column pinning
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Column pinning

#9449 [docs] Add missing upcoming flag without issue
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-spanning/row-spanning.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
Labels: docs, linked in docs

#9254 [DataGrid] Filtering performance: V7 API
  docs/data/data-grid/filtering/customization.md
  docs/data/data-grid/performance/performance.md
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  packages/grid/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/grid/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/grid/x-data-grid/src/colDef/gridActionsColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridBooleanColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridBooleanOperators.ts
  packages/grid/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/grid/x-data-grid/src/colDef/gridDateColDef.ts
  packages/grid/x-data-grid/src/colDef/gridDateOperators.ts
  packages/grid/x-data-grid/src/colDef/gridNumericColDef.ts
  packages/grid/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/grid/x-data-grid/src/colDef/gridSingleSelectOperators.ts
  packages/grid/x-data-grid/src/colDef/gridStringColDef.ts
  packages/grid/x-data-grid/src/colDef/gridStringOperators.ts
  packages/grid/x-data-grid/src/colDef/utils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/models/api/gridParamsApi.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/models/gridRows.ts
  packages/grid/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/helperFn.ts
Labels: performance, component: data grid, feature: Filtering

#9488 [docs] Add a recipe limiting to one expanded detail panel at a time
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.js
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.tsx
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.tsx.preview
  docs/data/data-grid/row-recipes/row-recipes.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/row-recipes.js
Labels: docs, component: data grid, customization: extend, feature: Master-detail, recipe

#9511 [test] Skip flaky row pinning tests in JSDOM
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
Labels: test, component: data grid

#9516 [DataGrid] Fix `Maximum call stack size exceeded` error when using fractional width
  packages/grid/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#9499 [docs][charts] Avoid systematic usage of `"bg": "inline"`
  docs/data/charts/areas-demo/areas-demo.md
  docs/data/charts/axis/axis.md
  docs/data/charts/bar-demo/bar-demo.md
  docs/data/charts/bars/bars.md
  docs/data/charts/legend/legend.md
  docs/data/charts/line-demo/line-demo.md
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/stacking/stacking.md
  docs/data/charts/styling/styling.md
  docs/data/charts/tooltip/ElementHighlights.js
  docs/data/charts/tooltip/ElementHighlights.tsx
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/data/charts/tooltip/Interaction.tsx.preview
  docs/data/charts/tooltip/tooltip.md
Labels: docs, design: ui, component: charts

#9526 [charts] Fix typo and small refacto
  docs/translations/api-docs/charts/axis.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/scatter-chart.json
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: component: charts

#9356 [pickers] Add `referenceDate` prop on `TimeClock`, `DigitalClock` and `MultiSectionDigitalClock`
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/translations/api-docs/date-pickers/digital-clock.json
  docs/translations/api-docs/date-pickers/multi-section-digital-clock.json
  docs/translations/api-docs/date-pickers/time-clock.json
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/DigitalClock/tests/DigitalClock.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describes.DigitalClock.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describes.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/internals/hooks/useClockReferenceDate.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/models/props/clock.ts
  packages/x-date-pickers/src/internals/utils/getDefaultReferenceDate.ts
  test/utils/pickers-utils.tsx
  test/utils/pickers/viewHandlers.ts
Labels: component: pickers

#9490 [docs] Display plan icon in ToC
  yarn.lock
Labels: docs

#9517 [docs] Remove "product" markdown header
  docs/data/charts/areas-demo/areas-demo.md
  docs/data/charts/axis/axis.md
  docs/data/charts/bar-demo/bar-demo.md
  docs/data/charts/bars/bars.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/legend/legend.md
  docs/data/charts/line-demo/line-demo.md
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/stacking/stacking.md
  docs/data/charts/styling/styling.md
  docs/data/charts/tooltip/tooltip.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/digital-clock/digital-clock.md
  docs/data/date-pickers/fields/fields.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/overview/overview.md
  docs/data/date-pickers/shortcuts/shortcuts.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-field/time-field.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-field/time-range-field.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/date-pickers/timezone/timezone.md
  docs/data/date-pickers/validation/validation.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs

#9437 [docs] Move the charts in the sidebar
  docs/data/pages.ts
Labels: docs, component: charts

#9500 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: component: data grid, l10n
