Repository mui/mui-x, pull requests merged in 2023-03, with the labels that each got.

#8083 [pickers] Stop using `WrapperVariantContext` in `Clock`
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
Labels: component: pickers, component: DateTimePicker, component: TimePicker

#8028 [docs] Link to demos in the interfaces API docs
  docs/data/pages.ts
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-aggregation-function.md
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-csv-export-options.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  docs/pages/x/api/data-grid/grid-export-state-params.md
  docs/pages/x/api/data-grid/grid-filter-item.md
  docs/pages/x/api/data-grid/grid-filter-model.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  docs/pages/x/api/data-grid/grid-print-export-options.md
  docs/pages/x/api/data-grid/grid-row-class-name-params.md
  docs/pages/x/api/data-grid/grid-row-params.md
  docs/pages/x/api/data-grid/grid-row-spacing-params.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  docs/pages/x/api/data-grid/index.md
  docs/scripts/api/buildInterfacesDocumentation.ts
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/gridExcelExportInterface.ts
  packages/grid/x-data-grid/src/hooks/features/statePersistence/gridStatePersistenceInterface.ts
  packages/grid/x-data-grid/src/index.ts
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
  packages/grid/x-data-grid/src/models/gridExport.ts
  packages/grid/x-data-grid/src/models/gridFilterItem.ts
  packages/grid/x-data-grid/src/models/gridFilterModel.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/models/params/gridRowParams.ts
Labels: docs, component: data grid, dx

#8068 [data grid] Extract `BaseInputLabel` slot
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/material/index.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, customization: css

#8090 [fields] Replace `sectionOrder` state with a memoized variable
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: component: pickers

#7863 [docs] Update Data Grid demo to v6-beta
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs, component: data grid

#6968 Mention the use of Support key as an alternative to the OrderID
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  docs/data/introduction/support/support.md
Labels: core

#8094 [l10n] Improve Arabic (ar-SD) locale for `DataGrid` (#8094)Co-authored-by: Bilal Shafi <bilalshafidev@gmail.com>
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/arSD.ts
Labels: component: data grid, l10n, needs cherry-pick

#8098 [DataGrid] Allow multiple modules' augmentation
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid, typescript, v6.x

#7871 [docs] Add WIP pages for the charts
  docs/data/charts/areas/areas.md
  docs/data/charts/bars/bars.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/pages.ts
  docs/pages/x/react-charts/areas.js
  docs/pages/x/react-charts/bars.js
  docs/pages/x/react-charts/funnel.js
  docs/pages/x/react-charts/heat-map.js
  docs/pages/x/react-charts/index.js
  docs/pages/x/react-charts/lines.js
  docs/pages/x/react-charts/pie.js
  docs/pages/x/react-charts/radar.js
  docs/pages/x/react-charts/sankey.js
  docs/pages/x/react-charts/scatter.js
  docs/pages/x/react-charts/tree-map.js
Labels: docs, component: Charts

#8097 [test] Fix flaky tests
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test, component: data grid

#8102 [docs] Remove the `@next` tag from installation instructions
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
Labels: docs

#8079 [DateRangePicker] Generalize the highlight between months
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/translations/api-docs/date-pickers/date-range-picker-day.json
  docs/translations/api-docs/date-pickers/pickers-day.json
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/dateRangePickerDayClasses.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.spec.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: component: pickers, component: DateRangePicker

#8092 [docs] Update migration guide for stable release
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs

#8072 [data grid] Extract `BaseSelectOption` slot
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/material/components/MUISelectOption.tsx
  packages/grid/x-data-grid/src/material/index.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, customization: css

#8106 [docs] Link `API object` in the `apiRef` sections
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/filtering.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-selection/row-selection.md
  docs/data/data-grid/scrolling/scrolling.md
Labels: docs, component: data grid, dx

#8032 [data grid] Use `styled` from system
  packages/grid/x-data-grid/src/components/GridRowCount.tsx
  packages/grid/x-data-grid/src/components/GridScrollArea.tsx
  packages/grid/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/grid/x-data-grid/src/components/base/GridOverlays.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridBaseColumnHeaders.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeadersInner.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridIconButtonContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridMainContainer.tsx
  packages/grid/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/grid/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: component: data grid

#8069 [fields] Implement empty visual state
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/selection.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/AdapterDateFns/localization.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/localization.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/localization.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMomentHijri/localization.test.tsx
  packages/x-date-pickers/src/AdapterMomentJalaali/localization.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/format.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/field.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/field.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/describes.MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/field.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/field.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describes.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  test/utils/pickers-utils.tsx
Labels: component: pickers, enhancement, feature: Keyboard editing

#8112 [fields] Clean the order of the tokens in the `formatTokenMap` of each adapter
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
Labels: component: pickers

#5149 [pickers] Fix am/pm buttons position and responsiveness
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar.json
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/dateTimePickerToolbarClasses.ts
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/utils/time-utils.ts
Labels: component: DateTimePicker, component: TimePicker, design: ux, dx

#8113 [l10n] Import Czech (cs-CZ) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: l10n

#8114 [l10n] Import Czech (cs-CZ) locale (from @BlastyCZ)
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/csCZ.ts
Labels: l10n, cherry-pick

#8080 [docs] Fix typo `bellow` -> `below`
  .github/styles/Blog/Typos.yml
  .vale.ini
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.js
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/pickers-layout.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker.json
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
Labels: docs, component: pickers

#8105 [docs] Remove charts path structure from side navigation menu.
  docs/data/pages.ts
Labels: docs

#8108 [docs] Add expansion state behavioral change to v6 migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid, v6.x

#8115 [core] Upgrade monorepo
  docs/babel.config.js
  yarn.lock
Labels: core, v6.x

#8117 v5.17.26
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
Labels: release

#8120 v6.0.0
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#8125 [docs] Fix package version used in Codesandbox demos
  docs/pages/_app.js
Labels: bug 🐛, docs

#8122 [l10n] Import French (fr-FR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/frFR.ts
Labels: l10n, component: pickers

#8141 [docs] Improve link from npm to docs
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: docs

#8169 [core] Upgrade monorepo
  yarn.lock
Labels: docs, core

#8152 [docs] Fix a typo in the migration guide
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/actual.spec.js
Labels: docs

#8183 [pickers] Add a runtime warning when a `renderInput` prop is passed to a picker
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
Labels: component: pickers

#8165 [pickers] Don't pass `ownerState` to the `inputAdornment` slot
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
Labels: regression, component: pickers

#8174 [DataGrid] Fix `MenuProps.onClose` being overriden for single select edit component
  packages/grid/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
Labels: component: data grid

#8109 [docs] Improve data grid quick filter documentation
  docs/data/data-grid/filtering/QuickFilteringInitialize.js
  docs/data/data-grid/filtering/QuickFilteringInitialize.tsx
  docs/data/data-grid/filtering/filtering.md
  test/regressions/index.test.js
Labels: docs, component: data grid, feature: Filtering

#8192 v6.0.1
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#8200 [docs] Fix 404 links to customization Material UI APIs
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, regression, scope: docs-infra

#8201 [DateRangePicker] Allow to override `slotProps.textField`
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
Labels: bug 🐛, component: pickers, component: DateRangePicker

#8220 [core] Regen api docs
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker.json
Labels: docs

#8187 [fields] Remove the warning about invalid adapter
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers

#8204 [l10n] Add missing german translations for x-date-pickers
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/deDE.ts
Labels: l10n

#8222 [l10n] Add Hebrew (he-IL) locale to pickers
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/heIL.ts
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n

#8223 [core] remove duplicated `/`
  dangerfile.js
Labels: scope: docs-infra

#8184 [docs] Add a warning in the migration guide for people re-enabling the clock on desktop
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#8229 [l10n] Improve French (fr-FR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/frFR.ts
Labels: l10n, component: pickers

#8188 [fields] Support format like `1st` / `2nd`
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
  test/utils/init.ts
  test/utils/setupJSDOM.js
  test/utils/setupPickers.js
Labels: component: pickers

#8240 [docs] Improve migration diff
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: data grid

#8186 [docs] Link "What's new" page url to announcement blog post
  docs/data/pages.ts
  docs/data/whats-new.md
  docs/pages/x/whats-new.js
  docs/public/_redirects
Labels: docs

#8254 [fields] Fix editing in shadow dom
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#8245 [docs] Add warning for `luxon` macro tokens
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/overview/overview.md
Labels: docs, component: pickers

#8082 [fields] Fire `onChange` when filling a partial date
  docs/data/date-pickers/fields/fields.md
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
Labels: component: pickers, feature: Keyboard editing

#8218 [pickers] Inherit previous and next icons size from their parent button
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
Labels: bug 🐛, component: pickers

#8228 [pickers] Fix to avoid selecting sections on mobile picker field
  packages/x-date-pickers-pro/src/MobileDateRangePicker/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: component: pickers, mobile, enhancement

#8258 v6.0.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  scripts/README.md
Labels: release

#8239 [docs] Improve contrast on data grid navigation
  docs/data/data-grid/scrolling/scrolling.md
Labels: docs, component: data grid, design: ui

#8287 [fields] Allow to reset the value from the outside
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#8288 [docs] Update shortcuts page to use slotProps
  docs/data/date-pickers/shortcuts/shortcuts.md
Labels: docs

#8268 [l10n] Improve Persian (fa-IR) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/faIR.ts
Labels: component: data grid, l10n, component: pickers

#8095 [test] Track visual regressions of column menu and filter/column panels
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.tsx.preview
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx.preview
  docs/data/data-grid/column-menu/column-menu.md
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.tsx
  docs/data/data-grid/column-visibility/ColumnSelectorGridSnap.tsx.preview
  docs/data/data-grid/filtering/MultiFilteringPanelSnap.js
  docs/data/data-grid/filtering/MultiFilteringPanelSnap.tsx
  test/regressions/index.js
Labels: test, component: data grid

#8269 [docs] Give an incentive to upgrade
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs

#8303 [docs] Fix pro license links to point to the same page
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/time-range-field/time-range-field.md
Labels: docs, component: pickers

#8295 [fields] Fix Safari input selection resetting regression
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: regression, component: pickers, feature: Keyboard editing

#8290 [fields] Cleanup section order generation
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: component: pickers

#8298 [pickers] Support invalid dates from the field
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: regression, component: pickers

#8259 [core] Remove unused `visx` chart package
  benchmark/package.json
  yarn.lock
Labels: core

#8246 [DataGrid] Fix overflow calculation issue in column group headers
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: component: data grid, regression, feature: Column grouping

#8328 [fields] Fix iOS browser scroll jumping when entering data
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: component: pickers, design: ux, mobile, feature: Keyboard editing

#8335 [DataGridPro] Fix column reorder glitches
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
Labels: component: data grid, regression, feature: Reordering

#8331 [core] Upgrade monorepo
  docs/.link-check-errors.txt
  yarn.lock
Labels: core

#8330 [fields] Fix editing when all sections are selected
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, component: pickers

#8348 [docs] Explain the `shouldDisableTime` migration more in-depth
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#8362 [core] Do not publish chart
  .codesandbox/ci.json
  package.json
  packages/x-charts/package.json
Labels: core

#8159 [docs] Update slots' references in data grid migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid, v6.x

#8361 [pickers] Update `view` when `views` or `openTo` changes
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
Labels: bug 🐛, component: pickers

#8292 [fields] Cleanup `useFieldState`
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: component: pickers, feature: Keyboard editing

#8286 [DataGrid] Prevent reopening column menu when clicking in the button while it is open
  packages/grid/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/grid/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
Labels: component: data grid

#8368 [l10n] Improve Danish (da-DK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n

#7999 [DataGrid] Update column menu API `components` -> `slots`
  docs/data/data-grid/column-menu/AddNewColumnMenuGrid.js
  docs/data/data-grid/column-menu/AddNewColumnMenuGrid.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx
  docs/data/data-grid/column-menu/HideColumnMenuGrid.js
  docs/data/data-grid/column-menu/HideColumnMenuGrid.tsx
  docs/data/data-grid/column-menu/OverrideColumnMenuGrid.js
  docs/data/data-grid/column-menu/OverrideColumnMenuGrid.tsx
  docs/data/data-grid/column-menu/ReorderColumnMenuGrid.js
  docs/data/data-grid/column-menu/ReorderColumnMenuGrid.tsx
  docs/data/data-grid/column-menu/column-menu.md
  packages/grid/x-data-grid-premium/src/components/GridPremiumColumnMenu.tsx
  packages/grid/x-data-grid-premium/src/components/reexports.ts
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/grid/x-data-grid-premium/src/index.ts
  packages/grid/x-data-grid-pro/src/components/GridProColumnMenu.tsx
  packages/grid/x-data-grid-pro/src/components/reexports.ts
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid/src/components/menu/columnMenu/GridColumnMenu.tsx
  packages/grid/x-data-grid/src/components/menu/columnMenu/GridColumnMenuProps.ts
  packages/grid/x-data-grid/src/components/reexportable.ts
  packages/grid/x-data-grid/src/hooks/features/columnMenu/columnMenuInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenuSlots.ts
  packages/grid/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, v6.x

#8378 [l10n] Improve Danish (da-DK) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n

#8382 [l10n] Improve Norwegian (nb-NO) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/nbNO.ts
Labels: l10n, component: pickers

#8381 [l10n] Improve Swedish (sv-SE) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/svSE.ts
Labels: component: data grid, l10n, component: pickers

#8325 [fields] Only add RTL characters when needed
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: component: pickers

#8379 [l10n] Add Danish (da-DK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/daDK.ts
Labels: l10n, component: pickers

#8402 [fields] Add missing tokens to `AdapterDateFnsJalali`
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
Labels: component: pickers

#8415 [DataGrid] Fix filter model buttons' display condition
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
Labels: component: data grid, feature: Filtering

#8408 [docs] Fix `custom field` demos responsive styles
  docs/data/date-pickers/custom-field/PickerWithAutocompleteField.js
  docs/data/date-pickers/custom-field/PickerWithAutocompleteField.tsx
  docs/data/date-pickers/custom-field/PickerWithBrowserField.js
  docs/data/date-pickers/custom-field/PickerWithBrowserField.tsx
  docs/data/date-pickers/custom-field/PickerWithJoyField.js
  docs/data/date-pickers/custom-field/PickerWithJoyField.tsx
  docs/data/date-pickers/custom-field/PickerWithJoyField.tsx.preview
  docs/scripts/formattedTSDemos.js
Labels: docs, component: pickers, mobile

#8416 [docs] Remove `label` from demos where it reduces clarity
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.js
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.tsx
  docs/data/date-pickers/adapters-locale/FieldPlaceholder.tsx.preview
  docs/data/date-pickers/overview/CommonlyUsedComponents.js
  docs/data/date-pickers/overview/CommonlyUsedComponents.tsx
Labels: docs, component: pickers

#8427 [docs] Fix `GridCellParams` signature in migration guide
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid

#8289 [codemod] Do not fail when props is missing
  packages/x-codemod/src/util/removeObjectProperty.ts
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/actual.spec.js
  packages/x-codemod/src/v6.0.0/data-grid/remove-stabilized-experimentalFeatures/expected.spec.js
Labels: bug 🐛, package: codemod

#8420 [l10n] Improve Spanish (es-ES) locale (#8420
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: l10n

#8441 [DataGridPremium] Fix aggregation initial state causing issue with quick filter
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
Labels: component: data grid, feature: Aggregation

#8433 [DataGrid] Fix column header tooltip not showing when the title is truncated
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
Labels: bug 🐛, component: data grid

#8442 Bump @mui/monorepo
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/src/modules/components/ApiPage.js
  yarn.lock
Labels: core

#8444 [DataGrid] Remove hardcoded CSS classes' usages
  packages/grid/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelPreProcessors.ts
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
  packages/grid/x-data-grid/src/components/GridRow.tsx
Labels: component: data grid, customization: css, dx

#8446 v6.0.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#8454 [docs] Fix 404 links
  docs/src/modules/components/ApiPage.js
Labels: docs

#8457 [core] Remove legacy token
  docs/next.config.js
Labels: docs, core

#8383 [core] Avoid 301 links
  docs/data/data-grid/localization/data.json
  docs/data/data-grid/localization/localization.md
  docs/data/date-pickers/localization/data.json
  packages/x-codemod/package.json
  scripts/l10n.ts
Labels: core

#8451 [l10n] Add Kazakh (kz-KZ) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/kzKZ.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n
