Repository mui/mui-x, pull requests merged in 2023-04, with the labels that each got.

#8480 [l10n] Improve Portuguese (pt-BR) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/ptBR.ts
Labels: component: data grid, l10n, component: pickers

#8401 [DataGrid] Allow to control visibility of columns shown in `ColumnsPanel`
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.tsx
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.tsx.preview
  docs/data/data-grid/column-visibility/column-visibility.md
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid, enhancement

#8412 [pickers] Move the adapters interfaces to our repository
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
  packages/x-date-pickers-pro/src/internal/utils/date-range-manager.ts
  packages/x-date-pickers-pro/src/internal/utils/date-utils.ts
  packages/x-date-pickers/src/AdapterDateFns/index.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/index.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/AdapterMomentHijri/index.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/index.ts
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumbers.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/index.ts
  packages/x-date-pickers/src/internals/models/muiPickersAdapter.d.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/time-utils.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/models/index.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
  test/utils/pickers-utils.tsx
Labels: component: pickers

#8491 [l10n] Improve Dutch (nl-NL) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/nlNL.ts
Labels: component: data grid, l10n, component: pickers

#8462 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/jaJP.ts
Labels: l10n

#8498 [l10n] Add Catalan (Spain) (ca-ES) and improve Spanish (es-ES) locales
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/caES.ts
  packages/x-date-pickers/src/locales/esES.ts
Labels: l10n, component: pickers

#8503 [core] Help contributors for l10n PRs
  .github/workflows/help-l10n-contributors.yml
Labels: core

#8512 [core] Fix the l10n helper by using danger instead of actions
  .github/workflows/help-l10n-contributors.yml
  dangerfile.js
Labels: core

#8490 [fields] Fix RTL navigation
  docs/data/date-pickers/calendar-systems/AdapterHijri.js
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx.preview
  docs/data/date-pickers/calendar-systems/AdapterJalali.js
  docs/data/date-pickers/calendar-systems/AdapterJalali.tsx
  docs/data/date-pickers/calendar-systems/AdapterJalali.tsx.preview
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#8460 [docs] Fix broken API reference link
  docs/public/_redirects
Labels: docs

#7890 [DataGrid] Wrap column menu button with a tooltip
  packages/grid/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
Labels: component: data grid, plan: Premium, enhancement, needs cherry-pick

#8301 [DataGrid] Fix memory leaks in development
  packages/grid/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/grid/x-data-grid/src/models/api/gridCoreApi.ts
  packages/grid/x-data-grid/src/utils/createSelector.test.ts
  packages/grid/x-data-grid/src/utils/createSelector.ts
Labels: performance, component: data grid, dx

#8486 [l10n] Improve Hungarian (hu-HU) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/huHU.ts
Labels: component: data grid, l10n

#8510 [l10n] Improve Russian (ru-RU) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/ruRU.ts
Labels: component: data grid, l10n

#8509 [pickers] Fix `componentsProps.dialog` propagation
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: bug 🐛, component: pickers

#8453 [pickers] Move `hasError` from `fieldValueManager` to `valueManager`
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
Labels: component: pickers

#8524 [docs] Fix 301 redirect
  docs/public/_redirects
Labels: docs

#8464 [l10n] Improve Hebrew (he-IL) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/heIL.ts
Labels: l10n, component: pickers

#8531 [pickers] Update peer dependency versions
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
Labels: bug 🐛, core, component: pickers

#8543 [pickers] Fix `isValid` regression
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
Labels: regression, component: pickers

#8533 v6.1.0
  CHANGELOG.md
  docs/package.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
Labels: release

#8569 Update last release date
  CHANGELOG.md
Labels: docs

#8522 [DataGrid] Reset selection state on `checkboxSelection` toggle
  packages/grid/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/grid/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: component: data grid, feature: Selection

#8576 [docs] Fix typo bellow -> below (#8576
  docs/data/data-grid/filtering/filtering.md
Labels: docs

#8513 [l10n] Improve Urdu (ur-PK) locale
  packages/grid/x-data-grid/src/locales/urPK.ts
Labels: component: data grid, l10n

#8110 [DataGrid] Use `baseSelect` slot instead of `baseTextField` with `select={true}`
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
Labels: component: data grid

#8537 [l10n] Improve French (fr-FR) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/frFR.ts
Labels: l10n

#8575 [core] Optimize `renovate` rules
  renovate.json
Labels: core

#8487 [pickers] Migrate `AdapterDayjs` to our repository
  codecov.yml
  package.json
  packages/grid/x-data-grid/src/utils/utils.ts
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterDayjs/index.ts
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.types.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/index.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testFormat.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testLocalization.ts
  patches/@date-io+dayjs+2.16.0.patch
  test/utils/setupPickers.js
  yarn.lock
Labels: component: pickers

#8570 [DateTimePicker] Fix `TimeClock` validation ignoring date by default
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.tsx
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.types.ts
  packages/x-date-pickers/src/tests/describeValidation/testMinutesViewValidation.tsx
Labels: bug 🐛, component: pickers, component: DateTimePicker

#8312 [pickers] Improve value lifecycle on non-controlled pickers
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.types.ts
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: component: pickers

#8601 [pickers] Fix JSDoc for `formatDensity` prop
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
Labels: component: pickers

#8541 [docs] Fix `Custom day rendering` demo alignment
  docs/data/date-pickers/date-calendar/CustomDay.js
  docs/data/date-pickers/date-calendar/CustomDay.tsx
Labels: docs, component: pickers

#8590 [pickers] Add `@mui/base` to `peerDependencies`
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
Labels: core, component: pickers

#8219 [docs] Clarify what `AdapterDayjs` is in the Getting Started page
  docs/data/date-pickers/getting-started/getting-started.md
Labels: docs

#8648 [docs] Improve section title in Getting Started page
  docs/data/date-pickers/getting-started/getting-started.md
  docs/translations/api-docs/date-pickers/localization-provider.json
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: docs, component: pickers

#8483 [docs] Update monorepo to get the test files parsing
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/year-calendar.json
  yarn.lock
Labels: docs

#8356 [charts] Support Tooltip
  dangerfile.js
  docs/data/charts/bars/Composition.js
  docs/data/charts/bars/Composition.tsx
  docs/data/charts/bars/CompositionResponsive.js
  docs/data/charts/bars/CompositionResponsive.tsx
  docs/data/charts/bars/bars.md
  docs/data/charts/overview/Combining.js
  docs/data/charts/overview/Combining.tsx
  docs/data/charts/overview/overview.md
  docs/data/charts/scatter/BasicScatterChart.js
  docs/data/charts/scatter/BasicScatterChart.tsx
  docs/data/charts/scatter/Composition.js
  docs/data/charts/scatter/Composition.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/Highlight/Highlight.tsx
  packages/x-charts/src/Highlight/index.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/Surface.tsx
  packages/x-charts/src/Tooltip/Tooltip.tsx
  packages/x-charts/src/Tooltip/index.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/index.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: component: charts

#8598 [docs] Add no-op service worker to fix stale cache issue
  docs/src/sw.js
Labels: docs

#8611 [docs] Fix typo on picker page description
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers

#8496 [DataGrid] Add `getTogglableColumns` to `Hide all` and `Show all` actions
  packages/grid/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid

#8668 [core] Upgrade monorepo
  yarn.lock
Labels: core

#7969 [DataGridPro] Virtualize row detail panels
  packages/grid/x-data-grid-pro/src/components/DataGridProVirtualScroller.tsx
  packages/grid/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: performance, component: data grid, plan: Pro, feature: Master-detail, CLA: signed

#8067 [data grid] Add Grid + Joy UI experiment page
  benchmark/package.json
  docs/data/data-grid/joy-ui/GridJoyUISlots.js
  docs/data/data-grid/joy-ui/GridJoyUISlots.tsx
  docs/data/data-grid/joy-ui/joy-ui.md
  docs/next.config.js
  docs/package.json
  docs/pages/x/react-data-grid/experiments/joy-ui.js
  package.json
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/components/panel/GridPanel.tsx
  packages/grid/x-data-grid/src/joy/index.ts
  packages/grid/x-data-grid/src/joy/joySlots.tsx
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  yarn.lock
Labels: component: data grid, customization: css

#8657 [pickers] Do not include the time in date components when going to today
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internal/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers-pro/src/internal/utils/valueManagers.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.types.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/models/fields.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: bug 🐛, component: pickers

#8674 [pickers] Sync internal state with controlled value
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
Labels: bug 🐛, component: pickers

#8688 v6.2.1
  CHANGELOG.md
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#8690 [docs] Fix `x-codemod` package version in changelog
  CHANGELOG.md
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.test.tsx
Labels: docs

#8600 [pickers] Migrate `AdapterLuxon` to our repository
  codecov.yml
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterLuxon/index.ts
  packages/x-date-pickers/src/AdapterLuxon/localization.test.tsx
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testLocalization.ts
  patches/@date-io+luxon+2.16.1.patch
Labels: component: pickers

#8698 [docs] Fix Hijri demo
  docs/data/date-pickers/calendar-systems/AdapterHijri.js
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx.preview
Labels: docs

#8414 [docs] Fix columns special properties code example
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs, component: data grid

#7346 [docs] Use community version of data grid for column grouping demo
  docs/data/data-grid/column-groups/BasicGroupingDemo.js
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx.preview
  docs/data/data-grid/column-groups/CustomizationDemo.js
  docs/data/data-grid/column-groups/CustomizationDemo.tsx
  docs/data/data-grid/column-groups/CustomizationDemo.tsx.preview
Labels: docs, component: data grid, needs cherry-pick

#8700 [pickers] Migrate `AdapterMoment` to our repository
  codecov.yml
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMoment/index.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/describeGregorianAdapter.types.ts
Labels: component: pickers

#8734 [pickers] Do not use `instanceOf DateTime` in `AdapterLuxon`
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
Labels: component: pickers

#8699 [data grid] Add Joy UI slots (button and switch)
  docs/data/data-grid/joy-ui/GridJoyUISlots.js
  docs/data/data-grid/joy-ui/GridJoyUISlots.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
Labels: component: data grid, Joy UI support

#8659 [field] Pass the `readOnly` prop to `InputProps` instead of `inputProps`
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
Labels: component: pickers

#8738 [pickers] Use en dash instead of em dash in multi input range fields
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
Labels: component: pickers, design: ui

#8694 [data grid] Fix aggregation label alignment
  packages/grid/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, design: ui, feature: Aggregation, enhancement

#8739 [charts] Link the Gantt Charts issue in the docs
  docs/data/charts/gantt/gantt.md
  docs/data/charts/lines/lines.md
  docs/data/pages.ts
  docs/pages/x/react-charts/gantt.js
Labels: docs, component: charts

#8752 [docs] Add icons for charts menu
  docs/.link-check-errors.txt
  docs/data/pages.ts
  yarn.lock
Labels: docs, component: charts

#8701 [charts] Adapt line and scatter the band scale
  packages/x-charts/src/Highlight/Highlight.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/internals/getCurve.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: component: charts

#8652 [core] Cleanup picker tests
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.test.tsx
  packages/x-date-pickers/src/DatePicker/tests/DatePicker.test.tsx
  packages/x-date-pickers/src/DatePicker/tests/describes.DatePicker.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/timezone.DateTimeField.test.tsx
  packages/x-date-pickers/src/DateTimePicker/tests/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describes.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describes.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/describes.MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/StaticDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/describes.StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/tests/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/tests/describes.StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimePicker/tests/TimePicker.test.tsx
  packages/x-date-pickers/src/tests/describePicker/describePicker.tsx
  packages/x-date-pickers/src/tests/describePicker/describePicker.types.ts
  packages/x-date-pickers/src/tests/describePicker/index.ts
  packages/x-date-pickers/src/tests/describeValidation/describeValidation.ts
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
Labels: test, core, component: pickers

#8341 [docs] Use new `slots` / `slotProps` props in the pickers migration guide
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#8753 [l10n] Improve Chinese (zh-CN) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/x-date-pickers/src/locales/zhCN.ts
Labels: component: data grid, l10n, component: pickers

#8773 [pickers] Fix date calendar `selected` & `disabled` day style
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: bug 🐛, component: pickers, design: ui

#8730 [DataGridPro] Fix error after updating `columns` and `columnGroupingModel` at once
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
  packages/grid/x-data-grid/src/tests/columnsGrouping.DataGrid.test.tsx
Labels: component: data grid, plan: Pro, regression, feature: Column grouping

#8777 [docs] Fix error in `minDateTime` `validation` page section
  docs/data/date-pickers/validation/validation.md
Labels: docs, component: pickers

#8779 [core] Use `adapter.lib` instead of `adapterName` in `describeAdapters`
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/tests/describeAdapters/describeAdapters.ts
Labels: test, core, component: pickers

#8783 [l10n] Improve Turkish (tr-TR) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/grid/x-data-grid/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/trTR.ts
Labels: component: data grid, l10n, component: pickers

#8784 v6.3.0
  CHANGELOG.md
  docs/package.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#8764 [docs] clarify what <path> is
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers

#8778 [chart] Clean some styling
  docs/data/charts/styling/ColorTemplate.js
  docs/data/charts/styling/ColorTemplate.tsx
  docs/data/charts/styling/styling.md
  docs/data/pages.ts
  docs/pages/x/react-charts/styling.js
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/extremums.ts
  packages/x-charts/src/ChartContainer/index.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
Labels: component: charts

#8792 [charts] Improve tooltip
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/StackedAreas.js
  docs/data/charts/lines/StackedAreas.tsx
  docs/tsconfig.json
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/Tooltip/AxisTooltipContent.tsx
  packages/x-charts/src/Tooltip/ItemTooltipContent.tsx
  packages/x-charts/src/Tooltip/Tooltip.tsx
  packages/x-charts/src/Tooltip/TooltipTable.tsx
  packages/x-charts/src/Tooltip/utils.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/internals/defaultizeValueFormatter.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: component: charts

#8794 [pickers] Fix `minutesStep` validation prop behavior
  packages/x-date-pickers-pro/src/internal/models/dateTimeRange.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/validation.ts
  packages/x-date-pickers/src/internals/utils/validation/extractValidationProps.ts
  packages/x-date-pickers/src/tests/describeValidation/testTextFieldValidation.tsx
Labels: regression, component: pickers

#8654 [charts] Improvement and docs on axis
  docs/data/charts/axis/AxisCustomizationNoSnap.js
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/MinMaxExample.js
  docs/data/charts/axis/MinMaxExample.tsx
  docs/data/charts/axis/ModifyAxisPosition.js
  docs/data/charts/axis/ModifyAxisPosition.tsx
  docs/data/charts/axis/ModifyAxisPosition.tsx.preview
  docs/data/charts/axis/ScaleExample.js
  docs/data/charts/axis/ScaleExample.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/Composition.js
  docs/data/charts/bars/Composition.tsx
  docs/data/charts/bars/CompositionResponsive.js
  docs/data/charts/bars/CompositionResponsive.tsx
  docs/data/charts/bars/TestBars.js
  docs/data/charts/bars/TestBars.tsx
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/StackedAreas.js
  docs/data/charts/lines/StackedAreas.tsx
  docs/data/charts/lines/TestLines.js
  docs/data/charts/lines/TestLines.tsx
  docs/data/charts/lines/TestLinesTime.js
  docs/data/charts/lines/TestLinesTime.tsx
  docs/data/charts/overview/Combining.js
  docs/data/charts/overview/Combining.tsx
  docs/data/charts/overview/SimpleCharts.js
  docs/data/charts/overview/SimpleCharts.tsx
  docs/data/charts/scatter/Composition.js
  docs/data/charts/scatter/Composition.tsx
  docs/data/charts/tooltip/tooltip.md
  docs/data/pages.ts
  docs/pages/x/react-charts/axis.js
  docs/pages/x/react-charts/tooltip.js
  docs/src/modules/components/ChartsUsageDemo.js
  docs/src/modules/components/DemoPropsForm.tsx
  packages/x-charts/src/Axis/Axis.tsx
  packages/x-charts/src/Axis/index.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/ResponsiveChartContainer/index.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/XAxis/XAxis.tsx
  packages/x-charts/src/YAxis/YAxis.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/models/axis.ts
Labels: docs, component: charts
