Repository mui/mui-x, pull requests merged in 2023-08, with the labels that each got.

#9862 [TreeView] Add missing exported types
  packages/x-tree-view/src/TreeView/index.ts
  scripts/x-tree-view.exports.json
Labels: component: tree view

#9855 [TreeView] Improve props typing
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/tree-item.json
  docs/translations/api-docs/tree-view/tree-view.json
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem/index.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.types.ts
  packages/x-tree-view/src/internals/models.ts
Labels: typescript, component: tree view

#9870 [pickers] Allow to override the opening aria text using the `localeText` prop on the pickers
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
Labels: bug 🐛, component: pickers

#9885 [charts] Add TS definition to the exported elements
  packages/x-charts/package.json
Labels: component: charts

#9888 [core] Fix the link-check script on Windows
  docs/scripts/utils.ts
Labels: core

#9887 [pickers] Fix default descriptions
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: component: pickers, dx

#9886 [charts] Fix missing configuration types
  packages/x-charts/src/models/index.ts
  scripts/x-charts.exports.json
Labels: typescript, component: charts

#9627 [DataGrid][l10n] Improve Italian (it-IT) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/itIT.ts
Labels: component: data grid, l10n

#9662 [charts] Add sparkline
  docs/data/charts-component-api-pages.ts
  docs/data/charts/sparkline/AreaSparkLine.js
  docs/data/charts/sparkline/AreaSparkLine.tsx
  docs/data/charts/sparkline/AreaSparkLine.tsx.preview
  docs/data/charts/sparkline/BasicSparkLine.js
  docs/data/charts/sparkline/BasicSparkLine.tsx
  docs/data/charts/sparkline/BasicSparkLine.tsx.preview
  docs/data/charts/sparkline/BasicSparkLineCustomization.js
  docs/data/charts/sparkline/BasicSparkLineCustomization.tsx
  docs/data/charts/sparkline/CustomAxis.js
  docs/data/charts/sparkline/CustomAxis.tsx
  docs/data/charts/sparkline/sparkline.md
  docs/data/charts/tooltip/tooltip.md
  docs/data/pages.ts
  docs/pages/x/api/charts/spark-line-chart.js
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/react-charts/sparkline.js
  docs/translations/api-docs/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/SparkLineChart/index.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/index.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/common.ts
  scripts/x-charts.exports.json
Labels: component: charts

#9842 [docs] Fix demo using Pro while it's MIT
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/ValidateServerNameGrid.js
  docs/data/data-grid/editing/ValidateServerNameGrid.tsx
  docs/data/data-grid/editing/ValidateServerNameGrid.tsx.preview
  docs/data/data-grid/recipes-editing/MultilineEditing.js
  docs/data/data-grid/recipes-editing/MultilineEditing.tsx
  docs/data/data-grid/recipes-editing/MultilineEditing.tsx.preview
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  docs/data/pages.ts
Labels: docs, component: data grid

#9878 [core] Fix v7 capitalization
  docs/data/data-grid/filtering/customization.md
  docs/pages/x/api/data-grid/grid-filter-operator.md
  packages/grid/x-data-grid/src/colDef/utils.ts
  packages/grid/x-data-grid/src/models/gridFilterOperator.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs

#9894 [core] Fix pipeline
  docs/pages/x/api/charts/spark-line-chart.js
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/spark-line-chart.json
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: core

#7784 [pickers] Add `CalendarHeader` slot
  docs/data/date-pickers-component-api-pages.ts
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/index.md
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/pickers-calendar-header.js
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/pickers-calendar-header.json
  docs/translations/api-docs/date-pickers/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/index.ts
  packages/x-date-pickers/src/PickersCalendarHeader/pickersCalendarHeaderClasses.ts
  packages/x-date-pickers/src/internals/hooks/date-helpers-hooks.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#9890 Bump @mui/monorepo
  docs/data/pages.ts
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-filter-panel.json
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/day-calendar-skeleton.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/pickers-day.json
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-field.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/scripts/api/buildComponentsDocumentation.ts
  yarn.lock
Labels: core

#9902 [core] Regen doc
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
Labels: core

#9896 [fields] Correctly handle events with a complete value insertion
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  test/e2e/index.test.ts
Labels: test, component: pickers, enhancement, feature: Keyboard editing

#9903 [TreeView] Add tree view to changelog generator script
  scripts/releaseChangelog.mjs
Labels: core, component: tree view

#9901 [fields] Fix hours editing on dayjs with timezone and DST
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#9905 v6.11.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#9744 [charts] Use `slot`/`slotProps` for customization
  docs/pages/x/api/charts/area-element.json
  docs/pages/x/api/charts/area-plot.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-element.json
  docs/pages/x/api/charts/line-plot.json
  docs/pages/x/api/charts/mark-plot.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/pie-plot.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-plot.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/area-element.json
  docs/translations/api-docs/charts/area-plot.json
  docs/translations/api-docs/charts/bar-chart.json
  docs/translations/api-docs/charts/bar-plot.json
  docs/translations/api-docs/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/line-element.json
  docs/translations/api-docs/charts/line-plot.json
  docs/translations/api-docs/charts/mark-plot.json
  docs/translations/api-docs/charts/pie-chart.json
  docs/translations/api-docs/charts/pie-plot.json
  docs/translations/api-docs/charts/scatter-chart.json
  docs/translations/api-docs/charts/scatter-plot.json
  docs/translations/api-docs/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: component: charts

#9915 [DataGrid] `getCellAggregationResult`: handle null rowNode case
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
Labels: bug 🐛, component: data grid

#9920 [docs] Clarify the `shouldDisableClock` migration code options
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
Labels: docs, component: pickers, enhancement

#9952 [charts] Fix label and tick alignment
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/components/BasicScaleDemo.js
  docs/data/charts/components/BasicScaleDemo.tsx
  docs/data/charts/components/ScaleDemo.js
  docs/data/charts/components/ScaleDemo.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
Labels: bug 🐛, component: charts

#9924 [core] Port GitHub workflow for ensuring triage label is present
  .github/workflows/ensure-triage-label.yml
Labels: core

#9974 [pickers] Call `onChange` when selecting a picker with `changeImportance="set"`
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/tests/describeValue/describeValue.tsx
  packages/x-date-pickers/src/tests/describeValue/testPickerActionBar.tsx
  packages/x-date-pickers/src/tests/describeValue/testShortcuts.tsx
  test/utils/pickers/assertions.ts
Labels: bug 🐛, component: pickers

#9639 [l10n][pickers] Improve Icelandic (is-IS) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/isIS.ts
Labels: l10n

#9978 [pickers] Refactor `themeAugmentation` `styleOverrides`
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field.json
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/index.ts
  packages/x-date-pickers-pro/src/models/index.ts
  packages/x-date-pickers-pro/src/models/multiInputRangeFieldClasses.ts
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
Labels: typescript, component: pickers, enhancement

#9967 [TreeView] Add theme augmentation
  docs/data/tree-view/overview/overview.md
  packages/x-tree-view/src/themeAugmentation/components.d.ts
  packages/x-tree-view/src/themeAugmentation/index.js
  packages/x-tree-view/src/themeAugmentation/index.ts
  packages/x-tree-view/src/themeAugmentation/overrides.d.ts
  packages/x-tree-view/src/themeAugmentation/props.d.ts
  packages/x-tree-view/src/themeAugmentation/themeAugmentation.spec.ts
Labels: bug 🐛, component: tree view

#9979 [pickers] Always respect locale when formatting meridiem
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describes.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/models/adapters.ts
  test/utils/pickers/viewHandlers.ts
Labels: bug 🐛, component: pickers

#9980 [charts] extend cheerful fiesta palette
  packages/x-charts/src/colorPalettes/colorPalettes.ts
Labels: component: charts

#9996 [charts] Remove not functional component `styleOverrides`
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
Labels: bug 🐛, typescript, component: charts

#9994 Bump `@mui/monorepo`
  docs/pages/x/api/charts/charts-axis.json
  docs/translations/api-docs/charts/charts-axis.json
  yarn.lock
Labels: core

#10002 v6.11.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#9999 [l10n] Improve Chinese (zh-CN) and Chinese(traditional) (zh-TW) locales
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/zhCN.ts
  packages/grid/x-data-grid/src/locales/zhTW.ts
Labels: l10n

#9831 [core] Remove unnecessary Box
  docs/data/charts/stacking/StackOffsetDemo.js
  docs/data/charts/stacking/StackOffsetDemo.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
  docs/data/charts/tooltip/ElementHighlights.js
  docs/data/charts/tooltip/ElementHighlights.tsx
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.js
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/data/data-grid/row-height/ExpandableCells.tsx
  docs/src/modules/components/ToggleOptions.tsx
Labels: core

#9987 [docs] Add migration guide for the Tree View
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-tree-view-lab/migration-tree-view-lab.md
  docs/data/pages.ts
  docs/pages/x/migration/migration-tree-view-lab.js
Labels: docs, component: tree view

#9712 [DataGrid] Lower filter debounce delay
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/filtering/CustomMultiValueOperator.js
  docs/data/data-grid/filtering/CustomMultiValueOperator.tsx
  docs/data/data-grid/filtering/QuickFilteringGrid.js
  docs/data/data-grid/filtering/QuickFilteringGrid.tsx
  docs/data/data-grid/filtering/QuickFilteringGrid.tsx.preview
  docs/data/data-grid/filtering/QuickFilteringInitialize.js
  docs/data/data-grid/filtering/QuickFilteringInitialize.tsx
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid.json
  package.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGrid.tsx
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGrid.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/grid/x-data-grid/src/hooks/utils/useTimeout.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, feature: Filtering

#9965 [DataGrid] Unhide potential ref binding issue
  packages/grid/x-data-grid-pro/src/components/GridDetailPanel.tsx
Labels: performance, component: data grid

#10040 [DataGrid] Docs: update column types
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs, component: data grid

#9863 [DataGrid] Fix eval blocked by CSP
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#10051 [DataGrid] Fix row id bug
  docs/pages/x/api/data-grid/grid-api.md
  packages/grid/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/grid/x-data-grid/src/models/api/gridRowApi.ts
Labels: component: data grid

#10037 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/esES.ts
Labels: l10n

#10052 [pickers] Replace `Grid` toolbar component with a styled `div`
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
Labels: bug 🐛, component: pickers

#10060 v6.11.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10045 [DataGrid] Allow print export for more than 100 rows
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
Labels: bug 🐛, component: data grid, feature: Export

#9925 [core] Enable strict type checking options in the top-level tsconfig
  docs/scripts/tsconfig.json
  docs/tsconfig.json
  packages/grid/x-data-grid-generator/tsconfig.json
  packages/grid/x-data-grid-premium/tsconfig.json
  packages/grid/x-data-grid-pro/tsconfig.json
  packages/grid/x-data-grid/tsconfig.json
  packages/x-codemod/tsconfig.json
  packages/x-date-pickers-pro/tsconfig.json
  packages/x-date-pickers/tsconfig.json
  packages/x-license-pro/tsconfig.json
  packages/x-tree-view/tsconfig.json
  tsconfig.json
Labels: core, typescript

#10029 [pickers] Improve the typing of the adapter `dateWithTimezone` method
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/DateCalendar/tests/timezone.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/timezone.DateTimeField.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/timezone.DigitalClock.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/timezone.TimeClock.test.tsx
  packages/x-date-pickers/src/internals/hooks/date-helpers-hooks.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/validation/validateDate.ts
  packages/x-date-pickers/src/internals/utils/validation/validateTime.ts
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/tests/describeGregorianAdapter/testCalculations.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: typescript, component: pickers

#9973 [fields] Do not clamp day of month
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: component: pickers

#10105 [charts] Fix slotProps propagation
  packages/x-charts/src/LineChart/MarkPlot.tsx
Labels: bug 🐛, component: charts

#10069 [pickers] Fix to `transform-origin` when popper opens to `top`
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: bug 🐛, component: pickers, design

#9992 [charts] Support horizontal bar chart
  docs/data/charts/bar-demo/PositiveAndNegativeBarChart.js
  docs/data/charts/bar-demo/PositiveAndNegativeBarChart.tsx
  docs/data/charts/bar-demo/bar-demo.md
  docs/data/charts/bars/HorizontalBars.js
  docs/data/charts/bars/HorizontalBars.tsx
  docs/data/charts/bars/HorizontalBars.tsx.preview
  docs/data/charts/bars/bars.md
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/extremums.ts
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/seriesType/bar.ts
Labels: component: charts

#10082 [docs] Fix some charts horizontal overflow on mobile devices
  docs/data/charts/lines/InterpolationDemo.js
  docs/data/charts/lines/InterpolationDemo.tsx
  docs/data/charts/stacking/StackOffsetDemo.js
  docs/data/charts/stacking/StackOffsetDemo.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/styling/ColorTemplate.js
  docs/data/charts/styling/ColorTemplate.tsx
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
  docs/data/charts/tooltip/ElementHighlights.js
  docs/data/charts/tooltip/ElementHighlights.tsx
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/data/charts/tooltip/Interaction.tsx.preview
Labels: component: charts

#10102 [core] Update `no-response` workflow
  .github/workflows/no-response.yml
Labels: core

#10103 [pickers] Fix `ownerState` on `desktopPaper` slot props
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: bug 🐛, component: pickers

#10111 [charts] Fix import issue
  packages/x-charts/package.json
Labels: bug 🐛, component: charts

#10109 [pickers] Make `openPickerButton` toggle picker
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
Labels: component: pickers, design

#10119 [docs] Address charts docs feedback
  docs/data/charts/legend/DimensionsNoSnap.js
  docs/data/charts/legend/LegendCustomizationNoSnap.js
  docs/data/charts/lines/InterpolationDemo.tsx
  docs/data/charts/lines/InterpolationDemoNoSnap.js
  docs/data/charts/lines/lines.md
Labels: component: charts

#10026 [docs] Fix a11y issue on plan links
  CHANGELOG.md
  README.md
  docs/data/data-grid/aggregation/aggregation.md
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/data-grid/column-dimensions/column-dimensions.md
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-menu/column-menu.md
  docs/data/data-grid/column-ordering/column-ordering.md
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/filtering/header-filters.md
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/filtering/multi-filters.md
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/data/data-grid/row-selection/row-selection.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/data-grid/sorting/sorting.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/fields/fields.md
  docs/data/date-pickers/lifecycle/lifecycle.md
  docs/data/date-pickers/overview/overview.md
  docs/data/date-pickers/shortcuts/shortcuts.md
  docs/data/date-pickers/time-range-field/time-range-field.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
  docs/data/introduction/installation/installation.md
  docs/data/introduction/licensing/licensing.md
  docs/data/introduction/overview/overview.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/scripts/api/buildComponentsDocumentation.ts
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid/README.md
  scripts/releaseChangelog.mjs
Labels: bug 🐛, docs, accessibility

#9864 [pickers] Update `reduceAnimations` default rule
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDefaultReduceAnimations.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
Labels: performance, component: pickers, enhancement, design

#10125 [core] Remove oudated link
  packages/x-date-pickers/src/internals/hooks/useValidation.ts
Labels: core, component: pickers

#10129 [core] Bump monorepo
  docs/src/modules/components/DemoPropsForm.tsx
  yarn.lock
Labels: core

#10076 [l10n] Improve Ukranian (uk-UA) locale for data grid
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/ukUA.ts
Labels: component: data grid, l10n

#10134 [core] Increase global e2e timeout
  test/e2e/index.test.ts
Labels: test, core

#10136 v6.12.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10139 [docs] Reorganize the page menu
  docs/data/pages.ts
Labels: docs

#10041 [DataGrid] Fix `valueFormatter` being persisted on column type change
  packages/grid/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/grid/x-data-grid/src/tests/columns.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#10165 [docs] Precise Expired license key condition
  docs/data/introduction/licensing/licensing.md
Labels: docs, plan: Pro, plan: Premium

#10169 [docs] Fix wrong chart tooltip reference
  docs/data/charts/overview/overview.md
  docs/data/charts/tooltip/BandHighlight.js
  docs/data/charts/tooltip/BandHighlight.tsx
  docs/data/charts/tooltip/tooltip.md
Labels: docs, component: charts

#10117 [charts] Move the line item highligh into a dedicated component
  docs/data/charts-component-api-pages.ts
  docs/data/charts/areas-demo/PercentAreaChart.js
  docs/data/charts/areas-demo/PercentAreaChart.tsx
  docs/data/charts/areas-demo/SimpleAreaChart.js
  docs/data/charts/areas-demo/SimpleAreaChart.tsx
  docs/data/charts/areas-demo/SimpleAreaChart.tsx.preview
  docs/data/charts/areas-demo/StackedAreaChart.js
  docs/data/charts/areas-demo/StackedAreaChart.tsx
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/lines/MarkOptimization.js
  docs/data/charts/lines/MarkOptimization.tsx
  docs/data/charts/lines/MarkOptimization.tsx.preview
  docs/data/charts/lines/StackedAreas.js
  docs/data/charts/lines/StackedAreas.tsx
  docs/data/charts/lines/lines.md
  docs/data/charts/tooltip/Formatting.js
  docs/data/charts/tooltip/Formatting.tsx
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-highlight-element.js
  docs/pages/x/api/charts/line-highlight-element.json
  docs/pages/x/api/charts/line-highlight-plot.js
  docs/pages/x/api/charts/line-highlight-plot.json
  docs/translations/api-docs/charts/line-chart.json
  docs/translations/api-docs/charts/line-highlight-element.json
  docs/translations/api-docs/charts/line-highlight-plot.json
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/index.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/models/seriesType/line.ts
  scripts/x-charts.exports.json
Labels: component: charts

#10170 [docs] Improve chart SEO
  docs/data/charts/bars/bars.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/lines/lines.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/sparkline/sparkline.md
  docs/data/charts/tree-map/tree-map.md
Labels: docs, component: charts

#9713 [core] Update babel configs
  babel.config.js
  docs/babel.config.js
Labels: core

#10181 [docs] Add tree view nav item
  docs/next.config.js
  docs/pages/_app.js
Labels: bug 🐛, docs, component: tree view

#10187 [test] Disable false positive e2e test on webkit
  test/e2e/index.test.ts
Labels: test

#10184 [docs] Add link to `custom layout` page
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers, support: docs-feedback

#10186 [docs] Add `DemoContainer` and `DemoItem` JSDoc
  packages/x-date-pickers/src/internals/demo/DemoContainer.tsx
Labels: docs, component: pickers, enhancement

#10190 v6.12.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#10175 [DataGrid] Fix custom column docs, remove legacy `extendType`
  docs/data/data-grid/filtering/customization.md
  packages/grid/x-data-grid/src/models/colDef/gridColDef.ts
Labels: docs, component: data grid
