Repository mui/mui-x, pull requests merged in 2024-09, with the labels that each got.

#14421 [l10n] Add missing translation (fr-FR)
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/frFR.ts
Labels: l10n

#14351 [docs] Remove notion of seats
  docs/data/introduction/licensing/licensing.md
Labels: docs

#14420 [core] Reset permissions for codspeed GitHub Action
  .github/workflows/codspeed.yml
Labels: core, security

#14448 [DataGrid] Remove cell min-width / max-width styles
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: performance, component: data grid

#14457 [core] Fix failing tests on the pickers
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
Labels: core, component: pickers

#14297 [charts] Use real world data for `PieChart` examples
  docs/data/charts/pie/PieActiveArc.js
  docs/data/charts/pie/PieActiveArc.tsx
  docs/data/charts/pie/PieActiveArc.tsx.preview
  docs/data/charts/pie/PieAnimation.js
  docs/data/charts/pie/PieAnimation.tsx
  docs/data/charts/pie/PieArcLabel.js
  docs/data/charts/pie/PieArcLabel.tsx
  docs/data/charts/pie/PieArcLabel.tsx.preview
  docs/data/charts/pie/PieClickNoSnap.js
  docs/data/charts/pie/PieColor.js
  docs/data/charts/pie/PieColor.tsx
  docs/data/charts/pie/PieShapeNoSnap.js
  docs/data/charts/pie/webUsageStats.ts
Labels: docs, component: charts, size:L

#14125 [pickers] Keep the calendar header and content in sync when switching locale
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.spec.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.spec.tsx
  packages/x-date-pickers/src/DateCalendar/tests/localization.DateCalendar.test.tsx
Labels: bug 🐛, component: pickers

#14392 [charts] Pass all props to legend
  docs/pages/x/api/charts/charts-legend.json
  docs/pages/x/api/charts/default-charts-legend.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/piecewise-color-legend.json
  docs/translations/api-docs/charts/charts-legend/charts-legend.json
  docs/translations/api-docs/charts/default-charts-legend/default-charts-legend.json
  docs/translations/api-docs/charts/piecewise-color-legend/piecewise-color-legend.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/LegendPerItem.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: docs, typescript, enhancement, component: charts

#14368 [DataGrid] Fix error on simultaneous `columns` and `columnGroupingModel` update
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/tests/columnGrouping.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Column groups

#14398 [l10n] Improve Dutch (nl-NL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/nlNL.ts
Labels: component: data grid, l10n

#14443 [docs] Remove TypeScript v3 outdated version mentions
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/style/style.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/tree-view/getting-started/getting-started.md
Labels: docs

#14293 [DataGrid] Column header design updates
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/material/icons/index.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, design, size:L

#14150 [codemod] Fix `experimentalFeatures` codemod for typescript parser
  packages/x-codemod/src/util/removeObjectProperty.ts
  packages/x-codemod/src/v7.0.0/data-grid/remove-stabilized-experimentalFeatures/remove-stabilized-experimentalFeatures.test.ts
  packages/x-codemod/src/v7.0.0/data-grid/remove-stabilized-experimentalFeatures/ts-actual.spec.tsx
  packages/x-codemod/src/v7.0.0/data-grid/remove-stabilized-experimentalFeatures/ts-expected.spec.tsx
Labels: bug 🐛, component: data grid, package: codemod

#14466 [code-infra] Update runners from node 18 to 20
  .circleci/config.yml
  .codesandbox/ci.json
  netlify.toml
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: scope: code-infra

#14483 [code-infra] Add babel runtime version check
  babel.config.js
  scripts/build.mjs
Labels: scope: code-infra

#14471 [DataGrid] Fix separator styles on touch devices
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid, enhancement, feature: Column resize

#14497 [charts] Fix JSDocs typo
  docs/translations/api-docs/charts/default-heatmap-tooltip/default-heatmap-tooltip.json
  packages/x-charts-pro/src/Heatmap/DefaultHeatmapTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
Labels: component: charts

#14499 [infra] Switch 'add closing message' to reusable workflow
  .github/workflows/closed-issue-message.yaml
Labels: scope: infra

#14501 [pickers] Move multi input range field validation tests to the describe test file
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/describes.MultiInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/describes.MultiInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.validation.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/describes.MultiInputTimeRangeField.test.tsx
Labels: test, core, component: pickers

#14505 [pickers] Stop using utils in locales
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/locales/beBY.ts
  packages/x-date-pickers/src/locales/caES.ts
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/daDK.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/elGR.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/eu.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/heIL.ts
  packages/x-date-pickers/src/locales/huHU.ts
  packages/x-date-pickers/src/locales/isIS.ts
  packages/x-date-pickers/src/locales/itIT.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/koKR.ts
  packages/x-date-pickers/src/locales/kzKZ.ts
  packages/x-date-pickers/src/locales/mk.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/nnNO.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/roRO.ts
  packages/x-date-pickers/src/locales/ruRU.ts
  packages/x-date-pickers/src/locales/skSK.ts
  packages/x-date-pickers/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/urPK.ts
  packages/x-date-pickers/src/locales/utils/getPickersLocalization.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/locales/viVN.ts
  packages/x-date-pickers/src/locales/zhCN.ts
  packages/x-date-pickers/src/locales/zhHK.ts
Labels: component: pickers, customization: extend

#14442 [DateRangePicker] Fix `currentMonthCalendarPosition` not scrolling to future sibling
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
Labels: bug 🐛, plan: Pro, component: pickers, component: DateRangePicker, CLA: signed

#14489 [DataGrid] Add "does not equal" and "does not contain" filter operators
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/colDef/gridStringOperators.ts
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/isIS.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/nnNO.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: component: data grid, feature: Filtering

#14529 [test] Remove dead `act()` logic
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
Labels: test, component: data grid

#14506 [l10n] Improve Hungarian (hu-HU) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/huHU.ts
Labels: component: data grid, l10n

#14528 [core] Move warning methods to `@mui/x-internals`
  packages/x-charts/src/ChartsReferenceLine/ChartsXReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsYReferenceLine.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/internals/utils/index.ts
  packages/x-data-grid/src/internals/utils/propValidation.ts
  packages/x-data-grid/src/internals/utils/warning.ts
  packages/x-data-grid/src/utils/createSelector.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/warning.ts
  packages/x-internals/src/warning/index.ts
  packages/x-internals/src/warning/warning.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/utils/warning.ts
  test/utils/mochaHooks.js
Labels: core, CLA: signed

#14513 [DataGrid] Fix bug in CRUD example
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
Labels: bug 🐛, docs, component: data grid, feature: Editing

#14547 [charts] Fix onAxisClick with layour='horizontal'
  packages/x-charts/src/BarChart/checkClickEvent.test.tsx
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
Labels: component: charts

#14554 [docs] Fix multiple `console.error` messages on `charts` docs
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/scatter/ColorScale.js
  docs/data/charts/scatter/ColorScale.tsx
  docs/data/charts/styling/CustomOverlay.js
  docs/data/charts/styling/CustomOverlay.tsx
Labels: docs, component: charts

#14498 [TreeView] Make `useTreeItem2` stable
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.js
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/customization/HeadlessAPI.js
  docs/data/tree-view/rich-tree-view/customization/HeadlessAPI.tsx
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.js
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.tsx
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.js
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderFromDragHandle.js
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderFromDragHandle.tsx
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/HeadlessAPI.js
  docs/data/tree-view/simple-tree-view/customization/HeadlessAPI.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/useTreeItem2/index.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: component: tree view

#14564 [DataGrid] Refactor string operator filter functions
  packages/x-data-grid/src/colDef/gridStringOperators.ts
Labels: component: data grid

#14514 [fields] Improve `useSplitFieldProps` and make it public
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/useSplitFieldProps.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/fields.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#14574 [infra] Create `ESLint plugins` renovate group
  renovate.json
Labels: core, scope: code-infra

#14577 [infra] Fix renovate ESLInt group config
  renovate.json
Labels: core, scope: infra

#14531 [license] Clean-up terminology to match codebase
  packages/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license/src/generateLicense/generateLicense.test.ts
  packages/x-license/src/generateLicense/generateLicense.ts
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license/src/utils/index.ts
  packages/x-license/src/utils/licenseModel.ts
  packages/x-license/src/utils/plan.ts
  packages/x-license/src/verifyLicense/verifyLicense.test.ts
  packages/x-license/src/verifyLicense/verifyLicense.ts
  scripts/x-license.exports.json
  test/utils/testLicense.js
Labels: core, package: x-license

#14243 [pickers][fields] Improve clear action label
  packages/x-date-pickers/src/locales/beBY.ts
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/elGR.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/isIS.ts
  packages/x-date-pickers/src/locales/kzKZ.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/skSK.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/urPK.ts
  test/e2e/index.test.ts
Labels: component: pickers, feature: Keyboard editing, design

#14549 [docs] Fixed typo in Recipes Row Grouping
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
Labels: docs, component: data grid, feature: Row grouping

#14231 [charts] Allow `onItemClick` on the `Legend` component
  docs/data/charts/legend/LegendClickNoSnap.js
  docs/data/charts/legend/legend.md
  docs/pages/x/api/charts/charts-legend.json
  docs/pages/x/api/charts/default-charts-legend.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/piecewise-color-legend.json
  docs/translations/api-docs/charts/charts-legend/charts-legend.json
  docs/translations/api-docs/charts/default-charts-legend/default-charts-legend.json
  docs/translations/api-docs/charts/piecewise-color-legend/piecewise-color-legend.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/legend.ts
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegendItem.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/LegendPerItem.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/ChartsLegend/chartsLegend.types.ts
  packages/x-charts/src/ChartsLegend/chartsLegendClasses.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/legend.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/legend.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/legend.ts
Labels: enhancement, component: charts, size:XL

#14482 [DataGrid] Fix Voice Over reading the column name twice
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/x-data-grid/src/tests/columnGrouping.DataGrid.test.tsx
Labels: bug 🐛, accessibility, component: data grid

#14604 [core][charts] Remove dead code
  packages/x-charts/src/ResponsiveChartContainer/useChartContainerDimensions.ts
Labels: core

#14596 v7.17.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14599 [docs] Add `groupingValueGetter` callout in column definition docs
  docs/data/data-grid/column-definition/column-definition.md
Labels: docs, component: data grid, feature: Row grouping

#14602 [DataGridPro] Fix `onRowsScrollEnd` being triggered instantly when using a bottom pinned row
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, feature: Row pinning

#14581 [docs-infra] Strengthen CSP
  docs/public/_headers
Labels: security, scope: docs-infra

#14586 [DataGridPro] Fix pinned columns in RTL mode
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/utils/domUtils.ts
  test/regressions/data-grid/DataGridRTLPinnedColumns.js
Labels: component: data grid, plan: Pro, regression, feature: Column pinning

#14613 [docs] Warn about the `valueGetter` and `valueFormatter` signature change
  docs/data/data-grid/column-definition/column-definition.md
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
Labels: docs, component: data grid, v7.x migration

#14615 [license] Finish renaming of LicensingModel
  packages/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license/src/generateLicense/generateLicense.ts
  packages/x-license/src/utils/licenseModel.ts
Labels: core, package: x-license

#14640 [test] Spy on observe method to avoid flaky wait for a callback
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
Labels: test

#14553 [charts] Fix `LineChart` animation being stuck with initial drawing area value
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container-pro.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/responsive-chart-container-pro/responsive-chart-container-pro.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/ResponsiveChartContainerPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ResponsiveChartContainer/useChartContainerDimensions.ts
  packages/x-charts/src/ResponsiveChartContainer/useResponsiveChartContainerProps.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: bug 🐛, component: charts

#14603 [charts][docs] Polish code formatting
  docs/data/charts/composition/composition.md
Labels: docs, component: charts

#14641 [charts] Pass the axis index to extremum getter
  packages/x-charts-pro/src/context/CartesianProviderPro/createAxisFilterMapper.ts
  packages/x-charts/src/BarChart/extremums.test.ts
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
  packages/x-charts/src/context/CartesianProvider/getAxisExtremum.ts
  packages/x-charts/src/context/PluginProvider/ExtremumGetter.types.ts
Labels: component: charts

#14644 [core] Fix failing CI on master
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
Labels: core

#14579 [TreeView] Add `"use client"` directive to every public component and hook
  packages/rsc-builder/buildRsc.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/hooks/useTreeViewApiRef.tsx
Labels: component: pickers

#14649 [DataGrid] Fix document reference when the grid is rendered in a popup window
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid, feature: Editing, feature: Cell Selection

#14050 [data grid] Add default reset value in row edit mode
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/editing/utils.ts
  packages/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: component: data grid, feature: Editing, enhancement

#14493 [DataGridPro] Fix header filters rendering issue for `isEmpty` and `isNotEmpty` filter operators
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
Labels: component: data grid, regression, CLA: signed, feature: Filtering on header

#14652 [docs] Clean v6 => v7 migration guide
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs

#14450 [data-grid] Remove `minFirstColumn` from `GetHeadersParams` interface
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: component: data grid

#14642 [charts] Add a `PolarProvider` to manage polar axes
  packages/x-charts-pro/src/context/CartesianProviderPro/CartesianProviderPro.tsx
  packages/x-charts/src/context/CartesianProvider/CartesianProvider.tsx
  packages/x-charts/src/context/CartesianProvider/index.ts
  packages/x-charts/src/context/PluginProvider/Plugin.types.ts
  packages/x-charts/src/context/PluginProvider/PluginContext.ts
  packages/x-charts/src/context/PluginProvider/index.ts
  packages/x-charts/src/context/PluginProvider/mergePlugins.ts
  packages/x-charts/src/context/PluginProvider/useRadiusExtremumGetter.ts
  packages/x-charts/src/context/PluginProvider/useRotationExtremumGetter.ts
  packages/x-charts/src/context/PolarProvider/Polar.types.ts
  packages/x-charts/src/context/PolarProvider/PolarContext.ts
  packages/x-charts/src/context/PolarProvider/PolarProvider.tsx
  packages/x-charts/src/context/PolarProvider/getAxisExtremum.ts
  packages/x-charts/src/context/PolarProvider/index.ts
  packages/x-charts/src/context/PolarProvider/usePolarContext.ts
  packages/x-charts/src/internals/computeAxisValue.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#14650 [DataGridPremium] Fix onCellSelectionModelChange not triggered when additional cell range is selected
  .browserslistrc
  .github/workflows/vale-action.yml
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  yarn.lock
Labels: bug 🐛, component: data grid, v6.x, plan: Premium, cherry-pick, feature: Cell Selection

#14637 [DataGrid] Add `columnGroupHeaderHeight` prop for sizing column group headers
  docs/data/data-grid/column-groups/GroupHeaderHeight.js
  docs/data/data-grid/column-groups/GroupHeaderHeight.tsx
  docs/data/data-grid/column-groups/GroupHeaderHeight.tsx.preview
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/column-header/HeaderHeight.js
  docs/data/data-grid/column-header/HeaderHeight.tsx
  docs/data/data-grid/column-header/HeaderHeight.tsx.preview
  docs/data/data-grid/column-header/column-header.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, customization: css, feature: Column groups

#14660 [docs] Report Vale at warning level
  .vale.ini
  docs/data/charts/bars/bars.md
Labels: docs, scope: docs-infra

#14463 [data grid] remove unnecessary comment in `useGridApiOptionHandler`
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
Labels: component: data grid

#14673 [pickers] Support `date-fns` v4
  babel.config.js
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/src/modules/components/PickersRenderingInstructions.js
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsV3/AdapterDateFnsV3.ts
  pnpm-lock.yaml
Labels: component: pickers, enhancement

#14662 [DataGrid] Add `DataGridCssVars` regression demo
  test/regressions/data-grid/DataGridCssVars.js
Labels: test, component: data grid

#14124 [DataGrid] Row spanning
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/row-spanning/RowSpanning.js
  docs/data/data-grid/row-spanning/RowSpanning.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalender.js
  docs/data/data-grid/row-spanning/RowSpanningCalender.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalender.tsx.preview
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.js
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.tsx
  docs/data/data-grid/row-spanning/RowSpanningCustom.js
  docs/data/data-grid/row-spanning/RowSpanningCustom.tsx
  docs/data/data-grid/row-spanning/RowSpanningCustom.tsx.preview
  docs/data/data-grid/row-spanning/row-spanning.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-actions-col-def.json
  docs/pages/x/api/data-grid/grid-col-def.json
  docs/pages/x/api/data-grid/grid-single-select-col-def.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/grid-actions-col-def.json
  docs/translations/api-docs/data-grid/grid-col-def.json
  docs/translations/api-docs/data-grid/grid-single-select-col-def.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/utils.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowSpanningSelectors.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowSpanningUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/models/gridStateCommunity.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
Labels: component: data grid, new feature, feature: Row spanning

#14672 v6.20.5
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
Labels: release

#14670 v7.18.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#12901 [DataGrid] Fix background colors when `CSSVarsProvider` is used
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid

#14550 [DataGrid] Fix scroll to cell logic for keyboard navigating cells and drag selection with pinned columns
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
Labels: component: data grid, regression, feature: Column pinning, feature: Cell Selection

#14710 [DataGrid] Fix error when initializing aggregation with row spanning
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/tests/rowSpanning.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, feature: Row spanning

#14707 [l10n] Add missing Portuguese (pt-PT) translations
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ptPT.ts
Labels: component: data grid, l10n

#14614 [DataGrid] Support `minHeight` and `maxHeight` on flex parent container
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridReferencesNoSnap.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.js
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningDerived.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.js
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx
  docs/data/data-grid/column-spanning/ColumnSpanningFunction.tsx.preview
  docs/data/data-grid/column-spanning/ColumnSpanningNumber.js
  docs/data/data-grid/column-spanning/ColumnSpanningNumber.tsx
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/layout/FlexGrid.js
  docs/data/data-grid/layout/FlexGrid.tsx
  docs/data/data-grid/layout/FlexGrid.tsx.preview
  docs/data/data-grid/layout/MinMaxHeightGrid.js
  docs/data/data-grid/layout/MinMaxHeightGrid.tsx
  docs/data/data-grid/layout/layout.md
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.js
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalender.js
  docs/data/data-grid/row-spanning/RowSpanningCalender.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalender.tsx.preview
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.js
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.tsx
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridTopContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  test/e2e/fixtures/DataGrid/MaxHeight.tsx
  test/e2e/index.test.ts
Labels: component: data grid, feature: Rendering layout

#14727 [docs] Fix typo in the Tree View migration guide to v7
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs, component: tree view

#14729 [TreeView] Export `publicAPI` form `useTreeItem2Utils`
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
Labels: component: tree view

#14661 [TreeView] Apply experimental features in `getDefaultizedParams` instead of in the plugin render
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/useTreeView/extractPluginParamsFromProps.ts
Labels: component: tree view

#14682 [pickers] Fix left-right keyboard nav with `yearsOrder="desc"` and `direction="rtl"`
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/keyboard.YearCalendar.test.tsx
Labels: bug 🐛, component: pickers

#14725 [l10n] Improve Portuguese (pt-BR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ptBR.ts
Labels: i18n, component: pickers

#14667 [TreeView] Remove `instance.getTreeItemIdAttribute`
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view

#14711 [charts] Fix area appearing
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/AppearingMask.tsx
Labels: bug 🐛, component: charts

#14728 [code-infra] Remove custom playwright installation steps
  .circleci/config.yml
Labels: scope: code-infra

#14722 [l10n] Add Portuguese (pt-PT) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/ptPT.ts
Labels: l10n, component: pickers

#14680 [DataGridPro] Fix dragging styles removal in Column ordering
  packages/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
Labels: bug 🐛, component: data grid, feature: Reordering

#14677 [DataGrid] Fix `checkboxSelectionVisibleOnly` reset the selection on filtering
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, regression, feature: Selection

#14770 [docs] Fix typo in row spanning doc
  docs/data/data-grid/row-spanning/RowSpanningCalendar.js
  docs/data/data-grid/row-spanning/RowSpanningCalendar.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalendar.tsx.preview
  docs/data/data-grid/row-spanning/row-spanning.md
Labels: docs, component: data grid

#14750 [l10n] Improve French (fr-FR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n

#14381 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/jaJP.ts
Labels: component: data grid, l10n

#14755 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#14769 [l10n] Improve Vietnamese (vi-VN) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/viVN.ts
Labels: component: data grid, l10n

#14775 [core] Fix class name composition order
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridBaseColumnHeaders.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarText.tsx
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
Labels: core

#14732 [l10n] Improve Czech (cs-CZ) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/csCZ.ts
Labels: l10n, component: pickers

#14543 [docs] Fix what's new link to use absolute URL
  docs/data/pages.ts
Labels: bug 🐛, docs, blog

#14456 [data grid] Fix column definition undefined value
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
Labels: bug 🐛, component: data grid

#14776 [core] Replace minWidth, maxWidth with width
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: performance, core, component: data grid
