Repository mui/mui-x, pull requests merged in 2024-05, with the labels that each got.

#12951 [core] Fix depedencies
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/eslint-plugin-material-ui/src/rules/no-direct-state-access.js
  packages/eslint-plugin-material-ui/src/rules/no-direct-state-access.test.js
  pnpm-lock.yaml
  test/package.json
Labels: core

#12948 [test] Restore `t` command
  package.json
  scripts/test.mjs
  test/cli.js
Labels: test, core, scope: code-infra

#12961 [code-infra] Bump node image used by CI in docker
  .circleci/config.yml
Labels: core, scope: code-infra

#12962 Bump `markdownlint-cli2` and `globby`
  package.json
  pnpm-lock.yaml
Labels: dependencies

#12922 [docs] Polish refernces to the plans
  CHANGELOG.md
  docs/data/data-grid/getting-started/getting-started.md
  docsTech/processing.md
Labels: docs

#12861 [docs-infra] Remove no longer needed `next.config` settings
  docs/next.config.mjs
Labels: core, scope: docs-infra

#12966 [core] Remove inconsistent blank lines
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-data-grid-generator/src/services/gridColDefGenerator.ts
  packages/x-data-grid-generator/src/services/tree-data-generator.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-pro/src/models/gridGroupingColDefOverride.ts
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/x-data-grid/src/models/api/gridCoreApi.ts
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: core

#12833 [DataGrid] Fix rows not being recomputed on `props.rowCount` change
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: State management

#12969 [docs] Improve Data Grid migration guide
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
Labels: docs, component: data grid, v7.x migration

#12957 [DataGridPremium] Fix print export not working with row grouping
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/hooks/features/sorting/gridSortingSelector.ts
Labels: component: data grid, regression, feature: Export

#12949 [l10n] Improve Slovak (sk-SK) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/skSK.ts
Labels: component: data grid, l10n

#12844 [l10n] Improve Danish (da-DK) locale
  packages/x-data-grid/src/locales/daDK.ts
Labels: l10n

#12972 [DataGrid] Allow to change reset text in columns management panel
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
Labels: component: data grid, enhancement

#12971 v7.3.2
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12845 [docs] Add accessibility page to TreeView docs
  docs/data/pages.ts
  docs/data/tree-view/accessibility/accessibility.md
  docs/pages/x/react-tree-view/accessibility.js
Labels: docs, accessibility, component: tree view

#12977 [core] Improve release process docs
  scripts/README.md
  scripts/releaseTag.mjs
Labels: core

#12982 [infra] Automation: Add release PR reviewers
  .github/workflows/add-release-reviewers.yml
Labels: enhancement, scope: infra

#12989 [infra] Fix automated reviewers assignment workflow - part 2
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#13012 [infra] Fix automated reviewers assignment workflow - part 3
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#12976 [pickers] Add optional `id` attribute on shortcut items
  docs/pages/x/api/date-pickers/pickers-shortcuts.json
  packages/x-date-pickers/src/PickersShortcuts/PickersShortcuts.tsx
Labels: component: pickers, enhancement

#13017 [infra] changed to usage of reusable workflow
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#13013 [docs] Fix legal link to EULA free trial
  docs/data/introduction/licensing/licensing.md
Labels: bug 🐛, docs

#12991 [core] Prepare React 19
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
Labels: core, typescript

#13022 [infra] changed version to use master branch for now
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#13024 [infra] changed permission for nested workflow
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#13029 [infra] Changed action target branch
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#12965 [DataGrid] Fix: column group change bug
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, feature: Column groups

#12889 [TreeView] Fix props propagation and theme entry in `TreeItem2`
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
Labels: bug 🐛, component: tree view

#13028 [DataGrid] Fix throw error with onBlur at SVG element
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: component: data grid

#13052 [core] Update license key used for tests
  test/regressions/index.js
  test/utils/mochaHooks.js
Labels: test, core

#13061 [docs] Fix Charts styling typos
  docs/data/charts/styling/styling.md
Labels: docs, component: charts

#13070 [docs] Update interface name in pinned columns docs
  docs/data/data-grid/column-pinning/column-pinning.md
Labels: docs, component: data grid

#13074 [docs-infra] Fix custom API page headings
  docs/src/modules/components/InterfaceApiPage.js
Labels: regression, scope: docs-infra

#13076 [core] Refactor tests license setting
  pnpm-lock.yaml
  test/package.json
  test/regressions/index.js
  test/utils/mochaHooks.js
  test/utils/testLicense.js
Labels: test, core

#13058 v7.4.0
  CHANGELOG.md
Labels: release

#13080 v7.4.0 fix
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#13081 v7.4.0 fix 2
  package.json
Labels: release

#12992 [DataGrid] Reduce bundle size with error messages
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/internals/utils/propValidation.ts
Labels: performance, component: data grid, regression

#13062 [core] Simplify Danger's config
  .circleci/config.yml
Labels: core

#13051 Shift aliasing from babel to webpack
  docs/babel.config.js
  docs/next.config.mjs
  docs/package.json
  docs/scripts/formattedTSDemos.js
  pnpm-lock.yaml
Labels: scope: code-infra

#11452 [TreeView] Add support for checkbox selection
  docs/data/tree-view/rich-tree-view/customization/CustomContentTreeView.js
  docs/data/tree-view/rich-tree-view/customization/CustomContentTreeView.tsx
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.js
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/selection/CheckboxMultiSelection.js
  docs/data/tree-view/rich-tree-view/selection/CheckboxMultiSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/CheckboxMultiSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/CheckboxSelection.js
  docs/data/tree-view/rich-tree-view/selection/CheckboxSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/CheckboxSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.js
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.tsx
  docs/data/tree-view/simple-tree-view/selection/CheckboxMultiSelection.js
  docs/data/tree-view/simple-tree-view/selection/CheckboxMultiSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/CheckboxSelection.js
  docs/data/tree-view/simple-tree-view/selection/CheckboxSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/selection.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item-2.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item-2/tree-item-2.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem/treeItemClasses.ts
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.types.ts
  packages/x-tree-view/src/TreeItem2/index.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
  scripts/x-tree-view.exports.json
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: new feature, component: tree view

#12830 [charts] Allow `series.label` property to receive a function with the "location" it is going to be displayed on
  docs/data/charts/label/BasicLabel.js
  docs/data/charts/label/BasicLabel.tsx
  docs/data/charts/label/BasicLabel.tsx.preview
  docs/data/charts/label/FunctionLabel.js
  docs/data/charts/label/FunctionLabel.tsx
  docs/data/charts/label/FunctionLabel.tsx.preview
  docs/data/charts/label/PieLabel.js
  docs/data/charts/label/PieLabel.tsx
  docs/data/charts/label/PieLabel.tsx.preview
  docs/data/charts/label/label.md
  docs/data/pages.ts
  docs/package.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-series-type.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-series-type.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/pie-series-type.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-series-type.json
  docs/pages/x/react-charts/label.js
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts/src/BarChart/legend.ts
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/LineChart/legend.ts
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/formatter.ts
  packages/x-charts/src/PieChart/legend.ts
  packages/x-charts/src/ScatterChart/legend.ts
  packages/x-charts/src/internals/getLabel.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/pie.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  pnpm-lock.yaml
Labels: new feature, component: charts

#13075 [pickers] Reuse `AdapterDateFnsBase` in Jalali adapters
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsBase/AdapterDateFnsBase.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV3/AdapterDateFnsJalaliV3.ts
  packages/x-date-pickers/src/AdapterDateFnsV3/AdapterDateFnsV3.ts
Labels: component: pickers, enhancement

#13043 [charts] Add support mobile tooltip
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/internals/utils.ts
Labels: bug 🐛, component: charts

#13107 [charts] Fix the font used in the overlay
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsOverlay/ChartsLoadingOverlay.tsx
  packages/x-charts/src/ChartsOverlay/ChartsNoDataOverlay.tsx
  packages/x-charts/src/ChartsOverlay/ChartsOverlay.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: component: charts

#13120 [core] Avoid root level `@mui/x-date-pickers` imports
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.tsx
  docs/data/date-pickers/date-time-range-picker/DateTimeRangePickerValue.tsx
  docs/data/date-pickers/fields/ControlledSelectedSectionsMultiInputRangeField.tsx
  docs/data/date-pickers/fields/ControlledSelectedSectionsSingleInputRangeField.tsx
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/migrate-to-components-componentsProps/expected.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/actual-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/rename-components-to-slots/expected-props.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/actual.spec.js
  packages/x-codemod/src/v6.0.0/pickers/replace-arrows-button-slot/expected.spec.js
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v7.0.0/pickers/preset-safe/expected.spec.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalaliV3/AdapterDateFnsJalaliV3.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.test.tsx
  test/e2e/index.test.ts
Labels: core, component: pickers

#13056 [DataGrid] Fix `rowModesModel` controlled prop
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing

#13121 [charts] Fix area order when overlapping
  packages/x-charts/src/LineChart/AreaPlot.tsx
Labels: bug 🐛, component: charts

#12875 [docs] Document missing Charts API's
  docs/data/charts-component-api-pages.ts
  docs/data/charts/axis/axis.md
  docs/pages/x/api/charts/charts-x-axis.js
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.js
  docs/pages/x/api/charts/charts-y-axis.json
  docs/translations/api-docs/charts/charts-x-axis/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis/charts-y-axis.json
  package.json
  pnpm-lock.yaml
  scripts/buildApiDocs/chartsSettings/index.ts
Labels: docs, component: charts

#13139 [docs-infra] Reuse the `SectionTitle`
  docs/src/modules/components/InterfaceApiPage.js
  package.json
  pnpm-lock.yaml
Labels: docs

#13137 [charts] Fix TS bottle neck
  packages/x-charts/src/BarChart/BarElement.tsx
Labels: typescript, component: charts

#13106 [l10n] Improve Norwegian (nb-NO) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/nbNO.ts
Labels: component: data grid, l10n

#12917 [TreeView] Remove unused code
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/models/plugin.ts
Labels: component: tree view

#13141 [charts] Fix some bad practice with `useSlotProps`
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/ZAxisContextProvider.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
Labels: component: charts

#13148 [fields] Allow empty `textField` slot placeholder value
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
Labels: bug 🐛, component: pickers

#13133 [l10n] Improve Spanish (es-SE) locale
  packages/x-data-grid/src/locales/esES.ts
Labels: component: data grid, l10n

#13156 v6.19.12
  CHANGELOG.md
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#13157 v7.5.0
  CHANGELOG.md
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#13159 [core] Fix version in root package.json
  package.json
Labels: core

#13160 [core] Remove `raw-loader` package
  docs/package.json
  pnpm-lock.yaml
  renovate.json
  webpackBaseConfig.js
Labels: core

#12907 [core] Use `describeTreeView` for navigation tests
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
Labels: test, core, component: tree view

#13166 [code-infra] Use `nx` for lerna tasks
  lerna.json
Labels: scope: code-infra

#13164 [core] Use `describeTreeView` for keyboard selection tests
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: test, core, component: tree view

#13181 [core] Remove outdated prop-types
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowGroupItem.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowUngroupItem.tsx
  packages/x-data-grid-premium/src/components/GridPremiumColumnMenu.tsx
  packages/x-data-grid-pro/src/components/GridProColumnMenu.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
Labels: core

#13168 [test] Use `describeTreeView` for items rendering edge-case tests
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: test, core, component: tree view

#13115 [DataGrid] Escape formulas in CSV and Excel export
  docs/data/data-grid/export/export.md
  docs/pages/x/api/data-grid/grid-csv-export-options.json
  docs/pages/x/api/data-grid/grid-excel-export-options.json
  docs/translations/api-docs/data-grid/grid-csv-export-options.json
  docs/translations/api-docs/data-grid/grid-excel-export-options.json
  packages/x-data-grid-premium/src/components/GridExcelExportMenuItem.tsx
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/x-data-grid/src/models/gridExport.ts
  packages/x-data-grid/src/tests/export.DataGrid.test.tsx
Labels: security, component: data grid, feature: Export, enhancement

#13105 [docs] Improve Tree View selection doc
  docs/data/tree-view/accessibility/accessibility.md
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.js
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.tsx
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/SingleSelectTreeView.js
  docs/data/tree-view/rich-tree-view/selection/SingleSelectTreeView.tsx
  docs/data/tree-view/rich-tree-view/selection/SingleSelectTreeView.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/selection/SingleSelectTreeView.js
  docs/data/tree-view/simple-tree-view/selection/SingleSelectTreeView.tsx
  docs/data/tree-view/simple-tree-view/selection/SingleSelectTreeView.tsx.preview
  docs/data/tree-view/simple-tree-view/selection/selection.md
Labels: docs, component: tree view

#13183 [core] Move the v6 changelogs to a dedicated file
  CHANGELOG.md
  changelogOld/CHANGELOG.v6.md
Labels: core

#13192 [docs] Clean the pages in the navbar
  docs/data/pages.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
Labels: docs

#13193 [docs] Unify Tree View `apiRef` methods doc examples
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodSetItemExpansion.js
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodSetItemExpansion.tsx
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodSetItemExpansion.tsx.preview
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/focus/ApiMethodFocusItem.js
  docs/data/tree-view/rich-tree-view/focus/ApiMethodFocusItem.tsx
  docs/data/tree-view/rich-tree-view/focus/ApiMethodFocusItem.tsx.preview
  docs/data/tree-view/rich-tree-view/focus/focus.md
  docs/data/tree-view/rich-tree-view/headless/headless.md
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItem.js
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItem.tsx
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItem.tsx.preview
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodSetItemExpansion.js
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodSetItemExpansion.tsx
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/focus/ApiMethodFocusItem.js
  docs/data/tree-view/simple-tree-view/focus/ApiMethodFocusItem.tsx
  docs/data/tree-view/simple-tree-view/focus/focus.md
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: docs, component: tree view

#12988 [charts] Add `label` to be displayed inside bars in BarChart
  docs/data/charts-component-api-pages.ts
  docs/data/charts/bars/BarLabel.js
  docs/data/charts/bars/BarLabel.tsx
  docs/data/charts/bars/BarLabel.tsx.preview
  docs/data/charts/bars/CustomLabels.js
  docs/data/charts/bars/CustomLabels.tsx
  docs/data/charts/bars/CustomLabels.tsx.preview
  docs/data/charts/bars/bars.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-label.js
  docs/pages/x/api/charts/bar-label.json
  docs/pages/x/api/charts/bar-plot.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/bar-label/bar-label.json
  docs/translations/api-docs/charts/bar-plot/bar-plot.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabel.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabel.types.ts
  packages/x-charts/src/BarChart/BarLabel/BarLabelItem.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabelPlot.tsx
  packages/x-charts/src/BarChart/BarLabel/barLabelClasses.tsx
  packages/x-charts/src/BarChart/BarLabel/getBarLabel.ts
  packages/x-charts/src/BarChart/BarLabel/index.ts
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/index.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/index.js
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/props.d.ts
  scripts/x-charts.exports.json
Labels: new feature, component: charts

#13199 Fix yarn proptypes vs pnpm proptypes
  packages/x-charts/src/BarChart/BarLabel/BarLabel.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabelItem.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabelPlot.tsx
Labels: bug 🐛, scope: infra

#13198 Add test:coverage:inspect to allow easier debugging
  package.json
Labels: scope: infra

#13205 [code-infra] Run corepack enable on all CI jobs
  .circleci/config.yml
  package.json
Labels: scope: code-infra

#13190 [DataGrid] Escape formulas in CSV and Excel export (#13115)
  docs/data/data-grid/export/export.md
  docs/pages/x/api/data-grid/grid-csv-export-options.md
  docs/pages/x/api/data-grid/grid-excel-export-options.md
  packages/grid/x-data-grid-premium/src/components/GridExcelExportMenuItem.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/grid/x-data-grid/src/models/gridExport.ts
  packages/grid/x-data-grid/src/tests/export.DataGrid.test.tsx
Labels: security, component: data grid, v6.x, feature: Export, cherry-pick

#13212 [pickers] Fix `disableOpenPicker` prop behavior
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  test/utils/pickers/describePicker/describePicker.tsx
Labels: regression, component: pickers, cherry-pick

#13221 [pickers] Fix `disableOpenPicker` prop behavior
  package.json
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  test/utils/pickers/describePicker/describePicker.tsx
  yarn.lock
Labels: regression, component: pickers, cherry-pick

#13223 v7.5.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13126 [TreeView] Allow to define indentation at the item level
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeItem2Provider/TreeItem2Provider.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/TreeViewItemDepthContext/TreeViewItemDepthContext.ts
  packages/x-tree-view/src/internals/TreeViewItemDepthContext/index.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/models/helpers.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/internals/utils/extractPluginParamsFromProps.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
Labels: component: tree view

#13219 [TreeView] Add JSDoc to every instance method
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
Labels: component: tree view

#13228 v6.20.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#13210 [docs] Document how to customize a subsection of a line chart
  docs/data/charts/line-demo/LineWithPrediction.js
  docs/data/charts/line-demo/LineWithPrediction.tsx
  docs/data/charts/line-demo/LineWithPrediction.tsx.preview
  docs/data/charts/line-demo/line-demo.md
Labels: docs, component: charts

#13233 [docs] Small improvements on accessibility data grid doc
  docs/data/data-grid/accessibility/accessibility.md
Labels: docs

#13184 [test] Use `describeTreeView` for keyboard navigation tests on disabled items
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/utils/tree.ts
Labels: test, core, component: tree view

#13236 Prevent "Add reviewers" workflow from triggering since it doesn't work
  .github/workflows/add-release-reviewers.yml
Labels: scope: infra

#13038 [l10n] Improve Finnish (fi-FI) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/fiFI.ts
Labels: l10n

#13235 [docs] Add conditional label formatting on tooltip page and link to label page
  docs/data/charts/tooltip/tooltip.md
Labels: docs

#13238 [docs] Fix Pickers FAQ callout
  docs/data/date-pickers/faq/faq.md
Labels: docs, needs cherry-pick

#13229 [DataGrid] Export `GridColumnHeadersProps`
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/index.ts
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/index.ts
  packages/x-data-grid/src/index.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: docs, component: data grid, typescript

#12800 [docs] Add Bulk editing demo for the Community plan
  docs/data/data-grid/clipboard/ClipboardPastePersistence.js
  docs/data/data-grid/clipboard/ClipboardPastePersistence.tsx
  docs/data/data-grid/overview/DataGridPremiumDemo.js
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx
  docs/data/data-grid/recipes-editing/BulkEditing.js
  docs/data/data-grid/recipes-editing/BulkEditing.tsx
  docs/data/data-grid/recipes-editing/BulkEditingPremiumNoSnap.js
  docs/data/data-grid/recipes-editing/BulkEditingPremiumNoSnap.tsx
  docs/data/data-grid/recipes-editing/recipes-editing.md
Labels: docs, component: data grid, feature: Editing, recipe

#13245 [docs] Fix a small typo in property comment
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid

#12994 [l10n] Improve Persian (fa-IR) locale
  packages/x-data-grid/src/locales/faIR.ts
Labels: component: data grid, l10n

#13249 [data grid] Remove dead logic to support Safari < 13
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: performance, component: data grid

#13248 [core] Add comment on why logic to sync column header
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/utils/domUtils.ts
Labels: core, component: data grid

#13260 [docs-infra] Fix `@mui/material` version used in sandboxes
  docs/pages/_app.js
Labels: scope: docs-infra

#13244 [pickers] Fix `DateBuilderReturnType` when the date is `undefined`
  packages/x-date-pickers/src/models/adapters.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: bug 🐛, typescript, component: pickers, cherry-pick

#13264 [docs] Removes unused lines in TreeItem2 styling
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.js
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx
Labels: docs

#13191 [DataGridPremium] Fix excel export causing column with wrong width
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumnSpanning.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridColumnSpanning.ts
Labels: component: data grid, feature: Export

#13258 [docs] Improve the Data Grid FAQ page
  docs/data/data-grid/faq/faq.md
Labels: docs, component: data grid

#13288 [typescript] Remove duplicate `DateRangePosition` type in favor of `RangePosition`
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/useDragRange.ts
Labels: typescript, component: pickers

#13234 [docs] Add information about key combinations on a11y sections
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/tree-view/accessibility/accessibility.md
Labels: docs

#13296 Bump danger to ^12.3.0
  package.json
  pnpm-lock.yaml
Labels: dependencies

#13295 [charts] Refactor axis band scaleType check
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/checkScaleErrors.test.ts
  packages/x-charts/src/BarChart/checkScaleErrors.ts
Labels: enhancement

#13297 [core] Fix `l10n` script execution with arguments
  docs/package.json
  package.json
Labels: core

#13262 [test] Use `describeTreeView` for remaining items tests
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/useTreeView/useTreeView.test.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.test.tsx
  test/utils/tree-view/describeTreeView/index.ts
Labels: test, core

#13303 [docs] Update Pickers demo configurations
  docs/data/date-pickers/custom-components/CalendarHeaderComponent.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponent.tsx
  docs/data/date-pickers/custom-components/CalendarHeaderComponentProps.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponentProps.tsx
  docs/data/date-pickers/custom-components/CalendarHeaderComponentRange.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponentRange.tsx
  docs/data/date-pickers/custom-field/MaterialV7Field.js
  docs/data/date-pickers/custom-field/MaterialV7Field.tsx
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalidRange.js
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalidRange.tsx
  docs/data/date-pickers/date-time-picker/DateTimePickerOpenTo.js
  docs/data/date-pickers/date-time-picker/DateTimePickerOpenTo.tsx
  docs/data/date-pickers/date-time-range-picker/ResponsiveDateTimeRangePickers.js
  docs/data/date-pickers/date-time-range-picker/ResponsiveDateTimeRangePickers.tsx
  docs/data/date-pickers/date-time-range-picker/ResponsiveDateTimeRangePickers.tsx.preview
  docs/data/date-pickers/digital-clock/DigitalClockAmPm.js
  docs/data/date-pickers/digital-clock/DigitalClockAmPm.tsx
  docs/data/date-pickers/time-picker/TimePickerViews.js
  docs/data/date-pickers/time-picker/TimePickerViews.tsx
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx.preview
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMaxTime.js
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMinTime.js
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.js
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx
Labels: docs, component: pickers

#12980 [DataGrid] Avoid re-rendering all cells on column change
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
Labels: performance, component: data grid

#13305 [charts] Refactor checkScaleErrors to improve readability and simplify axis message logic
  packages/x-charts/src/BarChart/checkScaleErrors.ts
Labels: enhancement, component: charts

#13308 v7.6.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13069 [data grid] Fix column resize not working with special character
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/utils/domUtils.ts
Labels: bug 🐛, component: data grid, feature: Column resize

#13318 [core] Move `@mui/internal-test-utils` to dev dependency
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: bug 🐛, core

#13320 v7.6.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13254 [data grid] Add the areElementSizesEqual utility to improve code readability
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: component: data grid
