Repository mui/mui-x, pull requests merged in 2024-11, with the labels that each got.

#15209 v7.22.1
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#15151 [DataGrid] Preprocess edit cell props on backspace/delete
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid, feature: Editing, needs cherry-pick

#15227 [I10n][DataGrid] Improve Polish (pl-PL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/plPL.ts
Labels: l10n

#15250 [l10n] Improve Greek (el-GR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/elGR.ts
Labels: l10n

#15192 [charts] Remove `xAxisKey`, `yAxisKey`, and `zAxisKey`
  docs/pages/x/api/charts/bar-series-type.json
  docs/pages/x/api/charts/line-series-type.json
  docs/pages/x/api/charts/scatter-series-type.json
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/extremums.ts
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/extremums.ts
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/extremums.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: breaking change, component: charts

#15229 [docs] Fix missing punctuation on descriptions
  docs/data/data-grid/joy-ui/joy-ui.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/date-pickers/experimentation/experimentation.md
Labels: docs

#15252 [DataGrid] Fix filtering with `boolean` column type
  packages/x-data-grid/src/colDef/gridBooleanOperators.ts
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, regression, feature: Filtering, needs cherry-pick

#15260 [test] Fix advanced list view regression test snapshot
  docs/data/data-grid/list-view/ListViewAdvanced.js
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
Labels: test, component: data grid

#15184 [DataGrid] Improve row selection propagation trigger
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: bug 🐛, component: data grid, feature: Selection

#15014 [docs] Subdivide and reorganize navigation bar
  docs/data/data-grid/components/components.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/date-pickers/custom-opening-button/custom-opening-button.md
  docs/data/pages.ts
  docs/data/tree-view/rich-tree-view/customization/customization.md
  docs/data/tree-view/simple-tree-view/customization/customization.md
Labels: docs

#15262 [infra] Introduce automated cherry-picking workflow
  .github/workflows/cherry-pick-master-to-v7.yml
  .github/workflows/cherry-pick-v7-to-v6.yml
  .github/workflows/create-cherry-pick-pr.yml
Labels: scope: infra

#15057 [charts] Allow `SeriesValueFormatter` to return `null` value
  packages/x-charts/src/models/seriesType/common.ts
Labels: enhancement, needs cherry-pick, v7.x, component: charts

#15191 [charts] Remove deprecated highlight properties
  docs/data/charts/bars/BarAnimation.tsx
  docs/data/charts/highlighting/ControlledHighlight.js
  docs/data/charts/highlighting/ControlledHighlight.tsx
  docs/data/charts/highlighting/ElementHighlights.js
  docs/data/charts/highlighting/ElementHighlights.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/context/HighlightedProvider/HighlightedContext.ts
  packages/x-charts/src/context/HighlightedProvider/HighlightedProvider.tsx
Labels: breaking change, component: charts

#15202 [DataGrid] Set default overlay height in flex parent layout
  docs/data/data-grid/layout/GridOverlayHeight.js
  docs/data/data-grid/layout/GridOverlayHeight.tsx
  docs/data/data-grid/layout/GridOverlayHeight.tsx.preview
  docs/data/data-grid/layout/layout.md
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  test/regressions/data-grid/DataGridOverlays.js
Labels: component: data grid, enhancement, needs cherry-pick

#15273 [DataGrid] Fix failing CI
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: core, component: data grid

#15107 [DataGrid] Fix resizing right pinned column
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  test/regressions/data-grid/DataGridBordered.js
  test/regressions/data-grid/DataGridPinnedColumnsBordered.js
  test/regressions/data-grid/DataGridPinnedColumnsScrollbars.js
  test/regressions/data-grid/DataGridPinnedColumnsWithGap.js
Labels: component: data grid, feature: Column resize

#15287 [infra] Revert "[infra] Introduce automated cherry-picking workflow (#15262)"
  .github/workflows/cherry-pick-master-to-v7.yml
  .github/workflows/cherry-pick-v7-to-v6.yml
  .github/workflows/create-cherry-pick-pr.yml
Labels: bug 🐛, scope: infra

#15274 [DataGrid] Improve row selection propagation trigger
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: bug 🐛, component: data grid, feature: Selection, cherry-pick

#15289 [DataGrid] Fix `null` reference error in `GridVirtualScrollbar` (#15009)
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
Labels: bug 🐛, component: data grid, cherry-pick

#15288 [docs] Use `PickersTextField` in the customization playground
  docs/data/date-pickers/date-picker/examplesConfig.styling.tsx
Labels: docs, component: pickers

#15281 [docs] Fix peer dependency range
  packages/x-charts-pro/README.md
  packages/x-charts/README.md
  packages/x-data-grid-premium/README.md
  packages/x-data-grid-pro/README.md
  packages/x-data-grid/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
  packages/x-tree-view-pro/README.md
  packages/x-tree-view/README.md
Labels: bug 🐛, docs

#15293 [infra] Reintroduce the cherry pick workflow
  .github/workflows/cherry-pick-master-to-v7.yml
  .github/workflows/cherry-pick-v7-to-v6.yml
  .github/workflows/create-cherry-pick-pr.yml
Labels: scope: infra

#15171 [pickers] Use the new `ownerState` in `DateCalendar`, `DateRangeCalendar`, `MonthCalendar` and `YearCalendar`
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/internals/components/PickersProvider.tsx
  packages/x-date-pickers/src/internals/hooks/usePickersPrivateContext.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/models/pickers.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, component: pickers

#14616 [fields] Remove clear button from the tab sequence
  packages/x-date-pickers/src/hooks/useClearableField.tsx
Labels: accessibility, component: pickers, enhancement, feature: Keyboard editing

#13463 [code-infra] Set renovate to automerge devDependencies
  renovate.json
Labels: core, scope: code-infra

#14560 [DataGrid] Add a recipe to persist column width and order
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.js
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.tsx
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.tsx.preview
  docs/data/data-grid/column-recipes/index.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/column-recipes.js
Labels: component: data grid, needs cherry-pick, recipe, feature: Column resize

#15093 [TreeView] Remove deprecated `TreeView` component
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/treeViewApiPages.ts
  docs/pages/x/api/tree-view/tree-view.js
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/tree-view/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/tree-view/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/tree-view/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/tree-view/rename-tree-view-simple-tree-view/index.ts
  packages/x-tree-view-pro/src/index.ts
  packages/x-tree-view/src/TreeView/TreeView.test.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.types.ts
  packages/x-tree-view/src/TreeView/index.ts
  packages/x-tree-view/src/TreeView/treeViewClasses.ts
  packages/x-tree-view/src/index.ts
  packages/x-tree-view/src/themeAugmentation/components.d.ts
  packages/x-tree-view/src/themeAugmentation/overrides.d.ts
  packages/x-tree-view/src/themeAugmentation/props.d.ts
  packages/x-tree-view/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: breaking change, component: tree view

#15089 [TreeView] Always apply the indentation on the item content instead of its parent's group
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/tree-view/rich-tree-view/customization/HeadlessAPI.js
  docs/data/tree-view/rich-tree-view/customization/HeadlessAPI.tsx
  docs/data/tree-view/rich-tree-view/ordering/DragAndDrop.js
  docs/data/tree-view/rich-tree-view/ordering/DragAndDrop.tsx
  docs/data/tree-view/rich-tree-view/ordering/DragAndDrop.tsx.preview
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.js
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnItemPositionChange.js
  docs/data/tree-view/rich-tree-view/ordering/OnItemPositionChange.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderFromDragHandle.js
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderFromDragHandle.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderFromDragHandle.tsx.preview
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderInSameParent.js
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderInSameParent.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderInSameParent.tsx.preview
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderLeaves.js
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderLeaves.tsx
  docs/data/tree-view/rich-tree-view/ordering/OnlyReorderLeaves.tsx.preview
  docs/data/tree-view/rich-tree-view/ordering/SendAllItemsToServer.js
  docs/data/tree-view/rich-tree-view/ordering/SendAllItemsToServer.tsx
  docs/data/tree-view/rich-tree-view/ordering/ordering.md
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/HeadlessAPI.js
  docs/data/tree-view/simple-tree-view/customization/HeadlessAPI.tsx
  docs/data/tree-view/tree-item-customization/ContentSlot.js
  docs/data/tree-view/tree-item-customization/ContentSlot.tsx
  docs/data/tree-view/tree-item-customization/CustomTreeItemDemo.js
  docs/data/tree-view/tree-item-customization/CustomTreeItemDemo.tsx
  docs/data/tree-view/tree-item-customization/IndentationAtItemLevel.js
  docs/data/tree-view/tree-item-customization/IndentationAtItemLevel.tsx
  docs/data/tree-view/tree-item-customization/IndentationAtItemLevel.tsx.preview
  docs/data/tree-view/tree-item-customization/tree-item-customization.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.test.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.types.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: breaking change, component: tree view

#15271 [DataGridPro] Should toggle row expansion with Enter key in Tree data
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
Labels: component: data grid, needs cherry-pick

#15310 [docs] Cleanup the pickers migration guide
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#15312 [docs] Fix the `AdapterMomentHijri` doc section
  docs/data/date-pickers/calendar-systems/AdapterHijri.js
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx
  docs/data/date-pickers/calendar-systems/calendar-systems.md
Labels: docs, component: pickers

#15313 [DataGridPro] Should toggle row expansion with Enter key in Tree data
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
Labels: component: data grid, cherry-pick

#15309 [DataGrid] Add a recipe to persist column width and order
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.js
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.tsx
  docs/data/data-grid/column-recipes/ColumnSizingPersistWidthOrder.tsx.preview
  docs/data/data-grid/column-recipes/index.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/column-recipes.js
Labels: component: data grid, feature: Reordering, recipe, feature: Column resize

#14473 [DataGridPro] Apply default properties if they are not passed in a reorder column
  packages/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorderPreProcessors.ts
Labels: bug 🐛, component: data grid, feature: Reordering, needs cherry-pick, v7.x

#15315 Bump moment-hijri to v3.0.0
  docs/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  pnpm-lock.yaml
Labels: dependencies, cherry-pick

#15321 [docs] Add migration guide for the removal of `LicenseInfo` from `@mui/x-date-pickers-pro`
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#15277 [charts] Introduce `hideLegend` prop
  docs/data/charts/axis/MarginAndLabelPosition.js
  docs/data/charts/axis/MarginAndLabelPosition.tsx
  docs/data/charts/bars/BarGapNoSnap.js
  docs/data/charts/bars/StackBars.js
  docs/data/charts/bars/StackBars.tsx
  docs/data/charts/bars/StackBars.tsx.preview
  docs/data/charts/highlighting/SyncHighlight.js
  docs/data/charts/highlighting/SyncHighlight.tsx
  docs/data/charts/legend/BasicColorLegend.js
  docs/data/charts/legend/BasicColorLegend.tsx
  docs/data/charts/legend/ContinuousInteractiveDemoNoSnap.js
  docs/data/charts/legend/PiecewiseInteractiveDemoNoSnap.js
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/pie-demo/PieChartWithCustomizedLabel.js
  docs/data/charts/pie-demo/PieChartWithCustomizedLabel.tsx
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.js
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.tsx
  docs/data/charts/pie-demo/TwoLevelPieChart.js
  docs/data/charts/pie-demo/TwoLevelPieChart.tsx
  docs/data/charts/pie-demo/TwoSimplePieChart.js
  docs/data/charts/pie-demo/TwoSimplePieChart.tsx
  docs/data/charts/pie/PieClickNoSnap.js
  docs/data/charts/pie/PieColor.js
  docs/data/charts/pie/PieColor.tsx
  docs/data/charts/pie/PieShapeNoSnap.js
  docs/data/charts/tooltip/AxisFormatter.js
  docs/data/charts/tooltip/AxisFormatter.tsx
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
Labels: component: charts

#15323 [charts] Add codemod for removing ResponsiveChartContainer
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/charts/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/actual-nested-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/actual-root-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/expected-nested-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/expected-root-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/index.ts
  packages/x-codemod/src/v8.0.0/charts/rename-responsive-chart-container/rename-responsive-chart-container.test.ts
Labels: package: codemod, component: charts

#15294 [charts] Add `domainLimit` to axis config.
  docs/data/charts/axis/CustomDomainYAxis.js
  docs/data/charts/axis/CustomDomainYAxis.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/sparkline/CustomDomainYAxis.js
  docs/data/charts/sparkline/CustomDomainYAxis.tsx
  docs/data/charts/sparkline/sparkline.md
  docs/pages/x/api/charts/axis-config.json
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/axis-config.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/context/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/internals/computeAxisValue.ts
  packages/x-charts/src/models/axis.ts
Labels: enhancement, needs cherry-pick, v7.x, component: charts

#15251 [docs] Add () for updateRows method
  CHANGELOG.md
  changelogOld/CHANGELOG.v4.md
  changelogOld/CHANGELOG.v5.md
  changelogOld/CHANGELOG.v6.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/data-grid/row-updates/row-updates.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs, component: data grid

#15332 [charts] Fix `applyDomain` docs
  docs/data/charts/axis/CustomDomainYAxis.js
  docs/data/charts/axis/CustomDomainYAxis.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/sparkline/CustomDomainYAxis.js
  docs/data/charts/sparkline/CustomDomainYAxis.tsx
  docs/data/charts/sparkline/CustomYAxis.js
  docs/data/charts/sparkline/CustomYAxis.tsx
  docs/data/charts/sparkline/sparkline.md
  docs/translations/api-docs/charts/axis-config.json
  packages/x-charts/src/models/axis.ts
Labels: docs, needs cherry-pick, v7.x, component: charts

#15324 [charts][docs] Add docs for rounded symbol
  docs/data/charts/legend/LegendRoundedSymbol.js
  docs/data/charts/legend/LegendRoundedSymbol.tsx
  docs/data/charts/legend/LegendRoundedSymbol.tsx.preview
  docs/data/charts/legend/legend.md
Labels: docs, needs cherry-pick, component: charts

#15215 [DataGrid] Fix memoized selectors with arguments
  .eslintrc.js
  packages/x-data-grid/src/components/GridDetailPanels.tsx
  packages/x-data-grid/src/components/GridPinnedRows.tsx
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/utils/createSelector.ts
  packages/x-data-grid/src/utils/utils.ts
Labels: bug 🐛, core, component: data grid, needs cherry-pick, v7.x

#14917 [pickers] Fix `DateTimeRangePicker` error when using format without time
  packages/x-date-pickers/src/internals/hooks/useField/useField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing, needs cherry-pick, v7.x

#15329 [docs] Fix hard coded URL domain
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/filtering/header-filters.md
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/state/state.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
Labels: docs

#14281 [charts] Filter item outside the drawing area for perf
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  pnpm-lock.yaml
  test/performance-charts/README.md
  test/performance-charts/package.json
  test/performance-charts/tests/BarChartPro.bench.tsx
  test/performance-charts/tests/LineChartPro.bench.tsx
  test/performance-charts/tests/ScatterChart.bench.tsx
  test/performance-charts/tests/ScatterChartPro.bench.tsx
  test/performance-charts/utils/options.ts
  test/performance-charts/vitest.config.ts
Labels: performance, component: charts

#15374 [code-infra] Tentative fix for Argos flaky screenshot tests
  package.json
  test/regressions/.mocharc.js
  test/regressions/index.test.ts
Labels: enhancement, scope: code-infra

#15219 [core] Clarify release version bump strategy
  scripts/README.md
Labels: core, needs cherry-pick

#15384 [docs] Add v8 to supported releases table
  docs/data/introduction/support/support.md
Labels: docs, MUI X

#15255 Bump React
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/export/ExcelCustomExport.js
  docs/data/data-grid/export/ExcelCustomExport.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.js
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx.preview
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx.preview
  docs/package.json
  package.json
  packages/x-data-grid-premium/src/hooks/features/export/gridExcelExportInterface.ts
  packages/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/x-data-grid-pro/src/index.ts
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/components.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridHeader.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/index.ts
  packages/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/index.ts
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
  pnpm-lock.yaml
  test/package.json
Labels: dependencies

#15305 [docs] Add `PickersPopper` component to customization playground
  docs/data/date-pickers/date-picker/examplesConfig.styling.tsx
Labels: docs, component: pickers, needs cherry-pick, v7.x

#15396 [docs] Fix link to private notion page
  docs/data/introduction/overview/overview.md
Labels: bug 🐛, docs

#15398 [code-infra] Tentative fix for Argos flaky screenshot tests - Take 2
  test/regressions/index.test.ts
Labels: needs cherry-pick, v7.x, scope: code-infra

#15400 [charts-pro] Fix missing typeOverload
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
Labels: typescript, plan: Pro, component: charts

#13959 [DataGrid] Pass reason to `onPaginationModelChange`
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, needs cherry-pick, v7.x

#15390 [docs] Fix small Tree View typo
  docs/data/tree-view/rich-tree-view/selection/selection.md
Labels: docs, component: tree view

#15389 [core] Remove duplicate title header
  docs/data/tree-view/rich-tree-view/customization/customization.md
  docs/data/tree-view/rich-tree-view/editing/editing.md
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/focus/focus.md
  docs/data/tree-view/rich-tree-view/headless/headless.md
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/data/tree-view/rich-tree-view/selection/selection.md
Labels: core

#15406 [l10n] Improve Turkish (tr-TR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/trTR.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#15197 [pickers] Strictly type the props a picker passes to its field, and migrate all the custom field demos accordingly
  docs/data/date-pickers/custom-field/BrowserV7Field.tsx
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.tsx
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.js
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.tsx
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/src/modules/components/overview/mainDemo/PickerButton.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.types.ts
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/models/fields.ts
  packages/x-date-pickers-pro/src/models/fields.ts
  packages/x-date-pickers/src/DatePicker/DatePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.types.ts
  packages/x-date-pickers/src/TimePicker/TimePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
  packages/x-date-pickers/src/internals/models/validation.ts
  packages/x-date-pickers/src/models/fields.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: docs, breaking change, component: pickers

#15404 Bump React (#15255)
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/export/ExcelCustomExport.js
  docs/data/data-grid/export/ExcelCustomExport.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.js
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx.preview
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx.preview
  docs/package.json
  package.json
  packages/x-data-grid-premium/src/hooks/features/export/gridExcelExportInterface.ts
  packages/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/x-data-grid-pro/src/index.ts
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/components.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridHeader.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/index.ts
  packages/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/index.ts
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
  pnpm-lock.yaml
  test/package.json
Labels: dependencies, cherry-pick

#15319 v8.0.0-alpha.0
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#15417 [charts] Split `DrawingProvider` into `DrawingAreaProvider` and `SvgRefProvider`
  packages/x-charts-pro/src/context/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/context/ChartDataProviderPro/useChartDataProviderProProps.ts
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
  packages/x-charts/src/ChartsGrid/styledComponents.tsx
  packages/x-charts/src/ChartsLegend/LegendPerItem.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/getPieCoordinates.ts
  packages/x-charts/src/context/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/context/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/context/DrawingAreaProvider/DrawingArea.types.ts
  packages/x-charts/src/context/DrawingAreaProvider/DrawingAreaContext.tsx
  packages/x-charts/src/context/DrawingAreaProvider/DrawingAreaProvider.tsx
  packages/x-charts/src/context/DrawingAreaProvider/index.ts
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/SvgRefProvider/SvgRef.types.ts
  packages/x-charts/src/context/SvgRefProvider/SvgRefContext.tsx
  packages/x-charts/src/context/SvgRefProvider/SvgRefProvider.tsx
  packages/x-charts/src/context/SvgRefProvider/index.ts
  packages/x-charts/src/hooks/useChartId.ts
  packages/x-charts/src/hooks/useDrawingArea.ts
  packages/x-charts/src/hooks/useSvgRef.test.tsx
  packages/x-charts/src/hooks/useSvgRef.ts
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsAxesGradients.tsx
  packages/x-charts/src/internals/computeAxisValue.ts
  packages/x-charts/src/internals/index.ts
Labels: enhancement, component: charts

#15345 [docs-infra] Transpile .ts demo files
  docs/data/charts/bars/netflixsBalanceSheet.js
  docs/data/charts/dataset/weather.js
  docs/data/charts/heatmap/dumbData.js
  docs/data/charts/legend/tempAnomaly.js
  docs/data/charts/lines/GDPperCapita.js
  docs/data/charts/lines/basicDataset.js
  docs/data/charts/lines/worldElectricityProduction.js
  docs/data/charts/pie/webUsageStats.js
  docs/data/charts/zoom-and-pan/letterFrequency.js
  docs/data/data-grid/export/excelExportWorker.js
  docs/data/data-grid/list-view/constants.js
  docs/data/data-grid/list-view/data.js
  docs/data/data-grid/list-view/utils.js
  docs/data/tree-view/datasets/employees.js
  docs/data/tree-view/rich-tree-view/editing/editableProducts.js
  docs/data/tree-view/rich-tree-view/editing/employees.js
  docs/data/tree-view/rich-tree-view/editing/products.js
  docs/data/tree-view/tree-item-customization/products.js
  docs/scripts/formattedTSDemos.js
Labels: needs cherry-pick, v7.x, scope: docs-infra

#15422 [docs] Fix some migration typos
  CHANGELOG.md
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
Labels: docs

#15423 [docs] Add `next` version links
  docs/pages/_app.js
Labels: docs

#15425 [code-infra] Add 'DensitySelectorGrid' to time-sensitive argos tests
  test/regressions/index.test.ts
Labels: scope: code-infra

#15429 [DateTimeRangePicker] Use time in `referenceDate` when selecting date
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
Labels: bug 🐛, plan: Pro, component: pickers, cherry-pick, v7.x, component: DateTimeRangePicker

#15084 [charts] Replace d3-color by CSS filter for highlight
  docs/data/charts/areas-demo/AreaChartFillByValue.js
  docs/data/charts/areas-demo/AreaChartFillByValue.tsx
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/line-demo/LineWithPrediction.js
  docs/data/charts/line-demo/LineWithPrediction.tsx
  docs/data/charts/line-demo/LineWithPrediction.tsx.preview
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/pages/x/api/charts/bar-element.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/charts/bar-element/bar-element.json
  packages/x-charts-vendor/.babelrc.js
  packages/x-charts/src/BarChart/AnimatedBarElement.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: breaking change, component: charts

#15371 [l10n] Improve Swedish (sv-SE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/svSE.ts
Labels: l10n, needs cherry-pick

#15369 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/esES.ts
Labels: l10n, needs cherry-pick

#15365 [l10n] Improve Chinese (zh-CN) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
Labels: component: data grid, l10n, needs cherry-pick

#15437 [code-infra] Prevent relative imports across packages
  .eslintrc.js
Labels: core

#15368 [DataGrid] Fix row-spanning in combination with column-pinning
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15282 [DataGrid] Add test coverage for issues fixed in #15184
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: test, component: data grid, needs cherry-pick, v7.x

#15431 [DateTimeRangePicker] Use time in `referenceDate` when selecting date
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
Labels: bug 🐛, plan: Pro, component: pickers, cherry-pick, component: DateTimeRangePicker

#15462 [code-infra] Update renovate config to merge `action` pins
  renovate.json
Labels: scope: code-infra

#15375 [charts] Decouple `ChartDataProvider` and `ChartsSurface`
  docs/pages/x/api/charts/charts-surface.json
  docs/translations/api-docs/charts/charts-surface/charts-surface.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/context/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/context/ChartDataProviderPro/useChartDataProviderProProps.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/ResizableContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartsSurface/ChartsSurface.test.tsx
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/ChartDataProvider/ChartDataProvider.test.tsx
  packages/x-charts/src/context/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/context/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/context/DrawingAreaProvider/DrawingArea.types.ts
  packages/x-charts/src/context/DrawingAreaProvider/DrawingAreaProvider.tsx
  packages/x-charts/src/context/SizeProvider/Size.types.ts
  packages/x-charts/src/context/SizeProvider/SizeContext.ts
  packages/x-charts/src/context/SizeProvider/SizeProvider.tsx
  packages/x-charts/src/context/SizeProvider/index.ts
  packages/x-charts/src/context/SizeProvider/useChartContainerDimensions.ts
  packages/x-charts/src/context/SizeProvider/useSize.ts
  packages/x-charts/src/context/SvgRefProvider/SvgRef.types.ts
  packages/x-charts/src/context/SvgRefProvider/SvgRefProvider.tsx
  packages/x-charts/src/context/index.ts
  packages/x-charts/src/hooks/useSvgRef.test.tsx
  packages/x-charts/src/internals/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: new feature, component: charts, v8.x

#15463 [charts] Fix key generation for the ChartsGrid
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
Labels: bug 🐛, needs cherry-pick, component: charts

#15426 [charts] Move interaction state in store
  packages/x-charts/package.json
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.types.ts
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlightPath.ts
  packages/x-charts/src/ChartsAxisHighlight/ChartsXAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsYAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/chartsAxisHighlightClasses.ts
  packages/x-charts/src/ChartsAxisHighlight/index.ts
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsSurface/ChartsSurface.test.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/context/InteractionSelectors.ts
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/internals/plugins/models/index.ts
  packages/x-charts/src/internals/plugins/utils/ChartStore.ts
  packages/x-charts/src/internals/plugins/utils/selectors.ts
  packages/x-charts/src/internals/useCharts.ts
  packages/x-charts/src/internals/useSelector.ts
  packages/x-charts/src/internals/useStore.ts
  pnpm-lock.yaml
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: component: charts, v8.x

#15347 [DataGrid] Add prop to override search input props in `GridColumnsManagement`
  docs/data/data-grid/localization/data.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/isIS.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/nnNO.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: component: data grid

#15468 [docs-infra] Fix version tooltip
  docs/pages/_app.js
Labels: scope: docs-infra

#15456 [infra] Remove cherry-pick issue write permission
  .github/workflows/create-cherry-pick-pr.yml
Labels: security, scope: infra

#15471 [charts] Remove intrinsic size requirement
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/chart-container-pro/chart-container-pro.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/ResizableContainer.tsx
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/context/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/context/SizeProvider/Size.types.ts
  packages/x-charts/src/context/SizeProvider/SizeProvider.tsx
  packages/x-charts/src/context/SizeProvider/useChartContainerDimensions.ts
Labels: enhancement, component: charts

#15415 [pickers] Add new properties to `PickerOwnerState` and `PickerContextValue`
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerOwnerState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/common.ts
  packages/x-date-pickers/src/models/pickers.ts
Labels: component: pickers

#15492 [pickers] Remove the form props from the layout and the toolbar slots
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/date-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-picker-toolbar/date-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-range-picker-toolbar/date-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar/date-time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-range-picker-toolbar/date-time-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: breaking change, component: pickers

#15330 [docs][data grid] Polish Server-side data section
  docs/data/data-grid/list-view/list-view.md
  docs/data/data-grid/row-spanning/row-spanning.md
  docs/data/data-grid/server-side-data/ServerSideDataGrid.js
  docs/data/data-grid/server-side-data/ServerSideDataGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideDataGrid.tsx.preview
  docs/data/data-grid/server-side-data/ServerSideDataGridTTL.js
  docs/data/data-grid/server-side-data/ServerSideDataGridTTL.tsx
  docs/data/data-grid/server-side-data/ServerSideDataGridTTL.tsx.preview
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/server-side-data/aggregation.js
  docs/pages/x/react-data-grid/server-side-data/index.js
  docs/pages/x/react-data-grid/server-side-data/infinite-loading.js
  docs/pages/x/react-data-grid/server-side-data/lazy-loading.js
  docs/pages/x/react-data-grid/server-side-data/row-grouping.js
  docs/pages/x/react-data-grid/server-side-data/tree-data.js
  packages/x-data-grid/src/models/gridDataSource.ts
Labels: docs, component: data grid

#15490 [pickers] Always use `props.value` when it changes
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
Labels: bug 🐛, regression, component: pickers, needs cherry-pick, v7.x

#15470 [DataGrid] Fix right column group header border with virtualization
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15508 [docs] Fix typo in migration guide
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#15515 [pickers] Fix unused code in `PickersToolbar` component
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
Labels: component: pickers, enhancement, needs cherry-pick, v7.x

#15475 [fields] Fix focus management with new DOM structure
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: regression, component: pickers, cherry-pick, v7.x

#15537 [charts] Fix `ScatterChart` tooltip wrong defaults
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: bug 🐛, component: charts

#15536 [core] Clarify release version bump strategy
  scripts/README.md
Labels: core, v7.x

#15534 [TreeItem] Correct the typing of `slotProps.groupTransition`
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
Labels: component: tree view

#15535 [DataGrid] Set default overlay height in flex parent layout
  docs/data/data-grid/layout/GridOverlayHeight.js
  docs/data/data-grid/layout/GridOverlayHeight.tsx
  docs/data/data-grid/layout/GridOverlayHeight.tsx.preview
  docs/data/data-grid/layout/layout.md
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  test/regressions/data-grid/DataGridOverlays.js
Labels: component: data grid, enhancement, cherry-pick, v7.x

#15540 [code-infra] Add documentation to internal types
  packages/x-internals/src/types/DefaultizedProps.ts
  packages/x-internals/src/types/MakeOptional.ts
  packages/x-internals/src/types/MakeRequired.ts
  packages/x-internals/src/types/SlotComponentPropsFromProps.ts
  packages/x-internals/src/types/index.ts
Labels: docs, scope: code-infra

#15532 [pickers] Use `props.referenceDate` timezone when `props.value` and `props.defaultValue` are not defined
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/useValueWithTimezone.test.tsx
  packages/x-date-pickers/src/internals/hooks/useValueWithTimezone.ts
Labels: component: pickers, enhancement, needs cherry-pick, v7.x, time-zone

#15531 v7.22.3
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/releaseChangelog.mjs
Labels: release

#15543 [DataGrid] Fix last separator not being hidden when grid is scrollable
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, feature: Column groups, needs cherry-pick, v7.x

#15506 [docs] Add data caching to lazy loaded detail panel demo
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.js
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.tsx
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.tsx.preview
Labels: docs, component: data grid, feature: Master-detail, needs cherry-pick, v7.x

#15342 React 19 support
  .circleci/config.yml
  docs/data/charts/getting-started/getting-started.md
  docs/data/data-grid/custom-columns/cell-renderers/rating.tsx
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/tree-view/getting-started/getting-started.md
  packages/x-charts-pro/README.md
  packages/x-charts-pro/package.json
  packages/x-charts/README.md
  packages/x-charts/package.json
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.test.tsx
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.test.tsx
  packages/x-charts/src/hooks/useSeries.test.tsx
  packages/x-charts/src/hooks/useSvgRef.test.tsx
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-generator/src/renderer/renderEditRating.tsx
  packages/x-data-grid-premium/README.md
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid-pro/README.md
  packages/x-data-grid-pro/package.json
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/x-data-grid/README.md
  packages/x-data-grid/package.json
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
  packages/x-data-grid/src/joy/joySlots.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  packages/x-data-grid/src/tests/quickFiltering.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-tree-view-pro/README.md
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/README.md
  packages/x-tree-view/package.json
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  pnpm-lock.yaml
  scripts/useMaterialUIv6.mjs
  test/README.md
  test/circleci-workflow.png
Labels: component: data grid, component: pickers, component: tree view, needs cherry-pick, v7.x, component: charts, React 19 support

#15554 v8.0.0-alpha.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#15559 [l10n] Improve Spanish(es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/esES.ts
Labels: l10n

#15562 [l10n] Improve Portuguese (Brazil) (pt-BR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ptBR.ts
Labels: l10n

#15564 [l10n] Improve Dutch (nl-NL) locale
  packages/x-date-pickers/src/locales/nlNL.ts
Labels: l10n

#15549 [DataGrid] Improve resize performance
  packages/x-data-grid/src/hooks/core/useGridRefs.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridCoreApi.ts
  packages/x-internals/src/reactMajor.ts
Labels: performance, component: data grid, needs cherry-pick, v7.x

#15571 [docs] Fix bash comments
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  packages/x-codemod/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
Labels: bug 🐛, docs, design

#15556 [DataGrid] Fix order of spread props on toolbar items
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15566 [core] Remove dead translation key
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/isIS.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/nnNO.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
Labels: core, component: data grid, l10n

#15573 [DataGrid] Remove `GridOverlays` export
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/components/base/index.ts
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/overlays/useGridOverlays.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v8.x

#15570 [l10n] Improve Chinese (zh-CN) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
Labels: component: data grid, l10n, cherry-pick, v7.x

#15419 [pickers] Improve validation internals
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/validation/validateDateRange.ts
  packages/x-date-pickers-pro/src/validation/validateDateTimeRange.ts
  packages/x-date-pickers-pro/src/validation/validateTimeRange.ts
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/validation/validateDate.ts
  packages/x-date-pickers/src/validation/validateDateTime.ts
  packages/x-date-pickers/src/validation/validateTime.ts
Labels: component: pickers

#15494 [pickers] Remove `orientation`, `isLandscape`, `isRtl`, `wrapperVariant` and `disabled` props from `PickersLayout`
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/custom-layout/AddComponent.js
  docs/data/date-pickers/custom-layout/AddComponent.tsx
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.js
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.tsx
  docs/data/migration/migration-pickers-v5/MobileKeyboardView.tsx.preview
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/src/modules/components/overview/mainDemo/Clock.tsx
  docs/src/modules/components/overview/mainDemo/DateRangeWithShortcuts.tsx
  docs/src/modules/components/overview/mainDemo/DigitalClock.tsx
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/internals/hooks/useIsLandscape.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
Labels: breaking change, component: pickers

#15604 [tree-view] Flaten import from `@mui/utils` and `@mui/system`
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/internals/utils/releaseInfo.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItemDragAndDropOverlay/TreeItemDragAndDropOverlay.tsx
  packages/x-tree-view/src/TreeItemIcon/TreeItemIcon.types.ts
  packages/x-tree-view/src/internals/components/RichTreeViewItems.tsx
  packages/x-tree-view/src/internals/models/itemPlugin.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
Labels: component: tree view

#15599 [DataGrid] Remove unused `resize` method
  CHANGELOG.md
  docs/pages/x/api/data-grid/grid-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: breaking change, component: data grid

#15602 [charts] Prevent invalid `releasePointerCapture`
  packages/x-charts/src/hooks/useInteractionItemProps.ts
Labels: needs cherry-pick, v7.x, component: charts

#15522 [DataGrid] Remove `indeterminateCheckboxAction` prop
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.js
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.tsx
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.tsx.preview
  docs/data/data-grid/row-selection/row-selection.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/tests/rowSelection.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Selection, v8.x

#15603 [charts] Flatten imports from `@mui/utils` and `@mui/system`
  .eslintrc.js
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/Heatmap/heatmapClasses.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/context/CartesianProviderPro/createAxisFilterMapper.ts
  packages/x-charts-pro/src/internals/utils/releaseInfo.ts
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsLegend/chartsLegendClasses.ts
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#15616 [DataGrid] Remove try/catch from `GridCell` due to performance issues
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: performance, component: data grid, enhancement, needs cherry-pick, v7.x

#15620 [DataGrid] Clear timers on unmount
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: performance, component: data grid, needs cherry-pick, v7.x

#15625 [docs][charts] Fix anchorEl API page
  docs/pages/x/api/charts/charts-tooltip-container.json
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/heatmap-tooltip.json
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
Labels: docs, component: charts

#15626 [docs][tree view] Fix layout shift image
  docs/data/tree-view/tree-item-customization/tree-item-customization.md
Labels: bug 🐛, docs, component: tree view

#15344 [docs][data grid] Add documentation for the list view feature
  docs/data/data-grid/list-view/ListView.js
  docs/data/data-grid/list-view/ListView.tsx
  docs/data/data-grid/list-view/ListViewAdvanced.js
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/list-view/ListViewEdit.js
  docs/data/data-grid/list-view/ListViewEdit.tsx
  docs/data/data-grid/list-view/ListViewEdit.tsx.preview
  docs/data/data-grid/list-view/ListViewMediaQuery.js
  docs/data/data-grid/list-view/ListViewMediaQuery.tsx
  docs/data/data-grid/list-view/ListViewMediaQuery.tsx.preview
  docs/data/data-grid/list-view/list-view.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/grid-list-col-def.js
  docs/pages/x/api/data-grid/grid-list-col-def.json
  docs/pages/x/api/data-grid/index.md
  docs/scripts/createXTypeScriptProjects.ts
  docs/translations/api-docs/data-grid/grid-actions-col-def.json
  docs/translations/api-docs/data-grid/grid-col-def.json
  docs/translations/api-docs/data-grid/grid-list-col-def.json
  docs/translations/api-docs/data-grid/grid-single-select-col-def.json
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/hooks/features/index.ts
  packages/x-data-grid/src/hooks/features/listView/gridListViewSelectors.ts
  packages/x-data-grid/src/hooks/features/listView/index.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: docs, component: data grid, feature: List view

#15632 [DataGrid] Make estimation label more accurate
  docs/data/data-grid/pagination/pagination.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: breaking change, component: data grid, l10n, feature: Pagination

#15528 [DataGridPro] Fix header filtering with `boolean` column type
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering on header

#15637 [docs] Remove selectors section from list view docs
  docs/data/data-grid/list-view/list-view.md
Labels: docs, component: data grid, needs cherry-pick, v7.x, feature: List view

#15572 [docs] Replace use of e.g. with for example
  CHANGELOG.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/custom-opening-button/custom-opening-button.md
  docs/data/date-pickers/lifecycle/lifecycle.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/translations/api-docs/date-pickers/date-field/date-field.json
  docs/translations/api-docs/date-pickers/date-time-field/date-time-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-range-field/multi-input-date-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-date-time-range-field/multi-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/multi-input-time-range-field/multi-input-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/time-field/time-field.json
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateCalendar/tests/timezone.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimeField/tests/timezone.DateTimeField.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/timezone.DigitalClock.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/timezone.TimeClock.test.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/hooks/useParsedFormat.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/models/adapters.ts
  test/utils/pickers/describeGregorianAdapter/testLocalization.ts
Labels: bug 🐛, docs

#15634 [x-data-grid][hooks] Change test dom check from /jsdom/ to /jsdom|HappyDOM/.
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, needs cherry-pick, v7.x

#15640 [DataGridPro] Fix header filtering with `boolean` column type (@k-rajat19)
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, cherry-pick, feature: Filtering on header

#15622 [DataGridPro] Fix pagination state not updating if the data source response has no rows
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Server integration

#15552 [pickers] Fix DST issue with `America/Asuncion` timezone and `AdapterMoment`
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/DateCalendar/tests/timezone.DateCalendar.test.tsx
Labels: bug 🐛, component: pickers, needs cherry-pick, v7.x, time-zone

#15499 [pickers] Use the new `ownerState` in `<PickersCalendarHeader />`, `<PickersArrowSwitcher />` and `<DayCalendarSkeleton />`
  packages/x-date-pickers/src/DateCalendar/PickersFadeTransitionGroup.tsx
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.types.ts
  packages/x-date-pickers/src/PickersCalendarHeader/describes.PickersCalendarHeader.test.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/describes.PickersArrowSwitcher.test.tsx
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
Labels: breaking change, component: pickers

#15523 [DataGrid] Update the default value for `rowSelectionPropagation`
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.js
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, feature: Selection, v8.x

#15521 [DataGrid] Fix scroll error
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15498 [pickers] Use new `ownerState` object in `<DateTimePickerTabs />` and `<DateTimeRangePickerTabs />`
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
Labels: breaking change, component: pickers

#15665 [infra] Remove outdated cherry-pick Actions
  .github/workflows/cherry-pick-master-to-v7.yml
  .github/workflows/cherry-pick-v7-to-v6.yml
Labels: core, scope: infra

#15673 [docs] Improve migration guide
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
Labels: docs, component: data grid

#15672 [docs] Fix Pickers theme augmentation example
  docs/data/date-pickers/base-concepts/base-concepts.md
Labels: docs, component: pickers, needs cherry-pick, v7.x

#15656 v8.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release
