Repository mui/mui-x, pull requests merged in 2024-10, with the labels that each got.

#14780 [docs] Fix typo in usage of Moment guide for UTC and timezones
  docs/data/date-pickers/timezone/timezone.md
Labels: docs

#14146 [data-grid]: use `event.type` for detecting IME key press
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid

#14771 [pickers] Improve `PickerValidDate` type
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/public/static/x/date-pickers/picker-valid-date-configured.png
  docs/public/static/x/date-pickers/picker-valid-date-not-configured.png
  packages/x-date-pickers/src/models/pickers.ts
Labels: typescript, component: pickers

#14792 [charts] Type improvements & `warnOnce` usage
  docs/pages/x/api/charts/line-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/hooks/useSeries.ts
  packages/x-charts/src/internals/geometry.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: docs, enhancement, component: charts

#14451 [l10n] Improve Bulgarian (bg-BG) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/bgBG.ts
Labels: component: data grid, l10n

#14795 [l10n] Add Croatian (hr-HR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/hrHR.ts
  packages/x-date-pickers/src/locales/index.ts
Labels: l10n, component: pickers

#14469 [l10n] Add Bulgarian (bg-BG) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/bgBG.ts
  packages/x-date-pickers/src/locales/index.ts
Labels: l10n, component: pickers

#14798 [TreeView] Fix Cursor navigation interferes with browser shortcut keys
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
Labels: bug 🐛, component: pickers

#14797 [test] Fix `Escape` event firing event
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.test.tsx
Labels: test, component: tree view

#14794 [l10n] Improve Croatian (hr-HR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/hrHR.ts
Labels: component: data grid, l10n

#14516 [docs] Added warning callout for Firefox reordering bug
  docs/data/data-grid/column-ordering/column-ordering.md
Labels: docs, component: data grid, feature: Reordering

#14803 [datagrid] Revert "use `event.type` for detecting IME key press"
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid

#14799 [infra] Adds community contribution section to the changelog script
  scripts/releaseChangelog.mjs
Labels: enhancement, scope: infra

#14810 [DataGridPro] Fix row pre-processing running with a stale data source
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: Server integration

#13757 [DataGridPremium] Automatic parents and children selection
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.js
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/tests/rowSelection.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/gridRowSelectionModel.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, new feature, feature: Selection, feature: Tree data, feature: Row grouping

#14724 [code-infra] Replace or remove all instances of `e` identifier
  docs/data/charts/bars/BorderRadius.js
  docs/data/charts/bars/BorderRadius.tsx
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.tsx
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/components/overview/Internationalization.tsx
  docs/src/modules/components/overview/Keyboard.tsx
  docs/src/modules/components/overview/WorldMapSvg.tsx
  package.json
  packages/x-charts-pro/src/context/ZoomProvider/useSetupPan.ts
  packages/x-charts-pro/src/context/ZoomProvider/useSetupZoom.ts
  packages/x-charts/src/ChartContainer/useDefaultizeAxis.ts
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/LegendPerItem.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/context/ZAxisContextProvider.tsx
  packages/x-charts/src/hooks/useReducedMotion.ts
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/src/internals/getPercentageValue.ts
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/utils/createSelector.ts
  packages/x-date-pickers/src/AdapterDateFnsBase/AdapterDateFnsBase.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  pnpm-lock.yaml
  test/utils/pickers/describeGregorianAdapter/describeGregorianAdapter.ts
Labels: scope: code-infra

#14716 [pickers] Improve typing of the range pickers
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
Labels: typescript, component: pickers

#14829 v7.19.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14822 [data grid][docs] Change demo name example
  docs/data/data-grid/row-spanning/RowSpanningCustom.js
  docs/data/data-grid/row-spanning/RowSpanningCustom.tsx
Labels: docs, component: data grid, feature: Row spanning

#14828 [pickers] Move the `DateFieldInPickerProps` interface to the `DatePicker` folder and rename it `DatePickerFieldProps` (same for time and date time)
  docs/data/date-pickers/experimentation/CustomField.tsx
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DatePicker/DatePicker.types.ts
  packages/x-date-pickers/src/DatePicker/index.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/index.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/index.ts
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/TimeField/index.ts
  packages/x-date-pickers/src/TimePicker/TimePicker.types.ts
  packages/x-date-pickers/src/TimePicker/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: typescript, component: pickers

#14852 [test] Restore "pnpm tc" CLI
  .mocharc.js
  package.json
Labels: test

#14856 [code-infra] Update renovate config and add vitest group
  renovate.json
Labels: scope: code-infra

#14821 [DataGrid] Pass `rowId` param to `processRowUpdate`
  docs/data/data-grid/editing/editing.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, feature: Editing, dx, enhancement

#14818 [docs] Add collapsible column groups demo
  docs/data/data-grid/column-groups/CollapsibleColumnGroups.js
  docs/data/data-grid/column-groups/CollapsibleColumnGroups.tsx
  docs/data/data-grid/column-groups/CollapsibleColumnGroups.tsx.preview
  docs/data/data-grid/column-groups/column-groups.md
Labels: docs, component: data grid, customization: extend, feature: Column groups, recipe

#14854 [docs] Fix column pinning for "Disable detail panel content scroll" section
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx.preview
Labels: docs, component: data grid, feature: Column pinning

#14867 [core] Support `@mui/utils` v6
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: bug 🐛, core

#14749 [TreeView] Rework how items are being rendered in Rich Tree View components
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/internals/components/RichTreeViewItems.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: component: tree view

#14870 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/jaJP.ts
Labels: component: data grid, l10n

#14824 [docs] Divide charts `tooltip` and `highlighting` pages
  docs/data/charts/highlighting/BandHighlight.js
  docs/data/charts/highlighting/BandHighlight.tsx
  docs/data/charts/highlighting/ControlledHighlight.js
  docs/data/charts/highlighting/ControlledHighlight.tsx
  docs/data/charts/highlighting/ElementHighlights.js
  docs/data/charts/highlighting/ElementHighlights.tsx
  docs/data/charts/highlighting/SyncHighlight.js
  docs/data/charts/highlighting/SyncHighlight.tsx
  docs/data/charts/highlighting/SyncHighlight.tsx.preview
  docs/data/charts/highlighting/highlighting.md
  docs/data/charts/pie/pie.md
  docs/data/charts/tooltip/tooltip.md
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/pages.ts
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-axis-highlight.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/react-charts/highlighting.js
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: docs, component: charts

#14877 [DataGrid] Fix scrollbar position not being updated after `scrollToIndexes`
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
Labels: bug 🐛, component: data grid

#14825 [docs] Add custom columns panel demo
  docs/data/data-grid/components/CustomColumnsPanel.js
  docs/data/data-grid/components/CustomColumnsPanel.tsx
  docs/data/data-grid/components/CustomColumnsPanel.tsx.preview
  docs/data/data-grid/components/components.md
Labels: docs, component: data grid, customization: extend, feature: Column groups, feature: Column visibility

#14734 [DataGrid] Add 'onColumnHeaderContextMenu' event
  docs/data/data-grid/events/events.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/hooks/features/events/useGridEvents.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, enhancement

#14851 [test] Replace waitFor() with act()
  packages/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: test

#14885 [docs] Update default column pinning using initialState for "Disable detail panel content scroll" section
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx.preview
Labels: docs, component: data grid

#14882 [code-infra] Remove deprecated `data-mui-test` in favour of `data-testid`
  babel.config.js
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  package.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/validation.DateCalendar.test.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describes.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/timezone.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/tests/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/timezone.TimeClock.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
  test/utils/pickers/viewHandlers.ts
Labels: scope: code-infra

#14896 [pickers] Fix regression on `PickerValidDate`
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers/src/models/pickers.ts
Labels: typescript, regression, component: pickers

#14883 [docs] Fix detail panel demo not working well with pinned columns
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
Labels: docs, component: data grid, feature: Master-detail

#14858 [docs] Update "What's new" page
  CHANGELOG.md
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs

#14888 [DataGrid] Fix scrollbar position not being updated after `scrollToIndexes`
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/core/useGridRefs.ts
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridCoreApi.ts
Labels: bug 🐛, component: data grid

#14902 [DataGrid] Avoid row spanning computation of outdated rows
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
Labels: bug 🐛, component: data grid, feature: Row spanning

#14908 [TreeItem] Deprecate the `ContentComponent` and `ContentProps` props
  docs/pages/x/api/tree-view/tree-item.json
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
Labels: component: tree view

#14907 [data grid] Fix typo on the `rowSelectionPropagation` feature
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid

#14910 v7.20.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: release

#14920 [core] Fix docs deploy command
  package.json
Labels: core

#14919 [codemod] Add a new utility to rename imports
  packages/x-codemod/src/util/renameImports.ts
  packages/x-codemod/src/v6.0.0/pickers/view-components-rename/index.ts
  packages/x-codemod/src/v6.0.0/pickers/view-components-rename/view-components-rename.test.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-tree-view-simple-tree-view/actual-nested-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-tree-view-simple-tree-view/expected-nested-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-tree-view-simple-tree-view/expected-root-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-tree-view-simple-tree-view/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-tree-view-simple-tree-view/rename-tree-view-simple-tree-view.test.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/rename-use-tree-item.test.ts
Labels: package: codemod

#14909 [DataGrid] Fix `onRowSelectionModelChange` firing unnecessarily on initial render
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: bug 🐛, component: data grid, feature: Selection

#14911 [DataGrid] Fix pagination scrollbar issue on small zoom
  packages/x-data-grid/src/components/GridPagination.tsx
Labels: bug 🐛, component: data grid

#14925 [pickers] Fix `PickerValidDate` usage in `DateRangePickerToolbar`
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
Labels: regression, component: pickers

#14417 [charts] Ensure `reduce motion` preference disables animation on page load
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container-pro.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/chart-container-pro/chart-container-pro.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/responsive-chart-container-pro/responsive-chart-container-pro.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/ResponsiveChartContainerPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ResponsiveChartContainer/useResponsiveChartContainerProps.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/AnimationProvider/Animation.types.ts
  packages/x-charts/src/context/AnimationProvider/AnimationContext.ts
  packages/x-charts/src/context/AnimationProvider/AnimationProvider.tsx
  packages/x-charts/src/context/AnimationProvider/index.ts
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.test.tsx
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.ts
  packages/x-charts/src/hooks/useReducedMotion.ts
  packages/x-charts/src/internals/index.ts
Labels: bug 🐛, component: charts

#14926 [code-infra] Prepare some tests to work in `vitest/playwright`
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
Labels: test, component: data grid, scope: code-infra

#14864 [Data grid] Fix excessive white space at the end of grid
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid

#14915 [charts] Allow `dataset` to be used with `ScatterChart`
  docs/data/charts/scatter/ScatterDataset.js
  docs/data/charts/scatter/ScatterDataset.tsx
  docs/data/charts/scatter/ScatterDataset.tsx.preview
  docs/data/charts/scatter/scatter.md
  docs/next-env.d.ts
  docs/pages/x/api/charts/scatter-series-type.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts/src/ScatterChart/extremums.ts
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: new feature, component: charts

#14973 [docs] Fix broken link to the validation section in the Data grid component
  docs/data/data-grid/recipes-editing/recipes-editing.md
Labels: docs

#14972 [DataGrid] Fix `onRowSelectionModelChange` not being called after row is removed
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Selection

#14983 [DataGridPro] Fix scrolling performance when `rowHeight={undefined}`
  packages/x-data-grid/src/DataGrid/index.ts
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/index.ts
Labels: bug 🐛, performance, component: data grid, plan: Pro

#14991 [TreeView] Fix usage of the `aria-selected` attribute
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
Labels: accessibility, enhancement, component: tree view

#14889 [pickers] Create the new picker's `ownerState` object
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerOwnerState.ts
  packages/x-date-pickers/src/models/pickers.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#14220 [data grid][pickers][tree-view] Fix shortcut with localization keyboard
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/keyboardUtils.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.test.tsx
Labels: bug 🐛, component: data grid, regression, component: pickers, component: tree view

#14969 [TreeView] Fix `alpha` usage with CSS variables
  packages/x-tree-view/src/TreeItem2DragAndDropOverlay/TreeItem2DragAndDropOverlay.tsx
Labels: bug 🐛, component: tree view

#14666 [DataGrid] Add recipe showing how to toggle detail panels on row click
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/row-recipes/DetailPanelExpandOnRowClick.js
  docs/data/data-grid/row-recipes/DetailPanelExpandOnRowClick.tsx
  docs/data/data-grid/row-recipes/DetailPanelExpandOnRowClick.tsx.preview
  docs/data/data-grid/row-recipes/row-recipes.md
Labels: component: data grid

#14956 [DataGridPro] Fix indeterminate checkbox state for server-side data
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
Labels: bug 🐛, component: data grid, feature: Selection

#14929 [DataGrid] Fix scroll jumping
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/hooks/core/pipeProcessing/gridPipeProcessingApi.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsMetaInterfaces.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/hooks/utils/useGridApiMethod.ts
  packages/x-data-grid/src/models/api/gridRowsMetaApi.ts
  packages/x-data-grid/src/models/gridApiCaches.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/utils/ResizeObserver.ts
Labels: component: data grid

#15002 [TreeView] Fix hydration error
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.types.ts
Labels: regression, component: tree view

#14963 [docs] Enforce component style rules for Tree View
  CHANGELOG.md
  changelogOld/CHANGELOG.v6.md
  docs/data/common-concepts/custom-components/custom-components.md
  docs/data/migration/migration-tree-view-lab/migration-tree-view-lab.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/accessibility/accessibility.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/data/tree-view/overview/overview.md
  docs/data/tree-view/rich-tree-view/customization/customization.md
  docs/data/tree-view/rich-tree-view/editing/editing.md
  docs/data/tree-view/rich-tree-view/headless/headless.md
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/data/tree-view/rich-tree-view/ordering/ordering.md
  docs/data/tree-view/simple-tree-view/customization/customization.md
  docs/data/tree-view/tree-item-customization/tree-item-customization.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item-2.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/src/modules/components/TreeItem2Anatomy.js
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item-2/tree-item-2.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-codemod/README.md
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem/treeItemClasses.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.types.ts
  packages/x-tree-view/src/TreeItem2Icon/TreeItem2Icon.types.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/corePlugins/corePlugins.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.utils.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
Labels: docs, component: tree view

#15006 v7.21.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14927 [test] Revert to using `fireEvent` instead of `userEvent`
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  scripts/useMaterialUIv6.mjs
  test/utils/pickers/openPicker.ts
Labels: test, component: pickers

#15015 [DataGrid] Fix ugly prop-types for the `pageStyle` prop of the `GridPrintExportMenuItem` component
  docs/pages/x/api/data-grid/grid-print-export-options.json
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/models/gridExport.ts
Labels: component: data grid

#14951 [l10n] Improve Danish (da-DK) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/daDK.ts
Labels: l10n

#14950 [l10n] Improve italian (it-IT) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/itIT.ts
Labels: l10n

#15013 [DataGrid] Refactor: remove some Box & Badge
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenuSlots.ts
  packages/x-data-grid/src/joy/joySlots.tsx
  packages/x-data-grid/src/material/index.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#14890 [Data grid] Fix number of rows to display for page size options with negative value
  docs/data/data-grid/pagination/PageSizeCustomOptions.js
  docs/data/data-grid/pagination/PageSizeCustomOptions.tsx
  docs/data/data-grid/pagination/PageSizeCustomOptions.tsx.preview
  docs/data/data-grid/pagination/pagination.md
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
Labels: component: data grid

#15038 [charts] Export data type in onAxisClick(_, data) callback
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: typescript, component: charts

#15022 [DataGrid] Fix `GridPanelAnchor` positioning
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
Labels: component: data grid, regression

#14992 [TreeView] Make the cancellable event types public
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.itemPlugin.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.types.ts
  packages/x-tree-view/src/TreeItem2LabelInput/TreeItem2LabelInput.types.ts
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/models/MuiCancellableEvent.ts
  packages/x-tree-view/src/internals/models/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.itemPlugin.ts
  packages/x-tree-view/src/models/events.ts
  packages/x-tree-view/src/models/index.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: typescript, component: tree view

#14733 [DataGrid] Fix value type in filter model for number and boolean column type
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
Labels: component: data grid

#15047 [docs] Fix typo in Tree View docs
  docs/data/tree-view/simple-tree-view/items/items.md
Labels: docs, component: tree view

#15042 [TreeView] Fix drag and drop color usage
  packages/x-tree-view/src/TreeItem2DragAndDropOverlay/TreeItem2DragAndDropOverlay.tsx
Labels: bug 🐛, component: tree view

#15054 [release] v8 preparation
  docs/package.json
  docs/pages/_app.js
  docs/src/modules/components/ChartsInstallationInstructions.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/TreeViewInstallationInstructions.js
  package.json
  packages/x-codemod/README.md
Labels: scope: docs-infra, v8.x

#15049 [DataGrid] refactor: baseMenuList & baseMenuItem
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/components/GridColumnMenuAggregationItem.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowGroupItem.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowUngroupItem.tsx
  packages/x-data-grid-premium/src/components/GridExcelExportMenuItem.tsx
  packages/x-data-grid-pro/src/components/GridColumnMenuPinningItem.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuFilterItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuHideItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuManageItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/material/index.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#14899 [TreeView] Automatic parents and children selection
  docs/data/tree-view/datasets/employees.ts
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.js
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.tsx
  docs/data/tree-view/rich-tree-view/selection/ParentChildrenSelectionRelationship.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/SelectionPropagation.js
  docs/data/tree-view/rich-tree-view/selection/SelectionPropagation.tsx
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.test.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/models/itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/models/items.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view, v8.x

#15067 [DataGrid] Focus next row when the focused row is deleted
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, accessibility, component: data grid, cherry-pick

#15066 [TreeView] Replace the Tree Item anatomy images
  docs/data/tree-view/tree-item-customization/tree-item-customization.md
  docs/public/static/x/tree-view-illustrations/tree-item-dark.png
  docs/public/static/x/tree-view-illustrations/tree-item-light.png
  docs/src/modules/components/TreeItemAnatomy.js
Labels: component: tree view, v8.x

#14966 [DataGridPro] Fix column pinning layout
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  test/regressions/data-grid/DataGridPinnedColumns.js
Labels: bug 🐛, component: data grid, regression, feature: Column pinning, needs cherry-pick

#14962 [docs] Copyedit the Charts Getting Started sequence
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/overview/overview.md
  docs/data/introduction/support/support.md
  docs/src/modules/components/ChartFeaturesGrid.js
Labels: docs, component: charts

#15063 [DataGrid] refactor: remove more material imports
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
Labels: component: data grid

#14923 [docs] Backport the Data Grid FAQ page to v6
  docs/data/data-grid/faq/faq.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/faq.js
Labels: docs, component: data grid, v6.x, cherry-pick

#15085 [core] Update some `default-branch-switch` instances for `v7.x`
  .circleci/config.yml
  docs/constants.js
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  docs/data/introduction/support/support.md
  scripts/releaseChangelog.mjs
Labels: core, v7.x

#10793 [pickers] Fix `DigitalClock` time options on a `DST` switch day
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/DigitalClock/tests/timezone.DigitalClock.test.tsx
Labels: bug 🐛, v6.x, component: pickers, component: TimePicker, needs cherry-pick, v7.x, time-zone

#15091 [docs] Use `next` instead of `^8.0.0` in the migration guides
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
Labels: docs

#15099 [core] Adjust cherry-pick GH actions
  .github/workflows/cherry-pick-master-to-v7.yml
  .github/workflows/cherry-pick-v7-to-v6.yml
Labels: core, needs cherry-pick, scope: infra

#15096 [docs] Start v8 migration guides
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/pages.ts
  docs/pages/x/migration/migration-charts-v7.js
  docs/pages/x/migration/migration-data-grid-v7.js
Labels: docs, v8.x

#15100 [core] Update prettier target branch
  package.json
Labels: core, v7.x

#15073 [DataGridPro] Fix column pinning layout
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  test/regressions/data-grid/DataGridPinnedColumns.js
Labels: bug 🐛, component: data grid, plan: Pro, regression, feature: Column pinning, cherry-pick, v7.x

#13826 [DataGridPremium] Server-side data source with row grouping
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/server-side-data/ServerSideRowGroupingDataGrid.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingDataGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideRowGroupingDataGrid.tsx.preview
  docs/data/data-grid/server-side-data/ServerSideRowGroupingErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideRowGroupingFullDataGrid.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingFullDataGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideRowGroupingGroupExpansion.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingGroupExpansion.tsx
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  packages/x-data-grid-generator/src/hooks/index.ts
  packages/x-data-grid-generator/src/hooks/serverUtils.ts
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-generator/src/hooks/useMovieData.ts
  packages/x-data-grid-generator/src/hooks/useQuery.ts
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridDataSourceRowGroupingPreProcessors.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/cache.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/gridDataSourceSelector.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/useGridDataSourceTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/internals/index.ts
  packages/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/core/pipeProcessing/gridPipeProcessingApi.ts
Labels: component: data grid, new feature, plan: Premium, feature: Row grouping, needs cherry-pick, feature: Server integration

#12321 [pickers] Fix `DateCalendar` timezone management
  codecov.yml
  packages/x-date-pickers-pro/src/DateRangeCalendar/timezone.DateRangeCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/tests/timezone.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
Labels: bug 🐛, component: pickers, component: DatePicker, needs cherry-pick, time-zone

#15103 v7.22.0
  CHANGELOG.md
  docs/package.json
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#15124 [DataGrid] Move `rowGroupingModelChange` handler to respective hook
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
Labels: core, component: data grid, needs cherry-pick

#15003 [charts] Update Popper position outside of react
  docs/data/charts/tooltip/CustomAxisTooltip.js
  docs/data/charts/tooltip/CustomAxisTooltip.tsx
  docs/data/charts/tooltip/CustomItemTooltip.js
  docs/data/charts/tooltip/CustomItemTooltip.tsx
  docs/data/charts/tooltip/ItemTooltip.js
  docs/data/charts/tooltip/ItemTooltip.tsx
  docs/data/charts/tooltip/ItemTooltipFixedY.js
  docs/data/charts/tooltip/ItemTooltipFixedY.tsx
  docs/data/charts/tooltip/ItemTooltipTopElement.js
  docs/data/charts/tooltip/ItemTooltipTopElement.tsx
  docs/data/charts/tooltip/tooltip.md
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
Labels: bug 🐛, performance, component: charts

#15149 [TreeView] Fix drag and drop color usage
  packages/x-tree-view/src/TreeItem2DragAndDropOverlay/TreeItem2DragAndDropOverlay.tsx
Labels: bug 🐛, component: tree view

#15056 [pickers] Clean the new `ownerState` object
  docs/data/common-concepts/custom-components/CustomSlotPropsCallback.js
  docs/data/common-concepts/custom-components/CustomSlotPropsCallback.tsx
  docs/data/common-concepts/custom-components/CustomSlotPropsCallback.tsx.preview
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerOwnerState.ts
  packages/x-date-pickers/src/models/pickers.ts
Labels: breaking change, component: pickers

#15053 [fields] Remove `UseDateFieldComponentProps` and equivalent interfaces
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateField/index.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimeField/index.ts
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/TimeField/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, typescript, component: pickers

#15105 [DataGrid] Fix right column group header border
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, feature: Column groups, needs cherry-pick, design

#13515 [docs] Create Pickers masked field recipe
  docs/data/date-pickers/custom-field/custom-behavior/MaskedMaterialTextField.js
  docs/data/date-pickers/custom-field/custom-behavior/MaskedMaterialTextField.tsx
  docs/data/date-pickers/custom-field/custom-behavior/MaskedMaterialTextField.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
  docs/package.json
  pnpm-lock.yaml
Labels: docs, component: pickers

#15108 [DataGridPremium] Keep focus on the grouping cell on space bar press
  docs/data/data-grid/column-definition/AutogeneratedRows.js
  docs/data/data-grid/column-definition/AutogeneratedRows.tsx
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridCustomizeColumns.tsx
  docs/data/data-grid/column-visibility/column-visibility.md
  docs/data/data-grid/overview/DataGridPremiumDemo.js
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx
  docs/data/data-grid/row-grouping/RowGroupingFullExample.js
  docs/data/data-grid/row-grouping/RowGroupingFullExample.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/x-data-grid/src/constants/gridDetailPanelToggleField.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/internals/constants.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/internals/utils/gridRowGroupingUtils.ts
  packages/x-data-grid/src/internals/utils/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: bug 🐛, accessibility, component: data grid, plan: Premium, feature: Row grouping, needs cherry-pick

#15153 [DataGrid] Prevent error when deleting the last row
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
Labels: bug 🐛, component: data grid, cherry-pick

#14994 [pickers] Use the new `ownerState` in `usePickersLayout` and `useXXXPicker`
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/internals/components/PickersProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/usePickersPrivateContext.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
Labels: breaking change, component: pickers

#15162 [pickers] Correctly type the `ownerState` of the `field` and `actionBar` slots when resolved in a picker component
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/PickersLayout/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers

#14860 [docs] Apply the new DX to the Button Field demos
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.js
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.tsx
  docs/data/date-pickers/custom-field/DateRangePickerWithButtonField.tsx.preview
  docs/data/date-pickers/custom-field/PickerWithButtonField.js
  docs/data/date-pickers/custom-field/PickerWithButtonField.tsx
  docs/data/date-pickers/custom-field/PickerWithButtonField.tsx.preview
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.tsx.preview
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.tsx.preview
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.js
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.tsx
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.tsx.preview
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/index.ts
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.types.ts
  packages/x-date-pickers-pro/src/DateTimeRangePicker/index.ts
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.types.ts
  packages/x-date-pickers/src/TimePicker/TimePicker.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
  scripts/x-date-pickers-pro.exports.json
Labels: docs, component: pickers

#15165 [docs] Apply the new DX to the `Autocomplete` Field demo
  docs/data/date-pickers/custom-field/PickerWithJoyField.tsx.preview
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
Labels: docs, component: pickers

#15164 [DataGrid] Fix scroll jump when holding down arrow keys
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
Labels: component: data grid, regression, needs cherry-pick

#14487 [pickers] Remove the re-export from `@mui/x-license`
  packages/x-date-pickers-pro/src/index.ts
  scripts/x-date-pickers-pro.exports.json
Labels: breaking change, v8.x

#15183 [core] Fix Pickers `pl-PL` translation after cherry-pick from master
  packages/x-date-pickers/src/locales/plPL.ts
Labels: core, l10n, component: pickers

#15081 [charts] Remove deprecated `legend` props
  docs/data/charts/highlighting/SyncHighlight.js
  docs/data/charts/highlighting/SyncHighlight.tsx
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/pie-demo/PieChartWithCustomizedLabel.js
  docs/data/charts/pie-demo/PieChartWithCustomizedLabel.tsx
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.js
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.tsx
  docs/data/charts/pie-demo/TwoLevelPieChart.js
  docs/data/charts/pie-demo/TwoLevelPieChart.tsx
  docs/data/charts/pie-demo/TwoSimplePieChart.js
  docs/data/charts/pie-demo/TwoSimplePieChart.tsx
  docs/data/charts/pie/PieClickNoSnap.js
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
  docs/pages/x/api/charts/pie-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-codemod/src/v8.0.0/charts/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/charts/preset-safe/preset-safe.test.ts
  packages/x-codemod/src/v8.0.0/charts/rename-legend-to-slots-legend/index.ts
  packages/x-codemod/src/v8.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v8.0.0/preset-safe/expected.spec.js
  packages/x-codemod/src/v8.0.0/preset-safe/index.ts
Labels: breaking change, component: charts

#15185 [docs] Add section explaining how to keep the selection while filtering
  docs/data/data-grid/row-selection/KeepNonExistentRowsSelected.js
  docs/data/data-grid/row-selection/KeepNonExistentRowsSelected.tsx
  docs/data/data-grid/row-selection/KeepNonExistentRowsSelected.tsx.preview
  docs/data/data-grid/row-selection/row-selection.md
Labels: docs, component: data grid, feature: Filtering, feature: Selection, needs cherry-pick

#15201 [DataGrid] Fix overlay height in `autoHeight` mode
  docs/data/data-grid/layout/AutoHeightOverlay.js
  docs/data/data-grid/layout/AutoHeightOverlay.tsx
  docs/data/data-grid/layout/AutoHeightOverlay.tsx.preview
  docs/data/data-grid/layout/layout.md
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, regression, needs cherry-pick

#15198 [pickers] Clean definition of validation props
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/internals/models/dateTimeRange.ts
  packages/x-date-pickers-pro/src/internals/models/timeRange.ts
  packages/x-date-pickers-pro/src/models/dateRange.ts
  packages/x-date-pickers-pro/src/validation/validateDateRange.ts
  packages/x-date-pickers-pro/src/validation/validateDateTimeRange.ts
  packages/x-date-pickers-pro/src/validation/validateTimeRange.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateField/DateField.types.ts
  packages/x-date-pickers/src/DateTimeField/DateTimeField.types.ts
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.types.ts
  packages/x-date-pickers/src/DigitalClock/DigitalClock.types.ts
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.types.ts
  packages/x-date-pickers/src/TimeClock/TimeClock.types.ts
  packages/x-date-pickers/src/TimeField/TimeField.types.ts
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/props/time.ts
  packages/x-date-pickers/src/internals/utils/date-time-utils.ts
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
  packages/x-date-pickers/src/validation/validateDate.ts
  packages/x-date-pickers/src/validation/validateDateTime.ts
  packages/x-date-pickers/src/validation/validateTime.ts
Labels: typescript, component: pickers

#15208 [TreeView] Export `TreeItem2DragAndDropOverlay` and `TreeItem2LabelInput` from the root of each package
  packages/x-tree-view-pro/src/index.ts
  packages/x-tree-view/src/TreeItem2DragAndDropOverlay/TreeItem2DragAndDropOverlay.tsx
  packages/x-tree-view/src/TreeItem2LabelInput/TreeItem2LabelInput.tsx
  packages/x-tree-view/src/index.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: component: tree view

#15216 [DataGridPremium] Fix incorrect rows selection count when selection propagation is enabled with row grouping
  packages/x-data-grid-premium/src/tests/rowSelection.DataGridPremium.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Selection, needs cherry-pick
