Repository mui/mui-x, pull requests merged in 2024-02, with the labels that each got.

#11411 [charts] Add `onClick` support
  docs/data/charts-component-api-pages.ts
  docs/data/charts/bars/BarClickNoSnap.js
  docs/data/charts/bars/bars.md
  docs/data/charts/lines/LineClickNoSnap.js
  docs/data/charts/lines/lines.md
  docs/data/charts/pie/PieClickNoSnap.js
  docs/data/charts/pie/pie.md
  docs/data/charts/scatter/ScatterClickNoSnap.js
  docs/data/charts/scatter/scatter.md
  docs/data/charts/tooltip/tooltip.md
  docs/pages/x/api/charts/area-plot.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-plot.json
  docs/pages/x/api/charts/charts-on-axis-click-handler.js
  docs/pages/x/api/charts/charts-on-axis-click-handler.json
  docs/pages/x/api/charts/charts-voronoi-handler.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-plot.json
  docs/pages/x/api/charts/mark-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  docs/pages/x/api/charts/pie-plot.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-plot.json
  docs/pages/x/api/charts/scatter.json
  docs/translations/api-docs/charts/area-plot/area-plot.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/bar-plot/bar-plot.json
  docs/translations/api-docs/charts/charts-on-axis-click-handler/charts-on-axis-click-handler.json
  docs/translations/api-docs/charts/charts-voronoi-handler/charts-voronoi-handler.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/line-plot/line-plot.json
  docs/translations/api-docs/charts/mark-plot/mark-plot.json
  docs/translations/api-docs/charts/pie-arc-plot/pie-arc-plot.json
  docs/translations/api-docs/charts/pie-plot/pie-plot.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/scatter-plot/scatter-plot.json
  docs/translations/api-docs/charts/scatter/scatter.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsOnAxisClickHandler/index.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightElement.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/index.ts
  scripts/x-charts.exports.json
Labels: component: charts

#11897 bump monorepo
  docs/package.json
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  packages/x-tree-view/package.json
  yarn.lock
Labels: core

#11898 [charts] Fix Tooltip crash with out of range lines
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/LineChart/formatter.ts
Labels: bug 🐛, needs cherry-pick, component: charts

#11900 Bump monorepo and core packages
  docs/package.json
  package.json
  yarn.lock
Labels: core

#11902 v6.19.3
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11903 v7.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11882 [code-infra] Move next config to ESM
  .eslintrc.js
  docs/constants.js
  docs/next.config.mjs
  docs/package.json
  docs/src/modules/utils/find.mjs
  docs/src/modules/utils/findPages.js
  docs/tsconfig.json
  scripts/l10n.ts
  yarn.lock
Labels: core

#11801 [code-infra] Integrate changes from Core's #40842
  babel.config.js
  docs/babel.config.js
  docs/package.json
  docs/scripts/createXTypeScriptProjects.ts
  docs/scripts/generateProptypes.ts
  tsconfig.json
  yarn.lock
Labels: scope: code-infra

#11849 [code-infra] Simplify bug reproduction
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  bug-reproductions/x-data-grid/package.json
  bug-reproductions/x-data-grid/public/index.html
  bug-reproductions/x-data-grid/src/demo.tsx
  bug-reproductions/x-data-grid/src/index.tsx
  bug-reproductions/x-data-grid/template.json
  bug-reproductions/x-data-grid/tsconfig.json
  docs/data/introduction/support/support.md
Labels: scope: code-infra

#11930 [docs] Fix API links
  docs/data/charts/components/components.md
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/tree-view/overview/overview.md
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
Labels: docs

#11909 [DataGrid] Add support for dialogs in menu actions
  docs/data/data-grid/column-definition/ActionsWithModalGrid.js
  docs/data/data-grid/column-definition/ActionsWithModalGrid.tsx
  docs/data/data-grid/column-definition/ActionsWithModalGrid.tsx.preview
  docs/data/data-grid/column-definition/column-definition.md
  packages/grid/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/grid/x-data-grid/src/components/cell/GridActionsCellItem.tsx
Labels: component: data grid, customization: extend, enhancement, needs cherry-pick, v7.x

#11936 [pickers] Avoid relying on locale in Luxon `isWithinRange` method
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: plan: Pro, regression, component: pickers, component: DateRangePicker, needs cherry-pick

#11795 [DataGrid] Add slot typings
  docs/data/data-grid/components/CustomColumnMenu.tsx
  docs/data/data-grid/components/CustomLoadingOverlayGrid.tsx
  docs/data/data-grid/components/CustomLoadingOverlayGrid.tsx.preview
  docs/data/data-grid/components/components.md
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx.preview
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx.preview
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx.preview
  docs/data/data-grid/state/RestoreStateInitialState.tsx
  docs/data/data-grid/state/RestoreStateInitialState.tsx.preview
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/GridPagination.tsx
  packages/grid/x-data-grid/src/components/GridRow.tsx
  packages/grid/x-data-grid/src/components/base/GridFooterPlaceholder.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/grid/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/grid/x-data-grid/src/joy/joySlots.tsx
  packages/grid/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponent.ts
  packages/grid/x-data-grid/src/models/gridSlotsComponentsProps.ts
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid

#11935 [core] Add `docs:serve` script
  docs/package.json
  package.json
Labels: docs, core

#11932 [code-infra] Simplify bug reproduction (#11849)
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  bug-reproductions/x-data-grid/package.json
  bug-reproductions/x-data-grid/public/index.html
  bug-reproductions/x-data-grid/src/demo.tsx
  bug-reproductions/x-data-grid/src/index.tsx
  bug-reproductions/x-data-grid/template.json
  bug-reproductions/x-data-grid/tsconfig.json
  docs/data/introduction/support/support.md
Labels: docs

#11944 [core] Fix `test_types` failing on the `next` branch
  packages/grid/x-data-grid/src/components/cell/GridActionsCellItem.tsx
Labels: core, component: data grid, typescript

#11953 [charts] Fix Proptypes by support string values for axes
  docs/pages/x/api/charts/default-charts-axis-tooltip-content.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
Labels: component: charts

#11899 [charts] Add `reverse` property to axes
  docs/data/charts/axis/ReverseExampleNoSnap.js
  docs/data/charts/axis/axis.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/models/axis.ts
Labels: needs cherry-pick, component: charts

#11806 [docs][Data Grid] Add quick fixes to the migration guide
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
Labels: docs, component: data grid

#11959 [charts] Add `reverse` property to axes (#11899) @alexfauquette
  docs/data/charts/axis/ReverseExampleNoSnap.js
  docs/data/charts/axis/axis.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/models/axis.ts
Labels: cherry-pick

#11960 [charts] Allows series ids to be numbers (#11941)
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-reference-line.json
  docs/pages/x/api/charts/default-charts-item-tooltip-content.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/formatter.ts
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/internals/defaultizeValueFormatter.ts
  packages/x-charts/src/internals/stackSeries.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/pie.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  scripts/x-charts.exports.json
Labels: cherry-pick, component: charts

#11911 [DataGrid] Add 'removeAllFilterItems' as a reason of `onFilterModelChange` callback
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
Labels: bug 🐛, component: data grid, feature: Filtering

#11961 [docs] Fix `ChartsTooltip` typo
  docs/data/charts/tooltip/tooltip.md
Labels: docs, needs cherry-pick, component: charts

#11877 [l10n] Improve Danish (da-DK) locale
  packages/grid/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n, needs cherry-pick

#11962 [DataGrid] Replace `eval` with `new Function`
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: bug 🐛, component: data grid, v6.x, feature: Filtering, cherry-pick

#11529 [Tree View] Polish the default design & revise the simple version pages
  docs/data/tree-view/overview/overview.md
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.js
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/customization.md
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/items/items.md
  docs/data/tree-view/simple-tree-view/selection/selection.md
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
Labels: docs, component: tree view, design

#11974 [core] Improve license info deprecation message
  packages/x-data-grid-premium/src/index.ts
  packages/x-data-grid-pro/src/index.ts
  packages/x-date-pickers-pro/src/index.ts
Labels: component: data grid, component: pickers, deprecation, v7.x

#11971 [docs] Add missing `charts` breaking change steps
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
Labels: docs, component: charts

#11977 [core] Fix failing `test_static` on the next branch
  docs/data/introduction/support/support.md
Labels: core

#11870 [DataGridPremium] Fix autosize grouping cell
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Tree data, feature: Row grouping, needs cherry-pick, feature: Column resize

#11963 [TreeView] Correctly detect if an item is expandable
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
Labels: bug 🐛, component: tree view, needs cherry-pick

#11985 [docs] Add a note about `AdapterDateFnsV3` on the Getting Started page
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/src/modules/components/PickersRenderingInstructions.js
Labels: docs, component: pickers, needs cherry-pick

#11609 [DataGrid] Allow passing readonly arrays to `pageSizeOptions` prop
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, typescript, needs cherry-pick

#11805 [code-infra] auto-message on closed issues
  .github/workflows/closed-issue-message.yaml
  .github/workflows/no-response.yml
Labels: core, scope: code-infra

#11990 [DataGridPremium] Fix autosize grouping cell (@romgrk)
  packages/grid/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Tree data, feature: Row grouping, cherry-pick, feature: Column resize

#11989 [docs] Refactor `Localization` documentation sections
  docs/data/date-pickers/date-calendar/date-calendar.md
  docs/data/date-pickers/date-field/CustomDateFormat.js
  docs/data/date-pickers/date-field/CustomDateFormat.tsx
  docs/data/date-pickers/date-field/CustomDateFormat.tsx.preview
  docs/data/date-pickers/date-field/date-field.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-calendar/date-range-calendar.md
  docs/data/date-pickers/date-range-field/date-range-field.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-field/CustomDateTimeFormat.js
  docs/data/date-pickers/date-time-field/CustomDateTimeFormat.tsx
  docs/data/date-pickers/date-time-field/CustomDateTimeFormat.tsx.preview
  docs/data/date-pickers/date-time-field/date-time-field.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-field/date-time-range-field.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/digital-clock/digital-clock.md
  docs/data/date-pickers/time-clock/time-clock.md
  docs/data/date-pickers/time-field/CustomTimeFormat.js
  docs/data/date-pickers/time-field/CustomTimeFormat.tsx
  docs/data/date-pickers/time-field/CustomTimeFormat.tsx.preview
  docs/data/date-pickers/time-field/time-field.md
  docs/data/date-pickers/time-picker/time-picker.md
  docs/data/date-pickers/time-range-field/time-range-field.md
Labels: docs, component: pickers, needs cherry-pick

#11924 [DataGrid] Vertical scrolling performance
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollbarFillerCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid

#12000 [charts][docs] Avoid use of shorthand
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/tooltip/Formatting.js
  docs/data/charts/tooltip/Formatting.tsx
  docs/data/charts/tooltip/Formatting.tsx.preview
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: docs, needs cherry-pick, component: charts

#12001 [core] Bump monorepo
  docs/data/charts/getting-started/getting-started.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/localization/localization.md
  docs/data/date-pickers/faq/faq.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  scripts/copyFiles.mjs
  yarn.lock
Labels: core

#11958 [DataGrid] Fix incorrect computation of `lastPage` in `GridPagination`
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Pagination

#12015 v6.19.4
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12014 v7.0.0 beta.2
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#12033 [core] Sort prop asc
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
Labels: core, component: charts

#12036 [docs] Fix typo for AdapterDateFnsV3
  docs/src/modules/components/PickersRenderingInstructions.js
Labels: docs, needs cherry-pick

#12043 [docs] Fix `dayOfWeekFormatter` typo in the pickers v6 to v7 migration document
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs, component: pickers

#12038 [docs] Complete charts API pages
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: docs, component: charts

#12055 bump monorepo
  yarn.lock
Labels: core

#11034 [charts] Add a `ChartsGrid` component
  docs/data/charts-component-api-pages.ts
  docs/data/charts/axis/GridDemo.js
  docs/data/charts/axis/GridDemo.tsx
  docs/data/charts/axis/GridDemo.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/GridDemo.js
  docs/data/charts/bars/GridDemo.tsx
  docs/data/charts/bars/GridDemo.tsx.preview
  docs/data/charts/bars/bars.md
  docs/data/charts/composition/composition.md
  docs/data/charts/lines/GridDemo.js
  docs/data/charts/lines/GridDemo.tsx
  docs/data/charts/lines/GridDemo.tsx.preview
  docs/data/charts/lines/lines.md
  docs/data/charts/scatter/GridDemo.js
  docs/data/charts/scatter/GridDemo.tsx
  docs/data/charts/scatter/GridDemo.tsx.preview
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-grid.js
  docs/pages/x/api/charts/charts-grid.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/charts-grid/charts-grid.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
  packages/x-charts/src/ChartsGrid/chartsGridClasses.ts
  packages/x-charts/src/ChartsGrid/index.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/index.ts
  scripts/x-charts.exports.json
Labels: new feature, component: charts

#12066 [TreeView] Remove instance existence checks
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
Labels: component: tree view

#11996 [charts] Add Gauge component
  docs/.link-check-errors.txt
  docs/data/charts-component-api-pages.ts
  docs/data/charts/gauge/ArcDesign.js
  docs/data/charts/gauge/ArcDesign.tsx
  docs/data/charts/gauge/ArcDesign.tsx.preview
  docs/data/charts/gauge/ArcPlaygroundNoSnap.js
  docs/data/charts/gauge/BasicGauges.js
  docs/data/charts/gauge/BasicGauges.tsx
  docs/data/charts/gauge/BasicGauges.tsx.preview
  docs/data/charts/gauge/CompositionExample.js
  docs/data/charts/gauge/CompositionExample.tsx
  docs/data/charts/gauge/CompositionExample.tsx.preview
  docs/data/charts/gauge/GaugeValueRangeNoSnap.js
  docs/data/charts/gauge/GaugeValueRangeNoSnap.tsx
  docs/data/charts/gauge/GaugeValueRangeNoSnap.tsx.preview
  docs/data/charts/gauge/TextPlaygroundNoSnap.js
  docs/data/charts/gauge/gauge.md
  docs/data/pages.ts
  docs/pages/x/api/charts/gauge-container.js
  docs/pages/x/api/charts/gauge-container.json
  docs/pages/x/api/charts/gauge.js
  docs/pages/x/api/charts/gauge.json
  docs/src/modules/components/ChartComponentsGrid.js
  docs/src/modules/components/DemoPropsForm.tsx
  docs/translations/api-docs/charts/gauge-container/gauge-container.json
  docs/translations/api-docs/charts/gauge/gauge.json
  packages/x-charts/src/ChartsSurface.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/Gauge/GaugeReferenceArc.tsx
  packages/x-charts/src/Gauge/GaugeValueArc.tsx
  packages/x-charts/src/Gauge/GaugeValueText.tsx
  packages/x-charts/src/Gauge/gaugeClasses.ts
  packages/x-charts/src/Gauge/index.ts
  packages/x-charts/src/Gauge/utils.ts
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ResponsiveChartContainer/useChartContainerDimensions.ts
  packages/x-charts/src/index.ts
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/x-charts.exports.json
Labels: component: charts

#11520 [DataGrid][FilterPanel] Fix styling grid filter input single select
  .codesandbox/ci.json
  bug-reproductions/x-data-grid/public/index.html
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  test/e2e/template.html
  test/regressions/template.html
Labels: component: data grid, needs cherry-pick

#12073 [DataGrid] Remove legacy editing API event: `rowEditCommit`
  docs/data/data-grid/events/events.json
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, feature: Editing, needs cherry-pick, v7.x

#12019 [DataGrid] Performance: avoid style invalidation
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/virtualization/gridVirtualizationSelectors.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualization.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/helperFn.ts
Labels: performance, component: data grid

#11979 [tree view][docs] Adjust all demos height to account for the updated design
  docs/data/tree-view/getting-started/FirstComponent.js
  docs/data/tree-view/getting-started/FirstComponent.tsx
  docs/data/tree-view/getting-started/FirstComponent.tsx.preview
  docs/data/tree-view/overview/BasicRichTreeView.js
  docs/data/tree-view/overview/BasicRichTreeView.tsx
  docs/data/tree-view/overview/BasicSimpleTreeView.js
  docs/data/tree-view/overview/BasicSimpleTreeView.tsx
  docs/data/tree-view/rich-tree-view/expansion/ControlledExpansion.js
  docs/data/tree-view/rich-tree-view/expansion/ControlledExpansion.tsx
  docs/data/tree-view/rich-tree-view/expansion/ControlledExpansion.tsx.preview
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.js
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.tsx
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.tsx.preview
  docs/data/tree-view/rich-tree-view/items/BasicRichTreeView.js
  docs/data/tree-view/rich-tree-view/items/BasicRichTreeView.tsx
  docs/data/tree-view/rich-tree-view/items/DisabledItemsFocusable.js
  docs/data/tree-view/rich-tree-view/items/DisabledItemsFocusable.tsx
  docs/data/tree-view/rich-tree-view/items/DisabledPropItem.js
  docs/data/tree-view/rich-tree-view/items/DisabledPropItem.tsx
  docs/data/tree-view/rich-tree-view/items/GetItemId.js
  docs/data/tree-view/rich-tree-view/items/GetItemId.tsx
  docs/data/tree-view/rich-tree-view/items/GetItemLabel.js
  docs/data/tree-view/rich-tree-view/items/GetItemLabel.tsx
  docs/data/tree-view/rich-tree-view/selection/ControlledSelection.js
  docs/data/tree-view/rich-tree-view/selection/ControlledSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/ControlledSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/DisableSelection.js
  docs/data/tree-view/rich-tree-view/selection/DisableSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/MultiSelectTreeView.js
  docs/data/tree-view/rich-tree-view/selection/MultiSelectTreeView.tsx
  docs/data/tree-view/rich-tree-view/selection/TrackNodeSelectionToggle.js
  docs/data/tree-view/rich-tree-view/selection/TrackNodeSelectionToggle.tsx
  docs/data/tree-view/rich-tree-view/selection/TrackNodeSelectionToggle.tsx.preview
  docs/data/tree-view/simple-tree-view/expansion/ControlledExpansion.js
  docs/data/tree-view/simple-tree-view/expansion/ControlledExpansion.tsx
  docs/data/tree-view/simple-tree-view/expansion/TrackNodeExpansionToggle.js
  docs/data/tree-view/simple-tree-view/expansion/TrackNodeExpansionToggle.tsx
  docs/data/tree-view/simple-tree-view/items/BasicSimpleTreeView.js
  docs/data/tree-view/simple-tree-view/items/BasicSimpleTreeView.tsx
  docs/data/tree-view/simple-tree-view/items/DisabledItemsFocusable.js
  docs/data/tree-view/simple-tree-view/items/DisabledItemsFocusable.tsx
  docs/data/tree-view/simple-tree-view/selection/ControlledSelection.js
  docs/data/tree-view/simple-tree-view/selection/ControlledSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/DisableSelection.js
  docs/data/tree-view/simple-tree-view/selection/DisableSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/MultiSelectTreeView.js
  docs/data/tree-view/simple-tree-view/selection/MultiSelectTreeView.tsx
  docs/data/tree-view/simple-tree-view/selection/TrackNodeSelectionToggle.js
  docs/data/tree-view/simple-tree-view/selection/TrackNodeSelectionToggle.tsx
Labels: docs, component: tree view

#12092 [docs] Removed `focused` prop from demo
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
Labels: bug 🐛, docs, component: data grid

#12081 v7.0.0-beta.3
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-tree-view/package.json
Labels: release, v7.x

#12076 [charts][docs] Add small improvements to the Gauge page
  docs/data/charts/gauge/ArcPlaygroundNoSnap.js
  docs/data/charts/gauge/TextPlaygroundNoSnap.js
  docs/data/charts/gauge/gauge.md
  docs/data/pages.ts
  docs/src/modules/components/ChartComponentsGrid.js
Labels: docs, component: charts

#12096 [pickers] Fix styling props propagation to `DateTimePickerTabs`
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-range-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-calendar/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker-toolbar/date-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-range-calendar/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker-toolbar/date-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs/date-time-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar/date-time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-range-picker-tabs/date-time-range-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-range-picker-toolbar/date-time-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersFadeTransitionGroup.tsx
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/models/props/tabs.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
Labels: bug 🐛, component: pickers, customization: css, enhancement, needs cherry-pick

#12128 [docs] Remove default value set to undefined
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-voronoi-handler.json
  docs/pages/x/api/charts/gauge-container.json
  docs/pages/x/api/charts/gauge.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: docs

#12131 [pickers] Fix styling props propagation to `DateTimePickerTabs`
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker-tabs.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-calendar/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker-toolbar/date-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-range-calendar/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker-toolbar/date-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-picker-tabs/date-time-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar/date-time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/PickersFadeTransitionGroup.tsx
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/models/props/tabs.ts
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
Labels: bug 🐛, component: pickers, component: DateTimePicker, customization: css, enhancement, cherry-pick

#12129 [TreeView] Stop using custom `findIndex` to support IE11
  packages/x-tree-view/src/internals/TreeViewProvider/DescendantProvider.tsx
Labels: component: tree view

#12135 [core] Fix docs link check
  CHANGELOG.md
  docs/.link-check-errors.txt
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/scripts/reportBrokenLinks.js
Labels: core, needs cherry-pick

#12136 [pickers] Fix `referenceDate` day calendar focus
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/useCalendarState.tsx
Labels: bug 🐛, component: pickers

#12119 [core] Remove IE 11 compat logic
  docs/data/data-grid/column-definition/RenderExpandCellGrid.js
  docs/data/data-grid/column-definition/RenderExpandCellGrid.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: core

#12095 [code-infra] Use `experimental.cpus` to control amount of export workers in Next.js
  docs/next.config.mjs
Labels: scope: code-infra

#12137 [core] Fix docs link check
  docs/.link-check-errors.txt
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/scripts/reportBrokenLinks.js
Labels: core, cherry-pick

#12097 [docs] Clarify Pickers `Component composition` section
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/data/date-pickers/date-time-range-picker/date-time-range-picker.md
  docs/data/date-pickers/time-picker/time-picker.md
Labels: docs, component: pickers, needs cherry-pick

#12123 [charts] Remove export of context providers
  docs/data/charts/components/components.md
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/index.ts
  scripts/x-charts.exports.json
Labels: bug 🐛, docs, component: charts

#12130 [test] Create local wrapper over describeConformance
  packages/x-data-grid/src/components/panel/GridPanel.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/describes.DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describes.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/tests/describes.SingleInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/tests/describes.SingleInputTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describes.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describes.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describes.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.test.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeView/TreeView.test.tsx
  test/utils/describeConformance.ts
  yarn.lock
Labels: test, core

#11876 [docs-infra] Remove randomized API page layout
  docs/pages/x/api/data-grid/data-grid-premium.js
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.js
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.js
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-filter-form.js
  docs/pages/x/api/data-grid/grid-filter-panel.js
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.js
  docs/src/modules/utils/dataGridLayoutConfig.tsx
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  scripts/buildApiDocs/gridSettings/getComponentInfo.ts
Labels: scope: docs-infra

#11880 [code-infra] Bump monorepo
  docs/next.config.mjs
  docs/pages/_app.js
  docs/src/modules/components/ChartComponentsGrid.js
  docs/src/modules/components/LocalizationTable.js
  webpackBaseConfig.js
  yarn.lock
Labels: core

#12121 [core] Fix shortcuts when Caps Lock enabled
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/keyboardUtils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
Labels: bug 🐛, core

#12120 [core] Simplify key utils
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/utils/keyboardUtils.ts
Labels: core

#12124 [core] Fix missing context display names
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/HighlightProvider.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-license/src/Unstable_LicenseInfoProvider/LicenseInfoContext.ts
  packages/x-license/src/Unstable_LicenseInfoProvider/LicenseInfoProvider.tsx
  packages/x-license/src/Unstable_LicenseInfoProvider/MuiLicenseInfoContext.ts
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.ts
Labels: core, dx

#12160 [charts] Allow to skip animation on sparkline bar
  docs/data/charts/bars/bars.md
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: regression, cherry-pick, component: charts

#12013 [data grid] Performance: DOM changes
  docs/data/data-grid/aggregation/AggregationRenderCell.js
  docs/data/data-grid/aggregation/AggregationRenderCell.tsx
  docs/data/data-grid/column-dimensions/ColumnAutosizing.js
  docs/data/data-grid/column-dimensions/ColumnAutosizing.tsx
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.tsx
  docs/data/data-grid/custom-columns/SparklineColumn.js
  docs/data/data-grid/custom-columns/SparklineColumn.tsx
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/editing/CustomEditComponent.js
  docs/data/data-grid/editing/CustomEditComponent.tsx
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-generator/src/columns/employees.columns.tsx
  packages/x-data-grid-generator/src/renderer/renderProgress.tsx
  packages/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid-pro/src/tests/rowReorder.DataGridPro.test.tsx
  packages/x-data-grid/src/colDef/gridActionsColDef.tsx
  packages/x-data-grid/src/colDef/gridBooleanColDef.tsx
  packages/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/x-data-grid/src/components/GridScrollbarFillerCell.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
Labels: performance, breaking change, component: data grid, v7.x

#12142 [core] Use the @mui/internal-scripts package
  docs/package.json
  docs/scripts/generateProptypes.ts
  yarn.lock
Labels: core

#12047 [docs] Move Heat map to pro
  docs/data/charts/heat-map/heat-map.md
  docs/data/pages.ts
Labels: docs, needs cherry-pick, component: charts

#12156 [docs] Fix "Licensing" page link
  docs/data/introduction/licensing/licensing.md
Labels: bug 🐛, docs

#12134 [docs] Add recipe for hiding separator on non-resizable columns
  docs/data/data-grid/style-recipes/ColumnHeaderHideSeparator.js
  docs/data/data-grid/style-recipes/ColumnHeaderHideSeparator.tsx
  docs/data/data-grid/style-recipes/ColumnHeaderHideSeparator.tsx.preview
  docs/data/data-grid/style-recipes/style-recipes.md
Labels: docs, component: data grid, customization: css, recipe, feature: Column resize

#12184 [charts] Fix typo in JSDoc
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/hooks/useTicks.ts
Labels: docs, component: charts

#12179 [docs] Add the 'point' scaleType to the axis documentation
  docs/data/charts/axis/axis.md
Labels: docs, component: charts

#12185 [docs] Fix the Treemap illustration
  docs/public/static/x/component-illustrations/treemap-dark.png
  docs/public/static/x/component-illustrations/treemap-light.png
Labels: docs, needs cherry-pick, component: charts

#12182 v6.19.5
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12186 [l10n] Improve Korean (ko-KR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/koKR.ts
Labels: l10n, component: pickers, needs cherry-pick

#12183 v7.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#12192 [l10n] Improve Korean (ko-KR) locale (#12186) @Luzi
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/koKR.ts
Labels: l10n, component: pickers, cherry-pick

#11954 [DataDrid] Fix `upsertFilterItems` removing filters that are not part of the update
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#12208 [charts] Fix grid duplicated key
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
Labels: component: charts

#12117 [data grid] boolean filter "is" uses string version of true for determining truthiness
  packages/x-data-grid/src/colDef/gridBooleanOperators.ts
Labels: component: data grid

#12217 [DataGridPro] Fix column resize errors on MacOS with automatic scrollbars enabled
  packages/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: component: data grid, plan: Pro, regression, v7.x, feature: Column resize

#12193 [github] Update `no-response` workflow
  .github/workflows/closed-issue-message.yaml
  .github/workflows/no-response.yml
Labels: core

#12215 [DataGrid] Add `getSortComparator` for more advanced sorting behaviors
  docs/data/data-grid/sorting/GetSortComparator.js
  docs/data/data-grid/sorting/GetSortComparator.tsx
  docs/data/data-grid/sorting/GetSortComparator.tsx.preview
  docs/data/data-grid/sorting/sorting.md
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  packages/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: component: data grid, feature: Sorting, customization: extend, enhancement, v7.x

#10821 [DataGridPro] Fix useGridRows not giving error on reversed data
  packages/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid

#12211 [pickers] Fix toolbar components props handling
  docs/pages/x/api/date-pickers/date-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-picker-toolbar.json
  docs/pages/x/api/date-pickers/date-time-range-picker-toolbar.json
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-picker-toolbar/date-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-range-picker-toolbar/date-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-picker-toolbar/date-time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/date-time-range-picker-toolbar/date-time-range-picker-toolbar.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: breaking change, typescript, component: pickers, enhancement, v7.x

#12227 [core] Allow local docs next.js settings
  docs/.gitignore
  docs/next.config.mjs
Labels: core

#12062 [docs] Update lazy loading demo to show skeleton rows during initial rows fetch
  docs/data/data-grid/row-updates/LazyLoadingGrid.js
  docs/data/data-grid/row-updates/LazyLoadingGrid.tsx
  docs/data/data-grid/row-updates/row-updates.md
Labels: docs, component: data grid, v6.x, feature: Row loading

#12080 [DataGridPro] Fix lazy-loading crash
  packages/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#12230 [DataGrid] Fix cell range classnames
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: component: data grid, regression, plan: Premium, v7.x, feature: Cell Selection

#12140 [data grid] fix onColumnWidthChange called before autosize affects column width
  packages/x-data-grid-pro/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
Labels: component: data grid

#12233 [DataGrid] Fix wrong offset for right-pinned columns when toggling dark/light modes
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Column pinning, v7.x

#12229 [DataGrid] perf: remove querySelector call
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
Labels: performance, component: data grid

#11803 [DataGrid] Add `use client` directive to the Grid packages
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
Labels: component: data grid, nextjs

#12241 [core] Remove grid folder from `getComponentInfo` RegExp
  scripts/buildApiDocs/chartsSettings/getComponentInfo.ts
  scripts/buildApiDocs/gridSettings/getComponentInfo.ts
  scripts/buildApiDocs/pickersSettings/getComponentInfo.ts
  scripts/buildApiDocs/treeViewSettings/getComponentInfo.ts
Labels: core

#12143 [TreeView] Add public API and expose focus method
  docs/data/pages.ts
  docs/data/tree-view/rich-tree-view/focus/FocusedRichTreeView.js
  docs/data/tree-view/rich-tree-view/focus/FocusedRichTreeView.tsx
  docs/data/tree-view/rich-tree-view/focus/FocusedRichTreeView.tsx.preview
  docs/data/tree-view/rich-tree-view/focus/focus.md
  docs/data/tree-view/simple-tree-view/focus/FocusedSimpleTreeView.js
  docs/data/tree-view/simple-tree-view/focus/FocusedSimpleTreeView.tsx
  docs/data/tree-view/simple-tree-view/focus/focus.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/pages/x/react-tree-view/rich-tree-view/focus.js
  docs/pages/x/react-tree-view/simple-tree-view/focus.js
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/hooks/index.ts
  packages/x-tree-view/src/hooks/useTreeViewApiRef.tsx
  packages/x-tree-view/src/index.ts
  packages/x-tree-view/src/internals/models/helpers.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.utils.ts
  packages/x-tree-view/src/internals/utils/extractPluginParamsFromProps.ts
  packages/x-tree-view/src/internals/utils/utils.ts
  scripts/x-tree-view.exports.json
Labels: component: tree view

#12169 [DataGrid] Fix `disableResetButton` and `disableShowHideToggle` flags to not exclude each other
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
Labels: bug 🐛, component: data grid, v7.x, feature: Column visibility

#12245 [I10n] Improve Chinese (zh-CN) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/zhCN.ts
Labels: l10n, component: pickers, needs cherry-pick

#12235 [DataGridPremium] Make clipboard copy respect the sorting during cell selection
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, needs cherry-pick, feature: Clipboard

#12243 [DateTimeRangePicker] Fix validation behavior
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/tests/describes.DateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/describes.DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describes.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  test/utils/pickers/assertions.ts
  test/utils/pickers/describePicker/describePicker.tsx
  test/utils/pickers/describeRangeValidation/testDayViewRangeValidation.tsx
  test/utils/pickers/describeValue/testControlledUnControlled.tsx
  test/utils/pickers/describeValue/testPickerActionBar.tsx
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers/misc.ts
  test/utils/pickers/openPicker.ts
Labels: test, component: pickers, component: DateTimeRangePicker

#11869 [docs] Add polish to the date-picker playground
  docs/data/date-pickers/date-picker/CustomizationExamplesNoSnap.js
  docs/src/modules/components/CustomizationPlayground.tsx
Labels: docs, component: pickers
