Repository mui/mui-x, pull requests merged in 2024-03, with the labels that each got.

#12272 [DataGridPro] Fix lazy loading error when existing rows are passed to replaceRows (@martijn-basesoft)
  packages/grid/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, cherry-pick

#12265 [DataGrid] Render scrollbars only if there is scroll
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
Labels: component: data grid, regression, v7.x

#12260 v7.0.0-beta.5
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#12259 v6.19.6
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12251 [TreeView] New instance and publicAPI method: `getItem`
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/hooks/useTreeViewApiRef.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.types.ts
Labels: component: tree view

#12315 [data-grid] Fix crashing of demos on rating change
  packages/x-data-grid-generator/src/renderer/renderEditRating.tsx
Labels: bug 🐛, docs, component: data grid

#12335 [data-grid] Remove unnecessary stopCellMode in renderEditRating component
  packages/x-data-grid-generator/src/renderer/renderEditRating.tsx
Labels: bug 🐛, component: data grid

#12325 [DataGrid] Fix empty sort being saved in the `sortModel`
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Sorting, v7.x

#12336 [TreeView] Replace `TransitionComponent` and `TransitionProps` with a `groupTransition` slot
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/simple-tree-view/customization/BorderedTreeView.js
  docs/data/tree-view/simple-tree-view/customization/BorderedTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/CustomAnimation.js
  docs/data/tree-view/simple-tree-view/customization/CustomAnimation.tsx
  docs/data/tree-view/simple-tree-view/customization/CustomizedTreeView.js
  docs/data/tree-view/simple-tree-view/customization/CustomizedTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/customization.md
  docs/pages/x/api/tree-view/tree-item.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  packages/x-codemod/README.md
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/replace-transition-props-by-slot/actual.spec.js
  packages/x-codemod/src/v7.0.0/tree-view/replace-transition-props-by-slot/expected.spec.js
  packages/x-codemod/src/v7.0.0/tree-view/replace-transition-props-by-slot/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/replace-transition-props-by-slot/replace-transition-props-by-slot.test.ts
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/treeItemClasses.ts
  packages/x-tree-view/src/internals/models/helpers.ts
Labels: breaking change, component: tree view

#12319 [TreeView] In the `RichTreeView`, do not use the item id as the HTML id attribute
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
Labels: enhancement, component: tree view

#12349 [DataGrid] Fix double border under header
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
Labels: component: data grid

#12316 [charts] Customize tick position for band scale
  docs/data/charts/bars/TickPlacementBars.js
  docs/data/charts/bars/TickPlacementBars.tsx
  docs/data/charts/bars/TickPlacementBars.tsx.preview
  docs/data/charts/bars/bars.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: new feature, component: charts

#12346 [DataGrid] Performance: small optimizations
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-pro/src/components/GridPinnedRows.tsx
  packages/x-data-grid/src/components/GridPinnedRows.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/hooks/core/pipeProcessing/useGridPipeProcessing.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/createSelector.ts
Labels: component: data grid

#8672 [DataGridPro] Rework `onRowsScrollEnd` to use `IntersectionObserver`
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.js
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx
  docs/data/data-grid/row-updates/InfiniteLoadingGrid.tsx.preview
  docs/data/data-grid/row-updates/row-updates.md
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.ts
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridApiCommon.ts
  packages/x-data-grid/src/models/api/gridInfiniteLoaderApi.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, v7.x

#12359 [TreeView] Fix invalid nodes state when updating `props.items`
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
Labels: bug 🐛, component: tree view

#12175 [charts] Fix RTL legend
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/internals/useIsRTL.ts
Labels: i18n, component: charts

#12172 [charts] Add context to axis value formatter
  docs/data/charts/axis/FormatterDemoNoSnap.js
  docs/data/charts/axis/FormatterDemoNoSnap.tsx
  docs/data/charts/axis/FormatterDemoNoSnap.tsx.preview
  docs/data/charts/axis/axis.md
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: enhancement, component: charts

#12375 v7.0.0-beta.6
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#11988 [pickers] Improve the customization of the range picker calendar header
  docs/data/date-pickers-component-api-pages.ts
  docs/data/date-pickers/custom-components/CalendarHeaderComponent.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponent.tsx
  docs/data/date-pickers/custom-components/CalendarHeaderComponent.tsx.preview
  docs/data/date-pickers/custom-components/CalendarHeaderComponentProps.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponentProps.tsx
  docs/data/date-pickers/custom-components/CalendarHeaderComponentProps.tsx.preview
  docs/data/date-pickers/custom-components/CalendarHeaderComponentRange.js
  docs/data/date-pickers/custom-components/CalendarHeaderComponentRange.tsx
  docs/data/date-pickers/custom-components/CalendarHeaderComponentRange.tsx.preview
  docs/data/date-pickers/custom-components/custom-components.md
  docs/pages/x/api/date-pickers/pickers-range-calendar-header.js
  docs/pages/x/api/date-pickers/pickers-range-calendar-header.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/date-pickers/pickers-range-calendar-header/pickers-range-calendar-header.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/PickersRangeCalendarHeader.tsx
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/PickersRangeCalendarHeader.types.ts
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/index.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  scripts/x-date-pickers-pro.exports.json
Labels: component: pickers, enhancement

#12309 [docs] Polish What's new in MUI X blog titles
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs

#12381 [DataGrid] Make `rowCount` part of the state
  docs/data/data-grid/events/events.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-pagination-api.json
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/models/gridApiPro.ts
  packages/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridRowCount.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridApiCommon.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, needs cherry-pick

#12398 [l10n] Improve Japanese (ja-JP) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/jaJP.ts
Labels: l10n

#12402 [data grid] Fix focus visible style on scrollbar
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
Labels: bug 🐛, component: data grid, regression, design

#12377 [pickers] Keep the existing time when looking for closest enabled date
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.test.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
Labels: bug 🐛, component: pickers, needs cherry-pick

#12411 [core] Fix PR deploy link for Tree View doc pages
  dangerfile.js
Labels: core

#12416 [docs] Update `date-fns` `weekStarsOn` overriding example
  docs/data/date-pickers/adapters-locale/adapters-locale.md
Labels: docs, component: pickers, needs cherry-pick

#12312 [fields] Fix items alignment on multi input range fields
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
Labels: bug 🐛, component: pickers

#12419 [TreeView] Rename `onNodeFocus` to `onItemFocus`
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item-2/tree-item-2.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-codemod/README.md
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-focus-callback/actual.spec.js
  packages/x-codemod/src/v7.0.0/tree-view/rename-focus-callback/expected.spec.js
  packages/x-codemod/src/v7.0.0/tree-view/rename-focus-callback/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-focus-callback/rename-focus-callback.test.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.types.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
Labels: breaking change, component: tree view

#12427 [docs] Add missing luxon `Info` import
  CHANGELOG.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs, component: pickers

#12328 [DataGridPro] Add `inputRef` to the props passed to `colDef.renderHeaderFilter`
  docs/data/data-grid/filtering/CustomHeaderFilterSingleDataGridPro.tsx
  docs/pages/x/api/data-grid/grid-actions-col-def.md
  docs/pages/x/api/data-grid/grid-col-def.md
  docs/pages/x/api/data-grid/grid-single-select-col-def.md
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/typeOverloads/modules.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid, enhancement, CLA: signed, feature: Filtering on header, MUI X Pro

#12267 [DataGridPremium] Fix auto-scroll not working when selecting cell range
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/headerFiltering/gridHeaderFilteringSelectors.ts
  packages/x-data-grid/src/hooks/features/headerFiltering/useGridHeaderFiltering.ts
  packages/x-data-grid/src/models/gridHeaderFilteringModel.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, regression, plan: Premium, v7.x, feature: Cell Selection

#12407 [charts] Fix axis highlight when axis is reversed
  docs/data/charts/axis/ReverseExampleNoSnap.js
  packages/x-charts/src/hooks/useAxisEvents.ts
Labels: bug 🐛, component: charts

#12439 [DataGrid] Remove baseSwitch
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/joy/joySlots.tsx
  packages/x-data-grid/src/material/index.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
Labels: breaking change, component: data grid

#12440 [DataGridPro] Fix filler rendered for no reason when there are pinned columns
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: component: data grid, MUI X Pro

#12216 [data grid] Fixed issue where pressing Delete key resets various cell values to empty string.
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
Labels: bug 🐛, component: data grid

#12408 [docs] Improve slots definitions for charts
  docs/data/charts/tooltip/tooltip.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-legend.json
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/default-charts-legend.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/charts-legend/charts-legend.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  docs/translations/api-docs/charts/default-charts-legend/default-charts-legend.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/models/axis.ts
Labels: docs, component: charts

#12444 v6.19.7
  CHANGELOG.md
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12445 v7.0.0-beta.7
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#12461 [charts] Fix small typo in `CartesianContextProvider`
  packages/x-charts/src/context/CartesianContextProvider.tsx
Labels: enhancement, component: charts

#12225 [DataGridPremium] Add support for confirmation before clipboard paste
  docs/data/data-grid/clipboard/ClipboardPasteEvents.js
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx.preview
  docs/data/data-grid/clipboard/clipboard.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
Labels: component: data grid, plan: Premium, customization: extend, enhancement, needs cherry-pick, v7.x, feature: Clipboard

#12466 [DataGridPremium] Add support for confirmation before clipboard paste
  docs/data/data-grid/clipboard/ClipboardPasteEvents.js
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx
  docs/data/data-grid/clipboard/ClipboardPasteEvents.tsx.preview
  docs/data/data-grid/clipboard/clipboard.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/grid/x-data-grid-premium/src/models/dataGridPremiumProps.ts
Labels: component: data grid, v6.x, plan: Premium, customization: extend, enhancement, cherry-pick, feature: Clipboard

#9679 [DataGridPremium] Fix single grouping column sorting
  docs/data/data-grid/row-grouping/RowGroupingFilteringSingleGroupingColDef.js
  docs/data/data-grid/row-grouping/RowGroupingFilteringSingleGroupingColDef.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Sorting, feature: Row grouping, v7.x

#12476 [TreeView] Update JSDoc of the `ContentComponent` prop to avoid using the word "node"
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
Labels: component: tree view

#12477 [core] Fix `no-restricted-imports` ESLint rule not working for data grid packages
  .eslintrc.js
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/models/gridApiPro.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/api/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: core, component: data grid

#12357 [DataGrid] Fix cell value formatting on copy
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/x-data-grid/src/hooks/features/export/useGridCsvExport.tsx
  packages/x-data-grid/src/models/gridExport.ts
Labels: bug 🐛, component: data grid, needs cherry-pick, CLA: signed, feature: Clipboard

#11751 Fix checkbox selection is keeping selection when filtering
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering, feature: Selection, needs cherry-pick

#12460 [license] Fix grammar on expired license error message
  packages/x-license/src/utils/licenseErrorMessageUtils.ts
Labels: package: x-license

#12491 [core] Lower the frequency of no-response action runs
  .github/workflows/no-response.yml
Labels: core

#12226 [TreeView] Set focus on the focused Tree Item instead of the Tree View
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/utils/utils.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
Labels: breaking change, component: tree view

#12499 Bump core
  docs/package.json
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
  yarn.lock
Labels: core, dependencies

#12496 [docs] Update links to v6
  docs/pages/_app.js
Labels: docs, release

#12495 [docs] Update links to v7
  docs/pages/_app.js
Labels: docs, release

#12500 [docs] Update links to v7 docs
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
Labels: docs, release

#12332 [DataGrid] Allow to control the grid density
  docs/data/data-grid/accessibility/DensitySelectorSmallGrid.js
  docs/data/data-grid/accessibility/DensitySelectorSmallGrid.tsx
  docs/data/data-grid/accessibility/DensitySelectorSmallGrid.tsx.preview
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/events/events.json
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/hooks/features/density/densitySelector.ts
  packages/x-data-grid/src/hooks/features/density/densityState.ts
  packages/x-data-grid/src/hooks/features/density/useGridDensity.tsx
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/gridStateCommunity.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/density.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, customization: extend, enhancement, v7.x

#12498 [docs] Update branch name and tags
  docs/constants.js
  docs/data/charts/getting-started/getting-started.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/localization/data.json
  docs/data/introduction/support/support.md
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/pages/_app.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  packages/x-codemod/README.md
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: docs, release

#12479 [DataGrid] Fix `ElementType` usage
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
Labels: component: data grid, typescript, needs cherry-pick

#12353 [DataGrid] Dynamic virtualization range
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingAsync.tsx
  docs/data/data-grid/demo/FullFeaturedDemo.js
  docs/data/data-grid/demo/FullFeaturedDemo.tsx
  docs/data/data-grid/master-detail/BasicDetailPanels.js
  docs/data/data-grid/master-detail/BasicDetailPanels.tsx
  docs/data/data-grid/master-detail/BasicDetailPanels.tsx.preview
  docs/data/data-grid/master-detail/ControlMasterDetail.js
  docs/data/data-grid/master-detail/ControlMasterDetail.tsx
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.js
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.tsx
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.tsx.preview
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.js
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx
  docs/data/data-grid/master-detail/DetailPanelAutoHeight.tsx.preview
  docs/data/data-grid/master-detail/FormDetailPanel.js
  docs/data/data-grid/master-detail/FormDetailPanel.tsx
  docs/data/data-grid/master-detail/FormDetailPanel.tsx.preview
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx.preview
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/virtualization/ColumnVirtualizationGrid.js
  docs/data/data-grid/virtualization/ColumnVirtualizationGrid.tsx
  docs/data/data-grid/virtualization/ColumnVirtualizationGrid.tsx.preview
  docs/data/data-grid/virtualization/virtualization.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/tests/columns.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  test/e2e/fixtures/DataGridPro/KeyboardNavigationFocus.tsx
Labels: performance, breaking change, component: data grid, v7.x

#12489 [fields] Support format without separator
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/DateField/tests/format.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
Labels: bug 🐛, component: pickers

#12511 [core] Update NPM tag
  package.json
Labels: core

#12513 [docs] Remove mentions of pre release
  docs/data/charts/getting-started/getting-started.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs

#12478 [DataGrid] Make `rows` an optional prop
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, typescript, dx

#12517 v6.19.8
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12516 [core] Bump `@mui/material` peer dependency for all packages
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  packages/x-charts/README.md
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/README.md
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/README.md
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/README.md
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-tree-view/README.md
  packages/x-tree-view/package.json
Labels: core, breaking change, v7.x

#12441 [pickers] Use renderer interceptor on `DateTimePicker`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePickerLayout.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/index.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/dateTimeViewRenderers.tsx
  packages/x-date-pickers/src/dateTimeViewRenderers/index.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/index.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, component: pickers, component: DateTimePicker, v7.x

#12518 [DateTimeRangePicker] Add component `JSDoc`
  docs/data/date-pickers/validation/validation.md
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
Labels: docs, release, component: pickers, component: DateTimeRangePicker

#12415 [core] Remove leftover `legacy` `browserlistrc` entry
  .browserslistrc
Labels: core

#12508 [docs] Update supported versions
  docs/data/introduction/support/support.md
Labels: docs, core

#12522 [core] Update prettier script to use `master` branch
  package.json
Labels: core, release

#12521 [core] Update supported browsers (browserlistrc)
  .browserslistrc
  yarn.lock
Labels: core, breaking change, v7.x

#12492 [DataGridPremium] Fix boolean cell not rendered in group rows
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid/src/components/cell/GridBooleanCell.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Row grouping, CLA: signed

#12529 [DateTimeRangePicker] Fix views behavior regression
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
Labels: regression, component: pickers, component: DateTimeRangePicker

#12527 [docs] Update "What's new in MUI X" page
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs

#12523 v7.0.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#12525 [docs] Sync static images from core repository
  docs/public/static/branding/product-advanced-dark.svg
  docs/public/static/branding/product-advanced-light.svg
  docs/public/static/branding/product-core-dark.svg
  docs/public/static/branding/product-core-light.svg
  docs/public/static/branding/product-designkits-dark.svg
  docs/public/static/branding/product-designkits-light.svg
  docs/public/static/branding/product-templates-dark.svg
  docs/public/static/branding/product-templates-light.svg
  docs/public/static/branding/product-toolpad-dark.svg
  docs/public/static/branding/product-toolpad-light.svg
  docs/public/static/sponsors/marblism-dark.svg
  docs/public/static/sponsors/marblism-light.svg
  docs/public/static/sponsors/marblism-rectangular.svg
  docs/public/static/sponsors/marblism-square.svg
  docs/public/static/sponsors/octopus-square.svg
Labels: docs

#12526 [core] Include `DateTimeRangePicker` tag in `releaseChangelog`
  scripts/releaseChangelog.mjs
Labels: core

#12524 [docs] Add example to add a second icon next to the field's opening button
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalid.js
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalid.tsx
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalid.tsx.preview
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalidRange.js
  docs/data/date-pickers/custom-opening-button/AddWarningIconWhenInvalidRange.tsx
  docs/data/date-pickers/custom-opening-button/custom-opening-button.md
Labels: docs, component: pickers

#12534 [docs] These API don't exist in MUI X v6
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  docs/next.config.js
Labels: docs

#12536 [core] Upgrade monorepo
  yarn.lock
Labels: docs, core

#12549 [l10n] Improve Italian (it-IT) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/itIT.ts
Labels: l10n, component: pickers

#12550 [core] Fix `l10n` script on Windows
  scripts/l10n.ts
Labels: core

#12512 [TreeView] Do not use outdated version of the state to compute new label first char in `RichTreeView`
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.types.ts
Labels: bug 🐛, component: tree view

#12552 [docs] Reduce noize in migration docs side navigation
  docs/data/pages.ts
Labels: docs

#12553 [DataGrid] Fix bug in suspense
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
Labels: bug 🐛, component: data grid

#12558 [docs] Fix small typo
  docs/data/pages.ts
Labels: bug 🐛, docs, component: pickers

#12547 [l10n] Improve Chinese (Hong Kong) (zh-HK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/zhHK.ts
Labels: l10n, component: pickers

#12003 [pickers] Prepare compatibility with `@mui/zero-runtime` (stop using `ownerState` in `styled`)
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/translations/api-docs/date-pickers/date-range-picker-day/date-range-picker-day.json
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MonthCalendar/PickersMonth.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersTextField/PickersFilledInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/Outline.tsx
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/PickersOutlinedInput.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/YearCalendar/PickersYear.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
Labels: component: pickers, customization: css

#11383 [DataGrid] Do not publish `rowEditStop` event if row has fields with errors
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing

#12545 [docs] Chart title for SEO
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/overview/overview.md
Labels: docs, component: charts

#12484 [DataGrid] Fix missing class name rendered to GridToolbarQuickFilter
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
Labels: component: data grid, customization: css

#12449 [TreeView] Clean the usage of the term "item" and "node" in the internal API
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item-2.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item-2/tree-item-2.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.plugins.ts
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/treeItemClasses.ts
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/TreeItem2Icon/TreeItem2Icon.types.ts
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/DescendantProvider.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/defaultPlugins.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.utils.ts
Labels: component: tree view

#12589 [fields] Fix placeholder override
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
Labels: regression, component: pickers

#12593 [DateRangePicker] Fix selection behavior with single input field when readonly
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  test/e2e/fixtures/DatePicker/ReadonlyDesktopDateRangePickerSingleV6.tsx
  test/e2e/fixtures/DatePicker/ReadonlyDesktopDateRangePickerSingleV7.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, component: DateRangePicker, feature: Keyboard editing

#12582 [docs] Improve codemod related documentation
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-codemod/README.md
Labels: docs, package: codemod

#12588 v7.1.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#12592 [charts] Fix `ticInterval` usage for y-axis
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: bug 🐛, component: charts

#12602 [core] Remove explicit `express` package
  docs/package.json
  yarn.lock
Labels: core

#12604 [DateTimeRangePicker] Fix selection on same day
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.test.ts
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
Labels: bug 🐛, component: pickers, component: DateTimeRangePicker

#12608 [core] Bump monorepo
  package.json
  yarn.lock
Labels: core

#12605 [DateRangePicker] Fix selection behavior with single input field when `readOnly`
  package.json
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  test/e2e/fixtures/DatePicker/ReadonlyDesktopDateRangePickerSingle.tsx
  test/e2e/index.test.ts
  yarn.lock
Labels: bug 🐛, component: pickers, component: DateRangePicker, cherry-pick
