Repository mui/mui-x, pull requests merged in 2024-06, with the labels that each got.

#13355 [docs] Fix the description of `tickInterval`
  docs/translations/api-docs/charts/axis-config.json
  docs/translations/api-docs/charts/charts-x-axis/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis/charts-y-axis.json
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/hooks/useTicks.ts
Labels: docs, component: charts

#12919 [docs] adjusted the code example for quickFilterValues
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.js
  docs/data/data-grid/filtering/QuickFilteringExcludeHiddenColumns.tsx
  docs/data/data-grid/filtering/QuickFilteringGrid.js
  docs/data/data-grid/filtering/QuickFilteringGrid.tsx
  docs/data/data-grid/filtering/QuickFilteringInitialize.js
  docs/data/data-grid/filtering/QuickFilteringInitialize.tsx
  docs/data/data-grid/filtering/quick-filter.md
  packages/x-data-grid-generator/src/hooks/useMovieData.ts
Labels: docs, component: data grid, feature: Filtering

#13362 [pickers] Fix `AdapterDayjs` timezone behavior
  docs/data/date-pickers/timezone/timezone.md
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  test/e2e/fixtures/DatePicker/SingleDesktopDateRangePickerWithTZ.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, needs cherry-pick, time-zone

#13377 [core] add docs .env.local to gitignore
  .gitignore
Labels: core

#13365 [charts] Add Initializable type and behaviour to allow checking if a complex context has been initialized.
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/context/HighlightedProvider/HighlightedContext.ts
  packages/x-charts/src/context/HighlightedProvider/HighlightedProvider.tsx
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.test.tsx
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.ts
  packages/x-charts/src/context/HighlightedProvider/useItemHighlighted.ts
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/context/context.types.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/hooks/useSeries.test.tsx
  packages/x-charts/src/hooks/useSeries.ts
  packages/x-charts/src/hooks/useSvgRef.test.tsx
  packages/x-charts/src/hooks/useSvgRef.ts
Labels: enhancement, component: charts

#13366 [charts] Harmonize charts TS
  packages/x-charts/src/ChartsLegend/utils.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/internals/configInit.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/isCartesian.ts
  packages/x-charts/src/models/seriesType/config.ts
  packages/x-charts/src/models/seriesType/index.ts
Labels: typescript, component: charts

#13372 [charts] Fix some props not working in xAxis/yAxis
  docs/data/charts/bar-demo/PositiveAndNegativeBarChart.tsx
  docs/pages/x/api/charts/axis-config.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/axis-config.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/models/axis.ts
Labels: bug 🐛, component: charts

#13378 [core] Fixes in preparation for React 18.3
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/x-date-pickers-pro/src/models/fields.ts
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
Labels: core, typescript

#13382 [core] Fix `l10n` action setup
  .github/workflows/l10n.yml
Labels: core

#13383 [core] Remove explicit `marked` dependency
  docs/package.json
  pnpm-lock.yaml
Labels: core, dependencies

#13389 [core] Remove unused `@types/prettier` dependency
  package.json
  pnpm-lock.yaml
Labels: core, dependencies

#13310 [fields] Fix new index calculation on letter section
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing, needs cherry-pick

#13367 [charts] Introduce plugins system
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/BarChart/getColor.ts
  packages/x-charts/src/BarChart/plugin.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/defaultPlugins.ts
  packages/x-charts/src/ChartContainer/usePluginsMerge.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/LineChart/getColor.ts
  packages/x-charts/src/LineChart/plugin.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/plugin.ts
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/ScatterChart/getColor.ts
  packages/x-charts/src/ScatterChart/plugin.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.test.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/hooks/useSeries.test.tsx
  packages/x-charts/src/internals/defaultizeValueFormatter.ts
  packages/x-charts/src/models/index.ts
  packages/x-charts/src/models/plugin.ts
  packages/x-charts/src/models/seriesType/config.ts
  scripts/x-charts.exports.json
Labels: component: charts

#13363 [pickers] Use `useRtl` instead of `useTheme` to access direction
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  packages/x-date-pickers-pro/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerLayoutProps.ts
Labels: component: pickers

#13390 [DataGrid] Clean up IE ramnants from the codebase
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
Labels: component: data grid, browser: IE11

#13396 [charts] Simplify plugin types
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/defaultPlugins.ts
  packages/x-charts/src/ChartContainer/usePluginsMerge.ts
  packages/x-charts/src/models/plugin.ts
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#13394 v6.20.1
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release, v6.x

#13397 [charts] Use plugins to define series extremum and colors
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/ColorProvider.tsx
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useColor.ts
  packages/x-charts/src/hooks/useColorScale.ts
  packages/x-charts/src/internals/colorGetter.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts.exports.json
Labels: component: charts

#13370 [docs] Add `renderHeader` recipe to the Master Details docs
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/row-recipes/DetailPanelCollapseAll.tsx.preview
  docs/data/data-grid/row-recipes/DetailPanelExpandCollapseAll.js
  docs/data/data-grid/row-recipes/DetailPanelExpandCollapseAll.tsx
  docs/data/data-grid/row-recipes/DetailPanelExpandCollapseAll.tsx.preview
  docs/data/data-grid/row-recipes/row-recipes.md
Labels: docs, component: data grid, feature: Master-detail

#11210 [l10n] Improve Russian (ru-RU) locale
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/ukUA.ts
Labels: component: data grid, l10n

#13380 [TreeView] Improve TypeScript for plugins
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/internals/plugins/defaultPlugins.ts
  packages/x-tree-view-pro/src/internals/plugins/index.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.plugins.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/hooks/useTreeViewApiRef.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/TreeViewProvider/index.ts
  packages/x-tree-view/src/internals/TreeViewProvider/useTreeViewContext.ts
  packages/x-tree-view/src/internals/corePlugins/corePlugins.ts
  packages/x-tree-view/src/internals/corePlugins/index.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/models/helpers.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/defaultPlugins.ts
  packages/x-tree-view/src/internals/plugins/index.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
  packages/x-tree-view/src/internals/utils/extractPluginParamsFromProps.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: component: tree view

#13412 [TreeView] Prepare support for PigmentCSS
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/zero-styled/index.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/zero-styled/index.ts
Labels: component: tree view

#13415 [core] Add `eslint-plugin-react-compiler` experimental version and rules
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: core, scope: code-infra

#13433 [charts] Improve themeAugmentation typing
  packages/x-charts/src/themeAugmentation/components.d.ts
Labels: typescript, component: charts, customization: theme

#13152 [TreeView] Improve the typing of the cancelable events
  docs/pages/x/api/tree-view/tree-item-2.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/translations/api-docs/tree-view/tree-item-2/tree-item-2.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.types.ts
Labels: component: tree view

#13417 [docs] Update a11y pages description
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/date-pickers/accessibility/accessibility.md
  docs/data/tree-view/accessibility/accessibility.md
Labels: docs, accessibility

#13060 [data grid][docs] Add small edits to the overview page
  docs/data/data-grid/overview/overview.md
  docs/data/introduction/support/support.md
Labels: docs, component: data grid

#13402 [l10n] Improve Persian (fa-IR) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/faIR.ts
Labels: component: data grid, l10n, component: pickers

#13448 [infra] Adjust CI setup
  .circleci/config.yml
Labels: core, scope: infra

#13384 [l10n] Improve Portuguese (pt-PT) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ptBR.ts
Labels: component: data grid, l10n

#13456 [DataGridPro] Do not render detail panel if the focused cell is not visible
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, plan: Pro, regression, feature: Master-detail

#13314 [test] Add tests for the custom slots of `TreeItem2`
  docs/pages/x/api/tree-view/tree-item-2.json
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.test.tsx
  test/utils/describeSlotsConformance.tsx
  test/utils/tree-view/fakeContextValue.ts
Labels: test, core, component: tree view

#13465 [charts] Move the `ZAxisContextProvider` by default in the `ChartContainer`
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsOverlay/index.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: component: charts

#13467 [core] Minor setup cleanup
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/generateProptypes.ts
  docs/scripts/tsconfig.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
  scripts/build.mjs
  scripts/buildApiDocs/index.ts
  scripts/l10n.ts
  scripts/prettier.mjs
  scripts/releaseChangelog.mjs
  scripts/releaseTag.mjs
  scripts/treeDataFromFileTree.ts
Labels: core

#13453 [docs] Add lazy loading detail panel demo
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.js
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.tsx
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.tsx.preview
  docs/data/data-grid/master-detail/master-detail.md
Labels: docs, component: data grid, feature: Master-detail

#13418 [DataGrid] Add `getFilterState` method
  docs/data/data-grid/filtering-recipes/FilteredRowCount.js
  docs/data/data-grid/filtering-recipes/FilteredRowCount.tsx
  docs/data/data-grid/filtering-recipes/filtering-recipes.md
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-filter-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/models/api/gridFilterApi.ts
Labels: component: data grid, feature: Filtering, customization: extend, enhancement

#13472 v7.7.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#13478 [infra] Remove explicit `@testing-library/react` dependency
  package.json
  pnpm-lock.yaml
Labels: dependencies, scope: infra

#13476 [docs] Document the `PickerValidDate` type override
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs, component: pickers

#13507 [docs] Fix typo
  docs/data/charts/bars/HorizontalBars.js
  docs/data/charts/bars/HorizontalBars.tsx
Labels: docs, component: charts

#13348 [l10n] Improve Portuguese (pt-PT) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ptPT.ts
Labels: component: data grid, l10n

#13513 [docs] Use dedicated tab for weather dataset
  docs/data/charts/axis/AxisTextCustomizationNoSnap.js
  docs/data/charts/axis/GridDemo.js
  docs/data/charts/axis/GridDemo.tsx
  docs/data/charts/bars/BarsDataset.js
  docs/data/charts/bars/BarsDataset.tsx
  docs/data/charts/bars/GridDemo.js
  docs/data/charts/bars/GridDemo.tsx
  docs/data/charts/bars/HorizontalBars.js
  docs/data/charts/bars/HorizontalBars.tsx
  docs/data/charts/bars/TickPlacementBars.js
  docs/data/charts/bars/TickPlacementBars.tsx
  docs/data/charts/dataset/weather.ts
Labels: docs, component: charts

#13464 [pickers] Fix `AdapterDateFnsV3` generated method types
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV3/AdapterDateFnsJalaliV3.ts
  packages/x-date-pickers/src/AdapterDateFnsV3/AdapterDateFnsV3.ts
Labels: bug 🐛, typescript, component: pickers

#13510 [fields] Do not apply digit editing when pressing `Space`
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing, needs cherry-pick

#13479 Bump internal packages
  docs/package.json
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: dependencies, scope: infra

#13375 [l10n] Improve Danish (da-DK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/daDK.ts
Labels: l10n, component: pickers

#13519 [docs][data grid] Warn about `getTreeDataPath` reference
  docs/data/data-grid/export/ExcelCustomExport.js
  docs/data/data-grid/export/ExcelCustomExport.tsx
  docs/data/data-grid/export/ExcelCustomExport.tsx.preview
  docs/data/data-grid/tree-data/tree-data.md
Labels: docs, component: data grid, plan: Pro, feature: Tree data

#13518 [charts] Remove unnecessary proptypes from internal component
  packages/x-charts/src/BarChart/BarLabel/BarLabelPlot.tsx
  packages/x-charts/src/BarChart/types.ts
Labels: bug 🐛, component: charts

#13523 [TreeView] Improve typing to support optional dependencies in plugins and in the item
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/TreeViewProvider/useTreeViewContext.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
Labels: typescript, component: tree view

#13539 [charts] Do not publish the pro package
  .codesandbox/ci.json
  packages/x-charts-pro/package.json
Labels: plan: Pro, component: charts

#13487 [TreeView] Support `itemId` with escaping characters when using `SimpleTreeView`
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/utils/utils.ts
Labels: component: tree view

#13538 [DateRangePicker] Add accessible name to calendar grid
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/pages/x/api/date-pickers/pickers-range-calendar-header.json
  docs/translations/api-docs/date-pickers/pickers-calendar-header/pickers-calendar-header.json
  docs/translations/api-docs/date-pickers/pickers-range-calendar-header/pickers-range-calendar-header.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/PickersRangeCalendarHeader.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.types.ts
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
Labels: bug 🐛, accessibility, component: pickers, component: DateRangePicker

#13511 [pickers] Add context to `onAccept` callback
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/translations/api-docs/date-pickers/date-picker/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker/date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-range-picker/date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-range-picker/desktop-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-range-picker/mobile-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
Labels: component: pickers, enhancement

#13531 [charts] Divide `CartesianProvider` to use logic in Pro package
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/checkScaleErrors.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/usePluginsMerge.ts
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/context/CartesianProvider/CartesianContext.ts
  packages/x-charts/src/context/CartesianProvider/CartesianProvider.tsx
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
  packages/x-charts/src/context/CartesianProvider/getAxisExtremum.ts
  packages/x-charts/src/context/CartesianProvider/index.ts
  packages/x-charts/src/context/CartesianProvider/normalizeAxis.ts
  packages/x-charts/src/context/CartesianProvider/useCartesianContext.ts
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useColorScale.ts
  packages/x-charts/src/hooks/useDrawingArea.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsAxesGradients.tsx
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/models/plugin.ts
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#13552 [pickers] Fix controlled `view` behavior
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
Labels: bug 🐛, component: pickers, needs cherry-pick

#13560 [DataGrid] Fix CSV export escaping for non-string values
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
Labels: bug 🐛, component: data grid, feature: Export

#13447 [pickers] Adds RTL verification for the time pickers default views
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
Labels: bug 🐛, component: pickers, component: TimePicker

#13569 [docs] Remove "-" in heat-map and tree-map urls
  docs/data/charts/heatmap/heatmap.md
  docs/data/charts/treemap/treemap.md
  docs/data/pages.ts
  docs/pages/x/react-charts/heatmap.js
  docs/pages/x/react-charts/treemap.js
  docs/public/_redirects
  docs/src/modules/components/ChartComponentsGrid.js
Labels: docs, component: charts

#13566 [TreeView] Move `useTreeViewId` to the core plugins
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.plugins.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.plugins.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.plugins.ts
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/corePlugins/corePlugins.ts
  packages/x-tree-view/src/internals/corePlugins/index.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/index.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.types.ts
Labels: component: tree view

#13350 [data grid][docs] Clarify enabling pagination
  docs/data/data-grid/pagination/PageSizeAutoPremium.js
  docs/data/data-grid/pagination/PageSizeAutoPremium.tsx
  docs/data/data-grid/pagination/PageSizeAutoPremium.tsx.preview
  docs/data/data-grid/pagination/PaginationCommunityNoSnap.js
  docs/data/data-grid/pagination/PaginationCommunityNoSnap.tsx
  docs/data/data-grid/pagination/PaginationCommunityNoSnap.tsx.preview
  docs/data/data-grid/pagination/pagination.md
Labels: docs, component: data grid, feature: Pagination

#13574 [core] Fix failing CI test
  docs/.link-check-errors.txt
Labels: test

#13567 v6.20.2
  CHANGELOG.md
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#13577 [core] Update release readme with `pnpm` notice
  scripts/README.md
Labels: core

#13579 [TreeView] Remove unused state from `useTreeViewId`
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.types.ts
Labels: component: tree view

#13565 v7.7.1
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#12406 [DataGrid] Make `rowCount` part of the state
  docs/data/data-grid/events/events.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/grid-pagination-api.json
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/GridPagination.tsx
  packages/grid/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/grid/x-data-grid/src/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/grid/x-data-grid/src/hooks/features/pagination/useGridRowCount.ts
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, v6.x, cherry-pick

#13563 [DataGrid] Add `columnHeaderSortIcon` slot
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, customization: css

#13609 [charts] Fix line chart props not passing correct event handlers
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/hooks/useColor.ts
Labels: bug 🐛, component: charts

#13582 [docs-infra] Sync _app file with monorepo
  docs/pages/_app.js
Labels: scope: docs-infra

#13614 [charts] Support RTL for y-axis
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: l10n, component: charts

#13587 [DataGrid] Fix dimensions lag issue after autosize
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
Labels: bug 🐛, component: data grid, feature: Column resize

#13621 [docs] Add callout for `Luxon` `throwOnInvalid` support
  docs/data/date-pickers/adapters-locale/adapters-locale.md
Labels: docs, component: pickers

#13625 [DataGridPro] Fix multi-sorting indicator being cut off
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
Labels: component: data grid, plan: Pro, feature: Sorting, design

#13034 [DataGrid] Fix print export failure when `hideFooter` option is set
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: component: data grid

#13619 [license] Allow usage of charts an tree view pro package for old premium licenses
  packages/x-license/src/Watermark/Watermark.tsx
  packages/x-license/src/useLicenseVerifier/index.ts
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-license/src/utils/commercialPackages.ts
  packages/x-license/src/utils/index.ts
  packages/x-license/src/utils/licenseScope.ts
  packages/x-license/src/verifyLicense/verifyLicense.test.ts
  packages/x-license/src/verifyLicense/verifyLicense.ts
Labels: bug 🐛, package: x-license

#13471 [charts] Support BarChart with `Date` data
  docs/pages/x/api/charts/axis-config.json
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#13632 [TreeView] Support experimental features from plugin's dependencies
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/useTreeView/extractPluginParamsFromProps.ts
Labels: component: tree view

#13633 [core] Add eslint rule to restrict import from `../internals` root
  .eslintrc.js
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
Labels: core

#13637 [chart] Use default values instead of non-null assertion to prevent error being thrown
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/internals/getSVGPoint.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/utils.ts
Labels: enhancement, component: charts

#13652 [fields] Fix section clearing behavior on Android
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
Labels: bug 🐛, regression, component: pickers, feature: Keyboard editing

#13656 v6.20.3
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
Labels: release, v6.x

#13655 v7.8.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release
