Repository mui/mui-x, pull requests merged in 2024-12, with the labels that each got.

#15694 [DataGridPremium] Remove the ariaV8 experimental flag
  docs/data/data-grid/row-grouping/RowGroupingAriaV8.js
  docs/data/data-grid/row-grouping/RowGroupingAriaV8.tsx
  docs/data/data-grid/row-grouping/RowGroupingAriaV8.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingFullExample.js
  docs/data/data-grid/row-grouping/RowGroupingFullExample.tsx
  docs/data/data-grid/row-grouping/RowGroupingFullExample.tsx.preview
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/remove-stabilized-experimentalFeatures.test.ts
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/remove-stabilized-experimentalFeatures/ts-expected.spec.tsx
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/hooks/utils/useGridAriaAttributes.tsx
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
Labels: breaking change, accessibility, component: data grid, plan: Premium, v8.x

#15659 [code-infra] Import Pickers `preset-safe` into global codemod config
  packages/x-codemod/src/v8.0.0/pickers/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/pickers/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/pickers/preset-safe/preset-safe.test.ts
  packages/x-codemod/src/v8.0.0/preset-safe/actual.spec.js
  packages/x-codemod/src/v8.0.0/preset-safe/expected.spec.js
  packages/x-codemod/src/v8.0.0/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/preset-safe/preset-safe.test.ts
Labels: package: codemod, scope: code-infra

#15697 [DataGridPro] Cleanup pinned rows on removal
  packages/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row pinning, needs cherry-pick, v7.x

#13878 [DataGridPro] Server side data source lazy loading
  docs/data/data-grid/events/events.json
  docs/data/data-grid/server-side-data/ServerSideDataGridNoCache.js
  docs/data/data-grid/server-side-data/ServerSideDataGridNoCache.tsx
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingInfinite.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingInfinite.tsx
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingModeUpdate.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingModeUpdate.tsx
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingRequestThrottle.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingRequestThrottle.tsx
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingViewport.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingViewport.tsx
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/infinite-loading.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/react-data-grid/server-side-data/infinite-loading.js
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  packages/x-data-grid-generator/src/hooks/serverUtils.ts
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/cache.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/interfaces.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/utils.ts
  packages/x-data-grid-pro/src/hooks/features/index.ts
  packages/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/x-data-grid-pro/src/hooks/features/lazyLoader/utils.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/useGridDataSourceTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/internals/index.ts
  packages/x-data-grid-pro/src/internals/propValidation.ts
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/typeOverloads/modules.ts
  packages/x-data-grid/src/hooks/core/strategyProcessing/gridStrategyProcessingApi.ts
  packages/x-data-grid/src/hooks/core/strategyProcessing/useGridStrategyProcessing.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/gridDataSource.ts
Labels: component: data grid, new feature, plan: Pro, feature: Row loading, feature: Server integration

#15703 [code-infra] Check if `preset-safe` folder exists in codemod test
  packages/x-codemod/src/v8.0.0/preset-safe/preset-safe.test.ts
Labels: bug 🐛, scope: code-infra

#15710 [test] Force hover in headless Chrome
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  test/karma.conf.js
Labels: test, core, needs cherry-pick, v7.x

#15692 [DataGrid] Fix deselection not working with `isRowSelectable`
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: bug 🐛, breaking change, component: data grid, feature: Selection, v8.x

#15465 [DataGrid] Make column autosizing work with flex columns
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Column resize

#15698 [DataGrid] Remove `dataRowIdToIdLookup` selector
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-pro/src/hooks/features/rowPinning/useGridRowPinningPreProcessors.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsInterfaces.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsSelector.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/index.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: performance, breaking change, component: data grid, v8.x

#15709 [codemod] Add missing `preset-safe` for the data-grid
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/preset-safe.test.ts
  packages/x-codemod/src/v8.0.0/preset-safe/index.ts
Labels: package: codemod, scope: code-infra

#15715 [docs] Remove duplicated warning
  docs/data/data-grid/list-view/list-view.md
Labels: docs, component: data grid, v7.x

#15118 [docs] Customization demo for the Date and Time pickers overview page
  docs/data/date-pickers/overview/overview.md
  docs/src/modules/components/overview/ConfigToggleButtons.tsx
  docs/src/modules/components/overview/CustomLayoutRangePicker.tsx
  docs/src/modules/components/overview/Customization.tsx
  docs/src/modules/components/overview/Internationalization.tsx
  docs/src/modules/components/overview/Keyboard.tsx
  docs/src/modules/components/overview/MainDemo.tsx
  docs/src/modules/components/overview/mainDemo/DateRangeWithShortcuts.tsx
  docs/src/modules/components/overview/themes/customTheme.ts
  docs/src/modules/components/overview/themes/defaultTheme.ts
  docs/src/modules/components/overview/themes/md3.ts
  docs/src/modules/components/overview/themes/themes.types.ts
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersShortcuts/PickersShortcuts.tsx
Labels: docs, component: pickers

#15701 [pickers] Replace the `onOpen()` and `onClose()` methods of `usePickerContext()` with a single `setOpen()` method.
  docs/data/date-pickers/calendar-systems/AdapterHijri.js
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.tsx
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/src/modules/components/overview/mainDemo/PickerButton.tsx
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useOpenState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
Labels: breaking change, component: pickers, enhancement, v8.x

#15720 [charts] Improve SVG `pattern` and `gradient` support
  docs/data/charts/styling/GradientTooltip.js
  docs/data/charts/styling/GradientTooltip.tsx
  docs/data/charts/styling/PatternPie.js
  docs/data/charts/styling/PatternPie.tsx
  docs/data/charts/styling/styling.md
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
Labels: enhancement, needs cherry-pick, v7.x, component: charts

#15699 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n

#15482 [DataGrid] Remove `rowPositionsDebounceMs` prop
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: breaking change, component: data grid, v8.x

#15641 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
Labels: component: data grid, l10n

#15316 [core] Add `@mui/x-tree-view-pro` to `releaseChangelog`
  scripts/releaseChangelog.mjs
Labels: component: tree view, needs cherry-pick, v7.x

#15734 [l10n] Improve Turkish (tr-TR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/trTR.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#15738 [docs-infra] Bump @mui/internal-markdown to support nested demo imports
  docs/data/data-grid/joy-ui/joy-ui.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/custom-layout/custom-layout.md
  docs/data/date-pickers/experimentation/experimentation.md
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: scope: docs-infra

#15749 [release] v7.23.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release, v7.x

#15750 v8.0.0-alpha.3
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#15596 [docs] Improve Pickers accessible DOM migration section description
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#15745 [l10n] Improve Romanian (ro-RO) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-date-pickers/src/locales/roRO.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#15739 [DataGridPremium] Fix group column ignoring `valueOptions` for `singleSelect` column type
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Row grouping, needs cherry-pick, v7.x

#15752 [docs] Improve Pickers accessible DOM structure description
  docs/data/date-pickers/fields/fields.md
Labels: docs, component: pickers

#15764 [charts] Only access store values by using hooks
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/ChartsLegend/useAxis.ts
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/hooks/useColorScale.ts
  packages/x-charts/src/hooks/useZAxis.ts
Labels: component: charts

#15766 [code-infra] Remove redundant `@type/react-test-renderer` dep
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: scope: code-infra

#15762 [docs] Use date library version from package dev dependencies for sandboxes
  docs/src/modules/utils/postProcessImport.test.ts
  docs/src/modules/utils/postProcessImport.ts
Labels: docs, component: pickers, needs cherry-pick, v7.x

#15772 [TreeView] Add JSDoc to the `UseTreeViewItemsState` interface
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: component: tree view

#15763 [pickers] Clean `usePicker` logic
  packages/x-date-pickers-pro/src/internals/hooks/models/useRangePicker.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/index.ts
Labels: component: pickers

#15776 [pickers] Use the new `ownerState` in `useClearableField`
  packages/x-date-pickers/src/hooks/useClearableField.tsx
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
Labels: component: pickers

#15669 [pickers] Use the new `ownerState` object for the clock components and the desktop / mobile wrappers
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.types.ts
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
Labels: breaking change, component: pickers

#15707 [docs] Clean Joy and Browser custom field demos
  docs/data/date-pickers/custom-field/BrowserV7Field.js
  docs/data/date-pickers/custom-field/BrowserV7Field.tsx
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.js
  docs/data/date-pickers/custom-field/JoyV6Field.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.tsx.preview
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx.preview
Labels: docs, component: pickers

#15355 [DataGridPro] Make Row reordering work with pagination
  packages/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/x-data-grid-pro/src/tests/rowReorder.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/sorting/gridSortingSelector.ts
  packages/x-data-grid/src/hooks/features/sorting/index.ts
  packages/x-data-grid/src/internals/index.ts
Labels: bug 🐛, component: data grid, feature: Reordering, needs cherry-pick, v7.x

#15742 [DataGrid] Make row spanning feature stable
  docs/data/data-grid/row-spanning/RowSpanning.js
  docs/data/data-grid/row-spanning/RowSpanning.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalendar.js
  docs/data/data-grid/row-spanning/RowSpanningCalendar.tsx
  docs/data/data-grid/row-spanning/RowSpanningCalendar.tsx.preview
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.js
  docs/data/data-grid/row-spanning/RowSpanningClassSchedule.tsx
  docs/data/data-grid/row-spanning/RowSpanningCustom.js
  docs/data/data-grid/row-spanning/RowSpanningCustom.tsx
  docs/data/data-grid/row-spanning/RowSpanningCustom.tsx.preview
  docs/data/data-grid/row-spanning/row-spanning.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/tests/rowSpanning.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
Labels: breaking change, component: data grid, v8.x, feature: Row spanning

#15802 [charts] Fix scatter dataset with missing data
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/ScatterChart/extremums.ts
  packages/x-charts/src/ScatterChart/formatter.ts
Labels: bug 🐛, needs cherry-pick, v7.x, component: charts

#15805 [charts] Fix internal spelling typo
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
Labels: component: charts

#15803 [pickers] Rename layout `ownerState` property from `isRtl` to `layoutDirection`
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
Labels: component: pickers

#15777 [pickers] Use the new `ownerState` in the toolbar components
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarText.tsx
  packages/x-date-pickers/src/internals/hooks/useToolbarOwnerState.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/common.ts
Labels: breaking change, component: pickers

#15630 [charts] Update Tooltip style
  docs/pages/x/api/charts/charts-axis-tooltip-content.json
  docs/pages/x/api/charts/charts-item-tooltip-content.json
  docs/pages/x/api/charts/charts-tooltip-container.json
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/heatmap-tooltip.json
  docs/translations/api-docs/charts/charts-axis-tooltip-content/charts-axis-tooltip-content.json
  docs/translations/api-docs/charts/charts-item-tooltip-content/charts-item-tooltip-content.json
  docs/translations/api-docs/charts/charts-tooltip-container/charts-tooltip-container.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  docs/translations/api-docs/charts/heatmap-tooltip/heatmap-tooltip.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/ChartsTooltip/chartsTooltipClasses.ts
Labels: breaking change, component: charts, design

#15647 [charts] Fix hydration missmatch
  packages/x-charts/src/internals/plugins/corePlugins/useChartId/useChartId.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartId/useChartId.types.ts
  packages/x-charts/src/internals/store/useCharts.ts
Labels: bug 🐛, component: charts

#15814 [license] Use `console.log` for the error message on Codesandbox to avoid rendering error
  packages/x-license/src/utils/licenseErrorMessageUtils.ts
Labels: package: x-license, needs cherry-pick, v7.x

#15817 [DataGrid] Use `columnsManagement` slot
  packages/x-data-grid/src/components/panel/GridColumnsPanel.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15807 [data grid] Update filter panel input variant
  packages/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
Labels: breaking change, component: data grid, design, v8.x

#15509 [DataGrid] Deselect selected row on click
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Selection, v8.x

#15830 [code-infra] Add Charts sandbox generation
  .codesandbox/ci.json
  bug-reproductions/x-charts/package.json
  bug-reproductions/x-charts/public/index.html
  bug-reproductions/x-charts/src/demo.tsx
  bug-reproductions/x-charts/src/index.tsx
  bug-reproductions/x-charts/template.json
  bug-reproductions/x-charts/tsconfig.json
Labels: scope: code-infra

#15200 [DataGrid] Use new selectors
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/gridDataSourceSelector.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/api/gridStateApi.ts
  packages/x-data-grid/src/models/controlStateItem.ts
  packages/x-data-grid/src/utils/createSelector.spec.ts
  packages/x-data-grid/src/utils/createSelector.test.ts
  packages/x-data-grid/src/utils/createSelector.ts
Labels: core, breaking change, component: data grid, v8.x

#15335 [DataGrid] Fix "No rows" displaying when all rows are pinned
  packages/x-data-grid/src/hooks/features/overlays/useGridOverlays.tsx
Labels: bug 🐛, component: data grid, feature: Row pinning, needs cherry-pick, v7.x

#15813 [charts] HTML Labels
  packages/x-charts/package.json
  packages/x-charts/src/ChartsLabel/ChartsLabel.test.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabel.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabelGradient.test.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabelGradient.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabelMark.test.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabelMark.tsx
  packages/x-charts/src/ChartsLabel/labelClasses.ts
  packages/x-charts/src/ChartsLabel/labelGradientClasses.tsx
  packages/x-charts/src/ChartsLabel/labelMarkClasses.ts
  packages/x-charts/src/internals/consumeThemeProps.tsx
  pnpm-lock.yaml
Labels: component: charts, design

#15864 [charts] Fix key generation for the ChartsGrid (@alexfauquette)
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
Labels: bug 🐛, cherry-pick, component: charts

#15866 v7.23.2
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#15855 [docs] Fix outdated link to handbook
  docs/data/data-grid/export/export.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/introduction/overview/overview.md
  packages/x-charts-pro/README.md
  packages/x-charts/README.md
  packages/x-data-grid-premium/README.md
  packages/x-data-grid-pro/README.md
  packages/x-data-grid/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
  packages/x-tree-view-pro/README.md
  packages/x-tree-view/README.md
  renovate.json
  scripts/l10n.ts
Labels: bug 🐛, docs

#15867 [DataGrid] Toggle menu on click in `GridActionsCell`
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
Labels: component: data grid, enhancement

#15858 [DataGrid] Trigger row spanning computation on rows update
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Row spanning

#15850 [DataGrid] Round dimensions to avoid subpixel rendering error
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
Labels: component: data grid, regression, needs cherry-pick, v7.x

#15871 [DataGrid] Toggle menu on click in `GridActionsCell` (@k-rajat19)
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
Labels: component: data grid, enhancement, cherry-pick

#15862 [DataGrid] Deprecate `indeterminateCheckboxAction` prop
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, feature: Selection, v7.x

#15820 [TreeView] Move the `expansionTrigger` variable from the context value to the state
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.utils.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view

#15869 [DataGrid] Refactor: move ListItem(Text|Icon) to leaf import
  packages/x-data-grid-premium/src/components/GridColumnMenuAggregationItem.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowGroupItem.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuRowUngroupItem.tsx
  packages/x-data-grid-pro/src/components/GridColumnMenuPinningItem.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuFilterItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuHideItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuManageItem.tsx
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: breaking change, component: data grid, v8.x

#15878 [l10n] Improve Korean(ko-KR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/koKR.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#15861 [DataGrid] Fix `aria-label` value for group checkboxes
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: bug 🐛, accessibility, component: data grid, v7.x

#15835 [DataGridPro] Use `Set` for `detailPanelExpandedRowIds`
  docs/data/data-grid/master-detail/ControlMasterDetail.js
  docs/data/data-grid/master-detail/ControlMasterDetail.tsx
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.js
  docs/data/data-grid/master-detail/LazyLoadingDetailPanel.tsx
  docs/data/data-grid/master-detail/master-detail.md
  docs/data/data-grid/row-recipes/DetailPanelExpandCollapseAll.js
  docs/data/data-grid/row-recipes/DetailPanelExpandCollapseAll.tsx
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.js
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.tsx
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-detail-panel-api.json
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/tests/DataGridPremium.spec.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanels.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelInterface.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelSelector.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/index.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelPreProcessors.ts
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/DataGridPro.spec.tsx
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/typeOverloads/modules.ts
  packages/x-data-grid/src/tests/DataGrid.spec.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: performance, breaking change, component: data grid, feature: Master-detail

#15870 [DataGrid] Use `slotProps` to forward props to `.main` and `.root` elements
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/internals/utils/index.ts
  packages/x-data-grid/src/internals/utils/useProps.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/DataGrid.test.tsx
Labels: breaking change, accessibility, component: data grid, v8.x

#15879 [DataGrid] Refactor: move Badge to leaf import
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#15909 [DataGrid] Update quick filter input variant
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
Labels: breaking change, component: data grid, feature: Filtering, design, v8.x

#15849 [pickers] Add verification to disable skipped hours in spring forward DST
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
Labels: bug 🐛, component: pickers, needs cherry-pick, v7.x

#15917 [charts] Fix scatter the chart value type if `null`
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.js
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.tsx
  docs/data/charts/scatter/ColorScale.js
  docs/data/charts/scatter/ColorScale.tsx
  docs/data/charts/styling/ColorTemplate.js
  docs/data/charts/styling/ColorTemplate.tsx
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: bug 🐛, component: charts

#15863 [pickers] Use the new `ownerState` object on the `<PickersTextField />` component
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.tsx
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersFilledInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersFilledInput/pickersFilledInputClasses.ts
  packages/x-date-pickers/src/PickersTextField/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInput/pickersInputClasses.ts
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/Outline.tsx
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/PickersOutlinedInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.types.ts
  packages/x-date-pickers/src/PickersTextField/usePickerTextFieldOwnerState.ts
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.tsx
  packages/x-date-pickers/src/internals/components/PickersArrowSwitcher/PickersArrowSwitcher.types.tsx
  packages/x-date-pickers/src/internals/hooks/useFieldOwnerState.ts
  packages/x-date-pickers/src/models/fields.ts
Labels: component: pickers

#15913 [DataGrid] Refactor: remove joy-ui
  docs/data/data-grid/joy-ui/GridJoyUISlots.js
  docs/data/data-grid/joy-ui/GridJoyUISlots.tsx
  docs/data/data-grid/joy-ui/joy-ui.md
  docs/pages/x/react-data-grid/experiments/joy-ui.js
  packages/x-data-grid/package.json
  packages/x-data-grid/src/joy/icons.tsx
  packages/x-data-grid/src/joy/index.ts
  packages/x-data-grid/src/joy/joySlots.tsx
  pnpm-lock.yaml
Labels: breaking change, component: data grid

#15116 [DataGrid] Fix autosizing with virtualized columns
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnResize/gridColumnResizeApi.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Column resize

#15925 [code-infra] Remove `@mui/material-nextjs` dependency
  babel.config.js
  docs/package.json
  pnpm-lock.yaml
  renovate.json
  scripts/useMaterialUIv6.mjs
  test/regressions/index.test.ts
  webpackBaseConfig.js
Labels: scope: docs-infra, scope: code-infra

#15927 [DataGrid] Consider `columnGroupHeaderHeight` prop in `getTotalHeaderHeight` method (@k-rajat19)
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
Labels: bug 🐛, component: data grid, cherry-pick

#15806 [pickers] Remove `PickersMonth` and `PickersYear` from the theme and remove the `div` wrapping each button
  docs/data/date-pickers/custom-components/MonthButtonComponent.js
  docs/data/date-pickers/custom-components/MonthButtonComponent.tsx
  docs/data/date-pickers/custom-components/YearButtonComponent.js
  docs/data/date-pickers/custom-components/YearButtonComponent.tsx
  docs/data/date-pickers/date-picker/examplesConfig.styling.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/year-calendar.json
  docs/src/modules/components/overview/MainDemo.tsx
  docs/src/modules/components/overview/themes/customTheme.ts
  docs/src/modules/components/overview/themes/md3.ts
  docs/translations/api-docs/date-pickers/month-calendar/month-calendar.json
  docs/translations/api-docs/date-pickers/year-calendar/year-calendar.json
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.types.ts
  packages/x-date-pickers/src/MonthCalendar/MonthCalendarButton.tsx
  packages/x-date-pickers/src/MonthCalendar/index.ts
  packages/x-date-pickers/src/MonthCalendar/monthCalendarClasses.ts
  packages/x-date-pickers/src/MonthCalendar/pickersMonthClasses.ts
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.types.ts
  packages/x-date-pickers/src/YearCalendar/YearCalendarButton.tsx
  packages/x-date-pickers/src/YearCalendar/index.ts
  packages/x-date-pickers/src/YearCalendar/pickersYearClasses.ts
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/yearCalendarClasses.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, component: pickers

#15937 v8.0.0-alpha.5
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#15843 [pickers] Use `usePickerContext()` and `usePickerActionsContext()` to get the actions in the `actionBar` slot and in internal components
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/custom-layout/AddComponent.js
  docs/data/date-pickers/custom-layout/AddComponent.tsx
  docs/data/date-pickers/custom-layout/MovingActions.js
  docs/data/date-pickers/custom-layout/MovingActions.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/usePickerActionsContext.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  packages/x-date-pickers/src/internals/components/PickersPopper.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, component: pickers

#15945 Revert "[code-infra] Remove @mui/material-nextjs dependency (#15925)"
  babel.config.js
  docs/package.json
  pnpm-lock.yaml
  renovate.json
  scripts/useMaterialUIv6.mjs
  webpackBaseConfig.js
Labels: scope: code-infra

#15947 [code-infra] Add new `next-env.d.ts` changes
  docs/next-env.d.ts
Labels: scope: code-infra

#15908 [DataGridPremium] Fix column pinning with checkbox selection and row grouping
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, feature: Column groups, feature: Column pinning, needs cherry-pick, v7.x

#15920 [l10n] Improve Dutch (nl-NL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/nlNL.ts
Labels: component: data grid, l10n, needs cherry-pick

#15914 [DataGrid] Refactor: move progress components to leaf import
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
  packages/x-data-grid/src/components/GridLoadingOverlay.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#15959 [docs] remove production profiler from docs build
  docs/package.json
Labels: docs, performance

#15931 [DataGrid] Refactor: move skeleton to leaf import
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#15955 [DataGrid] Replace `forwardRef` with a shim for forward compatibility
  docs/scripts/api/buildGridSelectorsDocumentation.ts
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/components/GridPremiumColumnMenu.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/components/GridProColumnMenu.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridColumnHeaders.tsx
  packages/x-data-grid/src/components/GridFooter.tsx
  packages/x-data-grid/src/components/GridLoadingOverlay.tsx
  packages/x-data-grid/src/components/GridNoResultsOverlay.tsx
  packages/x-data-grid/src/components/GridNoRowsOverlay.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridRowCount.tsx
  packages/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridBaseColumnHeaders.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridIconButtonContainer.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenu.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/x-internals/src/forwardRef/forwardRef.tsx
  packages/x-internals/src/forwardRef/index.ts
Labels: component: data grid

#15984 [DataGrid] Replace `forwardRef` with a shim for forward compatibility (@lauri865)
  docs/scripts/api/buildGridSelectorsDocumentation.ts
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/components/GridPremiumColumnMenu.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/components/GridProColumnMenu.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridColumnHeaders.tsx
  packages/x-data-grid/src/components/GridFooter.tsx
  packages/x-data-grid/src/components/GridLoadingOverlay.tsx
  packages/x-data-grid/src/components/GridNoResultsOverlay.tsx
  packages/x-data-grid/src/components/GridNoRowsOverlay.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridRowCount.tsx
  packages/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridBaseColumnHeaders.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderTitle.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridIconButtonContainer.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/components/containers/GridFooterContainer.tsx
  packages/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenu.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerRenderZone.tsx
  packages/x-internals/src/forwardRef/forwardRef.tsx
  packages/x-internals/src/forwardRef/index.ts
Labels: component: data grid, cherry-pick

#15829 [DataGrid] Fix header filters showing clear button while empty
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, breaking change, component: data grid, plan: Pro, needs cherry-pick, v7.x, feature: Filtering on header

#15942 [DataGrid] Improve test coverage of server side data source
  packages/x-data-grid-pro/src/hooks/features/dataSource/cache.ts
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceTreeData.DataGridPro.test.tsx
Labels: test, component: data grid, needs cherry-pick, v7.x, feature: Server integration

#15990 [DataGrid] Fix header filters showing clear button while empty (@k-rajat19)
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
Labels: bug 🐛, component: data grid, plan: Pro, cherry-pick, feature: Filtering on header

#15994 [l10n] Improve Dutch (nl-NL) locale (#15920) @JoepVerkoelen
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/nlNL.ts
Labels: component: data grid, l10n

#15986 [data grid] Avoid subscribing to `renderContext` state in grid root for better scroll performance
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/utils/utils.ts
Labels: performance, component: data grid, needs cherry-pick, v7.x, feature: Row spanning

#16002 v8.0.0-alpha.6
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16003 v7.23.4
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release

#15992 [docs] Refactor Data Grid with Date Pickers example
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
Labels: docs, component: data grid, component: pickers

#16010 v7.23.5
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
Labels: release

#16012 [core] Clarify the release strategy
  scripts/README.md
Labels: docs, core, needs cherry-pick

#16011 [pickers] Support `date-fns-jalali` v4
  babel.config.js
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  pnpm-lock.yaml
Labels: component: pickers, enhancement, needs cherry-pick, v7.x

#16014 [core] Clarify the release strategy
  scripts/README.md
Labels: docs, core, v8.x

#15948 [pickers] Use `usePickerContext()` and `usePickerActionsContext()` instead of passing props to the `shortcuts` and `toolbar` slots
  docs/data/date-pickers/shortcuts/ChangeImportance.tsx
  docs/data/date-pickers/shortcuts/CustomizedRangeShortcuts.js
  docs/data/date-pickers/shortcuts/CustomizedRangeShortcuts.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
  packages/x-date-pickers-pro/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV3/AdapterDateFnsJalaliV3.ts
  packages/x-date-pickers/src/AdapterDateFnsV3/AdapterDateFnsV3.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePickerLayout.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.types.ts
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/PickersShortcuts/PickersShortcuts.tsx
  packages/x-date-pickers/src/PickersShortcuts/index.ts
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/useIsValidValue.tsx
  packages/x-date-pickers/src/hooks/usePickerActionsContext.ts
  packages/x-date-pickers/src/hooks/usePickerContext.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbar.tsx
  packages/x-date-pickers/src/internals/hooks/date-helpers-hooks.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/src/internals/models/props/toolbar.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
  packages/x-date-pickers/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/locales/utils/getPickersLocalization.ts
  packages/x-date-pickers/src/models/adapters.ts
  packages/x-date-pickers/src/models/pickers.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
  test/regressions/index.test.ts
Labels: breaking change, component: pickers

#16037 [docs] Fix doc warning for automatic children selection on tree view
  docs/data/tree-view/rich-tree-view/selection/selection.md
Labels: docs, v7.x

#16034 [DataGrid] Fix select all checkbox state reset with server side data
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: bug 🐛, component: data grid, feature: Selection, needs cherry-pick, v7.x, feature: Server integration

#16036 [docs] Unify the wording of the pickers slots breaking changes
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#16035 [pickers] Remove `NonEmptyDateRange` type
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/models/range.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  scripts/x-date-pickers-pro.exports.json
Labels: breaking change, component: pickers

#16038 [core] Update the `release:version` docs
  scripts/README.md
Labels: core, needs cherry-pick, v7.x

#15985 [fields] Handle focusing container with `inputRef.current.focus` on `accessibleFieldDOMStructure`
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
Labels: component: pickers, enhancement, feature: Keyboard editing

#15846 [pickers] Create a new context to pass the range position props to the layout components and to the views
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/dateRangeViewRenderers/dateRangeViewRenderers.tsx
  packages/x-date-pickers-pro/src/hooks/index.ts
  packages/x-date-pickers-pro/src/hooks/usePickerRangePositionContext.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/models/useRangePicker.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useNullablePickerRangePositionContext.ts
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useStaticRangePicker/useStaticRangePicker.types.ts
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.tsx
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useStaticPicker/useStaticPicker.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
  scripts/x-date-pickers-pro.exports.json
Labels: breaking change, component: pickers

#15178 [DataGrid] Add `name` attribute to selection checkboxes
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#15339 [pickers] Introduce a new concept of `manager`
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/managers/index.ts
  packages/x-date-pickers-pro/src/managers/useDateRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useDateTimeRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useTimeRangeManager.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/index.ts
  packages/x-date-pickers/src/internals/hooks/defaultizedFieldProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/index.ts
  packages/x-date-pickers/src/internals/models/manager.ts
  packages/x-date-pickers/src/managers/index.ts
  packages/x-date-pickers/src/managers/useDateManager.ts
  packages/x-date-pickers/src/managers/useDateTimeManager.ts
  packages/x-date-pickers/src/managers/useTimeManager.ts
  packages/x-date-pickers/src/models/index.ts
  packages/x-date-pickers/src/models/manager.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: new feature, component: pickers

#15934 [DataGridPremium] Make Aggregation keyboard accessible in the column menu
  packages/x-data-grid-premium/src/components/GridColumnMenuAggregationItem.tsx
Labels: accessibility, component: data grid, feature: Aggregation

#16043 [docs] Fix inconsistent multi input range field separators
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.tsx
Labels: docs, component: pickers

#15967 [docs] Fix `EditingWithDatePickers` demo
  docs/data/data-grid/custom-columns/EditingWithDatePickers.js
  docs/data/data-grid/custom-columns/EditingWithDatePickers.tsx
Labels: docs, component: data grid, component: pickers, needs cherry-pick, v7.x
