Repository mui/mui-x, pull requests merged in 2024-08, with the labels that each got.

#14069 [TreeView] Fix env check for drag and drop warning
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
Labels: component: tree view

#14064 v7.12.0
  CHANGELOG.md
  docs/data/introduction/licensing/licensing.md
  package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14051 [DataGrid] Fix `columnHeadersContainerRef` being `undefined` before mount
  packages/x-data-grid/src/components/GridHeaders.tsx
  packages/x-data-grid/src/hooks/core/useGridRefs.ts
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/x-data-grid/src/models/api/gridCoreApi.ts
Labels: bug 🐛, component: data grid

#14073 [charts] Fix charts vendor publish config
  packages/x-charts-vendor/.npmignore
  packages/x-charts-vendor/package.json
Labels: bug 🐛, component: charts

#14036 [l10n] Improve Dutch (nlNL) locale (pickers)
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/nlNL.ts
Labels: l10n, component: pickers

#13859 [charts-pro] Release the pro package in alpha
  docs/data/charts-component-api-pages.ts
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/heatmap/BasicHeatmap.js
  docs/data/charts/heatmap/BasicHeatmap.tsx
  docs/data/charts/heatmap/ColorConfig.js
  docs/data/charts/heatmap/ColorConfig.tsx
  docs/data/charts/heatmap/CustomItem.js
  docs/data/charts/heatmap/CustomItem.tsx
  docs/data/charts/heatmap/HighlightClasses.js
  docs/data/charts/heatmap/HighlightClasses.tsx
  docs/data/charts/heatmap/HighlightHeatmap.js
  docs/data/charts/heatmap/HighlightHeatmap.tsx
  docs/data/charts/heatmap/heatmap.md
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/introduction/licensing/licensing.md
  docs/data/pages.ts
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/default-heatmap-tooltip.json
  docs/pages/x/api/charts/heatmap-item.js
  docs/pages/x/api/charts/heatmap-item.json
  docs/pages/x/api/charts/heatmap-plot.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/react-charts/heatmap.js
  docs/pages/x/react-charts/zoom-and-pan.js
  docs/src/modules/components/ChartComponentsGrid.js
  docs/src/modules/components/ChartsInstallationInstructions.js
  docs/translations/api-docs/charts/heatmap-item/heatmap-item.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-pro/src/Heatmap/HeatmapItem.tsx
  packages/x-charts-pro/src/Heatmap/index.ts
  packages/x-charts/package.json
  scripts/releaseChangelog.mjs
  scripts/x-charts-pro.exports.json
Labels: plan: Pro, component: charts

#14110 [code-infra] Use concurrency 1 in CircleCI
  .circleci/config.yml
  package.json
Labels: scope: code-infra

#14123 [docs] Disable ad in `Rich Tree View-Ordering` page
  docs/pages/x/react-tree-view/rich-tree-view/ordering.js
Labels: docs, plan: Pro, component: tree view

#14027 [docs] Add a warning to promote the usage of `updateRows`
  docs/data/data-grid/row-updates/row-updates.md
Labels: docs, component: data grid

#14083 [DataGrid] Fix `checkboxSelectionVisibleOnly` behavior with server-side pagination
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: bug 🐛, component: data grid, feature: Pagination, feature: Server integration

#14132 [infra] Re-added the removal of `Latest Version` section
  scripts/githubActions/issueBodyCleanup.js
Labels: bug 🐛, regression, scope: infra

#13241 [docs] Redesign Date and Time Pickers overview page
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/overview/CommonlyUsedComponents.js
  docs/data/date-pickers/overview/CommonlyUsedComponents.tsx
  docs/data/date-pickers/overview/overview.md
  docs/pages/x/react-date-pickers/index.js
  docs/public/static/x/date-libraries/datefns.png
  docs/public/static/x/date-libraries/dayjs.png
  docs/public/static/x/date-libraries/luxon.png
  docs/public/static/x/date-libraries/momentjs.png
  docs/src/modules/components/overview/CommunityOrPro.tsx
  docs/src/modules/components/overview/DateLibraries.tsx
  docs/src/modules/components/overview/FeatureHighlight.tsx
  docs/src/modules/components/overview/InfoCard.tsx
  docs/src/modules/components/overview/Internationalization.tsx
  docs/src/modules/components/overview/Keyboard.tsx
  docs/src/modules/components/overview/MainDemo.tsx
  docs/src/modules/components/overview/WorldMapSvg.tsx
  docs/src/modules/components/overview/XLogo.tsx
  docs/src/modules/components/overview/mainDemo/Birthday.tsx
  docs/src/modules/components/overview/mainDemo/Clock.tsx
  docs/src/modules/components/overview/mainDemo/DateRangeWithShortcuts.tsx
  docs/src/modules/components/overview/mainDemo/DigitalClock.tsx
  docs/src/modules/components/overview/mainDemo/FlightPicker.tsx
  docs/src/modules/components/overview/mainDemo/PickerButton.tsx
  docs/src/modules/components/overview/mainDemo/ThemeToggleGroup.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
Labels: docs, component: pickers

#14134 v7.12.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14149 [tree-view] Fix the `@mui/x-tree-view-pro` published folder
  packages/x-tree-view-pro/package.json
  pnpm-lock.yaml
Labels: plan: Pro, component: tree view

#14105 [code-infra] Refactor Netlify `cache-docs` plugin setup
  netlify.toml
  netlify/functions/deploy-succeeded.js
  packages/netlify-plugin-cache-docs/index.js
  packages/netlify-plugin-cache-docs/manifest.yml
Labels: scope: code-infra

#14102 [charts] Rename `CartesianContextProvider` to `CartesianProvider`
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/context/CartesianProviderPro/CartesianProviderPro.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/context/CartesianProvider/CartesianProvider.tsx
Labels: enhancement, component: charts

#14153 [charts] Add `baseline` property to the `LineChart` `series`
  docs/data/charts/lines/AreaBaseline.js
  docs/data/charts/lines/AreaBaseline.tsx
  docs/data/charts/lines/AreaBaseline.tsx.preview
  docs/data/charts/lines/lines.md
  docs/pages/x/api/charts/line-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/extremums.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: new feature, component: charts

#14176 [TreeView] Fix the parameters passed for the `canMoveItemToNewPosition` prop
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.test.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
Labels: bug 🐛, component: tree view

#14173 [pickers] Fix date and time merging to retain milliseconds
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.test.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
Labels: bug 🐛, component: pickers

#14182 [core] Fix Netlify build cache issue
  netlify.toml
Labels: core, scope: code-infra

#13958 [charts] Add real-world dataset
  docs/data/charts/dataset/AMZN.json
  docs/data/charts/dataset/GOOGL.json
  docs/data/charts/dataset/META.json
  docs/data/charts/dataset/MSFT.json
  docs/data/charts/getting-started/Combining.js
  docs/data/charts/getting-started/Combining.tsx
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container-pro.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/ResponsiveChartContainerPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#13991 [docs] Use Netflix financial results to document bar charts
  docs/data/charts/bars/BarGapNoSnap.js
  docs/data/charts/bars/StackBars.js
  docs/data/charts/bars/StackBars.tsx
  docs/data/charts/bars/StackBars.tsx.preview
  docs/data/charts/bars/netflixsBalanceSheet.ts
Labels: docs, component: charts

#14034 [docs] Extract dataset in the Line chart docs
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/GDPperCapita.ts
  docs/data/charts/lines/GridDemo.js
  docs/data/charts/lines/GridDemo.tsx
  docs/data/charts/lines/GridDemo.tsx.preview
  docs/data/charts/lines/LineDataset.js
  docs/data/charts/lines/LineDataset.tsx
  docs/data/charts/lines/StackedAreas.js
  docs/data/charts/lines/StackedAreas.tsx
  docs/data/charts/lines/basicDataset.ts
  docs/data/charts/lines/worldElectricityProduction.ts
Labels: docs, component: charts

#14187 [charts] Do not remove mouse position for mouseUp event
  packages/x-charts/src/ChartsTooltip/utils.tsx
Labels: component: charts

#14185 [docs] Remove redundant encoding in the mock data source server
  docs/data/data-grid/server-side-data/ServerSideDataGrid.js
  docs/data/data-grid/server-side-data/ServerSideDataGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideDataGridNoCache.js
  docs/data/data-grid/server-side-data/ServerSideDataGridNoCache.tsx
  docs/data/data-grid/server-side-data/ServerSideDataGridTTL.js
  docs/data/data-grid/server-side-data/ServerSideDataGridTTL.tsx
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeData.js
  docs/data/data-grid/server-side-data/ServerSideTreeData.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataCustomCache.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataCustomCache.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataGroupExpansion.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataGroupExpansion.tsx
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
Labels: component: data grid, feature: Server integration, feature: Data source

#14141 [core] Bump monorepo
  .eslintrc.js
  docs/.link-check-errors.txt
  docs/data/charts-component-api-pages.ts
  docs/data/charts/pie-demo/OnSeriesItemClick.js
  docs/data/charts/pie-demo/OnSeriesItemClick.tsx
  docs/data/charts/scatter/VoronoiInteraction.js
  docs/data/charts/scatter/VoronoiInteraction.tsx
  docs/data/data-grid-component-api-pages.ts
  docs/data/data-grid/recipes-row-grouping/RowGroupingChildRowCount.js
  docs/data/data-grid/recipes-row-grouping/RowGroupingChildRowCount.tsx
  docs/data/date-pickers-component-api-pages.ts
  docs/data/date-pickers/lifecycle/lifecycle.md
  docs/data/pages.ts
  docs/data/tree-view-component-api-pages.ts
  docs/docs-env.d.ts
  docs/pages/_document.js
  docs/src/modules/components/overview/DateLibraries.tsx
  docs/src/modules/components/overview/Internationalization.tsx
  docs/src/modules/components/overview/Keyboard.tsx
  docs/src/modules/components/overview/XLogo.tsx
  docs/src/modules/components/overview/mainDemo/DigitalClock.tsx
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/buildApiDocs/gridSettings/index.ts
  scripts/buildApiDocs/pickersSettings/index.ts
  scripts/buildApiDocs/treeViewSettings/index.ts
  tsconfig.json
Labels: dependencies

#14166 [data grid] Fix CSV export for `null` and `undefined` values
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/x-data-grid/src/tests/export.DataGrid.test.tsx
Labels: component: data grid, regression, feature: Export

#14186 [DataGrid] Fix error logged during skeleton loading with nested data grid
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid

#14207 [core] Fix ESLint issue
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.js
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.tsx
Labels: core

#14202 [internals] Move utils needed for tree view virtualization to shared package
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/components/GridColumnHeaders.tsx
  packages/x-data-grid/src/components/GridHeaders.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/cell/GridSkeletonCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-internals/src/fastMemo/fastMemo.ts
  packages/x-internals/src/fastMemo/index.ts
  packages/x-internals/src/fastObjectShallowCompare/fastObjectShallowCompare.ts
  packages/x-internals/src/fastObjectShallowCompare/index.ts
  packages/x-internals/src/throttle/index.ts
  packages/x-internals/src/throttle/throttle.ts
Labels: component: tree view

#14181 [DataGrid] remove needless check in `useGridStateInitialization`
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
Labels: component: data grid

#14216 [l10n] Improve Vietnamese (vi-VN) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/viVN.ts
Labels: component: data grid, l10n

#14208 [DataGrid] Add recipe for persisting filters in local storage
  docs/data/data-grid/filtering-recipes/FilteringLocalStorage.js
  docs/data/data-grid/filtering-recipes/FilteringLocalStorage.tsx
  docs/data/data-grid/filtering-recipes/FilteringLocalStorage.tsx.preview
  docs/data/data-grid/filtering-recipes/filtering-recipes.md
Labels: docs, component: data grid, feature: Filtering, customization: extend, recipe

#14128 [docs] Fix outdated SECURITY.md page
  SECURITY.md
  docs/data/introduction/support/support.md
Labels: docs, security

#14226 [docs] Remove relience of abbreviations
  docs/data/data-grid/pagination/CursorPaginationGrid.js
  docs/data/data-grid/pagination/CursorPaginationGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.tsx
  docs/src/modules/components/CustomizationPlayground.tsx
Labels: docs, component: data grid, dx

#14221 v7.13.0
  CHANGELOG.md
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#14170 [data grid] use `event.key` for `Tab` and `Escape` keys
  packages/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/utils/keyboardUtils.ts
Labels: component: data grid

#14135 [l10n] Improve Czech (cs-CZ) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/csCZ.ts
Labels: component: data grid, l10n

#14238 [l10n] Improve Vietnamese (vi-VN) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/viVN.ts
Labels: l10n, component: date picker

#13289 [l10n] Improve Chinese (zh-HK) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/zhHK.ts
Labels: l10n, component: pickers

#14249 [docs] Fix missing leading slashes in URLs
  docs/src/modules/components/overview/CommunityOrPro.tsx
  docs/src/modules/components/overview/InfoCard.tsx
  docs/src/modules/components/overview/Internationalization.tsx
  docs/src/modules/components/overview/Keyboard.tsx
Labels: bug 🐛, docs, regression, component: pickers

#14222 Use `isPointInside` function for both graphs and axis
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
Labels: bug 🐛, component: charts

#14250 [docs] Consistent use of UTC and timezones
  changelogOld/CHANGELOG.v6.md
  docs/data/date-pickers/timezone/timezone.md
  docs/data/pages.ts
Labels: bug 🐛, docs, component: pickers

#14261 [DataGridPremium] Clipboard paste not working for a single cell if the current page is not the first page
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Clipboard

#14260 [docs][pickers] Dash usage revision
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/custom-components/custom-components.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/validation/validation.md
Labels: docs, component: pickers

#14042 [charts] Test pointer events
  packages/x-charts/src/BarChart/checkClickEvent.test.tsx
  packages/x-charts/src/LineChart/checkClickEvent.test.tsx
  packages/x-charts/src/PieChart/checkClickEvent.test.tsx
  packages/x-charts/src/ScatterChart/checkClickEvent.test.tsx
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/tests/firePointerEvent.ts
  test/utils/mochaHooks.js
Labels: test, component: charts

#14201 [DataGrid] include `api` in `gridCellParams` interface
  docs/pages/x/api/data-grid/grid-cell-params.json
  docs/translations/api-docs/data-grid/grid-cell-params.json
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/models/params/gridCellParams.ts
Labels: bug 🐛, component: data grid, typescript

#14278 [charts] Improve bar chart performances
  packages/x-charts/src/BarChart/BarPlot.tsx
Labels: performance, component: charts

#14280 [charts] Fix grid overflow with zooming
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
Labels: bug 🐛, plan: Pro, component: charts

#14199 [DataGridPremium] Fix `onCellSelectionModelChange` not triggered when additional cell range is selected
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Cell Selection

#11743 [data grid] Use readonly array result for getTreeDataPath
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
Labels: component: data grid, typescript, plan: Pro

#14236 [DataGrid] Introduce selectors with arguments
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/gridDataSourceSelector.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/createSelector.ts
Labels: core, component: data grid, dx

#14151 [TimePicker] Handle `Space` and `Enter` on `TimeClock` component
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
Labels: accessibility, component: pickers, component: TimePicker, enhancement

#14287 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-date-pickers/src/locales/heIL.ts
Labels: component: data grid, l10n, component: pickers

#14294 v7.14.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#14079 [DataGrid Pro]: export GridRowReorderCell
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  packages/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/x-data-grid-pro/src/components/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: component: data grid

#14335 [charts-pro] Avoid relative reference to `@mui/x-charts` package
  .codesandbox/ci.json
  docs/pages/x/api/charts/charts-surface.json
  packages/x-charts-pro/src/context/CartesianProviderPro/createAxisFilterMapper.ts
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/ChartsSurface/index.ts
  packages/x-charts/src/constants/index.ts
  packages/x-charts/src/internals/index.ts
Labels: bug 🐛, plan: Pro, component: charts

#14352 [code-infra] Typecheck nested folders in playground
  docs/pages/playground/tsconfig.json
Labels: scope: code-infra

#14337 [charts] Fix tooltip with horizontal layout
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/context/InteractionProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
Labels: regression, component: charts

#14357 [core] Avoid visual regression when using `@mui/material@6`
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/data/data-grid/row-height/ExpandableCells.tsx
  docs/data/date-pickers/custom-field/BrowserV6Field.js
  docs/data/date-pickers/custom-field/BrowserV6Field.tsx
  docs/data/date-pickers/custom-field/BrowserV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/BrowserV7Field.js
  docs/data/date-pickers/custom-field/BrowserV7Field.tsx
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7SingleInputRangeField.tsx
Labels: core

#14313 [charts] Add missing `themeAugmentation` in pro plan
  docs/data/charts/getting-started/getting-started.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/themeAugmentation/components.d.ts
  packages/x-charts-pro/src/themeAugmentation/index.js
  packages/x-charts-pro/src/themeAugmentation/index.ts
  packages/x-charts-pro/src/themeAugmentation/overrides.d.ts
  packages/x-charts-pro/src/themeAugmentation/props.d.ts
  packages/x-charts-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabel.tsx
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/LineChart/LineChart.test.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.test.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/props.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
Labels: typescript, plan: Pro, CLA: signed, component: charts, size:L

#14295 [docs] Update deprecated props in docs
  docs/data/charts/bars/BarAnimation.js
  docs/data/charts/bars/BarAnimation.tsx
  docs/data/charts/bars/BarClickNoSnap.js
  docs/data/charts/lines/LineClickNoSnap.js
  docs/data/charts/pie/PieActiveArc.js
  docs/data/charts/pie/PieActiveArc.tsx
  docs/data/charts/pie/PieActiveArc.tsx.preview
  docs/data/charts/scatter/ScatterClickNoSnap.js
  docs/data/charts/tooltip/ElementHighlights.js
  docs/data/charts/tooltip/ElementHighlights.tsx
  docs/data/charts/tooltip/SyncHighlight.js
  docs/data/charts/tooltip/SyncHighlight.tsx
Labels: docs, component: charts, size:M

#14378 [charts] Keep axis root classe usage explicit
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
Labels: component: charts

#14359 [core] Use `useRtl` instead of `useTheme` to access direction
  packages/x-charts/src/ChartsLegend/ContinuousColorLegend.tsx
  packages/x-charts/src/ChartsLegend/LegendPerItem.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/internals/useIsRTL.ts
  packages/x-data-grid-pro/src/components/GridColumnMenuPinningItem.tsx
  packages/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/x-data-grid/src/hooks/core/gridCoreSelector.ts
  packages/x-data-grid/src/hooks/core/useGridInitialization.ts
  packages/x-data-grid/src/hooks/core/useGridIsRtl.tsx
  packages/x-data-grid/src/hooks/core/useGridTheme.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/gridStateCommunity.ts
Labels: core, component: data grid, enhancement, component: charts, size:L

#14382 [core] Allow only v5.x for `MUI Core` renovate group
  renovate.json
Labels: core, scope: code-infra

#14341 [DateTimeRangePicker] Fix date format resolving from views on 24hr locales
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/internals/utils/date-time-utils.ts
Labels: bug 🐛, plan: Pro, regression, component: pickers, component: DateTimeRangePicker, size:S

#14305 [pickers] Add `onTouchStart` handler for `TimeClock`
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/tests/TimeClock.test.tsx
Labels: component: pickers, component: TimePicker, enhancement

#14372 [charts] Fix themeAugmentation
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/default-charts-axis-tooltip-content.json
  docs/pages/x/api/charts/default-charts-item-tooltip-content.json
  docs/pages/x/api/charts/default-heatmap-tooltip.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  docs/translations/api-docs/charts/default-charts-axis-tooltip-content/default-charts-axis-tooltip-content.json
  docs/translations/api-docs/charts/default-charts-item-tooltip-content/default-charts-item-tooltip-content.json
  docs/translations/api-docs/charts/default-heatmap-tooltip/default-heatmap-tooltip.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsGrid/ChartsGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
  packages/x-charts/src/ChartsGrid/styledCommonents.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/chartsTooltipClasses.ts
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/themeAugmentation/components.d.ts
  packages/x-charts/src/themeAugmentation/overrides.d.ts
  packages/x-charts/src/themeAugmentation/themeAugmentation.spec.ts
Labels: component: charts, size:L

#14355 [charts] Fix `LineChart` not properly animating when hydrating
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/hooks/useReducedMotion.ts
  packages/x-charts/src/internals/useStringInterpolator.ts
Labels: bug 🐛, component: charts, size:M

#14375 [DataGridPro] Fix double top border in header filters
  packages/x-data-grid/src/components/GridScrollbarFillerCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, design, feature: Filtering on header, size:S

#14247 [DataGrid] Allow to control the indeterminate checkbox behavior
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.js
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.tsx
  docs/data/data-grid/row-selection/CheckboxSelectionIndeterminateGrid.tsx.preview
  docs/data/data-grid/row-selection/row-selection.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: component: data grid, feature: Selection, enhancement

#14390 [infra] Switch issue triage workflow to reusable workflows
  .github/workflows/issue-cleanup.yml
  .github/workflows/new-issue-triage.yml
  scripts/githubActions/issueBodyCleanup.js
  scripts/githubActions/orderIdValidation.js
Labels: enhancement, scope: infra

#14234 [code-infra] Fully resolve imports in ESM target
  babel.config.js
  package.json
  packages/x-charts-pro/src/themeAugmentation/index.ts
  packages/x-charts/src/themeAugmentation/index.ts
  packages/x-date-pickers-pro/src/themeAugmentation/index.ts
  packages/x-date-pickers/src/themeAugmentation/index.ts
  packages/x-tree-view-pro/src/themeAugmentation/index.ts
  packages/x-tree-view/src/themeAugmentation/index.ts
  pnpm-lock.yaml
Labels: scope: code-infra

#14302 [DataGrid] Add key prop to `GridFilterInputMultipleValue`
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
Labels: bug 🐛, component: data grid

#14387 [charts] Replace ESM extensions by .mjs
  packages/x-charts-vendor/es/d3-array.mjs
  packages/x-charts-vendor/es/d3-color.mjs
  packages/x-charts-vendor/es/d3-delaunay.mjs
  packages/x-charts-vendor/es/d3-format.mjs
  packages/x-charts-vendor/es/d3-interpolate.mjs
  packages/x-charts-vendor/es/d3-path.mjs
  packages/x-charts-vendor/es/d3-scale.mjs
  packages/x-charts-vendor/es/d3-shape.mjs
  packages/x-charts-vendor/es/d3-time-format.mjs
  packages/x-charts-vendor/es/d3-time.mjs
  packages/x-charts-vendor/es/delaunator.mjs
  packages/x-charts-vendor/es/internmap.mjs
  packages/x-charts-vendor/es/robust-predicates.mjs
  packages/x-charts-vendor/package.json
  packages/x-charts-vendor/scripts/build.js
Labels: component: charts

#14391 [charts-pro] Fix props and automatic documentation on `BarChartPro` and `LineChartPro`
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
Labels: docs, component: charts

#14235 [DataGrid] Fix first row flickering with autoHeight enabled
  docs/data/data-grid/virtualization/virtualization.md
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/virtualization/gridVirtualizationSelectors.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualization.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, size:L

#14410 [DataGrid] Restore reselect behavior
  packages/x-data-grid/src/utils/createSelector.ts
Labels: component: data grid

#14394 [l10n] Improve Chinese (zh-CN) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
Labels: l10n
