Repository mui/mui-x, pull requests merged in 2024-04, with the labels that each got.

#12632 [l10n] Improve Persian (fa-IR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/faIR.ts
Labels: l10n, component: pickers

#12428 [core] Introduce `describeTreeView` to run test on `SimpleTreeView` and `RichTreeView`, using `TreeItem` and `TreeItem2` + migrate expansion tests
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
  test/utils/tree-view/describeTreeView/index.ts
Labels: test, component: tree view

#12623 [TreeView] Fix typo in errors
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
Labels: bug 🐛, component: tree view

#12627 [l10n] Improve Ukrainian (uk-UA) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ukUA.ts
Labels: l10n, component: pickers

#12615 [docs] Fix grammar in TreeView migration doc
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs

#12609 [fields] Fix `readOnly` behavior
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
Labels: bug 🐛, component: pickers, component: DateRangePicker

#12613 [l10n] Improve Portuguese (pt-BR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ptBR.ts
Labels: l10n, component: pickers

#12644 [docs] Remove `day` from the default `dayOfWeekFormatter` function params
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: docs, component: pickers

#12639 [core] Use PR labels to identify the package a `l10n` PR belongs to
  scripts/releaseChangelog.mjs
Labels: core

#12636 [docs] Fix missing closing props in `PieShapeNoSnap` demo
  docs/data/charts/pie/PieShapeNoSnap.js
Labels: component: charts

#12630 [l10n] Improve Persian (fa-IR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/faIR.ts
Labels: component: data grid, l10n

#12618 [l10n] Improve Portuguese (pt-BR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ptBR.ts
Labels: component: data grid, l10n

#12563 [docs] Use `TreeItem2` for icon expansion example on `RichTreeView`
  docs/data/tree-view/rich-tree-view/customization/IconExpansionTreeView.js
  docs/data/tree-view/rich-tree-view/customization/IconExpansionTreeView.tsx
  docs/data/tree-view/rich-tree-view/customization/IconExpansionTreeView.tsx.preview
Labels: docs, component: tree view

#11867 [support-infra] Add release announcement to GitHub workflows
  .github/workflows/discord-release-announcement.yaml
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: core, scope: infra

#12649 [TreeView] Add JSDoc to all `publicAPI` methods
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: component: tree view

#12595 [TreeView] New API method: `setItemExpansion`
  docs/data/tree-view/rich-tree-view/expansion/ChangeItemExpansion.js
  docs/data/tree-view/rich-tree-view/expansion/ChangeItemExpansion.tsx
  docs/data/tree-view/rich-tree-view/expansion/ChangeItemExpansion.tsx.preview
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/expansion/ChangeItemExpansion.js
  docs/data/tree-view/simple-tree-view/expansion/ChangeItemExpansion.tsx
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: component: tree view

#12647 [core] Use `describeTreeView` for selection tests
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: core, component: tree view

#12624 [infra] Polish support survey experience
  .github/workflows/closed-issue-message.yaml
Labels: scope: infra

#12606 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/esES.ts
Labels: component: data grid, l10n

#12651 [core] Limit `test-types` CI step allowed memory
  .circleci/config.yml
Labels: core

#12648 [core] Add cherry-pick `master` to `v6` action
  .github/workflows/cherry-pick-master-to-v6.yml
Labels: core

#12646 [docs] Adds a recipe for the `checkboxSelectionVisibleOnly` prop
  docs/data/data-grid/row-selection/CheckboxSelectionVisibleOnlyGrid.js
  docs/data/data-grid/row-selection/CheckboxSelectionVisibleOnlyGrid.tsx
  docs/data/data-grid/row-selection/row-selection.md
Labels: docs, component: data grid, needs cherry-pick, recipe

#12668 [test] Fix TreeView test import
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
Labels: test

#12448 [DataGrid] Log error if `rowCount` is used with client-side pagination
  docs/data/data-grid/pagination/pagination.md
  packages/x-data-grid-pro/src/internals/propValidation.ts
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/lazyLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/x-data-grid/src/internals/utils/propValidation.ts
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  test/utils/mochaHooks.js
Labels: docs, component: data grid, feature: Pagination, dx

#12669 [support-infra] fixes user permission check
  .github/workflows/closed-issue-message.yaml
Labels: scope: infra

#12663 [DataGrid] Fix `ColDefChangesGridNoSnap` demo crash
  docs/data/migration/migration-data-grid-v6/ColDefChangesGridNoSnap.js
Labels: bug 🐛, docs, component: data grid

#12662 [DataGrid] Fix server-side filter demo not working
  packages/x-data-grid-generator/src/hooks/useQuery.ts
Labels: bug 🐛, docs, component: data grid

#12365 [DataGrid] Allow higher packages' props to be used in MIT
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/headerFiltering/useGridHeaderFiltering.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, typescript, dx

#11995 [docs-infra] Adjust the links to search for issues
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/ISSUE_TEMPLATE/6.docs-feedback.yml
  docs/data/introduction/support/support.md
Labels: core, enhancement, scope: infra

#12610 [TreeView] Create `RichTreeViewPro` component
  docs/pages/_app.js
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.test.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/index.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/richTreeViewProClasses.ts
  packages/x-tree-view-pro/src/index.ts
  packages/x-tree-view-pro/src/internals/plugins/defaultPlugins.ts
  packages/x-tree-view-pro/src/internals/plugins/index.ts
  packages/x-tree-view-pro/src/internals/utils/releaseInfo.ts
  packages/x-tree-view-pro/src/themeAugmentation/components.d.ts
  packages/x-tree-view-pro/src/themeAugmentation/index.js
  packages/x-tree-view-pro/src/themeAugmentation/index.ts
  packages/x-tree-view-pro/src/themeAugmentation/overrides.d.ts
  packages/x-tree-view-pro/src/themeAugmentation/props.d.ts
  packages/x-tree-view-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
Labels: component: tree view

#12619 [docs] Fix type arguments in Custom Field page
  docs/data/date-pickers/custom-field/custom-field.md
Labels: docs, component: pickers

#12232 Update to new embedded translations in the docs package
  docs/pages/_app.js
  docs/translations/translations-zh.json
  docs/translations/translations.json
Labels: scope: code-infra

#12660 [DataGrid] Remove GridFormatterParams completely
  docs/data/data-grid/aggregation/AggregationValueFormatter.js
  docs/data/data-grid/aggregation/AggregationValueFormatter.tsx
  docs/pages/x/api/data-grid/grid-aggregation-function.json
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationFunctions.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/x-data-grid/src/models/params/gridCellParams.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#12674 [core] Fix typo in `@mui/x-tree-view-pro/themeAugmentation`
  packages/x-tree-view-pro/src/themeAugmentation/index.js
Labels: core, component: tree view

#12087 [DataGrid] Remove legacy editing API event: `rowEditCommit`
  docs/data/data-grid/events/events.json
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/models/events/gridEventLookup.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, v6.x, cherry-pick

#12591 [docs] Make the Charts `margin` usage more visible
  docs/data/charts/axis/MarginAndLabelPosition.js
  docs/data/charts/axis/MarginAndLabelPosition.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/getting-started/getting-started.md
Labels: docs, component: charts

#12659 [charts] Fix typescript error when using `sx` property on ChartsTooltip
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  scripts/x-charts.exports.json
Labels: bug 🐛, component: charts

#12657 [DataGrid] Restore main slot
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
Labels: component: data grid

#12680 v6.19.9
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#12677 [charts] Fix Scatter series highlight when id is a `number`
  docs/translations/api-docs/charts/charts-voronoi-handler/charts-voronoi-handler.json
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
Labels: bug 🐛, component: charts

#12685 [core] Update the docs release source branch
  scripts/README.md
Labels: core

#12681 v7.1.1
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#12679 [docs] Explain how to clip plots with composition
  docs/data/charts/composition/LimitOverflow.js
  docs/data/charts/composition/LimitOverflow.tsx
  docs/data/charts/composition/composition.md
Labels: docs, component: charts

#12692 [l10n] Improve French (fr-FR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/frFR.ts
Labels: l10n, component: pickers

#12672 [core] Use `describeTreeView` for icons tests
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
  test/utils/tree-view/describeTreeView/index.ts
Labels: core, component: tree view

#12650 [TreeView] Return `instance` and `publicAPI` methods from plugin and populate the main objects inside `useTreeView`
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view/src/internals/corePlugins/useTreeViewInstanceEvents/useTreeViewInstanceEvents.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.utils.ts
Labels: component: tree view

#12700 [docs] Add AxisFormatter documentation for customizing tick/tooltip value formatting
  docs/data/charts/tooltip/AxisFormatter.js
  docs/data/charts/tooltip/AxisFormatter.tsx
  docs/data/charts/tooltip/AxisFormatter.tsx.preview
  docs/data/charts/tooltip/tooltip.md
Labels: docs, component: charts

#12655 [TreeView] Clean up usage of term node in internals
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.utils.ts
Labels: component: tree view

#12369 [TreeView] Support reordering of items in `SimpleTreeView`
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/DescendantProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
Labels: bug 🐛, component: tree view

#12712 [TreeView] Remove remaining occurences of the word "node" in the codebase
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: component: tree view

#12708 [charts] Fix Barchart with empty dataset throwing an error
  packages/x-charts/src/BarChart/extremums.test.ts
  packages/x-charts/src/BarChart/extremums.ts
Labels: bug 🐛, component: charts

#12721 [docs] Fix typo in Pickers v7 migration page
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs

#12720 [docs] Fix typo in Data Grid v7 migration page
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
Labels: docs

#12731 [l10n] Improve Swedish (sv-SE) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/svSE.ts
Labels: component: data grid, l10n, component: pickers

#12722 [DataGrid] Do not escape double quotes when copying to clipboard
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
Labels: bug 🐛, component: data grid, feature: Clipboard

#12735 [core] Support multiple resolved `l10n` PR packages
  scripts/releaseChangelog.mjs
Labels: core

#12724 [DataGridPremium] Fix clipboard paste not working when cell loses focus
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
Labels: bug 🐛, component: data grid, plan: Premium, needs cherry-pick, feature: Clipboard

#12729 [TreeView] Add a new lookup to access an item index without expansive computation
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
Labels: performance, component: tree view

#12734 [DataGrid] Do not escape double quotes when copying to clipboard
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/grid/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/tests/clipboard.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
Labels: bug 🐛, component: data grid, cherry-pick, feature: Clipboard

#12614 [DataGrid] Make colors customizable
  docs/data/data-grid/style/style.md
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/themeAugmentation/overrides.ts
Labels: component: data grid, customization: theme

#12713 [TreeView] Improve performance by removing `getNavigableChildrenIds` method
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.utils.ts
  packages/x-tree-view/src/internals/utils/tree.ts
Labels: performance, component: tree view

#12732 [core] Use `describeTreeView` in existing tests for `useTreeViewItems`
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.ts
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: core, component: tree view

#12683 [DataGrid] Fix overflow with dynamic row height
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: component: data grid

#12741 [DataGrid] Fix column vertical border
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/utils/cellBorderUtils.ts
Labels: component: data grid

#12742 [DataGrid] Add missing `api` property to `GridCallbackDetails`
  packages/x-data-grid/src/hooks/core/useGridInitialization.ts
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/models/api/gridCallbackDetails.ts
Labels: bug 🐛, component: data grid, typescript

#12675 [fields] Fix field editing after closing the picker
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  test/e2e/fixtures/DatePicker/BasicClearableDesktopDatePicker.tsx
  test/e2e/index.test.ts
Labels: regression, component: pickers, feature: Keyboard editing

#12754 [DataGrid] Fix bug in suspense
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: bug 🐛, component: data grid, v6.x, cherry-pick

#12752 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/deDE.ts
Labels: component: data grid, l10n, component: pickers

#12707 [docs] Add file explorer example to rich tree view customization docs
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.js
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx.preview
  docs/data/tree-view/rich-tree-view/customization/customization.md
  docs/data/tree-view/simple-tree-view/customization/CustomizedTreeView.js
  docs/data/tree-view/simple-tree-view/customization/CustomizedTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/customization.md
Labels: docs

#12760 [DateTimeRangePicker] Fix desktop toolbar style
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
Labels: regression, component: pickers, component: DateTimeRangePicker

#12755 [l10n] Improve French (fr-FR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/frFR.ts
Labels: component: data grid, l10n

#12746 [charts] Fix `tickLabelInterval` not working on YAxis
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/hooks/useTicks.ts
Labels: bug 🐛, component: charts

#12762 v7.2.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#12763 v6.19.10
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
Labels: release

#12744 [charts] Export more utils
  packages/x-charts/src/ChartsClipPath/ChartsClipPath.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/getPieCoordinates.ts
  packages/x-charts/src/PieChart/index.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useChartId.ts
  packages/x-charts/src/hooks/useSeries.ts
  packages/x-charts/src/hooks/useSvgRef.ts
  scripts/x-charts.exports.json
Labels: component: charts

#12490 [charts] Add color scale
  docs/data/charts/bars/ColorScaleNoSnap.js
  docs/data/charts/bars/ColorScaleNoSnap.tsx
  docs/data/charts/bars/bars.md
  docs/data/charts/lines/ColorScaleNoSnap.js
  docs/data/charts/lines/ColorScaleNoSnap.tsx
  docs/data/charts/lines/lines.md
  docs/data/charts/scatter/ColorScaleNoSnap.js
  docs/data/charts/scatter/ColorScaleNoSnap.tsx
  docs/data/charts/scatter/scatter.md
  docs/data/charts/styling/styling.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/default-charts-item-tooltip-content.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/default-charts-item-tooltip-content/default-charts-item-tooltip-content.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/getColor.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/getColor.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/getColor.ts
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/getColor.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/internals/colorGetter.ts
  packages/x-charts/src/internals/colorScale.ts
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsAxesGradients.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsContinuousGradient.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsPiecewiseGradient.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/index.tsx
  packages/x-charts/src/internals/getScale.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/colorMapping.ts
  packages/x-charts/src/models/index.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/index.ts
  scripts/x-charts.exports.json
Labels: component: charts

#12780 [charts] Do not document the usage of `DEFAULT_X_AXIS_KEY` and `DEFAULT_Y_AXIS_KEY`
  docs/data/charts/axis/AxisCustomizationNoSnap.js
  docs/data/charts/axis/ModifyAxisPosition.js
  docs/data/charts/axis/ModifyAxisPosition.tsx
  docs/data/charts/axis/ModifyAxisPosition.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/styling/MarginNoSnap.js
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
Labels: docs, component: charts

#12781 [docs] Use charts classes objects
  docs/data/charts/areas-demo/AreaChartFillByValue.js
  docs/data/charts/areas-demo/AreaChartFillByValue.tsx
  docs/data/charts/areas-demo/SimpleAreaChart.js
  docs/data/charts/areas-demo/SimpleAreaChart.tsx
  docs/data/charts/areas-demo/SimpleAreaChart.tsx.preview
  docs/data/charts/areas-demo/StackedAreaChart.js
  docs/data/charts/areas-demo/StackedAreaChart.tsx
  docs/data/charts/line-demo/DashedLineChart.js
  docs/data/charts/line-demo/DashedLineChart.tsx
  docs/data/charts/line-demo/TinyLineChart.js
  docs/data/charts/line-demo/TinyLineChart.tsx
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
Labels: docs, component: charts

#12747 [DataGrid] Fix calling onCellEditStop on error
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing, CLA: signed

#12765 [DataGrid] Remove unused file
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelCache.ts
Labels: core, component: data grid

#12784 [l10n] Improve Danish (da-DK) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/daDK.ts
Labels: component: data grid, l10n

#12671 [DataGrid] Support state export and restore on grid density
  packages/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/density/useGridDensity.tsx
Labels: component: data grid, enhancement

#12666 [DataGridPro] Implement header filter height
  docs/data/data-grid/filtering/header-filters.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/layout.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-data-grid/src/hooks/features/headerFiltering/useGridHeaderFiltering.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, customization: css, feature: Filtering on header

#12793 [docs] Add grid cell display example to the migration guide
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
Labels: docs, component: data grid

#12792 [DataGrid] Fix column resize
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: component: data grid

#12799 [DataGrid] Limit panel width to not exceed screen width
  packages/x-data-grid/src/components/panel/GridPanel.tsx
Labels: bug 🐛, component: data grid, design

#12808 [DataGrid] Fix column separators
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderSeparator.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
Labels: component: data grid, regression, feature: Column resize

#12786 [test] Increase timeout for test that sometimes fail on DateTimeRangePicker
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: test

#12653 [docs-infra] Prepare infra to document charts interfaces
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/api/utils.ts
  docs/scripts/createXTypeScriptProjects.ts
Labels: component: data grid, scope: docs-infra

#12822 export GridAggregationParams for use with custom aggregators
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  scripts/x-data-grid-premium.exports.json
Labels: component: data grid

#12812 [DataGrid] Fix virtualization memory leak
  packages/grid/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, v6.x

#12813 [TreeView] Support `defaultMuiPrevented` on the `onFocus` prop of the root slot
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.tsx
  packages/x-tree-view/src/useTreeItem2/useTreeItem2.ts
Labels: component: tree view

#12832 v6.19.11
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  scripts/README.md
Labels: release

#12831 v7.3.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#12738 [charts] Add z-axis to colorize scatter charts
  docs/data/charts/bars/ColorScaleNoSnap.js
  docs/data/charts/bars/ColorScaleNoSnap.tsx
  docs/data/charts/lines/ColorScaleNoSnap.js
  docs/data/charts/lines/ColorScaleNoSnap.tsx
  docs/data/charts/scatter/ColorScaleNoSnap.js
  docs/data/charts/scatter/ColorScaleNoSnap.tsx
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/getColor.ts
  packages/x-charts/src/context/ZAxisContextProvider.tsx
  packages/x-charts/src/context/index.ts
  packages/x-charts/src/internals/colorGetter.ts
  packages/x-charts/src/models/colorMapping.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  packages/x-charts/src/models/z-axis.ts
  scripts/x-charts.exports.json
Labels: component: charts

#12838 [docs] Use MUI X v6 in Codesandbox and Stackblitz demos
  docs/pages/_app.js
Labels: docs, v6.x

#12843 [support-infra] Add release announcement to GitHub workflows (#11867)
  .github/workflows/discord-release-announcement.yaml
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: cherry-pick, scope: infra

#12698 [core] Use `describeTreeView` for focus tests
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.test.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: core, component: tree view

#12836 [DataGrid] Fix date filtering for negative timezone offsets
  packages/x-data-grid/src/colDef/gridDateOperators.ts
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
Labels: component: data grid, regression, feature: Filtering

#12656 [docs] Document interfaces for charts
  docs/data/pages.ts
  docs/pages/x/api/charts/axis-config.js
  docs/pages/x/api/charts/axis-config.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/bar-series-type.js
  docs/pages/x/api/charts/bar-series-type.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/line-series-type.js
  docs/pages/x/api/charts/line-series-type.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/pie-series-type.js
  docs/pages/x/api/charts/pie-series-type.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-series-type.js
  docs/pages/x/api/charts/scatter-series-type.json
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/createXTypeScriptProjects.ts
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/charts/axis-config.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/pie-series-type.json
  docs/translations/api-docs/charts/responsive-chart-container/responsive-chart-container.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/CartesianContextProvider.tsx
  packages/x-charts/src/models/seriesType/pie.ts
Labels: docs, component: charts

#12791 [docs] Add demo for styling charts with sx props
  docs/data/charts/styling/SxStyling.js
  docs/data/charts/styling/SxStyling.tsx
  docs/data/charts/styling/styling.md
Labels: docs, component: charts

#12849 [DataGrid] Fix flex column width when used with pinned columns
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
Labels: component: data grid, regression, feature: Column pinning

#12768 [DataGrid] Pass slot props to `columnHeaders` slot
  packages/x-data-grid/src/components/GridHeaders.tsx
Labels: bug 🐛, component: data grid, customization: extend

#12856 [l10n] Improve Catalan (ca-ES) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/caES.ts
Labels: l10n, component: pickers

#12858 [l10n] Improve Spanish (es-ES) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/esES.ts
Labels: l10n, component: pickers

#12862 [docs] Fix Vale regression
  CHANGELOG.md
  docs/data/data-grid/pagination/pagination.md
  scripts/README.md
Labels: docs

#12865 [docs] Update Column features availability
  docs/data/data-grid/getting-started/getting-started.md
Labels: docs, component: data grid

#12710 [docs] Cover webpack 4 support in migration guide
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
Labels: docs, v7.x migration

#12703 [TreeView] Rework the selection internals
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/utils/tree.ts
Labels: performance, component: tree view

#12827 [TreeView] Use the order in which the items are displayed for type-ahead
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
Labels: bug 🐛, component: tree view

#12867 [TreeView] Remove un-needed `aria-activedescendant` attribute
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
Labels: component: tree view

#12257 [charts] Improve default tooltip content
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
Labels: core, component: charts

#12863 [DataGrid] Fix group header resize
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/utils/domUtils.ts
  test/e2e/fixtures/DataGrid/ResizeWithFlex.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid, feature: Column groups, feature: Column resize

#12859 [charts] Add documentation on border radius alternative for `BarCharts`
  docs/data/charts/bars/BorderRadius.js
  docs/data/charts/bars/BorderRadius.tsx
  docs/data/charts/bars/BorderRadius.tsx.preview
  docs/data/charts/bars/bars.md
Labels: docs, component: charts

#12879 [docs] Improve Data Grid migration guide
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
Labels: docs, component: data grid

#12894 [charts] Fix left/bottomAxis not picking up default axis id
  packages/x-charts/src/ChartsAxis/ChartsAxis.tsx
Labels: bug 🐛, component: charts

#12895 [core] Fix `l10n` GH workflow
  .github/workflows/l10n.yml
Labels: core

#12899 [core] Remove redundant `setupFiles` entries in `package.json`
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: core

#12846 [charts] Round y values for bar chart
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
Labels: component: charts

#12909 v7.3.1
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#12915 [pickers] Fix typo on the `viewRenderers` prop description
  docs/translations/api-docs/date-pickers/date-picker/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker/date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-range-picker/date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-range-picker/desktop-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-range-picker/mobile-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-picker/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.ts
Labels: component: pickers

#12910 [l10n] Improve Hebrew (he-IL) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/heIL.ts
Labels: l10n, component: pickers

#12920 [pickers] Improve TypeScript performance in `PickersDay`
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
Labels: performance, typescript, component: pickers

#12848 [docs-infra] Use the `@mui/docs/HighlightedCode`
  docs/data/charts/bars/BarClickNoSnap.js
  docs/data/charts/bars/ColorScale.js
  docs/data/charts/bars/ColorScale.tsx
  docs/data/charts/bars/bars.md
  docs/data/charts/lines/ColorScale.js
  docs/data/charts/lines/ColorScale.tsx
  docs/data/charts/lines/InterpolationDemoNoSnap.js
  docs/data/charts/lines/LineClickNoSnap.js
  docs/data/charts/lines/lines.md
  docs/data/charts/pie/PieClickNoSnap.js
  docs/data/charts/scatter/ColorScale.js
  docs/data/charts/scatter/ColorScale.tsx
  docs/data/charts/scatter/ScatterClickNoSnap.js
  docs/data/charts/scatter/scatter.md
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/src/modules/components/ApiDocs.js
  docs/src/modules/components/ChartsUsageDemo.js
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/components/InterfaceApiPage.js
  docs/src/modules/components/LocalizationTable.js
  docs/src/modules/components/PickersRenderingInstructions.js
  docs/src/modules/components/SelectorsDocs.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: core, scope: docs-infra

#12817 [charts] Add an overlay for "no data" or "loading" states
  docs/data/charts/styling/CustomOverlay.js
  docs/data/charts/styling/CustomOverlay.tsx
  docs/data/charts/styling/Overlay.js
  docs/data/charts/styling/Overlay.tsx
  docs/data/charts/styling/Overlay.tsx.preview
  docs/data/charts/styling/OverlayWithAxis.js
  docs/data/charts/styling/OverlayWithAxis.tsx
  docs/data/charts/styling/styling.md
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/default-charts-axis-tooltip-content.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsOverlay/ChartsLoadingOverlay.tsx
  packages/x-charts/src/ChartsOverlay/ChartsNoDataOverlay.tsx
  packages/x-charts/src/ChartsOverlay/ChartsOverlay.tsx
  packages/x-charts/src/ChartsOverlay/index.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/DefaultChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
  scripts/buildApiDocs/chartsSettings/index.ts
Labels: component: charts

#12930 [l10n] Improve Hungarian (hu-HU) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/huHU.ts
Labels: l10n, component: pickers

#12870 [DataGrid] Derive `formattedValue` from the edit value when passing to `renderEditCell`
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: component: data grid, feature: Editing, customization: extend, enhancement

#12941 [charts] Fix docs/translations/errors typos
  docs/pages/x/api/charts/area-element.json
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/gauge.json
  docs/pages/x/api/charts/line-element.json
  docs/pages/x/api/charts/mark-element.json
  docs/pages/x/api/charts/pie-arc-label.json
  docs/pages/x/api/charts/pie-arc.json
  docs/translations/api-docs/charts/area-element/area-element.json
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/charts-axis/charts-axis.json
  docs/translations/api-docs/charts/charts-reference-line/charts-reference-line.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  docs/translations/api-docs/charts/gauge-container/gauge-container.json
  docs/translations/api-docs/charts/gauge/gauge.json
  docs/translations/api-docs/charts/line-element/line-element.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/mark-element/mark-element.json
  docs/translations/api-docs/charts/pie-arc-label-plot/pie-arc-label-plot.json
  docs/translations/api-docs/charts/pie-arc-label/pie-arc-label.json
  docs/translations/api-docs/charts/pie-arc-plot/pie-arc-plot.json
  docs/translations/api-docs/charts/pie-arc/pie-arc.json
  docs/translations/api-docs/charts/pie-series-type.json
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsReferenceLine/ChartsReferenceLine.tsx
  packages/x-charts/src/ChartsReferenceLine/common.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/Gauge/gaugeClasses.ts
  packages/x-charts/src/Gauge/utils.ts
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/formatter.test.ts
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/hooks/useReducedMotion.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsAxesGradients.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsContinuousGradient.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsPiecewiseGradient.tsx
  packages/x-charts/src/internals/utils.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/pie.ts
Labels: enhancement, component: charts

#12939 [charts][PieChart] Fix `prop.slots` and `prop.slotProps` not passed to `<ChartsTooltip />`
  packages/x-charts/src/PieChart/PieChart.tsx
Labels: bug 🐛, component: charts
