Repository mui/mui-x, pull requests merged in 2024-07, with the labels that each got.

#13684 [core] Fix dependency setup
  docs/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/x-internals/package.json
  pnpm-lock.yaml
  test/package.json
Labels: core

#13657 [pickers] Make the `usePickersTranslations` hook public
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/localization/UseLocaleText.tsx.preview
  docs/data/date-pickers/localization/localization.md
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/PickersRangeCalendarHeader.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DatePicker/DatePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/useClearableField.tsx
  packages/x-date-pickers/src/hooks/usePickersTranslations.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
  packages/x-date-pickers/src/internals/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: component: pickers, customization: extend

#13485 [TreeView] Add `selectItem` and `getItemDOMElement` methods to the public API
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/focus/focus.md
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemDOMElement.js
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemDOMElement.tsx
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemDOMElement.tsx.preview
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItem.js
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItem.tsx
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItem.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItemKeepExistingSelection.js
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItemKeepExistingSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSelectItemKeepExistingSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/focus/focus.md
  docs/data/tree-view/simple-tree-view/items/ApiMethodGetItemDOMElement.js
  docs/data/tree-view/simple-tree-view/items/ApiMethodGetItemDOMElement.tsx
  docs/data/tree-view/simple-tree-view/items/items.md
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSelectItem.js
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSelectItem.tsx
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSelectItemKeepExistingSelection.js
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSelectItemKeepExistingSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/selection.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/hooks/useTreeItem2Utils/useTreeItem2Utils.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view

#13692 [charts] Improve charts interaction for mobile users
  packages/x-charts/src/ChartsSurface.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
Labels: enhancement, component: charts

#13360 [core] Add `react_next` workflow in CircleCI
  .circleci/config.yml
  package.json
  scripts/useReactVersion.mjs
  test/README.md
Labels: test, core

#13715 [docs] fix custom "no results overlay" demo in dark mode
  docs/data/data-grid/overlays/NoResultsOverlayCustom.js
  docs/data/data-grid/overlays/NoResultsOverlayCustom.tsx
Labels: docs

#13717 [charts] Fix Axis Highlight on horizontal bar charts regression
  packages/x-charts/src/ChartsAxisHighlight/ChartsAxisHighlight.tsx
Labels: regression, component: charts

#13713 [code-infra] Cleanup monorepo and `@mui/docs` usage
  docs/data/charts/gauge/gauge.md
  docs/data/charts/overview/overview.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/date-picker/CustomizationExamplesNoSnap.js
  docs/data/date-pickers/overview/overview.md
  docs/data/tree-view/overview/overview.md
  docs/next.config.mjs
  docs/package.json
  docs/src/modules/components/ChartFeaturesGrid.js
  docs/src/modules/components/ChartsUsageDemo.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/components/CustomizationPlayground.tsx
  docs/src/modules/components/InstallationGrid.js
  docs/src/modules/components/InterfaceApiPage.js
  pnpm-lock.yaml
  scripts/buildApiDocs/tsconfig.json
Labels: core, scope: docs-infra, scope: code-infra

#13405 [charts] Add initial `Zoom&Pan` to the Pro charts
  docs/data/charts/zoom-and-pan/ZoomBarChart.js
  docs/data/charts/zoom-and-pan/ZoomBarChart.tsx
  docs/data/charts/zoom-and-pan/ZoomBarChart.tsx.preview
  docs/data/charts/zoom-and-pan/ZoomLineChart.js
  docs/data/charts/zoom-and-pan/ZoomLineChart.tsx
  docs/data/charts/zoom-and-pan/ZoomLineChart.tsx.preview
  docs/data/charts/zoom-and-pan/ZoomScatterChart.js
  docs/data/charts/zoom-and-pan/ZoomScatterChart.tsx
  docs/data/charts/zoom-and-pan/ZoomScatterChart.tsx.preview
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/pages.ts
  docs/pages/x/react-charts/zoom-and-pan.js
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/context/CartesianProviderPro/CartesianProviderPro.tsx
  packages/x-charts-pro/src/context/CartesianProviderPro/index.ts
  packages/x-charts-pro/src/context/ZoomProvider/ZoomContext.ts
  packages/x-charts-pro/src/context/ZoomProvider/ZoomProvider.tsx
  packages/x-charts-pro/src/context/ZoomProvider/ZoomSetup.ts
  packages/x-charts-pro/src/context/ZoomProvider/index.ts
  packages/x-charts-pro/src/context/ZoomProvider/useSetupPan.ts
  packages/x-charts-pro/src/context/ZoomProvider/useSetupZoom.ts
  packages/x-charts-pro/src/context/ZoomProvider/useZoom.ts
  packages/x-charts-pro/src/index.ts
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
Labels: new feature, component: charts

#13349 [DataGrid] Fix pagination when `pagination={undefined}`
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/tests/DataGrid.test.tsx
Labels: component: data grid, feature: Pagination

#13720 [core] Remove `jscodeshift-add-imports` package
  packages/x-codemod/package.json
  pnpm-lock.yaml
Labels: core, dependencies

#13724 [charts] Instruct how to disable the tooltip to docs
  docs/data/charts/tooltip/tooltip.md
Labels: docs, component: charts

#13741 Bump MUI Core
  docs/package.json
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/describes.DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/tests/describes.DateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describes.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/describes.DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describes.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describes.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/MultiInputDateRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/MultiInputDateTimeRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/MultiInputTimeRangeField.conformance.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describes.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/tests/describes.SingleInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/tests/describes.SingleInputTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/DateCalendar/tests/describes.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/describes.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describes.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describes.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describes.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describes.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describes.MonthCalendar.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describes.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describes.TimeClock.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describes.YearCalendar.test.tsx
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem2/TreeItem2.test.tsx
  pnpm-lock.yaml
  renovate.json
  test/package.json
Labels: core, dependencies

#13737 v7.9.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13725 [data grid] Add selectors to support showing child row count in footer
  docs/data/data-grid/recipes-row-grouping/RowGroupingChildRowCount.js
  docs/data/data-grid/recipes-row-grouping/RowGroupingChildRowCount.tsx
  docs/data/data-grid/recipes-row-grouping/RowGroupingChildRowCount.tsx.preview
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: docs, component: data grid, feature: Row grouping

#13743 [DateTimeRangePicker] Resolve `format` from given `views`
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/utils/date-time-utils.ts
Labels: bug 🐛, plan: Pro, component: pickers, component: DateTimeRangePicker

#13742 [docs] Fix Pickers customization playground overflow
  docs/src/modules/components/PickersPlayground.tsx
Labels: docs, component: pickers

#13761 [charts] Use correct click handler prop on pie chart `OnSeriesItemClick` documentation
  docs/data/charts/pie-demo/OnSeriesItemClick.js
  docs/data/charts/pie-demo/OnSeriesItemClick.tsx
Labels: docs, component: charts

#13331 [DataGrid] Use `readonly` on more array props
  docs/pages/x/api/data-grid/grid-actions-col-def.json
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-col-def.json
  docs/pages/x/api/data-grid/grid-row-selection-api.json
  docs/pages/x/api/data-grid/grid-single-select-col-def.json
  packages/x-data-grid/src/models/api/gridRowSelectionApi.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/models/gridRowSelectionModel.ts
Labels: component: data grid

#13313 [DataGridPro] Keep bottom pinned row at the bottom
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/tests/DataGrid.test.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
  test/karma.conf.js
  test/regressions/data-grid/DataGridPinnedBottomRow.js
Labels: component: data grid, plan: Pro, regression, feature: Row pinning

#13604 [docs] Add missing default `loading` prop value
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: docs, component: data grid

#13775 [docs] Add the `DateTimeRangePicker` to the "Commonly used components" demo
  docs/data/date-pickers/overview/CommonlyUsedComponents.js
  docs/data/date-pickers/overview/CommonlyUsedComponents.tsx
Labels: docs, component: pickers

#13778 [docs] Move Pickers dialog guidelines to accessibility page
  docs/data/date-pickers/accessibility/accessibility.md
  docs/data/date-pickers/base-concepts/base-concepts.md
Labels: docs, component: pickers

#13780 [DateRangePicker] Fix `calendarHeader` slot props propagation
  packages/x-date-pickers-pro/src/PickersRangeCalendarHeader/PickersRangeCalendarHeader.tsx
Labels: bug 🐛, plan: Pro, component: pickers, component: DateRangePicker, customization: extend

#13791 [charts] Fix area with log scale
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/extremums.ts
Labels: component: charts

#13783 [core] Sort ASC DATA_GRID_PROPS_DEFAULT_VALUES
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
Labels: core, component: data grid

#13474 [DataGrid] Fix incorrect panels position when using a toolbar
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
Labels: component: data grid, regression, v7.x

#13129 [DataGrid] set default variant to `'standard'` in `GridFilterInputMultipleValue`
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
Labels: component: data grid, enhancement

#13772 [l10n] Improve Spanish (es-ES) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/esES.ts
Labels: l10n

#13788 [TreeView] Add utility function to check if an optional plugin is present
  packages/x-tree-view/src/internals/corePlugins/corePlugins.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewOptionalPlugins/index.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewOptionalPlugins/useTreeViewOptionalPlugins.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewOptionalPlugins/useTreeViewOptionalPlugins.types.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/utils/plugins.ts
Labels: component: tree view

#13688 [fields] Unify fields behavior regardless of `readOnly` flag
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  test/e2e/fixtures/DatePicker/MobileDatePickerV6WithClearAction.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#13779 [fields] Prevent infinite recursion when ensuring selection
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
Labels: regression, component: pickers, feature: Keyboard editing

#13804 [TreeView] Add `getItemTree` and `getItemOrderedChildrenIds` methods to the public API
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemOrderedChildrenIds.js
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemOrderedChildrenIds.tsx
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemOrderedChildrenIds.tsx.preview
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemTree.js
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemTree.tsx
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemTree.tsx.preview
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view

#13806 v7.10.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13760 [code-infra] Use specific version for `@mui/docs` dependency
  docs/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#13803 [DataGrid] Fix: enable flip on preferences panel
  packages/x-data-grid/src/components/panel/GridPanel.tsx
Labels: component: data grid, needs cherry-pick

#13813 [code-infra] Follow `next` tag for `@mui/docs` package bumps
  renovate.json
Labels: dependencies, scope: code-infra

#13815 [internals] Move `EventManager` to `@mui/x-internals` package
  packages/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
  packages/x-data-grid/src/models/api/gridCoreApi.ts
  packages/x-internals/src/EventManager/EventManager.test.ts
  packages/x-internals/src/EventManager/EventManager.ts
  packages/x-internals/src/EventManager/index.ts
  packages/x-tree-view-pro/package.json
  packages/x-tree-view-pro/tsconfig.build.json
  packages/x-tree-view/package.json
  packages/x-tree-view/src/internals/corePlugins/useTreeViewInstanceEvents/useTreeViewInstanceEvents.ts
  packages/x-tree-view/src/internals/utils/EventManager.ts
  packages/x-tree-view/tsconfig.build.json
  pnpm-lock.yaml
Labels: core

#13796 [charts] Allow controlling the demo form from the example
  docs/src/modules/components/ChartsUsageDemo.js
  docs/src/modules/components/DemoPropsForm.tsx
Labels: docs, enhancement, component: charts

#13817 [charts] Defaultize axis on top level `useChartContainerProps`
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/context/CartesianProviderPro/CartesianProviderPro.tsx
  packages/x-charts-pro/src/context/ZoomProvider/Zoom.types.ts
  packages/x-charts-pro/src/context/ZoomProvider/ZoomProvider.tsx
  packages/x-charts-pro/src/context/ZoomProvider/defaultizeZoom.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartContainer/useDefaultizeAxis.ts
  packages/x-charts/src/context/CartesianProvider/CartesianProvider.tsx
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
  packages/x-charts/src/context/CartesianProvider/index.ts
  packages/x-charts/src/context/CartesianProvider/normalizeAxis.ts
Labels: enhancement, component: charts

#13807 [charts] Disable animations while zooming
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/context/ZoomProvider/useSetupZoom.ts
Labels: enhancement, component: charts

#13786 [docs] Clarify Pickers clearable behavior not working on mobile
  docs/data/date-pickers/date-picker/ClearableProp.js
  docs/data/date-pickers/date-picker/ClearableProp.tsx
  docs/data/date-pickers/date-picker/date-picker.md
Labels: docs, component: pickers

#13353 [DataGrid] Fix delete filter inconsistent behavior
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Filtering

#13821 [DateRangePicker] Fix `name` prop propagation regression
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
Labels: plan: Pro, regression, component: pickers, component: DateRangePicker

#13827 [core] Fix `renovate` config
  renovate.json
Labels: core, dependencies, regression

#13843 [docs] Sort Pickers & Charts API slots alphabetically
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/charts-tooltip.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/pickers-calendar-header.json
  docs/pages/x/api/date-pickers/pickers-layout.json
  docs/pages/x/api/date-pickers/pickers-section-list.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/static-time-picker.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/pages/x/api/date-pickers/time-picker.json
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/buildApiDocs/gridSettings/index.ts
  scripts/buildApiDocs/pickersSettings/index.ts
  scripts/buildApiDocs/treeViewSettings/index.ts
Labels: docs, core

#13307 [DataGrid] Fix `columnResizeStop` event not emitted when column is not resized
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
Labels: bug 🐛, component: data grid, feature: Column resize

#13411 [DataGrid] Support `date` and `datetime-local` input types in `GridFilterInputMultipleValue` type
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
Labels: component: data grid, typescript, customization: extend

#13848 [TimePicker] Add `Mui-selected` class to `TimeClock` meridiem buttons
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/clockClasses.ts
Labels: component: pickers, component: TimePicker, customization: css, enhancement

#13846 [core] Add MUI Internal `renovate` group
  renovate.json
Labels: core, scope: code-infra

#13844 [core] Normalize `...other` and test imports in charts
  docs/pages/x/api/charts/gauge.json
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.test.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/Gauge/Gauge.test.tsx
  packages/x-charts/src/LineChart/LineChart.test.tsx
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.test.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.test.tsx
  packages/x-charts/src/ResponsiveChartContainer/useResponsiveChartContainerProps.ts
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.test.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/HighlightedProvider/HighlightedProvider.tsx
Labels: enhancement, component: charts

#13845 [TreeView] Extract some logic outside of the `useTreeView` hook
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewBuildContext.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewPlugins.ts
Labels: component: tree view

#13651 [l10n] Improve Korean (ko-KR) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/koKR.ts
Labels: l10n, component: pickers

#13863 [charts] Fix charts `api` tests
  docs/pages/x/api/charts/continuous-color-legend.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/piecewise-color-legend.json
  scripts/x-charts-pro.exports.json
Labels: component: charts

#13543 [docs] Improve the documentation of the picker's `onChange` and `onAccept` props
  docs/data/date-pickers/lifecycle/lifecycle.md
  packages/x-date-pickers/src/models/pickers.ts
Labels: docs, component: pickers

#13869 [docs] Add warning about `process.env.NODE_ENV` in production
  docs/data/introduction/licensing/licensing.md
Labels: docs

#13871 [l10n] Improve Russian (ru-RU) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/ruRU.ts
Labels: l10n, component: pickers

#13877 [DataGrid] Expose `gridEditRowsStateSelector`
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid/src/hooks/features/editing/gridEditingSelectors.ts
  packages/x-data-grid/src/hooks/features/editing/index.ts
  packages/x-data-grid/src/hooks/features/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, feature: Editing

#13868 [charts] Improve zoomed highlight behaviour
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/context/ZoomProvider/useSetupPan.ts
  packages/x-charts-pro/src/context/ZoomProvider/useSetupZoom.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/hooks/useDrawingArea.ts
Labels: enhancement, component: charts

#13735 [l10n] Improve Russian (ru-RU) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ruRU.ts
Labels: component: data grid, l10n

#13890 v6.20.4
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
Labels: release

#13889 v7.11.0
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13874 [docs] Improve error message when moving between plans
  packages/x-data-grid-premium/src/DataGridPremium/DataGrid.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGrid.tsx
Labels: docs, component: data grid

#13897 [charts] hide empty arcs in the PieChart
  packages/x-charts/src/PieChart/PieArc.tsx
Labels: component: charts

#13682 [charts] Limit the trigger of exit charts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/context/DrawingProvider.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
Labels: component: charts

#13902 [docs] Fix spelling
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/bars.md
  docs/data/charts/legend/legend.md
Labels: docs

#13894 [docs] Bump pnpm priority as a package manager
  docs/data/charts/getting-started/getting-started.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-tree-view-lab/migration-tree-view-lab.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/src/modules/components/InstallationInstructions.tsx
Labels: docs

#13910 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
Labels: l10n

#13909 [tree view][docs] Fix scroll demos disorientation
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemDOMElement.js
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemDOMElement.tsx
  docs/data/tree-view/simple-tree-view/items/ApiMethodGetItemDOMElement.js
  docs/data/tree-view/simple-tree-view/items/ApiMethodGetItemDOMElement.tsx
Labels: docs, component: tree view, design

#13900 [fields] Prevent keyboard editing when disabled
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#13905 [docs] Explicitly mark charts pro as not released
  docs/data/charts/heatmap/heatmap.md
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/pages.ts
  docs/pages/x/api/charts/default-heatmap-tooltip.json
  docs/pages/x/api/charts/heatmap-item.json
  docs/pages/x/api/charts/heatmap-plot.json
  docs/pages/x/api/charts/heatmap.json
Labels: docs, plan: Pro, component: charts

#13710 [code-infra] Reuse `useReactVersion` script from the monorepo
  .circleci/config.yml
  package.json
  pnpm-lock.yaml
  scripts/useReactVersion.mjs
  test/README.md
Labels: scope: code-infra

#13888 [DataGrid] Do not miss to escape formulas in CSV export
  packages/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/x-data-grid/src/tests/export.DataGrid.test.tsx
Labels: security, component: data grid, feature: Export

#13946 [l10n] Add Norwegian Nynorsk (nn-NO) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/nnNO.ts
Labels: l10n, component: pickers

#13858 [charts] Allow `Zoom` to be controllable
  docs/data/charts/zoom-and-pan/ZoomControlled.js
  docs/data/charts/zoom-and-pan/ZoomControlled.tsx
  docs/data/charts/zoom-and-pan/ZoomControlled.tsx.preview
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/responsive-chart-container-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/translations/api-docs/charts/chart-container-pro/chart-container-pro.json
  docs/translations/api-docs/charts/responsive-chart-container-pro/responsive-chart-container-pro.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/ResponsiveChartContainerPro.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/useResponsiveChartContainerProProps.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/context/ZoomProvider/Zoom.types.ts
  packages/x-charts-pro/src/context/ZoomProvider/ZoomContext.ts
  packages/x-charts-pro/src/context/ZoomProvider/ZoomProvider.tsx
  packages/x-charts-pro/src/context/ZoomProvider/ZoomSetup.ts
  packages/x-charts-pro/src/context/ZoomProvider/initializeZoomData.ts
  packages/x-charts-pro/src/context/ZoomProvider/useSetupZoom.ts
  packages/x-charts-pro/src/context/ZoomProvider/useZoom.ts
  packages/x-charts-pro/src/context/index.ts
  packages/x-charts-pro/src/index.ts
  packages/x-charts-pro/src/typeOverloads/modules.ts
  scripts/x-charts-pro.exports.json
Labels: new feature, component: charts

#13934 [data grid] Remove dead code in internal GridPreferencesPanel
  packages/x-data-grid/src/components/panel/GridPreferencesPanel.tsx
Labels: performance, component: data grid

#13953 [TreeView] Allow the plugins to enrich the props passed to the item slots
  packages/x-tree-view/src/internals/models/index.ts
  packages/x-tree-view/src/internals/models/itemPlugin.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewBuildContext.ts
  packages/x-tree-view/src/useTreeItem2/index.ts
  scripts/x-tree-view.exports.json
  test/utils/tree-view/fakeContextValue.ts
Labels: component: tree view

#13940 [charts] Deprecate `xAxisKey` /`zAxisKey` in favor of `xAxisId`/`zAxisId`
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/ReverseExampleNoSnap.js
  docs/data/charts/axis/ScaleExample.js
  docs/data/charts/axis/ScaleExample.tsx
  docs/data/charts/axis/ScaleExample.tsx.preview
  docs/data/charts/axis/axis.md
  docs/data/charts/bar-demo/BiaxialBarChart.js
  docs/data/charts/bar-demo/BiaxialBarChart.tsx
  docs/data/charts/components/ScaleDemo.js
  docs/data/charts/components/ScaleDemo.tsx
  docs/data/charts/getting-started/Combining.js
  docs/data/charts/getting-started/Combining.tsx
  docs/data/charts/line-demo/BiaxialLineChart.js
  docs/data/charts/line-demo/BiaxialLineChart.tsx
  docs/data/charts/line-demo/BiaxialLineChart.tsx.preview
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.js
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.tsx
  docs/pages/x/api/charts/bar-series-type.json
  docs/pages/x/api/charts/line-series-type.json
  docs/pages/x/api/charts/scatter-series-type.json
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/checkScaleErrors.ts
  packages/x-charts/src/BarChart/extremums.ts
  packages/x-charts/src/ChartsOnAxisClickHandler/ChartsOnAxisClickHandler.tsx
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsVoronoiHandler/ChartsVoronoiHandler.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/extremums.ts
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/extremums.ts
  packages/x-charts/src/context/CartesianProvider/CartesianContext.ts
  packages/x-charts/src/context/ZAxisContextProvider.tsx
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/scatter.ts
Labels: dx, deprecation, component: charts

#13954 [infra] Issue template improvement
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.pro-support.yml
  .github/ISSUE_TEMPLATE/4.premium-support.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/workflows/issue-cleanup.yml
Labels: scope: infra

#13960 [docs] Update `SparkLineChart` reference not being correctly capitalised
  docs/data/charts/sparkline/sparkline.md
Labels: docs, component: charts

#13906 [docs] Fix some typos in charts docs
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/bars.md
  docs/data/charts/components/components.md
Labels: docs, component: data grid, component: charts

#13957 [infra] Adds order id validation action
  .github/workflows/order-id-validator.yml
  package.json
  pnpm-lock.yaml
  scripts/oderIdValidation.js
Labels: scope: infra

#13966 [core] Add `@mui/material-nextjs` to `MUI Core` renovate group
  renovate.json
Labels: core, dependencies

#13965 [charts] Add `ownerState` function to `slotProps` typing when available
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabelItem.tsx
  packages/x-charts/src/ChartsOverlay/ChartsOverlay.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/internals/SlotComponentPropsFromProps.ts
Labels: component: charts

#13283 [l10n] Add Icelandic (is-IS) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/index.ts
  packages/x-data-grid/src/locales/isIS.ts
Labels: component: data grid, l10n

#13971 [infra] Fix order id validator action
  .github/workflows/order-id-validator.yml
  scripts/orderIdValidation.js
Labels: scope: infra

#13893 [DataGrid] Also send the API with events in Premium
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
Labels: component: data grid, CLA: signed

#13976 [infra] Fix regex in order id validation
  scripts/orderIdValidation.js
Labels: scope: infra

#13978 v7.11.1
  CHANGELOG.md
  package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view/package.json
Labels: release

#13891 [DataGrid] Fix role=presentation a11y issue
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/utils/platform.ts
Labels: accessibility, component: data grid

#13879 [docs] Update on `renderCell` & autogenerated rows
  docs/data/data-grid/column-definition/AutogeneratedRows.js
  docs/data/data-grid/column-definition/AutogeneratedRows.tsx
  docs/data/data-grid/column-definition/AutogeneratedRows.tsx.preview
  docs/data/data-grid/column-definition/column-definition.md
  docs/data/data-grid/style-recipes/StylingAllCellsButAggregation.js
  docs/data/data-grid/style-recipes/StylingAllCellsButAggregation.tsx
  packages/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridEditing.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/index.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingSelector.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: docs, component: data grid, customization: css, customization: extend

#13969 [test] Fix adapters code coverage
  codecov.yml
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.test.tsx
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsBase/AdapterDateFnsBase.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV3/AdapterDateFnsJalaliV3.ts
  packages/x-date-pickers/src/AdapterDateFnsV3/AdapterDateFnsV3.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
  test/utils/pickers/describeHijriAdapter/testCalculations.ts
  test/utils/pickers/describeJalaliAdapter/testCalculations.ts
Labels: test, component: pickers

#13987 [infra] Fix regex match in order id validation
  scripts/orderIdValidation.js
Labels: scope: infra

#13982 [TreeView] Add new utility function `isEventTargetInDescendants`
  packages/x-tree-view/src/internals/utils/tree.ts
Labels: component: tree view

#13997 [infra] Fixes permissions on order id job
  .github/workflows/issue-cleanup.yml
  .github/workflows/order-id-validator.yml
  scripts/orderIdValidation.js
Labels: scope: infra

#14019 [infra] Fix label name for order ID validation
  scripts/orderIdValidation.js
Labels: scope: infra

#14021 [infra] Fixes the workflow_run parameter on the order id workflow
  .github/workflows/issue-cleanup.yml
  .github/workflows/order-id-validator.yml
Labels: scope: infra

#13989 [docs] Fix 404
  docs/data/charts/tooltip/tooltip.md
Labels: docs, component: charts

#13986 [charts] Fix incorrect `axisId` prop being allowed in xAxis/yAxis config. Use `id` instead.
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container-pro.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/responsive-chart-container-pro.json
  docs/pages/x/api/charts/responsive-chart-container.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/ResponsiveChartContainerPro/ResponsiveChartContainerPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ResponsiveChartContainer/ResponsiveChartContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/models/axis.ts
Labels: bug 🐛, component: charts

#14024 [docs] Add Pickers `minDate` and `maxDate` `default` description
  docs/data/date-pickers/validation/validation.md
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/date-field.json
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-field.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/month-calendar.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/pages/x/api/date-pickers/year-calendar.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/StaticDatePicker/StaticDatePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/models/validation.ts
  packages/x-date-pickers/src/internals/utils/date-utils.ts
Labels: docs, component: pickers

#13781 [DataGrid] Fix crash when updating columns immediately after scrolling
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/tests/columns.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, regression, v7.x

#14031 [infra] Consolidate issue cleanup and support labeling action
  .github/workflows/issue-cleanup.yml
  .github/workflows/order-id-validator.yml
  scripts/githubActions/issueBodyCleanup.js
  scripts/githubActions/orderIdValidation.js
Labels: scope: infra

#14026 [charts] Divide the SeriesProvider to use in filtering
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartContainer/usePluginsMerge.ts
  packages/x-charts/src/ChartsLegend/DefaultChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/utils.ts
  packages/x-charts/src/context/CartesianProvider/computeValue.ts
  packages/x-charts/src/context/CartesianProvider/getAxisExtremum.ts
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.test.tsx
  packages/x-charts/src/context/SeriesContextProvider.tsx
  packages/x-charts/src/context/SeriesProvider/Series.types.ts
  packages/x-charts/src/context/SeriesProvider/SeriesContext.ts
  packages/x-charts/src/context/SeriesProvider/SeriesProvider.tsx
  packages/x-charts/src/context/SeriesProvider/index.ts
  packages/x-charts/src/context/SeriesProvider/processSeries.ts
  packages/x-charts/src/hooks/useSeries.test.tsx
  packages/x-charts/src/hooks/useSeries.ts
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/internals/index.ts
Labels: enhancement, component: charts

#13952 [core] Test `charts` performance with codspeed
  .github/workflows/codspeed.yml
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/performance-charts/package.json
  test/performance-charts/tests/BarChart.bench.tsx
  test/performance-charts/tests/LineChart.bench.tsx
  test/performance-charts/tests/ScatterChart.bench.tsx
  test/performance-charts/tsconfig.json
  test/performance-charts/utils/options.ts
  test/performance-charts/vitest.config.ts
Labels: core, component: charts, scope: code-infra

#14035 [core] Fix GHA syntax for Codspeed action
  .github/workflows/codspeed.yml
Labels: core

#14038 [infra] Revert `vale` action `paths` filtering
  .github/workflows/vale-action.yml
Labels: core, scope: infra

#14025 [docs] Fix Vale errors
  CHANGELOG.md
  docs/data/data-grid/overlays/overlays.md
  docs/data/data-grid/server-side-data/index.md
  packages/x-internals/README.md
Labels: docs

#14039 [DataGrid] Refactor: remove useless copy
  packages/x-data-grid/src/internals/utils/useProps.ts
Labels: performance, component: data grid

#14044 [infra] Fixes output to empty string on `'_No response_'` as order id
  .github/workflows/issue-cleanup.yml
  scripts/githubActions/issueBodyCleanup.js
Labels: scope: infra

#13943 [DataGrid] Fix top corner pixels & outline radius
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridTopContainer.tsx
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/utils/composeGridClasses.ts
Labels: component: data grid

#14041 [test] Fix mocha config to run charts tests
  .mocharc.js
Labels: test, component: charts

#14049 [infra] Fix `addLabel` call
  scripts/githubActions/orderIdValidation.js
Labels: scope: infra

#14054 [l10n] Improve Finnish (fi-FI) locale
  packages/x-date-pickers/src/locales/fiFI.ts
Labels: l10n, component: pickers
