Repository mui/mui-x, pull requests merged in 2024-01, with the labels that each got.

#11542 [core] Regen api files
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
Labels: core

#11547 [docs] Add example for TreeView `onNodeExpansionToggle` prop
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.js
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.tsx
  docs/data/tree-view/rich-tree-view/expansion/TrackNodeExpansionToggle.tsx.preview
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/expansion/TrackNodeExpansionToggle.js
  docs/data/tree-view/simple-tree-view/expansion/TrackNodeExpansionToggle.tsx
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
Labels: docs, component: tree view

#11516 [DataGrid] Don't evaluate hasEval when disableEval is set
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, needs cherry-pick

#11550 [charts] Fix `null` in line chart using dataset
  packages/x-charts/src/LineChart/formatter.ts
Labels: bug 🐛, needs cherry-pick, component: charts

#11487 [charts] Add `arcLabelRadius` property
  docs/data/charts/pie/pie.md
  docs/pages/x/api/charts/pie-arc-label-plot.json
  docs/pages/x/api/charts/pie-arc-plot.json
  docs/translations/api-docs/charts/pie-arc-label-plot.json
  docs/translations/api-docs/charts/pie-arc-plot.json
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/dataTransform/transition.ts
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/models/seriesType/pie.ts
Labels: needs cherry-pick, component: charts

#11545 [docs] Clarify Pickers usage with Luxon
  docs/data/date-pickers/timezone/LuxonTimezone.tsx
  docs/data/date-pickers/timezone/LuxonUTC.tsx
Labels: docs, component: pickers, enhancement

#11566 [docs] Clarify Pickers usage with Luxon
  docs/data/date-pickers/timezone/LuxonTimezone.tsx
  docs/data/date-pickers/timezone/LuxonUTC.tsx
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  yarn.lock
Labels: docs, component: pickers, cherry-pick

#11557 [DataGrid] Replace eval with new Function
  packages/grid/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
Labels: core, component: data grid

#11554 [DataGrid] warn devs when `autoPageSize` used with `autoheight`
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: data grid

#11419 [pickers] Fix views management
  docs/pages/x/api/date-pickers/date-calendar.json
  docs/pages/x/api/date-pickers/digital-clock.json
  docs/pages/x/api/date-pickers/multi-section-digital-clock.json
  docs/pages/x/api/date-pickers/time-clock.json
  docs/translations/api-docs/date-pickers/date-calendar.json
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/DateCalendar.types.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
  packages/x-date-pickers/src/internals/models/props/clock.ts
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, component: DateTimePicker, needs cherry-pick

#11569 [charts][docs] Add demo to the Overview page
  docs/data/charts/overview/ChartsOverviewDemo.js
  docs/data/charts/overview/ChartsOverviewDemo.tsx
  docs/data/charts/overview/ChartsOverviewDemo.tsx.preview
  docs/data/charts/overview/overview.md
Labels: docs, needs cherry-pick, component: charts

#11585 [DataGrid] follow warning message guideline for `autoPageSize` and `autoHeight`
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: data grid

#11582 v6.18.7
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11583 v7.0.0-alpha.7
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view/package.json
Labels: release

#11570 [charts][docs] Improve landing page
  docs/data/charts/overview/overview.md
  docs/src/modules/components/ChartComponentsGrid.js
Labels: docs, component: charts

#11533 [docs] Push up the MUI X brand
  docs/data/charts/overview/overview.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/overview/overview.md
  docs/data/tree-view/overview/overview.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
Labels: docs

#11589 [data grid][docs] Improve Server-side data docs
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/gauge/gauge.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/data-grid/server-side-data/aggregation.md
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/infinite-loading.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/pages.ts
  packages/grid/x-data-grid-pro/src/models/dataSource.ts
Labels: docs

#11608 [core] Remove PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD
  .circleci/config.yml
  .github/workflows/l10n.yml
  netlify.toml
  package.json
Labels: core

#11606 [core] Simplify isSsr logic
  packages/x-charts/src/internals/domUtils.ts
Labels: core

#11473 [tree view] Define the params used by each plugin to avoid listing them in each component
  docs/data/tree-view/headless/HeadlessTreeView.js
  docs/data/tree-view/headless/HeadlessTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/internals/corePlugins/useTreeViewInstanceEvents/useTreeViewInstanceEvents.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewContextValueBuilder/useTreeViewContextValueBuilder.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/utils/extractPluginParamsFromProps.ts
Labels: component: tree view

#11481 [tree view] Cleanup `onKeyDown` handler
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/internals/models/MuiCancellableEvent.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
Labels: component: tree view

#11628 [docs] Fix parsing of `x-date-pickers-pro` demo adapter imports
  docs/src/modules/utils/postProcessImport.test.ts
  docs/src/modules/utils/postProcessImport.ts
Labels: bug 🐛, docs, component: pickers, needs cherry-pick

#11640 [l10n] Add missing Danish (da-DK) locale export
  packages/x-date-pickers/src/locales/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: l10n, component: pickers, needs cherry-pick

#11642 [pickers] Fix clearable behavior blocking focus return to `OpenPickerButton`
  packages/x-date-pickers/src/hooks/useClearableField.tsx
Labels: bug 🐛, component: pickers, needs cherry-pick

#11607 [core] Sync playwright cache between MUI X and Material UI
  .circleci/config.yml
Labels: core

#11646 [docs] Remove old data grid translation files
  docs/translations/api-docs/data-grid/data-grid-premium-pt.json
  docs/translations/api-docs/data-grid/data-grid-premium-zh.json
  docs/translations/api-docs/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro-pt.json
  docs/translations/api-docs/data-grid/data-grid-pro-zh.json
  docs/translations/api-docs/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-pt.json
  docs/translations/api-docs/data-grid/data-grid-zh.json
  docs/translations/api-docs/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/grid-filter-form-pt.json
  docs/translations/api-docs/data-grid/grid-filter-form-zh.json
  docs/translations/api-docs/data-grid/grid-filter-form.json
  docs/translations/api-docs/data-grid/grid-filter-panel-pt.json
  docs/translations/api-docs/data-grid/grid-filter-panel-zh.json
  docs/translations/api-docs/data-grid/grid-filter-panel.json
  docs/translations/api-docs/data-grid/grid-toolbar-quick-filter.json
Labels: docs, component: data grid, scope: docs-infra

#11614 [DataGrid] Stop exporting locales from the package root
  docs/data/data-grid/localization/DataGridRTL.js
  docs/data/data-grid/localization/DataGridRTL.tsx
  docs/data/data-grid/localization/localization.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-premium/src/index.ts
  packages/grid/x-data-grid-premium/src/locales.ts
  packages/grid/x-data-grid-premium/src/tests/localization.DataGridPremium.spec.tsx
  packages/grid/x-data-grid-pro/src/index.ts
  packages/grid/x-data-grid-pro/src/locales.ts
  packages/grid/x-data-grid-pro/src/tests/layout.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/localization.DataGridPro.spec.tsx
  packages/grid/x-data-grid/src/index.ts
  packages/grid/x-data-grid/src/internals/index.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/localization.DataGrid.spec.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/typeUtils.ts
Labels: breaking change, component: data grid, l10n, v7.x

#11652 [core] Lock `jsdom` version
  package.json
  renovate.json
  yarn.lock
Labels: test, core

#11658 [core] Bump monorepo
  yarn.lock
Labels: dependencies

#11661 release v6.19.0
  CHANGELOG.md
  package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11662 release v7.0.0-alpha.8
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#11571 [core] Make `karma` run in parallel
  package.json
  test/karma.conf.js
  yarn.lock
Labels: test, core, scope: code-infra

#11650 [docs] Improve codemod for v7
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-codemod/README.md
Labels: docs, v7.x

#11623 [TreeView] Make each plugin responsible for its context value
  docs/data/tree-view/headless/HeadlessTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/useTreeItem.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewInstanceEvents/useTreeViewInstanceEvents.types.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/models/helpers.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/defaultPlugins.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewContextValueBuilder/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewContextValueBuilder/useTreeViewContextValueBuilder.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
Labels: component: tree view

#11665 [TreeView] Improve plugin signature definition
  docs/data/tree-view/headless/HeadlessTreeView.tsx
  packages/x-tree-view/src/internals/corePlugins/useTreeViewInstanceEvents/useTreeViewInstanceEvents.types.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
Labels: typescript, component: tree view

#11567 [tree view] Explore a better plugin model API
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
Labels: component: tree view

#11512 [DataGrid] Allow to programmatically sort unsortable columns
  docs/data/data-grid/api-object/AccessDisabledColumnFeatures.js
  docs/data/data-grid/api-object/AccessDisabledColumnFeatures.tsx
  docs/data/data-grid/api-object/AccessDisabledColumnFeatures.tsx.preview
  docs/data/data-grid/api-object/api-object.md
  docs/data/data-grid/sorting/DisableSortingGridAllColumns.js
  docs/data/data-grid/sorting/DisableSortingGridAllColumns.tsx
  docs/data/data-grid/sorting/DisableSortingGridAllColumns.tsx.preview
  docs/data/data-grid/sorting/ReadOnlySortingGrid.js
  docs/data/data-grid/sorting/ReadOnlySortingGrid.tsx
  docs/data/data-grid/sorting/sorting.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/grid/x-data-grid/src/components/columnHeaders/GridColumnHeaderSortIcon.tsx
  packages/grid/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/grid/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/grid/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/sorting.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Sorting, v7.x

#11538 [DataGrid] Allow to filter non-filterable columns programmatically
  docs/data/data-grid/filtering/ReadOnlyFilters.js
  docs/data/data-grid/filtering/ReadOnlyFilters.tsx
  docs/data/data-grid/filtering/ReadOnlyFilters.tsx.preview
  docs/data/data-grid/filtering/index.md
  docs/pages/x/api/data-grid/grid-filter-form.json
  docs/translations/api-docs/data-grid/grid-filter-form/grid-filter-form.json
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterClearButton.tsx
  packages/grid/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/grid/x-data-grid/src/components/panel/filterPanel/GridFilterPanel.tsx
  packages/grid/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/grid/x-data-grid/src/tests/filtering.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Filtering, v7.x

#11539 [DataGridPremium] Allow programmatically grouping non-groupable columns
  docs/data/data-grid/row-grouping/RowGroupingReadOnly.js
  docs/data/data-grid/row-grouping/RowGroupingReadOnly.tsx
  docs/data/data-grid/row-grouping/RowGroupingReadOnly.tsx.preview
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/grid/x-data-grid-premium/src/components/GridColumnMenuRowGroupItem.tsx
  packages/grid/x-data-grid-premium/src/components/GridPremiumColumnMenu.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingSelector.ts
  packages/grid/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: breaking change, component: data grid, feature: Row grouping, v7.x

#11673 [DataGrid] Fix incorrect default value for `filterModel.logicOperator`
  docs/pages/x/api/data-grid/grid-filter-model.md
  packages/grid/x-data-grid/src/models/gridFilterModel.ts
Labels: docs, component: data grid, typescript

#11357 [DataGrid] Wrap toolbar buttons with tooltip
  docs/data/data-grid/components/CustomToolbarGrid.js
  docs/data/data-grid/components/CustomToolbarGrid.tsx
  docs/data/data-grid/components/components.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/grid/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: breaking change, component: data grid, v7.x

#11682 [docs] Improve data grid `pageSizeOptions` prop documentation
  docs/data/data-grid/pagination/pagination.md
Labels: docs, component: data grid, feature: Pagination

#11612 [pickers] Stop root exporting `locales`
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  packages/x-date-pickers-pro/src/locales/index.ts
  packages/x-date-pickers/src/index.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: breaking change, l10n, component: pickers, v7.x

#11651 [docs-infra] Enforce brand name rules
  .github/styles/Blog/BrandName.yml
  .github/styles/Blog/ComponentNaming.yml
  .github/styles/Blog/ComposedWords.yml
  .github/styles/Blog/NamingConventions.yml
  .github/styles/Blog/NoCompanyName.yml
  .github/styles/Blog/Typos.yml
  .vale.ini
Labels: enhancement, scope: docs-infra

#11695 [docs] Fix Pickers migration syntax and diffs
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs, component: pickers

#11697 [pickers] Fix AdapterLuxon `getWeekNumber` behavior
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
Labels: core, component: pickers

#11692 [core] Bump `@mui/material` peer dependency for all packages
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/README.md
  packages/grid/x-data-grid/package.json
  packages/x-charts/README.md
  packages/x-charts/package.json
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-tree-view/README.md
  packages/x-tree-view/package.json
Labels: core, breaking change, v7.x

#11555 [docs] Uplift the Date Pickers playground
  docs/data/date-pickers/playground/playground.md
  docs/data/pages.ts
  docs/src/modules/components/PickersPlayground.tsx
Labels: docs, component: pickers

#11686 [DataGrid] Start the FAQ page
  docs/data/data-grid/faq/faq.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/faq.js
Labels: docs, component: data grid

#11694 [docs] Clean the pickers migration guide
  CHANGELOG.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
Labels: docs

#11564 [docs] First draft of the Tree View custom plugin doc
  docs/data/tree-view/headless/headless.md
  docs/data/tree-view/rich-tree-view/headless/LogExpandedNodes.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedNodes.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  docs/pages/x/react-tree-view/rich-tree-view/headless.js
  packages/x-tree-view/src/internals/index.ts
Labels: docs, component: tree view

#11700 [docs] Cleanup and fix Pickers Playground styling
  docs/src/modules/components/PickersPlayground.tsx
Labels: docs, component: pickers

#11688 [charts] Remove a TS ignore
  docs/data/charts/bars/BarsDataset.tsx
  docs/data/charts/bars/HorizontalBars.tsx
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/ChartsTooltip/DefaultChartsItemTooltipContent.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/models/seriesType/bar.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/line.ts
Labels: typescript, component: charts

#11480 [TreeView] Pass through `Theme` generic to variants
  packages/x-tree-view/src/themeAugmentation/components.d.ts
Labels: breaking change, typescript, enhancement, component: tree view, v7.x

#11716 [core] make karma-parallel run under a new command
  package.json
  test/karma.conf.js
Labels: core

#11689 [charts] Do not propagate `innerRadius` and `outerRadius` to the DOM
  packages/x-charts/src/PieChart/PieArcLabel.tsx
Labels: bug 🐛, needs cherry-pick, component: charts

#11680 [DataGridPro] Allow non-pinnable columns to be pinned programmatically
  docs/data/data-grid/column-pinning/DisableColumnPinningButtons.js
  docs/data/data-grid/column-pinning/DisableColumnPinningButtons.tsx
  docs/data/data-grid/column-pinning/DisableColumnPinningButtons.tsx.preview
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/column-spanning/column-spanning.md
  docs/data/migration/migration-data-grid-v6/ColDefChangesGridNoSnap.js
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  packages/grid/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: breaking change, component: data grid, feature: Column pinning, v7.x

#11698 [DataGrid] Make `column grouping` feature stable
  docs/data/data-grid/column-groups/BasicGroupingDemo.js
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx
  docs/data/data-grid/column-groups/BasicGroupingDemo.tsx.preview
  docs/data/data-grid/column-groups/BreakingGroupDemo.js
  docs/data/data-grid/column-groups/BreakingGroupDemo.tsx
  docs/data/data-grid/column-groups/BreakingGroupDemo.tsx.preview
  docs/data/data-grid/column-groups/CustomizationDemo.js
  docs/data/data-grid/column-groups/CustomizationDemo.tsx
  docs/data/data-grid/column-groups/CustomizationDemo.tsx.preview
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.md
  docs/pages/x/api/data-grid/selectors.json
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/grid/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/grid/x-data-grid-premium/src/tests/exportExcel.DataGridPremium.test.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columnReorder.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/GridHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
  packages/grid/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/grid/x-data-grid/src/hooks/features/export/serializers/csvSerializer.ts
  packages/grid/x-data-grid/src/hooks/features/focus/gridFocusStateSelector.ts
  packages/grid/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/grid/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/grid/x-data-grid/src/models/api/gridColumnGroupingApi.ts
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/columnGrouping.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, feature: Column groups, v7.x

#11723 [TreeView] Adjust expansion and selection docs
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/selection/selection.md
Labels: docs, component: tree view

#11428 [DataGrid] Remove the `ariaV7` experimental flag
  docs/data/data-grid/accessibility/GridAriaV7.js
  docs/data/data-grid/accessibility/GridAriaV7.tsx
  docs/data/data-grid/accessibility/GridAriaV7.tsx.preview
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/grid/x-data-grid-generator/src/services/tree-data-generator.ts
  packages/grid/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/grid/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/grid/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/layout.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/grid/x-data-grid-pro/src/utils/domUtils.ts
  packages/grid/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/grid/x-data-grid/src/components/cell/GridCell.tsx
  packages/grid/x-data-grid/src/components/containers/GridRoot.tsx
  packages/grid/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/grid/x-data-grid/src/hooks/utils/useGridAriaAttributes.tsx
  packages/grid/x-data-grid/src/models/props/DataGridProps.ts
  packages/grid/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/slots.DataGrid.test.tsx
  packages/grid/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
  test/e2e/index.test.ts
  test/utils/helperFn.ts
Labels: breaking change, accessibility, component: data grid, v7.x

#11725 [test] Fix flaky Data Grid test
  packages/grid/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
Labels: test, component: data grid

#11712 [TreeView] Rename `useTreeItem` to `useTreeItemState`
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.js
  docs/data/tree-view/simple-tree-view/customization/CustomContentTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/IconExpansionTreeView.js
  docs/data/tree-view/simple-tree-view/customization/IconExpansionTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/customization.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/preset-safe/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/actual-nested-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/actual-root-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/expected-nested-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/expected-root-imports.spec.tsx
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/index.ts
  packages/x-codemod/src/v7.0.0/tree-view/rename-use-tree-item/rename-use-tree-item.ts
  packages/x-tree-view/src/TreeItem/TreeItemContent.tsx
  packages/x-tree-view/src/TreeItem/index.ts
  packages/x-tree-view/src/TreeItem/useTreeItemState.ts
  scripts/x-tree-view.exports.json
Labels: breaking change, component: tree view

#11728 [docs] Parse markdown on Pickers API docs demo titles
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker-day.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  scripts/buildApiDocs/chartsSettings/getComponentInfo.ts
  scripts/buildApiDocs/pickersSettings/getComponentInfo.ts
  scripts/buildApiDocs/treeViewSettings/getComponentInfo.ts
Labels: docs, component: pickers

#11730 [docs] Generate docs for Tree View slots
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/index.ts
  packages/x-tree-view/src/SimpleTreeView/index.ts
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeItem/index.ts
  packages/x-tree-view/src/TreeView/TreeView.types.ts
  packages/x-tree-view/src/TreeView/index.ts
  scripts/x-tree-view.exports.json
Labels: docs, component: tree view

#11713 [TreeView] Migrate remaining icon props to slots
  docs/data/migration/migration-tree-view-v6/migration-tree-view-v6.md
  docs/data/tree-view/simple-tree-view/customization/BorderedTreeView.js
  docs/data/tree-view/simple-tree-view/customization/BorderedTreeView.tsx
  docs/data/tree-view/simple-tree-view/customization/CustomIcons.js
  docs/data/tree-view/simple-tree-view/customization/CustomIcons.tsx
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.test.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.test.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
  packages/x-tree-view/src/TreeView/TreeView.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewIcons/useTreeViewIcons.types.ts
Labels: breaking change, component: tree view

#11479 [code-infra] Update the Babel macro path
  docs/babel.config.js
  package.json
  yarn.lock
Labels: needs cherry-pick, scope: code-infra

#11732 [code-infra] Migrate all prettier APIs to the async version
  docs/scripts/api/buildApi.ts
  docs/scripts/api/buildGridEventsDocumentation.ts
  docs/scripts/api/buildGridSelectorsDocumentation.ts
  docs/scripts/api/buildInterfacesDocumentation.ts
  docs/scripts/api/utils.ts
  docs/scripts/formattedTSDemos.js
  docs/scripts/generateProptypes.ts
  scripts/l10n.ts
Labels: core, cherry-pick

#11737 [docs] Fix generated tree view API docs
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
Labels: docs, core, component: tree view

#11739 bump monorepo
  docs/.link-check-errors.txt
  docs/translations/api-docs/date-pickers/date-calendar/date-calendar.json
  docs/translations/api-docs/date-pickers/date-picker/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-calendar/date-range-calendar.json
  docs/translations/api-docs/date-pickers/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker/date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/pickers-calendar-header/pickers-calendar-header.json
  docs/translations/api-docs/date-pickers/pickers-layout/pickers-layout.json
  docs/translations/api-docs/date-pickers/static-date-picker/static-date-picker.json
  docs/translations/api-docs/date-pickers/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-time-picker/static-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker/time-picker.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/buildApiDocs/gridSettings/index.ts
  scripts/buildApiDocs/pickersSettings/index.ts
  scripts/buildApiDocs/treeViewSettings/index.ts
  yarn.lock
Labels: core

#11731 7.0.0-alpha.9
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#11749 [core] Cleanup script and alias setup
  babel.config.js
  docs/scripts/generateProptypes.ts
  tsconfig.json
Labels: core

#11758 [docs] Fix brand name non-breaking space
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  changelogOld/CHANGELOG.v4.md
  changelogOld/CHANGELOG.v5.md
  docs/README.md
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/overview/overview.md
  docs/data/charts/styling/styling.md
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/custom-columns/custom-columns.md
  docs/data/data-grid/export/export.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/overview/overview.md
  docs/data/date-pickers/adapters-locale/adapters-locale.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/calendar-systems/calendar-systems.md
  docs/data/date-pickers/custom-field/custom-field.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/localization/localization.md
  docs/data/date-pickers/overview/overview.md
  docs/data/introduction/installation/installation.md
  docs/data/introduction/licensing/licensing.md
  docs/data/introduction/overview/overview.md
  docs/data/introduction/roadmap/roadmap.md
  docs/data/introduction/support/support.md
  docs/data/migration/migration-charts-v6/migration-charts-v6.md
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/migration/migration-tree-view-lab/migration-tree-view-lab.md
  docs/data/tree-view/getting-started/getting-started.md
  docs/data/tree-view/overview/overview.md
  docs/data/tree-view/simple-tree-view/customization/customization.md
  docs/data/whats-new/whats-new.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
  docsTech/README.md
  packages/grid/x-data-grid-generator/README.md
  packages/grid/x-data-grid-premium/README.md
  packages/grid/x-data-grid-pro/README.md
  packages/grid/x-data-grid/README.md
  packages/x-charts/README.md
  packages/x-codemod/README.md
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers/README.md
  packages/x-license-pro/README.md
  packages/x-tree-view/README.md
  scripts/README.md
Labels: docs

#11752 [DateRangePicker] Remove `calendars` prop on `Mobile`
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker/mobile-date-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.types.ts
Labels: typescript, component: pickers, component: DateRangePicker, needs cherry-pick

#11742 [DataGrid] Export `GridColumnTypes` interface for custom column types
  packages/grid/x-data-grid/src/models/colDef/gridColType.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, typescript

#11775 [docs] Fix typo in Data Grid components page
  docs/data/data-grid/components/components.md
Labels: docs, component: data grid

#11779 [pickers] Fields typing optimization
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.types.ts
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMultiInputRangeField/useMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internals/models/fields.ts
Labels: typescript, component: pickers

#11781 [pickers] Apply the `layout.tabs` class to `Tabs` slot
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/PickersLayout/pickersLayoutClasses.ts
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/internals/models/props/tabs.ts
Labels: bug 🐛, component: pickers, component: DateTimePicker, needs cherry-pick

#11778 [TreeView] Remove unused props from prop-types and typing
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-view/tree-view.json
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.plugins.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/TreeView/TreeView.tsx
Labels: component: tree view

#11794 [pickers] Avoid too deep imports
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/internals/index.ts
Labels: typescript, component: pickers

#11792 [DataGrid] Initialize `apiRef` early
  packages/grid/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/grid/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: component: data grid, customization: extend, enhancement

#11757 [data grid] Fix support for tree with > 50,000 children
  packages/grid/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
Labels: bug 🐛, component: data grid, needs cherry-pick

#11705 [docs] Add `contextValue` to the headless tree view doc
  docs/data/tree-view/rich-tree-view/headless/headless.md
Labels: docs, component: tree view

#11715 [TreeView] Throw an error when two items have the same id
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXNodes/useTreeViewJSXNodes.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewNodes/useTreeViewNodes.ts
Labels: component: tree view

#11812 v6.19.2
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#11814 [pickers] Add `DateTimeRangePicker` theme augmentation
  docs/translations/api-docs/date-pickers/date-time-picker-tabs/date-time-picker-tabs.json
  docs/translations/api-docs/date-pickers/date-time-range-picker-tabs/date-time-range-picker-tabs.json
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.types.ts
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.types.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/themeAugmentation/components.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/props.d.ts
  packages/x-date-pickers-pro/src/themeAugmentation/themeAugmentation.spec.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/internals/models/props/tabs.ts
Labels: plan: Pro, component: pickers, enhancement

#11815 [docs] Include `DateTimeRangePicker` in relevant demos
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.js
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.tsx
  docs/data/date-pickers/validation/DateRangeValidationShouldDisableDate.tsx.preview
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMaxDateTime.tsx.preview
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.js
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx
  docs/data/date-pickers/validation/DateTimeValidationMinDateTime.tsx.preview
  docs/data/date-pickers/validation/DateValidationDisableFuture.js
  docs/data/date-pickers/validation/DateValidationDisableFuture.tsx
  docs/data/date-pickers/validation/DateValidationDisablePast.js
  docs/data/date-pickers/validation/DateValidationDisablePast.tsx
  docs/data/date-pickers/validation/DateValidationMaxDate.js
  docs/data/date-pickers/validation/DateValidationMaxDate.tsx
  docs/data/date-pickers/validation/DateValidationMinDate.js
  docs/data/date-pickers/validation/DateValidationMinDate.tsx
  docs/data/date-pickers/validation/DateValidationShouldDisableDate.js
  docs/data/date-pickers/validation/DateValidationShouldDisableDate.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.js
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMinTime.js
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.js
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx.preview
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-range-picker/date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-range-picker/desktop-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-range-picker/mobile-date-time-range-picker.json
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
Labels: docs, component: pickers

#11821 [docs] Add section for the `disableSelection` prop
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/selection/DisableSelection.js
  docs/data/tree-view/rich-tree-view/selection/DisableSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/DisableSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/selection/DisableSelection.js
  docs/data/tree-view/simple-tree-view/selection/DisableSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/selection.md
Labels: docs, component: tree view

#11164 [docs] Add recipe for sorting row groups by the number of child rows
  docs/data/data-grid/recipes-row-grouping/RowGroupingSortByChildRows.js
  docs/data/data-grid/recipes-row-grouping/RowGroupingSortByChildRows.tsx
  docs/data/data-grid/recipes-row-grouping/RowGroupingSortByChildRows.tsx.preview
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
Labels: docs, component: data grid, feature: Sorting, feature: Row grouping, customization: extend, recipe

#11817 v7.0.0-beta.0
  CHANGELOG.md
  package.json
  packages/grid/x-data-grid-generator/package.json
  packages/grid/x-data-grid-premium/package.json
  packages/grid/x-data-grid-pro/package.json
  packages/grid/x-data-grid/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#11825 [docs] Fix <title> generation (#11182)
  docs/next.config.js
  docs/package.json
  netlify.toml
  package.json
Labels: docs, regression

#11788 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/grid/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n, needs cherry-pick

#11556 [docs] Improve Support page
  README.md
  docs/data/introduction/support/support.md
Labels: docs

#11826 [docs] Do not reference the Tree View overview page in the API pages
  docs/data/tree-view/overview/overview.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/api/tree-view/tree-view.json
Labels: docs, component: tree view

#11852 [docs] Fix 404
  docs/data/charts/areas-demo/areas-demo.md
  docs/data/charts/axis/axis.md
  docs/data/charts/bar-demo/bar-demo.md
  docs/data/charts/bars/bars.md
  docs/data/charts/components/components.md
  docs/data/charts/composition/composition.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/gauge/gauge.md
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/legend/legend.md
  docs/data/charts/line-demo/line-demo.md
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/pie-demo/pie-demo.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/sparkline/sparkline.md
  docs/data/charts/stacking/stacking.md
  docs/data/charts/styling/styling.md
  docs/data/charts/tooltip/tooltip.md
  docs/data/charts/tree-map/tree-map.md
  docs/data/date-pickers/custom-field/custom-field.md
Labels: docs

#11832 [docs] Fix charts API links
  docs/data/charts/areas-demo/areas-demo.md
  docs/data/charts/axis/axis.md
  docs/data/charts/bar-demo/bar-demo.md
  docs/data/charts/bars/bars.md
  docs/data/charts/components/components.md
  docs/data/charts/composition/composition.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/gantt/gantt.md
  docs/data/charts/gauge/gauge.md
  docs/data/charts/getting-started/getting-started.md
  docs/data/charts/heat-map/heat-map.md
  docs/data/charts/legend/legend.md
  docs/data/charts/line-demo/line-demo.md
  docs/data/charts/lines/lines.md
  docs/data/charts/overview/overview.md
  docs/data/charts/pie-demo/pie-demo.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/sankey/sankey.md
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/sparkline/sparkline.md
  docs/data/charts/stacking/stacking.md
  docs/data/charts/styling/styling.md
  docs/data/charts/tooltip/tooltip.md
  docs/data/charts/tree-map/tree-map.md
Labels: docs, component: charts

#11847 [core] Rely on immutable ref when possible
  docs/data/data-grid/editing/CustomEditComponent.js
  docs/data/data-grid/editing/CustomEditComponent.tsx
  docs/data/data-grid/performance/GridVisualization.js
  docs/data/data-grid/performance/GridVisualization.tsx
Labels: core, typescript

#11824 [chart] Document how to modify color according to values
  docs/data/charts/areas-demo/AreaChartFillByValue.js
  docs/data/charts/areas-demo/AreaChartFillByValue.tsx
  docs/data/charts/areas-demo/areas-demo.md
  packages/x-charts/src/hooks/useDrawingArea.ts
Labels: docs, needs cherry-pick, component: charts

#10794 [DataGrid] Add `toggleAllMode` prop to the `columnsManagement` slot
  docs/data/data-grid/column-visibility/ColumnSelectorGridToggleAllMode.js
  docs/data/data-grid/column-visibility/ColumnSelectorGridToggleAllMode.tsx
  docs/data/data-grid/column-visibility/ColumnSelectorGridToggleAllMode.tsx.preview
  docs/data/data-grid/column-visibility/column-visibility.md
  packages/grid/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/grid/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: component: data grid, enhancement, needs cherry-pick, feature: Column visibility

#11857 [docs] Improve column visibility documentation
  docs/data/data-grid/column-visibility/column-visibility.md
Labels: docs, component: data grid

#11856 [TimePicker] Add missing toolbar classes descriptions
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers/src/TimePicker/timePickerToolbarClasses.ts
Labels: docs, component: pickers, component: TimePicker

#11862 [TimePicker] Add missing toolbar classes descriptions (#11856)
  docs/pages/x/api/date-pickers/time-picker-toolbar.json
  docs/translations/api-docs/date-pickers/time-picker-toolbar/time-picker-toolbar.json
  packages/x-date-pickers/src/TimePicker/timePickerToolbarClasses.ts
Labels: docs, component: pickers, component: TimePicker, cherry-pick

#11861 [docs] Fix docs:api when typo in slots typing
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/translations/api-docs/date-pickers/date-picker/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker/date-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker/time-picker.json
  scripts/buildApiDocs/pickersSettings/getComponentInfo.ts
Labels: docs

#11858 [DataGrid] Make columns management' casing consistent
  packages/grid/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
Labels: component: data grid, feature: Column visibility, design

#11783 [DataGrid] Fix row reorder with cell selection
  packages/grid/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
Labels: bug 🐛, component: data grid, feature: Reordering, needs cherry-pick, CLA: signed, feature: Cell Selection

#11396 [docs] Add a general uplift to the changelog page
  docs/data/whats-new/WhatsNewLayoutNoSnap.js
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx
  docs/data/whats-new/WhatsNewLayoutNoSnap.tsx.preview
  docs/data/whats-new/whats-new.md
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs, needs cherry-pick, design

#11879 [docs] Update whats new page with "v7 Beta blogpost" content
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs, needs cherry-pick
