Repository mui/mui-x, pull requests merged in 2025-04, with the labels that each got.

#16827 [DataGrid] Always refetch lazy-loading rows
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsSelector.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
Labels: bug 🐛, component: data grid, feature: Server integration

#17209 [charts] Adjust color palettes
  packages/x-charts/src/colorPalettes/colorPalettes.ts
Labels: enhancement, component: charts, design

#17169 [charts] Fix crash when item shown in tooltip is unmounted
  docs/data/charts/line-demo/LiveLineChartNoSnap.js
  docs/data/charts/line-demo/LiveLineChartNoSnap.tsx
  docs/data/charts/line-demo/LiveLineChartNoSnap.tsx.preview
  docs/data/charts/line-demo/line-demo.md
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/BarChart/seriesConfig/tooltip.ts
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/PieChart/PieChart.test.tsx
  packages/x-charts/src/PieChart/seriesConfig/tooltip.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
Labels: bug 🐛, component: charts

#17199 [code-infra] Remove clock=fake from `describeValue`
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describeValueMultiInput.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describeValueSingleInput.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/describeValue.DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/describeValueMultiInput.DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/describeValueSingleInput.DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describeValue.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describeValueMultiInput.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describeValueSingleInput.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/tests/describeValueMultiInput.MobileTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/tests/describeValueSingleInput.MobileTimeRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describeValue.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/describeValue.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describeValue.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describeValue.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describeValue.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describeValue.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describeValue.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/describeValue.MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describeValue.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describeValue.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describeValue.MonthCalendar.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describeValue.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/TimeClock/tests/describeValue.TimeClock.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describeValue.TimeField.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describeValue.YearCalendar.test.tsx
  test/utils/pickers/describeGregorianAdapter/testLocalization.ts
  test/utils/pickers/describeRangeValidation/describeRangeValidation.tsx
  test/utils/pickers/describeValue/describeValue.types.ts
  test/utils/pickers/describeValue/testControlledUnControlled.tsx
  test/utils/pickers/describeValue/testPickerActionBar.tsx
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers/describeValue/testShortcuts.tsx
Labels: test, scope: code-infra, maintenance

#17217 [DataGridPro] Make list view feature stable
  docs/data/data-grid/list-view/ListView.js
  docs/data/data-grid/list-view/ListView.tsx
  docs/data/data-grid/list-view/ListViewAdvanced.js
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/list-view/ListViewEdit.js
  docs/data/data-grid/list-view/ListViewEdit.tsx
  docs/data/data-grid/list-view/ListViewEdit.tsx.preview
  docs/data/data-grid/list-view/ListViewMediaQuery.js
  docs/data/data-grid/list-view/ListViewMediaQuery.tsx
  docs/data/data-grid/list-view/ListViewMediaQuery.tsx.preview
  docs/data/data-grid/list-view/list-view.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/grid-list-view-col-def.js
  docs/pages/x/api/data-grid/grid-list-view-col-def.json
  docs/pages/x/api/data-grid/index.md
  docs/scripts/createXTypeScriptProjects.ts
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/grid-list-view-col-def.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/listView.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/listView/useGridListView.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/models/colDef/index.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v8.x, feature: List view, maintenance

#17220 [codemod] Add `listView` prop rename codemod
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/ts-expected.spec.tsx
Labels: docs, component: data grid, package: codemod, v8.x

#17224 [code-infra] Fix `test:unit` warning
  .mocharc.js
Labels: test, scope: code-infra, maintenance

#17119 [DataGrid] refactor: remove material typings
  docs/data/data-grid/components/CustomToolbarGrid.js
  docs/data/data-grid/components/CustomToolbarGrid.tsx
  docs/data/data-grid/components/quick-filter/GridControlledQuickFilter.js
  docs/data/data-grid/components/quick-filter/GridControlledQuickFilter.tsx
  docs/data/data-grid/components/quick-filter/GridPersistentQuickFilter.js
  docs/data/data-grid/components/quick-filter/GridPersistentQuickFilter.tsx
  docs/data/data-grid/components/quick-filter/GridQuickFilter.js
  docs/data/data-grid/components/quick-filter/GridQuickFilter.tsx
  docs/data/data-grid/components/quick-filter/GridUncontrolledQuickFilter.js
  docs/data/data-grid/components/quick-filter/GridUncontrolledQuickFilter.tsx
  docs/data/data-grid/components/toolbar/GridToolbar.js
  docs/data/data-grid/components/toolbar/GridToolbar.tsx
  docs/data/data-grid/editing/FullFeaturedCrudGrid.js
  docs/data/data-grid/editing/FullFeaturedCrudGrid.tsx
  docs/data/data-grid/editing/StartEditButtonGrid.js
  docs/data/data-grid/editing/StartEditButtonGrid.tsx
  docs/data/data-grid/features/PopularFeaturesDemo.js
  docs/data/data-grid/features/PopularFeaturesDemo.tsx
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.js
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.tsx
  docs/data/data-grid/list-view/components/Toolbar.js
  docs/data/data-grid/list-view/components/Toolbar.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/columns-panel-trigger.json
  docs/pages/x/api/data-grid/export-csv.json
  docs/pages/x/api/data-grid/export-excel.json
  docs/pages/x/api/data-grid/export-print.json
  docs/pages/x/api/data-grid/filter-panel-trigger.json
  docs/pages/x/api/data-grid/quick-filter-clear.json
  docs/pages/x/api/data-grid/quick-filter-trigger.json
  docs/pages/x/api/data-grid/toolbar-button.json
  docs/scripts/generateProptypes.ts
  docs/translations/api-docs/data-grid/columns-panel-trigger/columns-panel-trigger.json
  docs/translations/api-docs/data-grid/export-csv/export-csv.json
  docs/translations/api-docs/data-grid/export-excel/export-excel.json
  docs/translations/api-docs/data-grid/export-print/export-print.json
  docs/translations/api-docs/data-grid/filter-panel-trigger/filter-panel-trigger.json
  docs/translations/api-docs/data-grid/quick-filter-clear/quick-filter-clear.json
  docs/translations/api-docs/data-grid/quick-filter-trigger/quick-filter-trigger.json
  docs/translations/api-docs/data-grid/toolbar-button/toolbar-button.json
  packages/x-data-grid-premium/src/components/export/ExportExcel.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/columnsPanel/ColumnsPanelTrigger.tsx
  packages/x-data-grid/src/components/export/ExportCsv.tsx
  packages/x-data-grid/src/components/export/ExportPrint.tsx
  packages/x-data-grid/src/components/filterPanel/FilterPanelTrigger.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/quickFilter/QuickFilterClear.tsx
  packages/x-data-grid/src/components/quickFilter/QuickFilterControl.tsx
  packages/x-data-grid/src/components/quickFilter/QuickFilterTrigger.tsx
  packages/x-data-grid/src/components/toolbarV8/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbarV8/ToolbarButton.tsx
  packages/x-data-grid/src/material/augmentation.ts
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid, enhancement

#17164 [docs] Add "Usage with Material UI v5/v6" guide
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/migration/usage-with-material-ui-v5-v6/usage-with-material-ui-v5-v6.md
  docs/data/pages.ts
  docs/pages/x/migration/usage-with-material-ui-v5-v6.js
Labels: docs

#17234 v7.28.3
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/releaseChangelog.mjs
Labels: release

#17231 [charts] Improve custom legend docs
  docs/data/charts/legend/CustomLegend.js
  docs/data/charts/legend/CustomLegend.tsx
  docs/data/charts/legend/legend.md
  packages/x-charts/src/ChartsLabel/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: docs, enhancement, component: charts

#17160 [core] Cleanup `@mui` dependency versions
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: core, maintenance

#17235 v8.0.0-beta.3
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#17137 [charts-pro] Update zoom using `requestAnimationFrame`
  packages/x-charts-pro/src/BarChartPro/BarChartPro.zoom.test.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.zoom.test.tsx
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
  packages/x-charts/tsconfig.json
  packages/x-internals/src/rafThrottle/index.ts
  packages/x-internals/src/rafThrottle/rafThrottle.ts
Labels: enhancement, component: charts

#17242 [charts] Remove unused files
  docs/data/charts/gauge/gauge.md
  packages/x-charts/src/Gauge/gaugeClasses.ts
  packages/x-charts/src/hooks/getValueToPositionMapper.ts
  packages/x-charts/src/hooks/useAxisEvents.ts
  packages/x-charts/src/internals/notNull.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartZAxis/utils.ts
  packages/x-charts/src/internals/useStringInterpolator.ts
Labels: component: charts, maintenance

#17233 [charts] Use `useEventCallback` to memoize `onZoomChange` without triggering a re-render
  docs/data/charts/zoom-and-pan/ExternalZoomManagement.js
  docs/data/charts/zoom-and-pan/ExternalZoomManagement.tsx
  docs/data/charts/zoom-and-pan/ZoomControlled.js
  docs/data/charts/zoom-and-pan/ZoomControlled.tsx
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
Labels: enhancement, component: charts

#16519 [TreeView] Document plugins for internal use
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
Labels: enhancement, component: tree view

#17215 [fields] Prevent focusing the field or any section when `disabled=true`
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldRootProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContainerProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: bug 🐛, component: pickers

#17162 [charts] Expose higher level `useAnimate` hook
  docs/data/charts/animation/CSSAnimationCustomization.js
  docs/data/charts/animation/CSSAnimationCustomization.tsx
  docs/data/charts/animation/JSAnimationCustomization.js
  docs/data/charts/animation/JSAnimationCustomization.tsx
  docs/data/charts/animation/JSDefaultAnimation.js
  docs/data/charts/animation/JSDefaultAnimation.tsx
  docs/data/charts/animation/ReactSpringAnimationCustomization.js
  docs/data/charts/animation/ReactSpringAnimationCustomization.tsx
  docs/data/charts/animation/animation.md
  docs/data/charts/components/components.md
  docs/data/pages.ts
  docs/pages/x/react-charts/animation.js
  packages/x-charts/src/BarChart/BarClipPath.tsx
  packages/x-charts/src/hooks/animation/index.ts
  packages/x-charts/src/hooks/animation/useAnimate.ts
  packages/x-charts/src/hooks/animation/useAnimateArea.ts
  packages/x-charts/src/hooks/animation/useAnimateBar.ts
  packages/x-charts/src/hooks/animation/useAnimateBarLabel.ts
  packages/x-charts/src/hooks/animation/useAnimateLine.ts
  packages/x-charts/src/hooks/animation/useAnimatePieArc.ts
  packages/x-charts/src/hooks/animation/useAnimatePieArcLabel.ts
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
  packages/x-charts/src/internals/animation/useAnimateInternal.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#17225 [code-infra] Remove more `clock=fake` from pickers tests
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/keyboard.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/localization.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/validation.DateCalendar.test.tsx
  packages/x-date-pickers/src/DatePicker/tests/DatePicker.test.tsx
  packages/x-date-pickers/src/DateTimePicker/tests/DateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/MobileTimePicker.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/StaticDatePickerKeyboard.test.tsx
  packages/x-date-pickers/src/TimePicker/tests/TimePicker.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/YearCalendar.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/keyboard.YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/useControlledValue.test.tsx
Labels: test, scope: code-infra, maintenance

#17237 [fields] Fix the error message when a custom field with an `<input />` but the field expects the accessible DOM structure
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: component: pickers, enhancement

#17151 [docs] Add migration guide for the picker's `ownerState` changes
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, component: pickers

#17204 Update skSK.ts
  packages/x-date-pickers/src/locales/skSK.ts
Labels: component: data grid, l10n

#17249 [l10n] Improve Slovak (sk-SK) locale
  packages/x-date-pickers/src/locales/skSK.ts
Labels: l10n, component: pickers, enhancement

#17247 [code-infra] Charts `vitest` changes
  packages/x-charts-pro/src/BarChartPro/BarChartPro.zoom.test.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.zoom.test.tsx
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/hooks/useIsHydrated.ts
Labels: test, scope: code-infra, maintenance

#17276 [docs] Fix 404 link on the marketing page
  docs/public/_redirects
Labels: bug 🐛, docs, v7.x

#17278 [data grid][docs] Fix row spanning lab icon
  docs/data/data-grid/row-spanning/row-spanning.md
Labels: docs, component: data grid, feature: Row spanning

#16860 [charts] Add labels above bars example
  docs/data/charts/bars/LabelsAboveBars.js
  docs/data/charts/bars/LabelsAboveBars.tsx
  docs/data/charts/bars/LabelsAboveBars.tsx.preview
  docs/data/charts/bars/bars.md
Labels: docs, enhancement, component: charts

#17274 [charts][docs] Fix header Sentence case consistency
  docs/data/charts/radar/radar.md
  docs/data/charts/scatter/scatter.md
  docs/data/charts/sparkline/sparkline.md
Labels: bug 🐛, docs, component: charts

#17273 [charts] Export 'series' class as part of barElementClasses
  docs/pages/x/api/charts/bar-element.json
  docs/translations/api-docs/charts/bar-element/bar-element.json
  packages/x-charts/src/BarChart/barElementClasses.ts
Labels: enhancement, component: charts

#17279 [charts][docs] Flag experimental API
  docs/data/charts/funnel/funnel.md
  docs/data/charts/radar/radar.md
  docs/pages/x/api/charts/funnel-chart.json
  docs/pages/x/api/charts/funnel-plot.json
  docs/pages/x/api/charts/radar-axis-highlight.json
  docs/pages/x/api/charts/radar-chart.json
  docs/pages/x/api/charts/radar-data-provider.json
  docs/pages/x/api/charts/radar-grid.json
  docs/pages/x/api/charts/radar-metric-labels.json
  docs/pages/x/api/charts/radar-series-area.json
  docs/pages/x/api/charts/radar-series-marks.json
  docs/pages/x/api/charts/radar-series-plot.json
Labels: bug 🐛, docs, component: charts

#16467 [docs] Mention priority support on MUI X docs
  docs/data/introduction/priority-support/priority-support.md
  docs/data/introduction/support/support.md
  docs/data/pages.ts
  docs/pages/x/introduction/priority-support.js
Labels: docs

#17277 [data grid][docs] Fix incorrect mention of PDF export
  docs/data/data-grid/export/export.md
Labels: bug 🐛, docs, component: data grid, feature: Export

#17244 [docs] Add intro section for Telemetry
  docs/data/guides/telemetry/telemetry.md
  docs/data/pages.ts
  packages/x-telemetry/src/runtime/config.test.ts
Labels: docs

#17241 [core] Always use the correct babel runtime
  babel.config.js
  packages/x-charts-vendor/.babelrc.js
Labels: core, maintenance

#17290 [charts] Fix bar chart with partial data
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
Labels: bug 🐛, component: charts

#17289 [code-infra] Tentative fix for datagrid flaky test
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
Labels: test, scope: code-infra, maintenance

#16938 [pickers] Mark active range position field section with underline
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/pickersInputBaseClasses.ts
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  packages/x-date-pickers/src/models/fields.ts
Labels: plan: Pro, component: pickers, enhancement, design

#17296 [DataGridPremium] Fix stale aggregation results after filtering
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationSelectors.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/index.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/configuration/gridConfiguration.ts
Labels: regression, feature: Aggregation, needs cherry-pick, v7.x

#17166 [pickers] Remove automatic switch between date and time or between range positions
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/describeValue.DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/describeValueMultiInput.DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/describeValueSingleInput.DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describeValueMultiInput.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describeValueSingleInput.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/tests/describeValueMultiInput.MobileTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/tests/describeValueSingleInput.MobileTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/utils/createRangePickerStepNavigation.ts
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describeValue.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describeValue.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describeValue.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/tests/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/internals/components/PickerPopper/PickerPopper.tsx
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/hooks/useValueAndOpenStates.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useViews.tsx
  packages/x-date-pickers/src/internals/utils/createNonRangePickerStepNavigation.ts
  packages/x-date-pickers/src/internals/utils/createStepNavigation.ts
  test/e2e/index.test.ts
  test/utils/pickers/describeValue/testPickerActionBar.tsx
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: breaking change, component: pickers, enhancement, v8.x

#17294 [DataGrid] Deprecate old toolbar components
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.json
  docs/translations/api-docs/data-grid/grid-toolbar-quick-filter/grid-toolbar-quick-filter.json
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
Labels: component: data grid, v8.x, maintenance, feature: Toolbar

#17299 [charts] Convert `AnimationContext` into a plugin
  docs/pages/x/api/charts/chart-data-provider-pro.json
  docs/pages/x/api/charts/chart-data-provider.json
  docs/pages/x/api/charts/gauge-container.json
  docs/pages/x/api/charts/gauge.json
  docs/translations/api-docs/charts/gauge-container/gauge-container.json
  docs/translations/api-docs/charts/gauge/gauge.json
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/ChartDataProviderPro/useChartDataProviderProProps.ts
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/context/AnimationProvider/Animation.types.ts
  packages/x-charts/src/context/AnimationProvider/AnimationContext.ts
  packages/x-charts/src/context/AnimationProvider/AnimationProvider.tsx
  packages/x-charts/src/context/AnimationProvider/index.ts
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.test.tsx
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.ts
  packages/x-charts/src/context/ChartProvider/ChartProvider.tsx
  packages/x-charts/src/context/ChartProvider/ChartProvider.types.ts
  packages/x-charts/src/hooks/useSkipAnimation.test.tsx
  packages/x-charts/src/hooks/useSkipAnimation.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/corePlugins/corePlugins.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartAnimation/index.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartAnimation/useChartAnimation.selectors.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartAnimation/useChartAnimation.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartAnimation/useChartAnimation.types.ts
Labels: enhancement, component: charts

#17293 [l10n] Improve Swedish (sv-SE) locale
  packages/x-data-grid/src/locales/svSE.ts
Labels: component: data grid, l10n, enhancement, needs cherry-pick, v7.x

#17304 [charts] Animate gauge chart
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeValueArc.tsx
  packages/x-charts/src/hooks/animation/useAnimateGaugeValueArc.ts
Labels: enhancement, component: charts

#17307 [test] Fix flaky data source aggregation test
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
Labels: bug 🐛, test, component: data grid

#17312 [pickers] Fix to not process default prevented propagated events
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  test/utils/pickers/describePicker/describePicker.tsx
Labels: regression, component: pickers

#17310 [charts] Remove unused code
  packages/x-charts/src/context/context.types.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/isCartesian.ts
  packages/x-charts/src/internals/isPolar.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/getAxisIndex.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartZAxis/useChartZAxis.types.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/polarExtremumGetter.types.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/index.ts
Labels: component: charts, maintenance

#17313 [DateTimeRangePicker] Fix focused view behavior
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/MobileDateTimeRangePicker.test.tsx
Labels: plan: Pro, regression, component: pickers, component: DateTimeRangePicker

#17315 [docs] Fix country columns throwing on grouping
  packages/x-data-grid-generator/src/columns/commodities.columns.tsx
  packages/x-data-grid-generator/src/columns/employees.columns.tsx
  packages/x-data-grid-generator/src/renderer/renderCountry.tsx
Labels: bug 🐛, docs, component: data grid, feature: Row grouping, needs cherry-pick, v7.x

#17309 [charts] Expose axes types
  docs/translations/api-docs/charts/axis-config.json
  packages/x-charts-pro/src/FunnelChart/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.types.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#17323 [DataGridPremium] Fix cell display with custom renderers in pivot mode
  packages/x-data-grid-premium/src/hooks/features/pivoting/utils.ts
Labels: bug 🐛, component: data grid, feature: Pivoting

#17282 [core] Document TelemetryContextType
  packages/x-telemetry/src/context.ts
Labels: core, enhancement

#17246 [TreeView] Remove unused concept
  packages/x-data-grid/src/hooks/features/dataSource/cache.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/utils/cache.ts
Labels: component: tree view, maintenance

#17316 [test] Fix flaky data source aggregation test (take 3)
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
Labels: test, component: data grid, maintenance

#17326 [DataGridPremium] Fix aggregated values sorting
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: component: data grid, regression, plan: Premium, feature: Sorting, feature: Aggregation

#17321 [charts] Fix axis types not narrowing
  docs/data/charts/axis/MarginAndLabelPosition.tsx
  docs/data/charts/bars/BarGap.js
  docs/data/charts/bars/BarGap.tsx
  docs/data/charts/legend/BasicColorLegend.tsx
  docs/data/charts/legend/ContinuousInteractiveDemo.tsx
  docs/data/charts/legend/LegendLabelPositions.tsx
  docs/data/charts/legend/PiecewiseInteractiveDemo.tsx
  docs/data/charts/legend/VeryBasicColorLegend.tsx
  docs/data/charts/lines/LineDataset.tsx
  docs/data/visual-regression-tests/XAxisAnchorBaselineDefaults.tsx
  docs/data/visual-regression-tests/XAxisAnchorBaselineDefaults.tsx.preview
  docs/data/visual-regression-tests/XAxisTickLabelOverflow.tsx
  docs/data/visual-regression-tests/YAxisTickLabelOverflow.tsx
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/funnel-chart.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/FunnelChart/categoryAxis.types.ts
  packages/x-charts-pro/src/FunnelChart/useFunnelChartProps.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/models/axis.ts
Labels: bug 🐛, component: charts

#15636 [TreeView] Fix drag and drop issue with label editing
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.itemPlugin.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.selectors.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view/src/hooks/useTreeItemUtils/useTreeItemUtils.tsx
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
  packages/x-tree-view/src/internals/utils/selectors.ts
Labels: bug 🐛, component: tree view

#17291 [DataGrid] Refactor: add typings to icons
  docs/data/data-grid/components/CustomSortIcons.js
  docs/data/data-grid/components/CustomSortIcons.tsx
  docs/data/data-grid/components/CustomSortIcons.tsx.preview
  docs/data/data-grid/components/components.md
  docs/data/data-grid/features/PopularFeaturesDemo.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/material/icons.tsx
  packages/x-data-grid-premium/src/models/gridPremiumIconSlotsComponent.ts
  packages/x-data-grid-pro/src/material/icons.tsx
  packages/x-data-grid-pro/src/models/gridProIconSlotsComponent.ts
  packages/x-data-grid/src/components/GridColumnSortButton.tsx
  packages/x-data-grid/src/components/GridColumnUnsortedIcon.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/material/icons/createSvgIcon.tsx
  packages/x-data-grid/src/material/icons/index.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridIconSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, enhancement, v8.x

#16950 [charts] Add tooltip to the radar
  docs/data/charts/radar/DemoRadarSeriesHighlight.js
  docs/data/charts/radar/DemoRadarSeriesHighlight.tsx
  docs/data/charts/radar/RadarTooltip.js
  docs/data/charts/radar/RadarTooltip.tsx
  docs/data/charts/radar/RadarTooltip.tsx.preview
  docs/data/charts/radar/radar.md
  packages/x-charts/src/BarChart/seriesConfig/getColor.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/ChartsTooltip/index.ts
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/LineChart/seriesConfig/getColor.ts
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesArea.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesMarks.tsx
  packages/x-charts/src/RadarChart/seriesConfig/index.ts
  packages/x-charts/src/RadarChart/seriesConfig/tooltip.ts
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/seriesConfig/getColor.ts
  packages/x-charts/src/hooks/useAxis.ts
  packages/x-charts/src/hooks/useAxisSystem.tsx
  packages/x-charts/src/internals/plugins/corePlugins/useChartSeries/useColorProcessor.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/getAxisTriggerTooltip.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/colorProcessor.types.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/tooltipGetter.types.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#17364 [docs] Fix paths in `ResponsiveChartContainer` migration guide
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
Labels: docs, component: charts

#17370 [code-infra] Align build script with core to handle sideEffects
  packages/x-license/package.json
  scripts/build.mjs
Labels: regression, scope: code-infra

#17359 [core] Remove modern bundles
  .browserslistrc
  babel.config.js
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/.babelrc.js
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-telemetry/src/postinstall/index.ts
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/copyFiles.mjs
Labels: core, breaking change, enhancement, scope: code-infra, v8.x

#17362 [charts] document series class name
  docs/pages/x/api/charts/area-element.json
  docs/pages/x/api/charts/bar-label.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-element.json
  docs/pages/x/api/charts/mark-element.json
  docs/pages/x/api/charts/pie-arc-label.json
  docs/pages/x/api/charts/pie-arc.json
  docs/translations/api-docs/charts/area-element/area-element.json
  docs/translations/api-docs/charts/bar-label/bar-label.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  docs/translations/api-docs/charts/line-element/line-element.json
  docs/translations/api-docs/charts/mark-element/mark-element.json
  docs/translations/api-docs/charts/pie-arc-label/pie-arc-label.json
  docs/translations/api-docs/charts/pie-arc/pie-arc.json
  packages/x-charts-pro/src/FunnelChart/funnelSectionClasses.ts
  packages/x-charts-pro/src/Heatmap/heatmapClasses.ts
  packages/x-charts/src/BarChart/BarLabel/barLabelClasses.tsx
  packages/x-charts/src/BarChart/barElementClasses.ts
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/markElementClasses.ts
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcLabel.tsx
Labels: docs, component: charts

#17355 [charts] Add uncertainty area to line with forecast demo
  docs/data/charts/line-demo/LineWithUncertaintyArea.js
  docs/data/charts/line-demo/LineWithUncertaintyArea.tsx
  docs/data/charts/line-demo/line-demo.md
Labels: docs, component: charts

#17378 [core] Fix proptypes
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
Labels: core, maintenance

#17371 [code-infra] Prepare argos script call for required arg
  package.json
Labels: scope: code-infra, maintenance

#17205 [l10n] Improve Czech (cs-CZ) locale
  packages/x-date-pickers/src/locales/csCZ.ts
Labels: l10n, component: pickers

#16357 [Tree View] Add React Compiler linting rules
  .eslintrc.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.utils.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewModels.ts
  packages/x-tree-view/src/internals/utils/models.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.test.tsx
  test/utils/tree-view/fakeContextValue.ts
Labels: enhancement, component: tree view

#16516 [l10n] Improve Hebrew (he-IL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/heIL.ts
Labels: component: data grid, l10n

#17372 [charts] Fix useAnimate test flakiness
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
Labels: test, component: charts

#17328 [fields] Fix to submit a form on `Enter` press with accessible DOM structure
  packages/x-data-grid/src/models/api/gridEditingApi.ts
  packages/x-data-grid/src/models/api/gridFocusApi.ts
  packages/x-data-grid/src/models/events/gridEventListener.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/events/gridEventPublisher.ts
  packages/x-data-grid/src/models/index.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/internals/utils/createMultiInputRangeField/useTextFieldProps.ts
  packages/x-date-pickers/src/DatePicker/tests/DatePicker.test.tsx
  packages/x-date-pickers/src/PickersTextField/PickersFilledInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/PickersOutlinedInput.tsx
  packages/x-date-pickers/src/internals/components/PickerFieldUI.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
  packages/x-internals/src/types/MuiEvent.ts
  packages/x-internals/src/types/index.ts
  packages/x-tree-view/src/internals/models/events.ts
Labels: regression, component: pickers, feature: Keyboard editing

#17379 [charts] Add `slotProps.legend.hidden` to migration docs
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
Labels: docs, component: charts

#17390 [core] Cleanup `@mui` dependency versions
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: core, maintenance

#17385 [TreeView] Select the unselected children when clicking on an indeterminate checkbox
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.itemPlugin.ts
Labels: enhancement, component: tree view

#17382 [DataGridPremium] Fix aggregated values sorting
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: component: data grid, regression, plan: Premium, feature: Sorting, feature: Aggregation, cherry-pick, v7.x

#17387 [l10n] Improve Czech (cs-CZ) locale (#17205) @lubka272
  packages/x-date-pickers/src/locales/csCZ.ts
Labels: l10n, component: pickers, enhancement, cherry-pick

#17336 [l10n] Improve Polish (pl-PL) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/plPL.ts
Labels: component: data grid, l10n, needs cherry-pick

#17396 [l10n] Improve Polish (pl-PL) locale (#17336)
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/plPL.ts
Labels: component: data grid, l10n, enhancement, cherry-pick

#17383 v7.29.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17391 [test] Skip flaky DataGrid aggregation test
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
Labels: test, component: data grid, maintenance

#17399 [DataGridPro] Fix row virtualization not working in list view
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: component: data grid, plan: Pro, regression, needs cherry-pick, v7.x, feature: List view

#17397 [docs] Add whats-new section for MUI X v8
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs, core

#17287 [core] Update supported versions table
  docs/data/introduction/support/support.md
Labels: core

#17405 [DataGrid] Prevent scrollbars from showing on top
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#17413 [pickers] Fix failing proptypes CI
  docs/translations/api-docs/date-pickers/date-field/date-field.json
  docs/translations/api-docs/date-pickers/date-time-field/date-time-field.json
  docs/translations/api-docs/date-pickers/single-input-date-range-field/single-input-date-range-field.json
  docs/translations/api-docs/date-pickers/single-input-date-time-range-field/single-input-date-time-range-field.json
  docs/translations/api-docs/date-pickers/single-input-time-range-field/single-input-time-range-field.json
  docs/translations/api-docs/date-pickers/time-field/time-field.json
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
Labels: component: pickers, maintenance

#17403 [charts] Add default plugins in `ChartDataProvider`
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts/src/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/RadarChart/RadarDataProvider/RadarDataProvider.tsx
  packages/x-charts/src/context/ChartProvider/ChartProvider.types.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
Labels: enhancement, component: charts

#17419 [charts] Fix chart direction in docs
  docs/data/charts/composition/composition.md
Labels: bug 🐛, docs

#17416 [core] Simplify the way `__RELEASE_INFO__` is managed
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/internals/utils/releaseInfo.ts
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/utils/releaseInfo.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/utils/releaseInfo.ts
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/utils/releaseInfo.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/utils/releaseInfo.ts
Labels: core, enhancement, scope: code-infra

#17425 [core] Update support table
  docs/data/introduction/support/support.md
Labels: docs, core

#17426 [docs] Fix AI Assistant Panel Trigger demo
  docs/data/data-grid/components/ai-assistant-panel/GridAiAssistantPanelTrigger.js
  docs/data/data-grid/components/ai-assistant-panel/GridAiAssistantPanelTrigger.tsx
  docs/data/data-grid/components/ai-assistant-panel/GridAiAssistantPanelTrigger.tsx.preview
Labels: bug 🐛, docs, component: data grid

#17433 [data grid] Export `locales.ts` properly for pro and premium package
  packages/x-data-grid-premium/src/locales/index.ts
  packages/x-data-grid-pro/src/locales/index.ts
Labels: bug 🐛, component: data grid

#17420 [charts] advance time in charts regression tests
  test/regressions/TestViewer.tsx
  test/regressions/index.tsx
Labels: test, component: charts, maintenance

#17392 [charts] Add codemod for replacing legend's hidden slot prop
  .eslintignore
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  packages/x-codemod/src/v8.0.0/charts/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/index.ts
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/replace-legend-hidden-slot-prop.test.ts
Labels: docs, component: charts

#17437 [core] Bump monorepo
  .eslintrc.js
  docs/.link-check-errors.txt
  docs/config.js
  docs/config.ts
  docs/constants.js
  docs/constants.ts
  docs/next.config.ts
  docs/package.json
  docs/pages/_app.js
  docs/scripts/reportBrokenLinks.js
  docs/src/modules/utils/find.ts
  docs/tsconfig.json
  package.json
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-data-grid-generator/src/hooks/useDemoData.ts
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-generator/src/hooks/useQuery.ts
  packages/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanels.tsx
  packages/x-data-grid/src/components/GridApiContext.ts
  packages/x-data-grid/src/components/GridConfigurationContext.ts
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/context/GridRootPropsContext.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-license/src/Unstable_LicenseInfoProvider/MuiLicenseInfoContext.ts
  pnpm-lock.yaml
  test/performance-charts/package.json
Labels: dependencies, maintenance

#17438 [DataGridPro] Move locales re-export to allow proper tree shaking (@lhilgert9)
  packages/x-data-grid-premium/src/locales/index.ts
  packages/x-data-grid-pro/src/locales/index.ts
Labels: bug 🐛, component: data grid, plan: Pro, cherry-pick

#17446 [code-infra] Ditch `@babel/node`
  package.json
  pnpm-lock.yaml
Labels: dependencies, scope: code-infra

#17444 [core] Bump `@types/node`
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: core, dependencies

#17470 [core] Remove `react-is` dependency
  docs/package.json
  package.json
  packages/x-charts/package.json
  pnpm-lock.yaml
  renovate.json
Labels: core, dependencies

#17472 [charts] fix charts visuals flakiness
  test/regressions/TestViewer.tsx
  test/regressions/index.test.ts
  test/regressions/index.tsx
Labels: component: charts, maintenance

#17253 [code-infra] Further remove `clock=fake` from pickers
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/editing.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/selection.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/DateCalendar.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/validation.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/editingKeyboard.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/MonthCalendar.test.tsx
  packages/x-date-pickers/src/TimeField/tests/editing.TimeField.test.tsx
  packages/x-date-pickers/src/internals/utils/date-utils.test.ts
  test/utils/pickers/describeAdapters/describeAdapters.ts
  test/utils/pickers/describeValue/describeValue.tsx
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
  test/utils/pickers/fields.tsx
  test/utils/pickers/openPicker.ts
Labels: test, scope: code-infra, maintenance

#17471 [docs] Fix DataGrid's master-detail demo for one expanded detail panel at a time
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.js
  docs/data/data-grid/row-recipes/DetailPanelOneExpandedRow.tsx
Labels: docs, component: data grid, feature: Master-detail

#17210 [docs] Serve migration guides in raw markdown format
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/migration/usage-with-material-ui-v5-v6/usage-with-material-ui-v5-v6.md
Labels: docs

#17440 [charts] Fix tooltip position
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
Labels: bug 🐛, component: charts

#16217 [docs][data grid] Revise the Row Grouping doc
  docs/.link-check-errors.txt
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.js
  docs/data/data-grid/row-grouping/RowGroupingPropagateSelection.tsx
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/data-grid/tree-data/tree-data.md
  docs/src/modules/components/WhatsNewLayout.js
Labels: docs, component: data grid, feature: Row grouping, enhancement, needs cherry-pick, v7.x

#17489 [charts] rafThrottle event handlers instead of setter
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
Labels: enhancement, component: charts

#17495 [tree view][docs] Fix heading structure
  docs/src/modules/components/overview/CommunityOrPro.tsx
Labels: bug 🐛, docs, component: tree view

#17394 [DataGridPro] Fix expandable rows detail content height updates
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Master-detail, needs cherry-pick, v7.x

#17418 [charts] Move radar from under development to preview
  docs/data/charts/radar/radar.md
  docs/src/modules/components/ChartComponentsGrid.js
Labels: docs, component: charts

#17398 [charts] Improve axis tooltip performances
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarInteraction.selectors.ts
Labels: bug 🐛, performance, component: charts

#17502 [docs][chart] Add docs information for Legend HTML
  docs/data/charts/composition/composition.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
Labels: docs, component: charts

#17285 [charts] Add basic export as PDF/print functionality
  docs/data/charts/export/ExportCompositionNoSnap.js
  docs/data/charts/export/ExportCompositionNoSnap.tsx
  docs/data/charts/export/PrintChart.js
  docs/data/charts/export/PrintChart.tsx
  docs/data/charts/export/PrintChart.tsx.preview
  docs/data/charts/export/export.md
  docs/data/charts/export/randomData.js
  docs/data/charts/export/randomData.ts
  docs/data/pages.ts
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/react-charts/export.js
  docs/src/modules/components/ChartFeaturesGrid.js
  packages/x-charts-pro/src/BarChartPro/BarChartPro.plugins.ts
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.plugins.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.plugins.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/internals/plugins/allPlugins.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/index.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/print.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/useChartProExport.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/useChartProExport.types.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/context/ChartProvider/ChartProvider.types.ts
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useChartRootRef.ts
  packages/x-charts/src/internals/components/ChartsWrapper/ChartsWrapper.tsx
  packages/x-charts/src/internals/plugins/models/plugin.ts
  packages/x-charts/src/internals/store/useCharts.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
  test/regressions/index.test.ts
  test/regressions/index.tsx
Labels: new feature, component: charts

#17513 [DataGrid] Remove internal usage of `material` prop
  packages/x-data-grid-premium/src/components/aiAssistantPanel/GridAiAssistantPanelConversationsMenu.tsx
Labels: component: data grid, maintenance

#17478 [pickers] Improve `PickersInputBase` owner state typing
  packages/x-date-pickers/src/PickersTextField/PickersFilledInput/PickersFilledInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.types.ts
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/Outline.tsx
  packages/x-date-pickers/src/PickersTextField/PickersOutlinedInput/PickersOutlinedInput.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.types.ts
  packages/x-date-pickers/src/PickersTextField/usePickerTextFieldOwnerState.ts
  packages/x-date-pickers/src/models/fields.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: typescript, component: pickers, enhancement

#17516 [docs] Use MUI X v7 packages in CodeSandbox and StackBlitz
  docs/pages/_app.js
Labels: bug 🐛, docs, v7.x

#17498 [tree view][docs] Copyedit the Tree View Overview page
  docs/src/modules/components/overview/tree-view/TreeViewCommunityOrPro.tsx
  docs/src/modules/components/overview/tree-view/TreeViewFeaturesHighlight.tsx
Labels: docs, enhancement, component: tree view

#17520 V.7.29.1
  CHANGELOG.md
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release, v7.x

#17523 [core] Fix root package 7.29.1
  package.json
Labels: maintenance

#17422 [l10n] Add Armenian (hy-AM) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/hyAM.ts
Labels: component: data grid, l10n

#17335 [DataGrid] Fix apiRef not being passed on onCellClick params
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#17417 [docs] Refine charts demos
  docs/data/charts/highlighting/SyncHighlight.js
  docs/data/charts/highlighting/SyncHighlight.tsx
  docs/data/charts/line-demo/LiveLineChartNoSnap.js
  docs/data/charts/line-demo/LiveLineChartNoSnap.tsx
  docs/data/charts/line-demo/LiveLineChartNoSnap.tsx.preview
  docs/data/charts/pie-demo/TwoSimplePieChart.js
  docs/data/charts/pie-demo/TwoSimplePieChart.tsx
  docs/data/charts/pie-demo/pie-demo.md
  docs/data/charts/tooltip/AxisFormatter.js
  docs/data/charts/tooltip/AxisFormatter.tsx
  docs/data/charts/tooltip/Formatting.js
  docs/data/charts/tooltip/Formatting.tsx
  docs/data/charts/tooltip/Interaction.js
  docs/data/charts/tooltip/Interaction.tsx
Labels: docs, component: charts

#17526 [l10n] Fix l10n export
  packages/x-data-grid/src/locales/index.ts
Labels: component: data grid, l10n

#17518 v8.1.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17490 [DataGrid] Fix theme `defaultProps` causing unwanted re-renders
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid/src/DataGrid/useDataGridProps.ts
Labels: bug 🐛, performance, component: data grid, needs cherry-pick, v7.x

#17450 [docs] Fix migration guide format
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
Labels: bug 🐛, docs

#17369 [DataGridPro] Use intersection observer to trigger server-side infinite loading
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridInfiniteLoadingIntersection.tsx
  packages/x-data-grid-pro/src/internals/index.ts
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/models/events/gridEventLookup.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row loading, feature: Server integration

#16773 [DataGrid] fix: GridEditInputCell break input
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
Labels: component: data grid

#17542 [docs] Remove leftover `@next` usages
  docs/src/modules/components/ChartsInstallationInstructions.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/TreeViewInstallationInstructions.js
  packages/x-codemod/README.md
Labels: docs

#17537 [docs] Fix MUI X v7 install instructions
  docs/src/modules/components/ChartsInstallationInstructions.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/TreeViewInstallationInstructions.js
Labels: docs, v7.x

#17544 [docs] Explicitly state that `groupingColDef` reference needs to be stable
  docs/data/data-grid/aggregation/AggregationTreeData.js
  docs/data/data-grid/aggregation/AggregationTreeData.tsx
  docs/data/data-grid/aggregation/AggregationTreeData.tsx.preview
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.js
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.tsx
  docs/data/data-grid/column-dimensions/ColumnAutosizingGroupedRows.tsx.preview
  docs/data/data-grid/column-menu/ColumnMenuGridPremium.js
  docs/data/data-grid/column-menu/ColumnMenuGridPremium.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridPremium.tsx.preview
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.js
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.tsx
  docs/data/data-grid/column-menu/ColumnMenuGridPremiumSnap.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingCustomGroupingColDefCallback.js
  docs/data/data-grid/row-grouping/RowGroupingCustomGroupingColDefCallback.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomGroupingColDefObject.js
  docs/data/data-grid/row-grouping/RowGroupingCustomGroupingColDefObject.tsx
  docs/data/data-grid/row-grouping/RowGroupingCustomGroupingColDefObject.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingFilteringSingleGroupingColDef.js
  docs/data/data-grid/row-grouping/RowGroupingFilteringSingleGroupingColDef.tsx
  docs/data/data-grid/row-grouping/RowGroupingFullExample.js
  docs/data/data-grid/row-grouping/RowGroupingFullExample.tsx
  docs/data/data-grid/row-grouping/RowGroupingFullExample.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingHideDescendantCount.js
  docs/data/data-grid/row-grouping/RowGroupingHideDescendantCount.tsx
  docs/data/data-grid/row-grouping/RowGroupingHideDescendantCount.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingLeafWithValue.js
  docs/data/data-grid/row-grouping/RowGroupingLeafWithValue.tsx
  docs/data/data-grid/row-grouping/RowGroupingLeafWithValue.tsx.preview
  docs/data/data-grid/row-grouping/RowGroupingSortingMultipleGroupingColDef.js
  docs/data/data-grid/row-grouping/RowGroupingSortingMultipleGroupingColDef.tsx
  docs/data/data-grid/row-grouping/RowGroupingSortingMultipleGroupingColDef.tsx.preview
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/server-side-data/ServerSideRowGroupingFullDataGrid.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingFullDataGrid.tsx
  docs/data/data-grid/server-side-data/ServerSideRowGroupingFullDataGrid.tsx.preview
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridDataSourceRowGroupingPreProcessors.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
Labels: docs, component: data grid, feature: Row grouping, needs cherry-pick, v7.x

#17552 Bump `react-router` to ^7.5.2 [SECURITY]
  docs/package.json
  pnpm-lock.yaml
  test/e2e/package.json
  test/package.json
  test/regressions/package.json
Labels: dependencies

#17551 [docs] Improve data grid export docs
  docs/data/data-grid/export/export.md
Labels: docs, component: data grid, needs cherry-pick, v7.x

#17536 [core][docs] Fix <kbd> a11y
  docs/data/data-grid/accessibility/accessibility.md
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/data-grid/components/toolbar/toolbar.md
  docs/data/tree-view/accessibility/accessibility.md
Labels: docs, core, accessibility

#17540 [data grid][docs] Clear component docs
  docs/data/data-grid/components/ai-assistant-panel/ai-assistant-panel.md
  docs/data/data-grid/components/columns-panel/columns-panel.md
  docs/data/data-grid/components/components.md
  docs/data/data-grid/components/export/export.md
  docs/data/data-grid/components/filter-panel/filter-panel.md
  docs/data/data-grid/components/pivot-panel/pivot-panel.md
  docs/data/data-grid/components/prompt-field/prompt-field.md
  docs/data/data-grid/components/quick-filter/quick-filter.md
  docs/data/data-grid/components/toolbar/toolbar.md
  docs/data/data-grid/components/usage.md
  docs/data/data-grid/server-side-data/aggregation.md
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/pages.ts
  docs/pages/x/api/data-grid/ai-assistant-panel-trigger.json
  docs/pages/x/api/data-grid/columns-panel-trigger.json
  docs/pages/x/api/data-grid/export-csv.json
  docs/pages/x/api/data-grid/export-excel.json
  docs/pages/x/api/data-grid/export-print.json
  docs/pages/x/api/data-grid/filter-panel-trigger.json
  docs/pages/x/api/data-grid/pivot-panel-trigger.json
  docs/pages/x/api/data-grid/prompt-field-control.json
  docs/pages/x/api/data-grid/prompt-field-record.json
  docs/pages/x/api/data-grid/prompt-field-send.json
  docs/pages/x/api/data-grid/prompt-field.json
  docs/pages/x/api/data-grid/quick-filter-clear.json
  docs/pages/x/api/data-grid/quick-filter-control.json
  docs/pages/x/api/data-grid/quick-filter-trigger.json
  docs/pages/x/api/data-grid/quick-filter.json
  docs/pages/x/api/data-grid/toolbar-button.json
  docs/pages/x/api/data-grid/toolbar.json
  docs/pages/x/react-data-grid/components/ai-assistant-panel.js
  docs/pages/x/react-data-grid/components/prompt-field.js
Labels: docs, component: data grid

#17563 [code-infra] Further remove `clock=fake` and add `async act` for datagrid
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.test.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.test.tsx
  packages/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/pivoting.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rows.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
Labels: test, scope: code-infra, maintenance

#17581 [charts][docs] Fix highlighting heading structure
  docs/data/charts/highlighting/highlighting.md
Labels: bug 🐛, docs, component: charts

#17579 [docs] Add link to version
  docs/pages/_app.js
  package.json
Labels: docs, v6.x, v8.x migration

#17548 [core] Move loadStyleSheets to internals and use it in data grid and charts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/common.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/exportImage.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/print.ts
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
  packages/x-internals/src/export/index.ts
  packages/x-internals/src/export/loadStyleSheets.tsx
Labels: core, component: data grid, enhancement, component: charts

#17374 [docs][charts] Similar introduction on most charts pages
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/bars.md
  docs/data/charts/funnel/funnel.md
  docs/data/charts/heatmap/heatmap.md
  docs/data/charts/legend/legend.md
  docs/data/charts/lines/lines.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
Labels: docs, component: charts

#17577 [code-infra] Latest vitest picker changes
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/MobileDateTimeRangePicker.test.tsx
Labels: test, scope: code-infra, maintenance

#17443 [core] Remove eslint from codemod spec files
  .eslintignore
  packages/x-codemod/src/v8.0.0/charts/remove-on-axis-click-handler/actual-global-import.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/remove-on-axis-click-handler/expected-global-import.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/replace-legend-hidden-slot-prop/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/ts-expected.spec.tsx
  packages/x-codemod/src/v8.0.0/pickers/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/pickers/preset-safe/expected.spec.tsx
Labels: core, scope: code-infra, maintenance

#17538 [charts][docs] Improve Charts export docs
  docs/data/charts/export/ExportChartAsImage.js
  docs/data/charts/export/ExportChartAsImage.tsx
  docs/data/charts/export/ExportCompositionNoSnap.js
  docs/data/charts/export/ExportCompositionNoSnap.tsx
  docs/data/charts/export/PrintChart.js
  docs/data/charts/export/PrintChart.tsx
  docs/data/charts/export/PrintChart.tsx.preview
  docs/data/charts/export/export.md
Labels: docs, component: charts

#17395 [charts] Add screenshot of the tooltip
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  test/regressions/TestViewer.tsx
  test/regressions/index.test.ts
  test/regressions/index.tsx
  test/regressions/testsBySuite.ts
Labels: test, component: charts, maintenance

#17590 [charts] Use `<circle />` for circular legend mark
  packages/x-charts/src/ChartsLabel/ChartsLabelMark.tsx
Labels: bug 🐛, component: charts

#17591 [DataGrid] Fix: circular reference error
  packages/x-data-grid/src/material/variables.ts
  packages/x-internals/src/hash/index.ts
  packages/x-internals/src/hash/stringify.ts
Labels: component: data grid, regression

#17582 [core] Remove empty version
  test/e2e/package.json
  test/regressions/package.json
Labels: core, enhancement

#17377 [docs][charts] Add composition sections
  docs/data/charts/bars/bars.md
  docs/data/charts/gauge/gauge.md
  docs/data/charts/lines/lines.md
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/CompositionExample.js
  docs/data/charts/radar/CompositionExample.tsx
  docs/data/charts/radar/radar.md
  docs/data/charts/scatter/scatter.md
Labels: docs, component: charts

#17600 [l10n] Improve Italian (it-IT) locale
  packages/x-date-pickers/src/locales/itIT.ts
Labels: l10n, component: pickers, enhancement, needs cherry-pick, v7.x

#17597 [core] Remove unecessary versions
  docs/package.json
  packages/eslint-plugin-material-ui/package.json
  test/package.json
  test/performance-charts/package.json
Labels: core, enhancement

#17589 [infra] Updates to `branch switch comments`
  .circleci/config.yml
  docs/constants.ts
  docs/data/introduction/support/support.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/pages/_app.js
  docs/src/modules/components/ChartsInstallationInstructions.js
  docs/src/modules/components/DataGridInstallationInstructions.js
  docs/src/modules/components/PickersInstallationInstructions.js
  docs/src/modules/components/TreeViewInstallationInstructions.js
  packages/x-codemod/README.md
  scripts/README.md
  scripts/releaseChangelog.mjs
Labels: core, enhancement

#17601 [charts] Add docs on tooltip style
  docs/data/charts/tooltip/TooltipStyle.js
  docs/data/charts/tooltip/TooltipStyle.tsx
  docs/data/charts/tooltip/TooltipStyle.tsx.preview
  docs/data/charts/tooltip/tooltip.md
Labels: docs, enhancement, component: charts
