Repository mui/mui-x, pull requests merged in 2025-02, with the labels that each got.

#16434 [core] Fix corepack and pnpm installation in CircleCI
  .circleci/config.yml
Labels: core

#16437 [DataGrid] Fix loading overlay not in sync with scroll
  packages/x-data-grid/src/hooks/features/overlays/useGridOverlays.tsx
Labels: bug 🐛, component: data grid

#16441 [DataGridPro] Fix the return type of `useGridApiContext()` for Pro and Premium packages on React < 19
  packages/x-data-grid-premium/src/hooks/utils/useGridApiContext.ts
  packages/x-data-grid-pro/src/hooks/utils/useGridApiContext.ts
Labels: bug 🐛, component: data grid, typescript, plan: Pro, needs cherry-pick, v7.x

#16452 [core] Fix corepack and pnpm installation in CircleCI (@flaviendelangle)
  .circleci/config.yml
Labels: core, cherry-pick

#16455 [DateRangePicker] Fix `currentMonthCalendarPosition` prop behavior on mobile
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker, needs cherry-pick, v7.x

#16112 [code-infra] Update monorepo
  docs/config.js
  docs/config.ts
  docs/constants.js
  docs/constants.ts
  docs/next.config.ts
  docs/pages/_app.js
  docs/scripts/reportBrokenLinks.js
  docs/src/modules/utils/find.ts
  package.json
  pnpm-lock.yaml
  webpackBaseConfig.js
Labels: scope: code-infra

#16466 [data grid] Fix "no rows" overlay not showing with active aggregation
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
Labels: component: data grid, regression, plan: Premium, feature: Aggregation, needs cherry-pick, v7.x

#16444 [DataGrid] Refactor: remove material MenuList import
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenuContainer.tsx
Labels: component: data grid

#15648 [Data Grid] Avoid `<GridRoot />` double-render pass on mount in SPA mode
  docs/data/data-grid/events/events.json
  docs/data/data-grid/filtering-recipes/FilteredRowCount.js
  docs/data/data-grid/filtering-recipes/FilteredRowCount.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregation.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/components/GridPinnedRows.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/utils.ts
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/utils/tree/utils.ts
  packages/x-data-grid/package.json
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/core/pipeProcessing/useGridRegisterPipeProcessor.ts
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsSelectors.ts
  packages/x-data-grid/src/hooks/features/dimensions/index.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/gridEditingSelectors.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsMetaState.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/hooks/utils/useIsSSR.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/api/gridStateApi.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-internals/src/useResizeObserver/useResizeObserver.ts
  pnpm-lock.yaml
Labels: performance, component: data grid, needs cherry-pick, v7.x

#16484 [docs] Update colors default value
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/chart-data-provider-pro.json
  docs/pages/x/api/charts/chart-data-provider.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/pie-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/internals/plugins/corePlugins/useChartSeries/useChartSeries.types.ts
Labels: docs, component: charts

#16486 [test] Avoid test warning when running on React 18
  packages/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
Labels: test

#16477 [charts] Add `color` prop to Sparkline and deprecate `colors`
  docs/data/charts/sparkline/ColorCustomization.js
  docs/data/charts/sparkline/ColorCustomization.tsx
  docs/data/charts/sparkline/ColorCustomization.tsx.preview
  docs/data/charts/sparkline/ColorCustomizationMode.js
  docs/data/charts/sparkline/ColorCustomizationMode.tsx
  docs/data/charts/sparkline/ColorCustomizationMode.tsx.preview
  docs/data/charts/sparkline/sparkline.md
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/colorPalettes/colorPalettes.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16490 [DateRangePicker] Fix vertical alignment for multi input fields
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker

#16479 [DataGrid] Refactor: simplify useGridApiEventHandler
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid/src/constants/index.ts
  packages/x-data-grid/src/constants/signature.ts
  packages/x-data-grid/src/hooks/core/useGridApiInitialization.ts
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationUtils.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/utils/index.ts
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.test.tsx
  packages/x-data-grid/src/hooks/utils/useGridApiEventHandler.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/internals/utils/propValidation.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: performance, breaking change, component: data grid

#16480 [DataGrid] Avoid <GridRoot /> double-render pass on mount in SPA mode (@lauri865)
  docs/data/data-grid/events/events.json
  docs/data/data-grid/filtering-recipes/FilteredRowCount.js
  docs/data/data-grid/filtering-recipes/FilteredRowCount.tsx
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregation.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/components/GridPinnedRows.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/utils.ts
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/utils/tree/utils.ts
  packages/x-data-grid/package.json
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/core/pipeProcessing/useGridRegisterPipeProcessor.ts
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsSelectors.ts
  packages/x-data-grid/src/hooks/features/dimensions/index.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/gridEditingSelectors.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsMetaState.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/hooks/utils/useIsSSR.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/api/gridStateApi.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-internals/src/useResizeObserver/useResizeObserver.ts
  pnpm-lock.yaml
Labels: performance, component: data grid, cherry-pick

#16478 [charts] Make typescript more flexible about plugins and their params
  docs/pages/x/api/charts/chart-data-provider-pro.json
  docs/translations/api-docs/charts/chart-data-provider-pro/chart-data-provider-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.plugins.ts
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.plugins.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.plugins.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.plugins.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.plugins.ts
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/LineChart/LineChart.plugins.ts
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.plugins.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.plugins.ts
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  scripts/x-charts-pro.exports.json
Labels: component: charts

#16498 v7.26.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16496 v8.0.0-alpha.11
  CHANGELOG.md
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16503 [code-infra] Fix root package version
  package.json
Labels: scope: code-infra

#16403 [docs] Improve license installation page
  docs/data/introduction/licensing/licensing.md
Labels: docs, package: x-license

#16459 [charts] Stabilize series hooks (`useSeries`, `usePieSeries`, etc.)
  docs/data/charts/components/SeriesDemo.js
  docs/data/charts/components/SeriesDemo.tsx
  docs/data/charts/components/SeriesDemo.tsx.preview
  docs/data/charts/components/components.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  packages/x-charts-pro/src/hooks/index.ts
  packages/x-charts-pro/src/index.ts
  packages/x-charts/src/hooks/index.ts
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/charts/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/charts/rename-unstable-use-series/actual-nested-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-unstable-use-series/actual-root-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-unstable-use-series/expected-nested-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-unstable-use-series/expected-root-imports.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-unstable-use-series/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: breaking change, enhancement, component: charts, v8.x

#16507 [charts] Fix zoom filter regression
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.selectors.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.types.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/zoom.types.ts
  packages/x-charts-pro/src/typeOverloads/modules.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/creatZoomLookup.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
Labels: plan: Pro, regression, component: charts

#16302 [docs] Standardize getting started docs across all packages
  README.md
  docs/.link-check-errors.txt
  docs/data/charts/overview/overview.md
  docs/data/charts/quickstart/Combining.js
  docs/data/charts/quickstart/Combining.tsx
  docs/data/charts/quickstart/SimpleCharts.js
  docs/data/charts/quickstart/SimpleCharts.tsx
  docs/data/charts/quickstart/SimpleCharts.tsx.preview
  docs/data/charts/quickstart/quickstart.md
  docs/data/common-concepts/custom-components/custom-components.md
  docs/data/data-grid/custom-columns/custom-columns.md
  docs/data/data-grid/features/FullFeaturedDemo.js
  docs/data/data-grid/features/FullFeaturedDemo.tsx
  docs/data/data-grid/features/PopularFeaturesDemo.js
  docs/data/data-grid/features/PopularFeaturesDemo.tsx
  docs/data/data-grid/features/features.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/quickstart/Codesandbox.js
  docs/data/data-grid/quickstart/quickstart.md
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/data/date-pickers/date-picker/date-picker.md
  docs/data/date-pickers/faq/faq.md
  docs/data/date-pickers/getting-started/getting-started.md
  docs/data/date-pickers/quickstart/FirstComponent.js
  docs/data/date-pickers/quickstart/FirstComponent.tsx
  docs/data/date-pickers/quickstart/FirstComponent.tsx.preview
  docs/data/date-pickers/quickstart/MaterialUIPickers.tsx.preview
  docs/data/date-pickers/quickstart/quickstart.md
  docs/data/introduction/support/support.md
  docs/data/migration/migration-pickers-lab/migration-pickers-lab.md
  docs/data/migration/migration-pickers-v5/migration-pickers-v5.md
  docs/data/migration/migration-pickers-v6/migration-pickers-v6.md
  docs/data/pages.ts
  docs/data/tree-view/getting-started/getting-started.md
  docs/data/tree-view/overview/TreeViewOverviewDemo.js
  docs/data/tree-view/overview/TreeViewOverviewDemo.tsx
  docs/data/tree-view/overview/overview.md
  docs/data/tree-view/quickstart/BasicRichTreeView.js
  docs/data/tree-view/quickstart/BasicRichTreeView.tsx
  docs/data/tree-view/quickstart/BasicRichTreeView.tsx.preview
  docs/data/tree-view/quickstart/BasicSimpleTreeView.js
  docs/data/tree-view/quickstart/BasicSimpleTreeView.tsx
  docs/data/tree-view/quickstart/FirstComponent.js
  docs/data/tree-view/quickstart/FirstComponent.tsx
  docs/data/tree-view/quickstart/quickstart.md
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/pages/x/react-charts/quickstart.js
  docs/pages/x/react-data-grid/features.js
  docs/pages/x/react-data-grid/quickstart.js
  docs/pages/x/react-date-pickers/quickstart.js
  docs/pages/x/react-tree-view/getting-started.js
  docs/pages/x/react-tree-view/quickstart.js
  docs/public/_redirects
  docsTech/README.md
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  test/e2e-website/data-grid.spec.ts
Labels: docs, enhancement

#16481 [DataGrid] Refactor: create base MenuList props
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16394 [DataGrid] Refactor: create base Select
  packages/x-data-grid-premium/src/components/GridColumnMenuAggregationItem.tsx
  packages/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/x-data-grid/src/material/components/MUISelectOption.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16504 [charts] Document plugins for internal use
  packages/x-charts/src/hooks/useChartDimensions.ts
  packages/x-charts/src/internals/plugins/models/plugin.ts
  packages/x-charts/src/internals/store/useCharts.ts
  packages/x-internals/src/fastObjectShallowCompare/fastObjectShallowCompare.ts
Labels: enhancement, component: charts

#16524 [charts] Fix internal typo
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/createZoomLookup.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.selectors.ts
Labels: component: charts

#16362 [DataGrid] Refactor: create base Popper
  docs/data/data-grid/filtering/CustomFilterPanelPosition.js
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx
  docs/data/data-grid/filtering/CustomFilterPanelPosition.tsx.preview
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/x-data-grid/src/components/panel/GridColumnsPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanel.spec.tsx
  packages/x-data-grid/src/components/panel/GridPanel.test.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelWrapper.tsx
  packages/x-data-grid/src/components/panel/GridPreferencesPanel.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16445 [DataGrid] Refactor: create base Checkbox
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16470 [charts] Move Voronoi handler in a dedicated plugin
  docs/data/charts/scatter-demo/scatter-demo.md
  docs/data/charts/scatter/scatter.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/charts-voronoi-handler.js
  docs/pages/x/api/charts/charts-voronoi-handler.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/charts-voronoi-handler/charts-voronoi-handler.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.plugins.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/index.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartDataProvider/useChartDataProviderProps.ts
  packages/x-charts/src/ChartsVoronoiHandler/index.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.plugins.ts
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/ChartProvider/ChartContext.tsx
  packages/x-charts/src/context/ChartProvider/ChartProvider.tsx
  packages/x-charts/src/context/ChartProvider/ChartProvider.types.ts
  packages/x-charts/src/hooks/getValueToPositionMapper.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.types.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: breaking change, component: charts

#16471 [core] Update charts folder structure
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/Heatmap/seriesConfig/extremums.ts
  packages/x-charts-pro/src/Heatmap/seriesConfig/getColor.ts
  packages/x-charts-pro/src/Heatmap/seriesConfig/index.ts
  packages/x-charts-pro/src/Heatmap/seriesConfig/seriesProcessor.ts
  packages/x-charts-pro/src/Heatmap/seriesConfig/tooltip.ts
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/extremums.test.ts
  packages/x-charts/src/BarChart/seriesConfig/extremums.ts
  packages/x-charts/src/BarChart/seriesConfig/getColor.ts
  packages/x-charts/src/BarChart/seriesConfig/index.ts
  packages/x-charts/src/BarChart/seriesConfig/legend.ts
  packages/x-charts/src/BarChart/seriesConfig/seriesProcessor.ts
  packages/x-charts/src/BarChart/seriesConfig/tooltip.ts
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/seriesConfig/extremums.ts
  packages/x-charts/src/LineChart/seriesConfig/getColor.ts
  packages/x-charts/src/LineChart/seriesConfig/index.ts
  packages/x-charts/src/LineChart/seriesConfig/legend.ts
  packages/x-charts/src/LineChart/seriesConfig/seriesProcessor.test.ts
  packages/x-charts/src/LineChart/seriesConfig/seriesProcessor.ts
  packages/x-charts/src/LineChart/seriesConfig/tooltip.ts
  packages/x-charts/src/PieChart/plugin.ts
  packages/x-charts/src/PieChart/seriesConfig/getColor.ts
  packages/x-charts/src/PieChart/seriesConfig/index.ts
  packages/x-charts/src/PieChart/seriesConfig/legend.ts
  packages/x-charts/src/PieChart/seriesConfig/seriesProcessor.ts
  packages/x-charts/src/PieChart/seriesConfig/tooltip.ts
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/seriesConfig/extremums.ts
  packages/x-charts/src/ScatterChart/seriesConfig/getColor.ts
  packages/x-charts/src/ScatterChart/seriesConfig/index.ts
  packages/x-charts/src/ScatterChart/seriesConfig/legend.ts
  packages/x-charts/src/ScatterChart/seriesConfig/seriesProcessor.ts
  packages/x-charts/src/ScatterChart/seriesConfig/tooltip.ts
  packages/x-charts/src/context/ChartProvider/ChartProvider.tsx
Labels: component: charts

#16517 [DataGridPremium] Fix Excel export Web Worker demo not working in dev mode
  docs/data/data-grid/export/ExcelExportWithWebWorker.js
  docs/data/data-grid/export/ExcelExportWithWebWorker.tsx
  docs/data/data-grid/export/excelExportWorker.js
  docs/data/data-grid/export/excelExportWorker.ts
  docs/data/data-grid/export/export.md
  docs/worker.ts
  packages/x-data-grid-premium/src/hooks/features/export/index.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/setupExcelExportWebWorker.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/utils.ts
  packages/x-data-grid-premium/src/setupExcelExportWebWorker.ts
Labels: component: data grid, plan: Premium, feature: Export, needs cherry-pick, v7.x

#16282 [DataGridPremium] Fix loading issue + add skeleton overlay
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/components/GridAggregationRowOverlay.tsx
  packages/x-data-grid-premium/src/components/GridBottomContainer.tsx
  packages/x-data-grid-premium/src/constants/dataGridPremiumDefaultSlotsComponents.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/createAggregationLookup.ts
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/constants/defaultGridSlotsComponents.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, component: data grid, feature: Aggregation, feature: Server integration

#16020 [DataGridPremium] Namespace Excel export worker
  packages/x-data-grid-premium/src/hooks/features/export/serializer/setupExcelExportWebWorker.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/utils.ts
  packages/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Export, needs cherry-pick, v7.x

#16525 [charts] Performance tests: set license on setup. Update vitest minor version.
  pnpm-lock.yaml
  test/performance-charts/package.json
  test/performance-charts/setup.ts
  test/performance-charts/tests/BarChartPro.bench.tsx
  test/performance-charts/tests/LineChartPro.bench.tsx
  test/performance-charts/tests/ScatterChartPro.bench.tsx
  test/performance-charts/vitest.config.ts
Labels: enhancement, component: charts

#16494 [charts] Remove `colors` prop from `SparkLineChart`.
  docs/data/charts/sparkline/CustomYAxis.js
  docs/data/charts/sparkline/CustomYAxis.tsx
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/charts/rename-sparkline-colors-to-color/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-sparkline-colors-to-color/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/charts/rename-sparkline-colors-to-color/index.ts
  packages/x-codemod/src/v8.0.0/charts/rename-sparkline-colors-to-color/rename-sparkline-colors-to-color.test.ts
Labels: breaking change, component: charts

#15545 [charts] Let the `useXxxSeries` support array of ids and document them
  packages/x-charts-pro/src/Heatmap/HeatmapPlot.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip.tsx
  packages/x-charts-pro/src/hooks/index.ts
  packages/x-charts-pro/src/hooks/useHeatmapSeries.test.tsx
  packages/x-charts-pro/src/hooks/useHeatmapSeries.ts
  packages/x-charts-pro/src/hooks/useSeries.ts
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useAxis.ts
  packages/x-charts/src/hooks/useBarSeries.test.tsx
  packages/x-charts/src/hooks/useBarSeries.ts
  packages/x-charts/src/hooks/useChartId.ts
  packages/x-charts/src/hooks/useColorScale.ts
  packages/x-charts/src/hooks/useDrawingArea.ts
  packages/x-charts/src/hooks/useLineSeries.test.tsx
  packages/x-charts/src/hooks/useLineSeries.ts
  packages/x-charts/src/hooks/usePieSeries.test.tsx
  packages/x-charts/src/hooks/usePieSeries.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/hooks/useScatterSeries.test.tsx
  packages/x-charts/src/hooks/useScatterSeries.ts
  packages/x-charts/src/hooks/useSeries.ts
  packages/x-charts/src/hooks/useSvgRef.ts
  packages/x-charts/src/internals/createSeriesSelectorOfType.ts
  packages/x-charts/src/internals/index.ts
  packages/x-internals/src/fastArrayCompare/fastArrayCompare.test.ts
  packages/x-internals/src/fastArrayCompare/fastArrayCompare.ts
  packages/x-internals/src/fastArrayCompare/index.ts
Labels: enhancement, component: charts

#16532 [DataGridPremium] Fix Excel export Web Worker demo not working in dev mode
  docs/data/data-grid/export/ExcelExportWithWebWorker.js
  docs/data/data-grid/export/ExcelExportWithWebWorker.tsx
  docs/data/data-grid/export/excelExportWorker.js
  docs/data/data-grid/export/excelExportWorker.ts
  docs/data/data-grid/export/export.md
  docs/worker.ts
  packages/x-data-grid-premium/src/hooks/features/export/index.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/setupExcelExportWebWorker.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/utils.ts
  packages/x-data-grid-premium/src/setupExcelExportWebWorker.ts
Labels: component: data grid, plan: Premium, feature: Export, cherry-pick

#16526 [DataGridPremium] Improve Excel export serialization performance
  packages/x-data-grid-premium/src/hooks/features/export/serializer/excelSerializer.ts
  packages/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
Labels: performance, component: data grid, plan: Premium, feature: Export, needs cherry-pick, v7.x

#16557 [DataGrid] Fix: base Select onClose
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid

#16488 [DataGrid] Avoid `undefined` value for pagination `rowCount`
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/utils/useGridNativeEventListener.ts
  packages/x-data-grid/src/material/index.tsx
Labels: test, component: data grid, regression, needs cherry-pick, v7.x

#16553 [charts] Improve tooltip placement in mobile
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
Labels: enhancement, component: charts

#16556 [charts] Add docs for scatter "Size" section
  docs/data/charts/scatter/ScatterCustomSize.js
  docs/data/charts/scatter/ScatterCustomSize.tsx
  docs/data/charts/scatter/ScatterCustomSize.tsx.preview
  docs/data/charts/scatter/scatter.md
Labels: docs, component: charts

#16558 [DataGrid] Avoid `undefined` value for pagination `rowCount`
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/utils/useGridNativeEventListener.ts
Labels: test, component: data grid, regression, cherry-pick

#16560 [DataGrid] Remove `apiRef.current.forceUpdate()` method
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/grid-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/x-data-grid/src/hooks/features/headerFiltering/useGridHeaderFiltering.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/hooks/features/statePersistence/useGridStatePersistence.ts
  packages/x-data-grid/src/models/api/gridStateApi.ts
Labels: breaking change, component: data grid, v8.x

#16565 [test] Fix DataGrid data source error test on React 18
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
Labels: test, component: data grid

#16555 [charts] Propagate the axis scale to the `valueFormatter`
  docs/data/charts/axis/FormatterD3.js
  docs/data/charts/axis/FormatterD3.tsx
  docs/data/charts/axis/axis.md
  docs/pages/x/api/charts/axis-config.json
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip.tsx
  packages/x-charts/src/ChartsLegend/ContinuousColorLegend.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/models/axis.ts
Labels: component: charts

#16474 [DateRangePicker] Avoid unnecessary field section focusing
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useRangePosition.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  test/e2e/fixtures/DatePicker/DesktopDateRangePickerWithValue.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: pickers, component: DateRangePicker, needs cherry-pick, v7.x

#16450 [DataGrid] Add `resetPageOnSortFilter` prop that resets the page after sorting/filtering
  docs/data/data-grid/filtering/FilteringWithPageReset.js
  docs/data/data-grid/filtering/FilteringWithPageReset.tsx
  docs/data/data-grid/filtering/FilteringWithPageReset.tsx.preview
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/filtering/server-side.md
  docs/data/data-grid/pagination/ServerPaginationFilterSortGrid.js
  docs/data/data-grid/pagination/ServerPaginationFilterSortGrid.tsx
  docs/data/data-grid/pagination/ServerPaginationFilterSortGrid.tsx.preview
  docs/data/data-grid/pagination/pagination.md
  docs/data/data-grid/sorting/SortingWithPageReset.js
  docs/data/data-grid/sorting/SortingWithPageReset.tsx
  docs/data/data-grid/sorting/SortingWithPageReset.tsx.preview
  docs/data/data-grid/sorting/sorting.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: component: data grid, feature: Filtering, feature: Sorting, feature: Pagination, enhancement, needs cherry-pick, v7.x, feature: Server integration

#16527 [DataGrid] Refactor: create base Switch
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16443 [DataGrid] Refactor: create base Input
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/cell/GridEditDateCell.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#14386 [code-infra] Update package layout for better ESM support
  .circleci/config.yml
  babel.config.js
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-pro/tsconfig.build.json
  packages/x-charts/package.json
  packages/x-charts/tsconfig.build.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-generator/tsconfig.build.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-premium/tsconfig.build.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid-pro/tsconfig.build.json
  packages/x-data-grid/package.json
  packages/x-data-grid/tsconfig.build.json
  packages/x-data-grid/tsconfig.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers-pro/tsconfig.build.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/tsconfig.build.json
  packages/x-internals/package.json
  packages/x-internals/src/reactMajor/index.ts
  packages/x-internals/tsconfig.build.json
  packages/x-license/package.json
  packages/x-license/tsconfig.build.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view-pro/tsconfig.build.json
  packages/x-tree-view/package.json
  packages/x-tree-view/tsconfig.build.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/buildTypes.mjs
  scripts/buildTypes.mts
  scripts/copyFiles.mjs
Labels: scope: code-infra

#16572 [pickers] Fix time related aria labels to depend on `ampm` flag value
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/managers/useTimeManager.ts
Labels: breaking change, component: pickers, component: TimePicker, v8.x

#16581 [charts] Fix type overloads
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/index.ts
  packages/x-charts-pro/src/ChartDataProviderPro/index.ts
  packages/x-charts-pro/src/Heatmap/index.ts
  packages/x-charts-pro/src/index.ts
Labels: bug 🐛, typescript, plan: Pro, component: charts, v8.x

#16463 [l10n] Improve Ukrainian (uk-UA) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ukUA.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#16447 [DataGrid] Go to the first page when sorting/filtering is applied
  docs/data/data-grid/filtering/FilteringWithPageReset.js
  docs/data/data-grid/filtering/FilteringWithPageReset.tsx
  docs/data/data-grid/filtering/FilteringWithPageReset.tsx.preview
  docs/data/data-grid/filtering/index.md
  docs/data/data-grid/sorting/SortingWithPageReset.js
  docs/data/data-grid/sorting/SortingWithPageReset.tsx
  docs/data/data-grid/sorting/SortingWithPageReset.tsx.preview
  docs/data/data-grid/sorting/sorting.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Filtering, feature: Sorting, feature: Pagination, feature: Server integration

#16600 [charts] Add test:performance:browser script
  test/performance-charts/package.json
  test/performance-charts/vitest.config.ts
Labels: component: charts

#16563 [code-infra] Update peer dependencies for v8
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#16595 v7.26.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#16596 v8.0.0-alpha.12
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16520 [charts] Remove state initialization hack
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/models/plugin.ts
  packages/x-charts/src/internals/plugins/utils/ChartStore.ts
  packages/x-charts/src/internals/plugins/utils/selectors.ts
  packages/x-charts/src/internals/store/useCharts.ts
  packages/x-charts/src/internals/store/useSelector.ts
Labels: component: charts

#16626 [DataGrid] Column Visibility: Update "Reset" button behavior
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsInterfaces.ts
  packages/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
  packages/x-data-grid/src/hooks/features/columns/index.ts
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: breaking change, component: data grid, feature: Column visibility, v8.x

#16588 [DataGrid] refactor: theme to CSS variables
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.js
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnLeafCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRowCount.tsx
  packages/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/context/GridContextProvider.tsx
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/material/variables.ts
  packages/x-data-grid/src/models/configuration/gridConfiguration.ts
  packages/x-data-grid/src/utils/css/context.tsx
  packages/x-data-grid/src/utils/index.ts
  packages/x-internals/src/hash/hash.ts
  packages/x-internals/src/hash/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#16390 [DataGrid] Refactor: create base Autocomplete
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#16574 [DataGrid] Extract `getRowId` API method as a selector
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/aggregation/createAggregationLookup.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/gridDetailPanelToggleColDef.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataGroupColDef.ts
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/x-data-grid/src/colDef/gridDateColDef.ts
  packages/x-data-grid/src/colDef/gridSingleSelectColDef.tsx
  packages/x-data-grid/src/hooks/core/gridPropsSelectors.ts
  packages/x-data-grid/src/hooks/core/index.ts
  packages/x-data-grid/src/hooks/core/useGridInitialization.ts
  packages/x-data-grid/src/hooks/core/useGridProps.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/api/gridRowApi.ts
  packages/x-data-grid/src/models/gridStateCommunity.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid, cherry-pick, v7.x

#16603 [code-infra] Native Node.js ESM
  packages/x-charts/src/internals/store/useSelector.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
  packages/x-data-grid/src/hooks/utils/useIsSSR.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV2/AdapterDateFnsJalaliV2.ts
  packages/x-date-pickers/src/AdapterDateFnsV2/AdapterDateFnsV2.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-tree-view/src/internals/hooks/useSelector.ts
Labels: scope: code-infra

#16641 [charts] Fix typo in error message
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.test.tsx
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.ts
  packages/x-charts/src/hooks/useSvgRef.ts
  packages/x-charts/src/internals/store/useStore.ts
Labels: docs, component: charts

#16642 [charts] Make `defaultizeAxis` function type-safe
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
Labels: enhancement, component: charts

#16634 [DataGrid] Refactor: remove base form control
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid

#16648 [l10n] Added Bangla (bn-BD) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/bnBD.ts
  packages/x-data-grid/src/locales/index.ts
  packages/x-date-pickers/src/locales/bnBD.ts
  packages/x-date-pickers/src/locales/index.ts
Labels: component: data grid, l10n, component: pickers, needs cherry-pick, v7.x

#16645 [charts] Make `series.data` readonly
  docs/data/charts/axis/CustomDomainYAxis.tsx
  docs/pages/x/api/charts/pie-series-type.json
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/models/seriesType/heatmap.ts
  packages/x-charts-pro/src/typeOverloads/readonly.spec.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/internals/calculateMargins.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartSeries/processSeries.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartSeries/useChartSeries.types.ts
  packages/x-charts/src/models/seriesType/pie.ts
  packages/x-charts/src/tests/readonly.spec.tsx
Labels: plan: Pro, enhancement, component: charts

#16630 [DataGrid] Column management design updates
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/GridShadowScrollArea.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid, feature: Column visibility, design, v8.x

#16651 [test] Revert timeout increase for possibly slow tests
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: test

#16643 [DataGrid] Fix: base Select menuprops onClose
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid, regression

#16639 [DataGrid] Fix scrollbars overlapping cells on mount
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, regression, needs cherry-pick, v7.x

#16646 [DataGrid] Refactor: remove base input label & adornment
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/components/promptControl/GridToolbarPromptControl.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid

#16633 [DataGrid] Refactor: remove material containers
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnLeafCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
  packages/x-data-grid-pro/src/components/GridTreeDataGroupingCell.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/material/variables.ts
Labels: breaking change, component: data grid

#16657 [charts] Fix empty series pie chart v7
  packages/x-charts/src/PieChart/PieChart.test.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
Labels: bug 🐛, needs cherry-pick, component: charts, v8.x

#16663 [charts] Add unit test for pie chart with empty series
  packages/x-charts/src/PieChart/PieChart.test.tsx
Labels: test, component: charts

#16665 [DataGrid] Replace `sx` prop usage with `styled()` components
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid

#16548 [charts] Add `minTickLabelGap` to x-axis
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/charts-x-axis/charts-x-axis.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/models/axis.ts
Labels: breaking change, component: charts

#16671 [DataGridPro] Remove `LicenseInfo` reexports
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/index.ts
  packages/x-data-grid-pro/src/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
Labels: breaking change, component: data grid, plan: Pro, plan: Premium, v8.x

#16016 [DataGridPremium] Use `valueGetter` to get row group keys
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid/src/hooks/features/rows/gridRowsUtils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/internals/index.ts
Labels: component: data grid, plan: Premium, feature: Row grouping, enhancement

#15651 [DataGrid] Reshape row selection model
  docs/data/data-grid/filtering/CustomSelectionOperator.js
  docs/data/data-grid/filtering/CustomSelectionOperator.tsx
  docs/data/data-grid/filtering/CustomSelectionOperator.tsx.preview
  docs/data/data-grid/list-view/components/Toolbar.js
  docs/data/data-grid/list-view/components/Toolbar.tsx
  docs/data/data-grid/row-selection/ControlledSelectionGrid.js
  docs/data/data-grid/row-selection/ControlledSelectionGrid.tsx
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.js
  docs/data/data-grid/row-selection/ControlledSelectionServerPaginationGrid.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-row-selection-api.json
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/components/promptControl/GridToolbarPromptControl.tsx
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/tests/clipboard.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowSelection.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/export.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
  packages/x-data-grid/src/components/GridFooter.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/export/utils.ts
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/x-data-grid/src/hooks/features/rowSelection/gridRowSelectionSelector.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowAriaAttributes.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridRowSelectionApi.ts
  packages/x-data-grid/src/models/gridRowSelectionManager.ts
  packages/x-data-grid/src/models/gridRowSelectionModel.ts
  packages/x-data-grid/src/models/index.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  test/utils/helperFn.ts
Labels: breaking change, component: data grid, feature: Selection, v8.x

#16502 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
Labels: l10n

#16536 [charts] Improve performance of rendering ticks in x-axis
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/internals/domUtils.ts
Labels: component: charts

#16681 [pickers] Fix `TimeClock` meridiem button selected styles
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
Labels: bug 🐛, component: pickers

#16673 [charts] Improve axis size docs
  docs/data/charts/styling/MarginNoSnap.js
  docs/data/charts/styling/styling.md
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/chart-data-provider-pro/chart-data-provider-pro.json
  docs/translations/api-docs/charts/chart-data-provider/chart-data-provider.json
  docs/translations/api-docs/charts/gauge-container/gauge-container.json
  docs/translations/api-docs/charts/gauge/gauge.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/pie-chart/pie-chart.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartDataProviderPro/ChartDataProviderPro.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartDataProvider/ChartDataProvider.tsx
  packages/x-charts/src/Gauge/Gauge.tsx
  packages/x-charts/src/Gauge/GaugeContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/internals/defaultizeMargin.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.types.ts
  packages/x-charts/src/models/index.ts
  packages/x-charts/src/models/layout.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: docs, component: charts

#16682 [docs] Improve Pickers migration page
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs

#16718 [DataGrid] Update the signature of the `onDataSourceError()` callback
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideLazyLoadingErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideRowGroupingErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideRowGroupingErrorHandling.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.js
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.tsx
  docs/data/data-grid/server-side-data/index.md
  docs/data/data-grid/server-side-data/row-grouping.md
  docs/data/data-grid/server-side-data/tree-data.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSourceBasePro.ts
  packages/x-data-grid-pro/src/models/dataGridProProps.ts
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/hooks/features/dataSource/gridDataSourceError.ts
  packages/x-data-grid/src/hooks/features/dataSource/index.ts
  packages/x-data-grid/src/hooks/features/dataSource/useGridDataSourceBase.ts
  packages/x-data-grid/src/hooks/features/index.ts
  packages/x-data-grid/src/models/gridDataSource.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/dataSource.DataGrid.test.tsx
  packages/x-data-grid/src/tests/sorting.DataGrid.test.tsx
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, v8.x

#16723 [charts] Display slider tooltip on demos
  docs/src/modules/components/DemoPropsForm.tsx
Labels: component: charts, scope: docs-infra

#16716 v7.27.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#16591 [l10n] Improve Russian (ru-RU) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/ruRU.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#16715 [DataGrid] Fix `showColumnVerticalBorder` prop
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  test/regressions/data-grid/DataGridBorderedCells.js
  test/regressions/data-grid/DataGridBorderedColumns.js
Labels: bug 🐛, component: data grid, regression, needs cherry-pick, v7.x

#16727 [charts] Prevent `position='none'` axes from rendering
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: bug 🐛, component: charts

#16627 [DataGrid] Use readonly array for GridSortModel
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/models/gridSortModel.ts
  packages/x-data-grid/src/tests/DataGrid.spec.tsx
Labels: component: data grid, typescript

#16728 [docs] Fix remaining charts demos on mobile
  docs/data/charts/composition/BasicComposition.js
  docs/data/charts/composition/BasicComposition.tsx
  docs/data/charts/label/BasicLabel.js
  docs/data/charts/label/BasicLabel.tsx
  docs/data/charts/label/FunctionLabel.js
  docs/data/charts/label/FunctionLabel.tsx
  docs/data/charts/legend/BasicLegend.js
  docs/data/charts/legend/BasicLegend.tsx
  docs/data/charts/legend/BasicLegend.tsx.preview
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.js
  docs/data/charts/pie-demo/PieChartWithPaddingAngle.tsx
  docs/data/charts/pie-demo/StraightAnglePieChart.js
  docs/data/charts/pie-demo/StraightAnglePieChart.tsx
  docs/data/charts/pie-demo/StraightAnglePieChart.tsx.preview
  docs/data/charts/pie-demo/TwoLevelPieChart.js
  docs/data/charts/pie-demo/TwoLevelPieChart.tsx
  docs/data/charts/pie-demo/TwoLevelPieChart.tsx.preview
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.js
  docs/data/charts/scatter-demo/MultipleYAxesScatterChart.tsx
  docs/data/charts/scatter-demo/SimpleScatterChart.js
  docs/data/charts/scatter-demo/SimpleScatterChart.tsx
  docs/data/charts/scatter-demo/SimpleScatterChart.tsx.preview
  docs/data/charts/scatter/BasicScatter.js
  docs/data/charts/scatter/BasicScatter.tsx
  docs/data/charts/scatter/BasicScatter.tsx.preview
  docs/data/charts/scatter/ColorScale.js
  docs/data/charts/scatter/ColorScale.tsx
  docs/data/charts/scatter/CustomScatter.js
  docs/data/charts/scatter/CustomScatter.tsx
  docs/data/charts/scatter/CustomScatter.tsx.preview
  docs/data/charts/scatter/GridDemo.js
  docs/data/charts/scatter/GridDemo.tsx
  docs/data/charts/scatter/GridDemo.tsx.preview
  docs/data/charts/scatter/ScatterCustomSize.js
  docs/data/charts/scatter/ScatterCustomSize.tsx
  docs/data/charts/scatter/ScatterCustomSize.tsx.preview
  docs/data/charts/scatter/ScatterDataset.js
  docs/data/charts/scatter/ScatterDataset.tsx
  docs/data/charts/scatter/randomData.js
  docs/data/charts/scatter/randomData.ts
  docs/data/charts/stacking/BasicStacking.js
  docs/data/charts/stacking/BasicStacking.tsx
  docs/data/charts/stacking/BasicStacking.tsx.preview
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/styling/GradientTooltip.js
  docs/data/charts/styling/GradientTooltip.tsx
  docs/data/charts/styling/SxStyling.js
  docs/data/charts/styling/SxStyling.tsx
  docs/data/charts/tooltip/AxisFormatter.js
  docs/data/charts/tooltip/AxisFormatter.tsx
  docs/data/charts/tooltip/Formatting.js
  docs/data/charts/tooltip/Formatting.tsx
Labels: docs, component: charts

#16731 [DataGrid] Use readonly array for GridSortModel (@pcorpet)
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/models/gridSortModel.ts
  packages/x-data-grid/src/tests/DataGrid.spec.tsx
Labels: component: data grid, typescript, cherry-pick

#16735 [DataGrid] Make server-side data navigation consistent
  docs/data/data-grid/server-side-data/index.md
  docs/data/pages.ts
Labels: component: data grid

#16736 [DataGrid] fix: popper focus trap
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
Labels: bug 🐛, component: data grid, regression

#16578 [l10n] Improve Hungarian (hu-HU) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/huHU.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#16734 [charts] Remove redundant default axis
  packages/x-charts-pro/src/Heatmap/Heatmap.test.tsx
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineChart.test.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.test.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
Labels: component: charts

#16751 [infra] Update contributor acknowledgment wording
  scripts/releaseChangelog.mjs
Labels: enhancement, needs cherry-pick, v7.x, scope: infra

#16749 v7.27.2
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release

#16757 [code-infra] General packages changes for `vitest`
  .eslintrc.js
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license/src/verifyLicense/verifyLicense.test.ts
  test/regressions/index.test.ts
  test/utils/addChaiAssertions.ts
  test/utils/checkMaterialVersion.ts
  test/utils/skipIf.ts
Labels: test, enhancement, scope: code-infra

#16761 [charts] Fix composition docs link
  packages/x-charts/src/ChartDataProvider/ChartDataProvider.tsx
Labels: docs, component: charts

#16592 [charts] Fix is highlighted memoization
  packages/x-charts/src/internals/plugins/featurePlugins/useChartHighlight/useChartHighlight.selectors.ts
Labels: component: charts

#16748 [charts] Fix missing error in the tooltip
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
Labels: component: charts

#16684 v8.0.0-alpha.13
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16730 [charts] Render axis title within axis size
  docs/data/charts/axis/AxisTextCustomization.js
  docs/data/charts/axis/AxisTextCustomization.tsx
  docs/data/charts/axis/AxisWithComposition.js
  docs/data/charts/axis/AxisWithComposition.tsx
  docs/data/charts/axis/FormatterD3.js
  docs/data/charts/axis/FormatterD3.tsx
  docs/data/charts/axis/FormatterDemo.js
  docs/data/charts/axis/FormatterDemo.tsx
  docs/data/charts/axis/GridDemo.js
  docs/data/charts/axis/GridDemo.tsx
  docs/data/charts/axis/GridDemo.tsx.preview
  docs/data/charts/axis/MarginAndLabelPosition.js
  docs/data/charts/axis/MarginAndLabelPosition.tsx
  docs/data/charts/axis/MinMaxExample.js
  docs/data/charts/axis/MinMaxExample.tsx
  docs/data/charts/axis/ReverseExample.js
  docs/data/charts/axis/ReverseExample.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/bars/BarsDataset.js
  docs/data/charts/bars/BarsDataset.tsx
  docs/data/charts/bars/BorderRadius.js
  docs/data/charts/bars/BorderRadius.tsx
  docs/data/charts/bars/TickPlacementBars.js
  docs/data/charts/bars/TickPlacementBars.tsx
  docs/data/charts/composition/BasicComposition.js
  docs/data/charts/composition/BasicComposition.tsx
  docs/data/charts/composition/LimitOverflow.js
  docs/data/charts/composition/LimitOverflow.tsx
  docs/data/charts/composition/SwitchSeriesType.js
  docs/data/charts/composition/SwitchSeriesType.tsx
  docs/data/charts/quickstart/Combining.js
  docs/data/charts/quickstart/Combining.tsx
  docs/data/charts/scatter/ScatterDataset.js
  docs/data/charts/scatter/ScatterDataset.tsx
  docs/data/charts/stacking/StackOrderDemo.js
  docs/data/charts/stacking/StackOrderDemo.tsx
  docs/data/charts/tooltip/AxisFormatter.js
  docs/data/charts/tooltip/AxisFormatter.tsx
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/constants/index.ts
  packages/x-charts/src/internals/components/AxisSharedComponents.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: component: charts
