Repository mui/mui-x, pull requests merged in 2025-08, with the labels that each got.

#18977 [scheduler][primitive] Move `useEventCalendar` and all related types to the `primitives` folder
  docs/data/scheduler/datasets/car-rental.ts
  docs/data/scheduler/datasets/palette-demo.ts
  docs/data/scheduler/datasets/personal-agenda.ts
  docs/data/scheduler/event-calendar/ColorPalettes.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/RemoveViews.tsx
  docs/data/scheduler/event-calendar/StandaloneAgendaView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneMonthView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/package.json
  packages/x-scheduler/src/material/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/material/day-view/DayView.tsx
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/material/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/material/index.ts
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.types.ts
  packages/x-scheduler/src/material/internals/components/event/Event.types.ts
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/view-switcher/ViewSwitcher.tsx
  packages/x-scheduler/src/material/internals/components/resource-legend/ResourceLegend.tsx
  packages/x-scheduler/src/material/internals/hooks/useEventCalendarContext.ts
  packages/x-scheduler/src/material/internals/utils/color-utils.ts
  packages/x-scheduler/src/material/models/events.ts
  packages/x-scheduler/src/material/models/translations.ts
  packages/x-scheduler/src/material/month-view/MonthView.test.tsx
  packages/x-scheduler/src/material/month-view/MonthView.tsx
  packages/x-scheduler/src/material/standalone-view/StandaloneView.tsx
  packages/x-scheduler/src/material/week-view/WeekView.tsx
  packages/x-scheduler/src/primitives/models/date.ts
  packages/x-scheduler/src/primitives/models/event.ts
  packages/x-scheduler/src/primitives/models/index.ts
  packages/x-scheduler/src/primitives/models/resource.ts
  packages/x-scheduler/src/primitives/models/view.ts
  packages/x-scheduler/src/primitives/use-day-list/useDayList.ts
  packages/x-scheduler/src/primitives/use-event-calendar/index.ts
  packages/x-scheduler/src/primitives/use-event-calendar/store.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useEventCalendar.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/primitives/use-week-list/useWeekList.ts
  packages/x-scheduler/src/primitives/utils/useAssertModelConsistency/index.ts
  packages/x-scheduler/src/primitives/utils/useAssertModelConsistency/useAssertModelConsistency.ts
  packages/x-scheduler/src/primitives/utils/useAssertStateValidity.ts
  packages/x-scheduler/src/primitives/utils/useEvent.ts
Labels: type: enhancement, scope: scheduler

#19020 [charts][docs] Fix broken link to D3
  docs/data/charts/stacking/stacking.md
Labels: docs, type: regression, scope: charts

#18902 [charts-pro] Fix `slotProps.tooltip.trigger` not respected in `ScatterChartPro` and `FunnelChart`
  docs/translations/api-docs/charts/charts-tooltip-container/charts-tooltip-container.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/FunnelChart/funnelSlots.types.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltip.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
Labels: type: bug, scope: charts

#19060 [charts] Fix type assertion in axis highlight components
  packages/x-charts/src/ChartsAxisHighlight/ChartsXAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsYAxisHighlight.tsx
Labels: typescript, type: enhancement, scope: charts

#19065 [datagrid] docs: improve bundling instructions
  docs/data/data-grid/quickstart/quickstart.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
Labels: docs, scope: data grid, type: enhancement

#19068 [DataGrid] Fix `renderCountry` throwing an error when used in tree data
  packages/x-data-grid-generator/src/renderer/renderCountry.tsx
Labels: docs, scope: data grid, type: regression

#19072 [bundles] Remove tracking from some modules
  scripts/dangerfileContent.ts
Labels: type: enhancement, scope: code-infra

#18940 [scheduler] Add all day events
  docs/data/scheduler/datasets/palette-demo.js
  docs/data/scheduler/datasets/palette-demo.ts
  docs/data/scheduler/datasets/personal-agenda.js
  docs/data/scheduler/datasets/personal-agenda.ts
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  packages/x-scheduler/src/material/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/material/event-calendar/EventCalendar.test.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.css
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.css
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.css
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.types.ts
  packages/x-scheduler/src/material/internals/components/event/index.css
  packages/x-scheduler/src/material/models/events.ts
  packages/x-scheduler/src/material/month-view/MonthView.css
  packages/x-scheduler/src/material/month-view/MonthView.tsx
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.css
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.tsx
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.types.ts
  packages/x-scheduler/src/primitives/models/event.ts
  packages/x-scheduler/src/primitives/use-event-calendar/store.ts
  packages/x-scheduler/src/primitives/utils/event-utils.ts
Labels: type: new feature, scope: scheduler

#18405 [DataGrid] Do not call `preProcessEditCellProps()` if cell is not editable based on `isCellEditable()`
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: type: bug, scope: data grid, feature: Editing, needs cherry-pick, v7.x

#19079 [charts] Deprecate `Unstable_` radar exports
  packages/x-charts/src/RadarChart/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#19069 [charts] Improve grouped axis logic
  packages/x-charts/src/hooks/useTicksGrouped.ts
Labels: type: enhancement, scope: charts

#19094 [virtualizer] Add missing dependency
  packages/x-virtualizer/package.json
  pnpm-lock.yaml
Labels: type: bug, core

#19004 [docs] Reduce image size in the inventory grid demo
  docs/src/modules/components/demos/data-grid/Inventory/InventoryDashboard.tsx
  docs/src/modules/components/demos/data-grid/Inventory/data/products.ts
Labels: docs, type: enhancement

#19084 [release] v8.10.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internal-gestures/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-virtualizer/package.json
Labels: release, v8.x

#19132 [infra] Fix `fs-extra` removal from `formattedTSDemos` script
  docs/scripts/formattedTSDemos.js
Labels: type: bug, scope: code-infra

#19071 [code-infra] Remove namespaces
  eslint.config.mjs
  packages/x-license/src/utils/licenseInfo.ts
  packages/x-telemetry/src/runtime/config.ts
  test/utils/addChaiAssertions.ts
Labels: typescript, type: enhancement, scope: code-infra

#18995 [core] Refactor virtualizer API
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/core/useGridStateInitialization.ts
  packages/x-data-grid/src/hooks/core/useGridVirtualizer.tsx
  packages/x-data-grid/src/hooks/features/dimensions/gridDimensionsApi.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/models/api/gridApiCommon.ts
  packages/x-virtualizer/src/features/colspan.ts
  packages/x-virtualizer/src/features/dimensions.ts
  packages/x-virtualizer/src/features/virtualization.ts
  packages/x-virtualizer/src/models/core.ts
  packages/x-virtualizer/src/models/dimensions.ts
  packages/x-virtualizer/src/useVirtualizer.tsx
Labels: core, type: enhancement

#19138 [charts] Fix Heatmap docs duplicate text
  docs/data/charts/heatmap/heatmap.md
Labels: type: enhancement, scope: charts

#19104 [support-infra] Remove default issue label
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
Labels: type: enhancement, scope: support-infra

#19140 [charts] Add Future components link in the sidebar
  docs/data/charts/gantt/gantt.md
  docs/data/charts/treemap/treemap.md
  docs/data/pages.ts
Labels: docs, type: enhancement, scope: charts

#19123 [charts] Prevent overflow on charts tooltip
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
Labels: type: bug, scope: charts

#19025 [core] Fix licensing model name
  packages/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-license/src/generateLicense/generateLicense.test.ts
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  packages/x-license/src/verifyLicense/verifyLicense.test.ts
  packages/x-license/src/verifyLicense/verifyLicense.ts
  test/performance-charts/setup.ts
  test/utils/testLicense.js
Labels: type: bug, core, package: x-license

#19156 [datagrid] Fix scroll jumping
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-virtualizer/src/features/dimensions.ts
Labels: scope: data grid, type: regression

#19148 [infra] Replace `fs-extra` with `node:fs` calls
  docs/scripts/buildServiceWorker.js
  docs/scripts/formattedTSDemos.js
  package.json
  pnpm-lock.yaml
  scripts/importDocsStatic.mjs
  test/regressions/index.test.ts
Labels: type: enhancement, scope: code-infra

#19159 [DataGrid] Fix missing rows in the print export window
  docs/data/data-grid/export/ExportDefaultToolbar.js
  docs/data/data-grid/export/ExportDefaultToolbar.tsx
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: scope: data grid, type: regression, feature: Export

#19152 [charts] Add demo for log-scale ticks without labels
  docs/data/charts/axis/GroupedYAxes.js
  docs/data/charts/axis/GroupedYAxes.tsx
  docs/data/charts/axis/TicksWithoutLabels.js
  docs/data/charts/axis/TicksWithoutLabels.tsx
  docs/data/charts/axis/axis.md
  docs/data/charts/dataset/earthquakeData.js
  docs/data/charts/dataset/earthquakeData.ts
Labels: docs, type: enhancement, scope: charts

#19185 [charts] Update animation customization docs
  docs/data/charts/animation/CSSAnimationCustomization.js
  docs/data/charts/animation/CSSAnimationCustomization.tsx
  docs/data/charts/animation/CSSAnimationCustomization.tsx.preview
  docs/data/charts/animation/animation.md
Labels: type: enhancement, scope: charts

#19088 [tree view] Fix root not loading from cache on remount
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
Labels: type: bug, scope: tree view

#19196 [tree view] Don’t overwrite childrenIds when collapsed to preserve indeterminate state of the parent
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
Labels: type: bug, scope: tree view

#19193 [DataGrid] Fix no row with id error
  packages/x-data-grid/src/components/GridRow.tsx
Labels: scope: data grid, type: regression

#19164 [release] v8.10.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-internal-gestures/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-virtualizer/package.json
Labels: release

#19203 [internal] Rename core to internal
  scripts/changelogUtils.mjs
Labels: internal, type: enhancement

#19246 [tree view] Add aria-hidden to the Tree Item Checkbox
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.types.ts
Labels: type: bug, scope: tree view

#19250 [docs] Fix links to the pyramid chart
  docs/data/charts/pyramid/Pyramid.js
  docs/data/charts/pyramid/Pyramid.tsx
  docs/data/charts/pyramid/Pyramid.tsx.preview
  docs/data/charts/pyramid/PyramidDirection.js
  docs/data/charts/pyramid/PyramidDirection.tsx
  docs/data/charts/pyramid/PyramidPlayground.js
  docs/data/charts/pyramid/PyramidPlayground.tsx
  docs/data/charts/pyramid/PyramidSegmentLinear.js
  docs/data/charts/pyramid/PyramidSegmentLinear.tsx
  docs/data/charts/pyramid/PyramidSegmentLinear.tsx.preview
  docs/data/charts/pyramid/pyramid.md
  docs/pages/x/api/charts/funnel-chart.json
  docs/pages/x/api/charts/funnel-plot.json
  docs/pages/x/react-charts/pyramid.js
Labels: type: bug, docs, scope: charts

#19244 [ai-assistant] Make it clear that the API key must be private
  docs/data/data-grid/ai-assistant/ai-assistant.md
Labels: type: bug, docs, scope: ai-assistant

#19247 [tree view] Improve the typing of the item's checkbox `slotProps`
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
Labels: accessibility, typescript, type: enhancement, scope: tree view

#19287 [pickers] RTL not applied correctly for Calendar Systems examples (works in v7.x but broken in latest version)
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
Labels: type: regression, scope: pickers

#19251 [scheduler] Allow to mark events as read-only
  docs/data/scheduler/datasets/personal-agenda.js
  docs/data/scheduler/datasets/personal-agenda.ts
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.types.ts
  packages/x-scheduler/src/primitives/models/event.ts
  packages/x-scheduler/src/primitives/use-event-calendar/store.ts
Labels: type: new feature, scope: scheduler

#19277 [DataGrid] Hide column separator of non-resizable pinned column
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: scope: data grid, type: enhancement, feature: Column resize

#19302 [internal] Add comment for Codspeed triggers
  .github/workflows/codspeed.yml
Labels: test, performance, internal, type: enhancement, scope: charts

#19303 [support-infra] Improve GitHub Action that check PRs labels
  .github/workflows/check-if-pr-has-type-label.yml
Labels: security, type: enhancement, scope: support-infra

#19221 [docs][DataGrid] Add pagination number formatting doc with a demo
  docs/data/data-grid/localization/PaginationNumberFormatting.js
  docs/data/data-grid/localization/PaginationNumberFormatting.tsx
  docs/data/data-grid/localization/PaginationNumberFormatting.tsx.preview
  docs/data/data-grid/localization/localization.md
  docs/data/data-grid/pagination/pagination.md
Labels: docs, scope: data grid, i18n, type: enhancement

#19290 [DataGrid] Fix pagination state synchronization issue
  packages/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
Labels: scope: data grid, type: regression, feature: Pagination

#19231 [scheduler][styled] Add all day events to month view
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.css
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.types.ts
  packages/x-scheduler/src/material/month-view/MonthView.test.tsx
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.css
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.tsx
  packages/x-scheduler/src/material/week-view/WeekView.test.tsx
  packages/x-scheduler/src/primitives/utils/event-utils.test.ts
Labels: type: enhancement, design, scope: scheduler

#19240 [charts] Add component to render axis labels
  docs/data/charts/radar/DemoRadarAxis.js
  docs/data/charts/radar/DemoRadarAxis.tsx
  docs/data/charts/radar/radar.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/radar-axis.js
  docs/pages/x/api/charts/radar-axis.json
  docs/translations/api-docs/charts/radar-axis/radar-axis.json
  packages/x-charts/src/RadarChart/RadarAxis/RadarAxis.tsx
  packages/x-charts/src/RadarChart/RadarAxis/RadarAxis.utils.tsx
  packages/x-charts/src/RadarChart/RadarAxis/index.tsx
  packages/x-charts/src/RadarChart/RadarAxis/radarAxisClasses.ts
  packages/x-charts/src/RadarChart/RadarAxis/useRadarAxis.ts
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/RadarGrid/useRadarGridData.ts
  packages/x-charts/src/RadarChart/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#19317 [infra] Add charts docs folder in codowner
  .github/CODEOWNERS
Labels: type: enhancement, scope: code-infra

#19338 [DataGrid] Do not add `menu` role to the empty actions menu
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
Labels: type: bug, accessibility, scope: data grid

#19269 [infra] Migrate to use eslint without airbnb config
  docs/data/data-grid/server-side-data/ServerSideTreeDataCustomCache.tsx
  docs/data/data-grid/server-side-data/ServerSideTreeDataErrorHandling.tsx
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-single-select-col-def.json
  docs/scripts/api/buildExportsDocumentation.ts
  docs/src/modules/utils/useCustomizationPlayground.tsx
  docs/src/sw.js
  docs/translations/api-docs/data-grid/grid-single-select-col-def.json
  eslint.config.mjs
  package.json
  packages/x-charts-pro/src/FunnelChart/curves/bump.ts
  packages/x-charts-pro/src/FunnelChart/curves/linear.ts
  packages/x-charts-pro/src/FunnelChart/curves/pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step-pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/useRadarSeriesData.ts
  packages/x-data-grid-generator/src/hooks/serverUtils.ts
  packages/x-data-grid-premium/src/hooks/features/export/serializer/setupExcelExportWebWorker.ts
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/scroll/useGridScroll.ts
  packages/x-data-grid/src/models/api/gridParamsApi.ts
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/utils/cleanupTracking/FinalizationRegistryBasedCleanupTracking.ts
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.ts
  packages/x-date-pickers/src/AdapterDateFnsBase/AdapterDateFnsBase.ts
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.ts
  packages/x-date-pickers/src/AdapterDateFnsJalaliV2/AdapterDateFnsJalaliV2.ts
  packages/x-date-pickers/src/AdapterDateFnsV2/AdapterDateFnsV2.ts
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.ts
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.ts
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.ts
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.ts
  packages/x-date-pickers/src/internals/models/helpers.ts
  packages/x-internal-gestures/src/core/Gesture.test.ts
  packages/x-internal-gestures/src/core/PointerManager.ts
  packages/x-internal-gestures/src/matchers/matchers/isNot.test.ts
  packages/x-internal-gestures/src/matchers/mocks/MockBadCloneGesture.ts
  packages/x-internal-gestures/src/matchers/mocks/MockBadInstanceGesture.ts
  packages/x-internal-gestures/src/matchers/mocks/MockBadOverrideGesture.ts
  packages/x-internal-gestures/src/matchers/mocks/MockBadOverrideIgnoreGesture.ts
  packages/x-internal-gestures/src/matchers/mocks/MockBadUpdateOptionsGesture.ts
  packages/x-internal-gestures/src/matchers/mocks/MockGoodGesture.ts
  packages/x-internals/src/fastArrayCompare/fastArrayCompare.ts
  packages/x-scheduler/src/primitives/utils/adapter/AdapterLuxon.ts
  packages/x-tree-view/src/internals/components/RichTreeViewItems.tsx
  packages/x-tree-view/src/internals/utils/cleanupTracking/FinalizationRegistryBasedCleanupTracking.ts
  pnpm-lock.yaml
Labels: type: enhancement, scope: code-infra

#19264 [code-infra] Set up publishing from GitHub actions
  .github/workflows/publish.yml
  scripts/README.md
Labels: type: enhancement, scope: code-infra

#19345 [internal] Update 8.10.1 changelog with missing changes
  CHANGELOG.md
Labels: internal, release

#19346 [infra] Fix publish workflow complaint
  .github/workflows/publish.yml
Labels: type: bug, scope: code-infra

#19319 [scheduler] Add support for monthly recurrence modes (BYDAY rules)
  docs/data/scheduler/datasets/personal-agenda.js
  docs/data/scheduler/datasets/personal-agenda.ts
  docs/data/scheduler/datasets/recurring-events.js
  docs/data/scheduler/datasets/recurring-events.ts
  docs/data/scheduler/event-calendar/Recurrence.js
  docs/data/scheduler/event-calendar/Recurrence.tsx
  docs/data/scheduler/event-calendar/Recurrence.tsx.preview
  docs/data/scheduler/event-calendar/event-calendar.md
  packages/x-scheduler/src/primitives/utils/date-utils.ts
  packages/x-scheduler/src/primitives/utils/recurrence-utils.test.ts
  packages/x-scheduler/src/primitives/utils/recurrence-utils.ts
Labels: type: new feature, scope: scheduler

#19323 [data grid] Fix focused column header scroll jump
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridGenericColumnHeaderItem.tsx
Labels: scope: data grid, type: regression

#18772 [DatePicker]fix firefox bug causing crash when startContainer is Restricted object
  packages/x-date-pickers/src/internals/hooks/useField/syncSelectionToDOM.ts
Labels: type: bug, scope: pickers

#19356 [scheduler] Add an indicator for the current date and time in the time grid based views
  packages/x-scheduler/src/material/agenda-view/AgendaView.css
  packages/x-scheduler/src/material/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.css
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.css
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.tsx
  packages/x-scheduler/src/material/week-view/WeekView.test.tsx
  packages/x-scheduler/src/primitives/time-grid/current-time-indicator/TimeGridCurrentTimeIndicator.tsx
  packages/x-scheduler/src/primitives/time-grid/current-time-indicator/TimeGridCurrentTimeIndicatorCssVars.ts
  packages/x-scheduler/src/primitives/time-grid/current-time-indicator/index.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/index.parts.ts
  packages/x-scheduler/src/primitives/timeline/event/TimelineEvent.tsx
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarInstance.ts
  packages/x-scheduler/src/primitives/use-event-calendar/store.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useEventCalendar.types.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useExtractEventCalendarParameters.ts
  packages/x-scheduler/src/primitives/utils/useElementPositionInCollection.ts
Labels: type: new feature, scope: scheduler

#19318 [pickers] Fix display of placeholder when label is shrunk
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/PickersInputBase.tsx
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
  packages/x-date-pickers/src/models/fields.ts
Labels: type: bug, accessibility, scope: pickers

#19365 [scheduler] Make sure the <EventCalendar /> takes all the vertical space of its parent
  docs/data/scheduler/agenda-view/BasicAgendaView.js
  docs/data/scheduler/agenda-view/BasicAgendaView.module.css
  docs/data/scheduler/agenda-view/BasicAgendaView.tsx
  docs/data/scheduler/agenda-view/BasicAgendaView.tsx.preview
  docs/data/scheduler/day-view/BasicDayView.js
  docs/data/scheduler/day-view/BasicDayView.module.css
  docs/data/scheduler/day-view/BasicDayView.tsx
  docs/data/scheduler/day-view/BasicDayView.tsx.preview
  docs/data/scheduler/event-calendar/ColorPalettes.js
  docs/data/scheduler/event-calendar/ColorPalettes.tsx
  docs/data/scheduler/event-calendar/ColorPalettes.tsx.preview
  docs/data/scheduler/event-calendar/DefaultView.js
  docs/data/scheduler/event-calendar/DefaultView.tsx
  docs/data/scheduler/event-calendar/DefaultView.tsx.preview
  docs/data/scheduler/event-calendar/DefaultVisibleDate.js
  docs/data/scheduler/event-calendar/DefaultVisibleDate.tsx
  docs/data/scheduler/event-calendar/DefaultVisibleDate.tsx.preview
  docs/data/scheduler/event-calendar/DragAndDrop.js
  docs/data/scheduler/event-calendar/DragAndDrop.tsx
  docs/data/scheduler/event-calendar/DragAndDrop.tsx.preview
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.module.css
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx.preview
  docs/data/scheduler/event-calendar/Recurrence.js
  docs/data/scheduler/event-calendar/Recurrence.tsx
  docs/data/scheduler/event-calendar/Recurrence.tsx.preview
  docs/data/scheduler/event-calendar/RemoveViews.js
  docs/data/scheduler/event-calendar/RemoveViews.tsx
  docs/data/scheduler/event-calendar/RemoveViews.tsx.preview
  docs/data/scheduler/event-calendar/Translations.js
  docs/data/scheduler/event-calendar/Translations.tsx
  docs/data/scheduler/event-calendar/Translations.tsx.preview
  docs/data/scheduler/month-view/BasicMonthView.js
  docs/data/scheduler/month-view/BasicMonthView.module.css
  docs/data/scheduler/month-view/BasicMonthView.tsx
  docs/data/scheduler/month-view/BasicMonthView.tsx.preview
  docs/data/scheduler/week-view/BasicWeekView.js
  docs/data/scheduler/week-view/BasicWeekView.module.css
  docs/data/scheduler/week-view/BasicWeekView.tsx
  docs/data/scheduler/week-view/BasicWeekView.tsx.preview
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/src/material/event-calendar/EventCalendar.css
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.css
  packages/x-scheduler/src/material/month-view/MonthView.css
Labels: type: enhancement, scope: scheduler

#19376 [scheduler] Fix store update when props change
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarInstance.ts
Labels: type: regression, scope: scheduler
