Repository mui/mui-x, pull requests merged in 2025-07, with the labels that each got.

#18600 [docs] Provide workaround for pie chart composition
  docs/data/charts/pie/pie.md
Labels: docs, type: enhancement, scope: charts

#18638 [scheduler] Fix Scheduler dark mode
  packages/x-scheduler/src/joy/styles/tokens.css
Labels: type: bug, scope: scheduler

#18653 [code-infra] Bump code-infra version and fix breaking changes
  .lintignore
  docs/data/data-grid/row-height/ExpandableCells.js
  docs/data/data-grid/row-height/ExpandableCells.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.js
  scripts/jsonlint.mjs
Labels: type: enhancement, scope: code-infra

#18661 [docs] Fix AI Assistant proxy rewrite prefix
  docs/data/data-grid/ai-assistant/ai-assistant.md
Labels: type: bug, docs, scope: data grid

#18643 [code-infra] Refactor eslint config
  eslint.config.mjs
  packages/x-date-pickers-pro/src/index.ts
Labels: type: enhancement, scope: code-infra

#18657 [core] Avoid stringifying `document` object
  packages/x-internals/src/hash/stringify.ts
Labels: core, type: enhancement

#18667 [infra] Move pushArgos script to code-infra
  package.json
  pnpm-lock.yaml
  scripts/pushArgos.mjs
Labels: scope: code-infra

#18678 [release] v8.7.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/changelogUtils.mjs
Labels: release, v8.x

#18267 [charts-pro] Add chart zoom preview
  docs/data/charts/dataset/countryData.js
  docs/data/charts/dataset/countryData.ts
  docs/data/charts/dataset/globalBirthsPerWoman.js
  docs/data/charts/dataset/globalBirthsPerWoman.ts
  docs/data/charts/dataset/globalGdpPerCapita.js
  docs/data/charts/dataset/globalGdpPerCapita.ts
  docs/data/charts/dataset/populationPrediction2050.js
  docs/data/charts/dataset/populationPrediction2050.ts
  docs/data/charts/dataset/shareOfRenewables.js
  docs/data/charts/dataset/shareOfRenewables.ts
  docs/data/charts/dataset/usUnemploymentRate.js
  docs/data/charts/dataset/usUnemploymentRate.ts
  docs/data/charts/zoom-and-pan/ZoomSliderPreview.js
  docs/data/charts/zoom-and-pan/ZoomSliderPreview.tsx
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderActiveTrack.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderPreview.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderPreviewContent.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/previews/AreaPreviewPlot.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/previews/BarPreviewPlot.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/previews/LinePreviewPlot.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/previews/PreviewPlot.types.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/previews/ScatterPreviewPlot.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/internals/constants.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisPreview.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
Labels: type: new feature, scope: charts

#18539 [docs] Add example to customise line interaction
  docs/data/charts/highlighting/ElementHighlights.js
  docs/data/charts/highlighting/ElementHighlights.tsx
  docs/data/charts/highlighting/highlighting.md
  docs/data/charts/line-demo/LargerHighlightLineNoSnap.js
  docs/data/charts/line-demo/LargerHighlightLineNoSnap.tsx
  docs/data/charts/line-demo/LargerHighlightLineNoSnap.tsx.preview
  docs/data/charts/line-demo/line-demo.md
Labels: docs, type: enhancement, scope: charts

#18676 [DataGrid] Fix `useGridSelector` missing subscription in `React.StrictMode`
  docs/next.config.ts
  packages/x-data-grid/src/hooks/utils/useGridSelector.ts
Labels: type: bug, scope: data grid, dx

#18710 [l10n] Add Indonesian (id-ID) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/idID.ts
  packages/x-data-grid/src/locales/index.ts
Labels: scope: data grid, l10n, type: enhancement

#18568 [charts-pro] Add `funnelDirection` to control pyramid direction
  docs/data/charts/funnel/FunnelCurves.js
  docs/data/charts/funnel/FunnelCurves.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelPlot.tsx
  packages/x-charts-pro/src/FunnelChart/funnel.types.ts
  packages/x-charts-pro/src/FunnelChart/seriesConfig/seriesProcessor.ts
Labels: type: new feature, plan: Pro, scope: charts

#18715 [DataGridPro] Set correct parent paths when tree is refreshed with data source tree data and row grouping
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridDataSourceRowGroupingPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/useGridDataSourceTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/utils.ts
  packages/x-data-grid-pro/src/internals/index.ts
Labels: type: bug, scope: data grid, feature: Tree data, feature: Row grouping, feature: Server integration

#18714 [charts] Increase data points in chart benchmarks
  test/performance-charts/tests/BarChart.bench.tsx
  test/performance-charts/tests/BarChartPro.bench.tsx
  test/performance-charts/tests/LineChart.bench.tsx
  test/performance-charts/tests/LineChartPro.bench.tsx
  test/performance-charts/tests/ScatterChart.bench.tsx
  test/performance-charts/tests/ScatterChartPro.bench.tsx
Labels: type: enhancement, scope: charts

#18656 [scheduler] Style events in the month view
  docs/data/scheduler/event-calendar/StandaloneAgendaView.js
  docs/data/scheduler/event-calendar/StandaloneAgendaView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.js
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/month-events.js
  docs/data/scheduler/event-calendar/month-events.ts
  docs/data/scheduler/primitives/day-grid-events.js
  docs/data/scheduler/primitives/day-grid-events.ts
  docs/data/scheduler/primitives/time-grid-events.js
  docs/data/scheduler/primitives/time-grid-events.ts
  packages/x-scheduler/src/joy/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.test.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/joy/internals/components/event/agenda-event/AgendaEvent.css
  packages/x-scheduler/src/joy/internals/components/event/agenda-event/AgendaEvent.tsx
  packages/x-scheduler/src/joy/internals/components/event/day-grid-event/DayGridEvent.css
  packages/x-scheduler/src/joy/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/joy/internals/components/event/day-grid-event/DayGridEvent.types.ts
  packages/x-scheduler/src/joy/internals/components/event/index.css
  packages/x-scheduler/src/joy/internals/components/event/index.ts
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.css
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.types.ts
  packages/x-scheduler/src/joy/models/translations.ts
  packages/x-scheduler/src/joy/month-view/MonthView.css
  packages/x-scheduler/src/joy/month-view/MonthView.test.tsx
  packages/x-scheduler/src/joy/month-view/MonthView.tsx
  packages/x-scheduler/src/joy/translations/enUS.ts
Labels: type: new feature, scope: scheduler

#18721 [docs] Improve bar chart demos on mobile
  docs/data/charts/bars/BarAnimation.js
  docs/data/charts/bars/BarAnimation.tsx
  docs/data/charts/bars/BarClick.js
  docs/data/charts/bars/BarClick.tsx
  docs/data/charts/bars/BarGap.js
  docs/data/charts/bars/BarGap.tsx
  docs/data/charts/bars/BarGradient.js
  docs/data/charts/bars/BarGradient.tsx
  docs/data/charts/bars/BarLabel.js
  docs/data/charts/bars/BarLabel.tsx
  docs/data/charts/bars/BarLabel.tsx.preview
  docs/data/charts/bars/BorderRadius.js
  docs/data/charts/bars/BorderRadius.tsx
  docs/data/charts/bars/ColorScale.js
  docs/data/charts/bars/ColorScale.tsx
  docs/data/charts/bars/CustomLabels.js
  docs/data/charts/bars/CustomLabels.tsx
  docs/data/charts/bars/CustomLabels.tsx.preview
  docs/data/charts/bars/GridDemo.js
  docs/data/charts/bars/GridDemo.tsx
  docs/data/charts/bars/HorizontalBars.js
  docs/data/charts/bars/HorizontalBars.tsx
  docs/data/charts/bars/LabelsAboveBars.js
  docs/data/charts/bars/LabelsAboveBars.tsx
  docs/data/charts/bars/LabelsAboveBars.tsx.preview
  docs/data/charts/bars/StackBars.js
  docs/data/charts/bars/StackBars.tsx
  docs/data/charts/bars/StackBars.tsx.preview
  docs/data/charts/bars/TickPlacementBars.js
  docs/data/charts/bars/TickPlacementBars.tsx
  docs/data/charts/bars/netflixsBalanceSheet.js
  docs/data/charts/bars/netflixsBalanceSheet.ts
Labels: docs, scope: charts

#17900 [charts] Add control to the axis highlight
  docs/data/charts/highlighting/ControlledAxisHighlight.js
  docs/data/charts/highlighting/ControlledAxisHighlight.tsx
  docs/data/charts/highlighting/highlighting.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/bar-chart/bar-chart.json
  docs/translations/api-docs/charts/chart-container/chart-container.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/line-chart/line-chart.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/useChartFunnelAxis.types.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartsAxisHighlight/ChartsXAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsYAxisHighlight.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.axisHighlight.test.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianHighlight.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/utils/useLazySelectorEffect.ts
  packages/x-charts/src/models/axis.ts
  packages/x-charts/src/models/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#18749 [tree view] Fix scrolling bug when lazy loading and checkboxSelection are enabled
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
Labels: type: bug, scope: tree view

#18760 [charts] Simplify radar internal hooks
  packages/x-charts/src/RadarChart/RadarAxisHighlight/RadarAxisHighlight.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/useRadarAxisHighlight.ts
Labels: scope: charts

#18800 [code-infra] Remove charts benchmarks dependency on `@testing-library/jest-dom`
  packages/x-charts-vendor/tsconfig.json
  pnpm-lock.yaml
  test/performance-charts/package.json
Labels: type: enhancement, scope: charts, scope: code-infra

#18429 [pickers] Avoid useless date creation in `AdapterDayjs`
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.ts
  test/utils/pickers/describeGregorianAdapter/testCalculations.ts
Labels: performance, scope: pickers, type: enhancement

#18810 [scheduler] Rename `<TimeGrid />` `<DayTimeGrid />` to prepare for all-day events
  packages/x-scheduler/src/joy/day-view/DayView.tsx
  packages/x-scheduler/src/joy/day-view/DayView.types.ts
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.css
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.types.ts
  packages/x-scheduler/src/joy/internals/components/day-time-grid/index.ts
  packages/x-scheduler/src/joy/internals/components/time-grid/index.ts
  packages/x-scheduler/src/joy/month-view/MonthView.types.ts
  packages/x-scheduler/src/joy/week-view/WeekView.tsx
  packages/x-scheduler/src/joy/week-view/WeekView.types.ts
Labels: type: enhancement, scope: scheduler

#18823 [pickers] Fix digital clock column width CSS
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
Labels: type: bug, scope: pickers, design

#18032 [pickers] Fix shortcuts layout in RTL mode
  docs/data/date-pickers/shortcuts/RTLShortcuts.js
  docs/data/date-pickers/shortcuts/RTLShortcuts.tsx
  docs/data/date-pickers/shortcuts/RTLShortcuts.tsx.preview
  docs/data/date-pickers/shortcuts/shortcuts.md
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
Labels: type: bug, scope: pickers, stale

#18834 [pickers] Revert CSS changes
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
Labels: type: bug, scope: pickers

#18683 [code-infra] Extend renovate preset from infra repo
  renovate.json
Labels: type: enhancement, scope: code-infra

#18837 [charts] Fix issue where charts gestures weren't properly working when inside the shadow-dom
  packages/x-charts/src/tests/web-components.test.tsx
  packages/x-charts/src/tests/web-components.ts
  packages/x-internal-gestures/src/core/Gesture.ts
  packages/x-internal-gestures/src/core/GestureManager.ts
  packages/x-internal-gestures/src/core/PointerGesture.ts
  packages/x-internal-gestures/src/core/PointerManager.ts
  packages/x-internal-gestures/src/core/gestures/MoveGesture.ts
  packages/x-internal-gestures/src/core/gestures/PanGesture.ts
  packages/x-internal-gestures/src/core/gestures/PinchGesture.ts
  packages/x-internal-gestures/src/core/gestures/PressGesture.ts
  packages/x-internal-gestures/src/core/gestures/RotateGesture.ts
  packages/x-internal-gestures/src/core/gestures/TapGesture.ts
  packages/x-internal-gestures/src/core/gestures/TurnWheelGesture.ts
  packages/x-internal-gestures/src/core/shadowRoot.test.ts
  packages/x-internal-gestures/src/core/types/TargetElement.ts
  packages/x-internal-gestures/src/testing/PointerManager.ts
Labels: type: regression, scope: charts

#18774 [scheduler] Allow to only render events from certain resources
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.test.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/store.ts
  packages/x-scheduler/src/joy/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.css
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.tsx
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.types.ts
  packages/x-scheduler/src/joy/internals/components/resource-legend/index.ts
  packages/x-scheduler/src/joy/models/resource.ts
  packages/x-scheduler/src/joy/models/translations.ts
  packages/x-scheduler/src/joy/standalone-view/StandaloneView.tsx
  packages/x-scheduler/src/joy/translations/enUS.ts
Labels: type: new feature, scope: scheduler

#18839 [infra] Remove transform-runtime from next/babel
  docs/babel.config.js
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: docs, scope: code-infra

#18844 [DataGrid] Fix row selection "exclude" model inconsistency
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: type: bug, scope: data grid, feature: Selection

#18850 [release] v8.9.1
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  scripts/changelogUtils.mjs
Labels: release

#18845 [charts] Fix crash when rendering large scatter dataset
  packages/x-charts/src/BarChart/seriesConfig/extremums.ts
  packages/x-charts/src/LineChart/seriesConfig/extremums.test.ts
  packages/x-charts/src/LineChart/seriesConfig/extremums.ts
  packages/x-charts/src/ScatterChart/seriesConfig/extremums.ts
  packages/x-charts/src/internals/findMinMax.test.ts
  packages/x-charts/src/internals/findMinMax.ts
  packages/x-charts/src/internals/index.ts
Labels: performance, type: enhancement, scope: charts

#18842 [scheduler][joy] Allow to initialize or control the visible view and date
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneAgendaView.js
  docs/data/scheduler/event-calendar/StandaloneAgendaView.tsx
  docs/data/scheduler/event-calendar/StandaloneAgendaView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneDayView.js
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneMonthView.js
  docs/data/scheduler/event-calendar/StandaloneMonthView.tsx
  docs/data/scheduler/event-calendar/StandaloneMonthView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx.preview
  docs/data/scheduler/event-calendar/events.js
  docs/data/scheduler/event-calendar/events.ts
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/src/base-ui-copy/utils/warn.ts
  packages/x-scheduler/src/joy/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/joy/agenda-view/AgendaView.types.ts
  packages/x-scheduler/src/joy/date-navigator/DateNavigator.tsx
  packages/x-scheduler/src/joy/date-navigator/DateNavigator.types.ts
  packages/x-scheduler/src/joy/day-view/DayView.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/joy/event-calendar/store.ts
  packages/x-scheduler/src/joy/event-calendar/useEventCalendar.test.ts
  packages/x-scheduler/src/joy/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.types.ts
  packages/x-scheduler/src/joy/header-toolbar/view-switcher/ViewSwitcher.tsx
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.types.ts
  packages/x-scheduler/src/joy/internals/components/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/joy/internals/components/event-popover/EventPopover.tsx
  packages/x-scheduler/src/joy/internals/components/event-popover/EventPopover.types.ts
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.tsx
  packages/x-scheduler/src/joy/internals/hooks/useAssertModelConsistency/index.ts
  packages/x-scheduler/src/joy/internals/hooks/useAssertModelConsistency/useAssertModelConsistency.ts
  packages/x-scheduler/src/joy/internals/hooks/useDateNavigation.test.ts
  packages/x-scheduler/src/joy/internals/hooks/useDateNavigation.ts
  packages/x-scheduler/src/joy/internals/hooks/useEventCalendarContext.ts
  packages/x-scheduler/src/joy/internals/hooks/useEventCalendarStore.ts
  packages/x-scheduler/src/joy/models/events.ts
  packages/x-scheduler/src/joy/models/translations.ts
  packages/x-scheduler/src/joy/models/views.ts
  packages/x-scheduler/src/joy/month-view/MonthView.test.tsx
  packages/x-scheduler/src/joy/month-view/MonthView.tsx
  packages/x-scheduler/src/joy/standalone-view/StandaloneView.tsx
  packages/x-scheduler/src/joy/week-view/WeekView.tsx
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
Labels: type: new feature, scope: scheduler

#18719 [DataGrid] Add debounce for columns panel search
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/constants/dataGridPropsDefaultValues.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/columnsVisibility.DataGrid.test.tsx
Labels: performance, scope: data grid, type: enhancement, feature: Column visibility

#18811 [scheduler][primitives] Allow to re-schedule an event in the Time Grid primitive by dragging it
  docs/data/scheduler/event-calendar/events.js
  docs/data/scheduler/event-calendar/events.ts
  docs/data/scheduler/primitives/TimeGridPrimitive.js
  docs/data/scheduler/primitives/TimeGridPrimitive.tsx
  docs/data/scheduler/primitives/TimeGridPrimitiveStartEndTime.js
  docs/data/scheduler/primitives/TimeGridPrimitiveStartEndTime.tsx
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/package.json
  packages/x-scheduler/src/base-ui-copy/utils/useForkRef.ts
  packages/x-scheduler/src/base-ui-copy/utils/useRenderElement.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/joy/event-calendar/store.ts
  packages/x-scheduler/src/joy/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/joy/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.css
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.types.ts
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumn.tsx
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumnPlaceholderContext.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.test.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/index.parts.ts
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRoot.tsx
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRootContext.ts
  packages/x-scheduler/src/primitives/time-grid/scrollable-content/TimeGridScrollableContent.tsx
  packages/x-scheduler/src/primitives/time-grid/scrollable-content/index.ts
  packages/x-scheduler/src/primitives/time-grid/use-column-placeholder/index.ts
  packages/x-scheduler/src/primitives/time-grid/use-column-placeholder/useTimeGridColumnPlaceholder.ts
  packages/x-scheduler/src/primitives/utils/date-utils.ts
  packages/x-scheduler/src/primitives/utils/drag-utils.ts
  pnpm-lock.yaml
Labels: type: new feature, scope: scheduler

#18877 [charts] Remove unnecessary type assertion in tooltip valueFormatter
  packages/x-charts/src/BarChart/seriesConfig/tooltip.ts
  packages/x-charts/src/LineChart/seriesConfig/tooltip.ts
  packages/x-charts/src/ScatterChart/seriesConfig/tooltip.ts
Labels: typescript, type: enhancement, scope: charts

#18741 [DataGridPremium] Sidebar content and state is managed the same way as for preference panel
  docs/data/data-grid/events/events.json
  docs/data/data-grid/pivoting/GridGetPivotDerivedColumns.js
  docs/data/data-grid/pivoting/GridGetPivotDerivedColumns.tsx
  docs/data/data-grid/pivoting/GridNonPivotableColumns.js
  docs/data/data-grid/pivoting/GridNonPivotableColumns.tsx
  docs/data/data-grid/pivoting/GridPivotingColumns.js
  docs/data/data-grid/pivoting/GridPivotingColumns.tsx
  docs/data/data-grid/pivoting/GridPivotingCommodities.js
  docs/data/data-grid/pivoting/GridPivotingCommodities.tsx
  docs/data/data-grid/pivoting/GridPivotingControlled.js
  docs/data/data-grid/pivoting/GridPivotingControlled.tsx
  docs/data/data-grid/pivoting/GridPivotingFinancial.js
  docs/data/data-grid/pivoting/GridPivotingFinancial.tsx
  docs/data/data-grid/pivoting/GridPivotingInitialState.js
  docs/data/data-grid/pivoting/GridPivotingInitialState.tsx
  docs/data/data-grid/pivoting/GridPivotingMovies.js
  docs/data/data-grid/pivoting/GridPivotingMovies.tsx
  docs/data/data-grid/pivoting/GridPivotingMultipleValues.js
  docs/data/data-grid/pivoting/GridPivotingMultipleValues.tsx
  docs/data/data-grid/pivoting/GridPivotingQuickStart.js
  docs/data/data-grid/pivoting/GridPivotingQuickStart.tsx
  docs/data/data-grid/pivoting/GridPivotingRows.js
  docs/data/data-grid/pivoting/GridPivotingRows.tsx
  docs/data/data-grid/pivoting/GridPivotingValues.js
  docs/data/data-grid/pivoting/GridPivotingValues.tsx
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/components/GridColumnMenuPivotItem.tsx
  packages/x-data-grid-premium/src/components/pivotPanel/GridPivotPanelHeader.tsx
  packages/x-data-grid-premium/src/components/pivotPanel/PivotPanelTrigger.tsx
  packages/x-data-grid-premium/src/components/sidebar/Sidebar.tsx
  packages/x-data-grid-premium/src/hooks/features/index.ts
  packages/x-data-grid-premium/src/hooks/features/pivoting/gridPivotingInterfaces.ts
  packages/x-data-grid-premium/src/hooks/features/pivoting/gridPivotingSelectors.ts
  packages/x-data-grid-premium/src/hooks/features/pivoting/useGridPivoting.tsx
  packages/x-data-grid-premium/src/hooks/features/sidebar/gridSidebarInterfaces.ts
  packages/x-data-grid-premium/src/hooks/features/sidebar/gridSidebarSelector.ts
  packages/x-data-grid-premium/src/hooks/features/sidebar/gridSidebarState.ts
  packages/x-data-grid-premium/src/hooks/features/sidebar/index.ts
  packages/x-data-grid-premium/src/hooks/features/sidebar/useGridSidebar.ts
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
  packages/x-data-grid-premium/src/models/gridApiPremium.ts
  packages/x-data-grid-premium/src/models/gridStatePremium.ts
  packages/x-data-grid-premium/src/typeOverloads/modules.ts
  packages/x-data-grid/src/hooks/features/pivoting/gridPivotingInterfaces.ts
  packages/x-data-grid/src/hooks/features/pivoting/gridPivotingSelectors.ts
  scripts/x-data-grid-premium.exports.json
Labels: scope: data grid, plan: Premium, feature: Rendering layout, type: enhancement, feature: Pivoting

#18890 [scheduler][primitives] Allow to expand / shrink an event duration using drag & drop in the Time Grid
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/joy/event-calendar/store.ts
  packages/x-scheduler/src/joy/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.css
  packages/x-scheduler/src/joy/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumn.tsx
  packages/x-scheduler/src/primitives/time-grid/event-resize-handler/TimeGridEventResizeHandler.tsx
  packages/x-scheduler/src/primitives/time-grid/event-resize-handler/index.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEventContext.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEventDataAttributes.ts
  packages/x-scheduler/src/primitives/time-grid/index.parts.ts
  packages/x-scheduler/src/primitives/utils/drag-utils.ts
Labels: type: new feature, scope: scheduler

#18759 [DataGridPremium] Add `privateMode` to AI assistant prompt resolver
  docs/data/data-grid/ai-assistant/ai-assistant.md
  packages/x-data-grid-premium/src/hooks/features/aiAssistant/api.ts
  packages/x-data-grid-premium/src/hooks/features/aiAssistant/gridAiAssistantInterfaces.ts
Labels: scope: data grid, plan: Premium, type: enhancement

#18919 [docs] Fix incorrect parameter name in date pickers custom components documentation from variant to pickerVariant
  docs/data/date-pickers/custom-components/custom-components.md
Labels: docs, scope: pickers, type: enhancement

#18939 [scheduler] Fix resource item hover
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.css
  packages/x-scheduler/src/joy/internals/components/resource-legend/ResourceLegend.tsx
Labels: type: enhancement, design, scope: scheduler

#18905 [l10n] Improve French (fr-FR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/frFR.ts
Labels: scope: data grid, l10n, type: enhancement

#18916 [DataGridPremium] Fix empty nested group values caused by main criterial valueFormatter
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: type: bug, scope: data grid, plan: Premium, feature: Row grouping

#18936 [scheduler][primitives] Add missing conformance test to the `TimeGridEventResizeHandler` part
  packages/x-scheduler/src/primitives/time-grid/event-resize-handler/TimeGridEventResizeHandler.test.tsx
Labels: type: enhancement, scope: scheduler

#18906 [scheduler][styled] Add a `views` prop
  docs/data/scheduler/event-calendar/RemoveViews.js
  docs/data/scheduler/event-calendar/RemoveViews.tsx
  docs/data/scheduler/event-calendar/RemoveViews.tsx.preview
  docs/data/scheduler/event-calendar/event-calendar.md
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/material/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/material/header-toolbar/view-switcher/ViewSwitcher.test.tsx
  packages/x-scheduler/src/material/internals/hooks/useAssertStateValidity.ts
  packages/x-scheduler/src/material/month-view/MonthView.test.tsx
Labels: type: new feature, scope: scheduler

#18950 [charts-pro] Fix voronoi interaction with zoom
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.ts
Labels: type: bug, scope: charts

#18910 [scheduler] Allow to pick between 12h and 24h format
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/material/event-calendar/store.ts
  packages/x-scheduler/src/material/event-calendar/useEventCalendar.ts
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/utils/adapter/AdapterLuxon.ts
  packages/x-scheduler/src/primitives/utils/adapter/types.ts
Labels: type: new feature, scope: scheduler

#18872 [scheduler] New Timeline primitive
  docs/data/scheduler/primitives/TimelinePrimitive.js
  docs/data/scheduler/primitives/TimelinePrimitive.module.css
  docs/data/scheduler/primitives/TimelinePrimitive.tsx
  docs/data/scheduler/primitives/primitives.md
  docs/data/scheduler/primitives/timeline-events.js
  docs/data/scheduler/primitives/timeline-events.ts
  packages/x-scheduler/package.json
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/timeline/cell/TimelineCell.test.tsx
  packages/x-scheduler/src/primitives/timeline/cell/TimelineCell.tsx
  packages/x-scheduler/src/primitives/timeline/cell/index.ts
  packages/x-scheduler/src/primitives/timeline/event-row/TimelineEventRow.test.tsx
  packages/x-scheduler/src/primitives/timeline/event-row/TimelineEventRow.tsx
  packages/x-scheduler/src/primitives/timeline/event-row/TimelineEventRowContext.ts
  packages/x-scheduler/src/primitives/timeline/event-row/index.ts
  packages/x-scheduler/src/primitives/timeline/event/TimelineEvent.test.tsx
  packages/x-scheduler/src/primitives/timeline/event/TimelineEvent.tsx
  packages/x-scheduler/src/primitives/timeline/event/TimelineEventCssVars.ts
  packages/x-scheduler/src/primitives/timeline/event/index.ts
  packages/x-scheduler/src/primitives/timeline/index.parts.ts
  packages/x-scheduler/src/primitives/timeline/index.ts
  packages/x-scheduler/src/primitives/timeline/root/TimelineRoot.test.tsx
  packages/x-scheduler/src/primitives/timeline/root/TimelineRoot.tsx
  packages/x-scheduler/src/primitives/timeline/root/TimelineRootContext.ts
  packages/x-scheduler/src/primitives/timeline/root/index.ts
  packages/x-scheduler/src/primitives/timeline/root/store.ts
  packages/x-scheduler/src/primitives/timeline/row/TimelineRow.test.tsx
  packages/x-scheduler/src/primitives/timeline/row/TimelineRow.tsx
  packages/x-scheduler/src/primitives/timeline/row/index.ts
  packages/x-scheduler/src/primitives/timeline/sub-grid/TimelineSubGrid.test.tsx
  packages/x-scheduler/src/primitives/timeline/sub-grid/TimelineSubGrid.tsx
  packages/x-scheduler/src/primitives/timeline/sub-grid/index.ts
  packages/x-scheduler/src/primitives/utils/useEventPosition.ts
Labels: type: new feature, scope: scheduler

#18894 [scheduler][styled] Move the private components to `src/internals/components`
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.css
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.tsx
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.types.ts
  packages/x-scheduler/src/material/internals/components/date-navigator/index.ts
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.css
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.types.ts
  packages/x-scheduler/src/material/internals/components/header-toolbar/index.ts
  packages/x-scheduler/src/material/internals/components/header-toolbar/view-switcher/ViewSwitcher.css
  packages/x-scheduler/src/material/internals/components/header-toolbar/view-switcher/ViewSwitcher.test.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/view-switcher/ViewSwitcher.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/view-switcher/index.ts
Labels: type: enhancement, scope: scheduler

#18968 [scheduler] Hide the view switcher when there is only one view
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.css
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.tsx
Labels: type: enhancement, scope: scheduler

#18966 [charts-pro] Export `ChartsWrapper` from `'./ChartsWrapper'` rather than `'./internals'`
  docs/data/charts/pie/pie.md
  docs/data/charts/radar/radar.md
  docs/data/charts/scatter/scatter.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/charts-wrapper.js
  docs/pages/x/api/charts/charts-wrapper.json
  docs/translations/api-docs/charts/charts-wrapper/charts-wrapper.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/FunnelChart/useFunnelChartProps.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/PieChartPro/PieChartPro.tsx
  packages/x-charts-pro/src/RadarChartPro/RadarChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/index.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/ChartsWrapper/ChartsWrapper.tsx
  packages/x-charts/src/ChartsWrapper/index.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/useRadarChartProps.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: bug, plan: Pro, scope: charts

#18184 [data grid] Improve types in GridEditSingleSelect
  packages/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
Labels: scope: data grid, typescript, type: enhancement

#18984 [DataGridPremium] Make `api` param for the aggregation function optional
  docs/pages/x/api/data-grid/grid-aggregation-function.json
  packages/x-data-grid-generator/src/hooks/serverUtils.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
Labels: scope: data grid, type: regression, plan: Premium, feature: Aggregation

#18974 [release] v8.9.2
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internal-gestures/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-virtualizer/package.json
Labels: release, v8.x

#18993 [charts] Animation example using `motion` library
  docs/data/charts/animation/MotionAnimationCustomization.js
  docs/data/charts/animation/MotionAnimationCustomization.tsx
  docs/data/charts/animation/animation.md
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/package.json
  test/regressions/vite.config.mts
Labels: docs, type: enhancement, scope: charts

#18961 [infra] Remove package.json `module` field
  package.json
  pnpm-lock.yaml
Labels: type: bug, scope: code-infra
