Repository mui/mui-x, pull requests merged in 2025-01, with the labels that each got.

#16053 [test] Stabilize flaky Data Grid tests
  packages/x-data-grid-premium/src/tests/statePersistence.DataGridPremium.test.tsx
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: test

#16033 [l10n] Add Chinese (Taiwan) (zh-TW) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/index.ts
  packages/x-date-pickers/src/locales/zhTW.ts
Labels: l10n, component: pickers, needs cherry-pick, v7.x

#15944 [pickers] Update `closeOnSelect` and `actionBar.actions` default values
  docs/data/date-pickers/lifecycle/lifecycle.md
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/translations/api-docs/date-pickers/date-picker/date-picker.json
  docs/translations/api-docs/date-pickers/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-pickers/date-time-picker/date-time-picker.json
  docs/translations/api-docs/date-pickers/date-time-range-picker/date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/date-pickers/desktop-date-time-range-picker/desktop-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-range-picker/mobile-date-time-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/date-pickers/time-picker/time-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.types.ts
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.types.ts
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.types.ts
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  test/e2e/index.test.ts
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: breaking change, component: pickers, enhancement, v8.x

#15930 [DataGrid] Refactor: create base button props
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterClearButton.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16084 [docs] Fix non-existing "adapter" property of LocalizationProvider
  docs/src/modules/components/overview/DateLibraries.tsx
Labels: docs, component: pickers, needs cherry-pick, v7.x

#16083 [l10n] Improve Norwegian (nb-NO) locale
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/nbNO.ts
Labels: l10n, component: pickers, needs cherry-pick

#16089 [l10n] Improve Norwegian (nb-NO) locale (#16083) (@josteinjhauge)
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers/src/locales/nbNO.ts
Labels: l10n, component: pickers, cherry-pick

#16071 [pickers] Memoize `<PickersActionBar />`
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
  packages/x-date-pickers/src/PickersLayout/usePickerLayout.tsx
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: performance, component: pickers, enhancement

#16044 [pickers] Rename `ctx.onViewChange` to `ctx.setView` and add it to the actions context
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerFieldProps.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.test.tsx
  packages/x-date-pickers/src/TimePicker/TimePickerToolbar.tsx
  packages/x-date-pickers/src/hooks/usePickerActionsContext.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useOpenState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.tsx
Labels: component: pickers

#16056 [pickers] Always use `setValue` internally to update the picker value
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
Labels: component: pickers

#16086 [DataGrid] Refactor: create tooltip props
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
Labels: component: data grid

#16097 [DataGridPremium] Improve aggregation performance for multiple columns
  packages/x-data-grid-premium/src/hooks/features/aggregation/createAggregationLookup.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregation.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
Labels: performance, component: data grid, feature: Aggregation

#16109 v7.23.6
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16110 v8.0.0-alpha.7
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16042 [pickers] Use context to pass props from the picker to the field
  docs/data/date-pickers/calendar-systems/AdapterHijri.js
  docs/data/date-pickers/calendar-systems/AdapterHijri.tsx
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.js
  docs/data/date-pickers/custom-field/BrowserV7MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.js
  docs/data/date-pickers/custom-field/JoyV6Field.tsx
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.js
  docs/data/date-pickers/custom-field/behavior-button/MaterialDateRangePicker.tsx
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.js
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.tsx
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-read-only-text-field/MaterialDatePicker.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/src/modules/components/overview/mainDemo/PickerButton.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/internals/hooks/models/useRangePicker.ts
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/models/fields.ts
  packages/x-date-pickers/src/DateField/DateField.tsx
  packages/x-date-pickers/src/DateTimeField/DateTimeField.tsx
  packages/x-date-pickers/src/TimeField/TimeField.tsx
  packages/x-date-pickers/src/hooks/useParsedFormat.ts
  packages/x-date-pickers/src/hooks/usePickerActionsContext.ts
  packages/x-date-pickers/src/hooks/usePickerContext.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldInternalPropsWithDefaults.ts
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.tsx
  packages/x-date-pickers/src/internals/hooks/useMobilePicker/useMobilePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/useNullablePickerContext.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/fields.ts
  packages/x-date-pickers/src/internals/models/manager.ts
  packages/x-date-pickers/src/internals/models/props/basePickerProps.tsx
Labels: breaking change, component: pickers

#15704 [DataGrid] refactor: theme to CSS variables
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.js
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnLeafCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRowCount.tsx
  packages/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/css/stylesToString.ts
  packages/x-data-grid/src/utils/css/themeManager.tsx
  packages/x-data-grid/src/utils/css/transformVariables.ts
  packages/x-data-grid/src/utils/css/unitLessProperties.ts
  packages/x-data-grid/src/utils/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#16119 [charts][docs] Fix wrong props warnings
  docs/data/charts/axis/CustomDomainYAxis.js
  docs/data/charts/axis/CustomDomainYAxis.tsx
  docs/data/charts/styling/ColorTemplate.js
  docs/data/charts/styling/ColorTemplate.tsx
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
Labels: docs, component: charts

#16115 [charts] Support `rtl` for gradient legend
  packages/x-charts/src/ChartsLabel/ChartsLabelGradient.test.tsx
  packages/x-charts/src/ChartsLabel/ChartsLabelGradient.tsx
Labels: enhancement, component: charts

#16117 [charts] Replace tooltip mark with new style
  docs/data/charts/styling/GradientTooltip.js
  docs/data/charts/styling/GradientTooltip.tsx
  docs/data/charts/styling/PatternPie.js
  docs/data/charts/styling/PatternPie.tsx
  docs/data/charts/styling/styling.md
  docs/data/charts/tooltip/CustomAxisTooltip.js
  docs/data/charts/tooltip/CustomAxisTooltip.tsx
  docs/data/charts/tooltip/ItemTooltipFixedY.js
  docs/data/charts/tooltip/ItemTooltipFixedY.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip.tsx
  packages/x-charts-pro/src/Heatmap/formatter.ts
  packages/x-charts/src/BarChart/formatter.ts
  packages/x-charts/src/BarChart/legend.ts
  packages/x-charts/src/ChartsTooltip/ChartsAxisTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsItemTooltipContent.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipTable.ts
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/LineChart/formatter.ts
  packages/x-charts/src/LineChart/legend.ts
  packages/x-charts/src/PieChart/formatter.ts
  packages/x-charts/src/PieChart/legend.ts
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/ScatterChart/legend.ts
  packages/x-charts/src/internals/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16122 [DataGrid] Refactor: remove missed theme
  packages/x-data-grid/src/components/panel/GridPanelContent.tsx
Labels: component: data grid

#16131 [charts] Handle case where gradient stop `offset` could be `Infinite`
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsPiecewiseGradient.tsx
Labels: enhancement, component: charts

#16158 [code-infra] Stop renovate from updating `date-fns-v2`
  renovate.json
Labels: dependencies, scope: code-infra

#16106 [charts] Make `useChartGradientId` public
  packages/x-charts/src/ChartsLegend/ContinuousColorLegend.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/context/AnimationProvider/useSkipAnimation.test.tsx
  packages/x-charts/src/context/HighlightedProvider/useHighlighted.test.tsx
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/hooks/useChartGradientId.test.tsx
  packages/x-charts/src/hooks/useChartGradientId.tsx
  packages/x-charts/src/hooks/useSeries.test.tsx
  packages/x-charts/src/hooks/useSvgRef.test.tsx
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsAxesGradients.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.test.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#15194 [docs] Add full custom field creation example
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.js
  docs/data/date-pickers/custom-field/behavior-masked-text-field/MaskedMaterialTextField.tsx
  docs/data/date-pickers/custom-field/behavior-tutorial/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-tutorial/MaterialDatePicker.tsx
  docs/data/date-pickers/custom-field/behavior-tutorial/MaterialDatePicker.tsx.preview
  docs/data/date-pickers/custom-field/custom-field.md
Labels: docs, component: pickers

#16167 [docs] Remove broken links
  docs/data/charts/legend/legend.md
Labels: docs, component: charts

#16169 [docs] Add example for custom legend
  docs/data/charts/legend/CustomLegend.js
  docs/data/charts/legend/CustomLegend.tsx
  docs/data/charts/legend/legend.md
Labels: docs, component: charts

#15666 [Data Grid] Fix row, cell and header memoizations
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/GridHeaders.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsSelector.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/virtualization/gridFocusedVirtualCellSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/utils/useGridVisibleRows.ts
  packages/x-data-grid/src/internals/constants.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/internals/utils/attachPinnedStyle.ts
  packages/x-data-grid/src/internals/utils/getPinnedCellOffset.ts
  packages/x-data-grid/src/internals/utils/index.ts
  packages/x-data-grid/src/utils/cellBorderUtils.ts
  packages/x-data-grid/src/utils/rtlFlipSide.ts
  packages/x-license/src/Watermark/Watermark.tsx
  packages/x-license/tsconfig.build.json
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  scripts/x-license.exports.json
Labels: component: data grid, CLA: signed

#16160 [code-infra] Refactor `react` and `react-dom` definitions to simplify dep resolving
  .circleci/config.yml
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#16184 [infra] Improve cherry-pick action target list
  .github/workflows/create-cherry-pick-pr.yml
Labels: bug 🐛, v5.x, v6.x, needs cherry-pick, v7.x, scope: infra

#16188 [infra] Cherry-pick of #16184
  .github/workflows/create-cherry-pick-pr.yml
Labels: bug 🐛, scope: infra

#16182 [test] Fix flaky screenshot
  test/regressions/index.test.ts
Labels: test, component: data grid

#16189 [pickers] Rename `onRangePositionChange` into `setRangePosition` in `usePickerRangePositionContext`
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTabs.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerToolbar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/models/index.ts
  packages/x-date-pickers-pro/src/internals/hooks/models/useRangePicker.ts
  packages/x-date-pickers-pro/src/internals/hooks/useEnrichedRangePickerField.ts
  packages/x-date-pickers-pro/src/internals/hooks/useRangePosition.ts
Labels: component: pickers

#16193 [DataGrid] Fix resizing right pinned column (@KenanYusuf)
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  test/regressions/data-grid/DataGridBordered.js
  test/regressions/data-grid/DataGridPinnedColumnsBordered.js
  test/regressions/data-grid/DataGridPinnedColumnsScrollbars.js
  test/regressions/data-grid/DataGridPinnedColumnsWithGap.js
  test/regressions/index.test.ts
Labels: bug 🐛, component: data grid, cherry-pick, feature: Column resize

#16180 [charts] Fix flaky charts tests
  .github/workflows/codspeed.yml
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.test.tsx
  packages/x-license/package.json
  pnpm-lock.yaml
Labels: test, component: charts

#16195 [Data Grid] Fix row, cell and header memoizations (#15666)
  docs/pages/x/api/data-grid/selectors.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/GridHeaders.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnGroupHeader.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/columnSelection/GridCellCheckboxRenderer.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/filter/gridFilterSelector.ts
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationInterfaces.ts
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPagination.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/hooks/features/rows/gridRowsSelector.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/virtualization/gridFocusedVirtualCellSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/utils/useGridVisibleRows.ts
  packages/x-data-grid/src/internals/constants.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/internals/utils/attachPinnedStyle.ts
  packages/x-data-grid/src/internals/utils/getPinnedCellOffset.ts
  packages/x-data-grid/src/internals/utils/index.ts
  packages/x-data-grid/src/utils/cellBorderUtils.ts
  packages/x-data-grid/src/utils/rtlFlipSide.ts
  packages/x-license/src/Watermark/Watermark.tsx
  packages/x-license/tsconfig.build.json
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
  scripts/x-license.exports.json
Labels: performance, component: data grid, cherry-pick

#15961 [data grid] improve scrollbar deadzone with overlay scrollbars
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
Labels: component: data grid, needs cherry-pick

#16176 [DataGridPro] Add test for column pinning with disabled column virtualization
  test/regressions/data-grid/DataGridPinnedColumnsNoVirtualization.js
Labels: test, component: data grid, plan: Pro, feature: Column pinning, needs cherry-pick, v7.x

#16173 [DataGrid] Revert: CSS variables
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.js
  docs/data/data-grid/filtering-recipes/QuickFilterOutsideOfGrid.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-premium/src/components/GridFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnFooterCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingColumnLeafCell.tsx
  packages/x-data-grid-premium/src/components/GridGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/components/GridRowCount.tsx
  packages/x-data-grid/src/components/GridSelectedRowCount.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/containers/GridOverlay.tsx
  packages/x-data-grid/src/components/containers/GridRoot.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/containers/GridToolbarContainer.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/panel/GridPanelContent.tsx
  packages/x-data-grid/src/components/panel/GridPanelFooter.tsx
  packages/x-data-grid/src/components/panel/GridPanelHeader.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/utils/css/stylesToString.ts
  packages/x-data-grid/src/utils/css/themeManager.tsx
  packages/x-data-grid/src/utils/css/transformVariables.ts
  packages/x-data-grid/src/utils/css/unitLessProperties.ts
  packages/x-data-grid/src/utils/index.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#15623 [DataGrid] Scroll restoration
  docs/data/data-grid/scrolling/ScrollRestoration.js
  docs/data/data-grid/scrolling/ScrollRestoration.tsx
  docs/data/data-grid/scrolling/ScrollRestoration.tsx.preview
  docs/data/data-grid/scrolling/scrolling.md
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/models/gridStateCommunity.ts
Labels: component: data grid, needs cherry-pick

#16099 [docs] Copyedit the Data Grid cell selection page
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/pages/x/api/data-grid/grid-cell-selection-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/hooks/features/cellSelection/gridCellSelectionInterfaces.ts
Labels: docs, component: data grid, plan: Premium

#16199 [DataGridPro] Fix width of right-pinned column group during resize
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/utils/domUtils.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Column groups, feature: Column pinning, needs cherry-pick, v7.x, feature: Column resize

#16202 [test] Fix flaky column pinning unit test
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: test, component: data grid

#16209 [test] Fix flaky column pinning unit test
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: test, component: data grid, cherry-pick

#14931 [docs] Split the Data Grid editing page
  docs/data/data-grid/clipboard/clipboard.md
  docs/data/data-grid/custom-columns/custom-columns.md
  docs/data/data-grid/editing/custom-edit-component.md
  docs/data/data-grid/editing/editing-events.md
  docs/data/data-grid/editing/editing.md
  docs/data/data-grid/editing/persistence.md
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/migration/migration-data-grid-v5/migration-data-grid-v5.md
  docs/data/migration/migration-data-grid-v6/migration-data-grid-v6.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/editing/custom-edit-component.js
  docs/pages/x/react-data-grid/editing/editing-events.js
  docs/pages/x/react-data-grid/editing/index.js
  docs/pages/x/react-data-grid/editing/persistence.js
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: docs, component: data grid, feature: Editing

#16213 [docs] Copyedit the Data Grid cell selection page (@samuelsycamore)
  docs/data/data-grid/cell-selection/cell-selection.md
  docs/pages/x/api/data-grid/grid-cell-selection-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/hooks/features/cellSelection/gridCellSelectionInterfaces.ts
Labels: docs, component: data grid, plan: Premium, cherry-pick

#16210 v8.0.0-alpha.8
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16214 [code-infra] Refactor `react` and `react-dom` definitions to simplify dep resolving (@LukasTy)
  .circleci/config.yml
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: cherry-pick, scope: code-infra

#16218 [code-infra] Update changelog script
  scripts/releaseChangelog.mjs
Labels: needs cherry-pick, v7.x, scope: code-infra

#16219 [test] Fix flaky column pinning tests
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
Labels: test, component: data grid, needs cherry-pick, v7.x

#16216 v7.24.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16223 [fields] Reset `all` selected state on section edit
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing, needs cherry-pick, v7.x

#16261 [charts] Fix hydration missmatch
  packages/x-charts/src/context/AnimationProvider/AnimationProvider.tsx
Labels: component: charts

#16257 [test] Fix flaky tests
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/preferencesPanel/useGridPreferencesPanel.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/utils/isJSDOM.ts
  packages/x-date-pickers/src/DateCalendar/tests/localization.DateCalendar.test.tsx
  packages/x-date-pickers/src/PickersCalendarHeader/PickersCalendarHeader.tsx
Labels: test, component: data grid, component: pickers, needs cherry-pick, v7.x

#16265 [core] Make `@mui/x-internals` a dependency of `@mui/x-license`
  packages/x-license/package.json
  pnpm-lock.yaml
Labels: bug 🐛, core, package: x-license, v7.x

#16262 [charts] Fix zoom option reactivity
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/creatZoomLookup.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.selectors.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
Labels: component: charts

#16268 [docs] Fix tiny line chart breaking change
  docs/data/charts/line-demo/TinyLineChart.js
  docs/data/charts/line-demo/TinyLineChart.tsx
Labels: component: charts

#16267 [DataGrid] Only try to mount filter button if there are filters present
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderFilterIconButton.tsx
  packages/x-data-grid/src/hooks/features/preferencesPanel/gridPreferencePanelSelector.ts
  packages/x-data-grid/src/hooks/features/preferencesPanel/index.ts
Labels: performance, component: data grid, needs cherry-pick, v7.x

#16270 [docs] Fix `domainLimit` definition
  docs/data/charts/axis/axis.md
Labels: docs, needs cherry-pick, v7.x, component: charts

#15757 [docs][data grid] Revise the Data Grid getting started docs
  docs/.link-check-errors.txt
  docs/data/data-grid/cells/cells.md
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
  docs/data/data-grid/demo/demo.md
  docs/data/data-grid/faq/faq.md
  docs/data/data-grid/getting-started/getting-started.md
  docs/data/data-grid/overview/overview.md
  docs/data/data-grid/performance/performance.md
  docs/data/data-grid/recipes-editing/recipes-editing.md
  docs/data/introduction/support/support.md
  docs/data/pages.ts
  docs/pages/x/react-data-grid/cells.js
Labels: docs, component: data grid, enhancement

#16274 [DataGrid] Fix toggling preference panel from toolbar
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#16229 [charts] Expand line with step interpolation
  docs/data/charts/lines/ExpandingStep.js
  docs/data/charts/lines/ExpandingStep.tsx
  docs/data/charts/lines/InterpolationDemoNoSnap.js
  docs/data/charts/lines/lines.md
  docs/pages/x/api/charts/line-series-type.json
  docs/translations/api-docs/charts/line-series-type.json
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/models/seriesType/line.ts
Labels: component: charts

#16273 [code-infra] Add 'use client' directive
  .circleci/config.yml
  package.json
  packages/rsc-builder/buildRsc.ts
  packages/rsc-builder/package.json
  packages/rsc-builder/tsconfig.json
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-data-grid-generator/src/hooks/useDemoData.ts
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-generator/src/hooks/useQuery.ts
  packages/x-data-grid-generator/src/renderer/renderEditProgress.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanel.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanels.tsx
  packages/x-data-grid/src/components/GridApiContext.ts
  packages/x-data-grid/src/components/GridConfigurationContext.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/context/GridRootPropsContext.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-license/src/Unstable_LicenseInfoProvider/MuiLicenseInfoContext.ts
Labels: scope: code-infra

#16295 [l10n] Improve Urdu (ur-PK) locale (#16081) (@AxharKhan)
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/urPK.ts
Labels: component: data grid, l10n, cherry-pick

#16299 [code-infra] Allow dispatch of manual cherry-pick workflow
  .github/workflows/create-cherry-pick-pr.yml
Labels: scope: code-infra

#16290 [docs] Revise planned feature callouts and descriptions
  docs/data/data-grid/column-groups/column-groups.md
  docs/data/data-grid/pivoting/pivoting.md
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/data/data-grid/row-ordering/row-ordering.md
  docs/data/data-grid/server-side-data/lazy-loading.md
  docs/data/date-pickers/date-range-picker/date-range-picker.md
  docs/data/date-pickers/time-range-picker/time-range-picker.md
Labels: docs, enhancement

#16307 [charts] Move legend getter to series config
  packages/x-charts-pro/src/Heatmap/plugin.ts
  packages/x-charts/src/BarChart/plugin.ts
  packages/x-charts/src/LineChart/plugin.ts
  packages/x-charts/src/PieChart/plugin.ts
  packages/x-charts/src/ScatterChart/plugin.ts
  packages/x-charts/src/hooks/useLegend.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/seriesConfig.types.ts
  pnpm-lock.yaml
Labels: component: charts

#16309 [charts] Handle case where gradient stop `offset` could be `Infinite` (@JCQuintas)
  packages/x-charts/src/internals/components/ChartsAxesGradients/ChartsPiecewiseGradient.tsx
Labels: bug 🐛, cherry-pick, component: charts

#15964 [l10n] Improve Persian (fa-IR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/faIR.ts
Labels: component: data grid, l10n, needs cherry-pick

#16312 [l10n] Improve Persian (fa-IR) locale (@mostafaRoosta74)
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/faIR.ts
Labels: component: data grid, l10n

#16316 v7.24.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16317 v8.0.0-alpha.9
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16322 [docs] Improve release documentation
  scripts/README.md
Labels: docs, core, v7.x

#15627 [DataGrid] Refactor row state propagation
  docs/data/data-grid/master-detail/FullWidthDetailPanel.js
  docs/data/data-grid/master-detail/FullWidthDetailPanel.tsx
  docs/pages/x/api/data-grid/selectors.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/gridEditingSelectors.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/utils.ts
  packages/x-data-grid/src/hooks/features/listView/useGridListView.tsx
  packages/x-data-grid/src/hooks/features/pagination/gridPaginationSelector.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/hooks/features/virtualization/gridFocusedVirtualCellSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridApiCommon.ts
  packages/x-data-grid/src/models/api/gridParamsApi.ts
  packages/x-data-grid/src/models/api/index.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/utils/roundToDecimalPlaces.ts
  packages/x-internals/src/isObjectEmpty/index.ts
  packages/x-internals/src/isObjectEmpty/isObjectEmpty.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: bug 🐛, performance, component: data grid, needs cherry-pick, v7.x

#16328 [DataGridPro] Fix the return type of `useGridApiRef` for Pro and Premium packages on React < 19
  packages/x-data-grid-premium/src/hooks/utils/useGridApiRef.ts
  packages/x-data-grid-pro/src/hooks/utils/useGridApiRef.ts
Labels: bug 🐛, component: data grid, typescript, plan: Pro, needs cherry-pick, v7.x

#16331 [charts] Move `tooltipGetter` to `seriesConfig`
  packages/x-charts-pro/src/Heatmap/plugin.ts
  packages/x-charts-pro/src/Heatmap/tooltip.ts
  packages/x-charts/src/BarChart/plugin.ts
  packages/x-charts/src/BarChart/tooltip.ts
  packages/x-charts/src/ChartsTooltip/useItemTooltip.tsx
  packages/x-charts/src/LineChart/plugin.ts
  packages/x-charts/src/LineChart/tooltip.ts
  packages/x-charts/src/PieChart/plugin.ts
  packages/x-charts/src/PieChart/tooltip.ts
  packages/x-charts/src/ScatterChart/plugin.ts
  packages/x-charts/src/ScatterChart/tooltip.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/index.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/legendGetter.types.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/seriesConfig.types.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/seriesProcessor.types.ts
  packages/x-charts/src/internals/plugins/models/seriesConfig/tooltipGetter.types.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16318 [charts] Add new `bumpX` and `bumpY` curve options
  docs/data/charts/lines/InterpolationDemoNoSnap.js
  docs/data/charts/lines/lines.md
  docs/pages/x/api/charts/charts-tooltip.json
  docs/translations/api-docs/charts/bar-series-type.json
  docs/translations/api-docs/charts/charts-tooltip/charts-tooltip.json
  docs/translations/api-docs/charts/line-series-type.json
  docs/translations/api-docs/charts/pie-series-type.json
  docs/translations/api-docs/charts/scatter-series-type.json
  packages/x-charts-pro/src/hooks/useSeries.ts
  packages/x-charts/src/ChartsTooltip/index.ts
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/PieChart/legend.ts
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/internals/getCurve.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/models/curve.ts
  packages/x-charts/src/models/index.ts
  packages/x-charts/src/models/seriesType/common.ts
  packages/x-charts/src/models/seriesType/line.ts
  packages/x-charts/src/models/seriesType/pie.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16321 [docs] Improve release documentation
  scripts/README.md
Labels: docs

#16319 [pickers] Clean the internals and the public API of `<PickersPopper />`
  docs/data/date-pickers/date-picker/examplesConfig.styling.tsx
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.types.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/internals/components/PickerPopper/PickerPopper.tsx
  packages/x-date-pickers/src/internals/components/PickerPopper/index.ts
  packages/x-date-pickers/src/internals/components/PickerPopper/pickerPopperClasses.ts
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/components/pickersPopperClasses.ts
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.tsx
  packages/x-date-pickers/src/internals/hooks/useDesktopPicker/useDesktopPicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/index.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerProvider.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.tsx
  packages/x-date-pickers/src/internals/hooks/useReduceAnimations.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/themeAugmentation/components.d.ts
  packages/x-date-pickers/src/themeAugmentation/overrides.d.ts
  packages/x-date-pickers/src/themeAugmentation/props.d.ts
  packages/x-date-pickers/src/themeAugmentation/themeAugmentation.spec.ts
Labels: breaking change, component: pickers

#16327 [pickers] Improve the JSDoc of the `PickerContextValue` properties
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerViews.tsx
Labels: component: pickers

#16356 [DataGrid] Fix order of `onClick` prop on toolbar buttons
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
Labels: bug 🐛, component: data grid, regression, needs cherry-pick, v7.x

#16297 [data grid] Fix `renderContext` calculation with scroll bounce / over-scroll
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, design, browser: Safari

#16126 [DataGrid] Fix header filters keyboard navigation when there are no rows
  packages/x-data-grid-pro/src/tests/filtering.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
Labels: bug 🐛, accessibility, component: data grid, needs cherry-pick, v7.x, feature: Filtering on header

#16360 [DataGrid] Remove outdated warning
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
Labels: component: data grid, needs cherry-pick, v7.x

#16256 [data grid] Remove unused classes from `gridClasses`
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/constants/gridClasses.ts
Labels: breaking change, component: data grid, customization: css, v8.x

#16374 [core] Reduce chart perf benchmark weight
  test/performance-charts/tests/BarChart.bench.tsx
  test/performance-charts/tests/BarChartPro.bench.tsx
  test/performance-charts/tests/LineChart.bench.tsx
  test/performance-charts/tests/LineChartPro.bench.tsx
  test/performance-charts/tests/ScatterChart.bench.tsx
  test/performance-charts/tests/ScatterChartPro.bench.tsx
Labels: component: charts

#16174 [DataGrid] Refactor: create TextField props
  docs/data/data-grid/filtering/CustomRatingOperator.js
  docs/data/data-grid/filtering/CustomRatingOperator.tsx
  docs/data/data-grid/list-view/components/Toolbar.js
  docs/data/data-grid/list-view/components/Toolbar.tsx
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docs/pages/x/api/data-grid/grid-actions-col-def.json
  docs/pages/x/api/data-grid/grid-col-def.json
  docs/pages/x/api/data-grid/grid-filter-operator.json
  docs/pages/x/api/data-grid/grid-single-select-col-def.json
  docs/pages/x/api/data-grid/grid-toolbar-quick-filter.json
  docs/translations/api-docs/data-grid/grid-toolbar-quick-filter/grid-toolbar-quick-filter.json
  packages/x-data-grid-premium/src/components/promptControl/GridToolbarPromptControl.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/x-data-grid/src/colDef/gridDateOperators.ts
  packages/x-data-grid/src/colDef/gridNumericOperators.ts
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValueProps.ts
  packages/x-data-grid/src/components/panel/filterPanel/index.ts
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/colDef/gridColDef.ts
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridFilterInputComponent.ts
  packages/x-data-grid/src/models/gridFilterOperator.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  packages/x-data-grid/src/models/index.ts
  packages/x-data-grid/src/utils/assert.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#16358 [DataGrid] Add missing style overrides (#16272)
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerContent.tsx
Labels: component: data grid, cherry-pick, customization: theme

#16066 [DataGrid] Add default background color to grid
  docs/data/data-grid/style/BackgroundColorsGrid.js
  docs/data/data-grid/style/BackgroundColorsGrid.tsx
  docs/data/data-grid/style/style.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-data-grid-pro/src/components/GridColumnHeaders.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/themeAugmentation/overrides.ts
Labels: breaking change, component: data grid, design, v8.x, customization: theme

#16101 [DataGridPro] Fetch new rows only once when multiple models are changed in one cycle
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSourceBase.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceTreeData.DataGridPro.test.tsx
Labels: component: data grid, plan: Pro, enhancement, needs cherry-pick, v7.x, feature: Server integration

#16386 [test] Fix console warnings while executing tests with React 18
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterCell.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenuContainer.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputBoolean.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputDate.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputMultipleValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputSingleSelect.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/x-data-grid/src/models/gridFilterInputComponent.ts
Labels: test, component: data grid

#16396 [DataGridPro] Fix pinned rows missing background
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, plan: Pro, feature: Row pinning

#16373 [charts] New default colors
  packages/x-charts/src/colorPalettes/colorPalettes.ts
  packages/x-charts/src/internals/defaultizeColor.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartSeries/useChartSeries.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: breaking change, enhancement, component: charts, v8.x

#16389 [charts] Make `id` optional on `PieValueType` and `ScatterValueType`
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/scatter-series-type.json
  packages/x-charts/src/PieChart/PieArcLabelPlot.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/dataTransform/transition.ts
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/PieChart/legend.ts
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/formatter.ts
  packages/x-charts/src/models/seriesType/pie.ts
  packages/x-charts/src/models/seriesType/scatter.ts
  test/performance-charts/tests/ScatterChart.bench.tsx
  test/performance-charts/tests/ScatterChartPro.bench.tsx
Labels: enhancement, component: charts

#16395 [test] Fix flaky data source tests in DataGrid
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceTreeData.DataGridPro.test.tsx
Labels: test, component: data grid, needs cherry-pick, v7.x

#16401 [docs] Fix border on corners of popular features demo
  docs/data/data-grid/demo/PopularFeaturesDemo.js
  docs/data/data-grid/demo/PopularFeaturesDemo.tsx
Labels: docs, component: data grid

#16351 [DataGrid] Refactor row state propagation (@lauri865)
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregationPreProcessors.tsx
  packages/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/gridEditingSelectors.ts
  packages/x-data-grid/src/hooks/features/editing/index.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/utils.ts
  packages/x-data-grid/src/hooks/features/listView/useGridListView.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  packages/x-data-grid/src/hooks/features/virtualization/gridFocusedVirtualCellSelector.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/models/api/gridApiCommon.ts
  packages/x-data-grid/src/models/api/gridParamsApi.ts
  packages/x-data-grid/src/models/api/index.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/utils/roundToDecimalPlaces.ts
  packages/x-data-grid/src/utils/utils.ts
  packages/x-internals/src/isObjectEmpty/index.ts
  packages/x-internals/src/isObjectEmpty/isObjectEmpty.ts
Labels: bug 🐛, performance, component: data grid, cherry-pick

#16407 [charts] Fix zoom panning
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/creatZoomLookup.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.selectors.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
Labels: bug 🐛, component: charts

#16399 [data grid] Get correct width for invisible `iconContainer`
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, feature: Sorting, needs cherry-pick, v7.x

#16382 [DataGridPro] Fetch new rows only once when multiple models are changed in one cycle (@arminmeh)
  packages/x-data-grid-generator/src/hooks/useMockServer.ts
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid-pro/src/tests/dataSource.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceTreeData.DataGridPro.test.tsx
Labels: test, component: data grid, plan: Pro, enhancement, cherry-pick, feature: Server integration

#16402 [pickers] Do not close the picker when doing keyboard editing
  packages/x-date-pickers/src/internals/hooks/useField/useFieldInternalPropsWithDefaults.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePickerValue.types.ts
Labels: bug 🐛, component: pickers

#16415 [code-infra] Ignore renovate updates for `react-docgen` package
  renovate.json
Labels: dependencies, scope: code-infra

#16392 v7.25.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16391 v8.0.0-alpha.10
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#16288 [test] Disable `react-transition-group` transitions in unit testing
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-premium/src/tests/DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/license.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid-pro/package.json
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/editComponents.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/license.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
  packages/x-data-grid/src/tests/keyboard.DataGrid.test.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  pnpm-lock.yaml
  test/package.json
  test/utils/mochaHooks.js
Labels: test, scope: code-infra
