Repository mui/mui-x, pull requests merged in 2025-05, with the labels that each got.

#17635 [code-infra] Allow postinstall scripts for packages requesting it
  package.json
Labels: enhancement, scope: code-infra

#17625 [DataGrid] Fix panel alignment
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid, regression 🐛, design

#17644 [test] Fix date-time sensitive tests
  test/utils/pickers/describeValidation/testDayViewValidation.tsx
  test/utils/pickers/describeValidation/testMonthViewValidation.tsx
  test/utils/pickers/describeValidation/testYearViewValidation.tsx
Labels: bug 🐛, test, scope: code-infra, maintenance

#17610 [charts] Add monochrome palettes
  docs/data/charts/styling/MuiColorTemplate.js
  docs/data/charts/styling/MuiColorTemplate.tsx
  packages/x-charts/src/colorPalettes/index.ts
  packages/x-charts/src/colorPalettes/sequential/blue.ts
  packages/x-charts/src/colorPalettes/sequential/cyan.ts
  packages/x-charts/src/colorPalettes/sequential/green.ts
  packages/x-charts/src/colorPalettes/sequential/orange.ts
  packages/x-charts/src/colorPalettes/sequential/pink.ts
  packages/x-charts/src/colorPalettes/sequential/purple.ts
  packages/x-charts/src/colorPalettes/sequential/red.ts
  packages/x-charts/src/colorPalettes/sequential/yellow.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#17645 Bump vite to ^6.3.4
  package.json
  pnpm-lock.yaml
Labels: dependencies

#17647 v7.29.2
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#17517 [pickers] Refactor owner state typing
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/themeAugmentation/components.ts
  packages/x-date-pickers/src/DateCalendar/PickersFadeTransitionGroup.tsx
  packages/x-date-pickers/src/DateCalendar/PickersSlideTransition.tsx
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/DayCalendarSkeleton/DayCalendarSkeleton.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
  packages/x-date-pickers/src/PickersTextField/PickersInput/PickersInput.tsx
  packages/x-date-pickers/src/TimeClock/Clock.tsx
  packages/x-date-pickers/src/TimeClock/ClockNumber.tsx
  packages/x-date-pickers/src/TimeClock/ClockPointer.tsx
  packages/x-date-pickers/src/internals/components/PickerPopper/PickerPopper.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarButton.tsx
  packages/x-date-pickers/src/internals/components/PickersToolbarText.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/helpers.ts
  packages/x-date-pickers/src/themeAugmentation/components.ts
  packages/x-date-pickers/src/themeAugmentation/props.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: bug 🐛, typescript, component: pickers

#17648 v8.2.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17652 [charts] Add population pyramid demo
  docs/data/charts/bar-demo/PopulationPyramidBarChart.js
  docs/data/charts/bar-demo/PopulationPyramidBarChart.tsx
  docs/data/charts/bar-demo/bar-demo.md
Labels: docs, enhancement, component: charts

#17360 [charts] Cleanup compiler warnings
  packages/x-charts/src/internals/plugins/featurePlugins/useChartHighlight/useChartHighlight.ts
  packages/x-charts/src/internals/plugins/models/plugin.ts
  packages/x-charts/src/internals/store/useChartModels.ts
  packages/x-charts/src/internals/store/useCharts.ts
  packages/x-internals/src/useAssertModelConsistency/index.ts
  packages/x-internals/src/useAssertModelConsistency/useAssertModelConsistency.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/utils/models.ts
Labels: component: charts, maintenance

#17546 [charts] Improve MarkElement perf
  docs/pages/x/api/charts/mark-element.json
  docs/translations/api-docs/charts/mark-element/mark-element.json
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
Labels: performance, enhancement, component: charts

#17496 [charts] Add zoom slider
  docs/data/charts/zoom-and-pan/ZoomSlider.js
  docs/data/charts/zoom-and-pan/ZoomSlider.tsx
  docs/data/charts/zoom-and-pan/ZoomSliderComposition.js
  docs/data/charts/zoom-and-pan/ZoomSliderComposition.tsx
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/chart-zoom-slider.js
  docs/pages/x/api/charts/chart-zoom-slider.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/translations/api-docs/charts/chart-zoom-slider/chart-zoom-slider.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartZoomSlider/ChartZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/index.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.test.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderHandle.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/chartAxisZoomSliderHandleClasses.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/index.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.selectors.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.test.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.types.ts
  packages/x-charts/src/constants/index.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartAxisSize.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: new feature, component: charts

#17658 [docs][charts] Fix randomised argos test
  docs/data/charts/zoom-and-pan/ZoomSliderComposition.js
  docs/data/charts/zoom-and-pan/ZoomSliderComposition.tsx
Labels: docs, enhancement, component: charts

#17655 [charts] Fix PieArcLabel not taking arcLabelRadius into account
  packages/x-charts/src/PieChart/PieArcLabel.tsx
  packages/x-charts/src/hooks/animation/useAnimatePieArcLabel.ts
Labels: bug 🐛, component: charts

#17657 [charts] fix zoom being documented as available for heatmap
  docs/pages/x/api/charts/heatmap.json
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
Labels: bug 🐛, component: charts

#17533 [core] Avoid `node` types in the built packages
  mui-env.d.ts
  packages/x-charts-pro/tsconfig.build.json
  packages/x-charts-vendor/tsconfig.json
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/tsconfig.build.json
  packages/x-data-grid-generator/tsconfig.build.json
  packages/x-data-grid-premium/tsconfig.build.json
  packages/x-data-grid-pro/tsconfig.build.json
  packages/x-data-grid/src/hooks/features/editing/useGridEditing.ts
  packages/x-data-grid/src/utils/cleanupTracking/TimerBasedCleanupTracking.ts
  packages/x-data-grid/tsconfig.build.json
  packages/x-date-pickers-pro/tsconfig.build.json
  packages/x-date-pickers/tsconfig.build.json
  packages/x-internals/tsconfig.build.json
  packages/x-license/tsconfig.build.json
  packages/x-telemetry/tsconfig.build.json
  packages/x-tree-view-pro/tsconfig.build.json
  packages/x-tree-view/tsconfig.build.json
Labels: core, enhancement, scope: code-infra

#17386 [TreeView] Continue cleaning the plugin system
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/headless/headless.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/src/modules/components/overview/tree-view/advancedFeatures/LazyLoadingDemo.tsx
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/index.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.selectors.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/index.ts
  packages/x-tree-view/src/internals/corePlugins/useTreeViewId/useTreeViewId.types.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/models/plugin.ts
  packages/x-tree-view/src/internals/models/treeView.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.utils.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewFocus/useTreeViewFocus.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewJSXItems/useTreeViewJSXItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/useTreeView/extractPluginParamsFromProps.ts
  packages/x-tree-view/src/internals/useTreeView/useExtractPluginParamsFromProps.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewBuildContext.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeViewPlugins.ts
  test/utils/tree-view/describeTreeView/describeTreeView.types.ts
Labels: core, enhancement, component: tree view

#17629 [DataGrid] Fix lazy loading crash with `isRowSelectable` prop
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: bug 🐛, component: data grid, feature: Server integration

#17615 [charts] Add charts toolbar with zoom options
  docs/data/charts/localization/data.json
  docs/data/charts/toolbar/ChartsToolbar.js
  docs/data/charts/toolbar/ChartsToolbar.tsx
  docs/data/charts/toolbar/ChartsToolbar.tsx.preview
  docs/data/charts/toolbar/randomData.js
  docs/data/charts/toolbar/randomData.ts
  docs/data/charts/toolbar/toolbar.md
  docs/data/chartsApiPages.ts
  docs/data/pages.ts
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/charts-toolbar-pro.js
  docs/pages/x/api/charts/charts-toolbar-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/toolbar-button.js
  docs/pages/x/api/charts/toolbar-button.json
  docs/pages/x/api/charts/toolbar.js
  docs/pages/x/api/charts/toolbar.json
  docs/pages/x/react-charts/toolbar.js
  docs/translations/api-docs/charts/bar-chart-pro/bar-chart-pro.json
  docs/translations/api-docs/charts/charts-toolbar-pro/charts-toolbar-pro.json
  docs/translations/api-docs/charts/line-chart-pro/line-chart-pro.json
  docs/translations/api-docs/charts/scatter-chart-pro/scatter-chart-pro.json
  docs/translations/api-docs/charts/toolbar-button/toolbar-button.json
  docs/translations/api-docs/charts/toolbar/toolbar.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/ChartsToolbarPro.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/index.ts
  packages/x-charts-pro/src/ChartsToolbarPro/internal/ChartsToolbarZoomInButton.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/internal/ChartsToolbarZoomOutButton.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/index.ts
  packages/x-charts-pro/src/internals/material/icons.tsx
  packages/x-charts-pro/src/internals/material/index.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/calculateZoom.test.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/calculateZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.types.ts
  packages/x-charts-pro/src/internals/slots/chartBaseSlotProps.ts
  packages/x-charts-pro/src/internals/slots/chartsBaseSlots.ts
  packages/x-charts-pro/src/internals/slots/chartsIconSlots.ts
  packages/x-charts-pro/src/typeOverloads/modules.ts
  packages/x-charts/src/Toolbar/Toolbar.tsx
  packages/x-charts/src/Toolbar/ToolbarButton.tsx
  packages/x-charts/src/Toolbar/index.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/createSvgIcon.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/material/index.ts
  packages/x-charts/src/locales/enUS.ts
  packages/x-charts/src/locales/frFR.ts
  packages/x-charts/src/locales/utils/chartsLocaleTextApi.ts
  packages/x-charts/src/models/index.ts
  packages/x-charts/src/models/slots/chartsBaseSlotProps.ts
  packages/x-charts/src/models/slots/chartsBaseSlots.ts
  packages/x-charts/src/models/slots/chartsIconSlots.ts
  packages/x-charts/src/models/slots/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: new feature, component: charts

#17501 [charts] Fix spark line not having clip path
  docs/data/charts/sparkline/SparklineLineWidth.js
  docs/data/charts/sparkline/SparklineLineWidth.tsx
  docs/data/charts/sparkline/sparkline.md
  docs/pages/x/api/charts/charts-clip-path.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/charts-clip-path/charts-clip-path.json
  docs/translations/api-docs/charts/spark-line-chart/spark-line-chart.json
  packages/x-charts/src/ChartsClipPath/ChartsClipPath.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
Labels: bug 🐛, component: charts

#17710 [charts] Rename materialSlots internal constant
  packages/x-charts-pro/src/ChartsToolbarPro/internal/ChartsToolbarZoomInButton.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/internal/ChartsToolbarZoomOutButton.tsx
  packages/x-charts-pro/src/internals/material/index.ts
  packages/x-charts/src/Toolbar/ToolbarButton.tsx
  packages/x-charts/src/internals/material/index.ts
Labels: enhancement, component: charts

#17682 [charts] Update zoom slider design
  docs/data/charts/zoom-and-pan/ZoomSlider.js
  docs/data/charts/zoom-and-pan/ZoomSlider.tsx
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartZoomSlider/ChartZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderHandle.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/constants/index.ts
  packages/x-charts/src/internals/constants.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartAxisSize.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#17402 [code-infra] Add pkg.pr.new publishing
  .github/workflows/ci.yml
  docs/pages/_app.js
  package.json
Labels: enhancement, scope: code-infra

#17660 [charts-pro] Add a `borderRadius` property to `FunnelChart`
  docs/data/charts/funnel/FunnelBorderRadius.js
  docs/data/charts/funnel/FunnelBorderRadius.tsx
  docs/data/charts/funnel/FunnelCurves.js
  docs/data/charts/funnel/FunnelCurves.tsx
  docs/data/charts/funnel/funnel.md
  packages/x-charts-pro/src/FunnelChart/FunnelPlot.tsx
  packages/x-charts-pro/src/FunnelChart/curves/borderRadiusPolygon.ts
  packages/x-charts-pro/src/FunnelChart/curves/bump.ts
  packages/x-charts-pro/src/FunnelChart/curves/curve.types.ts
  packages/x-charts-pro/src/FunnelChart/curves/funnelStep.ts
  packages/x-charts-pro/src/FunnelChart/curves/getFunnelCurve.ts
  packages/x-charts-pro/src/FunnelChart/curves/linear.ts
  packages/x-charts-pro/src/FunnelChart/curves/step.ts
  packages/x-charts-pro/src/FunnelChart/funnel.types.ts
  packages/x-charts-pro/src/FunnelChart/seriesConfig/getSeriesWithDefaultValues.ts
Labels: new feature, component: charts

#17719 [DateTimePicker] Fix focus behavior on desktop variant
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
Labels: regression 🐛, component: pickers, component: DateTimePicker, needs cherry-pick, v7.x

#17631 [DateRangePicker] Fix to reset range position after closing mobile Picker
  packages/x-date-pickers-pro/src/internals/hooks/useDesktopRangePicker/useDesktopRangePicker.tsx
  packages/x-date-pickers-pro/src/internals/hooks/useMobileRangePicker/useMobileRangePicker.tsx
  packages/x-date-pickers/src/internals/components/PickersModalDialog.tsx
  pnpm-lock.yaml
  test/package.json
  test/utils/pickers/describeValue/testPickerOpenCloseLifeCycle.tsx
Labels: bug 🐛, plan: Pro, component: pickers, component: DateRangePicker

#17726 [DataGrid] Fix: use CSS nonce
  packages/x-data-grid/src/utils/css/context.tsx
Labels: component: data grid, regression 🐛

#17729 [code-infra] Remove required checkout step
  .circleci/config.yml
Labels: enhancement, scope: code-infra

#17732 [DataGrid] Ignore `preProcessEditCellProps` for non-editable columns when starting a row update
  packages/x-data-grid-pro/src/tests/rowEditing.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing, needs cherry-pick, v7.x

#17735 [tree view] Bug fix - Escape does not cancel Drag n Drop
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.itemPlugin.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.test.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
Labels: bug 🐛, component: tree view

#17739 [DataGrid] Avoid applying row selection propagation on filtered rows
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
Labels: bug 🐛, component: data grid, feature: Selection, needs cherry-pick, v7.x

#17690 [DataGrid] Remove unnessary clsx() usages
  packages/x-charts/src/LineChart/AppearingMask.tsx
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/base/GridOverlays.tsx
Labels: performance, core, component: data grid, enhancement

#17715 [charts][docs] Fix weird line wrap export
  docs/data/charts/export/export.md
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
Labels: docs, enhancement, component: charts

#17744 [docs] Make preview messaging consistent in charts
  docs/data/charts/funnel/funnel.md
  docs/data/charts/radar/radar.md
  docs/data/charts/toolbar/toolbar.md
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/data/pages.ts
Labels: docs, enhancement, component: charts

#17740 v8.3.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release, v8.x

#17741 [release] v7.29.3
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release, v7.x

#17545 [DataGrid] Add `reason` param for `onRowSelectionModelChange` callback
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-row-selection-api.json
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/models/api/gridRowSelectionApi.ts
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/tests/rowSelection.DataGrid.test.tsx
Labels: bug 🐛, component: data grid, feature: Selection, support: premium standard

#17368 [DataGrid] Add a recipe to demo exporting entire data from the data grid
  docs/data/data-grid/components/export/CustomExport.js
  docs/data/data-grid/components/export/CustomExport.tsx
  docs/data/data-grid/components/export/export.md
Labels: docs, component: data grid, feature: Export, recipe

#17620 [fields] Add notch to the field outlined when the label is manually shrinked
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
Labels: regression 🐛, component: pickers

#17760 [DataGridPremium] Fix aggregation label not being used in pivot panel
  packages/x-data-grid-premium/src/components/pivotPanel/GridPivotPanelField.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Pivoting

#17239 [scheduler] Create the package and setup a private doc page
  .eslintrc.js
  babel.config.js
  docs/data/scheduler/overview/BasicEventCalendar.js
  docs/data/scheduler/overview/BasicEventCalendar.tsx
  docs/data/scheduler/overview/BasicEventCalendar.tsx.preview
  docs/data/scheduler/overview/overview.md
  docs/package.json
  docs/pages/x/react-scheduler/index.js
  docs/public/robots.txt
  packages/x-scheduler/LICENSE
  packages/x-scheduler/README.md
  packages/x-scheduler/package.json
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/index.ts
  packages/x-scheduler/src/joy/index.ts
  packages/x-scheduler/src/primitives/index.ts
  packages/x-scheduler/tsconfig.build.json
  packages/x-scheduler/tsconfig.json
  pnpm-lock.yaml
  test/regressions/package.json
  tsconfig.json
  webpackBaseConfig.js
Labels: core, enhancement, component: scheduler

#17767 [code-infra] Fix dynamic import missing extensions
  package.json
  pnpm-lock.yaml
Labels: bug 🐛, scope: code-infra

#17762 [data grid] Revert #17368
  docs/data/data-grid/components/export/CustomExport.js
  docs/data/data-grid/components/export/CustomExport.tsx
  docs/data/data-grid/components/export/export.md
Labels: bug 🐛, component: data grid

#17761 [DataGrid] Fix material augmentation not working
  packages/x-data-grid/src/index.ts
Labels: bug 🐛, component: data grid, typescript

#17774 [charts-pro] Fix ESM build issue with vite
  packages/x-charts-pro/src/index.ts
Labels: bug 🐛, component: charts

#17756 [charts-pro] add benchmark for zoomed in scatter chart
  test/performance-charts/tests/ScatterChartPro.bench.tsx
Labels: performance, enhancement, component: charts

#17759 [DataGrid] Fix column spanning jump on scroll
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
Labels: bug 🐛, component: data grid, feature: Column spanning, needs cherry-pick, v7.x

#17766 [l10n] Improve Norwegian Bokmål (nb-NO) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/nbNO.ts
Labels: component: data grid, l10n, enhancement

#17779 [DataGrid] Fix `renderContext` calculation loop
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, performance, component: data grid, needs cherry-pick, v7.x

#17484 [l10n] Improve Korean (ko-KR) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/koKR.ts
Labels: l10n

#17811 [docs] Fix translation keys documentation
  docs/data/data-grid/localization/localization.md
Labels: docs, component: data grid, l10n

#17833 [release] v8.3.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  scripts/releaseChangelog.mjs
Labels: release

#17768 [tree view] Add a method in the `apiRef` to toggle the editing status of an item
  docs/data/tree-view/rich-tree-view/editing/ApiMethodSetEditedItem.js
  docs/data/tree-view/rich-tree-view/editing/ApiMethodSetEditedItem.tsx
  docs/data/tree-view/rich-tree-view/editing/ApiMethodSetEditedItem.tsx.preview
  docs/data/tree-view/rich-tree-view/editing/editing.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/hooks/useTreeItemUtils/useTreeItemUtils.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
Labels: new feature, component: tree view

#17777 [charts] Try fix for flaky `useAnimate` test
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
Labels: bug 🐛, test, component: charts

#17781 [code-infra] Set `isolatedModules=true` in tsconfig
  docs/scripts/tsconfig.json
  docs/tsconfig.json
  packages/x-tree-view-pro/src/internals/index.ts
  tsconfig.dev.json
  tsconfig.json
  tsconfig.prod.json
Labels: bug 🐛, scope: code-infra

#17847 [code-infra] Document how to use `vitest` cli
  CONTRIBUTING.md
  test/README.md
Labels: core, enhancement, scope: code-infra

#17749 [docs] Refactor embedded Codesandbox - DataGrid Quickstart page
  docs/data/data-grid/quickstart/Codesandbox.js
  docs/data/data-grid/quickstart/RenderComponent.js
  docs/data/data-grid/quickstart/RenderComponent.tsx
  docs/data/data-grid/quickstart/RenderComponent.tsx.preview
  docs/data/data-grid/quickstart/quickstart.md
  docs/data/date-pickers/quickstart/quickstart.md
Labels: bug 🐛, docs

#16797 [DataGridPremium] Fix copy of a cell range that includes empty cells
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumProps.ts
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/models/dataGridPremiumProps.ts
Labels: component: data grid, enhancement, needs cherry-pick, CLA: signed, v7.x, feature: Clipboard

#17771 fix: [pickers] Broken shortcuts layout in RTL mode
  packages/x-date-pickers/src/PickersLayout/PickersLayout.tsx
Labels: regression 🐛, component: pickers

#17861 [docs][pickers] Fix migration guide references to range fields
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: bug 🐛, docs, component: pickers

#17863 [infra] Ensure proper docs preview path resolution
  dangerfile.js
Labels: docs, enhancement, scope: infra

#14737 [DataGrid] Fix content rendering for large rows while using automatic page size
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
Labels: bug 🐛, component: data grid, feature: Pagination, needs cherry-pick, v7.x

#17487 [scheduler][primitives] Bootstrap the Time Grid component
  .eslintrc.js
  docs/data/scheduler/overview/TimeGridPrimitives.js
  docs/data/scheduler/overview/TimeGridPrimitives.module.css
  docs/data/scheduler/overview/TimeGridPrimitives.tsx
  docs/data/scheduler/overview/overview.md
  packages/x-scheduler/package.json
  packages/x-scheduler/src/base-ui-copy/merge-props/index.ts
  packages/x-scheduler/src/base-ui-copy/merge-props/mergeProps.ts
  packages/x-scheduler/src/base-ui-copy/utils/evaluateRenderProp.ts
  packages/x-scheduler/src/base-ui-copy/utils/getStyleHookProps.ts
  packages/x-scheduler/src/base-ui-copy/utils/reactVersion.ts
  packages/x-scheduler/src/base-ui-copy/utils/resolveClassName.ts
  packages/x-scheduler/src/base-ui-copy/utils/types.ts
  packages/x-scheduler/src/base-ui-copy/utils/useEnhancedEffect.ts
  packages/x-scheduler/src/base-ui-copy/utils/useForkRef.ts
  packages/x-scheduler/src/base-ui-copy/utils/useRenderElement.tsx
  packages/x-scheduler/src/base-ui-copy/utils/useRenderPropForkRef.ts
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumn.tsx
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumnContext.ts
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumnDataAttributes.ts
  packages/x-scheduler/src/primitives/time-grid/column/index.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEventCssVars.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEventDataAttributes.ts
  packages/x-scheduler/src/primitives/time-grid/event/index.ts
  packages/x-scheduler/src/primitives/time-grid/index.parts.ts
  packages/x-scheduler/src/primitives/time-grid/index.ts
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRoot.tsx
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRootContext.ts
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRootDataAttributes.ts
  packages/x-scheduler/src/primitives/time-grid/root/index.ts
  packages/x-scheduler/src/primitives/utils/adapter/AdapterLuxon.ts
  packages/x-scheduler/src/primitives/utils/adapter/getAdapter.ts
  packages/x-scheduler/src/primitives/utils/adapter/types.ts
  packages/x-scheduler/src/primitives/utils/useLazyRef.ts
  packages/x-scheduler/src/primitives/utils/useOnEveryMinuteStart.ts
  packages/x-scheduler/src/primitives/utils/useOnMount.ts
  packages/x-scheduler/src/primitives/utils/useTimeout.ts
  pnpm-lock.yaml
Labels: new feature, component: scheduler

#17845 [core] refactor: remove manual `displayName`
  babel.config.js
  package.json
  packages/x-charts/src/ChartsLocalizationProvider/ChartsLocalizationProvider.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/context/ChartProvider/ChartContext.tsx
  packages/x-data-grid/src/components/GridApiContext.ts
  packages/x-data-grid/src/components/GridConfigurationContext.ts
  packages/x-data-grid/src/context/GridRootPropsContext.ts
  packages/x-data-grid/src/hooks/utils/useGridPrivateApiContext.ts
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-license/src/Unstable_LicenseInfoProvider/MuiLicenseInfoContext.ts
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-tree-view/src/internals/TreeViewItemDepthContext/TreeViewItemDepthContext.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewContext.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewStyleContext.ts
  packages/x-tree-view/src/internals/components/RichTreeViewItems.tsx
  pnpm-lock.yaml
Labels: core, enhancement

#17122 [DataGridPro] Add `aria-expanded` attribute to the Master detail toggle button
  packages/x-data-grid-pro/src/components/GridDetailPanelToggleCell.tsx
Labels: bug 🐛, accessibility, component: data grid, plan: Pro, needs cherry-pick, CLA: signed, v7.x

#17783 [charts] Introduce `Pyramid` chart
  docs/data/charts/funnel/PyramidFunnel.js
  docs/data/charts/funnel/PyramidFunnel.tsx
  docs/data/charts/funnel/PyramidFunnel.tsx.preview
  docs/data/charts/funnel/funnel.md
  packages/x-charts-pro/src/FunnelChart/FunnelPlot.tsx
  packages/x-charts-pro/src/FunnelChart/curves/curve.types.ts
  packages/x-charts-pro/src/FunnelChart/curves/pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step-pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step.ts
  packages/x-charts-pro/src/FunnelChart/funnel.types.ts
  packages/x-charts-pro/src/FunnelChart/seriesConfig/seriesProcessor.ts
Labels: new feature, component: charts

#17899 [DataGrid] Use `exclude` selection model type if quick filter does not have actual values
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
Labels: component: data grid, feature: Selection, enhancement

#17736 [charts-pro] Add size for zoom slider
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/internals/constants.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartAxisSize.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
Labels: enhancement, component: charts

#17897 [charts-pro] fix error when importing rasterizehtml
  packages/x-charts-pro/src/internals/plugins/useChartProExport/exportImage.ts
Labels: bug 🐛, component: charts

#17743 [DataGridPro] Prevent row state loss with server side lazy loading
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/tests/dataSourceLazyLoader.DataGridPro.test.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Selection, feature: Server integration

#17849 [charts] Improve performance in scatter chart
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.ts
Labels: enhancement, component: charts

#17894 [tree view] Add `getItemChildren` prop in `RichTreeView`
  docs/data/tree-view/rich-tree-view/items/GetItemChildren.js
  docs/data/tree-view/rich-tree-view/items/GetItemChildren.tsx
  docs/data/tree-view/rich-tree-view/items/GetItemChildren.tsx.preview
  docs/data/tree-view/rich-tree-view/items/items.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.plugins.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
Labels: new feature, component: tree view

#17909 [code-infra] Increase charts export test timeout
  test/regressions/index.test.ts
Labels: test, enhancement, scope: code-infra

#17908 [scheduler] Synchronize the Base UI utils
  .eslintrc.js
  packages/x-scheduler/src/base-ui-copy/merge-props/mergeProps.ts
  packages/x-scheduler/src/base-ui-copy/utils/evaluateRenderProp.ts
  packages/x-scheduler/src/base-ui-copy/utils/getStyleHookProps.ts
  packages/x-scheduler/src/base-ui-copy/utils/mergeObjects.ts
  packages/x-scheduler/src/base-ui-copy/utils/useEnhancedEffect.ts
  packages/x-scheduler/src/base-ui-copy/utils/useForkRef.ts
  packages/x-scheduler/src/base-ui-copy/utils/useLazyRef.ts
  packages/x-scheduler/src/base-ui-copy/utils/useOnMount.ts
  packages/x-scheduler/src/base-ui-copy/utils/useRenderElement.tsx
  packages/x-scheduler/src/base-ui-copy/utils/useRenderPropForkRef.ts
  packages/x-scheduler/src/base-ui-copy/utils/useTimeout.ts
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumn.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRoot.tsx
  packages/x-scheduler/src/primitives/utils/useOnEveryMinuteStart.ts
Labels: enhancement, component: scheduler

#17733 [charts] Add zoom slider tooltip
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderHandle.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartsTooltipZoomSliderValue.tsx
Labels: new feature, component: charts

#17904 [DataGrid] Fix tree data demo crash
  packages/x-data-grid-generator/src/renderer/renderCountry.tsx
Labels: bug 🐛, docs, component: data grid, feature: Tree data

#17911 [charts] add `isXInside` and `isYInside`
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/hooks/useTicks.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartDimensions/useChartDimensions.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
Labels: performance, enhancement, component: charts

#16568 [DataGridPro] Prevent text selection when reordering rows
  packages/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
Labels: bug 🐛, component: data grid, feature: Reordering, needs cherry-pick, CLA: signed, v7.x

#17930 [TreeView] Add missing sx prop on the Tree Item component
  docs/pages/x/api/tree-view/tree-item.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/TreeItem.types.ts
Labels: regression 🐛, component: tree view

#17848 [charts] Add grouped axes demo
  docs/data/charts/axis/GroupedAxes.js
  docs/data/charts/axis/GroupedAxes.tsx
  docs/data/charts/axis/axis.md
  docs/pages/x/api/charts/charts-axis.json
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  docs/translations/api-docs/charts/charts-axis/charts-axis.json
  docs/translations/api-docs/charts/charts-x-axis/charts-x-axis.json
  docs/translations/api-docs/charts/charts-y-axis/charts-y-axis.json
  packages/x-charts/src/ChartsAxis/axisClasses.ts
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: docs, enhancement, component: charts

#17932 [docs] Remove double border on DataGrid- Quickstart
  docs/data/data-grid/quickstart/quickstart.md
Labels: docs, component: data grid, enhancement

#17914 [fields] Ensure fresh `disabled` value is used when focusing or clicking
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContainerProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
Labels: bug 🐛, component: pickers, feature: Keyboard editing

#17816 [field] Improve the field controlled edition
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: bug 🐛, component: pickers

#17872 [scheduler][joy] Allow controlling the events
  docs/data/scheduler/overview/BasicEventCalendar.js
  docs/data/scheduler/overview/BasicEventCalendar.tsx
  docs/data/scheduler/overview/BasicEventCalendar.tsx.preview
  docs/data/scheduler/overview/TimeGridPrimitives.js
  docs/data/scheduler/overview/TimeGridPrimitives.module.css
  docs/data/scheduler/overview/TimeGridPrimitives.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/joy/models/events.ts
Labels: new feature, component: scheduler

#17915 [l10n] Improve Icelandic (is-IS) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/isIS.ts
Labels: component: data grid, l10n, enhancement

#17938 [charts-pro] Update zoom slider nomenclature
  packages/x-charts-pro/src/ChartZoomSlider/index.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderHandle.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderThumb.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/chartAxisZoomSliderHandleClasses.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/chartAxisZoomSliderThumbClasses.ts
  scripts/x-charts-pro.exports.json
Labels: enhancement, component: charts

#17902 [docs] Add introductory text to Data Grid component pages
  docs/data/data-grid/components/ai-assistant-panel/ai-assistant-panel.md
  docs/data/data-grid/components/columns-panel/columns-panel.md
  docs/data/data-grid/components/export/export.md
  docs/data/data-grid/components/filter-panel/filter-panel.md
  docs/data/data-grid/components/pivot-panel/pivot-panel.md
  docs/data/data-grid/components/prompt-field/prompt-field.md
  docs/data/data-grid/components/quick-filter/quick-filter.md
  docs/data/data-grid/components/toolbar/toolbar.md
Labels: docs, component: data grid, enhancement

#17942 [pickers] Fix `PickersTextField` overflow
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
Labels: bug 🐛, component: pickers, needs cherry-pick, v7.x

#17917 [docs][charts] Reorganize the Tooltip documentation
  docs/data/charts/tooltip/tooltip.md
  docs/data/migration/migration-charts-v7/migration-charts-v7.md
Labels: docs, enhancement, component: charts

#17934 [DataGrid] Fix disabled typography variants crashing grid
  packages/x-data-grid/src/material/variables.ts
  packages/x-data-grid/src/utils/css/context.tsx
Labels: component: data grid, regression 🐛, customization: theme

#17933 [charts] Clean and document Heatmap Tooltip
  docs/data/charts/heatmap/heatmap.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/heatmap-tooltip-content.js
  docs/pages/x/api/charts/heatmap-tooltip-content.json
  docs/translations/api-docs/charts/heatmap-tooltip-content/heatmap-tooltip-content.json
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip/HeatmapTooltip.classes.ts
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip/HeatmapTooltip.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip/HeatmapTooltip.types.ts
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip/HeatmapTooltipContent.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip/index.ts
  scripts/x-charts-pro.exports.json
Labels: enhancement, component: charts

#17638 [docs] Add a recipe for drag and drop row grouping
  docs/data/data-grid/components/toolbar/GridToolbarRowGrouping.js
  docs/data/data-grid/components/toolbar/GridToolbarRowGrouping.tsx
  docs/data/data-grid/components/toolbar/GridToolbarRowGrouping.tsx.preview
  docs/data/data-grid/components/toolbar/toolbar.md
  docs/data/data-grid/recipes-row-grouping/recipes-row-grouping.md
  packages/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/toolbarV8/Toolbar.tsx
  packages/x-data-grid/src/components/toolbarV8/utils.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/models/events/gridEventLookup.ts
  packages/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: docs, component: data grid, feature: Row grouping, enhancement, recipe, feature: Toolbar

#17947 [DataGridPro] Row reordering icon improvements
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  packages/x-data-grid-pro/src/components/GridRowReorderCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/gridClasses.ts
Labels: component: data grid, feature: Reordering, enhancement, design

#17944 [docs] Fix derived column pivoting demo crash
  docs/data/data-grid/pivoting/GridGetPivotDerivedColumns.js
  docs/data/data-grid/pivoting/GridGetPivotDerivedColumns.tsx
  docs/data/data-grid/pivoting/GridPivotingFinancial.js
  docs/data/data-grid/pivoting/GridPivotingFinancial.tsx
Labels: bug 🐛, docs, component: data grid

#17903 [code-infra] Enable `babel-plugin-display-name` in vitest
  babel.config.js
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumnContext.ts
  packages/x-scheduler/src/primitives/time-grid/root/TimeGridRootContext.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  pnpm-lock.yaml
  vitest.shared.mts
Labels: test, core, enhancement, scope: code-infra

#17963 v7.29.4
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  scripts/README.md
Labels: release

#17754 [code-infra] Add bundle size monitor
  .circleci/config.yml
  .eslintrc.js
  dangerfile.js
  package.json
  packages/x-data-grid-premium/src/themeAugmentation/index.js
  packages/x-data-grid-pro/src/themeAugmentation/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/dangerfileContent.ts
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/webpack.config.js
  scripts/tsconfig.json
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
Labels: performance, new feature, scope: code-infra

#17851 [charts] Only update store if interaction item is different
  packages/x-charts/src/internals/plugins/featurePlugins/useChartHighlight/useChartHighlight.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.ts
Labels: enhancement, component: charts

#17949 [charts-pro] Add range selection to zoom slider
  docs/data/charts/zoom-and-pan/ZoomSlider.js
  docs/data/charts/zoom-and-pan/ZoomSlider.tsx
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
Labels: new feature, component: charts

#17916 [charts-pro] Allow exporting a heatmap chart
  docs/data/charts/export/ExportChartAsImage.tsx
  docs/data/charts/export/ExportCompositionNoSnap.tsx
  docs/data/charts/export/PrintChart.js
  docs/data/charts/export/PrintChart.tsx
  docs/data/charts/export/PrintChart.tsx.preview
  docs/data/charts/export/export.md
  docs/data/charts/export/heatmapData.js
  docs/data/charts/export/heatmapData.ts
  packages/x-charts-pro/src/ChartContainerPro/ChartContainerPro.tsx
  packages/x-charts-pro/src/ChartContainerPro/ChartProApi.ts
  packages/x-charts-pro/src/ChartContainerPro/index.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.plugins.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
Labels: new feature, component: charts

#17972 [DateRangePicker] Allow to override the format in the field
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
Labels: bug 🐛, component: pickers, component: DateRangePicker

#17974 [docs] Fix scatter shape demo causing horizontal overflow
  docs/data/charts/scatter/ScatterCustomShape.js
  docs/data/charts/scatter/ScatterCustomShape.tsx
Labels: bug 🐛, docs, component: charts

#17979 [DataGrid][Pagination] Remove unnecessary `any` type
  packages/x-data-grid/src/components/GridPagination.tsx
Labels: component: data grid, typescript, feature: Pagination, enhancement

#17982 [charts] Use Map for string cache instead of object
  packages/x-charts/src/internals/domUtils.ts
  packages/x-charts/src/internals/index.ts
  test/setupVitest.ts
  test/utils/mochaHooks.js
Labels: enhancement, component: charts

#18002 [docs] Fix light/dark mode blink on pickers overview
  docs/src/modules/components/overview/pickers/MainDemo.tsx
Labels: docs, component: pickers, enhancement

#18011 [charts-pro] Split `ChartAxisZoomSlider` into smaller files
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderActiveTrack.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderTrack.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/constants.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/zoom-utils.test.ts
  packages/x-charts-pro/src/ChartZoomSlider/internals/zoom-utils.ts
Labels: enhancement, component: charts

#17987 [charts][docs] Fix Population pyramid demo
  docs/data/charts/bar-demo/PopulationPyramidBarChart.js
  docs/data/charts/bar-demo/PopulationPyramidBarChart.tsx
Labels: bug 🐛, docs, component: charts

#18004 [charts] Expose ChartApi through context
  packages/x-charts-pro/src/ChartContainerPro/ChartProApi.ts
  packages/x-charts-pro/src/context/useChartApiContext.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/context/index.ts
  packages/x-charts/src/context/useChartApiContext.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#18034 [charts] Export `useFunnelSeries` and `useRadarSeries`
  packages/x-charts-pro/src/hooks/index.ts
  packages/x-charts/src/hooks/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: new feature, plan: Pro, component: charts

#18030 [charts-pro] Allow configuring zoom slider tooltip
  docs/data/charts/zoom-and-pan/ZoomSliderTooltip.js
  docs/data/charts/zoom-and-pan/ZoomSliderTooltip.tsx
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts-pro/src/index.ts
  packages/x-charts-pro/src/models/index.ts
  packages/x-charts/src/internals/constants.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeZoom.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/zoom.types.ts
  scripts/x-charts-pro.exports.json
Labels: new feature, component: charts

#18042 [code-infra] Prepare chai import for chai v5
  test/utils/addChaiAssertions.ts
Labels: core, enhancement, scope: code-infra

#17975 [scheduler][joy] Add a Week View
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.module.css
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx.preview
  packages/x-scheduler/src/base-ui-copy/composite/CompositeRootContext.ts
  packages/x-scheduler/src/base-ui-copy/utils/useButton.ts
  packages/x-scheduler/src/base-ui-copy/utils/useModernLayoutEffect.ts
  packages/x-scheduler/src/base-ui-copy/utils/useRootElementName.ts
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/index.css
  packages/x-scheduler/src/joy/index.ts
  packages/x-scheduler/src/joy/styles/tokens.css
  packages/x-scheduler/src/joy/utils/date-utils.ts
  packages/x-scheduler/src/joy/week-view/WeekView.css
  packages/x-scheduler/src/joy/week-view/WeekView.tsx
  packages/x-scheduler/src/joy/week-view/WeekView.types.ts
  packages/x-scheduler/src/joy/week-view/index.ts
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/utils/adapter/useAdapter.ts
Labels: new feature, component: scheduler

#18049 [infra] Improve release changelog generation
  scripts/releaseChangelog.mjs
Labels: enhancement, scope: infra

#17950 [DataGridPro] Fix pinned columns order in column management
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinningPreProcessors.ts
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsSelector.ts
Labels: bug 🐛, component: data grid, feature: Column pinning, needs cherry-pick, CLA: signed, v7.x

#18044 v7.29.5
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release
