Repository mui/mui-x, pull requests merged in 2025-06, with the labels that each got.

#18054 [charts-pro] Show axis value in zoom slider tooltip
  docs/data/charts/zoom-and-pan/ZoomSlider.js
  docs/data/charts/zoom-and-pan/ZoomSlider.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderActiveTrack.tsx
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/invertScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/models/axis.ts
Labels: bug 🐛, component: charts

#18071 [code-infra] Replace `mocha` with `vitest` on e2e and regression tests
  packages/x-codemod/package.json
  test/e2e/.mocharc.js
  test/e2e/index.test.ts
  test/e2e/package.json
  test/e2e/vite.config.js
  test/e2e/vite.config.mts
  test/regressions/.mocharc.js
  test/regressions/index.test.ts
  test/regressions/package.json
  test/regressions/vite.config.mts
  vitest.shared.mts
Labels: core, enhancement, scope: code-infra

#18194 [code-infra] Remove `istanbul` references
  babel.config.js
  package.json
  packages/x-scheduler/src/primitives/utils/adapter/AdapterLuxon.ts
  pnpm-lock.yaml
Labels: core, enhancement, scope: code-infra

#17959 [l10n] Improve Arabic (ar-SD) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/arSD.ts
Labels: l10n, enhancement

#18207 [code-infra] Fix act warnings in DataGrid/toolbar
  packages/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: test, type: general, scope: infra

#17558 [DataGrid] Keep pipe pre-processors execution order when callback reference changes
  docs/data/data-grid/column-pinning/ColumnPinningAutogeneratedColumns.js
  docs/data/data-grid/column-pinning/ColumnPinningAutogeneratedColumns.tsx
  docs/data/data-grid/column-pinning/ColumnPinningAutogeneratedColumns.tsx.preview
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/row-grouping/row-grouping.md
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanelPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorderPreProcessors.ts
  packages/x-data-grid-pro/src/hooks/features/serverSideTreeData/useGridDataSourceTreeDataPreProcessors.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/x-data-grid/src/hooks/core/pipeProcessing/useGridPipeProcessing.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelectionPreProcessors.ts
Labels: component: data grid, feature: State management, type: improvement, needs cherry-pick, v7.x

#18220 [scheduler] Add temporary dark mode styles (view switcher) and standalone week view demo
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.module.css
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx.preview
  docs/data/scheduler/event-calendar/event-calendar.md
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.css
  packages/x-scheduler/src/joy/header-toolbar/view-switcher/ViewSwitcher.css
  packages/x-scheduler/src/joy/week-view/WeekView.tsx
Labels: docs, type: improvement, scope: scheduler

#18223 [charts] Let line series propagate null from the dataset
  packages/x-charts/src/BarChart/seriesConfig/seriesProcessor.ts
Labels: type: bug, scope: charts

#18247 [charts-pro] Render the toolbar in the heatmap chart
  docs/pages/x/api/charts/heatmap.json
  docs/translations/api-docs/charts/heatmap/heatmap.json
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
Labels: type: improvement, scope: charts

#18245 [release] v8.5.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: type: release

#18235 [DataGrid][charts] Remove sx prop merging from `useComponentRenderer`
  packages/x-internals/src/useComponentRenderer/useComponentRenderer.test.tsx
  packages/x-internals/src/useComponentRenderer/useComponentRenderer.tsx
Labels: scope: data grid, type: enhancement, scope: charts

#18178 [charts] Add a default value formatter for continuous scales
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSliderActiveTrack.tsx
  packages/x-charts/src/internals/defaultValueFormatters.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/models/axis.ts
Labels: type: enhancement, scope: charts

#18259 v7.29.6
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release

#18265 [code-infra] Revert `React` to `19.0.0`
  docs/package.json
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-scheduler/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
  test/e2e/package.json
  test/package.json
  test/performance-charts/package.json
  test/regressions/package.json
Labels: dependencies, type: enhancement, scope: code-infra

#18243 [charts-pro] Use ChartsToolbarPro types in pro charts
  docs/data/charts/export/populationGdpPerCapitaData.js
  docs/pages/x/api/charts/radar-chart-pro.json
  docs/pages/x/api/charts/radar-chart.json
  docs/translations/api-docs/charts/radar-chart-pro/radar-chart-pro.json
  docs/translations/api-docs/charts/radar-chart/radar-chart.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/ChartsToolbarPro.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/Toolbar.types.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/PieChartPro/PieChartPro.tsx
  packages/x-charts-pro/src/RadarChartPro/RadarChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/RadarChart/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#17954 [DataGridPro] Fix inconsistent filtering results with aggregation
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
Labels: type: bug, scope: data grid, feature: Filtering, feature: Tree data, feature: Aggregation

#18292 [x-telemetry][docs] Reduce Telemetry overhead
  docs/data/guides/telemetry/telemetry.md
  packages/x-telemetry/src/runtime/events.ts
Labels: docs, performance, type: enhancement, package: x-telemetry

#18295 [charts] Fix grid with band scale
  packages/x-charts/src/ChartsGrid/ChartsGrid.test.tsx
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
Labels: type: bug, scope: charts

#18293 [DataGridPro] Fix flex column width if it is a pinned column
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/columns/gridColumnsUtils.ts
Labels: scope: data grid, plan: Pro, type: regression, feature: Rendering layout, feature: Column pinning, needs cherry-pick, CLA: signed, v7.x

#18230 [internal] Use a single browser server in CI
  .circleci/config.yml
  package.json
  packages/x-charts-pro/vitest.config.browser.mts
  packages/x-charts/vitest.config.browser.mts
  packages/x-data-grid-premium/vitest.config.browser.mts
  packages/x-data-grid-pro/vitest.config.browser.mts
  packages/x-data-grid/vitest.config.browser.mts
  packages/x-date-pickers-pro/vitest.config.browser.mts
  packages/x-date-pickers/vitest.config.browser.mts
  packages/x-license/vitest.config.browser.mts
  packages/x-scheduler/vitest.config.browser.mts
  packages/x-telemetry/vitest.config.browser.mts
  packages/x-tree-view-pro/vitest.config.browser.mts
  packages/x-tree-view/vitest.config.browser.mts
  pnpm-lock.yaml
  scripts/playwrightLaunchServer.mjs
  test/e2e/package.json
  test/performance-charts/package.json
  test/regressions/package.json
  vitest.config.mts
Labels: test, core, scope: code-infra

#18310 [DataGrid] Fix data grid palette when using CSS vars
  packages/x-data-grid/src/material/variables.ts
Labels: type: bug, scope: data grid, customization: theme

#18261 [charts-pro] Document zoom slider tooltip value formatting
  docs/data/charts/zoom-and-pan/ZoomSliderTooltip.js
  docs/data/charts/zoom-and-pan/ZoomSliderTooltip.tsx
  docs/data/charts/zoom-and-pan/zoom-and-pan.md
  packages/x-charts/src/models/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#18297 [docs] Add toolbar custom trigger and panel recipe
  docs/data/data-grid/components/toolbar/GridToolbarCustomPanel.js
  docs/data/data-grid/components/toolbar/GridToolbarCustomPanel.tsx
  docs/data/data-grid/components/toolbar/GridToolbarCustomPanel.tsx.preview
  docs/data/data-grid/components/toolbar/toolbar.md
Labels: scope: data grid, type: enhancement, recipe

#18317 [charts] Remove unnecessary style changes in tests
  packages/x-charts-pro/src/BarChartPro/BarChartPro.zoom.test.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.zoom.test.tsx
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/BarChart/checkClickEvent.test.tsx
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/LineChart/checkClickEvent.test.tsx
  packages/x-charts/src/PieChart/checkClickEvent.test.tsx
  packages/x-charts/src/ScatterChart/checkClickEvent.test.tsx
Labels: type: enhancement, scope: charts

#18319 [code-infra] Align Node version used in CI to v22
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/l10n.yml
  netlify.toml
Labels: type: enhancement, scope: code-infra

#18233 [charts-pro] Funnel gap keep boundary
  docs/pages/x/api/charts/funnel-chart.json
  docs/pages/x/api/charts/funnel-plot.json
  docs/translations/api-docs/charts/funnel-chart/funnel-chart.json
  docs/translations/api-docs/charts/funnel-plot/funnel-plot.json
  packages/x-charts-pro/src/FunnelChart/FunnelChart.plugins.ts
  packages/x-charts-pro/src/FunnelChart/FunnelChart.test.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelChart.tsx
  packages/x-charts-pro/src/FunnelChart/FunnelPlot.tsx
  packages/x-charts-pro/src/FunnelChart/categoryAxis.types.ts
  packages/x-charts-pro/src/FunnelChart/checkClickEvent.test.tsx
  packages/x-charts-pro/src/FunnelChart/curves/bump.ts
  packages/x-charts-pro/src/FunnelChart/curves/linear.ts
  packages/x-charts-pro/src/FunnelChart/curves/pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step-pyramid.ts
  packages/x-charts-pro/src/FunnelChart/curves/step.ts
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/computeAxisValue.ts
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/useChartFunnelAxis.ts
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/useChartFunnelAxis.types.ts
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/useChartFunnelAxisRendering.selectors.ts
  packages/x-charts-pro/src/FunnelChart/labelUtils.ts
  packages/x-charts-pro/src/FunnelChart/positionGetter.ts
  packages/x-charts-pro/src/FunnelChart/useFunnelChartProps.ts
  packages/x-charts/src/internals/index.ts
  scripts/x-charts-pro.exports.json
Labels: plan: Pro, type: enhancement, scope: charts

#18343 [scheduler][joy] Small misalignment in "All day" cell on Windows
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.css
Labels: type: bug, scope: scheduler

#18242 [pickers] Add `inputSizeSmall` to classes interface
  packages/x-date-pickers/src/PickersTextField/PickersInputBase/pickersInputBaseClasses.ts
Labels: type: bug, typescript, scope: pickers

#18341 [infra] Stabilise tests by removing babel and plugins from vitest
  package.json
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/slots.DataGrid.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/e2e/vite.config.mts
  test/performance-charts/package.json
  test/regressions/vite.config.mts
  vitest.shared.mts
Labels: type: enhancement, scope: code-infra

#18048 [charts] Make scatter chart use data attributes
  docs/data/charts/heatmap/heatmap.md
  docs/data/charts/scatter/ScatterCSSSelectors.js
  docs/data/charts/scatter/ScatterCSSSelectors.tsx
  docs/data/charts/scatter/ScatterCSSSelectors.tsx.preview
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/scatter.json
  docs/translations/api-docs/charts/scatter/scatter.json
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/index.ts
  packages/x-charts/src/ScatterChart/scatterClasses.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: docs, type: enhancement, scope: charts

#18357 [scheduler] Fix data attributes in `<TimeGrid.Event />`
  docs/data/scheduler/primitives/DayGridPrimitives.js
  docs/data/scheduler/primitives/DayGridPrimitives.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
Labels: type: bug, scope: scheduler

#18360 [scheduler][joy] Fix `ariaLabelledBy` prop of Event in `<TimeGrid />`
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.test.tsx
  packages/x-scheduler/src/joy/event/Event.tsx
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.tsx
Labels: type: bug, a11y, scope: scheduler

#18350 [scheduler][joy] Allow to group events by resource
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneDayView.js
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx.preview
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.types.ts
  packages/x-scheduler/src/joy/event/Event.css
  packages/x-scheduler/src/joy/event/Event.tsx
  packages/x-scheduler/src/joy/event/Event.types.ts
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/joy/header-toolbar/view-switcher/ViewSwitcher.tsx
  packages/x-scheduler/src/joy/index.ts
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.tsx
  packages/x-scheduler/src/joy/internals/utils/TranslationsContext.tsx
  packages/x-scheduler/src/joy/internals/utils/color-utils.ts
  packages/x-scheduler/src/joy/internals/utils/date-utils.ts
  packages/x-scheduler/src/joy/models/events.ts
  packages/x-scheduler/src/joy/models/resource.ts
  packages/x-scheduler/src/joy/models/views.ts
  packages/x-scheduler/src/joy/styles/colors.css
Labels: type: new feature, scope: scheduler

#18065 [DataGrid] Fix column menu scroll close
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnMenuContainer.tsx
  packages/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
Labels: scope: data grid, type: regression

#18327 [data grid] Fix export menu button tooltip being interactive when menu is open
  packages/x-data-grid/src/components/toolbarV8/GridToolbar.tsx
  packages/x-data-grid/src/models/gridBaseSlots.ts
Labels: scope: data grid, type: enhancement

#18331 [charts-premium] Add initial package for `x-charts-premium`
  .eslintrc.js
  .github/workflows/codspeed.yml
  README.md
  babel.config.js
  docs/data/introduction/licensing/licensing.md
  docs/package.json
  docs/pages/_app.js
  docs/scripts/createXTypeScriptProjects.ts
  docs/src/modules/components/ChartsInstallationInstructions.js
  packages/x-charts-premium/LICENSE
  packages/x-charts-premium/README.md
  packages/x-charts-premium/package.json
  packages/x-charts-premium/src/index.ts
  packages/x-charts-premium/tsconfig.build.json
  packages/x-charts-premium/tsconfig.json
  packages/x-charts-premium/vitest.config.browser.mts
  packages/x-charts-premium/vitest.config.jsdom.mts
  packages/x-license/src/useLicenseVerifier/useLicenseVerifier.test.tsx
  pnpm-lock.yaml
  scripts/buildApiDocs/chartsSettings/getComponentInfo.ts
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/printPkgPrNewPublishDirs.mts
  scripts/releaseChangelog.mjs
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
  test/e2e/package.json
  test/package.json
  test/performance-charts/package.json
  test/regressions/package.json
  tsconfig.json
  tsconfig.prod.json
  webpackBaseConfig.js
Labels: type: new feature, plan: Premium, scope: charts

#18344 [charts] Allow `tabIndex` in surface and legend
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/ChartsLegend/ContinuousColorLegend.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
Labels: type: enhancement, scope: charts

#18420 [core] Fix pnpm valelint error
  CHANGELOG.md
  docs/data/date-pickers/overview/overview.md
  docs/data/scheduler/event-calendar/event-calendar.md
  docs/data/scheduler/overview/overview.md
  docs/data/scheduler/primitives/primitives.md
Labels: type: bug, core

#18363 [docs][pickers] Fix adapter version resolving when opening demo to edit
  docs/package.json
  docs/src/modules/utils/adapter-dependencies.json
  docs/src/modules/utils/postProcessImport.test.ts
  docs/src/modules/utils/postProcessImport.ts
  scripts/buildPickerAdapterDeps.ts
Labels: docs, type: regression, scope: pickers

#18419 [DataGrid] Fix page size issue with data source
  packages/x-data-grid/src/hooks/features/dataSource/utils.ts
Labels: type: bug, scope: data grid, feature: Server integration

#18358 [scheduler][primitives] Allow to configure the visible hour in the Time Grid primitive
  docs/data/scheduler/primitives/DayGridPrimitive.js
  docs/data/scheduler/primitives/DayGridPrimitive.module.css
  docs/data/scheduler/primitives/DayGridPrimitive.tsx
  docs/data/scheduler/primitives/TimeGridPrimitive.js
  docs/data/scheduler/primitives/TimeGridPrimitive.module.css
  docs/data/scheduler/primitives/TimeGridPrimitive.tsx
  docs/data/scheduler/primitives/TimeGridPrimitiveStartEndTime.js
  docs/data/scheduler/primitives/TimeGridPrimitiveStartEndTime.tsx
  docs/data/scheduler/primitives/day-grid-events.js
  docs/data/scheduler/primitives/day-grid-events.ts
  docs/data/scheduler/primitives/primitives.md
  docs/data/scheduler/primitives/time-grid-events.js
  docs/data/scheduler/primitives/time-grid-events.ts
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumn.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/utils/date-utils.ts
Labels: type: new feature, scope: scheduler

#18407 [scheduler] Move the data management to a store with selectors
  docs/data/scheduler/event-calendar/StandaloneDayView.js
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx.preview
  packages/x-scheduler/package.json
  packages/x-scheduler/src/base-ui-copy/utils/store/Store.ts
  packages/x-scheduler/src/base-ui-copy/utils/store/createSelector.ts
  packages/x-scheduler/src/base-ui-copy/utils/store/index.ts
  packages/x-scheduler/src/base-ui-copy/utils/store/useSelector.ts
  packages/x-scheduler/src/base-ui-copy/utils/useEventCallback.ts
  packages/x-scheduler/src/joy/day-view/DayView.tsx
  packages/x-scheduler/src/joy/day-view/DayView.types.ts
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-calendar/store.ts
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/joy/header-toolbar/HeaderToolbar.types.ts
  packages/x-scheduler/src/joy/header-toolbar/view-switcher/ViewSwitcher.tsx
  packages/x-scheduler/src/joy/header-toolbar/view-switcher/ViewSwitcher.types.ts
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.tsx
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.types.ts
  packages/x-scheduler/src/joy/internals/hooks/useEventCalendarStore.ts
  packages/x-scheduler/src/joy/models/views.ts
  packages/x-scheduler/src/joy/standalone-view/StandaloneView.tsx
  packages/x-scheduler/src/joy/standalone-view/index.ts
  packages/x-scheduler/src/joy/week-view/WeekView.tsx
  packages/x-scheduler/src/joy/week-view/WeekView.types.ts
  pnpm-lock.yaml
Labels: performance, scope: scheduler

#18440 [docs] Fix 404 in charts docs
  docs/data/charts/localization/localization.md
  docs/data/charts/radar/radar.md
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/chart-data-provider.json
Labels: type: bug, docs, scope: charts

#18444 [code-infra] Strengthen `URL` usage for test config
  packages/x-date-pickers-pro/vitest.config.browser.mts
  packages/x-date-pickers-pro/vitest.config.jsdom.mts
  packages/x-date-pickers/vitest.config.browser.mts
  packages/x-date-pickers/vitest.config.jsdom.mts
  packages/x-internal-gestures/vitest.config.browser.mts
  vitest.shared.mts
Labels: type: enhancement, scope: code-infra

#18448 [release] v8.5.3
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internal-gestures/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release, v8.x

#18395 [scheduler] Add event editing inside a popover
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneDayView.js
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx
  docs/data/scheduler/event-calendar/StandaloneDayView.tsx.preview
  docs/data/scheduler/event-calendar/StandaloneWeekView.js
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx
  docs/data/scheduler/event-calendar/StandaloneWeekView.tsx.preview
  docs/pages/x/react-scheduler/full-screen-event-calendar.js
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.css
  packages/x-scheduler/src/joy/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.css
  packages/x-scheduler/src/joy/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.types.ts
  packages/x-scheduler/src/joy/event-popover/index.ts
  packages/x-scheduler/src/joy/event/Event.css
  packages/x-scheduler/src/joy/event/Event.tsx
  packages/x-scheduler/src/joy/event/Event.types.ts
  packages/x-scheduler/src/joy/index.css
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.tsx
  packages/x-scheduler/src/joy/internals/components/time-grid/TimeGrid.types.ts
  packages/x-scheduler/src/joy/internals/utils/EventPopoverProvider.tsx
  packages/x-scheduler/src/joy/models/events.ts
  packages/x-scheduler/src/joy/models/translations.ts
  packages/x-scheduler/src/joy/standalone-view/StandaloneView.tsx
  packages/x-scheduler/src/joy/styles/colors.css
  packages/x-scheduler/src/joy/styles/index.css
  packages/x-scheduler/src/joy/styles/tokens.css
  packages/x-scheduler/src/joy/translations/enUS.ts
Labels: type: new feature, scope: scheduler

#18457 [pickers] Add `usePickerAdapter` hook
  docs/data/date-pickers/custom-components/UsePickerAdapter.js
  docs/data/date-pickers/custom-components/UsePickerAdapter.tsx
  docs/data/date-pickers/custom-components/UsePickerAdapter.tsx.preview
  docs/data/date-pickers/custom-components/custom-components.md
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
  packages/x-date-pickers/src/hooks/index.tsx
  packages/x-date-pickers/src/hooks/usePickerAdapter.ts
  packages/x-date-pickers/src/internals/demo/DemoContainer.tsx
  packages/x-date-pickers/src/internals/hooks/useUtils.ts
  packages/x-date-pickers/src/validation/useValidation.ts
  scripts/x-date-pickers-pro.exports.json
  scripts/x-date-pickers.exports.json
Labels: type: new feature, scope: pickers

#18462 [infra] Use `String.raw` for creating the remote regex
  scripts/createReleasePR.mjs
Labels: type: bug, needs cherry-pick, v7.x, scope: support-infra

#18300 [DataGrid] Fix grid menu not closing when pressing escape/tab
  packages/x-data-grid-pro/src/components/headerFiltering/GridHeaderFilterMenu.tsx
  packages/x-data-grid/src/components/cell/GridActionsCell.tsx
  packages/x-data-grid/src/components/menu/GridMenu.tsx
  packages/x-data-grid/src/components/menu/columnMenu/GridColumnHeaderMenu.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
Labels: type: bug, a11y, scope: data grid

#18229 [DataGrid][docs] Update indeterminate checkbox section in migration guide
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
Labels: docs, scope: data grid, type: enhancement

#18495 [infra] Adjust inquirer version and usage
  package.json
  pnpm-lock.yaml
  scripts/createReleasePR.mjs
Labels: type: enhancement, needs cherry-pick, v7.x, scope: code-infra

#18409 [charts] Add data-series to elements of line chart
  docs/data/charts/lines/CSSCustomization.js
  docs/data/charts/lines/CSSCustomization.tsx
  docs/data/charts/lines/lines.md
  packages/x-charts/src/LineChart/AnimatedArea.tsx
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
Labels: type: enhancement, scope: charts

#18432 [charts] Add data-series to pie charts
  docs/data/charts/pie/PieCSSStyling.js
  docs/data/charts/pie/PieCSSStyling.tsx
  docs/data/charts/pie/PieCSSStyling.tsx.preview
  docs/data/charts/pie/pie.md
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PiePlot.tsx
  packages/x-charts/src/PieChart/index.ts
  packages/x-charts/src/PieChart/pieClasses.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#18413 [charts] Add data-series to bar charts
  docs/data/charts/bars/BarGradient.js
  docs/data/charts/bars/BarGradient.tsx
  docs/data/charts/bars/BarGradient.tsx.preview
  docs/data/charts/bars/bars.md
  packages/x-charts/src/BarChart/AnimatedBarElement.tsx
  packages/x-charts/src/BarChart/BarLabel/BarLabelPlot.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/barClasses.ts
  packages/x-charts/src/BarChart/index.ts
  packages/x-charts/src/BarChart/types.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: type: enhancement, scope: charts

#18500 [charts-pro] Fix iframe not being removed after print export
  packages/x-charts-pro/src/internals/plugins/useChartProExport/print.ts
Labels: type: bug, scope: charts

#18499 [charts] Improve `PanGesture` delta tracking and setup gesture infra
  babel.config.js
  docs/pages/_app.js
  packages/x-internal-gestures/src/core/gestures/PanGesture.ts
  scripts/printPkgPrNewPublishDirs.mts
  tsconfig.json
  tsconfig.prod.json
  webpackBaseConfig.js
Labels: type: enhancement, scope: charts

#18505 [docs][pickers] Update action bar demo to use the `nextOrAccept` action
  docs/data/date-pickers/custom-components/ActionBarComponent.js
  docs/data/date-pickers/custom-components/ActionBarComponent.tsx
  docs/data/date-pickers/custom-components/custom-components.md
  docs/pages/x/api/date-pickers/pickers-action-bar.json
  packages/x-date-pickers/src/PickersActionBar/PickersActionBar.tsx
Labels: docs, scope: pickers, type: enhancement

#18494 [scheduler] Use Input and Form base UI in the edit event popover + delete button
  packages/x-scheduler/src/joy/event-popover/EventPopover.css
  packages/x-scheduler/src/joy/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.types.ts
  packages/x-scheduler/src/joy/internals/utils/EventPopoverProvider.tsx
  packages/x-scheduler/src/joy/models/translations.ts
  packages/x-scheduler/src/joy/styles/index.css
  packages/x-scheduler/src/joy/styles/tokens.css
  packages/x-scheduler/src/joy/translations/enUS.ts
Labels: type: enhancement, scope: scheduler

#18513 [charts][gestures] Improve cancel handler
  packages/x-internal-gestures/src/core/GestureManager.ts
  packages/x-internal-gestures/src/core/PointerManager.ts
  packages/x-internal-gestures/src/core/gestures/PanGesture.ts
  packages/x-internal-gestures/src/core/gestures/PinchGesture.ts
  packages/x-internal-gestures/src/core/gestures/PressGesture.ts
  packages/x-internal-gestures/src/core/gestures/RotateGesture.ts
  packages/x-internal-gestures/src/core/gestures/TapGesture.ts
  packages/x-internal-gestures/src/core/types/InternalEvent.ts
  packages/x-internal-gestures/src/core/utils/isOS.ts
Labels: type: enhancement, scope: charts

#18512 [core] avoid json stringify whole window object
  packages/x-internals/src/hash/stringify.ts
Labels: type: bug, scope: data grid

#18521 [scheduler] Improve accessibility for shared error in the Edit Popover
  packages/x-scheduler/src/joy/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/joy/event-popover/EventPopover.tsx
Labels: a11y, type: enhancement, scope: scheduler

#18175 [data grid] Fix `label` type in GridActionsCellItem type
  packages/x-data-grid/src/components/cell/GridActionsCellItem.tsx
  packages/x-data-grid/src/tests/cells.spec.tsx
Labels: type: bug, scope: data grid, typescript

#18531 [charts] Improve touch behavior for polar axis
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
Labels: type: enhancement, scope: charts

#18544 [release] v7.29.7
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release, v7.x

#18553 [infra] Add `test_package` to fix CI
  .circleci/config.yml
Labels: type: enhancement, scope: code-infra

#18388 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
Labels: scope: data grid, l10n, type: enhancement

#18541 [charts] Extract bar and line plot logic into reusable hooks
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/useBarPlotData.ts
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/useAreaPlotData.ts
  packages/x-charts/src/LineChart/useLinePlotData.ts
  packages/x-charts/src/internals/index.ts
Labels: type: enhancement, scope: charts

#18522 [charts] Extract plot logic into separate files for reuse
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/useScatterPlotData.ts
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/internals/index.ts
Labels: type: enhancement, scope: charts

#17480 [charts-pro] Zoom pointer improvements
  packages/x-charts-premium/tsconfig.build.json
  packages/x-charts-pro/package.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ChartZoomSlider/internals/ChartAxisZoomSlider.tsx
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/useChartFunnelAxis.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.zoom.test.tsx
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/gestureHooks/usePanOnDrag.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/gestureHooks/useZoom.utils.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/gestureHooks/useZoomOnPinch.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/gestureHooks/useZoomOnWheel.ts
  packages/x-charts-pro/src/internals/plugins/useChartProZoom/useChartProZoom.ts
  packages/x-charts-pro/tsconfig.build.json
  packages/x-charts/package.json
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  packages/x-charts/src/ChartsTooltip/utils.tsx
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/corePlugins/corePlugins.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartInteractionListener/index.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartInteractionListener/useChartInteractionListener.ts
  packages/x-charts/src/internals/plugins/corePlugins/useChartInteractionListener/useChartInteractionListener.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.ts
  packages/x-charts/tsconfig.build.json
  pnpm-lock.yaml
  vitest.shared.mts
Labels: type: enhancement, scope: charts

#18565 [charts-pro] Rename `useChartApiContext` to `useChartProApiContext`
  docs/data/charts/export/ExportChartAsImage.tsx
  docs/data/charts/export/ExportChartToolbarCustomization.tsx
  docs/data/charts/export/PrintChart.tsx
  docs/data/charts/toolbar/ChartsToolbarCustomToolbar.js
  docs/data/charts/toolbar/ChartsToolbarCustomToolbar.tsx
  packages/x-charts-pro/src/ChartContainerPro/index.ts
  packages/x-charts-pro/src/ChartsToolbarPro/ChartsToolbarImageExportTrigger.tsx
  packages/x-charts-pro/src/ChartsToolbarPro/ChartsToolbarPrintExportTrigger.tsx
  packages/x-charts-pro/src/context/ChartProApi.ts
  packages/x-charts-pro/src/context/index.ts
  packages/x-charts-pro/src/context/useChartProApiContext.ts
  packages/x-charts-pro/src/hooks/useChartProApiRef.ts
  packages/x-charts-pro/src/index.ts
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/index.ts
  packages/x-charts/src/context/ChartApi.ts
  packages/x-charts/src/context/index.ts
  packages/x-charts/src/context/useChartApiContext.ts
  packages/x-charts/src/index.ts
  scripts/x-charts-pro.exports.json
Labels: type: bug, plan: Pro, scope: charts

#18548 [l10n] Add Greek (el-GR) locale to charts
  docs/data/charts/localization/data.json
  packages/x-charts/src/locales/elGR.ts
  packages/x-charts/src/locales/index.ts
Labels: l10n, type: enhancement, scope: charts

#18204 docs: Add MCP stub
  docs/data/introduction/mcp.md
  docs/data/pages.ts
  docs/pages/x/introduction/mcp.js
Labels: docs

#18549 [pickers] Support different `start` and `end` `referenceDate` props on range components
  docs/data/date-pickers/base-concepts/ReferenceDateRange.js
  docs/data/date-pickers/base-concepts/ReferenceDateRange.tsx
  docs/data/date-pickers/base-concepts/ReferenceDateRange.tsx.preview
  docs/data/date-pickers/base-concepts/base-concepts.md
  docs/pages/x/api/date-pickers/date-range-calendar.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-range-picker.json
  docs/pages/x/api/date-pickers/multi-input-date-range-field.json
  docs/pages/x/api/date-pickers/multi-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/multi-input-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-range-field.json
  docs/pages/x/api/date-pickers/single-input-date-time-range-field.json
  docs/pages/x/api/date-pickers/single-input-time-range-field.json
  docs/pages/x/api/date-pickers/static-date-range-picker.json
  docs/pages/x/api/date-pickers/time-range-picker.json
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/DesktopTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/MobileTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/MultiInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/MultiInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/SingleInputDateRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/SingleInputDateTimeRangeField.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/SingleInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePickerTimeWrapper.tsx
  packages/x-date-pickers-pro/src/internals/utils/date-range-manager.ts
  packages/x-date-pickers-pro/src/internals/utils/valueManagers.ts
  packages/x-date-pickers/src/internals/hooks/useClockReferenceDate.ts
  packages/x-date-pickers/src/internals/hooks/useControlledValue.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/models/manager.ts
Labels: plan: Pro, scope: pickers, type: enhancement

#18605 [scheduler] Fix Argos regression tests
  packages/x-scheduler/src/joy/styles/tokens.css
Labels: type: bug, scope: scheduler

#18608 [docs][pickers] Add mention of theme augmentation in relevant migration section
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
Labels: docs, scope: pickers, type: enhancement
