Repository mui/mui-x, pull requests merged in 2025-10, with the labels that each got.

#19769 [DataGrid] Fix toolbar slotProps not being applied
  packages/x-data-grid/src/components/toolbarV8/GridToolbar.tsx
Labels: type: bug, scope: data grid

#19672 [charts][docs] Add overview section for pie chart
  docs/data/charts/pie/TitanicPie.js
  docs/data/charts/pie/TitanicPie.tsx
  docs/data/charts/pie/pie.md
Labels: docs, type: enhancement, scope: charts

#19788 [code-infra] Cleanup unused dependencies
  docs/next-env.d.ts
  package.json
  packages/x-charts-vendor/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/importDocsStatic.mjs
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
  test/regressions/package.json
Labels: type: enhancement, scope: code-infra

#19792 [docs-infra] Add `title` knob
  docs/data/charts/zoom-and-pan/ZoomAndPanInteractions.js
  docs/data/charts/zoom-and-pan/ZoomAndPanInteractions.tsx
  docs/src/modules/components/ChartsUsageDemo.tsx
  docs/src/modules/components/DemoPropsForm.tsx
Labels: type: enhancement, scope: docs-infra

#19776 [scheduler][styled] Add toggle for side panel
  docs/data/scheduler/event-calendar/AllDay.js
  docs/data/scheduler/event-calendar/AllDay.tsx
  docs/data/scheduler/event-calendar/AllDay.tsx.preview
  docs/data/scheduler/event-calendar/ColorPalettes.js
  docs/data/scheduler/event-calendar/ColorPalettes.tsx
  docs/data/scheduler/event-calendar/ColorPalettes.tsx.preview
  docs/data/scheduler/event-calendar/DefaultView.js
  docs/data/scheduler/event-calendar/DefaultView.tsx
  docs/data/scheduler/event-calendar/DefaultView.tsx.preview
  docs/data/scheduler/event-calendar/DefaultVisibleDate.js
  docs/data/scheduler/event-calendar/DefaultVisibleDate.tsx
  docs/data/scheduler/event-calendar/DefaultVisibleDate.tsx.preview
  docs/data/scheduler/event-calendar/DragAndDrop.js
  docs/data/scheduler/event-calendar/DragAndDrop.tsx
  docs/data/scheduler/event-calendar/DragAndDrop.tsx.preview
  docs/data/scheduler/event-calendar/PreferencesMenu.js
  docs/data/scheduler/event-calendar/PreferencesMenu.tsx
  docs/data/scheduler/event-calendar/PreferencesMenu.tsx.preview
  docs/data/scheduler/event-calendar/Recurrence.js
  docs/data/scheduler/event-calendar/Recurrence.tsx
  docs/data/scheduler/event-calendar/Recurrence.tsx.preview
  docs/data/scheduler/event-calendar/RemoveViews.js
  docs/data/scheduler/event-calendar/RemoveViews.tsx
  docs/data/scheduler/event-calendar/RemoveViews.tsx.preview
  docs/data/scheduler/event-calendar/Translations.js
  docs/data/scheduler/event-calendar/Translations.tsx
  docs/data/scheduler/event-calendar/Translations.tsx.preview
  packages/x-scheduler/src/material/event-calendar/EventCalendar.css
  packages/x-scheduler/src/material/event-calendar/EventCalendar.tsx
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.css
  packages/x-scheduler/src/material/internals/components/date-navigator/DateNavigator.tsx
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.css
  packages/x-scheduler/src/material/internals/components/header-toolbar/HeaderToolbar.tsx
  packages/x-scheduler/src/material/models/translations.ts
  packages/x-scheduler/src/material/styles/components/buttons.css
  packages/x-scheduler/src/material/translations/enUS.ts
  packages/x-scheduler/src/primitives/models/preferences.ts
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarStore.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/preferences.EventCalendarStore.test.ts
Labels: type: new feature, design, scope: scheduler

#19803 [code-infra] Support custom npm dist tags during release
  .github/workflows/publish.yml
  docs/package.json
  package.json
  pnpm-lock.yaml
  scripts/README.md
Labels: type: enhancement, scope: code-infra

#19387 [pickers] Fixed the extra element for the disabled date picker
  packages/x-date-pickers/src/internals/hooks/useField/useFieldRootProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
  test/e2e/fixtures/DatePicker/DesktopDatePickerDisabledField.tsx
  test/e2e/index.test.ts
Labels: type: bug, accessibility, scope: pickers, stale

#19404 [code-infra] Improve publishing docs
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/README.md
Labels: type: enhancement, scope: code-infra

#19837 [code-infra] Remove tsconfig `baseUrl`
  scripts/buildApiDocs/tsconfig.json
  tsconfig.json
Labels: type: enhancement, scope: code-infra

#19789 [charts] Remove min/max from ordinal configuration
  docs/pages/x/api/charts/axis-config.json
  docs/pages/x/api/charts/bar-chart-pro.json
  docs/pages/x/api/charts/bar-chart.json
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/heatmap.json
  docs/pages/x/api/charts/line-chart-pro.json
  docs/pages/x/api/charts/line-chart.json
  docs/pages/x/api/charts/scatter-chart-pro.json
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/spark-line-chart.json
  docs/translations/api-docs/charts/axis-config.json
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/computeAxisValue.ts
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/computeAxisValue.ts
  packages/x-charts/src/models/axis.ts
Labels: type: bug, typescript, scope: charts

#19806 [tree view] Fix Tree View tooltip anchoring on overview page
  docs/src/modules/components/overview/tree-view/mainDemo/figma/FigmaTreeView.tsx
Labels: type: bug, docs, scope: tree view

#19843 [charts][docs] Fix demo title knob keys
  docs/src/modules/components/DemoPropsForm.tsx
Labels: type: bug, docs, scope: charts

#19832 [charts] Refactor domain/scale selectors
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/createAxisFilterMapper.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/domain.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisPreview.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/internals/symlogScale.test.ts
  packages/x-charts/src/internals/symlogScale.ts
Labels: type: enhancement, scope: charts
