Repository mui/mui-x, pull requests merged in 2025-03, with the labels that each got.

#16767 [infra] Update label in priority-support issue template
  .github/ISSUE_TEMPLATE/5.priority-support.yml
Labels: enhancement, scope: infra

#16763 [DataGrid] Fix scroll jump with dynamic row height
  packages/x-data-grid/src/hooks/features/rows/useGridRowsMeta.ts
  test/e2e/fixtures/DataGrid/DynamicRowHeight.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: data grid, plan: Pro, regression, feature: Row height, needs cherry-pick, v7.x

#16816 [code-infra] Fix console warning in telemetry package
  packages/x-telemetry/src/runtime/sender.ts
Labels: bug 🐛, scope: code-infra

#16762 [infra] Replace PR label check workflow with reusable version.
  .github/workflows/check-if-pr-has-label.yml
  .github/workflows/check-if-pr-has-type-label.yml
Labels: scope: infra

#16738 [DataGrid] remove the quick filtering on a given column
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.js
  docs/data/data-grid/filtering/QuickFilteringCustomLogic.tsx
  docs/data/data-grid/filtering/quick-filter.md
  packages/x-data-grid/src/colDef/gridActionsColDef.tsx
  packages/x-data-grid/src/colDef/gridBooleanColDef.tsx
  packages/x-data-grid/src/colDef/gridCheckboxSelectionColDef.tsx
Labels: bug 🐛, docs, component: data grid, feature: Filtering

#16820 [TreeView] Document `getParentId` API method
  docs/data/tree-view/rich-tree-view/items/GetParentIdPublicAPI.js
  docs/data/tree-view/rich-tree-view/items/GetParentIdPublicAPI.tsx
  docs/data/tree-view/rich-tree-view/items/GetParentIdPublicAPI.tsx.preview
  docs/data/tree-view/rich-tree-view/items/items.md
Labels: component: tree view

#16821 [fields] Fix Fields aria relationship with `helperText`
  packages/x-date-pickers/src/PickersTextField/PickersTextField.tsx
Labels: accessibility, regression, component: pickers, feature: Keyboard editing, needs cherry-pick, v7.x

#16795 [TreeView] Clean the expansion and selection API methods
  docs/data/migration/migration-tree-view-v7/migration-tree-view-v7.md
  docs/data/tree-view/rich-tree-view/editing/editing.md
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodSetItemExpansion.js
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodSetItemExpansion.tsx
  docs/data/tree-view/rich-tree-view/expansion/ControlledExpansion.tsx
  docs/data/tree-view/rich-tree-view/expansion/TrackItemExpansionToggle.tsx
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItem.tsx
  docs/data/tree-view/rich-tree-view/items/ApiMethodGetItemOrderedChildrenIds.tsx
  docs/data/tree-view/rich-tree-view/items/GetParentIdPublicAPI.tsx
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelection.js
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelectionKeepExistingSelection.js
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelectionKeepExistingSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/ApiMethodSetItemSelectionKeepExistingSelection.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/ControlledSelection.tsx
  docs/data/tree-view/rich-tree-view/selection/TrackItemSelectionToggle.tsx
  docs/data/tree-view/rich-tree-view/selection/selection.md
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodSetItemExpansion.js
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodSetItemExpansion.tsx
  docs/data/tree-view/simple-tree-view/expansion/ControlledExpansion.tsx
  docs/data/tree-view/simple-tree-view/expansion/TrackItemExpansionToggle.tsx
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSetItemSelection.js
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSetItemSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSetItemSelectionKeepExistingSelection.js
  docs/data/tree-view/simple-tree-view/selection/ApiMethodSetItemSelectionKeepExistingSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/ControlledSelection.tsx
  docs/data/tree-view/simple-tree-view/selection/TrackItemSelectionToggle.tsx
  docs/data/tree-view/simple-tree-view/selection/selection.md
  docs/data/tree-view/tree-item-customization/useTreeItemHookPublicAPI.js
  docs/data/tree-view/tree-item-customization/useTreeItemHookPublicAPI.tsx
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/hooks/useTreeItemUtils/useTreeItemUtils.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
Labels: breaking change, component: tree view

#16829 [DataGrid] Fix `aria-hidden` console error when scrollbar is dragged
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, accessibility, component: data grid, needs cherry-pick, v7.x

#16831 [pickers] Fix typo in JSDoc
  packages/x-date-pickers/src/models/adapters.ts
Labels: component: pickers, enhancement

#16835 [docs] Typo fixes
  docs/data/charts/radar/radar.md
  docs/translations/api-docs/charts/axis-config.json
  docs/translations/api-docs/charts/radar-series-area/radar-series-area.json
  docs/translations/api-docs/charts/radar-series-marks/radar-series-marks.json
  docs/translations/api-docs/charts/radar-series-plot/radar-series-plot.json
  packages/x-charts/src/RadarChart/RadarDataProvider/radar.types.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesArea.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesMarks.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesPlot.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesPlot.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.types.ts
  packages/x-charts/src/models/axis.ts
Labels: docs, component: charts, maintenance

#16794 [docs] Fix padding package install on mobile
  docs/src/modules/components/InstallationInstructions.tsx
Labels: bug 🐛, docs, mobile

#16836 [charts] Fix x-axis text anchor default when language is RTL
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/internals/invertTextAnchor.ts
Labels: bug 🐛, component: charts

#16745 [charts] Split `defaultizeAxis` function into two
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
Labels: component: charts

#16830 [charts] Warn if axis data don't have enough elements
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/BarChart/checkScaleErrors.test.ts
  packages/x-charts/src/BarChart/checkScaleErrors.ts
  packages/x-charts/src/LineChart/LinePlot.tsx
Labels: bug 🐛, component: charts

#16844 [charts] Fix undefined behaving differently from missing value for axis size
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/defaultizeAxis.ts
Labels: bug 🐛, component: charts

#16832 [pickers] Add `TValidationProps` generic to the `PickerManager` interface
  packages/x-date-pickers-pro/src/managers/useDateRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useDateTimeRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useTimeRangeManager.ts
  packages/x-date-pickers/src/internals/models/manager.ts
  packages/x-date-pickers/src/managers/useDateManager.ts
  packages/x-date-pickers/src/managers/useDateTimeManager.ts
  packages/x-date-pickers/src/managers/useTimeManager.ts
  packages/x-date-pickers/src/models/manager.ts
Labels: component: pickers, enhancement

#16852 [test] Add timeout to flaky screenshot tests
  test/regressions/index.test.ts
Labels: test, enhancement

#16838 [pickers] Fix `edge` property setting in different button position cases
  packages/x-date-pickers/src/internals/components/PickerFieldUI.tsx
Labels: bug 🐛, component: pickers, design

#16678 [DateTimePicker] Use Digital Clock in all component variants
  docs/data/date-pickers/date-time-picker/date-time-picker.md
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/static-date-time-picker.json
  docs/translations/api-docs/date-pickers/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/date-pickers/static-date-time-picker/static-date-time-picker.json
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.types.ts
  packages/x-date-pickers/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.types.ts
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.types.ts
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.types.ts
  packages/x-date-pickers/src/MobileDateTimePicker/tests/MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describeValue.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/StaticDateTimePicker.types.ts
  packages/x-date-pickers/src/StaticDateTimePicker/tests/StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/internals/models/props/time.ts
  packages/x-date-pickers/src/internals/utils/date-time-utils.ts
Labels: breaking change, component: pickers, component: DateTimePicker, v8.x

#16847 v8.0.0-alpha.14
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release, v8.x

#16848 v7.27.3
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release, v7.x

#16857 [charts] Avoid spreading props in demos
  docs/data/charts/legend/LegendCustomLabelMark.js
  docs/data/charts/legend/LegendCustomLabelMark.tsx
  docs/data/charts/pie-demo/PieChartWithCustomLegendAndTooltip.js
  docs/data/charts/pie-demo/PieChartWithCustomLegendAndTooltip.tsx
Labels: docs, enhancement, component: charts

#16856 [DataGrid] Fix QuickFilter debounce overriding input value
  packages/x-data-grid/src/components/quickFilter/QuickFilter.tsx
Labels: component: data grid, regression

#16865 [infra] Added issue permission to workflow
  .github/workflows/check-if-pr-has-type-label.yml
Labels: enhancement, scope: infra

#16640 [charts] Allow customizing shape in scatter charts
  docs/data/charts/scatter/ScatterCustomShape.js
  docs/data/charts/scatter/ScatterCustomShape.tsx
  docs/data/charts/scatter/scatter.md
  docs/pages/x/api/charts/scatter-chart.json
  docs/pages/x/api/charts/scatter-plot.json
  docs/pages/x/api/charts/scatter.json
  docs/translations/api-docs/charts/scatter-chart/scatter-chart.json
  docs/translations/api-docs/charts/scatter-plot/scatter-plot.json
  docs/translations/api-docs/charts/scatter/scatter.json
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterMarker.tsx
  packages/x-charts/src/ScatterChart/ScatterMarker.types.ts
  packages/x-charts/src/ScatterChart/ScatterPlot.tsx
  packages/x-charts/src/ScatterChart/index.ts
  packages/x-charts/src/ScatterChart/seriesConfig/seriesProcessor.ts
  packages/x-charts/src/internals/consumeSlots.tsx
  packages/x-charts/src/models/seriesType/scatter.ts
  scripts/buildApiDocs/chartsSettings/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: docs, enhancement, component: charts

#16839 [charts] Add radar labels
  docs/data/charts/radar/CompositionExample.js
  docs/data/charts/radar/CompositionExample.tsx
  docs/data/charts/radar/radar.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/radar-chart.json
  docs/pages/x/api/charts/radar-data-provider.json
  docs/pages/x/api/charts/radar-metric-labels.js
  docs/pages/x/api/charts/radar-metric-labels.json
  docs/translations/api-docs/charts/radar-metric-labels/radar-metric-labels.json
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartsText/defaultTextPlacement.ts
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/Gauge/GaugeProvider.tsx
  packages/x-charts/src/Gauge/utils.ts
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/RadarDataProvider/RadarDataProvider.tsx
  packages/x-charts/src/RadarChart/RadarDataProvider/radar.types.ts
  packages/x-charts/src/RadarChart/RadarGrid/RadarGrid.tsx
  packages/x-charts/src/RadarChart/RadarMetricLabels/RadarMetricLabels.tsx
  packages/x-charts/src/RadarChart/RadarMetricLabels/index.ts
  packages/x-charts/src/RadarChart/RadarMetricLabels/useRadarMetricData.ts
  packages/x-charts/src/RadarChart/index.ts
  packages/x-charts/src/RadarChart/useRadarChartProps.ts
  packages/x-charts/src/internals/angleConversion.ts
  packages/x-charts/src/internals/clampAngle.ts
  packages/x-charts/src/internals/geometry.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/defaultizeAxis.ts
  packages/x-charts/src/models/axis.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: new feature, component: charts

#15230 [l10n] Improve Chinese (zh-CN), (zh-HK) and (zh-TW) locales
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
Labels: component: data grid, l10n, needs cherry-pick, v7.x

#16863 [docs] Fix Pickers custom field with Autocomplete demo
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.js
  docs/data/date-pickers/custom-field/behavior-autocomplete/MaterialDatePicker.tsx
Labels: docs, component: pickers, enhancement

#16869 [pickers] Avoid passing unexpected `focusedView` to time renderers
  packages/x-date-pickers/src/timeViewRenderers/timeViewRenderers.tsx
Labels: test, component: pickers, enhancement

#16819 [DateRangeCalendar] Do not update the previewed day when hover a day and the value is empty
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
Labels: component: pickers, needs cherry-pick, v7.x

#16894 [charts] Fix React 18 tests failing due to missing `forwardRef`
  packages/x-charts-pro/src/FunnelChart/FunnelSection.tsx
  packages/x-charts/src/ChartsLegend/ChartsLegend.tsx
  packages/x-charts/src/internals/consumeSlots.test.tsx
Labels: bug 🐛, component: charts

#16901 [docs] Adjust Picker field lifecycle explanation
  docs/data/date-pickers/lifecycle/lifecycle.md
Labels: docs, component: pickers

#16907 [docs] Fix link to the lazy loading demo for the DataGrid
  docs/data/data-grid/features/PopularFeaturesDemo.js
  docs/data/data-grid/features/PopularFeaturesDemo.tsx
Labels: docs, component: data grid, good first issue, needs cherry-pick, v7.x

#14863 [DataGrid] `printOptions` should respect `hideFooter` root prop
  packages/x-data-grid/src/hooks/features/export/useGridPrintExport.tsx
Labels: bug 🐛, component: data grid, feature: Export, needs cherry-pick, v7.x

#16888 [DataGrid] Fix bug with adding and removing columns in active edit state
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: bug 🐛, component: data grid, feature: Editing, needs cherry-pick, v7.x, feature: Column visibility

#16799 [pickers] Add valid aria labels to the range picker opening button
  docs/data/date-pickers/localization/data.json
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/internals/utils/date-utils.ts
  packages/x-date-pickers-pro/src/managers/useDateRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useDateTimeRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useTimeRangeManager.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/locales/beBY.ts
  packages/x-date-pickers/src/locales/bgBG.ts
  packages/x-date-pickers/src/locales/bnBD.ts
  packages/x-date-pickers/src/locales/caES.ts
  packages/x-date-pickers/src/locales/csCZ.ts
  packages/x-date-pickers/src/locales/daDK.ts
  packages/x-date-pickers/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/elGR.ts
  packages/x-date-pickers/src/locales/enUS.ts
  packages/x-date-pickers/src/locales/esES.ts
  packages/x-date-pickers/src/locales/eu.ts
  packages/x-date-pickers/src/locales/faIR.ts
  packages/x-date-pickers/src/locales/fiFI.ts
  packages/x-date-pickers/src/locales/frFR.ts
  packages/x-date-pickers/src/locales/heIL.ts
  packages/x-date-pickers/src/locales/hrHR.ts
  packages/x-date-pickers/src/locales/huHU.ts
  packages/x-date-pickers/src/locales/isIS.ts
  packages/x-date-pickers/src/locales/itIT.ts
  packages/x-date-pickers/src/locales/jaJP.ts
  packages/x-date-pickers/src/locales/koKR.ts
  packages/x-date-pickers/src/locales/kzKZ.ts
  packages/x-date-pickers/src/locales/mk.ts
  packages/x-date-pickers/src/locales/nbNO.ts
  packages/x-date-pickers/src/locales/nlNL.ts
  packages/x-date-pickers/src/locales/nnNO.ts
  packages/x-date-pickers/src/locales/plPL.ts
  packages/x-date-pickers/src/locales/ptBR.ts
  packages/x-date-pickers/src/locales/ptPT.ts
  packages/x-date-pickers/src/locales/roRO.ts
  packages/x-date-pickers/src/locales/ruRU.ts
  packages/x-date-pickers/src/locales/skSK.ts
  packages/x-date-pickers/src/locales/svSE.ts
  packages/x-date-pickers/src/locales/trTR.ts
  packages/x-date-pickers/src/locales/ukUA.ts
  packages/x-date-pickers/src/locales/urPK.ts
  packages/x-date-pickers/src/locales/utils/pickersLocaleTextApi.ts
  packages/x-date-pickers/src/locales/viVN.ts
  packages/x-date-pickers/src/locales/zhCN.ts
  packages/x-date-pickers/src/locales/zhHK.ts
  packages/x-date-pickers/src/locales/zhTW.ts
  packages/x-date-pickers/src/managers/useDateManager.ts
  packages/x-date-pickers/src/managers/useDateTimeManager.ts
  packages/x-date-pickers/src/managers/useTimeManager.ts
  packages/x-date-pickers/src/models/manager.ts
  test/utils/pickers/openPicker.ts
Labels: l10n, component: pickers

#16911 [docs] Improve sparkline demo
  docs/data/charts/sparkline/ColorCustomization.js
  docs/data/charts/sparkline/ColorCustomization.tsx
  docs/data/charts/sparkline/ColorCustomizationMode.js
  docs/data/charts/sparkline/ColorCustomizationMode.tsx
  docs/data/charts/sparkline/ColorCustomizationMode.tsx.preview
Labels: docs, component: charts

#16898 [l10n] Improve Chinese (zh-CN), (zh-HK) and (zh-TW) locales
  docs/data/data-grid/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
Labels: component: data grid, l10n, enhancement, needs cherry-pick, v7.x

#16897 [charts] Fix interaction performance
  packages/x-charts-pro/src/FunnelChart/FunnelSection.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapItem.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/LineChart/AreaElement.tsx
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/LineElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
Labels: performance, enhancement, component: charts

#16921 [code-infra] Fix inconsistent argos test
  packages/x-data-grid-generator/src/renderer/renderCountry.tsx
Labels: scope: code-infra, maintenance

#16759 [DataGrid] Refactor: create base Pagination
  docs/data/data-grid/localization/data.json
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/GridFooter.tsx
  packages/x-data-grid/src/components/GridPagination.tsx
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/bnBD.ts
  packages/x-data-grid/src/locales/coreLocales.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/enUS.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/isIS.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/nnNO.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/gridSlotsComponent.ts
  packages/x-data-grid/src/models/gridSlotsComponentsProps.ts
  packages/x-data-grid/src/tests/DataGrid.spec.tsx
  packages/x-data-grid/src/utils/getGridLocalization.ts
  scripts/l10n.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: component: data grid

#16919 [docs] Add `TimeRangePicker` to relevant validation demos
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.js
  docs/data/date-pickers/base-concepts/ComponentExplorerNoSnap.tsx
  docs/data/date-pickers/validation/DateValidationDisableFuture.js
  docs/data/date-pickers/validation/DateValidationDisableFuture.tsx
  docs/data/date-pickers/validation/DateValidationDisablePast.js
  docs/data/date-pickers/validation/DateValidationDisablePast.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.js
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx
  docs/data/date-pickers/validation/TimeValidationMaxTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationMinTime.js
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx
  docs/data/date-pickers/validation/TimeValidationMinTime.tsx.preview
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.js
  docs/data/date-pickers/validation/TimeValidationShouldDisableTime.tsx
  docs/data/date-pickers/validation/validation.md
  docs/pages/x/api/date-pickers/desktop-time-range-picker.json
  docs/pages/x/api/date-pickers/index.md
  docs/pages/x/api/date-pickers/mobile-time-range-picker.json
  docs/pages/x/api/date-pickers/time-range-picker.json
  scripts/releaseChangelog.mjs
Labels: docs, component: pickers

#16868 [charts] Add axis highlight to the radar
  docs/data/charts/radar/DemoRadarAxisHighlight.js
  docs/data/charts/radar/DemoRadarAxisHighlight.tsx
  docs/data/charts/radar/radar.md
  docs/data/chartsApiPages.ts
  docs/pages/x/api/charts/radar-axis-highlight.js
  docs/pages/x/api/charts/radar-axis-highlight.json
  docs/pages/x/api/charts/radar-chart.json
  docs/pages/x/api/charts/radar-data-provider.json
  docs/translations/api-docs/charts/radar-axis-highlight/radar-axis-highlight.json
  docs/translations/api-docs/charts/radar-chart/radar-chart.json
  docs/translations/api-docs/charts/radar-data-provider/radar-data-provider.json
  packages/x-charts/src/RadarChart/RadarAxisHighlight/RadarAxisHighlight.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/RadarAxisPointsHighlight.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/RadarAxisSliceHighlight.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/index.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/radarAxisHighlightClasses.ts
  packages/x-charts/src/RadarChart/RadarAxisHighlight/useRadarAxisHighlight.ts
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/RadarDataProvider/RadarDataProvider.tsx
  packages/x-charts/src/RadarChart/RadarGrid/useRadarGridData.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/useRadarSeriesData.ts
  packages/x-charts/src/RadarChart/index.ts
  packages/x-charts/src/RadarChart/useRadarChartProps.ts
  packages/x-charts/src/internals/clampAngle.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/getAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.types.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16925 [DataGrid] Make column header menu button aria-labels unique (@owais635)
  docs/data/data-grid/localization/data.json
  packages/x-data-grid-pro/src/components/GridColumnHeaderCollapseIcon.tsx
  packages/x-data-grid-pro/src/tests/columnHeaders.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/components/columnHeaders/ColumnHeaderMenuIcon.tsx
  packages/x-data-grid/src/constants/localeTextConstants.ts
  packages/x-data-grid/src/locales/arSD.ts
  packages/x-data-grid/src/locales/beBY.ts
  packages/x-data-grid/src/locales/bgBG.ts
  packages/x-data-grid/src/locales/bnBD.ts
  packages/x-data-grid/src/locales/csCZ.ts
  packages/x-data-grid/src/locales/daDK.ts
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-data-grid/src/locales/elGR.ts
  packages/x-data-grid/src/locales/esES.ts
  packages/x-data-grid/src/locales/faIR.ts
  packages/x-data-grid/src/locales/fiFI.ts
  packages/x-data-grid/src/locales/frFR.ts
  packages/x-data-grid/src/locales/heIL.ts
  packages/x-data-grid/src/locales/hrHR.ts
  packages/x-data-grid/src/locales/huHU.ts
  packages/x-data-grid/src/locales/isIS.ts
  packages/x-data-grid/src/locales/itIT.ts
  packages/x-data-grid/src/locales/jaJP.ts
  packages/x-data-grid/src/locales/koKR.ts
  packages/x-data-grid/src/locales/nbNO.ts
  packages/x-data-grid/src/locales/nlNL.ts
  packages/x-data-grid/src/locales/nnNO.ts
  packages/x-data-grid/src/locales/plPL.ts
  packages/x-data-grid/src/locales/ptBR.ts
  packages/x-data-grid/src/locales/ptPT.ts
  packages/x-data-grid/src/locales/roRO.ts
  packages/x-data-grid/src/locales/ruRU.ts
  packages/x-data-grid/src/locales/skSK.ts
  packages/x-data-grid/src/locales/svSE.ts
  packages/x-data-grid/src/locales/trTR.ts
  packages/x-data-grid/src/locales/ukUA.ts
  packages/x-data-grid/src/locales/urPK.ts
  packages/x-data-grid/src/locales/viVN.ts
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-data-grid/src/models/api/gridLocaleTextApi.ts
  packages/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
  packages/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  test/e2e/index.test.ts
Labels: accessibility, component: data grid, l10n, enhancement, cherry-pick

#16934 [core] Fix proptypes and API docs after merge
  docs/pages/x/api/date-pickers/desktop-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-range-picker.json
  docs/pages/x/api/date-pickers/time-range-picker.json
  docs/translations/api-docs/date-pickers/desktop-time-range-picker/desktop-time-range-picker.json
  docs/translations/api-docs/date-pickers/mobile-time-range-picker/mobile-time-range-picker.json
  docs/translations/api-docs/date-pickers/time-range-picker/time-range-picker.json
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/DesktopTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/MobileTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePicker.tsx
Labels: bug 🐛, core

#16933 [infra] Make tests on React 18 part of pipeline
  .circleci/config.yml
Labels: enhancement, scope: infra

#16936 [charts] Remove the polar axis plugin from the default plugins of the ChartContainer
  packages/x-charts-pro/src/ChartContainerPro/useChartContainerProProps.ts
  packages/x-charts-pro/src/internals/plugins/allPlugins.ts
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
Labels: regression, component: charts

#16926 [DataGridPro] Fix infinite loading not reacting on scrolling to the end
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
Labels: component: data grid, plan: Pro, regression, feature: Row loading, needs cherry-pick, v7.x

#16932 [charts] Improve radar slice
  packages/x-charts/src/RadarChart/RadarAxisHighlight/RadarAxisSliceHighlight.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/useRadarAxisHighlight.ts
Labels: enhancement, component: charts

#16923 [DataGrid] Fix visual issue with pinned columns and row spanning
  packages/x-data-grid-premium/src/components/GridBottomContainer.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridTopContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Row spanning

#16942 [DataGrid] Fix visual issue with pinned columns and row spanning
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridBottomContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridTopContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
Labels: component: data grid, feature: Column pinning, cherry-pick, v7.x, feature: Row spanning

#16931 [code-infra] Avoid loading package.json with relative path
  babel.config.js
  package.json
  packages/x-telemetry/src/runtime/sender.ts
  pnpm-lock.yaml
  scripts/build.mjs
Labels: regression

#16940 [charts] Radar add option to highlighting series
  docs/data/charts/radar/DemoRadarSeriesHighlight.js
  docs/data/charts/radar/DemoRadarSeriesHighlight.tsx
  docs/data/charts/radar/MultiSeriesRadar.js
  docs/data/charts/radar/MultiSeriesRadar.tsx
  docs/data/charts/radar/radar.md
  docs/pages/x/api/charts/radar-data-provider.json
  docs/pages/x/api/charts/radar-series-plot.json
  docs/translations/api-docs/charts/radar-data-provider/radar-data-provider.json
  docs/translations/api-docs/charts/radar-series-plot/radar-series-plot.json
  packages/x-charts/src/RadarChart/RadarChart.tsx
  packages/x-charts/src/RadarChart/RadarDataProvider/RadarDataProvider.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesPlot.tsx
  packages/x-charts/src/RadarChart/RadarSeriesPlot/RadarSeriesPlot.types.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/index.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/radarSeriesPlotClasses.ts
  packages/x-charts/src/RadarChart/useRadarChartProps.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: enhancement, component: charts

#16928 [core] Update `@mui/utils` dependency to only v7
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: core, enhancement

#16744 [TreeView] Update Tree View overview page - first iterartion
  docs/data/date-pickers/overview/overview.md
  docs/data/tree-view/overview/overview.md
  docs/pages/x/api/date-pickers/index.js
  docs/pages/x/react-tree-view/index.js
  docs/public/static/x/overview/figma.svg
  docs/public/static/x/overview/github_dark.svg
  docs/public/static/x/overview/github_light.svg
  docs/public/static/x/overview/paella.jpg
  docs/public/static/x/overview/vscode.svg
  docs/src/modules/components/XHighlightedCode.tsx
  docs/src/modules/components/overview/CommunityOrPro.tsx
  docs/src/modules/components/overview/InfoCard.tsx
  docs/src/modules/components/overview/KeyboardSvg.tsx
  docs/src/modules/components/overview/pickers/CustomLayoutRangePicker.tsx
  docs/src/modules/components/overview/pickers/DateLibraries.tsx
  docs/src/modules/components/overview/pickers/Internationalization.tsx
  docs/src/modules/components/overview/pickers/MainDemo.tsx
  docs/src/modules/components/overview/pickers/PickersCommunityOrPro.tsx
  docs/src/modules/components/overview/pickers/PickersCustomization.tsx
  docs/src/modules/components/overview/pickers/PickersFeatureHighlight.tsx
  docs/src/modules/components/overview/pickers/PickersKeyboard.tsx
  docs/src/modules/components/overview/pickers/WorldMapSvg.tsx
  docs/src/modules/components/overview/pickers/mainDemo/Birthday.tsx
  docs/src/modules/components/overview/pickers/mainDemo/Clock.tsx
  docs/src/modules/components/overview/pickers/mainDemo/DateRangeWithShortcuts.tsx
  docs/src/modules/components/overview/pickers/mainDemo/DigitalClock.tsx
  docs/src/modules/components/overview/pickers/mainDemo/FlightPicker.tsx
  docs/src/modules/components/overview/pickers/mainDemo/PickerButton.tsx
  docs/src/modules/components/overview/pickers/mainDemo/ThemeToggleGroup.tsx
  docs/src/modules/components/overview/pickers/themes/customTheme.ts
  docs/src/modules/components/overview/pickers/themes/defaultTheme.ts
  docs/src/modules/components/overview/pickers/themes/md3.ts
  docs/src/modules/components/overview/pickers/themes/themes.types.ts
  docs/src/modules/components/overview/tree-view/TreeViewCommunityOrPro.tsx
  docs/src/modules/components/overview/tree-view/TreeViewFeaturesHighlight.tsx
  docs/src/modules/components/overview/tree-view/icons/BottomIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/ComponentIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/FrameIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/HorizontalCenterIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/ImageIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/LeftIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/RightIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/StateAddedIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/StateDeletedIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/StateModifiedIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/TextIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/TopIcon.tsx
  docs/src/modules/components/overview/tree-view/icons/VerticalCenterIcon.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/ExampleToggleGroup.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/MainDemo.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/figma/FigmaCard.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/figma/FigmaExample.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/figma/FigmaTreeView.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/figma/items.ts
  docs/src/modules/components/overview/tree-view/mainDemo/github/GitHubExample.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/github/GitHubFiles.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/github/GitHubTreeView.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/github/items.ts
  pnpm-lock.yaml
Labels: component: tree view, design

#16937 [charts] Rename useIsClient
  packages/x-charts/src/ChartsText/ChartsText.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/hooks/useIsHydrated.ts
Labels: enhancement, component: charts

#16958 [infra] Make tests on React 18 part of pipeline
  .circleci/config.yml
Labels: core, scope: infra

#16957 [charts] Grid support time step bellow 1s
  docs/pages/x/api/charts/charts-grid.json
  packages/x-charts/src/ChartsGrid/ChartsGrid.test.tsx
  packages/x-charts/src/ChartsGrid/ChartsHorizontalGrid.tsx
  packages/x-charts/src/ChartsGrid/ChartsVerticalGrid.tsx
Labels: bug 🐛, component: charts

#16920 [TimeRangePicker] Shift popper between start and end input on multi input field
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/MultiInputTimeRangeField.tsx
  packages/x-date-pickers-pro/src/internals/utils/createMultiInputRangeField/createMultiInputRangeField.tsx
  packages/x-date-pickers-pro/src/internals/utils/createMultiInputRangeField/createMultiInputRangeField.types.ts
  packages/x-date-pickers-pro/src/internals/utils/createMultiInputRangeField/useTextFieldProps.ts
  packages/x-date-pickers/src/internals/components/PickerPopper/PickerPopper.tsx
  packages/x-date-pickers/src/internals/components/PickerProvider.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.tsx
Labels: plan: Pro, component: pickers, enhancement, component: TimeRangePicker

#16951 [core] Allow MUI Core v7 in dependencies
  packages/x-charts-pro/README.md
  packages/x-charts-pro/package.json
  packages/x-charts/README.md
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/README.md
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/README.md
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/README.md
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/README.md
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/README.md
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/README.md
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/README.md
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: core, enhancement

#16964 [code-infra] Bump `cimg/node` image version
  .circleci/config.yml
Labels: enhancement, needs cherry-pick, v7.x, scope: code-infra

#16959 [test] Fix Apple M3 failing to execute unit test cases
  packages/x-data-grid/src/hooks/features/overlays/useGridOverlays.tsx
Labels: bug 🐛, test, component: data grid

#16918 [DataGrid] add a slot for unsort icon in column menu
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid/src/components/menu/columnMenu/menuItems/GridColumnMenuSortItem.tsx
  packages/x-data-grid/src/material/index.tsx
  packages/x-data-grid/src/models/gridIconSlotsComponent.ts
Labels: component: data grid, feature: Sorting, enhancement, needs cherry-pick, v7.x

#16855 [DataGridPro] Fix header filters not displaying restored values
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterInputValue.tsx
  packages/x-data-grid/src/components/panel/filterPanel/index.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
Labels: bug 🐛, component: data grid, plan: Pro, needs cherry-pick, v7.x, feature: Filtering on header

#16989 [code-infra] Create `Tanstack query` renovate group
  renovate.json
Labels: enhancement, scope: code-infra

#16962 [DataGrid] Use Material UI CSS vars
  packages/x-data-grid-premium/src/components/GridAggregationHeader.tsx
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid/src/components/cell/GridEditInputCell.tsx
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/material/variables.ts
Labels: bug 🐛, component: data grid, customization: theme

#16993 [DataGrid] Update CSS variable naming convention to singular
  packages/x-data-grid/src/constants/cssVariables.ts
Labels: component: data grid, enhancement, customization: theme

#16853 [pickers] Always use `props.value` as the source of truth when defined
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/hooks/useMultiInputRangeField/useMultiInputRangeField.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DateField/tests/editing.DateField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClock.tsx
  packages/x-date-pickers/src/TimeClock/TimeClock.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describeValue.YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/useControlledValue.test.tsx
  packages/x-date-pickers/src/internals/hooks/useControlledValue.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/hooks/useValueAndOpenStates.ts
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
  packages/x-date-pickers/src/internals/index.ts
  test/utils/pickers/describeValue/testControlledUnControlled.tsx
  test/utils/pickers/describeValue/testPickerActionBar.tsx
Labels: regression, component: pickers

#16810 [DataGridPremium] Fix selection propagation issues with controlled state
  docs/data/data-grid/row-grouping/row-grouping.md
  docs/pages/x/api/data-grid/grid-api.json
  docs/pages/x/api/data-grid/grid-row-multi-selection-api.json
  docs/pages/x/api/data-grid/grid-row-selection-api.json
  docs/translations/api-docs/data-grid/grid-api.json
  packages/x-data-grid-premium/src/tests/rowSelection.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/rowSelection.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rowSelection/utils.ts
  packages/x-data-grid/src/models/api/gridRowSelectionApi.ts
Labels: bug 🐛, component: data grid, plan: Premium, feature: Selection, needs cherry-pick, v7.x

#16966 [l10n] Improve Chinese (zh-CN), (zh-HK) and (zh-TW) locales
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/zhCN.ts
  packages/x-data-grid/src/locales/zhHK.ts
  packages/x-data-grid/src/locales/zhTW.ts
  packages/x-date-pickers/src/locales/zhCN.ts
  packages/x-date-pickers/src/locales/zhHK.ts
  packages/x-date-pickers/src/locales/zhTW.ts
Labels: component: data grid, l10n, component: pickers, enhancement, needs cherry-pick, v7.x

#16999 [charts] Refactor zoom isInteracting behavior directly to community code
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts/src/BarChart/BarPlot.tsx
  packages/x-charts/src/LineChart/AreaPlot.tsx
  packages/x-charts/src/LineChart/LinePlot.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useInternalIsZoomInteracting.ts
Labels: enhancement, component: charts

#17004 [DataGrid] Fix page scrolling when preference panel is opened
  packages/x-data-grid/src/material/index.tsx
Labels: component: data grid, regression

#17002 v7.28.0
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17006 [charts] Remove `fireEvent` usage from tests
  packages/x-charts/src/BarChart/checkClickEvent.test.tsx
  packages/x-charts/src/ChartsTooltip/contentDisplayed.test.tsx
  packages/x-charts/src/LineChart/checkClickEvent.test.tsx
  packages/x-charts/src/PieChart/checkClickEvent.test.tsx
  packages/x-charts/src/ScatterChart/checkClickEvent.test.tsx
  packages/x-charts/src/tests/firePointerEvent.ts
  test/utils/setupJSDOM.js
Labels: test, component: charts, maintenance

#16929 [docs] Fix custom detail panel toggle state update
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.js
  docs/data/data-grid/master-detail/CustomizeDetailPanelToggle.tsx
Labels: docs, component: data grid, feature: Master-detail, needs cherry-pick, v7.x

#16947 [charts] Allow breaking line for radar labels
  docs/data/charts/radar/CompositionExample.js
  docs/data/charts/radar/CompositionExample.tsx
  docs/data/charts/radar/DemoRadarAxisHighlight.js
  docs/data/charts/radar/DemoRadarAxisHighlight.tsx
  docs/data/charts/radar/DemoRadarSeriesHighlight.js
  docs/data/charts/radar/DemoRadarSeriesHighlight.tsx
  docs/data/charts/radar/MultiSeriesRadar.js
  docs/data/charts/radar/MultiSeriesRadar.tsx
  packages/x-charts/src/RadarChart/RadarDataProvider/RadarDataProvider.tsx
  packages/x-charts/src/RadarChart/RadarMetricLabels/RadarMetricLabels.tsx
  packages/x-charts/src/RadarChart/useRadarChartProps.ts
Labels: enhancement, component: charts

#17026 [DataGridPro] Fix header select checkbox state with `checkboxSelectionVisibleOnly` and `paginationMode="server"`
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: bug 🐛, component: data grid, plan: Pro, feature: Selection, needs cherry-pick, v7.x

#16944 [fields] Clean the `useField` hook (part 1)
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/useSingleInputDateRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/useSingleInputDateTimeRangeField.ts
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/useSingleInputTimeRangeField.ts
  packages/x-date-pickers-pro/src/hooks/useMultiInputRangeField/useMultiInputRangeField.ts
  packages/x-date-pickers-pro/src/hooks/useMultiInputRangeField/useTextFieldProps.ts
  packages/x-date-pickers-pro/src/managers/useDateRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useDateTimeRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useTimeRangeManager.ts
  packages/x-date-pickers/src/DateField/useDateField.ts
  packages/x-date-pickers/src/DateTimeField/useDateTimeField.ts
  packages/x-date-pickers/src/TimeField/useTimeField.ts
  packages/x-date-pickers/src/hooks/useSplitFieldProps.ts
  packages/x-date-pickers/src/internals/components/PickerFieldUI.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
  packages/x-date-pickers/src/internals/hooks/useField/index.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldCharacterEditing.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldRootHandleKeyDown.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV6TextField.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/managers/useDateManager.ts
  packages/x-date-pickers/src/managers/useDateTimeManager.ts
  packages/x-date-pickers/src/managers/useTimeManager.ts
  packages/x-date-pickers/src/models/fields.ts
  packages/x-date-pickers/src/models/manager.ts
Labels: component: pickers, maintenance

#17035 [pickers] Use the new `ownerState` in `PickersDay` and `DateRangePickerDay`
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.types.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.types.ts
  packages/x-date-pickers-pro/src/DateRangePickerDay/index.ts
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-date-pickers/src/DateCalendar/index.ts
  packages/x-date-pickers/src/PickersDay/PickersDay.tsx
  packages/x-date-pickers/src/PickersDay/PickersDay.types.ts
  packages/x-date-pickers/src/PickersDay/index.ts
  packages/x-date-pickers/src/PickersDay/usePickerDayOwnerState.ts
  packages/x-date-pickers/src/internals/index.ts
  scripts/x-date-pickers-pro.exports.json
Labels: breaking change, component: pickers, enhancement

#17040 [pickers] Deprecate the `disableOpenPicker` prop
  docs/data/migration/migration-pickers-v7/migration-pickers-v7.md
  docs/pages/x/api/date-pickers/date-picker.json
  docs/pages/x/api/date-pickers/date-range-picker.json
  docs/pages/x/api/date-pickers/date-time-picker.json
  docs/pages/x/api/date-pickers/date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-picker.json
  docs/pages/x/api/date-pickers/desktop-date-range-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-picker.json
  docs/pages/x/api/date-pickers/desktop-date-time-range-picker.json
  docs/pages/x/api/date-pickers/desktop-time-picker.json
  docs/pages/x/api/date-pickers/desktop-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-picker.json
  docs/pages/x/api/date-pickers/mobile-date-range-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-picker.json
  docs/pages/x/api/date-pickers/mobile-date-time-range-picker.json
  docs/pages/x/api/date-pickers/mobile-time-picker.json
  docs/pages/x/api/date-pickers/mobile-time-range-picker.json
  docs/pages/x/api/date-pickers/time-picker.json
  docs/pages/x/api/date-pickers/time-range-picker.json
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/DesktopDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/DesktopTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/MobileDateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/MobileTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePicker.tsx
  packages/x-date-pickers/src/DatePicker/DatePicker.tsx
  packages/x-date-pickers/src/DateTimePicker/DateTimePicker.tsx
  packages/x-date-pickers/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/x-date-pickers/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/x-date-pickers/src/MobileDatePicker/MobileDatePicker.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/x-date-pickers/src/MobileTimePicker/MobileTimePicker.tsx
  packages/x-date-pickers/src/TimePicker/TimePicker.tsx
  packages/x-date-pickers/src/internals/hooks/usePicker/usePicker.types.ts
Labels: component: pickers, enhancement

#17048 [DataGrid] Fix error while editing rows with custom id
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
Labels: component: data grid, regression, feature: Editing, needs cherry-pick, v7.x

#17049 [DataGrid] Fix error caused by `forwardRef` to `ClickAwayListener`
  packages/x-data-grid/src/material/index.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x

#17059 [charts] Fix horizontal bar with multiple axes
  packages/x-charts/src/BarChart/extremums.test.ts
  packages/x-charts/src/BarChart/seriesConfig/extremums.ts
Labels: bug 🐛, component: charts

#17044 [TreeView] Use state and instance instead of context in all plugins except `useTreeViewIcons`
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.itemPlugin.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.selectors.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.types.ts
  packages/x-tree-view/src/hooks/useTreeItemUtils/useTreeItemUtils.tsx
  packages/x-tree-view/src/internals/models/itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewKeyboardNavigation/useTreeViewKeyboardNavigation.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLabel/useTreeViewLabel.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.types.ts
  packages/x-tree-view/src/internals/utils/selectors.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.types.ts
  test/utils/tree-view/fakeContextValue.ts
Labels: component: pickers, maintenance

#17052 [DateRangePicker] Use desktop media query constant on range pickers
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/DateTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/TimeRangePicker.tsx
Labels: component: pickers, maintenance

#16384 [TreeView]: allow reordering item to bottom
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewItemsReordering/useTreeViewItemsReordering.ts
Labels: bug 🐛, component: tree view, needs cherry-pick, v7.x

#17060 [charts-pro] Allow disabling Heatmap tooltip
  docs/pages/x/api/charts/heatmap-tooltip.json
  docs/translations/api-docs/charts/heatmap-tooltip/heatmap-tooltip.json
  packages/x-charts-pro/src/Heatmap/Heatmap.test.tsx
  packages/x-charts-pro/src/Heatmap/HeatmapTooltip.tsx
  packages/x-charts-pro/src/hooks/useFunnelSeries.test.tsx
  packages/x-charts-pro/src/hooks/useHeatmapSeries.test.tsx
  packages/x-charts-vendor/tsconfig.json
  packages/x-charts/src/hooks/useBarSeries.test.tsx
  packages/x-charts/src/hooks/useInteractionItemProps.ts
  packages/x-charts/src/hooks/useLineSeries.test.tsx
  packages/x-charts/src/hooks/usePieSeries.test.tsx
  packages/x-charts/src/hooks/useRadarSeries.test.tsx
  packages/x-charts/src/hooks/useScatterSeries.test.tsx
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  test/utils/setupJSDOM.js
Labels: new feature, component: charts

#17064 [docs] Fix Data Grid advanced list view demo
  docs/data/data-grid/list-view/ListViewAdvanced.js
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/list-view/components/Drawer.js
  docs/data/data-grid/list-view/components/Drawer.tsx
  docs/data/data-grid/list-view/components/RenameDialog.tsx
Labels: bug 🐛, docs, component: data grid

#17066 [docs] Fix Data Grid advanced list view demo
  docs/data/data-grid/list-view/ListViewAdvanced.js
  docs/data/data-grid/list-view/ListViewAdvanced.tsx
  docs/data/data-grid/list-view/components/Drawer.tsx
  docs/data/data-grid/list-view/components/RenameDialog.tsx
Labels: bug 🐛, docs, component: data grid, cherry-pick

#17069 [DataGridPremium] Update column state correctly when grouping mode is updated with one grouping column
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
Labels: bug 🐛, component: data grid, plan: Premium, feature: Row grouping, needs cherry-pick, v7.x

#17070 v8.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17073 v7.28.1
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17075 [code-infra] Add more tests to slow screenshot tests
  test/regressions/index.test.ts
Labels: test, scope: code-infra, maintenance

#16990 [TreeView] Expose the item classes at the tree view level and introduce data attributes for conditional styling
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.js
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/customization/FileExplorer.tsx.preview
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.js
  docs/data/tree-view/rich-tree-view/headless/LogExpandedItems.tsx
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.js
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.tsx
  docs/data/tree-view/rich-tree-view/ordering/FileExplorer.tsx.preview
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/data/tree-view/tree-item-customization/ContentSlot.js
  docs/data/tree-view/tree-item-customization/ContentSlot.tsx
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  docs/pages/x/api/tree-view/tree-item.json
  docs/src/modules/components/overview/tree-view/mainDemo/figma/FigmaTreeView.tsx
  docs/src/modules/components/overview/tree-view/mainDemo/github/GitHubTreeView.tsx
  docs/translations/api-docs/tree-view/rich-tree-view-pro/rich-tree-view-pro.json
  docs/translations/api-docs/tree-view/rich-tree-view/rich-tree-view.json
  docs/translations/api-docs/tree-view/simple-tree-view/simple-tree-view.json
  docs/translations/api-docs/tree-view/tree-item/tree-item.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/richTreeViewProClasses.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/richTreeViewClasses.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/simpleTreeViewClasses.ts
  packages/x-tree-view/src/TreeItem/TreeItem.tsx
  packages/x-tree-view/src/TreeItem/index.ts
  packages/x-tree-view/src/TreeItem/treeItemClasses.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewChildrenItemProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewContext.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.tsx
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewProvider.types.ts
  packages/x-tree-view/src/internals/TreeViewProvider/TreeViewStyleContext.ts
  packages/x-tree-view/src/internals/TreeViewProvider/index.ts
  packages/x-tree-view/src/internals/TreeViewProvider/useTreeViewContext.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItemCustomization/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItemCustomization/useTreeViewItemCustomization.test.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItemCustomization/useTreeViewItemCustomization.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItemCustomization/useTreeViewItemCustomization.types.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.types.ts
Labels: new feature, component: tree view

#17078 [code-infra] Update some data-grid tests for vitest
  packages/x-data-grid-premium/src/tests/dataSourceAggregation.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowPinning.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/cellEditing.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/columnSpanning.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/pagination.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/printExport.DataGrid.test.tsx
  packages/x-data-grid-pro/src/tests/sorting.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/statePersistence.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/treeData.DataGridPro.test.tsx
  packages/x-data-grid/src/hooks/utils/useGridComponentRenderer.test.tsx
  packages/x-data-grid/src/tests/DataGrid.test.tsx
  packages/x-data-grid/src/tests/density.DataGrid.test.tsx
  packages/x-data-grid/src/tests/export.DataGrid.test.tsx
  packages/x-data-grid/src/tests/filterPanel.DataGrid.test.tsx
  packages/x-data-grid/src/tests/pagination.DataGrid.test.tsx
Labels: test, scope: code-infra, maintenance

#17011 [l10n] Improve German (de-DE) locale
  docs/data/data-grid/localization/data.json
  docs/data/date-pickers/localization/data.json
  packages/x-data-grid/src/locales/deDE.ts
  packages/x-date-pickers/src/locales/deDE.ts
Labels: l10n, enhancement

#17106 [charts] Fix CSS vars support for dark theme
  packages/x-charts/src/ChartsOverlay/ChartsLoadingOverlay.tsx
  packages/x-charts/src/ChartsOverlay/ChartsNoDataOverlay.tsx
Labels: bug 🐛, component: charts

#17108 [code-infra] Remove `test_regressions` step from React 18 pipeline
  .circleci/config.yml
Labels: core, enhancement, needs cherry-pick, v7.x, scope: code-infra

#17083 [code-infra] Update some date-pickers tests for vitest
  packages/x-date-pickers-pro/src/DateRangePicker/DateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/selection.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers/src/AdapterDateFns/AdapterDateFns.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalali/AdapterDateFnsJalali.test.tsx
  packages/x-date-pickers/src/AdapterDateFnsJalaliV2/AdapterDateFnsJalaliV2.test.tsx
  packages/x-date-pickers/src/AdapterDayjs/AdapterDayjs.test.tsx
  packages/x-date-pickers/src/AdapterLuxon/AdapterLuxon.test.tsx
  packages/x-date-pickers/src/AdapterMoment/AdapterMoment.test.tsx
  packages/x-date-pickers/src/AdapterMomentHijri/AdapterMomentHijri.test.tsx
  packages/x-date-pickers/src/AdapterMomentJalaali/AdapterMomentJalaali.test.tsx
  packages/x-date-pickers/src/DateField/tests/selection.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/editing.DateTimeField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/timezone.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/field.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/field.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/field.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/field.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/field.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/tests/fieldKeyboardInteraction.test.tsx
  test/utils/pickers/createPickerRenderer.tsx
  test/utils/pickers/describeAdapters/describeAdapters.ts
  test/utils/pickers/describeValue/describeValue.tsx
  test/utils/pickers/fields.tsx
Labels: test, scope: code-infra, maintenance

#17039 [charts] Move axis interaction to selectors
  packages/x-charts/src/ChartsAxisHighlight/ChartsXAxisHighlight.tsx
  packages/x-charts/src/ChartsAxisHighlight/ChartsYAxisHighlight.tsx
  packages/x-charts/src/ChartsTooltip/ChartsTooltipContainer.tsx
  packages/x-charts/src/ChartsTooltip/useAxisTooltip.tsx
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/LineHighlightPlot.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/RadarChart/RadarAxisHighlight/useRadarAxisHighlight.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/useChartInteraction.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
Labels: bug 🐛, component: charts

#17112 [fields] Improve the check for year in `doesSectionFormatHaveLeadingZeros`
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
Labels: bug 🐛, component: pickers

#17008 [telemetry] Improve request body size, update dependencies, and optimize SSR handling
  packages/x-telemetry/package.json
  packages/x-telemetry/src/context.ts
  packages/x-telemetry/src/postinstall/get-machine-id.ts
  packages/x-telemetry/src/postinstall/index.ts
  packages/x-telemetry/src/postinstall/storage.ts
  packages/x-telemetry/src/runtime/get-context.ts
  packages/x-telemetry/src/runtime/sender.ts
  packages/x-telemetry/src/runtime/window-storage.ts
  pnpm-lock.yaml
  renovate.json
Labels: package: x-license, enhancement

#17110 [docs] Fix example import for `ExportExcel` component
  docs/data/data-grid/components/export/export.md
Labels: docs, component: data grid

#17104 [code-infra] Update some data-grid tests for vitest
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/columnPinning.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/columnsVisibility.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/dataSourceTreeData.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/infiniteLoader.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/cells.DataGrid.test.tsx
  packages/x-data-grid/src/tests/columnHeaders.DataGrid.test.tsx
  packages/x-data-grid/src/tests/columnSpanning.DataGrid.test.tsx
  packages/x-data-grid/src/tests/columns.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
  packages/x-data-grid/src/tests/toolbar.DataGrid.test.tsx
Labels: test, scope: code-infra, maintenance

#16922 [DataGrid] Refactor: remove more material
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/cell/GridBooleanCell.tsx
  packages/x-data-grid/src/components/cell/GridEditSingleSelectCell.tsx
  packages/x-data-grid/src/components/panel/filterPanel/GridFilterForm.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarColumnsButton.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExport.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarFilterButton.tsx
  packages/x-data-grid/src/components/toolbarV8/GridToolbar.tsx
  packages/x-data-grid/src/models/props/DataGridProps.ts
Labels: component: data grid, enhancement

#17057 [DataGrid] Fix error caused by trying to render rows that are not in the state anymore
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
Labels: bug 🐛, component: data grid, feature: Rendering layout, needs cherry-pick, v7.x

#17038 [pickers] Remove all code duplication to apply default values to validation props
  packages/x-date-pickers-pro/src/DateRangeCalendar/DateRangeCalendar.tsx
  packages/x-date-pickers-pro/src/DateRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/DateTimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/shared.tsx
  packages/x-date-pickers-pro/src/managers/useDateRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useDateTimeRangeManager.ts
  packages/x-date-pickers-pro/src/managers/useTimeRangeManager.ts
  packages/x-date-pickers/src/DateCalendar/DateCalendar.tsx
  packages/x-date-pickers/src/DatePicker/shared.tsx
  packages/x-date-pickers/src/DateTimePicker/shared.tsx
  packages/x-date-pickers/src/MonthCalendar/MonthCalendar.tsx
  packages/x-date-pickers/src/TimePicker/shared.tsx
  packages/x-date-pickers/src/YearCalendar/YearCalendar.tsx
  packages/x-date-pickers/src/internals/hooks/useField/useFieldInternalPropsWithDefaults.ts
  packages/x-date-pickers/src/internals/index.ts
  packages/x-date-pickers/src/managers/useDateManager.ts
  packages/x-date-pickers/src/managers/useDateTimeManager.ts
  packages/x-date-pickers/src/managers/useTimeManager.ts
  packages/x-date-pickers/src/models/manager.ts
  packages/x-date-pickers/src/validation/validateDate.ts
Labels: component: pickers, maintenance

#17121 [codemod] Add a few Data Grid codemods
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/reform-row-selection-model.test.ts
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/reform-row-selection-model/ts-expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/remove-props/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/remove-props/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/remove-props/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/rename-imports.test.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-imports/ts-expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-package/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-package/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-package/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-package/rename-package.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/rename-props/ts-expected.spec.tsx
Labels: component: data grid, package: codemod, v8.x

#17115 [charts] Add pie benchmark
  test/performance-charts/tests/PieChart.bench.tsx
Labels: test, component: charts, maintenance

#17107 [infra] Switch to reusable 'stale issues/PRs' workflow
  .github/workflows/no-response.yml
Labels: enhancement, scope: infra

#17125 [charts] Pie benchmark fix
  test/performance-charts/tests/PieChart.bench.tsx
Labels: test, component: charts, maintenance

#17129 [code-infra] Move `isDeepEqual` to @mui/x-internals
  packages/x-data-grid-generator/src/hooks/useQuery.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationUtils.ts
  packages/x-data-grid-pro/src/utils/tree/updateRowTree.ts
  packages/x-data-grid/src/components/quickFilter/QuickFilter.tsx
  packages/x-data-grid/src/hooks/features/columnGrouping/gridColumnGroupsUtils.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/utils/utils.ts
  packages/x-internals/src/isDeepEqual/index.ts
  packages/x-internals/src/isDeepEqual/isDeepEqual.test.ts
  packages/x-internals/src/isDeepEqual/isDeepEqual.ts
Labels: enhancement, scope: code-infra

#17124 [codemod] Add `showToolbar` prop when using toolbar component
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  packages/x-codemod/README.md
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/actual.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/add-showToolbar-prop.test.ts
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/expected.spec.js
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/index.ts
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/ts-actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/add-showToolbar-prop/ts-expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/actual.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/expected.spec.tsx
  packages/x-codemod/src/v8.0.0/data-grid/preset-safe/index.ts
Labels: component: data grid, package: codemod, v8.x

#17140 [TreeView] Mark the lazy loading feature as stable
  docs/data/tree-view/rich-tree-view/lazy-loading/BasicLazyLoading.js
  docs/data/tree-view/rich-tree-view/lazy-loading/BasicLazyLoading.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/ErrorManagement.js
  docs/data/tree-view/rich-tree-view/lazy-loading/ErrorManagement.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/ErrorManagement.tsx.preview
  docs/data/tree-view/rich-tree-view/lazy-loading/FetchingWithReactQuery.js
  docs/data/tree-view/rich-tree-view/lazy-loading/FetchingWithReactQuery.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingAndLabelEditing.js
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingAndLabelEditing.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingAndLabelEditing.tsx.preview
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingInitialState.js
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingInitialState.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/LazyLoadingInitialState.tsx.preview
  docs/data/tree-view/rich-tree-view/lazy-loading/LowTTLCache.js
  docs/data/tree-view/rich-tree-view/lazy-loading/LowTTLCache.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/LowTTLCache.tsx.preview
  docs/data/tree-view/rich-tree-view/lazy-loading/ReactQueryCache.js
  docs/data/tree-view/rich-tree-view/lazy-loading/ReactQueryCache.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.test.tsx
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.types.ts
Labels: component: pickers, enhancement

#17126 [DataGrid] Remove unwanted attributes from `QuickFilter` component
  packages/x-data-grid/src/components/quickFilter/QuickFilter.tsx
Labels: bug 🐛, component: data grid

#17062 Bump @mui/monorepo and MUI Core packages
  docs/data/charts/styling/SxStyling.js
  docs/data/charts/styling/SxStyling.tsx
  docs/data/data-grid/components/toolbar/GridToolbarCustom.js
  docs/data/data-grid/components/toolbar/GridToolbarCustom.tsx
  docs/data/data-grid/components/toolbar/GridToolbarCustom.tsx.preview
  docs/data/data-grid/features/PopularFeaturesDemo.js
  docs/data/data-grid/features/PopularFeaturesDemo.tsx
  docs/data/data-grid/row-height/RowMarginGrid.js
  docs/data/data-grid/row-height/RowMarginGrid.tsx
  docs/data/data-grid/row-height/RowMarginGrid.tsx.preview
  docs/data/data-grid/style/StripedGrid.js
  docs/data/data-grid/style/StripedGrid.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.js
  docs/data/date-pickers/custom-field/JoyV6Field.tsx
  docs/data/date-pickers/custom-field/JoyV6Field.tsx.preview
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6MultiInputRangeField.tsx.preview
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.js
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx
  docs/data/date-pickers/custom-field/JoyV6SingleInputRangeField.tsx.preview
  docs/data/migration/migration-data-grid-v4/migration-data-grid-v4.md
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.js
  docs/data/tree-view/rich-tree-view/editing/CustomLabelInput.tsx
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.js
  docs/data/tree-view/simple-tree-view/customization/GmailTreeView.tsx
  docs/data/tree-view/tree-item-customization/ContentSlot.js
  docs/data/tree-view/tree-item-customization/ContentSlot.tsx
  docs/package.json
  docs/src/modules/components/ApiDocs.js
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-date-pickers/src/DateCalendar/DayCalendar.tsx
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-tree-view/src/TreeItemLabelInput/TreeItemLabelInput.tsx
  pnpm-lock.yaml
  test/package.json
Labels: dependencies

#17134 [charts] Fix radar hover
  docs/pages/x/api/charts/radar-chart.json
  packages/x-charts/src/RadarChart/RadarAxisHighlight/useRadarAxisHighlight.ts
  packages/x-charts/src/RadarChart/RadarChart.test.tsx
  packages/x-charts/src/RadarChart/RadarGrid/RadarGrid.tsx
  packages/x-charts/src/RadarChart/RadarGrid/useRadarGridData.ts
  packages/x-charts/src/RadarChart/RadarSeriesPlot/useRadarSeriesData.ts
  packages/x-charts/src/hooks/useAxis.ts
  packages/x-charts/src/hooks/useScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianInteraction.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/coordinateTransformation.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/getAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarInteraction.selectors.ts
Labels: regression, component: charts

#17114 [fields] Extract the props of each field slot into a standalone hook that the Base UI implementation can re-use
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.tsx
  packages/x-date-pickers/src/PickersSectionList/PickersSectionList.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/syncSelectionToDOM.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.types.ts
  packages/x-date-pickers/src/internals/hooks/useField/useField.utils.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldHiddenInputProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldRootHandleKeyDown.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldRootProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContainerProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
  packages/x-date-pickers/src/internals/hooks/useField/useFieldV7TextField.ts
Labels: component: pickers, maintenance

#17071 [core] Remove `@mui/styles` dependency & patches
  docs/package.json
  docs/scripts/reportBrokenLinks.js
  package.json
  patches/jss-plugin-camel-case.patch
  patches/jss-plugin-default-unit.patch
  patches/jss-plugin-global.patch
  patches/jss-plugin-nested.patch
  patches/jss-plugin-props-sort.patch
  patches/jss-plugin-rule-value-function.patch
  patches/jss-plugin-vendor-prefixer.patch
  pnpm-lock.yaml
  renovate.json
  scripts/useMaterialUINext.mjs
  scripts/useMaterialUIv6.mjs
Labels: core, enhancement

#17148 [pickers] Fix visual regression in `DateRangeCalendar`'s day
  packages/x-date-pickers-pro/src/DateRangePickerDay/DateRangePickerDay.tsx
Labels: regression, component: pickers

#17144 [DataGridPro] Data source: Allow expanding groups with unknown children
  packages/x-data-grid-premium/src/components/GridDataSourceGroupingCriteriaCell.tsx
  packages/x-data-grid-pro/src/components/GridDataSourceTreeDataGroupingCell.tsx
Labels: bug 🐛, component: data grid, needs cherry-pick, v7.x, feature: Server integration

#17146 [code-infra] Update more data-grid tests for vitest
  packages/x-data-grid-premium/src/tests/DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/cellSelection.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowGrouping.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowGroupingApiRef.DataGridPremium.test.tsx
  packages/x-data-grid-premium/src/tests/rowGroupingProp.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/tests/columns.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/components.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/detailPanel.DataGridPro.test.tsx
  packages/x-data-grid-pro/src/tests/rowPinning.DataGridPro.test.tsx
  packages/x-data-grid/src/tests/export.DataGrid.test.tsx
  packages/x-data-grid/src/tests/filtering.DataGrid.test.tsx
  packages/x-data-grid/src/tests/layout.DataGrid.test.tsx
  packages/x-data-grid/src/tests/rows.DataGrid.test.tsx
Labels: test, maintenance

#17154 [DataGrid] Fix crash when used with `@mui/styled-engine-sc`
  packages/x-data-grid/src/components/GridShadowScrollArea.tsx
Labels: bug 🐛, component: data grid, package: styled-engine-sc

#17156 [charts] Memoize axes and series with default
  packages/x-charts-pro/src/Heatmap/Heatmap.tsx
  packages/x-charts/src/BarChart/useBarChartProps.ts
  packages/x-charts/src/LineChart/useLineChartProps.ts
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
Labels: bug 🐛, component: charts

#17155 v8.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release

#17147 [DataGrid] Support adding a label to the grid
  docs/data/data-grid/accessibility/DensitySelectorGrid.js
  docs/data/data-grid/accessibility/DensitySelectorGrid.tsx
  docs/data/data-grid/components/CustomToolbarGrid.js
  docs/data/data-grid/components/CustomToolbarGrid.tsx
  docs/data/data-grid/components/export/GridExportMenu.js
  docs/data/data-grid/components/export/GridExportMenu.tsx
  docs/data/data-grid/components/toolbar/GridToolbar.js
  docs/data/data-grid/components/toolbar/GridToolbar.tsx
  docs/data/data-grid/components/toolbar/GridToolbarFilterBar.js
  docs/data/data-grid/components/toolbar/GridToolbarFilterBar.tsx
  docs/data/data-grid/components/toolbar/GridToolbarFilterBar.tsx.preview
  docs/data/data-grid/components/toolbar/GridToolbarSettingsMenu.js
  docs/data/data-grid/components/toolbar/GridToolbarSettingsMenu.tsx
  docs/data/data-grid/list-view/components/Toolbar.js
  docs/data/data-grid/list-view/components/Toolbar.tsx
  docs/data/data-grid/overview/DataGridPremiumDemo.js
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx
  docs/data/data-grid/overview/DataGridPremiumDemo.tsx.preview
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/pages/x/api/data-grid/data-grid.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid/data-grid.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/components/panel/GridPanel.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarDensitySelector.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarExportContainer.tsx
  packages/x-data-grid/src/components/toolbar/GridToolbarQuickFilter.tsx
  packages/x-data-grid/src/components/toolbarV8/GridToolbar.tsx
  packages/x-data-grid/src/components/toolbarV8/Toolbar.tsx
  packages/x-data-grid/src/constants/cssVariables.ts
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/utils/useGridAriaAttributes.tsx
  packages/x-data-grid/src/material/variables.ts
  packages/x-data-grid/src/models/gridBaseSlots.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/tests/accessibility.DataGrid.test.tsx
Labels: accessibility, component: data grid, new feature

#16961 [charts] Migrate some animations from react-spring
  docs/pages/x/api/charts/mark-element.json
  docs/pages/x/api/charts/mark-plot.json
  docs/translations/api-docs/charts/mark-element/mark-element.json
  packages/x-charts-vendor/d3-timer.d.ts
  packages/x-charts-vendor/d3-timer.js
  packages/x-charts-vendor/es/d3-timer.mjs
  packages/x-charts-vendor/lib-vendor/d3-timer/LICENSE
  packages/x-charts-vendor/lib-vendor/d3-timer/src/index.js
  packages/x-charts-vendor/lib-vendor/d3-timer/src/interval.js
  packages/x-charts-vendor/lib-vendor/d3-timer/src/timeout.js
  packages/x-charts-vendor/lib-vendor/d3-timer/src/timer.js
  packages/x-charts-vendor/lib/d3-timer.js
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-charts/src/LineChart/AnimatedLine.tsx
  packages/x-charts/src/LineChart/AppearingMask.tsx
  packages/x-charts/src/LineChart/CircleMarkElement.tsx
  packages/x-charts/src/LineChart/MarkElement.tsx
  packages/x-charts/src/LineChart/MarkPlot.tsx
  packages/x-charts/src/LineChart/markElementClasses.ts
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/hooks/animation/index.ts
  packages/x-charts/src/hooks/animation/useAnimateLine.ts
  packages/x-charts/src/hooks/animation/useAnimatePieArc.ts
  packages/x-charts/src/hooks/index.ts
  packages/x-charts/src/internals/animation/Transition.tsx
  packages/x-charts/src/internals/animation/animation.ts
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
  packages/x-charts/src/internals/animation/useAnimate.ts
  packages/x-charts/src/internals/shallowEqual.ts
  pnpm-lock.yaml
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
  test/regressions/index.test.ts
Labels: breaking change, enhancement, component: charts

#17163 v7.28.2
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
Labels: release

#17161 [infra] Add write permission for actions in issue status label handler
  .github/workflows/issue-status-label-handler.yml
Labels: bug 🐛, scope: infra

#17159 [DataGrid] Rename `useGridApiEventHandler` to `useGridEvent`
  docs/data/data-grid/events/CatalogOfEventsNoSnap.js
  docs/data/data-grid/events/SubscribeToEventsHook.js
  docs/data/data-grid/events/SubscribeToEventsHook.tsx
  docs/data/data-grid/events/events.md
  docs/data/migration/migration-data-grid-v7/migration-data-grid-v7.md
  docsTech/README.md
  packages/x-data-grid-premium/src/hooks/features/aggregation/useGridAggregation.ts
  packages/x-data-grid-premium/src/hooks/features/cellSelection/useGridCellSelection.ts
  packages/x-data-grid-premium/src/hooks/features/clipboard/useGridClipboardImport.ts
  packages/x-data-grid-premium/src/hooks/features/dataSource/useGridDataSourcePremium.tsx
  packages/x-data-grid-premium/src/hooks/features/export/useGridExcelExport.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGrouping.tsx
  packages/x-data-grid-pro/src/hooks/features/columnPinning/useGridColumnPinning.tsx
  packages/x-data-grid-pro/src/hooks/features/columnReorder/useGridColumnReorder.tsx
  packages/x-data-grid-pro/src/hooks/features/dataSource/useGridDataSourcePro.ts
  packages/x-data-grid-pro/src/hooks/features/detailPanel/useGridDetailPanel.ts
  packages/x-data-grid-pro/src/hooks/features/infiniteLoader/useGridInfiniteLoader.tsx
  packages/x-data-grid-pro/src/hooks/features/lazyLoader/useGridLazyLoader.ts
  packages/x-data-grid-pro/src/hooks/features/rowReorder/useGridRowReorder.tsx
  packages/x-data-grid-pro/src/hooks/features/serverSideLazyLoader/useGridDataSourceLazyLoader.ts
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeData.tsx
  packages/x-data-grid-pro/src/tests/events.DataGridPro.spec.ts
  packages/x-data-grid/src/components/GridScrollArea.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/hooks/features/clipboard/useGridClipboard.ts
  packages/x-data-grid/src/hooks/features/columnGrouping/useGridColumnGrouping.ts
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnMenu/useGridColumnMenu.ts
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/columns/useGridColumnSpanning.ts
  packages/x-data-grid/src/hooks/features/columns/useGridColumns.tsx
  packages/x-data-grid/src/hooks/features/dataSource/useGridDataSource.ts
  packages/x-data-grid/src/hooks/features/dimensions/useGridDimensions.ts
  packages/x-data-grid/src/hooks/features/editing/useGridCellEditing.ts
  packages/x-data-grid/src/hooks/features/editing/useGridRowEditing.ts
  packages/x-data-grid/src/hooks/features/events/useGridEvents.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/focus/useGridFocus.ts
  packages/x-data-grid/src/hooks/features/keyboardNavigation/useGridKeyboardNavigation.ts
  packages/x-data-grid/src/hooks/features/listView/useGridListView.tsx
  packages/x-data-grid/src/hooks/features/pagination/useGridPaginationModel.ts
  packages/x-data-grid/src/hooks/features/pagination/useGridRowCount.ts
  packages/x-data-grid/src/hooks/features/rowSelection/useGridRowSelection.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/hooks/features/rows/useGridRows.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/hooks/features/virtualization/useGridVirtualScroller.tsx
  packages/x-data-grid/src/hooks/utils/index.ts
  packages/x-data-grid/src/hooks/utils/useGridEvent.test.tsx
  packages/x-data-grid/src/hooks/utils/useGridEvent.ts
  packages/x-data-grid/src/hooks/utils/useGridNativeEventListener.ts
  scripts/x-data-grid-premium.exports.json
  scripts/x-data-grid-pro.exports.json
  scripts/x-data-grid.exports.json
Labels: breaking change, component: data grid, enhancement

#17150 [code-infra] Remove clock=fake from `describeValidation`
  packages/x-date-pickers-pro/src/DesktopDateRangePicker/tests/describeValidation.DesktopDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopDateTimeRangePicker/tests/describeValidation.DesktopDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/tests/describeValidation.DesktopTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateRangePicker/tests/describeValidation.MobileDateRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileDateTimeRangePicker/tests/describeValidation.MobileDateTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/tests/describeValidation.MobileTimeRangePicker.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateRangeField/tests/describeValidation.MultiInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/MultiInputDateTimeRangeField/tests/describeValidation.MultiInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/MultiInputTimeRangeField/tests/describeValidation.MultiInputTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateRangeField/tests/describeValidation.SingleInputDateRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputDateTimeRangeField/tests/describeValidation.SingleInputDateTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/SingleInputTimeRangeField/tests/describeValidation.SingleInputTimeRangeField.test.tsx
  packages/x-date-pickers-pro/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/x-date-pickers/src/DateCalendar/tests/describeValidation.DateCalendar.test.tsx
  packages/x-date-pickers/src/DateField/tests/describeValidation.DateField.test.tsx
  packages/x-date-pickers/src/DateTimeField/tests/describeValidation.DateTimeField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/describeValidation.DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/DesktopDateTimePicker/tests/describeValidation.DesktopDateTimePicker.test.tsx
  packages/x-date-pickers/src/DesktopTimePicker/tests/describeValidation.DesktopTimePicker.test.tsx
  packages/x-date-pickers/src/DigitalClock/tests/describeValidation.DigitalClock.test.tsx
  packages/x-date-pickers/src/MobileDatePicker/tests/describeValidation.MobileDatePicker.test.tsx
  packages/x-date-pickers/src/MobileDateTimePicker/tests/describeValidation.MobileDateTimePicker.test.tsx
  packages/x-date-pickers/src/MobileTimePicker/tests/describeValidation.MobileTimePicker.test.tsx
  packages/x-date-pickers/src/MonthCalendar/tests/describeValidation.MonthCalendar.test.tsx
  packages/x-date-pickers/src/MultiSectionDigitalClock/tests/describeValidation.MultiSectionDigitalClock.test.tsx
  packages/x-date-pickers/src/StaticDatePicker/tests/describeValidation.StaticDatePicker.test.tsx
  packages/x-date-pickers/src/StaticDateTimePicker/tests/describeValidation.StaticDateTimePicker.test.tsx
  packages/x-date-pickers/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/x-date-pickers/src/TimeField/tests/describeValidation.TimeField.test.tsx
  packages/x-date-pickers/src/YearCalendar/tests/describeValidation.YearCalendar.test.tsx
  packages/x-date-pickers/src/internals/hooks/useField/buildSectionsFromFormat.ts
  test/utils/pickers/describeRangeValidation/testDayViewRangeValidation.tsx
  test/utils/pickers/describeRangeValidation/testTextFieldKeyboardRangeValidation.tsx
  test/utils/pickers/describeRangeValidation/testTextFieldRangeValidation.tsx
  test/utils/pickers/describeValidation/describeValidation.types.ts
  test/utils/pickers/describeValidation/testDayViewValidation.tsx
  test/utils/pickers/describeValidation/testMinutesViewValidation.tsx
  test/utils/pickers/describeValidation/testMonthViewValidation.tsx
  test/utils/pickers/describeValidation/testTextFieldValidation.tsx
Labels: test, scope: code-infra, maintenance

#16774 [pickers] Fix time picker scrollbar width
  packages/x-date-pickers/src/MultiSectionDigitalClock/MultiSectionDigitalClockSection.tsx
Labels: bug 🐛, component: pickers, component: TimePicker, design

#17202 [code-infra] Fix pickers failing test after clock=fake removal
  test/utils/pickers/describeRangeValidation/testDayViewRangeValidation.tsx
Labels: test, scope: code-infra, maintenance

#17198 [docs] Sync Stack Overflow docs with reality
  docs/data/introduction/support/support.md
Labels: docs, enhancement

#17171 [docs] Use v6 core packages in MUI X v7 docs
  docs/pages/_app.js
Labels: docs, core

#17203 [TimePicker] Align DigitalClock scrollbar thickness
  packages/x-date-pickers/src/DigitalClock/DigitalClock.tsx
Labels: component: pickers, component: TimePicker, enhancement, design

#17200 [docs] Fix redirection getting-started
  docs/pages/x/api/date-pickers/localization-provider.json
  docs/src/modules/components/InstallationGrid.js
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: bug 🐛, docs, regression

#17207 [docs] Update Localization Provider JSDoc link
  docs/pages/x/api/date-pickers/localization-provider.json
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: docs, component: pickers

#17208 [docs] Update Localization Provider JSDoc link
  docs/pages/x/api/date-pickers/localization-provider.json
  packages/x-date-pickers/src/LocalizationProvider/LocalizationProvider.tsx
Labels: docs, component: pickers
