Repository mui/mui-x, pull requests merged in 2025-09, with the labels that each got.

#19399 [pickers] Merge slotProps for input adornment in PickerFieldUI component
  packages/x-date-pickers/src/internals/components/PickerFieldUI.tsx
Labels: type: regression, scope: pickers

#19248 [tree view] Expose the methods to manually refetch the children of an item
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodIsItemExpanded.js
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodIsItemExpanded.tsx
  docs/data/tree-view/rich-tree-view/expansion/ApiMethodIsItemExpanded.tsx.preview
  docs/data/tree-view/rich-tree-view/expansion/expansion.md
  docs/data/tree-view/rich-tree-view/lazy-loading/ApiMethodUpdateItemChildren.js
  docs/data/tree-view/rich-tree-view/lazy-loading/ApiMethodUpdateItemChildren.tsx
  docs/data/tree-view/rich-tree-view/lazy-loading/ApiMethodUpdateItemChildren.tsx.preview
  docs/data/tree-view/rich-tree-view/lazy-loading/lazy-loading.md
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodIsItemExpanded.js
  docs/data/tree-view/simple-tree-view/expansion/ApiMethodIsItemExpanded.tsx
  docs/data/tree-view/simple-tree-view/expansion/expansion.md
  docs/pages/x/api/tree-view/rich-tree-view-pro.json
  docs/pages/x/api/tree-view/rich-tree-view.json
  docs/pages/x/api/tree-view/simple-tree-view.json
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.tsx
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/index.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.ts
  packages/x-tree-view-pro/src/internals/plugins/useTreeViewLazyLoading/utils.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.tsx
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.tsx
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/internals/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.types.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLazyLoading/index.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewLazyLoading/useTreeViewLazyLoading.types.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.ts
  packages/x-tree-view/src/internals/useTreeView/useTreeView.types.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.types.ts
  scripts/x-tree-view-pro.exports.json
  test/utils/tree-view/describeTreeView/describeTreeView.tsx
Labels: type: new feature, scope: tree view

#19392 [scheduler] Add tests for the `EventCalendarInstance` class
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarInstance.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/core.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/date.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/event.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/preferences.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/resource.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/utils.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/view.EventCalendarInstance.test.ts
Labels: type: enhancement, scope: scheduler

#19384 [DateGrid] Refine types in `GridCell` component
  packages/x-data-grid/src/components/cell/GridCell.tsx
Labels: scope: data grid, typescript, type: enhancement

#19397 [charts] Prevent crash and warn user on incorrect `axisId` when composing
  docs/pages/x/api/charts/charts-x-axis.json
  docs/pages/x/api/charts/charts-y-axis.json
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.test.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.test.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
Labels: type: bug, scope: charts

#19407 [infra] Remove "main" fields from publishable packages
  package.json
  packages/x-charts-premium/package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-license/package.json
  packages/x-scheduler/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  pnpm-lock.yaml
Labels: type: enhancement, scope: code-infra

#19395 [scheduler] Allow to set a custom default color on the Event Calendar component
  docs/data/scheduler/datasets/car-rental.js
  docs/data/scheduler/datasets/car-rental.ts
  docs/data/scheduler/datasets/palette-demo.js
  docs/data/scheduler/datasets/palette-demo.ts
  docs/data/scheduler/datasets/personal-agenda.js
  docs/data/scheduler/datasets/personal-agenda.ts
  docs/data/scheduler/datasets/recurring-events.js
  docs/data/scheduler/datasets/recurring-events.ts
  docs/data/scheduler/event-calendar/ColorPalettes.js
  docs/data/scheduler/event-calendar/ColorPalettes.tsx
  docs/data/scheduler/event-calendar/ColorPalettes.tsx.preview
  docs/data/scheduler/event-calendar/FullEventCalendar.js
  docs/data/scheduler/event-calendar/FullEventCalendar.tsx
  docs/data/scheduler/event-calendar/event-calendar.md
  packages/x-scheduler/src/material/agenda-view/AgendaView.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/day-time-grid/TimeGridColumn.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.test.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.tsx
  packages/x-scheduler/src/material/internals/components/event-popover/EventPopover.types.ts
  packages/x-scheduler/src/material/internals/components/event/Event.types.ts
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/resource-legend/ResourceLegend.tsx
  packages/x-scheduler/src/material/internals/utils/color-utils.ts
  packages/x-scheduler/src/material/month-view/month-view-row/MonthViewWeekRow.tsx
  packages/x-scheduler/src/primitives/models/resource.ts
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarInstance.ts
  packages/x-scheduler/src/primitives/use-event-calendar/store.ts
  packages/x-scheduler/src/primitives/use-event-calendar/tests/core.EventCalendarInstance.test.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useEventCalendar.types.ts
  packages/x-scheduler/src/primitives/use-event-calendar/useExtractEventCalendarParameters.ts
Labels: type: new feature, scope: scheduler

#19419 [release] v8.11.1
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-virtualizer/package.json
Labels: release, v8.x

#19444 [infra] Remove wrong publish option
  .github/workflows/publish.yml
Labels: type: bug, scope: code-infra

#19446 [code-infra] Fix publish token
  .github/workflows/publish.yml
Labels: type: bug, scope: code-infra

#19427 [DataGrid] perf: fix stringify() for theme objects
  packages/x-data-grid/src/material/variables.ts
  packages/x-internals/src/hash/index.ts
  packages/x-internals/src/hash/stringify.ts
Labels: scope: data grid, type: enhancement

#19460 [DataGrid] Fix styled API arguments error
  packages/x-data-grid/src/components/columnsManagement/GridColumnsManagement.tsx
Labels: type: bug, scope: data grid, customization: css

#19466 [DataGrid] Fix indeterminate select all state with exclude model
  packages/x-data-grid/src/components/columnSelection/GridHeaderCheckbox.tsx
Labels: type: bug, scope: data grid, feature: Selection

#19483 [TreeView] Do not mutate `props.items` in the `getItemTree` method
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
Labels: type: bug, scope: tree view

#19402 [TreeView] Expose a new hook to apply selection propagation on the selected items
  docs/data/tree-view/rich-tree-view/selection/SelectionPropagationMount.js
  docs/data/tree-view/rich-tree-view/selection/SelectionPropagationMount.tsx
  docs/data/tree-view/rich-tree-view/selection/SelectionPropagationMount.tsx.preview
  docs/data/tree-view/rich-tree-view/selection/selection.md
  packages/x-tree-view/src/hooks/index.ts
  packages/x-tree-view/src/hooks/useApplyPropagationToSelectedItemsOnMount.test.tsx
  packages/x-tree-view/src/hooks/useApplyPropagationToSelectedItemsOnMount.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: type: new feature, scope: tree view

#19486 [charts] Fix highlight regression
  packages/x-charts/src/BarChart/BarChart.test.tsx
  packages/x-charts/src/hooks/useInteractionItemProps.ts
Labels: type: regression, scope: charts

#19489 [l10n][charts] Add svSE locale
  docs/data/charts/localization/data.json
  packages/x-charts/src/locales/index.ts
  packages/x-charts/src/locales/svSE.ts
Labels: l10n, type: enhancement, scope: charts

#19198 [charts] Improve code reuse in `ChartsXAxis` and `ChartsYAxis`
  packages/x-charts/src/ChartsXAxis/ChartsGroupedXAxisTicks.tsx
  packages/x-charts/src/ChartsXAxis/ChartsSingleXAxisTicks.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxis.tsx
  packages/x-charts/src/ChartsXAxis/ChartsXAxisImpl.tsx
  packages/x-charts/src/ChartsXAxis/useAxisTicksProps.ts
  packages/x-charts/src/ChartsXAxis/utilities.ts
  packages/x-charts/src/ChartsYAxis/ChartsGroupedYAxisTicks.tsx
  packages/x-charts/src/ChartsYAxis/ChartsSingleYAxisTicks.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxis.tsx
  packages/x-charts/src/ChartsYAxis/ChartsYAxisImpl.tsx
  packages/x-charts/src/ChartsYAxis/useAxisTicksProps.ts
  packages/x-charts/src/ChartsYAxis/utilities.ts
Labels: type: enhancement, scope: charts

#19490 [code-infra] Remove log when restarting dev server
  docs/next.config.ts
Labels: type: enhancement, scope: code-infra

#19503 [infra] Set nodejs versions of various CIs to 22.18
  .circleci/config.yml
  .github/workflows/ci.yml
  netlify.toml
  package.json
  pnpm-workspace.yaml
Labels: type: regression, scope: code-infra

#19467 [DataGridPremium] Fallback to the regular reorder method for plain data
  packages/x-data-grid-premium/src/hooks/features/rows/useGridRowsOverridableMethods.ts
Labels: scope: data grid, type: regression, feature: Selection

#19507 [code-infra] Store test results in CI
  .circleci/config.yml
  vitest.config.mts
Labels: type: enhancement, scope: code-infra

#19523 [fields] Remove redundant `id` and `aria-labelledby` attributes from spinbuttons
  packages/x-date-pickers/src/internals/hooks/useField/useFieldSectionContentProps.ts
Labels: accessibility, scope: pickers, type: enhancement, feature: Keyboard editing

#19382 [charts] Add `inline-` piecewise legend options
  docs/data/charts/legend/LegendLabelPositions.js
  docs/data/charts/legend/LegendLabelPositions.tsx
  docs/data/charts/legend/PiecewiseInteractiveDemo.js
  docs/data/charts/legend/PiecewiseInteractiveDemo.tsx
  docs/data/charts/legend/legend.md
  docs/pages/x/api/charts/piecewise-color-legend.json
  docs/translations/api-docs/charts/piecewise-color-legend/piecewise-color-legend.json
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.test.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/ChartsLegend/piecewiseColorLegendClasses.ts
Labels: type: enhancement, scope: charts

#19350 [TreeView] Support flat DOM structure
  packages/x-tree-view/src/internals/components/RichTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.selectors.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.tsx
  packages/x-tree-view/src/internals/plugins/useTreeViewItems/useTreeViewItems.types.ts
  packages/x-tree-view/src/useTreeItem/useTreeItem.test.tsx
  test/utils/tree-view/fakeContextValue.ts
Labels: type: new feature, scope: tree view

#19524 [charts-pro] Add chart title and caption to export demo
  docs/data/charts/export/ExportChartOnBeforeExport.js
  docs/data/charts/export/ExportChartOnBeforeExport.tsx
  docs/data/charts/export/ExportChartOnBeforeExport.tsx.preview
  docs/data/charts/export/ExportCompositionNoSnap.js
  docs/data/charts/export/ExportCompositionNoSnap.tsx
  docs/data/charts/export/export.md
  packages/x-charts-pro/src/internals/plugins/useChartProExport/common.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/exportImage.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/print.ts
  packages/x-charts-pro/src/internals/plugins/useChartProExport/useChartProExport.ts
Labels: type: enhancement, scope: charts

#19586 [scheduler] Prevent resizing events in the Time Grid Column when the event is present in the previous / next column
  packages/x-scheduler/src/primitives/time-grid/column/TimeGridColumnContext.ts
  packages/x-scheduler/src/primitives/time-grid/event-resize-handler/TimeGridEventResizeHandler.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/time-grid/event/TimeGridEventContext.ts
Labels: type: bug, scope: scheduler

#19583 [release] v8.11.3
  CHANGELOG.md
  package.json
  packages/x-charts-pro/package.json
  packages/x-charts-vendor/package.json
  packages/x-charts/package.json
  packages/x-codemod/package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
  packages/x-date-pickers-pro/package.json
  packages/x-date-pickers/package.json
  packages/x-internal-gestures/package.json
  packages/x-internals/package.json
  packages/x-license/package.json
  packages/x-telemetry/package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
  packages/x-virtualizer/package.json
Labels: release

#19535 [charts] Fix zoom discard inconsistency
  docs/data/visual-regression-tests/ZoomSliderPreview.js
  docs/data/visual-regression-tests/ZoomSliderPreview.tsx
  docs/data/visual-regression-tests/ZoomSliderPreview.tsx.preview
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/createAxisFilterMapper.test.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/createAxisFilterMapper.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisDomainLimit.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisPreview.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
  packages/x-charts/src/internals/scaleGuards.ts
Labels: type: bug, scope: charts

#19574 [scheduler] Fix updating recurring events when dragged
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/month-view/MonthView.tsx
  packages/x-scheduler/src/primitives/day-grid/cell/useDayGridCellDropTarget.ts
  packages/x-scheduler/src/primitives/models/event.ts
  packages/x-scheduler/src/primitives/time-grid/column/useTimeGridColumnDropTarget.ts
  packages/x-scheduler/src/primitives/utils/date-utils.ts
  packages/x-scheduler/src/primitives/utils/recurrence-utils.test.ts
  packages/x-scheduler/src/primitives/utils/recurrence-utils.ts
Labels: type: bug, scope: scheduler

#19571 [test] Reduce time for wheel zoom test
  packages/x-charts-pro/src/BarChartPro/BarChartPro.zoom.test.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.zoom.test.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.zoom.test.tsx
Labels: test, type: enhancement, scope: charts

#19602 [charts] Add composition demo for legends and tooltip
  docs/data/charts/composition/LegendTooltipComposition.js
  docs/data/charts/composition/LegendTooltipComposition.tsx
  docs/data/charts/composition/composition.md
Labels: type: enhancement, scope: charts

#19601 [scheduler] Improve performances of `buildOccurrenceConflicts`
  packages/x-scheduler/src/primitives/use-event-occurrences-with-timeline-position/useEventOccurrencesWithTimelinePosition.ts
Labels: performance, type: enhancement, scope: scheduler

#19335 [charts] Export plugins
  packages/x-charts-premium/src/plugins/index.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.plugins.ts
  packages/x-charts-pro/src/index.ts
  packages/x-charts-pro/src/plugins/index.ts
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.plugins.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/ScatterChart/useScatterChartProps.ts
  packages/x-charts/src/index.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartClosestPoint/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartClosestPoint/useChartClosestPoint.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartClosestPoint/useChartClosestPoint.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartClosestPoint/useChartClosestPoint.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartVoronoi/useChartVoronoi.selectors.ts
  packages/x-charts/src/plugins/index.ts
  scripts/x-charts-pro.exports.json
  scripts/x-charts.exports.json
Labels: dx, type: enhancement, scope: charts

#19609 [scheduler] Remove unused ref in event placeholders
  packages/x-scheduler/src/primitives/day-grid/event-placeholder/DayGridEventPlaceholder.tsx
  packages/x-scheduler/src/primitives/time-grid/event-placeholder/TimeGridEventPlaceholder.tsx
Labels: type: enhancement, scope: scheduler

#19610 [charts] Fix piecewise scale causing wrong colors in axis with min/max
  docs/data/visual-regression-tests/PiecewiseRestrictedAxis.js
  docs/data/visual-regression-tests/PiecewiseRestrictedAxis.tsx
  packages/x-charts/src/ScatterChart/Scatter.tsx
Labels: type: bug, scope: charts

#19605 [charts] Add a demo showcasing bar and scatter composition
  docs/data/charts/bars/BarScatterCompostion.js
  docs/data/charts/bars/BarScatterCompostion.tsx
  docs/data/charts/bars/bars.md
  docs/data/charts/dataset/gdpGrowth.js
  docs/data/charts/dataset/gdpGrowth.ts
Labels: docs, type: enhancement, scope: charts

#19595 [code-infra] Load `tsx` files in visual regression
  docs/data/charts/dataset/airportData.js
  docs/data/charts/dataset/airportData.ts
  docs/data/visual-regression-tests/BarBorderRadius.tsx
  docs/data/visual-regression-tests/PiecewiseRestrictedAxis.tsx
  docs/data/visual-regression-tests/XAxisAnchorBaselineDefaults.tsx
  docs/data/visual-regression-tests/XAxisAnchorBaselineDefaults.tsx.preview
  docs/data/visual-regression-tests/XAxisTickLabelOverflow.js
  docs/data/visual-regression-tests/YAxisTickLabelOverflow.js
  docs/data/visual-regression-tests/ZoomSliderPreview.js
  docs/data/visual-regression-tests/ZoomSliderPreview.tsx.preview
  test/regressions/charts/BarBorderRadius.tsx
  test/regressions/charts/FunnelBump.tsx
  test/regressions/charts/FunnelLinear.tsx
  test/regressions/charts/FunnelLinearSharp.tsx
  test/regressions/charts/FunnelPyramid.tsx
  test/regressions/charts/FunnelStep.tsx
  test/regressions/charts/FunnelStepPyramid.tsx
  test/regressions/charts/PiecewiseRestrictedAxis.tsx
  test/regressions/charts/XAxisAnchorBaselineDefaults.tsx
  test/regressions/charts/XAxisTickLabelOverflow.tsx
  test/regressions/charts/YAxisTickLabelOverflow.tsx
  test/regressions/charts/ZoomSliderPreview.tsx
  test/regressions/pickers/DateCalendarYearOnly.tsx
  test/regressions/pickers/OpenDatePicker.tsx
  test/regressions/pickers/OpenDateTimePicker.tsx
  test/regressions/pickers/OpenDateTimePickerClock.tsx
  test/regressions/pickers/OpenTimePicker.tsx
  test/regressions/pickers/UncontrolledDateTimePicker.tsx
  test/regressions/testsBySuite.ts
Labels: type: enhancement, scope: code-infra

#19606 [charts] Fix performance issue with JS animations
  packages/x-charts/src/internals/animation/Transition.test.ts
  packages/x-charts/src/internals/animation/Transition.ts
  packages/x-charts/src/internals/animation/useAnimate.test.tsx
Labels: type: bug, scope: charts

#19620 [charts] Add renderer suffix to performance benchmarks
  test/performance-charts/tests/ScatterChartPro.bench.tsx
Labels: type: enhancement, scope: charts

#19619 [pickers] Fix `apiRef.current.isItemExpanded()` method
  packages/x-tree-view/src/internals/plugins/useTreeViewExpansion/useTreeViewExpansion.ts
Labels: type: bug, scope: tree view

#19343 [charts] Document how plugins can be used
  docs/data/charts/pie/pie.md
  docs/data/charts/plugins/plugins.md
  docs/data/pages.ts
  docs/pages/x/api/charts/chart-container.json
  docs/pages/x/api/charts/chart-data-provider.json
  docs/pages/x/react-charts/plugins.js
  packages/x-charts-pro/src/internals/plugins/useChartProExport/useChartProExport.types.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartInteraction/checkHasInteractionPlugin.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartPolarAxis/useChartPolarAxis.types.ts
Labels: docs, type: enhancement, scope: charts

#19626 [pickers] Preserve time format when using single column layout on TimeRangePicker
  packages/x-date-pickers-pro/src/DesktopTimeRangePicker/DesktopTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/MobileTimeRangePicker/MobileTimeRangePicker.tsx
  packages/x-date-pickers-pro/src/TimeRangePicker/shared.tsx
Labels: type: bug, plan: Pro, scope: pickers, component: TimePicker

#19627 [charts] Refactor `getAxisExtremum`
  packages/x-charts-pro/src/FunnelChart/funnelAxisPlugin/computeAxisValue.ts
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/computeAxisValue.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisExtrema.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisScale.ts
Labels: type: enhancement, scope: charts

#19618 [charts][docs] Replace axis type and axis data with a table
  docs/data/charts/axis/axis.md
Labels: docs, type: enhancement, scope: charts

#19155 [charts] Introduce keyboard navigation
  docs/data/charts/accessibility/KeyboardNavigation.js
  docs/data/charts/accessibility/KeyboardNavigation.tsx
  docs/data/charts/accessibility/accessibility.md
  docs/data/charts/accessibility/randomData.js
  docs/data/charts/accessibility/randomData.ts
  docs/data/charts/lines/lines.md
  docs/pages/x/react-charts/accessibility.js
  packages/x-charts-pro/src/BarChartPro/BarChartPro.plugins.ts
  packages/x-charts-pro/src/BarChartPro/BarChartPro.tsx
  packages/x-charts-pro/src/LineChartPro/LineChartPro.plugins.ts
  packages/x-charts-pro/src/LineChartPro/LineChartPro.tsx
  packages/x-charts-pro/src/PieChartPro/PieChartPro.plugins.ts
  packages/x-charts-pro/src/PieChartPro/PieChartPro.tsx
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.plugins.ts
  packages/x-charts-pro/src/ScatterChartPro/ScatterChartPro.tsx
  packages/x-charts/src/BarChart/BarChart.plugins.ts
  packages/x-charts/src/BarChart/BarChart.tsx
  packages/x-charts/src/BarChart/BarElement.tsx
  packages/x-charts/src/ChartContainer/ChartContainer.tsx
  packages/x-charts/src/ChartContainer/useChartContainerProps.ts
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
  packages/x-charts/src/LineChart/FocusedMark.tsx
  packages/x-charts/src/LineChart/LineChart.plugins.ts
  packages/x-charts/src/LineChart/LineChart.tsx
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.plugins.ts
  packages/x-charts/src/PieChart/PieChart.tsx
  packages/x-charts/src/PieChart/dataTransform/useTransformData.ts
  packages/x-charts/src/ScatterChart/Scatter.tsx
  packages/x-charts/src/ScatterChart/ScatterChart.plugins.ts
  packages/x-charts/src/ScatterChart/ScatterChart.tsx
  packages/x-charts/src/SparkLineChart/SparkLineChart.tsx
  packages/x-charts/src/hooks/useFocusedItem.ts
  packages/x-charts/src/hooks/useIsItemFocused.ts
  packages/x-charts/src/hooks/useIsItemFocusedGetter.tsx
  packages/x-charts/src/internals/index.ts
  packages/x-charts/src/internals/plugins/allPlugins.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/index.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/useChartKeyboardNavigation.helpers.test.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/useChartKeyboardNavigation.helpers.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/useChartKeyboardNavigation.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/useChartKeyboardNavigation.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartKeyboardNavigation/useChartKeyboardNavigation.types.ts
  scripts/buildApiDocs/chartsSettings/index.ts
Labels: accessibility, type: enhancement, scope: charts

#19635 [pickers] Ensure reference value is not updated for invalid values
  packages/x-date-pickers/src/internals/hooks/useField/useFieldState.ts
Labels: type: regression, scope: pickers

#18979 [codemod] Bump `engines.node` to `>=20.19` to align with `yargs` package
  packages/x-codemod/package.json
Labels: breaking change, type: enhancement, package: codemod, v9.x, stale, scope: all components

#19636 [charts-pro] Add `valueFormatter` to sankey
  .github/copilot-instructions.md
  docs/data/charts/sankey/SankeyValueFormatter.js
  docs/data/charts/sankey/SankeyValueFormatter.tsx
  docs/data/charts/sankey/sankey.md
  packages/x-charts-pro/src/SankeyChart/SankeyLinkLabel.tsx
  packages/x-charts-pro/src/SankeyChart/sankey.types.ts
  packages/x-charts-pro/src/SankeyChart/seriesConfig/getSeriesWithDefaultValues.ts
  packages/x-charts-pro/src/SankeyChart/seriesConfig/tooltipGetter.ts
  scripts/x-charts-pro.exports.json
Labels: type: new feature, plan: Pro, scope: charts

#19659 [charts-pro] Allow exporting `SankeyChart`
  docs/data/charts/export/PrintChart.js
  docs/data/charts/export/PrintChart.tsx
  docs/data/charts/export/export.md
  docs/pages/x/api/charts/sankey-chart.json
  packages/x-charts-pro/src/SankeyChart/SankeyChart.plugins.ts
  packages/x-charts-pro/src/SankeyChart/SankeyChart.tsx
  packages/x-charts-pro/src/context/ChartProApi.ts
Labels: type: new feature, plan: Pro, scope: charts

#19679 [infra][charts] Add Prakharas a codeowner of the docs
  .github/CODEOWNERS
Labels: type: enhancement, scope: charts

#19655 [charts] Fix horizontal layout and tooltip
  docs/data/charts/legend/legend.md
  docs/data/charts/toolbar/toolbar.md
  packages/x-charts/src/ChartsLegend/ContinuousColorLegend.tsx
  packages/x-charts/src/ChartsLegend/PiecewiseColorLegend.tsx
  packages/x-charts/src/ChartsWrapper/ChartsWrapper.tsx
  packages/x-charts/src/Toolbar/Toolbar.tsx
  test/regressions/charts/ToolbarLegendPosition.tsx
Labels: type: bug, breaking change, scope: charts

#19693 [infra] Update `findLatestTaggedVersion` to filter tags based on major version
  scripts/changelogUtils.mjs
  scripts/createReleasePR.mjs
Labels: type: bug, scope: support-infra

#19673 [charts] Remove unused code path from `getAxisScale`
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/getAxisScale.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisPreview.selectors.ts
  packages/x-charts/src/internals/plugins/featurePlugins/useChartCartesianAxis/useChartCartesianAxisRendering.selectors.ts
Labels: type: enhancement, scope: charts

#19694 [charts] Make new hideLegend prop on ChartWrapper optional
  docs/pages/x/api/charts/charts-wrapper.json
  packages/x-charts/src/ChartsWrapper/ChartsWrapper.tsx
Labels: type: bug, scope: charts

#19607 [DataGridPremium] Fix sorting and filtering of the tree group columns with aggregation
  docs/data/data-grid/aggregation/AggregationTreeData.js
  docs/data/data-grid/aggregation/AggregationTreeData.tsx
  docs/data/data-grid/aggregation/AggregationTreeData.tsx.preview
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/aggregation/createAggregationLookup.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationInterfaces.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/gridAggregationSelectors.ts
  packages/x-data-grid-premium/src/hooks/features/aggregation/wrapColumnWithAggregation.tsx
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/gridRowGroupingUtils.ts
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/useGridRowGroupingPreProcessors.ts
  packages/x-data-grid-premium/src/tests/aggregation.DataGridPremium.test.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid-pro/src/hooks/features/treeData/gridTreeDataUtils.ts
  packages/x-data-grid-pro/src/hooks/features/treeData/useGridTreeDataPreProcessors.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/components/cell/GridCell.tsx
  packages/x-data-grid/src/hooks/features/filter/gridFilterState.ts
  packages/x-data-grid/src/hooks/features/filter/gridFilterUtils.ts
  packages/x-data-grid/src/hooks/features/filter/useGridFilter.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/models/api/gridParamsApi.ts
  packages/x-data-grid/src/models/configuration/gridAggregationConfiguration.ts
  packages/x-data-grid/src/models/configuration/gridConfiguration.ts
Labels: type: bug, scope: data grid, plan: Premium, feature: Tree data, feature: Aggregation

#19692 [DataGridPremium] Disable aggregation on the grouping column by default
  packages/x-data-grid-premium/src/hooks/features/rowGrouping/createGroupingColDef.tsx
Labels: scope: data grid, plan: Premium, feature: Row grouping, feature: Aggregation, type: enhancement

#19677 [DataGridPremium] Do not rely on the group separation constant to retrieve the column name for the charts panel
  packages/x-data-grid-premium/src/hooks/features/chartsIntegration/useGridChartsIntegration.tsx
Labels: type: bug, scope: data grid, plan: Premium

#19701 [infra] Fix changelog generation for charts premium
  scripts/changelogUtils.mjs
  scripts/dangerfileContent.ts
Labels: type: bug, scope: code-infra

#19705 [release] v7.29.10
  CHANGELOG.md
  package.json
  packages/x-tree-view-pro/package.json
  packages/x-tree-view/package.json
Labels: release, v7.x

#19703 [scheduler] Move all the `isEventResizable` and `isEventDraggable` logic inside selectors
  packages/x-scheduler/src/material/internals/components/day-time-grid/DayTimeGrid.tsx
  packages/x-scheduler/src/material/internals/components/event/day-grid-event/DayGridEvent.tsx
  packages/x-scheduler/src/material/internals/components/event/time-grid-event/TimeGridEvent.tsx
  packages/x-scheduler/src/primitives/models/event.ts
  packages/x-scheduler/src/primitives/use-event-calendar/EventCalendarStore.selectors.ts
  packages/x-scheduler/src/primitives/utils/SchedulerStore/SchedulerStore.selectors.ts
  packages/x-scheduler/src/primitives/utils/event-utils.ts
Labels: type: enhancement, scope: scheduler

#19713 [pickers] Fix `slotProps.textField.slotProps.htmlInput` resolution
  packages/x-date-pickers/src/DateField/tests/DateField.test.tsx
  packages/x-date-pickers/src/DesktopDatePicker/tests/DesktopDatePicker.test.tsx
  packages/x-date-pickers/src/internals/components/PickerFieldUI.tsx
Labels: type: bug, scope: pickers

#19715 [release] v8.12.1
  CHANGELOG.md
  package.json
  packages/x-data-grid-generator/package.json
  packages/x-data-grid-premium/package.json
  packages/x-data-grid-pro/package.json
  packages/x-data-grid/package.json
Labels: release

#19717 [scheduler] Refactor - use `original` when checking the source of truth before applying changes
  packages/x-scheduler/src/primitives/utils/SchedulerStore/SchedulerStore.ts
Labels: type: enhancement, scope: scheduler

#19544 [tree view] Fix indeterminate checkbox state
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.itemPlugin.ts
  packages/x-tree-view/src/internals/plugins/useTreeViewSelection/useTreeViewSelection.test.tsx
Labels: type: bug, scope: tree view

#19729 [code-infra] Change charts codspeed integration to use walltime
  .github/workflows/codspeed.yml
Labels: type: bug, scope: charts, scope: code-infra

#19695 [DataGridPremium] Add `metadata.referenceId` to AI assistant prompt resolver
  docs/data/data-grid/ai-assistant/ai-assistant.md
  packages/x-data-grid-premium/src/hooks/features/aiAssistant/gridAiAssistantInterfaces.ts
Labels: type: new feature, scope: ai-assistant

#19724 [DataGridPremium] Fix aggregation value retrieval
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-premium/src/DataGridPremium/useDataGridPremiumComponent.tsx
  packages/x-data-grid-premium/src/hooks/features/chartsIntegration/useGridChartsIntegration.tsx
  packages/x-data-grid-premium/src/hooks/features/rows/useGridParamsOverridableMethods.ts
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProComponent.tsx
  packages/x-data-grid/src/DataGrid/DataGrid.tsx
  packages/x-data-grid/src/DataGrid/useDataGridComponent.tsx
  packages/x-data-grid/src/hooks/features/rows/useGridParamsApi.ts
  packages/x-data-grid/src/hooks/features/rows/useGridParamsOverridableMethods.ts
  packages/x-data-grid/src/hooks/features/sorting/gridSortingUtils.ts
  packages/x-data-grid/src/hooks/features/sorting/useGridSorting.ts
  packages/x-data-grid/src/internals/index.ts
  packages/x-data-grid/src/models/configuration/gridAggregationConfiguration.ts
  packages/x-data-grid/src/models/configuration/gridConfiguration.ts
  packages/x-data-grid/src/models/configuration/gridParamsConfiguration.ts
Labels: scope: data grid, type: regression, plan: Premium, feature: Filtering, feature: Aggregation

#19720 [DataGridPremium] Get correct active chart id while rebuilding data
  packages/x-data-grid-premium/src/hooks/features/chartsIntegration/useGridChartsIntegration.tsx
Labels: type: bug, scope: data grid, plan: Premium

#19696 [charts] Add arc focus indicator that follows the arc form
  docs/pages/x/api/charts/pie-arc.json
  docs/translations/api-docs/charts/pie-arc/pie-arc.json
  packages/x-charts/src/PieChart/PieArc.tsx
  packages/x-charts/src/PieChart/PieArcPlot.tsx
  packages/x-charts/src/PieChart/PieChart.test.tsx
Labels: type: enhancement, scope: charts

#19752 [charts] Fix outline color
  packages/x-charts/src/ChartsSurface/ChartsSurface.tsx
Labels: type: enhancement, scope: charts

#19543 [tree view] Export the `apiRef` type of each Tree View component
  packages/x-tree-view-pro/src/RichTreeViewPro/RichTreeViewPro.types.ts
  packages/x-tree-view-pro/src/RichTreeViewPro/index.ts
  packages/x-tree-view/src/RichTreeView/RichTreeView.types.ts
  packages/x-tree-view/src/RichTreeView/index.ts
  packages/x-tree-view/src/SimpleTreeView/SimpleTreeView.types.ts
  packages/x-tree-view/src/SimpleTreeView/index.ts
  scripts/x-tree-view-pro.exports.json
  scripts/x-tree-view.exports.json
Labels: type: enhancement, scope: tree view

#16476 [DataGrid] Add scroll shadows and fix scrollbar overlap
  docs/data/data-grid/column-pinning/ColumnPinningSectionSeparator.js
  docs/data/data-grid/column-pinning/ColumnPinningSectionSeparator.tsx
  docs/data/data-grid/column-pinning/column-pinning.md
  docs/data/data-grid/row-pinning/RowPinningSectionSeparator.js
  docs/data/data-grid/row-pinning/RowPinningSectionSeparator.tsx
  docs/data/data-grid/row-pinning/row-pinning.md
  docs/pages/x/api/data-grid/data-grid-premium.json
  docs/pages/x/api/data-grid/data-grid-pro.json
  docs/translations/api-docs/data-grid/data-grid-premium/data-grid-premium.json
  docs/translations/api-docs/data-grid/data-grid-pro/data-grid-pro.json
  packages/x-data-grid-premium/src/DataGridPremium/DataGridPremium.tsx
  packages/x-data-grid-pro/src/DataGridPro/DataGridPro.tsx
  packages/x-data-grid-pro/src/DataGridPro/useDataGridProProps.ts
  packages/x-data-grid-pro/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/components/GridLoadingOverlay.tsx
  packages/x-data-grid/src/components/GridRow.tsx
  packages/x-data-grid/src/components/GridScrollShadows.tsx
  packages/x-data-grid/src/components/GridScrollbarFillerCell.tsx
  packages/x-data-grid/src/components/GridSkeletonLoadingOverlay.tsx
  packages/x-data-grid/src/components/base/GridOverlays.tsx
  packages/x-data-grid/src/components/columnHeaders/GridColumnHeaderItem.tsx
  packages/x-data-grid/src/components/containers/GridRootStyles.ts
  packages/x-data-grid/src/components/virtualization/GridMainContainer.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollbar.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScroller.tsx
  packages/x-data-grid/src/components/virtualization/GridVirtualScrollerFiller.tsx
  packages/x-data-grid/src/constants/gridClasses.ts
  packages/x-data-grid/src/hooks/core/useGridVirtualizer.tsx
  packages/x-data-grid/src/hooks/features/columnHeaders/useGridColumnHeaders.tsx
  packages/x-data-grid/src/hooks/features/columnResize/useGridColumnResize.tsx
  packages/x-data-grid/src/hooks/features/index.ts
  packages/x-data-grid/src/hooks/features/overlays/gridOverlaysInterfaces.tsx
  packages/x-data-grid/src/hooks/features/overlays/index.ts
  packages/x-data-grid/src/hooks/features/overlays/useGridOverlays.tsx
  packages/x-data-grid/src/material/variables.ts
  packages/x-data-grid/src/models/props/DataGridProps.ts
  packages/x-data-grid/src/utils/cellBorderUtils.ts
  packages/x-virtualizer/src/features/dimensions.ts
  packages/x-virtualizer/src/features/virtualization.ts
  packages/x-virtualizer/src/useVirtualizer.ts
Labels: scope: data grid, type: enhancement, design

#19733 [DataGrid] Fix row spanning stale state issue
  packages/x-data-grid/src/hooks/features/rows/useGridRowSpanning.ts
  packages/x-data-grid/src/tests/rowSpanning.DataGrid.test.tsx
Labels: type: bug, scope: data grid, feature: Row spanning

#19728 [DataGrid] Skip calling `fetchRows()` when strategy is not initialized
  packages/x-data-grid/src/hooks/features/dataSource/useGridDataSourceBase.ts
Labels: type: bug, scope: data grid, plan: Pro, feature: Server integration
